.new_question
  = simple_form_for(@question, html: {id: 'question_form'}) do |f|
    %span.form_requirement= t(:required_fields)
    %h1#lightBoxDialogTitle= t((f.object.persisted? ? :edit_question : :new_question), scope: [:questions, :list])

    .question_form.block_content
      = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

      .form-inputs.block_content
        .question_module
          = f.label t('editions.items.test')
          - if f.object.persisted?
            = f.collection_select(:exam_id, @exams, :id, :name)
          - else
            = f.input :exam_id, as: :hidden
            = f.hint f.object.exam.name

        = f.input :name, required: true

        .lesson_type
          = f.select :type, ([ [t('questions.new.unique_choice'), Question_Type_Unique_Choice], [t('questions.new.multiple_choice'), Question_Type_Multiple_Choice], [t('questions.new.true_or_false'), Question_Type_True_Or_False]]), include_blank: false

        -#pontuação
        -#label
        = f.input :enunciation, required: true
        -#respostas

        .form-actions.right_buttons
          = button_to_function t(:cancel), 'jQuery.fancybox.close()', class: 'btn btn_default btn_lightbox', type: 'button'
          = button_to_function t(:save), 'save_question()', class: 'btn btn_main btn_lightbox', alt: t(:save), type: 'button'

:javascript

  $(function() {
    // evento de keypress do fancybox nao funciona pra esse form
    $("form#question_form .form-inputs").keypress(function(e) { if (e.which == 13) e.preventDefault(); });
  });

  function save_question() {
    $('form#question_form').serialize_and_submit({
      //replace_list: $('.list_exams:last')
    });
  }