%h1#lightBoxDialogTitle= t('.title')

.exam_open
  .content_exam
    .block_content
      %table.questions
        %thead
          %tr.question
            %td.enunciation
              =raw @question.enunciation
              - question_images = get_question_images(@question.id)
              - @question_audios = get_question_audios(@question.id)
              - unless question_images.nil?
                %tr.question_images
                  - question_images.each do |q_image|
                    %td.image{class: q_image.legend.blank? ? '' : 'legend'}
                      .image
                        = image_tag q_image.image(get_image_size(question_images.count)), id: 'question_image', alt: q_image.img_alt
                      - unless q_image.legend.blank?
                        .legend
                          = q_image.legend
                        %br
              - unless @question_audios.nil?
                %tr.question_audios
                  - @question_audios.each do |q_audio|
                    - class_ = nil    
                    - if !q_audio.description.blank? && !q_audio.audio_description.blank?
                      - class_ = 1
                    %td.audio.legend
                      .audio
                        = audio_tag(q_audio.audio, autoplay: false, controls: true, name: 'audioQuestion')
                        = link_to_function content_tag(:i, nil, class: 'icon-backward2', :"data-tooltip" => t('questions.questions.up_down')), 'down_speed()'
                        = link_to_function content_tag(:i, nil, class: 'icon-forward3', :"data-tooltip" => t('questions.questions.up_speed')), 'up_speed()'
                      .legend{class: class_.blank? ? '' : 'legend-description'}
                        - unless q_audio.description.blank?
                          %p= q_audio.description
                        - unless q_audio.audio_description.blank?
                          =link_to_function t('questions.questions.show'), "show_audio_description(this)", id: 'show'
                          =link_to_function t('questions.questions.hide'), "hide_audio_description(this)", id: 'hide'
                          %p
                            #text
                              = q_audio.audio_description       
                      %br          
        = render 'exams/open/question_preview', { question: @question}
= javascript_include_tag 'tooltip'        

:javascript
  
  function hide_audio_description(element){
    $(element).hide();
    $($(element).prev()).show();
    $($(element).parent().find('#text')).slideUp();
  } 
  function show_audio_description(element){
    $(element).hide();
    $($(element).next()).show();
    $($(element).parent().find('#text')).slideDown();
  }         
