.block_wrapper
  .block_title
    %h2
      %i.icon-comment
      = t('.title')
    - if can? :create, AssignmentComment, on: [@allocation_tag_id]
      %span.right_buttons
        = button_tag content_tag(:i, nil, class: 'icon-plus'), class: "btn btn_main #{@in_time ? '' : 'disabled'}", id: 'new_comment', disabled: !@in_time, :"data-tooltip" => t('.new')
  .assignment_comment_wrapper
    .comment_form
    .comments_list
      - unless comments.nil? or comments.empty?
        - comments, academic_allocation_user_id = comments, comments.first.academic_allocation_user_id
        - comments.each do |comment|
          = render partial: 'assignment_comments/comment', locals: { comment: comment }
      - else
        .text_none#no_itens_message_comment
          = t(:itens_not_found)

= javascript_include_tag 'assignment_comments'

:javascript
  $(function(){
    $("#new_comment").not(".disabled").click(function(){
      $(this).hide();
      $(".new_comment_btns").removeClass("invisible");
      $.get("#{new_assignment_comment_path(assignment_id: @assignment.id, student_id: @student_id, group_id: @group_id)}", function(data){
        $(".comment_form").html(data);
        $("#no_itens_message_comment").hide();
      });
    });

  });

