= simple_form_for @semester, html: {id: "semester_form"} do |f|
  %h1#lightBoxDialogTitle= t((f.object.persisted? ? :edit : :new), scope: "semesters.list")
  %span.form_requirement= t(:required_fields)

  .form-inputs.block_content
    = f.input :type_id, as: :hidden, input_html: {value: @type_id}

    %div{style: "margin-top: 5px"}= f.input :name

    / offer period

    %div
      = f.label :offer, required: true
      = f.simple_fields_for :offer_schedule, defaults: {label: false, as: :string, input_html: {size: 10}} do |s|
        .offer_schedule_dates= s.input :start_date, input_html: {id: 'offer_start_date', value: (l(s.object.start_date, format: :datepicker) if s.object.start_date)}
        .offer_schedule_dates.label= t('schedules.to')
        .offer_schedule_dates= s.input :end_date, input_html: {id: 'offer_end_date', value: (l(s.object.end_date, format: :datepicker) if s.object.end_date)}
        .offer_schedule_dates.error= f.object.offer_schedule.errors[:start_date].first || f.object.offer_schedule.errors[:end_date].first unless f.object.offer_schedule.errors.full_messages.empty?

    / enrollment period

    %div
      - dont_have_enroll_end_date = f.object.enrollment_schedule.try(:end_date).nil?
      = f.label :enrollment, required: true
      = f.simple_fields_for :enrollment_schedule, defaults: {label: false, as: :string, input_html: {size: 10}} do |s|
        .enrollment_schedule_dates= s.input :start_date, input_html: {id: 'enrollment_start_date', value: (l(s.object.start_date, format: :datepicker) if s.object.start_date)}
        %span#enrollment_schedule_end_date{class: (dont_have_enroll_end_date ? 'invisible' : '')}
          .enrollment_schedule_dates.label= t('schedules.to')
          .enrollment_schedule_dates= s.input :end_date, input_html: {id: 'enrollment_end_date', value: (l(s.object.end_date, format: :datepicker) if s.object.end_date)}

        .enrollment_schedule_dates.error= f.object.enrollment_schedule.errors[:start_date].first || f.object.enrollment_schedule.errors[:end_date].first unless f.object.enrollment_schedule.errors.full_messages.empty?

      .end_date_check_box.period_date
        = check_box_tag :have_end_date, true, not(dont_have_enroll_end_date)
        %span.checkbox_label= label_tag :have_end_date, t('.enable_end_date')

    .form-actions.right_buttons
      = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"
      = button_tag t(:save), class: "btn btn_main btn_lightbox", type: "button", alt: t(:save), id: "save"

:javascript

  $(function(){
    $("#offer_start_date, #offer_end_date, #enrollment_start_date, #enrollment_end_date").mask("#{I18n.t('date.formats.mask')}");

    // datepicker
    var options = $.extend({}, $.datepicker.regional['#{I18n.locale}']);

    $('#offer_start_date').datepicker(options);
    $('#offer_end_date').datepicker(options);
    $('#enrollment_start_date').datepicker(options);
    $('#enrollment_end_date').datepicker(options);
  });

  $('#save').click(function(){
    $('form#semester_form').serialize_and_submit({
      complement_error: function(data){
        $.fancybox.close();
      },
      complement_success: function(data) {

        var semester_end = data.semester.end, semester_start = data.semester.start;
        var url = "#{semesters_path(period: 'period_param', curriculum_unit_id: 'curriculum_unit_param', course_id: 'course_param', type_id: @type_id)}".replace('period_param', $("#period").combobox('value')).replace('curriculum_unit_param', $("#curriculum_unit").combobox('value')).replace('course_param', $("#course").combobox('value')).replace(/null/g, "");

        $.get(url, function(data) {
          $('.semesters_list').html(data);
            // cria nova uc na lista
            if (!$('option[value='+semester_start+']').length)
              $("<option value="+semester_start+">"+semester_start+"</option>").appendTo("#period");

            // cria nova uc na lista
            if (!$('option[value='+semester_end+']').length)
              $("<option value="+semester_end+">"+semester_end+"</option>").appendTo("#period");
        });
      }
    });
  });

  $('input#have_end_date').click(function(){
    if ($("input#have_end_date:checked").length) {
      $('#enrollment_schedule_end_date').show();
    } else {
      $('#enrollment_schedule_end_date').hide();
      $('#enrollment_end_date').datepicker('setDate', '');
    }
  });
