= simple_form_for @semester do |f|
  .form-inputs
    - start_year = Date.today.year - 1
    = f.input :name

    = f.label :offer
    = f.simple_fields_for :offer_schedule do |s|
      .offer_schedule_dates
        .left= s.input :start_date, as: :date, start_year: start_year
        .right= s.input :end_date, as: :date, start_year: start_year

    = f.label :enrollment
    = f.simple_fields_for :enrollment_schedule do |s|
      .enrollment_schedule_dates
        .left= s.input :start_date, as: :date, start_year: start_year
        .right= s.input :end_date, as: :date, start_year: start_year

  .form-actions
    = f.submit 'Save'
