= button_tag t(".new"), class: 'btn btn_default', :"data-tooltip" => t(".new"), id: "new_semester", :"data-link-new-semester" => new_semester_path, disabled: not(can? :create, Semester)

- type_id = (@type_id || @type.try(:id))
.block_wrapper
  - unless @semesters.empty?
    - @semesters.each do |semester|
      .semester{id: "semester-#{semester.id}"}
        .block_title
          %h2
            = semester.name
            = link_to (content_tag(:i, nil, :class=>'icon-edit')), "#", class: 'block_title_button', :"data-link-edit" => edit_semester_path(semester), :'data-tooltip' => t(".edit"), id: "edit_semester_#{semester.id}"
            = link_to (content_tag(:i, nil, :class=>'icon-trash')), "#", class: 'del_semester', :"data-link-delete" => semester_path(semester), :'data-tooltip' => t(".delete"), id: "semester-del-#{semester.id}"
          #semester_period
            - period = [l(semester.offer_schedule.start_date, format: :normal), l(semester.offer_schedule.end_date, format: :normal)].join(' - ')
            = [t(".period"), ": #{period}"].join
        .block_content_toolbar
          .block_toolbar_left.btn-group
            %a.btn.btn_main.new_offer{:'data-tooltip' => t(".new_offer"), :"data-link-new-offer" => new_semester_offer_path(semester, type_id: type_id, course_id: (params[:course_id] || ""), curriculum_unit_id: (params[:curriculum_unit_id] || "")), :"data-semester-name" => semester.name}
              = content_tag(:i, nil, class: 'icon-plus-3')
          .block_toolbar_right
            = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'delete_offer btn', :'data-tooltip' => t(".delete"), :"data-link-delete" => offer_path(id: ':id')

        .table-offers{id: "table-#{semester.id}", :"data-link-offers" => semester_offers_path(semester, type_id: type_id)}
          = render partial: "offers/list", object: @offers = semester.offers, object: @type_id = type_id
  - else
    = "Nenhum semestre"

:javascript
  $(function(){
    $('.del_semester').click(function(){
      $(this).nice_delete({parent: 'div.semester'});
    });

    $('[id^="edit_semester_"]').click(function(){
      showLightBoxURL($(this).data('link-edit'), 500, 400, true, $(this).data('tooltip'));
    });

    $("#new_semester").click(function(){
      showLightBoxURL($(this).data('link-new-semester'), 500, 400, true, $(this).data('tooltip'));
    });

    $('.new_offer').click(function(){
      showLightBoxURL($(this).data("link-new-offer"), 500, 400, true, [$(this).data("tooltip"), $(this).data("semester-name")].join(" - "));
    });

    $('.delete_offer').click(function() {
      if ($(this).attr('disabled') == 'disabled' || !confirm("#{t(:message_confirm)}"))
        return false;

      // tentar melhorar o nice_delete para incluir a delecao de muitas linhas

      var offers = $('.ckb_offers:checked', $(this).parents(".semester"));
      var offers_ids = offers.map(function() { return this.value; }).get();

      if (offers_ids.length) {
        $.delete($(this).data('link-delete').replace(':id', offers_ids), function(data){
          flash_message(data.notice, 'notice');
          offers.parents('tr').fadeOut().remove();
        }).error(function(data){
          var data = $.parseJSON(data.responseText);
          if (typeof(data.alert) != "undefined")
            flash_message(data.alert, 'alert');
        });
      }

      return false;
    });
  });
