- semester = @semester
.semester{id: "semester-#{semester.id}"}
  .block_title
    %h2
      = semester.name
      = link_to (content_tag(:i, nil, :class=>'icon-edit')), "#", class: 'block_title_button', value: edit_semester_path(semester), :'data-tooltip' => t(".edit"), id: "edit_semester_#{semester.id}"
      = link_to (content_tag(:i, nil, :class=>'icon-trash')), "#", class: 'del_semester', :"data-link-delete" => semester_path(semester), :'data-tooltip' => t(".delete"), id: "semester-del-#{semester.id}"
    #semester_period
      - period = [l(semester.offer_schedule.start_date, format: :normal), l(semester.offer_schedule.end_date, format: :normal)].join(' - ')
      = [t(".period"), ": #{period}"].join
  .block_content_toolbar
    .block_toolbar_left.btn-group
      %a.btn.btn_main.new_offer{:'data-tooltip' => t(".new_offer"), :"data-link-new-offer" => new_semester_offer_path(semester, course_id: params[:course_id], curriculum_unit_id: params[:curriculum_unit_id]), :"data-semester-name" => semester.name}
        = content_tag(:i, nil, class: 'icon-plus')

  .table-offers{id: "table-#{semester.id}", :"data-link-offers" => semester_offers_path(semester)}
    = render partial: "offers/list", object: @offers = semester.offers