.block_content
  - @exam_questions.each do |question|
    - @exam_responses = last_attempt(@last_attempt, question.id)
    - @unique_id = ExamResponse.is_unique?(@exam_responses) ? ExamResponse.get_question_item_id(@exam_responses) : false
    %table.questions
      %thead
        %tr.question
          %td.number
          %td.enunciation
            = question.enunciation
        - question_images = get_question_images(question.id)
        - unless question_images.nil?
          %tr.question_images
            - question_images.each do |q_image|
              %td.image
                = image_tag q_image.image(get_image_size(question_images.count)), id: 'question_image'
      = render 'exams/open/question', { question: question, preview: preview }

.message_div_navigation
  = will_paginate @exam_questions

:javascript

  var time = parseInt(#{@total_time});
  var time_h = Math.floor(time / 60);
  time_min = time % 60;

  jQuery(function($) { new updateTime("clock", [time_h, time_min, "00"]); });