.block_content
  - number_question = 0
  - @exam_questions.each do |question|   
    - @exam_responses = find_exam_responses(@last_attempt, question.id)
    - @unique_id = ExamResponse.is_unique?(@exam_responses) ? ExamResponse.get_question_item_id(@exam_responses) : false
    - number_question = number_question+1
    - anull = ""
    - if @disabled
      - if question.annulled
        - anull = t('exams.open.anull')
    %table.questions
      %thead
        %tr.question
          %td.number
            = number_question.to_s + ')'
          %td.enunciation
            = question.enunciation + ' ' + anull
        - question_images = get_question_images(question.id)
        - unless question_images.nil?
          %tr.question_images
            - question_images.each do |q_image|
              %td.image
                = image_tag q_image.image(get_image_size(question_images.count)), id: 'question_image'
      = render 'exams/open/question', { question: question, preview: preview }

.message_div_navigation
- if @pdf != 1
  = will_paginate @exam_questions

:javascript

  var time = parseInt(#{@total_time});
  var time_h = Math.floor(time / 60);
  var time_min = time % 60;
  var clock_switch;

  jQuery(function($) {
    if (typeof clock_switch == 'undefined') {
      new updateTime("clock", [time_h, time_min, "00"]);
      clock_switch = true;
      }
  });