#exam_topbar
  #title
    %h2= @exam.name
    - if @disabled
      - unless @exam_user_attempt.complete
        = '('+t('exams.result_exam_user.incomplete')+')'
      = link_to content_tag(:i, nil, class: 'icon-printer', :'aria-hidden' => 'true'), open_exam_path(@exam, allocation_tag_id: @allocation_tag_id, situation: @situation, pdf: 1, format: "pdf", exam_user_attempt_id: @exam_user_attempt.id), target: "_blank", class: 'ico-e', :'data-tooltip' => t('exams.print'), :'aria-label' => t('exams.print')
  %h3#exam_status
    #question_count{:'data-shortcut'=> t("shortcut.exam.code.questions"), :'data-shortcut-name'=> t("shortcut.exam.name.questions"), :'data-shortcut-focus' => 'true'}
      %i.icon-list
      %span#order{name: "order"}
      #total
        = t('exams.open.to') + @exam.number_questions.to_s + t('exams.open.questions')

    - unless @disabled || @preview
      .time{:'data-shortcut'=> t("shortcut.exam.code.time"), :'data-shortcut-name'=> t("shortcut.exam.name.time"), :'data-shortcut-focus' => 'true'}
        %i.icon-clock{:'aria-hidden' => 'true'}
        %span#clock{name: "clock"}
        .time_final
          = t('exams.open.to') + Time.at(@exam.duration*60).utc.strftime("%H:%M:%S")
- if @preview
  .form_requirement.blue_warning= t('questions.warning.questions')
- elsif @disabled
  .form_requirement.blue_warning{:'aria-hidden' => 'true'}= t('questions.warning.corrected')
- else
  .form_requirement.blue_warning= t('questions.warning.save_automatically')
