%tbody
  %td.question_items.preview
    - arr_alf = ('A'..'Z').to_a
    - question_items = question.question_items
    - num_question = -1

    - if question.type_question.to_i == Question::UNIQUE
      - question_items.each do |qi|
        - num_question =  num_question + 1
        
        .item
          = radio_button_tag 'item', :value, nil, disabled: true
          = label_tag 'item', class: '' do
            %span= arr_alf[num_question]+') '
            - if qi.item_image?     
              = image_tag(qi.item_image(:medium), id: 'item_image', alt: qi.img_alt) rescue ''
            %span= qi.description.html_safe

    - elsif question.type_question.to_i == Question::MULTIPLE
      - question_items.each do |qi|
        - num_question =  num_question + 1

        .item
          = check_box_tag "item#{qi.id}", true, false, {disabled: true}
          = label_tag "item#{qi.id}", class: '' do
            %span= arr_alf[num_question]+') '
            - if qi.item_image?     
              = image_tag(qi.item_image(:medium), id: 'item_image', alt: qi.img_alt) rescue ''
            %span= qi.description.html_safe

    - else
      - question_items.each do |qi|
        - num_question =  num_question + 1

        .item
          = select_tag "item#{qi.id}", options_for_select(['', 'F', 'V']) , {disabled: true}
          = label_tag "item#{qi.id}", class: '' do
            %span= arr_alf[num_question]+') '
            - if qi.item_image?     
              = image_tag(qi.item_image(:medium), id: 'item_image', alt: qi.img_alt) rescue ''
            %span= qi.description.html_safe
