%tbody
  %td.question_items
    = form_for(@exam_responses, html: { :method => :put, id: 'responses_form'}, :url => exam_response_path(@exam_responses), :remote => true) do |er|
      = er.hidden_field :exam_user_attempt_id, value: @last_attempt.id
      = er.hidden_field :question_id, value: question.id
      - question_items = get_items(question.id)
      - if question.type_question.to_i == Question::UNIQUE
        = er.collection_radio_buttons :question_item_ids, question_items, :id, :description, {item_wrapper_tag: 'div', item_wrapper_class: 'item_checkbox', disabled: preview}, {name: 'exam_response[question_item_ids][]', :onclick => "save_question('#{@exam_responses.duration}');"} do |b|
          - if b.object.item_image?
            - b.label { b.radio_button + image_tag(b.object.item_image(:medium), id: 'item_image') + b.text }
          - else
            - b.label {b.radio_button + b.text}
      - elsif question.type_question.to_i == Question::MULTIPLE
        = er.collection_check_boxes :question_item_ids, question_items, :id, :description, {item_wrapper_tag: 'div', item_wrapper_class: 'item_checkbox', disabled: preview}, :onclick => "save_question('#{@exam_responses.duration}');" do |b|
          - if b.object.item_image?
            - b.label { b.check_box + image_tag(b.object.item_image(:medium), id: 'item_image') + b.text }
          - else
            - b.label {b.check_box + b.text}
      - else
        = er.collection_check_boxes :question_item_ids, question_items, :id, :description, {item_wrapper_tag: 'div', item_wrapper_class: 'item_checkbox', disabled: preview} do |b|
          - if b.object.item_image?
            - b.label { b.check_box(:hidden => true) + (link_to_function (image_tag "#{b.check_box.start_with?("<input checked") ? 'released' : 'rejected'}.png"), 'change(this)') + image_tag(b.object.item_image(:medium), id: 'item_image') + b.text }
          - else
            - b.label {b.check_box(:hidden => true) + (link_to_function (image_tag "#{b.check_box.start_with?("<input checked") ? 'released' : 'rejected'}.png"), 'change(this)') + b.text}
      = er.hidden_field :duration, {:id => "duration"}

:javascript

  function change(img){

    var checkbox = $(img).siblings();
    checkbox.prop('checked', !checkbox.prop('checked'));

    if(!!checkbox.prop('checked')){
      $(img).html('<img alt="Released" src="/assets/released.png"/>');
      $(img).attr('data-tooltip', $(img).data('active'));
    }else{
      $(img).html('<img alt="Rejected" src="/assets/rejected.png"/>');
      $(img).attr('data-tooltip', $(img).data('not-active'));
    }

    save_question('#{@exam_responses.duration}');

    $.getScript("/assets/tooltip.js");
  }