%tbody
  %td.question_items
    = form_for(@exam_responses, html: { :method => :put, id: 'responses_form'}, :url => exam_response_path(@exam_responses), :remote => true) do |er|
      = er.hidden_field :exam_user_attempt_id, value: @last_attempt.id
      = er.hidden_field :question_id, value: question.id
      - arr_alf = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
      - arra_correted = Array.new 
      - class_comment = 'comment-blue' #default
      - question_items = get_items(question.id)
      - if question.type_question.to_i == Question::UNIQUE
        - num_question = -1
        = er.collection_radio_buttons :question_item_ids, question_items, :id, :description, {item_wrapper_tag: 'div', item_wrapper_class: 'item_checkbox', checked: @unique_id}, {name: 'exam_response[question_item_ids][]', :onclick => "save_question('#{@exam_responses.duration}');", disabled: @disabled} do |b|
          - num_question =  num_question + 1
          - class_label = nil
          - image = nil
          
          - if @disabled
            - if b.object.value == true 
              - arra_correted.push(arr_alf[num_question])
            - if (b.object.value == true && @unique_id==b.object.id)
              - class_label = "hit" 
              - class_comment = 'comment-green'
            - elsif(b.object.value == false && @unique_id==b.object.id) || (b.object.value == true && @unique_id!=b.object.id)
              - class_label = "incorrect" 
              - class_comment = 'comment-red'
            - if b.object.comment
              - coment = "<div class='#{class_comment}'> #{b.object.comment} </div>"  
              
          - if b.object.item_image?  
            - image = @pdf !=1 ? image_tag(b.object.item_image(:medium), id: 'item_image') : image = wicked_pdf_image_tag(b.object.item_image(:medium), id: 'item_image') 
           
          - b.label(class: class_label) {b.radio_button + arr_alf[num_question]+') ' +image + b.text } + raw(coment)
         
        - if @disabled
          %br
          = t('exams.result_exam_user.itens_corrected') + arra_correted.join(", ")
          
      - elsif question.type_question.to_i == Question::MULTIPLE
        - num_question = -1
        = er.collection_check_boxes :question_item_ids, question_items, :id, :description, {item_wrapper_tag: 'div', item_wrapper_class: 'item_checkbox', disabled: preview}, :onclick => "save_question('#{@exam_responses.duration}');", disabled: @disabled  do |b|
          - class_label = nil
          - image = nil
          - num_question =  num_question + 1
          - if @disabled
            - coment = b.object.comment  
            - if (b.object.value == true)
              - arra_correted.push(arr_alf[num_question])
            - if ((b.object.value == true && @exam_responses.question_item_ids.include?(b.object.id)==true) || (b.object.value == false && @exam_responses.question_item_ids.include?(b.object.id)==false))
              - class_label = "hit" 
              - class_comment = 'comment-green'
            - else
              - class_label = "incorrect" 
              - class_comment = 'comment-red'
            - if b.object.comment
              - coment = "<div class='#{class_comment}'> #{b.object.comment} </div>"

          - if b.object.item_image?     
            - image =  @pdf !=1 ? image_tag(b.object.item_image(:medium), id: 'item_image') : image = wicked_pdf_image_tag(b.object.item_image(:medium), id: 'item_image')

          - b.label(class: class_label) { b.check_box + arr_alf[num_question]+') ' + image + b.text }+ raw(coment)
        - if @disabled
          %br
          = t('exams.result_exam_user.itens_corrected') + arra_correted.join(", ")
      - else
        - num_question = -1
        = er.collection_check_boxes :question_item_ids, question_items, :id, :description, {item_wrapper_tag: 'div', item_wrapper_class: 'item_checkbox', disabled: preview}, :onclick => "save_question('#{@exam_responses.duration}');", disabled: @disabled do |b|
          - class_label = nil
          - num_question =  num_question + 1
          - selected = @exam_responses.question_item_ids.include?(b.object.id)==true ? 'V' : 'F'
          - if b.object.item_image?
            - image = @pdf !=1 ? image_tag(b.object.item_image(:medium), id: 'item_image') : wicked_pdf_image_tag(b.object.item_image(:medium), id: 'item_image') 
   
          - if @disabled
            - coment = b.object.comment  
            - if (b.object.value == true)
              - arra_correted.push(arr_alf[num_question])
            - if ((b.object.value == true && @exam_responses.question_item_ids.include?(b.object.id)==true) || (b.object.value == false && @exam_responses.question_item_ids.include?(b.object.id)==false))
              - class_label = "hit" 
              - class_comment = 'comment-green'
            - else
              - class_label = "incorrect" 
              - class_comment = 'comment-red'
            - if b.object.comment
              - coment = "<div class='#{class_comment}'> #{b.object.comment} </div>"

            - it = select_tag :question_item_ids, options_for_select(['F', 'V'], selected), disabled: @disabled
            - b.label(class: class_label) { (it) + ' ' +arr_alf[num_question]+') '+ image + b.text }+ raw(coment)    
         
          -else
            - it = link_to_function (select_tag :question_item_ids, options_for_select(['F', 'V'], selected), disabled: @disabled), "change(this)"
            - b.label(class: class_label) { b.check_box(:hidden => true) + (it) + ' '+arr_alf[num_question]+') '+ image + b.text }+ raw(coment)
        - if @disabled
          %br
          = t('exams.result_exam_user.itens_corrected') + arra_correted.join(", ")

      = er.hidden_field :duration, {:id => "duration"}

:javascript

  function change(img, duration){

    var checkbox = $(img).siblings();
    checkbox.prop('checked', !checkbox.prop('checked'));

    save_question('#{@exam_responses.try(:duration)}');

    $.getScript("/assets/tooltip.js");
  }