.contacts-selection
  #content-div
    #lightBoxDialogTitle
      %h1= t(".title")
    %span.form_requirement= t(:required_fields)
    .flash_message_wrapper

    .block_content
      .help_link= link_to t('.help_message'), "#", onkeydown: 'click_on_keypress(event, this);'
      .contacts-type
        = label_tag :contacts_type, t('.contacts') + "*"
        = select_tag :contacts_type, options_for_select([[t('.system_contacts'),1],[t('.personal_contacts'),2]]), selected: 1

      .contacts-uc
        = render partial: "editions/content_filter", locals: { list_class: "list_users_contacts", url: find_users_messages_path, optionals: ['curriculum_unit', 'course', 'semester'], types: CurriculumUnitType.all, back: false, type_id: nil }

      %h3.selected= t('.to')
      .contacts-selected
        - [@reply_to].flatten.compact.each do |contact|
          .contact{ class: contact[:id].nil? ? 'help' : '' }= link_to_function contact[:resume], "$(this).parents('div.contact').remove()", "data-user-id" => contact[:id], "data-selected" => true, :'aria-label' => t('messages.users.user_remove_alt', name: contact[:name], email: contact[:email])

    .block_buttons
      .right
        = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: 'button', alt: t(:cancel)
        = button_to_function t(:save), "msg_add_contacts()", class: "btn btn_main btn_lightbox", alt: t(:save), type: 'button'

:javascript
  
  function add_contact(link, append, html, u_name, u_email){

    var msg_arial_label = "#{t('messages.users.user_remove_alt', name: 'u_name', email: 'u_email')}".replace(/u_name/g, u_name).replace('u_email', u_email);

    var user = "<div class='contact'><a aria-label='"+msg_arial_label+"' data-at='"+$(link).data('at')+"' data-user-id='"+$(link).data("user-id")+"' href='#' onclick='remove_contact(this, \""+u_name+"\", \""+u_email+"\"); return false;'>"+$(link).html()+"</a></div>";
    
  
    if (!!$('.contacts-selected .contact a[data-user-id="' + $(link).data("user-id") + '"]').length){
      var added_user_msg = $(link).siblings(".already_added");
      if(!added_user_msg.length){
        var already_added_msg = "<div class='already_added'>#{t('messages.already_added')}</div>";
        $(already_added_msg).appendTo($(link).parent()).delay(1000).fadeOut();
      }else{
        $(added_user_msg).first().show().delay(1000).fadeOut();
      }
      return false; // usuario já foi selecionado
    }else{
      $(link).parent().text("#{t('messages.sucess_added')}").click().delay(2000).fadeOut();
      $(link).parent().remove();
    }

    if (!append){ // se não for pra dar o append
      html.push(user);
    }else{
      $(".contacts-selected").prepend(user);
      add_all_message();
    }
  }

  function remove_contact(link, u_name, u_email){
    var msg_arial_label = "#{t('messages.users.user_alt', name: 'u_name', email: 'u_email')}".replace(/u_name/g, u_name).replace('u_email', u_email);
    var user = "<div class='contact'><a aria-label = '"+msg_arial_label+"' data-at='"+$(link).data('at')+"' data-user-id='"+$(link).data("user-id")+"' href='#' onclick='add_contact(this, true, null, \""+u_name+"\", \""+u_email+"\"); return false;'>"+$(link).html()+"</a></div>";

    if (!$('.contacts-list .contact a[data-user-id="' + $(link).data("user-id") + '"]').length)
      $(".contacts-list .users_at_"+$(link).data("at")).append(user);

    $(link).parent().text("#{t('messages.sucess_removed')}").click().delay(2000).fadeOut();  
    $(link).parent().remove();
    add_all_message();
  }

  function add_all_contacts(){
    var html = new Array();
    $(".contacts-list:visible .contact a").each(function(){
      add_contact(this, false, html);
    });

    $('.contacts-selected').append(html.join(""));

    add_all_message();
    focus_element('.block_content h3.selected');
  }

  function add_all_message(){
    var users_list = $(".contacts-list #users");
    if (!!users_list.children(".contact").size()){
      if (!users_list.children("#add_all").length)
        users_list.prepend('<a href="#" id="add_all" onclick="add_all_contacts(); return false;">#{t('.add_all')}</a>');
    }else{
      $("#add_all").remove();
    }
  }

  $(function(){

    $("legend").remove();
    $(".filter").unwrap();
    $($(".edition.block_content").find("p")[0]).remove();

    $(".help_link a").click(function(event){
      if (!$(".contact.help:visible").length){
        $('<div class="contact help"><a data-at="" data-selected="true" href="#" onclick="$(this).parent().remove(); return false;">#{I18n.t(".messages.support_html")}</a></div>').appendTo(".contacts-selected");
      }
    });

    // nova msg dentro de uma UC
    if ($('select#uc option:selected').val() != "")
      msg_show_contacts($('select#uc'));
  });

  function msg_show_contacts(obj) {
    $(".contacts-group").hide();
    $(".contacts-group#" + $(":selected", $(obj)).attr("value")).show();
  }

  function msg_add_contacts() {
    var contacts_to_show = [];
    var contacts = [];
    $(".contacts-selected a").each(function(){
      contacts.push($(this).data("user-id"));
      contacts_to_show.push($(this).text());
    });

    $("#message_to").val(contacts_to_show.join(", "));
    $("#message_contacts").val(contacts);

    $.fancybox.close();
  }
