.contacts-selection.invisible
  #content-div
    #lightBoxDialogTitle
      %h1= t(".title")
    %span.form_requirement= t(:required_fields)
    .flash_message_wrapper

    .block_content
      .help_link= link_to t(".help_message"), "#"
      .contacts-type
        = label_tag :contacts_type, t(".contacts") + "*"
        = select_tag :contacts_type, options_for_select([[t(".system_contacts"),1],[t(".personal_contacts"),2]]), selected: 1

      .contacts-uc
        = render partial: "editions/content_filter", locals: {list_class: "contacts-list", url: find_users_messages_path, optionals: ["curriculum_unit", "course", "semester"], types: CurriculumUnitType.all, back: false, type_id: nil}
        .user_contacts{class: @group.nil? ? "invisible" : ""}
          .contacts-list
            - unless @contacts.empty?
              = render partial: "users", object: @users = @contacts, object: @allocation_tags_ids = ""

      = t(".to")
      .contacts-selected
        - [@reply_to].flatten.compact.each do |contact|
          .contact{class: contact[:id].nil? ? "help" : ""}= link_to_function contact[:resume], "$(this).parents('div.contact').remove()", "data-user-id" => contact[:id], "data-selected" => true

    .block_buttons
      .right
        = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button", alt: t(:cancel)
        = button_to_function t(:save), "msg_add_contacts()", class: "btn btn_main btn_lightbox", alt: t(:save), type: "button"

- unless @group.nil?
  = hidden_field_tag :group_code,    @group.code
  = hidden_field_tag :semester_name, @group.offer.semester.name
  = hidden_field_tag :uc_name,       @group.offer.curriculum_unit.try(:name)
  = hidden_field_tag :course_name,   @group.offer.course.try(:name)
  = hidden_field_tag :uc_type,       @group.offer.curriculum_unit.try(:curriculum_unit_type).try(:description)

:javascript
  
  function add_contact(link, append, html){
    var user = "<div class='contact'><a data-at='"+$(link).data('at')+"' data-user-id='"+$(link).data("user-id")+"' href='#' onclick='remove_contact(this); return false;'>"+$(link).html()+"</a></div>";

    if (!!$('.contacts-selected .contact a[data-user-id="' + $(link).data("user-id") + '"]').length){
      var added_user_msg = $(link).siblings(".already_added");
      if(!added_user_msg.length){
        var already_added_msg = "<div class='already_added'>#{t('messages.already_added')}</div>";
        $(already_added_msg).appendTo($(link).parent()).delay(1000).fadeOut();
      }else
        $(added_user_msg).first().show().delay(1000).fadeOut();
      return false; // usuario já foi selecionado
    }else
      $(link).parent().remove();

    if (!append) // se não for pra dar o append
      html.push(user);
    else{
      $(".contacts-selected").prepend(user);
      add_all_message();
    }
  }

  function remove_contact(link){
    var user = "<div class='contact'><a data-at='"+$(link).data('at')+"' data-user-id='"+$(link).data("user-id")+"' href='#' onclick='add_contact(this, true); return false;'>"+$(link).html()+"</a></div>";

    if (!$('.contacts-list .contact a[data-user-id="' + $(link).data("user-id") + '"]').length)
      $(".contacts-list .users_at_"+$(link).data("at")).append(user);

    $(link).parent().remove();
    add_all_message();
  }

  function add_all_contacts(){
    var html = new Array();
    $(".contacts-list:visible .contact a").each(function(){
      add_contact(this, false, html);
    });

    $('.contacts-selected').append(html.join(""));

    add_all_message();
  }

  function add_all_message(){
    var users_list = $(".contacts-list #users");
    if (!!users_list.children(".contact").size()){
      if (!users_list.children("#add_all").length)
        users_list.prepend('<a href="#" id="add_all" onclick="add_all_contacts(); return false;">#{t('.add_all')}</a>');
    }else{
      $("#add_all").remove();
    }
  }

  $(function(){

    $("legend").remove();
    $(".filter").unwrap();
    $($(".edition.block_content").find("p")[0]).remove();
    $(".contacts-list").before("<div class='select'>#{t('.select')}</div>");
    var allocation_tag_id = "#{@allocation_tag_id}";

    $(".help_link a").click(function(){
      if (!$(".contact.help:visible").length){
        $('<div class="contact help"><a data-at="" data-selected="true" href="#" onclick="$(this).parent().remove(); return false;">#{I18n.t(".messages.support_html")}</a></div>').appendTo(".contacts-selected");
      }
    });

    // nova msg dentro de uma UC
    if ($('select#uc option:selected').val() != "")
      msg_show_contacts($('select#uc'));

    $( "select#contacts_type" ).combobox({
      change: function( event, ui ) {
        if(ui.item == null)
          $(this).combobox('value', 1);
      },
      select: function( event, ui ) {
        if(ui.item == null)
          $(this).combobox('value', 1);
        else{
          if(ui.item.value == 2){ // contatos pessoais
            $(".edition.block_content").hide();
            $(".user_contacts").removeClass("invisible");
          }else{
            if(ui.item.value == 1){ // contatos do sistema
              $(".edition.block_content").show();
              $(".user_contacts").addClass("invisible");
            }
          }
        }
      }
    });


    $("select#contacts_type").combobox('value', 1);

    // se estiver dentro de uma turma específica
    if (allocation_tag_id != ""){
      $(".edition.block_content .select").remove();
      $(".edition.block_content .contacts-list").remove();
      $("#search").remove();

      //desabilitar todos os combobox
      $("#curriculum_unit_type, #course, #curriculum_unit, #semester, #contacts_type").combobox( "option", { disabled: true } );
      $(".ui-combobox input").each(function(){ $(this).prop("disabled", true) });

      var group    = $("#group_code").val();
      var semester = $("#semester_name").val();
      var uc       = $("#uc_name").val();
      var course   = $("#course_name").val();
      var uc_type  = $("#uc_type").val();

      // colocar os valores nos selects
      $(".curriculum_unit_type #autocomplete-input").val(uc_type);
      $(".curriculum_unit #autocomplete-input").val(uc);
      $(".course #autocomplete-input").val(course);
      $(".semester #autocomplete-input").val(semester);
      $(".curriculum_unit_type #autocomplete-input").val(uc_type);

      $("#radio_option_group").prop("checked", true);
      $(".groups").append(group);
    }

  });

  function msg_show_contacts(obj) {
    $(".contacts-group").hide();
    $(".contacts-group#" + $(":selected", $(obj)).attr("value")).show();
  }

  function msg_add_contacts() {
    var contacts_to_show = [];
    var contacts = [];
    $(".contacts-selected a").each(function(){
      contacts.push($(this).data("user-id"));
      contacts_to_show.push($(this).text());
    });

    $("#message_to").val(contacts_to_show.join(", "));
    $("#message_contacts").val(contacts);

    $.fancybox.close();
  }
