.block_content
  - if @messages.any?
    %table.message_div_list
      - @messages.each do |message|
        - msg_path = message_path(id: message.id, box: @box)
        %tr.message_line{ class: (message == @messages.last) ? 'no_border' : '' }
          %td.message_line_check
            = check_box_tag 'checkbox_message', message.id, checked = false, { class: 'selected_messages', :"data-message-id" => message.id }
            - css_class = message.was_read != '0' ? 'message_read' : 'message_unread'
            = hidden_field_tag 'message_style', css_class
          %td.td_subject
            - message.labels(current_user.id, system_label = @show_system_label).each do |label|
              %span.message_label= label
            = link_to message.subject, msg_path, class: css_class

          %td.td_attachment= content_tag(:i, nil, class: 'icon-paperclip') if message.count_files != '0'
          - if 'outbox' == @box
            %td.td_recipient{ :'data-tooltip' => message.sent_to_names }= link_to message.sent_to_names.truncate(100), msg_path
          - else
            %td.td_sender= link_to message.sent_by_name, msg_path
          %td.td_time= link_to l(message.created_at, format: :short), msg_path
  - else
    .text_none= t(:none, scope: :messages)

.message_div_navigation
  = will_paginate @messages