     <div class="message_header_new">
      <table border="0" cellpadding="5" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td class="message_text_to" align="right" style="width:75px"><%= link_to t(:message_to), {},{} %></td>
            <td class="message_text_to"><%= text_field_tag  'to', '', :class=> "message_search_textbox" %></td>
          </tr>
          <tr>
            <td class="message_text_to" align="right" style="width:75px"><%=t(:message_subject)%></td>
            <td class="message_text_to"><%= text_field_tag  'subject', '', :class=> "message_search_textbox" %></td>
          </tr>
          <tr>
            <td class="message_text_to" align="right" style="width:75px">&nbsp;</td>
            <td class="message_text_to"><%= link_to t(:message_attach_file), {},{:class=>'message_link'} %></td>
          </tr>
        </tbody>
      </table>
    </div>