.block_content.message_new
  .message_header_new
    .message_new_text_to
      .label.align-left
        %a#link_to_contacts.link_content= t(:message_to)
      .input.align-right= text_field_tag  'to', @target, :class=> "message_new_textbox", :readonly => true
    .message_new_text_to
      .label.align-left= t(:message_subject)
      .input.align-right= text_field_tag  'subject', @subject, :class=> "message_new_textbox"
    .clearfix
    .message_new_upload

      #newPostUploadPanel
        .label.align-left
          = t(".attach")
        %button#link_upload.btn.btn_default{"data-tooltip" => t(:message_attach_file), onclick: "message_add_new_file(); return false;"}
          %i.icon-paperclip

        = form.file_field :files, name: 'files[]', id: 'fileupload'

      .files.list_files_to_send
        - [@files].compact.flatten.each do |file|
          .input.files.file_attached
            %input{name: "parent_files[]", value: file.id, type: "hidden"}
            = file.message_file_name
            %i.icon-cross.remove_file

#div_contacts{:style => "display:none"}
  - if !@curriculum_units_user.nil?
    %select#curriculum_unit_select{:style => "width:440px"}
      <option value="" #{" selected=true " unless !@curriculum_units_name.nil?} >#{t(:message_personal_contacts)}
      - @curriculum_units_user.each_with_index do |curriculum_unit, idx|
        <option value="#{curriculum_unit.id}" + ";" + "#{curriculum_unit.offers}" + ";" + "#{curriculum_unit.groups}" #{" selected=true " unless @curriculum_units_name!=curriculum_unit.name} >#{curriculum_unit.name}
  %br/
  %br/
  = label_tag "", t(:message_select)+': '
  %br/
  #div_contacts_list
    = raw @contacts
  %br/
  = label_tag "", t(:message_to)+': '
  %br/
  #recipients_selected= raw @target_html unless @target.empty?
  %span#older_recipients.invisible= raw @target_html unless @target.empty?
  .div_contacts_buttons
    %input#link_confirm_contacts.btn.btn_main{:type => "button", :value => t("message_complete")}/
    %input#link_cancel_contacts.btn.btn_default{:type => "button", :value => t("message_cancel")}/

:javascript

  jQuery(function($) {

    $("#link_to_contacts, #to").click(function(){
      $('#div_contacts').fadeIn().position({
        my: 'left top',
        at: 'right+45 top-5',
        of: '#link_to_contacts' });
    });

    $("#curriculum_unit_select").change(function() {
      var url_for = "#{url_for(:controller => :messages, :action => :ajax_get_contacts)}";
      $("#div_contacts_list").load(url_for, {data: this.value})
    })

    $("#link_cancel_contacts").click(function() {
      $("#div_contacts").fadeOut();
      //volta destinatarios
      $("#recipients_selected").html($("#older_recipients").html());
      $("#div_contacts_list > span").show();
    })

    $("#link_confirm_contacts").click(function() {
      $("#div_contacts").fadeOut();
      //older_recipients guarda os destinatarios atuais
      $("#older_recipients").html($("#recipients_selected").html());
      $("#to").val($("#recipients_selected").text());
    })

    $(".remove_file").click(function(){
      $(this).parents('div.input.files').remove();
    });

  });
