<%= form_for :message, :url => {:action => ''}, :html => {:id => 'message_list', :class => 'message_div_options'} do |f| %>
  &nbsp;
  <%= link_to t(:message_new)+' ', {:action => 'new', :search => @search_text}, {:class=>'message_link'} %>

  <% if (@type!="trashbox" && !@type.nil?) %>
    <ul class="message_menu_listbox">
      <li><a href="#"><%=t(:message_select)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_select)%></a>
        <ul>
          <li><span id="check_all" class="message_link"><%=t(:message_select_all)%></span></li>
          <li><span id="check_none" class="message_link"><%=t(:message_select_none)%></span></li>
          <li><span id="check_read" class="message_link"><%=t(:message_select_read)%></span></li>
          <li><span id="check_unread" class="message_link"><%=t(:message_select_unread)%></span></li>
        </ul>
      </li>
    </ul>
    <ul class="message_menu_listbox">
      <li><a href="#"><%=t(:message_move)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
        <ul>
          <li><span id="link_move_to_trash" class="message_link"><%=t(:message_trash)%></span></li>
        </ul>
      </li>
    </ul>
  <% end %>

  <% if @show_message == 'show' %>
    <% selected_id = @message.id %>
  <% else %>
    <% if @type == 'inbox' || @type == 'outbox' || @type == 'trashbox' %>
      <% selected_id = nil %>
    <% end %>
  <% end %>

  <% if @type != "trashbox" %>
    <span id="link_remove_message" class="message_link"><%=t(:message_delete)%></span>
  <% end %>

  <% if (@type!="trashbox" && !@type.nil?) %>
    <span id="link_mark_as_read" class="message_link"><%=t(:message_mark_as_read)%></span>
  <% end %>
  <% if @type!="trashbox" %>
    <span id="link_mark_as_unread" class="message_link"><%=t(:message_mark_as_unread)%></span>
  <% end %>

<% end %>

<script type="text/javascript">
  $(function($) {
     $("#link_move_to_trash").click(function() {
       $('#link_remove_message').click();
     })

     $("#link_remove_message").click(function() {
        var answer = confirm("<%=t(:message_confirm)%>");
        if (!answer)
          return;

        var value = "";
        var type = "<%=@type%>";
        var search = "<%=@search_text%>";
        var checked_messages = "<%=@message.nil?%>".toLowerCase();

        if (checked_messages=="true"){
          value = "";
          $("input:checked").each(function() {
            value = value + $(this).val() + "$";
          });
          if (value!=""){
            $("#message_list").attr("action", "/messages/destroy/?id="+value+"&type="+type+"&search="+search);
            $("#message_list").submit();
          }
        }
        else{
          value = "<%=@message.id unless @message.nil?%>";
          $("#message_list").attr("action", "/messages/destroy/?id="+value+"&type=index&search="+search);
          $("#message_list").submit();
        }
     })

     $("#link_mark_as_read").click(function() {
        change_reading_status("read");
     })

     $("#link_mark_as_unread").click(function() {
        change_reading_status("unread");
     })

     $("#check_all").click(function() {
        $(".selected_messages").each(function(i){
            $(this).attr("checked","checked");
        });
     });

     $("#check_none").click(function() {
        $(".selected_messages").each(function(i){
            $(this).removeAttr("checked");
        });
     });

     $("#check_read").click(function() {
        $(".selected_messages").each(function(i){
          style_message = $(this).next("#message_style").val();
          if (style_message == "message_read")
            $(this).attr("checked","checked");
          else
             $(this).removeAttr("checked");
        });
     });

     $("#check_unread").click(function() {
       $(".selected_messages").each(function(i){
          style_message = $(this).next("#message_style").val();
          if (style_message == "message_read")
            $(this).removeAttr("checked");
          else
            $(this).attr("checked","checked");
        });
     });

  });

  function change_reading_status(new_status){
      var value = "";
      var type = "<%=@type%>";
      var search = "<%=@search_text%>";
      var checked_messages = "<%=@message.nil?%>".toLowerCase();

      if (checked_messages=="true"){
        value = "";
        $("input:checked").each(function() {
          value = value + $(this).val() + "$";
        });
        if (value!=""){
          $("#message_list").attr("action", "/messages/change_indicator_reading/?id="+value+"&new_status="+new_status+"&type="+type+"&search="+search);
          $("#message_list").submit();
        }
      }
      else{
        value = "<%=@message.id unless @message.nil?%>";
        $("#message_list").attr("action", "/messages/change_indicator_reading/?id="+value+"&new_status="+new_status+"&type=index");
        $("#message_list").submit();
      }
  }
</script>