  <%= form_for :message, :url => '/messages/index', :html => {:id => 'message_form_search'} do |f| %>
    <div class="message_search_div">
      <%= label_tag 'lb_search', t(:message_search), :class => "enrollment_label" %>&nbsp;
      <%= text_field_tag  'search', @search_text, :class=> "message_search_textbox" %>
      <%= image_submit_tag("search.png", :class => 'enrollment_search_icon')%>
    </div>
  <% end %>
  
    <div class="message_div">

      <% css_class_inbox  = (@type == "index")    ? "message_general_div_option_active" : "message_general_div_option" %>
      <% css_class_outbox = (@type == "outbox")   ? "message_general_div_option_active" : "message_general_div_option" %>
      <% css_class_trash  = (@type == "trashbox") ? "message_general_div_option_active" : "message_general_div_option" %>

      <div class="<%=css_class_inbox%>" id="menu_inbox">
        <%= link_to (image_tag "message_inbox.png", :alt=>t(:message_inbox)),{:action => 'index', :type => 'index'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_inbox), {:action => 'index',:type => 'index'},{:class=>'message_link_menu'} %>
          <%= label_tag 'lb_number', "(#{@unread})", :class => "text_alert_message" unless @unread==0 %>
        </div>
      </div>
      <div class="<%=css_class_outbox%>" id="menu_outbox">
        <%= link_to (image_tag "message_outbox.png", :alt=>t(:message_outbox)),{:action => 'index', :type => 'outbox'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_outbox), {:action => 'index', :type => 'outbox'},{:class=>'message_link_menu'} %>
        </div>
      </div>
      <div class="<%=css_class_trash%>" id="menu_trash">
        <%= link_to (image_tag "message_trash.png", :alt=>t(:message_trash)),{:action => 'index', :type => 'trashbox'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_trash),  {:action => 'index', :type => 'trashbox'},{:class=>'message_link_menu'} %>
        </div>
      </div>
    </div>
