    <div class="message_div_options">&nbsp;
      <%= link_to t(:message_new)+' ', {:action => 'new'}, {:class=>'message_link'} unless @type.nil? %>

      <% if !@type.nil? %>
      <ul class="message_menu_listbox">
        <li><a href="#"><%=t(:message_select)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
          <ul>
            <li><%= link_to t(:message_select_all), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_none), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_read), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_unread), {}, {:class=>'message_link'}%></li>
          </ul>
        </li>
      </ul>
      <ul class="message_menu_listbox">
        <li><a href="#"><%=t(:message_move)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
          <ul>
            <li><%= link_to t(:message_trash), {}, {:class=>''}%></li>
          </ul>
        </li>
      </ul>
      <% end %>

      <% if @show_message == 'show' %>
        <% selected_id = @message.id %>
      <% else %>
        <% if @type == 'inbox' || @type == 'outbox' || @type == 'trashbox' %>
          <% selected_id = nil %>
        <% end %>
      <% end %>

      <%#= link_to t(:message_delete)+' ', {:action => 'destroy', :id => selected_id}, {:id => 'link_remove_message', :class=>'message_link'} %>
      <span id="link_remove_message" class="message_link"><%=t(:message_delete)%></span>
      
      <%= link_to t(:message_mark_as_read)+' ', {}, {:class=>'message_link'} unless @type=="trashbox" || @type.nil? %>
      <%= link_to t(:message_mark_as_unread)+' ', {}, {:class=>'message_link'} unless @type=="trashbox" %>
    </div>