    <div class="message_header_new">
      <table border="0" cellpadding="5" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td class="message_text_to" align="right" style="width:75px">
              <a class="curriculum_unit_portlet_link" href="javascript:show_div('link_to_contacts','div_contacts')" id="link_to_contacts"><%=t(:message_to)%></a>
            </td>
            <td class="message_text_to"><%= text_field_tag  'to', '', :class=> "message_search_textbox", :readonly => true, :onclick => "javascript:show_div('link_to_contacts','div_contacts')" %></td>
          </tr>
          <tr>
            <td class="message_text_to" align="right" style="width:75px"><%=t(:message_subject)%></td>
            <td class="message_text_to"><%= text_field_tag  'subject', '', :class=> "message_search_textbox" %></td>
          </tr>
          <tr>
            <td class="message_text_to" align="right" style="width:75px">&nbsp;</td>
            <td class="message_text_to"><%= link_to t(:message_attach_file), {},{:class=>'message_link'} %></td>
          </tr>
        </tbody>
      </table>
    </div>

<div style="display:none" id="div_contacts">
  <% if !@curriculum_units_user.nil? %>
    
    <select id="curriculum_unit_select" style="width:440px">
      <option value="" <%=" selected=true " unless !@curriculum_units_name.nil?%> ><%=t(:message_personal_contacts)%></option>
      <% @curriculum_units_user.each do |curriculum_unit| %>
        <% offer_id = curriculum_unit["offer_id"].nil? ? "" : curriculum_unit["offer_id"] %>
        <% group_id = curriculum_unit["group_id"].nil? ? "" : curriculum_unit["group_id"] %>
        <option value="<%=curriculum_unit["id"] << ';' << offer_id << ';' << group_id %>" <%=" selected=true " unless @curriculum_units_name!=curriculum_unit["name"]%> ><%=curriculum_unit["name"]%></option>
      <% end %>
    </select>
  <% end %>
  
  <br/><br/>
  <%= label_tag "", t(:message_select)+': ' %><br/>

  <div id="div_contacts_list">
    <%=raw @contacts%>
  </div>
  <br/>
  <%= label_tag "", t(:message_to)+': ' %><br/>
  <div id="recipients_selected"></div>
  <div class="div_contacts_buttons">
    <span id="link_confirm_contacts" border="0" class="link_button"><%=t(:message_complete)%></span>
    <span id="link_cancel_contacts" border="0" class="link_button"><%=t(:message_cancel)%></span>
  </div>
</div>

<script type="text/javascript">

  $(function($) {

     $("#curriculum_unit_select").change(function() {
       $("#div_contacts_list").load("/messages/ajax_get_contacts/",{data: this.value})
     })

     $("#link_cancel_contacts").click(function() {
       $("#div_contacts").hide();
     })

     $("#link_confirm_contacts").click(function() {
       $("#div_contacts").hide();
       $("#to").val($("#recipients_selected").text());
     })

  });

  function show_div(origin,elementId) {
        var posx =$('#'+origin).offset().left + 38;
        var posy =$('#'+origin).offset().top - 2;

        $('#'+ elementId).css({"left":posx});
        $('#'+ elementId).css({"top":posy});
        $('#'+ elementId).show();
  }

  function add_receiver(email){
    new_email = email + ", ";
    var new_recipient = "<span onclick='$(this).remove()' class='message_recipient_box' >"+new_email+"</span>";

    var atual_recipients = $("#recipients_selected").text();
    var found = atual_recipients.search(new_email);
    if (found == -1) {
      $("#recipients_selected").append(new_recipient);
    }
  }

</script>