<div>
  <%= image_tag "icon_message.png", :alt=>t(:icon_message) %>
    <span class="page_title"><%= t(:message_title) %></span>
    <hr style="border: none; background-color: #b4b3b7; height: 1px; width:640px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

    <div class="message_search_div">
      <%= label_tag 'lb_search', t(:message_search), :class => "enrollment_label" %>&nbsp;
      <%= text_field_tag  'search', @search_text, :class=> "message_search_textbox" %>
      <%= image_submit_tag("search.png", :class => 'enrollment_search_icon')%>
    </div>

    <div class="message_div">
      <div class="message_general_div_option_active" id="menu_inbox">
        <%= link_to (image_tag "message_inbox.png", :alt=>t(:message_inbox)),{:type => 'index'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_inbox), {:type => 'index'},{:class=>'message_link_menu'} %>
          <%= label_tag 'lb_number', '(3)', :class => "text_alert_message" %>
        </div>
      </div>
      <div class="message_general_div_option" id="menu_outbox">
        <%= link_to (image_tag "message_outbox.png", :alt=>t(:message_outbox)),{:type => 'outbox'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_outbox), {:type => 'outbox'},{:class=>'message_link_menu'} %>
        </div>
      </div>
      <div class="message_general_div_option" id="menu_trash">
        <%= link_to (image_tag "message_trash.png", :alt=>t(:message_trash)),{:type => 'trashbox'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_trash),  {:type => 'trashbox'},{:class=>'message_link_menu'} %>
        </div>
      </div>
    </div>
    
    <div class="message_div_options">
      <%= link_to t(:message_new), {}, {:class=>'message_link'} %>&nbsp;
      
      <ul class="message_menu_listbox">
        <li><a href="#"><%=t(:message_select)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
          <ul>
            <li><%= link_to t(:message_select_all), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_none), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_read), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_unread), {}, {:class=>'message_link'}%></li>
          </ul>
        </li>
      </ul>
      <ul class="message_menu_listbox">
        <li><a href="#"><%=t(:message_move)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
          <ul>
            <li><%= link_to t(:message_trash), {}, {:class=>''}%></li>
          </ul>
        </li>
      </ul>


      <%= link_to t(:message_delete), {}, {:class=>'message_link'} %>&nbsp;
      <%= link_to t(:message_mark_as_read), {}, {:class=>'message_link'} %>&nbsp;
      <%= link_to t(:message_mark_as_unread), {}, {:class=>'message_link'} %>&nbsp;
    </div>

    <div class="message_div_list">
      <% if @messages.length > 0 %>
        <table class="message_div_list">
          <% @messages.each do |message| %>
            <tr class="message_line">
              <td style="width:30px"><%=check_box :id, :id => 'checkbox_message'%></td>
              <% if message.ehlida == 't' %>
                  <% css_class = "message_read" %>
              <% else %>
                  <% css_class = "message_unread" %>
              <% end %>
              <td style="width:120px"><%= link_to message.name,  {},{:class => css_class} %></td>
              <td><%= link_to message.subject,  {},{:class => css_class} %></td>
              <td style="width:30px"><%=image_tag "message_file.png",:alt=>t(:message_attach)%></td>
              <td style="width:30px"><%= link_to l(message.send_date, :format => :short),  {},{:class => css_class} %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="text_none"><%=t(:text_none)%></div>
      <% end %>
    </div>
    
    <div class="message_div_navigation">
      <%= label_tag 'lb_nav1', '1-20', :class => "message_nav_text" %>
      <%= label_tag 'lb_nav1', t(:message_of), :class => "message_nav_text" %>
      <%= label_tag 'lb_nav2', '53', :class => "message_nav_text" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to t(:navigation_previous), {}, {:class=>'message_link_nav'} %>
      <%= link_to t(:navigation_next), {}, {:class=>'message_link_nav'} %>
    </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    dropdown_menu();
  });
</script>