.block_wrapper

  = render "message_header"

  .block_content.block_white.color_text_grey
    .align-left.padding-checkbox
      %input{:type => "checkbox", :id => "ckb_all"}
      Visualizar: Todos
      %i.icon-arrow-down-3
    .align-right
      = link_to ({:action => "new", :search => @search_text}), :class =>"message_link btn btn_main", "data-tooltip" => t(:message_new) do
        %i.icon-plus-3
      #mark_as_unread.btn{"data-tooltip" => t(:message_mark_as_unread), :"data-new-status" => "unread", :"data-link-udpate-status" => change_status_message_path(id: ":id", new_status: "unread")}
        %i.icon-checkmark
      #mark_as_read.btn{"data-tooltip" => t(:message_mark_as_read), :"data-new-status" => "read", :"data-link-udpate-status" => change_status_message_path(id: ":id", new_status: "read")}
        %i.icon-checkmark
      - if @type != "trashbox"
        #remove_message.btn{:"data-tooltip" => t(:message_delete), :"data-new-status" => "trash", :"data-link-udpate-status" => change_status_message_path(id: ":id", new_status: "trash")}
          %i.icon-trash
      - if @type == "trashbox"
        #restore_message.btn{:"data-tooltip" => t(:message_restore), :"data-new-status" => "restore", :"data-link-udpate-status" => change_status_message_path(id: ":id", new_status: "restore")}
          %i.icon-trash
    .clearfix

  .block_content

    - if !@messages.nil?
      - if @messages.length > 0 
        %table.message_div_list
          - @messages.each do |message|
            %tr.message_line

              %td.message_line_check
                = check_box_tag 'checkbox_message', message.id, checked = false, {:class => 'selected_messages', :"data-message-id" => message.id}
                - if message.was_read == 't' 
                  - css_class = "message_read" 
                - else 
                  - css_class = "message_unread" 
                = hidden_field_tag 'message_style',css_class

              %td.td_subject
                - if !@search_text.empty?
                  - if message.was_sent == 't' 
                    = image_tag("icon_message_sent_small.png", :alt => " ")
                  - else 
                    = image_tag("icon_message_inbox_small.png", :alt => " ")

                - if @message_tag.nil?
                  - if !message.label.nil?
                    %span.message_label=message.label

                = link_to message.subject,  {:action => 'show', :id => message.id, :search => @search_text},{:class => css_class}
              %td.td_attachment= content_tag(:i, nil, :class=>'icon-paperclip') unless (message.has_attachment=="0")
              %td.td_sender= link_to message.sender,  {:action => 'show', :id => message.id, :search => @search_text}
              %td.td_time= link_to l(message.send_date, :format => :short),  {:action => 'show', :id => message.id, :search => @search_text}
      - else
        .text_none= t(:message_none)
    - else
      .text_none= t(:message_none)

  .message_div_navigation
    - t = @type.nil? ? "" : @type
    - s = @search_text.nil? ? "" : @search_text
    - p = 'type=' << t << '&search=' << s
    =raw render_pagination_bar(@messages_count, p)

:javascript



  function show_reads() {
    $('.message_read').parents('tr').fadeIn(1);
  }

  function hide_reads() {
    $('.message_read').parents('tr').fadeOut(1);
  }

  function show_unreads() {
    $('.message_unread').parents('tr').fadeIn(1);
  }

  function hide_unreads() {
    $('.message_unread').parents('tr').fadeOut(1);
  }

  function show_all() {
    show_reads();
    show_unreads();
  }

  function selected_messages() {
    return $('[type=checkbox]:checked.selected_messages').map(function(){ return $(this).data('message-id') }).get();
  }


  $(function(){
    // dropdown_menu();

    $('#ckb_all').click(function(){
      var c = this.checked;
      $('[type=checkbox]').each(function(){
        this.checked = c;
      });
    });

    $('div#mark_as_read, div#mark_as_unread, div#remove_message, div#restore_message').click(function(){
      var message_ids = selected_messages();
      if (!message_ids.length)
        return false;

      var url = $(this).data('link-udpate-status').replace(':id', message_ids);
      var new_status = $(this).data('new-status');
      var msgs = $('[type=checkbox]:checked.selected_messages');

      $.ajax({
        type: 'PUT',
        url: url,
        success: function(response) {
          if ($.inArray(new_status, ['trash', 'restore']) != -1) // comportamento diferente
            msgs.parents('tr').fadeOut(500, function(){ $(this).remove() });
          else {
            var links = $('.td_subject a', msgs.parents('tr'));
            if (new_status == "read")
              links.addClass('message_read').removeClass('message_unread');
            else
              links.addClass('message_unread').removeClass('message_read');
          }

          // contar entrada corretamente
          $('span#count_msgs_unread').html(['(', $('.message_unread').length, ')'].join(''));
        }
      });

    });


  });
