<div>
    <%# image_tag "icon_message.png", :alt=>t(:icon_message) %>
    <span class="page_title"><%= t(:message_title) %></span>
    
    <div class="message_search_div">
      <%= label_tag 'lb_search', t(:message_search), :class => "enrollment_label" %>&nbsp;
      <%= text_field_tag  'search', @search_text, :class=> "message_search_textbox" %>
      <%= image_submit_tag("search.png", :class => 'enrollment_search_icon')%>
    </div>

    <div class="message_div">

      <% css_class_inbox  = (@type == "index")    ? "message_general_div_option_active" : "message_general_div_option" %>
      <% css_class_outbox = (@type == "outbox")   ? "message_general_div_option_active" : "message_general_div_option" %>
      <% css_class_trash  = (@type == "trashbox") ? "message_general_div_option_active" : "message_general_div_option" %>

      <div class="<%=css_class_inbox%>" id="menu_inbox">
        <%= link_to (image_tag "message_inbox.png", :alt=>t(:message_inbox)),{:type => 'index'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_inbox), {:type => 'index'},{:class=>'message_link_menu'} %>
          <%= label_tag 'lb_number', '(3)', :class => "text_alert_message" %>
        </div>
      </div>
      <div class="<%=css_class_outbox%>" id="menu_outbox">
        <%= link_to (image_tag "message_outbox.png", :alt=>t(:message_outbox)),{:type => 'outbox'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_outbox), {:type => 'outbox'},{:class=>'message_link_menu'} %>
        </div>
      </div>
      <div class="<%=css_class_trash%>" id="menu_trash">
        <%= link_to (image_tag "message_trash.png", :alt=>t(:message_trash)),{:type => 'trashbox'} %>
        <div class="message_main_menu">
          <%= link_to t(:message_trash),  {:type => 'trashbox'},{:class=>'message_link_menu'} %>
        </div>
      </div>
    </div>
    
    <div class="message_div_options">
      <%= link_to t(:message_new), {}, {:class=>'message_link'} %>&nbsp;
      
      <ul class="message_menu_listbox">
        <li><a href="#"><%=t(:message_select)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
          <ul>
            <li><%= link_to t(:message_select_all), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_none), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_read), {}, {:class=>'message_link'}%></li>
            <li><%= link_to t(:message_select_unread), {}, {:class=>'message_link'}%></li>
          </ul>
        </li>
      </ul>
      <ul class="message_menu_listbox">
        <li><a href="#"><%=t(:message_move)%> <%=image_tag "icon_arrow_down.png", :alt=>t(:message_move)%></a>
          <ul>
            <li><%= link_to t(:message_trash), {}, {:class=>''}%></li>
          </ul>
        </li>
      </ul>


      <%= link_to t(:message_delete), {}, {:class=>'message_link'} %>&nbsp;
      <%= link_to t(:message_mark_as_read), {}, {:class=>'message_link'} %>&nbsp;
      <%= link_to t(:message_mark_as_unread), {}, {:class=>'message_link'} %>&nbsp;
    </div>

    <div class="message_div_list">
      <% if @messages.length > 0 %>
        <table class="message_div_list">
          <% @messages.each do |message| %>
            <tr class="message_line">
              <td style="width:30px"><%=check_box :id, :id => 'checkbox_message'%></td>
              <% if message.ehlida == 't' %>
                  <% css_class = "message_read" %>
              <% else %>
                  <% css_class = "message_unread" %>
              <% end %>
              <td style="width:120px"><%= link_to message.name,  {},{:class => css_class} %></td>
              <td><%= link_to message.subject,  {},{:class => css_class} %></td>
              <td style="width:30px"><%=image_tag "message_file.png",:alt=>t(:message_attach)%></td>
              <td style="width:30px"><%= link_to l(message.send_date, :format => :short),  {},{:class => css_class} %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="text_none"><%=t(:text_none)%></div>
      <% end %>
    </div>
    
    <div class="message_div_navigation">
      <%= will_paginate @messages,
                        :first_label => "#{t(:navigation_first)}",
                        :previous_label => "#{t(:navigation_previous)}",
                        :next_label => "#{t(:navigation_next)}",
                        :last_label => "#{t(:navigation_last)}",
                        :summary_label => "%d - %d t(:navigation_of) %d"%>
      &nbsp;&nbsp;&nbsp;
    </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    dropdown_menu();
  });
</script>