.block_wrapper

  = render 'message_header'
  = render 'message_options'

  .block_content

    - if !@messages.nil?
      - if @messages.length > 0 
        %table.message_div_list
          - @messages.each do |message|
            %tr.message_line

              %td.message_line_check
                = check_box_tag 'checkbox_message', message.id, checked = false, {:class => 'selected_messages'}
                - if message.was_read == 't' 
                  - css_class = "message_read" 
                - else 
                  - css_class = "message_unread" 
                = hidden_field_tag 'message_style',css_class

              %td{:style => "width:120px"}
                = link_to message.sender,  {:action => 'show', :id => message.id, :search => @search_text},{:class => css_class}

                - if !@search_text.empty?
                  - if message.was_sent == 't' 
                    = image_tag("icon_message_sent_small.png", :alt => " ")
                  - else 
                    = image_tag("icon_message_inbox_small.png", :alt => " ")

                - if @message_tag.nil?
                  - if !message.label.nil?
                    %span.message_label=message.label

                = link_to message.subject,  {:action => 'show', :id => message.id, :search => @search_text},{:class => css_class}


                %td{:style => "width:30px"}= content_tag(:i, nil, :class=>'icon-paperclip') unless (message.has_attachment=="0")
              %td{:style => "width:100px"}= link_to l(message.send_date, :format => :short),  {:action => 'show', :id => message.id, :search => @search_text},{:class => css_class}
      - else
        .text_none= t(:message_none)
    - else
      .text_none= t(:message_none)

  .message_div_navigation
    - t = @type.nil? ? "" : @type
    - s = @search_text.nil? ? "" : @search_text
    - p = 'type=' << t << '&search=' << s 
    =raw render_pagination_bar(@messages_count, p)

:javascript
  $(document).ready(function(){
    dropdown_menu();
  });
