<div>
    <span class="page_title"><%= t(:message_new_title) %></span>
    
    <%= render 'message_header' %>

    <div class="message_div_options_new">&nbsp;</div>
    
    <%= render 'message_header_to' %>

    <div id="div_new_message">
      <textarea id="newMessageTextBox"></textarea>
    </div>
    
    <div class="message_div_options_new">&nbsp;
      <%= link_to t(:message_send)+' ', {:action => 'new'}, {:class=>'message_link'} %>
      <%= link_to t(:message_discard)+' ', {:action => 'index', :type => 'index'}, {:class=>'message_link'} %>
    </div>

</div>

<script type="text/javascript">
  $(document).ready( function () {
    //identificando idioma corrente para config ckeditor
    var local = '<%=I18n.locale%>';

    $('#newMessageTextBox').ckeditor({
      toolbar: 'SolarToolbar',
      resize_enabled: false,
      language: local
    });
  })
</script>