<script type="text/javascript">
  CKEDITOR_BASEPATH = <%= "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/" %>
</script>

<%= javascript_include_tag "ckeditor/init" %>

<div class="message_external_div">
    <span class="page_title"><%= t(:message_title) %></span>

    <%= render 'message_header' %>

    <%= form_for :message, :url => {:action => 'send_message'}, :html => {:id => 'form_message_text', :multipart => true} do |f| %>

      <%= render 'message_header_to' %>

      <div id="div_new_message">
        <textarea id="newMessageTextBox" name="newMessageTextBox"><%= @original_message %></textarea>
      </div>

      <div class="message_new_action">
        <%= f.submit t(:message_send)+' ', :id => 'send_message', :class=> 'btn btn_main', :alt=> t(:message_send) %>
        <%= hidden_field_tag :id, @original_message_id %>
        <%= link_to t(:message_discard)+' ', {:action => 'index', :type => 'index'}, {:class=>'btn btn_caution'} %>
      </div>

    <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    CKEDITOR.replace('newMessageTextBox');
  });
</script>
