.message_external_div
  .block_title
    %h2= @message.subject
  .block_content.messages
    .align-left
      %ul
        %li= link_to content_tag(:i, nil, class: 'icon-reply', :"aria-hidden" => 'true'), reply_message_path(@message), class: 'btn btn_main', :'data-tooltip' => t(".reply"), :'aria-label'=> t(".reply")
        %li= link_to  content_tag(:i, nil, class: 'icon-reply-all', :"aria-hidden" => 'true'), reply_all_message_path(@message), class: 'btn', :'data-tooltip' => t(".reply_all"), :'aria-label'=> t(".reply_all")
        %li= link_to content_tag(:i, nil, class: 'icon-forward', :"aria-hidden" => 'true'), forward_message_path(@message), class: 'btn', :'data-tooltip' => t(".forward"), :'aria-label'=> t(".forward")

    .align-right
      %ul
        %li= link_to content_tag(:i, nil, class: 'icon-plus', :"aria-hidden" => 'true'),  new_message_path, :class =>'btn', 'data-tooltip' => t(:new, scope: :messages), :'aria-label'=> t("messages.new")

        - if @box != "trashbox"
          %li#mark_as_unread.btn=link_to content_tag(:i, nil, class: 'icon-mail', :'aria-hidden' => 'true'), '#', {:"data-tooltip" => t('.unread'), :"data-new-status" => "unread", :"data-link-udpate-status" => change_status_message_path(id: @message.id, new_status: "unread", box: @box), :'aria-label'=> t(".unread"), onkeydown: 'click_on_keypress(event, this);'}

          %li#remove_message.btn=link_to content_tag(:i, nil, class: 'icon-trash', :'aria-hidden' => 'true'), '#', {:"data-tooltip" => t('.trash'), :"data-new-status" => "trash", :"data-link-udpate-status" => change_status_message_path(id: @message.id, new_status: "trash", box: @box), :'aria-label'=> t(".trash"), onkeydown: 'click_on_keypress(event, this);', class: 'remove_btn'}

        - if @box == "trashbox"
          %li#restore_message.btn=link_to content_tag(:i, nil, class: 'icon-restore', :'aria-hidden' => 'true'), '#', {:"data-tooltip" => t('.restore'), :"data-new-status" => "restore", :"data-link-udpate-status" => change_status_message_path(id: @message.id, new_status: "restore", box: @box), :'aria-label'=> t(".restore"), onkeydown: 'click_on_keypress(event, this);'}

    .clearfix

  .message_header_new
    .message_text_from
      .label-show.align-left
        = t(".from")
      - user = @message.sent_by
      = "#{user.name}"
      %span.email
        = sanitize "<#{link_to(user.email, new_message_path(to: user.email))}>"
    .message_text_to
      .label-show.align-left
        = t(".to")
      = sanitize @message.recipients.map { |r| "#{r.nick} <span class='email'>&lt;#{link_to(r.email, new_message_path(to: r.email))}&gt;</span>" }.join(', ')

    - unless (attachments = @message.files).empty?
      .message_attachments
        .label-show.align-left
          %i.icon-paperclip{:'aria-hidden' => 'true'}
          = t(".attachments")
        %br
        - attachments.each do |file|
          %ul.new-attach
            - size = format('%.2f KB', file.attachment_file_size/1024.0)
            %li= link_to file.attachment_file_name + t('.size', size: size), download_file_messages_path(file_id: file.id), :'aria-label' => t('.download_file', name: file.attachment_file_name, size: size)

  %hr
  .message_div_show
    = sanitize @message.content
  %hr

  .message_div_navigation
    %a.btn.align-left{href: messages_path}
      %i.icon-arrow-left{:'aria-hidden' => 'true'}
      = t(:back)

:javascript

  $(function(){
    $('#remove_message a, #restore_message a, #mark_as_unread a').click(function(){
      if($(this).hasClass('remove_btn')){
        if(!confirm("#{t(:message_confirm)}"))
          return false;
      }

      $.ajax({
        type: 'PUT',
        url: $(this).data('link-udpate-status'),
        success: function(response) {
          window.location.href = "#{inbox_messages_path}";
        }
      });
    });
  });
