.message_external_div
  .block_title
    %h2= @message.subject
  .block_content
    .align-left
      = link_to ({:action => 'new', :id => @message.id, :target => 'sender'}), :class=>'btn btn_main', 'data-tooltip'=>t(:message_reply) do
        %i.icon-reply
      = link_to ({:action => 'new', :id => @message.id, :target => 'all'}), :class=>'btn', 'data-tooltip'=>t(:message_reply_all) do
        %i.icon-reply-all
      = link_to ({:action => 'new', :id => @message.id, :target => ''}), :class=>'btn', 'data-tooltip'=>t(:message_route) do
        %i.icon-forward

    .align-right
      = link_to ({:action => 'new', :search => @search_text}), :class =>'btn', 'data-tooltip' => t(:message_new) do
        %i.icon-plus-3

      - if @box != "trashbox"
        #mark_as_unread.btn{:"data-tooltip" => t(:message_mark_as_unread), :"data-new-status" => "unread", :"data-link-udpate-status" => change_status_message_path(id: @message.id, new_status: "unread")}
          %i.icon-checkmark

        #remove_message.btn{:"data-tooltip" => t(:message_delete), :"data-new-status" => "trash", :"data-link-udpate-status" => change_status_message_path(id: @message.id, new_status: "trash")}
          %i.icon-trash

      - if @box == "trashbox"
        #restore_message.btn{:"data-tooltip" => t(:message_restore), :"data-new-status" => "restore", :"data-link-udpate-status" => change_status_message_path(id: @message.id, new_status: "restore")}
          %i.icon-plus-2

    .clearfix

  .message_header_new
    .message_text_to
      %p
        %strong
          De:
          =@sender.name + " <" + @sender.email + ">"
    .message_text_to
      %p
        Para:
        - text = ""
        - @recipients.each do |r|
          - text += r.nick + " <" + r.email + ">, "
        = text
    .message_text_to
      %p
        %i.icon-paperclip
        Anexos:
        anexo1.jpg

  %hr
  .message_div_show
    = sanitize @message.content

  %hr

  .message_div_navigation
    %a.btn.align-left{:href => "#{messages_path}"}
      %i.icon-arrow-left
      = t(:back)
    .message_page
      %i.icon-arrow-left-3
      1 de 4
      %i.icon-arrow-right-3.active


:javascript

  $(function(){
    $('#remove_message, #restore_message, #mark_as_unread').click(function(){
      $.ajax({
        type: 'PUT',
        url: $(this).data('link-udpate-status'),
        success: function(response) {
          window.location.href = "#{inbox_messages_path}";
        }
      });
    });
  });
