- if events.any?
  .responsive-table
    %table.tb_list.events
      %thead
        %tr.lines
          %th#event-name{style: 'width: 21%'}= t('.name')
          %th.center#event-data-range{style: 'width: 12%'}= t('.data_range')
          %th.center#event-type{style: 'width: 12%'}= t('.type')
          %th.center#event-place{style: 'width: 12%'}= t('.place')
          %th.center#event-situation= t('.situation')
          %th.center#event-evaluative= t('.evaluative')
          %th.center#event-frequency{style: 'width: 12%'}= t('.frequency')
          %th.center.no_sort#event-grade-wh= @is_student ? t('.grade_work_hours_comments') : ''
          - if @can_print
            %th.center.no_sort#event-print= t('schedule_events.list.print')
      %tbody
        - events.each do |event|
          %tr.assignment.lines
            %td{headers: 'event-name'}
              %div.title-yellow= event.name
              .description
                - if !event.description.nil? && event.description.size > 180
                  .enunciation_slice= event.description.slice(0..180) << '...'
                  .enunciation_complete= event.description
                  .more_or_less
                    %a.enunciation_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);' }= t('assignments.list.more')
                    %a.enunciation_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);' }= t('assignments.list.less')
                - else
                  = event.description
              .equivalent
                - unless event.eq_name.blank?
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{event.academic_tool_id}" }
                    %i.icon-flow-parallel
                    = t('scores.info.equivalency')
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{event.academic_tool_id}"}
                    %ul{ class: 'dropdown-menu' }
                      = raw t('scores.info.equivalent', name: event.eq_name)
                - else
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{event.academic_tool_id}", :'data-url' => equalities_tools_path(tool_type: event.academic_tool_type, ac_id: event.id), onclick: 'open_dropdown(this);' }
                    %i.icon-flow-parallel
                    = t('scores.info.equalities')
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{event.academic_tool_id}"}
                    %ul{ class: 'dropdown-menu' }
            %td.center{headers: 'event-data-range'}
              %div= [l(event.start_date.to_date, format: :normal), l(event.end_date.to_date, format: :normal)].join(' - ')
              %div= [(event.start_hour), (event.end_hour)].join(' - ') unless event.start_hour.blank?
            %td.center{headers: 'event-type'}
              = ScheduleEvent.type_name_event(event.type_event.to_i)
            %td.center{headers: 'event-place'}
              = event.place
            %td.center{headers: 'event-situation', class: "assignment_#{event.situation}"}
              = t("scores.situation.#{event.situation}")
            %td.center{headers: 'event-evaluative'}
              = raw (event.final_exam == true ? t(event.evaluative, scope: [:common_between_pages, :ev_final_exam]) : t(event.evaluative, scope: [:scores, :info]))
            %td.center{headers: 'event-frequency'}
              = raw t(event.frequency, scope: [:common_between_pages, :frequency], hours: event.max_working_hours, automatic: (!@is_student && event.frequency_automatic == true ? t("common_between_pages.frequency.automatic").delete('()') : ""))
            %td.center{headers: 'event-grade-wh'}
              - if @is_student
                = link_to content_tag(:i, nil, class: 'icon-comment'), "#void", onclick: "open_summary(this); return false", :'data-url' => summary_schedule_events_path(ac_id: event.id, tool_id: event.academic_tool_id, group_id: event.group_id), class: "btn #{event.has_info ? 'btn_main' : ''}", :'data-tooltip' => t('schedule_event_files.summary.title_alt', tool: event.name, files: event.count, comments: event.count_comments), :'aria-label' => t('schedule_event_files.summary.title_alt', tool: event.name, files: event.count, comments: event.count_comments) + t('fancybox.open'), onkeydown: 'click_on_keypress(event, this);'
              - else
                = link_to content_tag(:i, nil, class: 'icon-users'), '#void', class: 'btn participants', :'data-url' => participants_schedule_event_path(event.academic_tool_id, situation: event.situation, group_id: event.group_id), :'data-tooltip' => t('.participants'), :'aria-label' => t('.participants') + t('fancybox.open'), onkeydown: 'click_on_keypress(event, this);', onclick: 'open_participants(this)'
            - if @can_print
              %td.center{headers: 'event-print'}
                - if Presential_Test == event.type_event.to_i
                  = link_to (content_tag(:i, nil, class: 'icon-printer')), "#void", class: 'btn btn_print print_event fancybox.iframe', :"data-link-to-print" => print_presential_test_schedule_events_path(id: event.academic_tool_id, allocation_tags_ids: @allocation_tag_id), :"data-print-title" => t("schedule_events.list.print"), :"data-tooltip" => t("schedule_events.list.print")

- else
  .text_none.empty_message= t(:itens_not_found)
