- exam_content = [Presential_Test].include?(@schedule_event.type_event)
.new_event
  = simple_form_for @schedule_event, html: {id: 'event_form', multipart: true} do |f|
    %h1#lightBoxDialogTitle= t((@schedule_event.persisted? ? ".edit" : ".new"))
    %span.form_requirement= t(:required_fields)

    = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

    .form-inputs.block_content
      #steps.steps{class: exam_content ? "steps_print" : ""}
        %ul
          %li.info.active
            = t('.info')
            .dot.active#dot-info
          %li.print{class: exam_content ? "" : "invisible"}
            = t('.print')
            .dot#dot-print
      .step-info
        = render partial: 'info', locals: { f: f }
      .step-print.invisible
        = render partial: 'print', locals: { f: f }

= javascript_include_tag "schedule_events"

:javascript

  var start_date = "#{escape_once(@schedule_event.schedule.start_date)}";
  var end_date = "#{escape_once(@schedule_event.schedule.end_date)}";
  $("#start_date, #end_date").mask("#{I18n.t('date.formats.mask')}");
  var div_to_replace = ("#{escape_once(params[:calendar])}" == "" ? $(".list_schedule_events") : $(".calendar_schedules"));
