.block_title
  %h2{align: "center"}= t('.list_name')
- unless @participants.empty?
  %table.tb_list
    %thead
      %tr.lines
        %th= t('.name')
        %th.center= t('.send_file')
        %th.center= t('.evaluate_comments')
        %th.center= t('.grade')
        %th.center= t('.working_hours')
        %th.center= t('.files')
    %tbody
      - @participants.each_with_index do |participant|
        - info = @event.info(participant.id, @allocation_tag_id)
        %tr.lines
          %td= participant.name
          %td.center
            %a.btn.btn_main{ href: "#void" }
              = content_tag(:i, nil, class: 'icon-plus')
            -# = link_to content_tag(:i, nil, class: 'icon-plus'), "#void", class: "btn btn_main", onclick: "add_new_file(this)", :'data-url' => new_schedule_event_file_path(schedule_event_id: @event.id, student_id: participant.id, group_id: info[:group_id]), onkeydown: 'click_on_keypress(event, this);'
          %td.center
            = link_to content_tag(:i, nil, class: 'icon-write'), "#void", onclick: 'open_tool(this)', class: 'btn to_evaluate_schedule_event', :'data-url' => redirect_to_evaluate_scores_path(tool_type: 'ScheduleEvent', ac_id: info[:ac_id], user_id: participant.id, group_id: info[:group_id], score_type: 'evaluative', situation: @situation), onkeydown: 'click_on_keypress(event, this);'
          %td.center= info[:grade] || "-"
          %td.center= info[:working_hours] || "-"
          %td.center
            = (info[:has_files] ? info[:file_amount] : 0)
- else
  .text_none= t(:itens_not_found)

= javascript_include_tag 'tooltip', 'scores', 'schedule_event_files'
