.block_title
  %h2{align: "center"}= t('.list_name')
- unless @participants.empty?
  .responsive-table
    %table.tb_list
      %thead
        %tr.lines
          %th{id: 'participant-name'}= t('.name_studante')
          %th.center{id: 'deficiency'}= t('deficiency.deficiency')
          %th.center{id: 'personal-test'}= t('.print_personal_test')
      %tbody
        - @participants.each_with_index do |participant|
          - accessibility = participant.special_needs=='Baixa visão' ? true : false
          - class_css = get_deficiency_class_css(participant.special_needs)
          %tr.lines
            %td{headers: 'participant-name'}= participant.name
            %td.center{headers: 'deficiency'}
              %spam{class: class_css}
                - if participant.special_needs == 'Outra'
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{participant.id}", onkeydown: 'click_on_keypress(event, this);' }
                    = participant.special_needs
                    %i.icon-arrow-down-triangle{:'aria-hidden' => 'true'}
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{participant.id}"}
                    %ul{ class: 'dropdown-menu' }
                      = raw participant.other_special_needs
                - else
                  = get_deficiency(participant.special_needs)

            %td.center{headers: 'personal-test'}
              = link_to content_tag(:i, nil, class: 'icon-printer'), print_presential_test_schedule_events_path(id: @event.id, student_id: participant.id, allocation_tags_ids: @allocation_tag_id, accessibility: accessibility), target: "_blank", class: "btn btn_main", :"data-print-title" => t(".print_user_test", student: participant.name), :"data-tooltip" => t(".print_user_test", student: participant.name)
  .legend
    = t("deficiency.deficiencys")
  %ul#scores_notes.legend_score_footer
    %li.autism
      %abbr{title: t("deficiency.autism_complete")}= t("deficiency.autism")
      = t("deficiency.autism_complete")
    %li.low_vision
      %abbr{title: t("deficiency.low_vision_complete")}= t("deficiency.low_vision")
      = t("deficiency.low_vision_complete")
    %li.blindness
      %abbr{title: t("deficiency.blindness_complete")}= t("deficiency.blindness")
      = t("deficiency.blindness_complete")
    %li.hearing_deficiency
      %abbr{title: t("deficiency.hearing_deficiency_complete")}= t("deficiency.hearing_deficiency")
      = t("deficiency.hearing_deficiency_complete")
    %li.physical_disability
      %abbr{title: t("deficiency.physical_disability_complete")}= t("deficiency.physical_disability")
      = t("deficiency.physical_disability_complete")
    %li.intellectual_deficiency
      %abbr{title: t("deficiency.intellectual_deficiency_complete")}= t("deficiency.intellectual_deficiency")
      = t("deficiency.intellectual_deficiency_complete")
    %li.multiple_disability
      %abbr{title: t("deficiency.multiple_disability_complete")}= t("deficiency.multiple_disability")
      = t("deficiency.multiple_disability_complete")
    %li.deafness
      %abbr{title: t("deficiency.deafness_complete")}= t("deficiency.deafness")
      = t("deficiency.deafness_complete")
    %li.deafblindness
      %abbr{title: t("deficiency.deafblindness_complete")}= t("deficiency.deafblindness")
      = t("deficiency.deafblindness_complete")
    %li.aspergers_syndrome
      %abbr{title: t("deficiency.aspergers_syndrome_complete")}= t("deficiency.aspergers_syndrome")
      = t("deficiency.aspergers_syndrome_complete")
    %li.rett_syndrome
      %abbr{title: t("deficiency.rett_syndrome_complete")}= t("deficiency.rett_syndrome")
      = t("deficiency.rett_syndrome_complete")
    %li.new_after_evaluation
      %abbr{title: t("deficiency.other")}= t("deficiency.other")

- else
  .text_none= t(:itens_not_found)

= javascript_include_tag 'tooltip', 'schedule_events'
