= f.input :content_exam, as: :ckeditor

.right_buttons
  = button_tag t('.previous'), :type => 'button', :onclick => "back_to_info(event)", class: 'btn btn_default btn_lightbox', onkeypress: 'back_to_info(event)', alt: t('.previous')
  = button_tag t(:save), class: "btn btn_main btn_lightbox save", type: "button"

= javascript_include_tag 'ckeditor/init'

:javascript
  $(function(){
    CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

    CKEDITOR.editorConfig = function (config) {
      config.toolbar =
        [
          { name: 'document', items: [ 'Print' ] },
          { name: 'clipboard', items : [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
    			{ name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
    			{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat', 'CopyFormatting' ] },
    			{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
    			{ name: 'align', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
    			{ name: 'links', items: [ 'Link', 'Unlink' ] },
    			{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
    			{ name: 'insert', items: [ 'EqnEditor', 'Image', 'Table' ] },
    			{ name: 'tools', items: [ 'Maximize' ] },
    			{ name: 'editing', items: [ 'Scayt' ] }
        ];

      config.disallowedContent = 'img{width,height,float}';
      config.extraAllowedContent = 'img[width,height,align]';

      config.extraPlugins = 'eqneditor,oembed,tableresize,uploadimage,uploadfile';
      config.uploadUrl = "#{schedule_event_files_path}";
      config.imageUploadUrl = "#{schedule_event_files_path}";
      config.resize_enabled = true;
      config.autoParagraph = true;
      config.format_tags = 'p;h1;h2;h3;h4;h5;h6;pre';
    };

  });
