- show_fields = [Presential_Meeting, Presential_Test, WebConferenceLesson].include?(@schedule_event.type_event)

.show_event
  %h1#lightBoxDialogTitle= t(".event_details")

  .form-inputs.block_content.show
    .input
      = label_tag t(".title"), nil, class: "form_label form_label_align"
      %span.label_info= @schedule_event.title

    .input
      = label_tag t(".type_event"), nil, class: "form_label form_label_align"
      %span.label_info= @schedule_event.type_name

    .input{style: show_fields ? "" : "display: none"}
      = label_tag t(".place"), nil, class: "form_label form_label_align"
      %span.label_info= @schedule_event.place

    .input
      = label_tag t(".description"), nil, class: "form_label form_label_align"
      %span.label_info= @schedule_event.description

    .input
      = label_tag t(".start_date"), nil, class: "form_label form_label_align"
      %span.label_info= l(@schedule_event.schedule.start_date.to_date, format: :datepicker)
    .input
      = label_tag t(".end_date"), nil, class: "form_label form_label_align"
      %span.label_info= l(@schedule_event.schedule.end_date.to_date, format: :datepicker)

    %div{style: "#{show_fields ? "" : "display: none"}"}
      .input
        = label_tag t(".time"), nil, class: "form_label form_label_align"
        %span.label_info= [@schedule_event.start_hour, @schedule_event.end_hour].join(t(".to"))
      
    = render "groups/codes"

    .schedule_dates
      .right_buttons
        = button_to_function t("agendas.close"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"

= javascript_include_tag "schedule_events"