- unless @all_profiles.blank?
  %table.tb_list.list_profiles{"data-link-list" => profiles_path(list: true)}
    %thead
      %tr.lines
        %th= t(:name)
        %th{style: "width: 60%"}= t(:description)
        %th.no_sort{style: 'width: 75px;'}
    %tbody
      - @all_profiles.each do |profile|
        %tr.lines{"data-profile-id" => profile.id, "data-link-delete" => profile_path(profile)}
          %td= profile.name
          %td= profile.description
          %td{style: 'align:right'}
            = link_to content_tag(:i, nil, class: 'icon-lock'), "#", "data-tooltip" => t(".permissions"), "data-show-link" => permissions_profile_path(profile), class: "btn show-permissions"
            = link_to content_tag(:i, nil, class: 'icon-edit'), edit_profile_path(profile), "data-tooltip" => t(".edit"), class: "btn edit-profile"

:javascript

  $(function(){
    $(".show-permissions").click(function(e){
      e.preventDefault();

      $(".profiles-list").hide();
      $(".profile-permissions-list").load($(this).data("show-link"), function(){
        $(".profile-permissions-list").show();
      });
    });

    $(".btn.edit-profile").call_fancybox();
  });
