.block_wrapper
  .block_title
    %h2= t(".profile", profile: @profile.name)

.block_wrapper
  .block_title
    %h2= t(".permissions")
    .block_toolbar_right
      = link_to_function content_tag(:i, nil, class: 'icon-arrow-left-thin'), "profile_permission_back()", "data-tooltip" => t(:back), class: "btn"
  .block_content_toolbar.block_content_text
    .block_toolbar_left
      = label "permission", "search", t(".filter"), class: "permissions-search-text"
      = text_field_tag "permission_search"
    .block_toolbar_right
      = link_to_function content_tag(:i, nil, class: 'icon-edit'), "profile_permission_enable_edition()", "data-tooltip" => t(".edit"), class: "btn edit-enable"
      = link_to_function content_tag(:i, nil, class: 'icon-cross'), "profile_permission_cancel_edition()", "data-tooltip" => t(".cancel"), class: "btn edit-cancel"
      = link_to_function content_tag(:i, nil, class: 'icon-checkmark'), "profile_permission_save()", "data-tooltip" => t(".save"), "data-save-url" => permissions_grant_profile_path, class: "btn edit-save"

  .block_content
    - unless @resources.blank?
      %table.tb_list.permissions
        %thead
          %tr.lines
            %th= t(".category")
            %th= t(".permission")
            %th.no_sort= t(".enable")
        %tbody
          - @resources.each do |r|
            - permission = not(r[:permission].blank?)
            %tr.lines{class: permission ? "permission" : ""}
              %td= r[:controller].classify.constantize.model_name.human
              %td= r[:description]
              %td= check_box_tag "resource", r.id, permission, disabled: true, onchange: "javascript:profile_permissions_change_status_of_permission(this);", class: "ckb_resource"

= javascript_include_tag "tablesorter", "profiles"

:javascript

  $(function(){
    $(".edit-cancel, .edit-save").hide();

    $("#permission_search").nice_table_filter({
      table: "table.tb_list.permissions"
    });
  });
