.new_chat
  = simple_form_for @chat_room, html: {id: 'chat_form', multipart: true}, defaults: {required: true} do |f|
    = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

    .form-inputs.block_content
      = f.input :title, :maxlength => 250
      = f.input :description, required: false

      .schedule_dates
        .left
          = f.fields_for :schedule, defaults: {required: true} do |s|
            = s.input :start_date, as: :string, input_html: {id: 'chat_start_date', value: l(@chat_room.schedule.start_date.to_date, format: :datepicker)}
            = s.input :end_date, as: :string, input_html: {id: 'chat_end_date', value: l(@chat_room.schedule.end_date.to_date, format: :datepicker)}

        .right
          = f.input :start_hour
          = f.input :end_hour

      .input
        = f.label t(".groups")
        %span.groups
          - @groups_codes.each do |group_code|
            %span.collection_check_boxes= group_code

      %div
        = f.label t(".participants")
        %span.participants
          = f.check_box :chat_type, {checked: (@chat_room.chat_type == 1), id: :chat_room_type}
          #participants_box
            %span{id: (@chat_room.chat_type == 1 ? "tab" : "define_participants")}
              = f.label :type, t(".define_participants")
            .box{class: (@chat_room.chat_type == 1 ? "" : "invisible")}
              %div
                = check_box_tag :all_participants, false, (@allocations.size == @chat_room.participants.size), {:"data-children-names" => "chat_room[participants_attributes]"}
                = label_tag :all_participants, t(".all_participants")
                %br
                - cr_ids = @chat_room.participants.map(&:allocation_id)
                = f.simple_fields_for(:participants, setup_chat_room(@chat_room, @allocations)) do |p|
                  = p.check_box :_destroy, {checked: (p.object.persisted? or cr_ids.include?(p.object.allocation_id))}, '0', '1'
                  = p.label :_destroy, p.object.allocation.user_name
                  = p.hidden_field :allocation_id
                  %br

      .right_buttons_assignment
        = button_to_function t(:cancel), "removeLightBox()", class: "btn btn_default btn_lightbox"
        = button_tag t(:save), class: "btn btn_main btn_lightbox", type: "button", id: "save"

= javascript_include_tag "chat_rooms"
    
:javascript

  var start_date = "#{@chat_room.schedule.start_date}";
  var end_date = "#{@chat_room.schedule.end_date}";