.new_chat
  = simple_form_for @chat_room, html: {id: 'chat_form', multipart: true}, defaults: {required: true} do |f|
    = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

    .form-inputs.block_content
      = f.input :title
      = f.input :description, required: false

      .schedule_dates
        .left
          = f.fields_for :schedule, defaults: {required: true} do |s|
            = s.input :start_date, as: :string, input_html: {id: 'chat_start_date', value: l(@chat_room.schedule.start_date.to_date, format: :datepicker)}
            = s.input :end_date, as: :string, input_html: {id: 'chat_end_date', value: l(@chat_room.schedule.end_date.to_date, format: :datepicker)}

        .right
          = f.input :start_hour#, as: :time
          = f.input :end_hour

      = f.label "Participantes"
      %span.participants
        = f.check_box :chat_type, {id: :chat_room_type}, @chat_room.chat_type

        %span{id: (@chat_room.chat_type == 1 ? "tab" : "define_participants")}
          = f.label :type, "Definir participantes"
        .box{class: (@chat_room.chat_type == 1 ? "" : "invisible")}
          %div
            /%input#all{type: "checkbox", :"data-children-names" => "chat_room[participants_attributes]"}
            /%br
            /= check_box_tag :all, {:"data-children-names" => "chat_room[participants_attributes]"}, false
            - @allocations.each do |allocation|
              / = "ble: #{allocation.id}"
              = f.simple_fields_for :participants do |p|
                / ="bla: #{allocation.id}"
                = p.check_box :allocation_id, {}, allocation.id#, checked: (@participants and @participants.include?(allocation))
                = p.label :allocation_id, allocation.user_name
                %br

      .right_buttons_assignment
        = button_tag t(:cancel), class: "btn btn_default btn_lightbox", type: "button", onclick: "javascript:removeLightBox();"
        = button_tag t(:save), class: "btn btn_main btn_lightbox", type: "button", id: "save"
        
= javascript_include_tag "chat_rooms"
    
:javascript

  var start_date = "#{@chat_room.schedule.start_date}";
  var end_date = "#{@chat_room.schedule.end_date}";