.block_wrapper.list_chat_rooms{:"data-link-list" => chat_rooms_path(allocation_tags_ids: @allocation_tags_ids, offer_id: params[:offer_id])}
  .title-warning
    = raw t('.warning')

  .block_title
    %h2= t(".chats")

  .block_content_toolbar
    .block_toolbar_left.btn-group
      = link_to content_tag(:i, nil, class: 'icon-plus'), new_chat_room_path(allocation_tags_ids: @allocation_tags_ids), class: " btn btn_main", id: "new_chat", :"data-tooltip" => t(".new_chat")

    .block_toolbar_right
      .btn-group
        = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn btn_edit', "data-link-to-edit" => edit_chat_room_path(':id', allocation_tags_ids: @allocation_tags_ids), :"data-edit-title" => t(".edit_chat"), disabled: true, :"data-tooltip" => t(".edit_chat")
        = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del delete_chat', :"data-link-delete" => chat_room_path(':id', allocation_tags_ids: @allocation_tags_ids), disabled: true, :"data-tooltip" => t(".delete_chats")

  - unless @chat_rooms.empty? or @chat_rooms.nil?
    - all_groups = Offer.find(params[:offer_id]).try(:groups) if params.include?(:offer_id)
    %table.tb_list
      %thead
        %tr.lines
          %th.no_sort.center{style: 'width: 25px;'}= check_box_tag :all_chats, false, false, :"data-children-names" => "c_"
          %th{style: 'text-align:left;'}= t(".chat_name")
          %th.no_sort.center{style: 'width: 21%;'}= t(".availability")

      %tbody
        - @chat_rooms.each do |chat|
          %tr.lines{id: "tr_#{chat.id}"}
            %td{style: 'text-align:center;'}
              = check_box_tag("c_#{chat.id}", chat.id, false, {class: "ckb_chat"})
            %td
              %div
                .title
                  = chat.title
                .description
                  .minimun
                    = raw(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                  .complete.invisible
                    = chat.description
                    = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_description"))
                .group_label.invisible= render "groups/groups_tags", groups: chat.groups, tool: chat, all_groups: all_groups, paths: {add: add_group_to_chat_rooms_path(id: "param_id", tool_id: chat.id), remove: remove_group_from_chat_rooms_path(id: "param_id", tool_id: chat.id), unbind: unbind_group_from_chat_rooms_path(id: "param_id", tool_id: chat.id)}

            %td{style: 'text-align:center;'}
              %div= [l(chat.schedule.start_date, format: :normal), l(chat.schedule.end_date, format: :normal)].join(" - ")
              %div= t(".hour_period", start_hour: chat.start_hour, end_hour: chat.end_hour)

  - else
    .block_content_text_list.text_none= t(".no_chats")

= javascript_include_tag "tablesorter", "chat_rooms", "tooltip", "groups_tags"

:javascript

  var div_list = $(".list_chat_rooms");
  var offer_id = "#{escape_once(params[:offer_id])}";
