.block_wrapper 
  .block_title
    %h2= t(".title_my_chats")
  - unless @my_chats.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th{align: "left"}= t(".detail")
          %th.center.date{style: "width: 25%"}= t(".availability")
      %tbody
        - @my_chats.each do |chat|
          %tr{class: "lines #{'period_ended' if !chat.opened?}"}
            %td
              - if chat.opened?
                = link_to chat.title, chat.url(@alloc), {class: 'link_content fancybox.iframe', target: '_blank' }
              - else
                = chat.title
                = " [" + t(".message_did_not_start")+"]" if chat.start_date.to_date > Date.today
                = " [" + t(".message_ended")+"]" if chat.end_date.to_date < Date.today

              .description
                .minimun= raw(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                .complete.invisible
                  = chat.description
                  = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_description"))

              - unless chat.chat_type==0 
                - participants = chat.users
                %i.icon-users
                %a{class: "chat_list", :"data-dropdown"=>"#students-dropdown#{chat.id}" }= participants.count.to_s + ' ' + t(:students, scope: [:chat_rooms, :list])
                .dropdown.dropdown-tip{ class: "chat_list", id: "students-dropdown#{chat.id}" }
                  %ul{ class: "dropdown-menu" }
                    -participants.each do |p|
                      %li=p.name

            %td{align: "center"}
              %div= [l(chat.schedule.start_date.to_date), l(chat.schedule.end_date.to_date)].join(" - ")
              %div= [(chat.start_hour), (chat.end_hour)].join(" - ")

  - else
    .block_content_text_list.text_none= t(".message_no_chat")

  - unless @responsible
    .block_title
      %h2= t(:title_other_chats, scope: [:chat_rooms, :list])
    - unless @other_chats.empty?
      %table.tb_list
        %thead
          %tr.lines
            %th{align: "left"}= t(".detail")
            %th.center.date{style: "width: 25%"}= t(".availability")
        %tbody
          - @other_chats.each do |chat|
            %tr{class: "lines #{'period_ended' if !chat.opened?}"}
              %td
                = chat.title
                .description
                  .minimun= raw(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                  .complete.invisible
                    = chat.description
                    = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_enunciation"))

                - unless chat.chat_type==0 
                  - participants = chat.users
                  %i.icon-users
                  %a{class: "chat_list", :"data-dropdown"=>"#students-dropdown#{chat.id}" }= participants.count.to_s + ' ' + t(:students, :scope => [:chat_rooms, :list])
                  .dropdown.dropdown-tip{ class: "chat_list", id: "students-dropdown#{chat.id}" }
                    %ul{ class: "dropdown-menu" }
                      -participants.each do |p|
                        %li=p.name

              %td{align: "center"}
                %div= [l(chat.schedule.start_date.to_date), l(chat.schedule.end_date.to_date)].join(" - ")
                %div= [(chat.start_hour), (chat.end_hour)].join(" - ")

    - else
      .block_content.block_content_text= t(".message_no_chat")

:javascript

  $(function(){
    $('.link_content').fancybox();
  });
