.block_wrapper
  .block_title
    %h2= t(".title_my_chats")
  - unless @my_chats.blank?
    = render partial: "chats", locals: { chats: @my_chats, history: true, can_open_link: true, other: false }
  - else
    .block_content_text_list.text_none= t(".message_no_chat")

  - unless @responsible
    .block_title
      %h2= t(:title_other_chats, scope: [:chat_rooms, :list])
    - unless @other_chats.blank?
      = render partial: "chats", locals: { chats: @other_chats, history: (can? :show, ChatRoom, on: [@allocation_tag_id]), can_open_link: false, other: true}
    - else
      .block_content_text_list.text_none= t(".message_no_chat")

= javascript_include_tag "chat_rooms"

:javascript

  $(function(){
     $('.link_content, .history').call_fancybox({
      afterShow : () => {
        $('#lightBoxDialogTitle').attr("tabindex", "0");
        $('#lightBoxDialogTitle').focus();
      }
    });

    var flag = false;

    $('body').on('keyup',(e) => {
        var code = e.keyCode || e.which;
        if (code == '9') {

          if(flag){
            $('#lightBoxDialogTitle').focus();
            flag = false;
          }

          if($(':focus').hasClass("fancybox-close")){
            flag = true;
          }
          else{
            flag = false;
          }
        }
    });
  });
