.block_wrapper 
  .block_title
    %h2= t(".title_my_chats")
  - unless @my_chats.empty?
    = render partial: "chats", locals: {chats: @my_chats, history: true}
  - else
    .block_content_text_list.text_none= t(".message_no_chat")

  - unless @responsible
    .block_title
      %h2= t(:title_other_chats, scope: [:chat_rooms, :list])
    - unless @other_chats.empty?
      = render partial: "chats", locals: {chats: @other_chats, history: false}
    - else
      .block_content_text_list.text_none= t(".message_no_chat")

= javascript_include_tag "chat_rooms", "tooltip"

:javascript

  $(function(){
    $('.link_content, .history').call_fancybox();
  });
