%h1#lightBoxDialogTitle= t(".history", chat_name: @chat_room.title)
.chat_messages
  - unless @messages.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th{colspan: 2}= t(".from")
          %th= t(".to")
          %th= t(".message")
          %th= t(".date")
          %th= t(".time")
      %tbody
        - @messages.each do |message|
          - user = message.user
          %tr.lines
            %td.profile= "(" + message.profile_name + ")"
            %td.user{:'data-tooltip' => (@researcher ? t(:hidden_info) : message.user_name)}= (@researcher ? t(:hidden_info) : message.user_nick)
            %td{:'data-tooltip' => resp.info(:name, @researcher)}= resp.info(:nick, @researcher) || t(".all")
            %td.message= message.text.try(:html_safe)
            %td= l(message.created_at.to_datetime, format: :normal)
            %td= l(message.created_at.to_datetime, format: :clock_time)

  - else
    .block_content_text_list.text_none= t(".no_message")

= javascript_include_tag "tooltip"