.user_messages
  %h1#lightBoxDialogTitle= t(".title", user: @user.name, chat_rooms: @chat_room.title)
  - if @evaluate || @frequency
    .title-warning= raw t('.evaluation_info')
  - unless @messages.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th= t(".message")
          %th.center= t(".date")
      %tbody
        - @messages.each do |message|
          %tr.lines
            %td.profile= sanitize message.text
            %td.center= l(message.created_at.to_datetime, format: :normal)

    - if @academic_allocation.evaluative || @academic_allocation.frequency
      = simple_form_for :academic_allocation_user, url: evaluate_chat_room_path(@chat_room), html: { method: :put, id: 'academic_allocation_user_grade_form' } do |f|
        = f.input :user_id, as: :hidden, input_html: { value: @user.id }
      
        .form-inputs.block_content
          .inline
            = f.input :grade, required: true, as: :float, :step => 0.01, label: t(".grade"), input_html: { value: @acu.try(:grade), min:0, max:10 } if @evaluative
            = f.input :working_hours, required: true, as: :float, label: t(".frequency"), input_html: { value: @acu.try(:working_hours), min:0, max: @academic_allocation.max_working_hours } if @academic_allocation.frequency  
            = t(:info_frequency, scope: [:chat_rooms, :user_messages]) + @academic_allocation.max_working_hours.to_s + ' Hs' unless !@academic_allocation.frequency  
         
            = link_to t(:back), messages_chat_room_path(@chat_room), class: 'btn back_chat_history'
            = link_to_function t(:save), 'finish_evaluation(this)', class: 'btn btn_main'

  - else
    .block_content_text_list.text_none= t(".no_posts")

:javascript
  function finish_evaluation(btn){
    var form = $(btn).parents('form:first');
    $.put(form.attr('action'), form.serialize(), function(data){
      $('.back_chat_history').parents('a').click();
      console.log($('.back_chat_history').parents('a'));
      flash_message(data.notice, 'notice', 'fancybox-outer');
    }).error(function(data){
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, 'alert', 'fancybox-outer');
    });
  }

  $(function(){
    $(".back_chat_history").call_fancybox({
      minWidth: '50%',
      minHeight: '50%',
      height: 'auto',
      closeBtn : true
    });
  }); 
 
