- no_files = @files.nil? || @files.empty? ? true : false
.user_schedule_event
  %h1#lightBoxDialogTitle= t(".title", user: current_user.name, tool: (@tool.title rescue @tool.name))
  %table.tb_list
    %thead
      %tr.lines
        %th{id: "name_file"}= t('.name')
        %th.center{id: "size_file" }= t('.size')
        %th.date_column.center{id: "sent_on_file" }= t('.sent_on')
        %th.date_column.center{id: "sent_by_file" }= t('.sent_by')
        -# - if @own_assignment && !disabled
        %th.no_sort{id: "delete_file" }
          .visuallyhidden=t("assignment_files.file.delete")
    %tbody
      = render partial: 'schedule_event_files/files', locals: { files: @files }
  .text_none.empty_message{class: (no_files ? "" : "hide_message")}= t(:itens_not_found)
