!!!
%html{lang: I18n.locale.to_s.gsub('_', '-')}
  %head
    %meta{charset: 'utf-8'}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %title= show_breadcrumb_title
    = stylesheet_link_tag "application", "jquery.fancybox3.min", "online_correction_files", "viewer"
    = javascript_include_tag 'jquery-3.3.1.min', 'jquery.fancybox3.min', 'pdfjs/pdf', 'online_correction_files'
    = csrf_meta_tag
  %body{oncontextmenu: "return false;"}
    %header#topbar
      .container-topbar
        .solar-logo
          = image_tag 'solar_logo_small.png', alt: t(:mysolar_alt_img_solar), id: "solar_logo"
        %ul.topbar-options
          %li#save
            %a{href: "#"}= t(:save)
          %li#tools
            %a{href: "#", onclick: "submenuToggle()"}= t(".tools")
            %ul.submenu
              %li
                %a#hand-tool{href: "#", onclick: "toolChanger(event, this)"}
                  %i.icon-hand
                  = t(".hand")
              %li
                %a#text-tool{href: "#", onclick: "toolChanger(event, this)"}
                  %i.icon-write
                  = t(".text")
              %li
                %a#brush-tool{href: "#", onclick: "toolChanger(event, this)"}
                  %i.icon-pencil
                  = t(".brush")
          %li#user
            = image_tag current_user.user_photo(:small), alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "image_user", :'aria-hidden' => 'true'
            = current_user.nick
        .block_wrapper
          .flash_message_wrapper
            - flash.each do |name, msg|
              #flash_message{ class: name }
                = content_tag(:span, msg, id: "flash_message_span")
                = link_to content_tag(:i, nil, class: 'icon-cross'), "#void", onclick: "erase_flash_messages(true)", onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('flash_message.close')

    #box-tools
      #box-tools-header
        = t(".tools")
      %ul
        %li
          %a#hand-tool{href: "#void", onclick: "toolChanger(event, this)"}
            %i.icon-hand
            = t(".hand")
        %li
          %a#text-tool{href: "#void", onclick: "toolChanger(event, this)"}
            %i.icon-write
            = t(".text")
        %li
          %a#brush-tool{href: "#void", onclick: "toolChanger(event, this)"}
            %i.icon-pencil
            = t(".brush")

    %main.container

    #loading
      %h2= t('.saving_file')
      %img= image_tag('loading.gif')

:javascript
  $(function(){
    if (!canvasSupport()) { return; } // Verify if the browser support HTML5 Canvas

    var url = "#{@file_path}"; // Url to render file
    var editions_by_user = JSON.parse('#{@canvas_data}');

    $("#save > a").click(function(event){
      var images = {};

      $("main").find("canvas").each(function(index, canvas){
        images[canvas.id] = canvas.toDataURL('image/png');
      });

      salving();
      $.ajax({
        url: "save_online_correction_file",
        data: { imgs: images },
        type: "POST",
        beforeSend: function (xhr){
          var token =$("meta[name='csrf-token']").attr("content");
          xhr.setRequestHeader("X-CSRF-Token", token);
        }
      }).done(function (data) {
        $.fancybox.close();
        flash_message(data.notice, 'notice');
      }).fail(function(jqXHR, textStatus, data){
        $.fancybox.close();
        flash_message(data.alert, 'alert');
      });
    });

    if( url.search("pdf") == -1) {
      renderImage(url, editions_by_user);
    } else {
      renderPDF(url, editions_by_user);
    }
  });
