<!-- Portlet da Unidade Curricular que exibe a agenda da mesma -->
<div id="agenda_portlet" class="curriculum_unit_portlets_small">
  <div class="curriculum_unit_portlet_small_header">
    <%= image_tag "icon_agenda.png", :alt=>t(:icon_agenda) %>
    <%= t(:curriculum_access_agenda)%>
  </div>
  <div class="calendar" id="agenda"></div>
  <!-- Classe que carrega o Ajax -->
  <div class="calendar_events"></div>
  <div id="dates-schedules-events" style="display: none;">
    <span id="dates-values"><%=raw @scheduled_events %></span>
  </div>
</div>

<script type="text/javascript">

  //--------------------------------------
  // Destaca dias que possuem algum evento
  //--------------------------------------

  var highlightDay = function(date) {

    // recuperando as datas dos eventos correntes
    var all_dates_schedules_events = eval($('#dates-values', $('#dates-schedules-events')).html());

    for (var idx in all_dates_schedules_events) {
      // esperando o formato yyyy-mm-dd
      var date_split = all_dates_schedules_events[idx].split('-');
      var ano = date_split[0];
      var mes = (date_split[1] - 1); // a contagem do mes começa com 0
      var dia = date_split[2];
      var date_schedule = new Date(ano, mes, dia);

      if (date.toString() == date_schedule.toString())
        return [true, 'highlight-date-mark'];
    }

    return [true, ''];
  }

  //--------------------------------------------------------
  // Quando ocorre um evento de mudanca de dia, as schedules
  // para o novo dia devem ser exibidas
  //--------------------------------------------------------

  var changeDate = function(dateText) {
    $.get('/schedules/show', {
      date: dateText,
      id: <%= @curriculum_unit.id %>
    },
    function(response) {
      $('.calendar_events').html(response);
    });
  }

  //-----------------------------------------
  // Exibe a agenda no portlet
  // Obs.: esta funcao deve permanecer global
  //-----------------------------------------

  function showAgenda(){
    // carregando eventos do dia atual
    var today = new Date();
    changeDate(today.toGMTString());

    var local = '<%=I18n.locale%>';
    var locale = $.datepicker.regional[local];
    if (local=='en')
      locale = $.datepicker.regional['en-GB']

    $("#agenda").datepicker({
      option: locale,
      onSelect: function(dateText, inst) {
        changeDate(dateText);
      },
      beforeShowDay: highlightDay
    });
  }

  $(function() {

    //--------------------------------------------
    // Exibe a agenda ao terminar o load da pagina
    //--------------------------------------------

    showAgenda();
  });

</script>
