<%
#Portlet da Unidade Curricular que exibe as postagens dos fóruns ligados a ela mais recentes.
%>
<div id="forum_portlet" class="block_small">
  <div class="block_title">
    <h2><%= image_tag "icon_forum.png", :alt=>t(:icon_forum), :class=>(:block_title_icon) %><%= t(:curriculum_access_forum)%></h2>
  </div>

  <div id="block_forum" class="block_content">
    <% if !(@discussion_posts.nil? || @discussion_posts.empty?) %>
      <% @discussion_posts.each do |discussion_post| %>
        <div class="block_content_line">
          <span class="block_content_gray">
            <% if posted_today?(discussion_post.updated_at.to_datetime) %>
              <%= l(discussion_post.updated_at, :format => :today) %> 
            <% else %>    
              <%= l(discussion_post.updated_at, :format => :not_today) %> 
            <% end %>  
          </span>
          <%= link_to discussion_post.user.nick, discussion_posts_path(discussion_post.discussion_id), {:class => "link_content"} %>
          <%
            clear_content = strip_tags discussion_post.content
            clear_content = clear_content.rpartition("&")[0] if clear_content.rpartition("&")[2].length < 8 
            clear_content = slice_content(clear_content, 107) << ' (...)' if clear_content.length > 110
          %>
          <%= raw clear_content %>
        </div>
      <% end %>
    <% else %>
      <div class="block_content_text"><%= t(:forum_message) %></div>
    <% end %>

  </div>
</div>