/ Portlet da Unidade Curricular que exibe as postagens dos fóruns ligados a ela mais recentes.
.block_small#forum_portlet
  .block_title
    %h2
      %i.icon-forum
      = t(:curriculum_access_forum)

  .block_content#block_forum.portlet
    - if !(@discussion_posts.nil? || @discussion_posts.empty?)
      - @discussion_posts.each do |discussion_post|
        .block_content_line
          %span.block_content_gray
            - date = discussion_post.updated_at.to_datetime
            = l(date, format: (posted_today?(date) ? :today : :not_today))
          = link_to discussion_post.user.nick, discussion_posts_path(discussion_post.discussion.id, bread: 'menu_discussion'), {class: 'link_content can-update-menu', 'data-menu-bread' => 'menu_discussion'}
          = raw truncate((strip_tags discussion_post.content), length: 110, omission: ' (...) ')
    - else
      .block_content_text= t(:forum_no_messages)
