<span class="form_requirement"><%= t(:required_fields) %></span>
<%= simple_form_for(@curriculum_unit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs block_content">
    <%= f.association :curriculum_unit_type, :collection => CurriculumUnitType.all(:order => 'description').map {|a| [a.description, a.id] }, :include_blank => false %>
    <%= f.input :name %> 
    <%= f.input :code %> 
    <%= f.input :passing_grade %> 
    <%= f.input :resume %>
    <%= f.input :syllabus %>
    <%= f.input :objectives, :class=>"btn btn_default" %>
    <%= f.input :prerequisites %>
  </div>
  <div class="block_content form-actions">
    <%= f.submit t(:confirm), :id=>"confirm", :class=>"btn btn_main", :alt=> t(:confirm) %>
    <input value="<%= t(:back) %>" type="button" class="btn btn_default" onClick="removeLightBox();" />
    <%#= link_to t(:back), curriculum_units_path, :class=>"btn btn_default" %>
   
  </div>


<% end %>
