= javascript_include_tag "edition.js"

%span.form_requirement= t(:required_fields)
.curriculum_unit_form
  = simple_form_for(@curriculum_unit, :html => {:id => "curriculum_unit_form"}) do |f| 

    .form-inputs.block_content
      = f.association :curriculum_unit_type, :collection => CurriculumUnitType.all(:order => 'description').map {|a| [a.description, a.id] }, :include_blank => false 
      = f.input :name
      = f.input :code
      = f.input :passing_grade, :input_html => { :min => 0, :max => 10, :step => 0.5 }
      = f.input :resume 
      = f.input :syllabus
      = f.input :objectives, :class => "btn btn_default"
      = f.input :prerequisites 
      .form-actions.button-align
        = button_tag t(".cancel"), :class => "btn btn_default btn_lightbox", :type => "button", :alt => t(:cancel, :scope => [:discussion, :buttons]), :id => "cancel"
        = button_tag t(".save"), :class => "btn btn_main btn_lightbox", :alt => t(:save, :scope => [:discussion, :buttons]), :type => "button", :id => "save"

:javascript

  $(document).ready(function(){

    $("#save").click(function(){
      submit_form('curriculum_unit_form', 'curriculum_unit_form', '#{curriculum_units_path}', 'list_curriculum_units');
    });

    $("#cancel").click(function(){
      removeLightBox();
    });
    
  });

