= javascript_include_tag "edition"

%span.form_requirement= t(:required_fields)
.curriculum_unit_form
  = simple_form_for(@curriculum_unit, html: {id: "curriculum_unit_form"}) do |f| 

    .form-inputs.block_content
      = f.label :curriculum_unit_type
      %span#text_as_label=@curriculum_unit.curriculum_unit_type.description
      = f.association :curriculum_unit_type, as: :hidden, input_html: {value: @curriculum_unit.curriculum_unit_type.id}
      = f.input :name
      = f.input :code
      = f.input :passing_grade, input_html: { min: 0, max: 10, step: 0.5 }
      = f.input :resume 
      = f.input :syllabus
      = f.input :objectives, :class => "btn btn_default"
      = f.input :prerequisites 
      .form-actions.button-align
        = button_tag t(".cancel"), class: "btn btn_default btn_lightbox", type: "button", alt: t(:cancel, scope: [:discussion, :buttons]), id: "cancel"
        = button_tag t(".save"), class: "btn btn_main btn_lightbox", alt: t(:save, scope: [:discussion, :buttons]), type: "button", id: "save"

:javascript

  $(function(){

    $('#save').click(function(){
      $('#curriculum_unit_form').serialize_and_submit({
        complement_success: function(data) {
          var post_code_name = data.code_name;
          var id = data.id;

          var url = "#{curriculum_units_path(type: @curriculum_unit.curriculum_unit_type.id, curriculum_unit_id: 'curriculum_unit_param')}";

          // criar método pra poder chamar em todas as listagens
          if($("#code_name").is_empty())
            var curriculum_unit_id = '';
          else
            var curriculum_unit_id = $("#code_name").combobox('value');

          $.get(url.replace('curriculum_unit_param', curriculum_unit_id), function(data) {
            $('.ucs_list').html(data);

            var autocomplete_option = $('option[value='+id+']');

            if (!autocomplete_option.length){
              // cria nova uc na lista
              $("<option value="+id+">"+post_code_name+"</option>").appendTo("#code_name");
            }else{
              // atualiza a uc alterada na lista do autocomplete
              autocomplete_option.text(post_code_name);
              // se a uc alterada foi a selecionada no autocomplete, alterar o valor do input
              if($("#code_name").combobox('value') == id)
                $("#autocomplete-input").val(post_code_name);
            }
          });
        }
      });
    });

    $("#cancel").click(function(){
      removeLightBox();
    });
    
  });
