- tool_name = case @curriculum_unit.curriculum_unit_type.id
  - when 3
  - "course"
  - when 4
  - "module"
  - else
  - "curriculum_unit"

%span.form_requirement= t(:required_fields)
.curriculum_unit_form
  = simple_form_for(@curriculum_unit, html: {id: "curriculum_unit_form"}) do |f|
    - title = [(@curriculum_unit.persisted? ? "edit" : "new"), tool_name].join("_")
    %h1#lightBoxDialogTitle= t(".#{title}")
    %span.form_requirement= t(:required_fields)

    .form-inputs.block_content.space
      = f.label :curriculum_unit_type
      %span#text_as_label=@curriculum_unit.curriculum_unit_type.description
      = f.association :curriculum_unit_type, as: :hidden, input_html: {value: @curriculum_unit.curriculum_unit_type.id}
      = f.input :name
      = f.input :code, input_html: {size: 50}
      = f.input :resume
      = f.input :objectives, :class => "btn btn_default"
      = f.input :syllabus
      = f.input :prerequisites
      = f.input :passing_grade, input_html: { min: 0, max: 10, step: 0.5 }
      = f.input :working_hours, as: :numeric

      .form-actions.button-align
        = button_to_function t(".cancel"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"
        = button_tag t(".save"), class: "btn btn_main btn_lightbox", alt: t(".save"), type: "button", id: "save"

:javascript

  jQuery(function($){
    $("#curriculum_unit").combobox("enable");
    var type_id = "#{escape_once(@curriculum_unit.curriculum_unit_type_id)}";

    $('#save').click(function(){
      $('#curriculum_unit_form').serialize_and_submit({
        complement_success: function(data) {
          var post_code_name = data.code_name;
          var id = data.id;
          var url = "#{curriculum_units_path(type_id: @curriculum_unit.curriculum_unit_type.id, curriculum_unit_id: 'curriculum_unit_param')}";

          var message = data.message;
          var type_message = data.type_message;

          // criar método pra poder chamar em todas as listagens
          if ($("#curriculum_unit").is_empty())
            var curriculum_unit_id = '';
          else
            var curriculum_unit_id = $("#curriculum_unit").combobox('value');

          $.get(url.replace('curriculum_unit_param', curriculum_unit_id), function(data) {
            $('.ucs_list').html(data);

            var autocomplete_option = $('option[value='+id+']');

            flash_message(message, type_message);

            if (!autocomplete_option.length){
              // cria nova uc na lista
              $("<option value="+id+">"+post_code_name+"</option>").appendTo("#curriculum_unit");
            } else {
              // atualiza a uc alterada na lista do autocomplete
              autocomplete_option.text(post_code_name);
              // se a uc alterada foi a selecionada no autocomplete, alterar o valor do input
              if($("#curriculum_unit").combobox('value') == id)
                $("#autocomplete-input").val(post_code_name);
            }

          });
        }
      });
      setTimeout(function() {
        focuInpuErro();
      }, 700);
    });

  });
