- t_tool_name = @type.id == 4 ? t("editions.academic.module") : @type.tool_name 
.block_wrapper
  .block_title
    %h2=t_tool_name
  .block_content_toolbar
    .block_toolbar_left.btn-group
      = link_to content_tag(:i, nil, class: 'icon-plus'), new_curriculum_unit_path(type_id: @type.id), class: " btn btn_main", id: "btn_new_curriculum_unit", :"data-tooltip" => t( ((@type.id != 3 and @type.id != 4) ? ".new_curriculum_unit" : ".new"), uc_or_module: t_tool_name)

    .block_toolbar_right
      = link_to_function content_tag(:i, nil, class: 'icon-trash'), "delete_curriculum_unit(this)", class: 'btn btn_del', :'data-tooltip' => t(".delete", uc_or_module: t_tool_name), :"data-link-delete" => curriculum_unit_path(id: ':id'), disabled: true

- unless @curriculum_units.nil? or @curriculum_units.empty?
  %table.tb_list{cellpadding: "10", cellspacing: "0", width: "100%", style: "table-layout: fixed"}
    %thead
      %tr.lines
        %th.no_sort.center{style: "width:25px"}
          %input#all_curriculum_unit{type: "checkbox", :"data-children-names" => "ckb_curriculum_unit"}
        %th.no_sort{width: "12%"}= CurriculumUnit.human_attribute_name(:code)
        %th{width: "38%"}= CurriculumUnit.human_attribute_name(:name)
        %th{width: "28%"}= CurriculumUnit.human_attribute_name(:category)
        %th.no_sort{width: "12%"}
    %tbody.curriculum_units
      = render partial: 'curriculum_units/curriculum_units'
  = link_to content_tag(:i, nil, class: "icon-ellipsis"), curriculum_units_path(page: @curriculum_units.next_page, type_id: @type.id), class: 'load-more-ucs', remote: true, :"data-tooltip" => t(:load_items) if @curriculum_units.next_page
- else
  .block_content_text_list.text_none
    = t(:item_search_no_found)


:javascript

  jQuery(function($){
    $("#btn_new_curriculum_unit").call_fancybox();

    $(".block_toolbar_right span.btn").click(function(){
      var check = $(':checkbox', this);
      check.prop('checked', !check[0].checked);
    });

    $('#all_curriculum_unit').nice_checkbox({
      can_enable_elements: true
    });

  });
