.lesson_portlet.block_wrapper
  .block_title
    %h2
      %i.icon-lesson{:'aria-hidden' =>'true'}
      = t(:curriculum_access_lesson)
  .block_content{:id => 'block_lessons'}
    - unless @lessons_modules.empty?
      - @lessons_modules.each do |lmodule|
        .module= lmodule.name
        - lmodule.lessons_to_open(current_user).each do |lesson|
          - lesson_closed_class = "block_content_line "
          - lesson_closed_class = lesson_closed_class + "period_ended" if (lesson.closed?)
          %div{class: lesson_closed_class}
            %span.block_content_gray
              = "#{t(:since)}" if (lesson.schedule.end_date.nil?)
              = [l(lesson.schedule.start_date, format: :normal), (lesson.schedule.end_date.nil? ? t(:no_end_date) : l(lesson.schedule.end_date, format: :normal))].join(" - ")
            = link_to lesson.name, open_lesson_path(lesson.id), class: "link_content lesson", "data-fancybox-type" => "iframe", :'aria-label' => lesson.name + t('fancybox.open')
            -if lesson.is_draft?
              .test_lesson= "(#{t(:lesson_test)})"
            - if lesson.will_open?
              .test_lesson= "(#{t(:lesson_will_open)})"
    - else
      .block_content.block_content_text= t(:lesson_message)

:javascript

  $(function(){
    $("a.lesson").click(function(e){
      e.preventDefault();
      $(this).nice_open_lesson();
    });
  });
