<%
#Portlet da Unidade Curricular que exibe as aulas.
%>
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= image_tag "icon_lesson.png", :alt=>t(:icon_lesson), :class=>(:block_title_icon) %><%= t(:curriculum_access_lesson) %></h2>
    </div>
    <div class="block_content" id="block_lessons">
      <% if !(@lessons.nil? || @lessons.empty?) %>
        <% @lessons.each do |lesson| %>
          <div class="block_content_line">
            <%schedule= Schedule.find(lesson.schedule_id)%>
            <%if lesson.schedule.end_date.nil?%>
            <span class="block_content_gray">
              <%= l schedule.start_date  %>
            </span>
            <a class="link_content" href="javascript:show_lesson('/lessons/show?id=<%=@curriculum_unit.id%>&l=<%=lesson.lessonid%>')"><%=lesson.name%></a>
            <%elsif lesson.schedule.end_date >= Date.today%>
            <span class="block_content_gray">
              <%= l schedule.start_date  %> - <%= l schedule.end_date %>
            </span>

            <a class="link_content" href="javascript:show_lesson('/lessons/show?id=<%=@curriculum_unit.id%>&l=<%=lesson.lessonid%>')"><%=lesson.name%></a>
            <%elsif lesson.schedule.end_date < Date.today%>
            <span class="block_content_gray">
              <%= l schedule.start_date  %> - <%= l schedule.end_date %>
            </span>
             <a class="link_content" ><%=lesson.name%></a>
            <%end%>

          </div>
        <% end %>
      <% else %>
        <div class="block_content_spacing block_content_text"><%= t(:lesson_message) %></div>
      <% end %>
    </div>
  </div>