<div class="block_wrapper">
  <div class="block_title">
    <h2><i class="icon-lesson"></i>&nbsp;<%= t(:curriculum_access_lesson) %></h2>
  </div>
  <div class="block_content" id="block_lessons">
    <% unless @lessons.nil? or @lessons.empty? %>
      <% @lessons.each do |lesson| %>
        <div class="block_content_line <%= 'period_ended' if lesson.closed == 't' %>">
          <% schedule= Schedule.find(lesson.schedule_id) %>
          <% if lesson.schedule.end_date.nil? %>
            <span class="block_content_gray">
              <%= l schedule.start_date, :format => :normal %>
            </span>
          <% elsif lesson.schedule.end_date >= Date.today or lesson.schedule.end_date < Date.today %>
            <span class="block_content_gray">
              <%= l schedule.start_date, :format => :normal  %> - <%= l schedule.end_date, :format => :normal %>
            </span>
          <% end %>
          <% unless lesson.schedule.end_date < Date.today %>
            <a class="link_content" href="javascript:show_lesson('<%= url_for :controller => :lessons, :action => :show, :id => lesson.lesson_id %>')">
              <%= lesson.name %>
            </a>
          <% else %>
            <%=lesson.name%> <%= "(#{t(:lesson_closed_short)})" if lesson.closed == 't' %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="block_content_spacing block_content_text"><%= t(:lesson_message) %></div>
    <% end %>
  </div>
</div>
