<%
#Portlet da Unidade Curricular que exibe as mensagens não lidas mais recentes.
%>
<div id="block_messages" class="block_small">
  <div class="block_title">
    <h2><%= image_tag "icon_message.png", :alt=>t(:icon_message), :class=>(:block_title_icon) %><%= t(:curriculum_access_message)%></h2>
    <span class="text_alert">&nbsp;&nbsp;
      <% if !(@messages.nil? || @messages.empty?) %>
        [<%=@messages.count%>] <%= t(:curriculum_access_new) %>
      <% end %>
    </span>
  </div>

  <div id="block_messages_content" class="block_content">
    <% if !(@messages.nil? || @messages.empty?) %>
      <% @messages.each do |message| %>
        <div class="block_content_line">
          <span class="block_content_gray">
            <% if sent_today?(message.send_date.to_datetime) %>
              <%= l(message.send_date, :format => :today) %> 
            <% else %>    
              <%= l(message.send_date, :format => :not_today) %> 
            <% end %>  
          </span>
          <%= link_to message.sender,  {:controller => 'messages', :action => 'show', :id => message.id},{:class => 'link_content'} %>
          <%
          msg_subject = strip_tags message.subject
          msg_subject = slice_content(msg_subject, 107) << ' (...)' if msg_subject.length > 110
        %>
          <%= raw  msg_subject %>
        </div>
      <% end %>
    <% else %>
      <div class="block_content_text"><%= t(:message_no_new) %></div>
    <% end %>

  </div>
  <div class="block_messages_opt">
    <%= link_to t(:curriculum_access_message_inbox), {:controller => 'messages'}, {:class=>'link_content_gray'} %>&nbsp;|
    <%= link_to t(:curriculum_access_message_new), {:controller => 'messages', :action => 'new'}, {:class=>'link_content_gray'} %>
  </div>
</div>