%div
  .block_wrapper.portlet
    .block_title
      .block_left
        %h2= t(:curriculum_access_curriculum_unit)
      .block_right
        %h2= t(:curriculum_unit_responsible)
    .block_content
      .block_left
        = @curriculum_unit.try(:resume)
      .block_right
        - if @responsible
          - @responsible.each do |resp|
            = [resp.name, " (", resp.profile_name, ") "].join
            %span= link_to (image_tag "icon_message.png", alt: t(:icon_send_email)), new_message_path(user_id: resp.id, bread: 'menu_messages'), class: 'can-update-menu', 'data-menu-bread' => 'menu_messages'
            %br

  = render "lesson_portlet"

  .block_wrapper.block_wrapper_small
    = render "message_portlet"
    = render "discussion_posts_portlet"
    = render "agenda_portlet"
