= javascript_include_tag "edition.js"

.block_wrapper#list_curriculum_units

  .block_title
    %h2
      = image_tag "icon_curriculum_unit.png", :alt => " ", :class => (:block_title_icon)
      = t(:my_solar_curriculum_units)
    %span.right_buttons
      = button_tag t(".new"), :class => "btn btn_main btn_new_curriculum_unit", :type => :button

  %table.tb_list{:cellpadding => "10", :cellspacing => "0", :width => "100%", :style => "table-layout: fixed"}
    %thead
      %tr.lines
        %th{:width => "12%"}= CurriculumUnit.human_attribute_name(:code) 
        %th{:width => "38%"}= CurriculumUnit.human_attribute_name(:name)
        %th{:width => "28%"}= CurriculumUnit.human_attribute_name(:category)
        %th{:width => "10%"}
        %th{:width => "10%"}
    %tbody
      - @curriculum_units.each do |curriculum_unit|
        %tr.lines
          %td= curriculum_unit.code
          %td= curriculum_unit.name
          %td{:align => "left"}= curriculum_unit.curriculum_unit_type.description
          %td
            = form_for(:curriculum_unit, :url => edit_curriculum_unit_path(curriculum_unit)) do |f|
              = button_tag t(".edit"), :class => "btn btn_default edit", :type => :button, :alt => t(".edit_curriculum_unit", :curriculum_unit => curriculum_unit.name)
          %td
            = button_to t(".delete"), curriculum_unit, { method: :delete, class: "btn btn_caution delete", :alt => t(".delete_curriculum_unit", :curriculum_unit => curriculum_unit.name), :id => t(".delete_curriculum_unit", :curriculum_unit => curriculum_unit.name), confirm: t(:curriculum_unit_delete_confirm, :curriculum_unit_name => curriculum_unit.name)}

:javascript

  $(document).ready(function(){
    $('.btn_new_curriculum_unit').click(function(){
      open_lightbox2('#{new_curriculum_unit_path }', '#{t(:curriculum_unit_new_title)}');
    });

    $('.edit').click(function(){
      open_lightbox2($(this).parent().attr('action'), $(this).attr('alt'));
    });

  });