<div>
  <%= raw render_group_selection %></br>
  <%= image_tag "icon_curriculum_unit.png", :alt=>t(:icon_curriculum_unit) %>
  <span class="page_title"><%=t(:curriculum_unit_information_title)%></span>
  <hr style="border: none; background-color: #b4b3b7; height: 1px; width:550px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

  <table border="0" id="table_informations" cellpadding="10" cellspacing="0" width="550px" style="border: 1px solid #dbe5e8">
    <tbody>
      <tr class="rowtable_odd" >
        <td class="td_blue_center"><%= t(:syllabus) %></td>
        <td class="td_blue"><%= @curriculum_unit.syllabus %></td>
      </tr>
      <tr class="rowtable_even">
        <td class="td_blue_center"><%= t(:objectives) %></td>
        <td class="td_blue"><%= @curriculum_unit.objectives %></td>
      </tr>
      <tr class="rowtable_odd" >
        <td class="td_blue_center"><%= t(:prerequisites) %></td>
        <td class="td_blue"><%= @curriculum_unit.prerequisites %></td>
      </tr>
      <tr class="rowtable_even">
        <td class="td_blue_center"><%= t(:resume) %></td>
        <td class="td_blue"><%= @curriculum_unit.resume %></td>
      </tr>
      <% unless @offer.nil? %>
        <tr class="rowtable_odd">
          <td class="td_blue_center"><%= t(:semester_date) %></td>
          <td class="td_blue"><%= l @offer.start %> - <%= l @offer.end %></td>
        </tr>
      <% end %>
      <tr class="rowtable_even">
        <td class="td_blue_center"><%= t(:passing_grade) %></td>
        <td class="td_blue"><%= @curriculum_unit.passing_grade %></td>
      </tr>
      <tr class="rowtable_odd" >
        <td class="td_blue_center"><%= t(:curriculum_unit_responsible) %></td>
        <td class="td_blue">
          <% if @responsible %>
            <% @responsible.each do |resp| %>
              <%=resp.username + ' (' + resp.profilename + ') '%><span><%= link_to (image_tag "icon_send_mail.png", :alt=>t(:icon_send_email)) %></span><br/>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>