- if @curriculum_unit.nil?
  .title-warning=raw t(".warning")
.block_wrapper
  .block_title
    %h2
      %i.icon-docs
      = t(:curriculum_unit_information_title)

  %table.tb_list{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", summary: t('.summary')}
    %tbody
      %tr.lines
        %th.act_like_td#syllabus{:style => "width: 20%;"}= t(:syllabus) 
        %td{headers: 'syllabus'}= @curriculum_unit.try(:syllabus)
      %tr.lines
        %th.act_like_td#objectives= t(:objectives)
        %td{headers: 'objectives'}= @curriculum_unit.try(:objectives)
      %tr.lines
        %th.act_like_td#prerequisites= t(:prerequisites) 
        %td{headers: 'prerequisites'}= @curriculum_unit.try(:prerequisites)
      %tr.lines
        %th.act_like_td#resume= t(:resume) 
        %td{headers: 'resume'}= @curriculum_unit.try(:resume)
      - unless @offer.nil?
        %tr.lines
          %th.act_like_td#semester= t(:semester_date) 
          %td{headers: 'semester'}= [l(@offer.start_date), l(@offer.end_date)].join(" - ")
      %tr.lines
        %th.act_like_td#grade= t(:passing_grade) 
        %td{headers: 'grade'}= @curriculum_unit.try(:passing_grade)
      %tr.lines
        %th.act_like_td#wh= t(:working_hours) 
        %td{headers: 'wh'}= @curriculum_unit.try(:working_hours)
      %tr.lines.responsibles
        %th.act_like_td#responsibles= t(:curriculum_unit_responsible) 
        %td{headers: 'responsibles'}
          - if @responsible
            - @responsible.each do |resp|
              %p
                = resp.name + ' (' + resp.profile_name + ') '
                = link_to (content_tag(:i, nil, class: 'icon-mail', :'aria-hidden' => 'true')), new_message_path(user_id: resp.id), class: 'nodecoration', :'aria-label' => t('messages.message_to', name: resp.name)
