<div>
  <div class="block_wrapper">
    <div class="block_title">
      <div class="block_left">
        <h2><%=t(:curriculum_access_curriculum_unit)%></h2>
      </div>
      <div class="block_right">
        <h2><%=t(:curriculum_unit_responsible)%></h2>
      </div>
    </div>
    <div class="block_content">
      <div class="block_left">
        <%=@curriculum_unit.resume %>
      </div>
      <div class="block_right">
        <% if @responsible %>
          <% @responsible.each do |resp| %>
            <%= resp.name + ' (' + resp.profile_name + ') '%><span><%= link_to (image_tag "icon_message.png", :alt=>t(:icon_send_email)) %></span><br/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'lesson_portlet' %>

  <div class="block_wrapper block_wrapper_small">
    <%= render 'message_portlet' %>
    <%= render 'discussion_posts_portlet' %>
    <%= render 'agenda_portlet' %>
  </div>
</div>