<p id="notice"><%= notice %></p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("name")%>:</b>
  <%= @curriculum_unit.name %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("code")%>:</b>
  <%= @curriculum_unit.code %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("curriculum_unit_type")%>:</b>
  <%= @curriculum_unit.curriculum_unit_type.description %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("resume")%>:</b>
  <%= @curriculum_unit.resume %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("syllabus")%>:</b>
  <%= @curriculum_unit.syllabus %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("passing_grade")%>:</b>
  <%= @curriculum_unit.passing_grade %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("objectives")%>:</b>
  <%= @curriculum_unit.objectives %>
</p>

<p>
  <b><%= CurriculumUnit.human_attribute_name("prerequisites")%>:</b>
  <%= @curriculum_unit.prerequisites %>
</p>


<%= link_to t(:edit), edit_curriculum_unit_path(@curriculum_unit) %> |
<%= link_to t(:back), curriculum_units_path %>
