- @available_courses.each do |course_edx|
  - course = Base64.encode64(course_edx['resource_uri']) 
  %tr.lines.edx
    %td= course_edx['display_name']
    %td
      = image_tag(CurriculumUnitType.find(7).icon_name)
      = CurriculumUnitType.find(7).description
    - course_edx_id = course_edx['course_id'].split("/")  
    %td= course_edx_id[2]
    %td= course_edx_id[1]   
    %td= l(course_edx['enrollment_start'].to_date , format: :default) + " - " + l(course_edx['enrollment_end'].to_date, format: :default) if course_edx['enrollment_start'] and course_edx['enrollment_end']
    - user_enrolled = @my_courses.include?(course_edx['course_id'])
    %td= button_to t("enrollments.index.#{user_enrolled ? "cancel" : "enroll"}"), eval("#{user_enrolled ? 'unenroll' : 'enroll'}_edx_courses_path(course: course)"), class: "btn #{user_enrolled ? 'btn_caution' : 'btn_default'}"
