= stylesheet_link_tag "autocomplete"
= javascript_include_tag "autocomplete", "edition"

.edition.block_content
  %p= t(:required_fields)
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .filter
      .curriculum_unit_type
        = label_tag :curriculum_unit_type, t(".type")
        = select_tag :curriculum_unit_type, options_from_collection_for_select(types, "id", "description", type_id), include_blank: true

      .course
        - course_optional = (not(optionals.nil?) and optionals.include?("course"))
        = label_tag :course, [t(".course"), course_optional ? '' : '*'].join
        = select_tag :course, nil, :'data-optional' => course_optional

      .curriculum_unit
        - uc_optional = (not(optionals.nil?) and optionals.include?("curriculum_unit"))
        = label_tag :curriculum_unit, [t(".curriculum_unit"), uc_optional ? '' : '*'].join
        = select_tag :curriculum_unit, nil, :'data-optional' => uc_optional

      .semester
        - s_optional = (not(optionals.nil?) and optionals.include?("semester"))
        = label_tag :semester, [t(".semester"), s_optional ? '' : '*'].join
        = select_tag :semester, nil, :'data-optional' => s_optional, :'data-permit-offer' => defined?(permit_offer).nil? ? true : permit_offer

      .offer_groups_options
        .radio_options
          = radio_button :radio, :option, "offer", disabled: true
          = label_tag :radio_option_offer, t(".offer")

          = radio_button :radio, :option, "group", disabled: true
          = label_tag :radio_option_group, t(".group")

        .groups

      = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => url, id: "search", :"data-load-to" => "#{list_class}"}

  .edition_content

    - if back
      .back.invisible
        = render "editions/back_items"
        
    %div{class: "#{list_class}"}

    - if back
      .back.invisible
        = render "editions/back_items"

:javascript
  $(function(){
    $(".back_btn").click(function(){
      erase_flash_messages();

      var data = {
        allocation_tags_ids: $("#allocation_tags_ids").val(),
        selected: $("#selected").val(),
        offer_id: $("#offer_id").val()
      };

      $.get($(this).attr("href"), data, function(data){ $(".edition_items").replaceWith(data); });
      $(".back").addClass("invisible");
      return false;
    });
  });
