/ Permissões para ofertar

/ perfis que permitem acesso às ofertas
- profiles_permitted_to_offer = PermissionsResource.where(:resource_id => Resource.find_by_controller_and_action("semesters", "index").id).map(&:profile_id)

/ allocation_tags do usuário com os perfis permitidos e as relacionadas "para baixo"
- allocations_tags_permitted_to_offer = current_user.allocations.where(:profile_id => profiles_permitted_to_offer).map(&:allocation_tag_id).compact.collect{|al| AllocationTag.find(al).related({lower: true})}.flatten.uniq




= javascript_include_tag "autocomplete.js"
= stylesheet_link_tag "autocomplete" 
= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"

.filter_type
	= select_tag(:type, options_from_collection_for_select(CurriculumUnitType.all, :id, :description))
.filter_course
	= select_tag(:course, options_from_collection_for_select(Course.all, :id, :name), {include_blank: true})
.filter_semester
	= select_tag(:semester)
/, options_from_collection_for_select(Semester.all, :id, :name), {include_blank: true})
.filter_curriculum_unit
	= select_tag(:curriculum_unit) 
/, options_from_collection_for_select(CurriculumUnit.all, :id, :name), {include_blank: true})


:javascript

	var allocations_tags_permitted = #{allocations_tags_permitted_to_offer};

	//Declarando caminhos para a busca do componente.		
	var search_urls = {
		"course": "#{url_for :controller => :courses, :format => "json"}", 
		"semester": "#{url_for :controller => :semesters, :action => "list", :format => "json"}", 
		"curriculumUnit": "#{url_for :controller => :offers, :action => "list", :format => "json"}",
		"group": "#{url_for :controller => :groups, :action => "list", :format => "json"}"
	};
		
	var hints = {
		"course": "#{I18n.t(:places_nav_panel_course_hint)}", 
		"semester": "#{I18n.t(:places_nav_panel_semester_hint)}", 
		"curriculumUnit": "#{I18n.t(:places_nav_panel_curriculum_unit_hint)}",
		"group": "#{I18n.t(:places_nav_panel_group_hint)}"
	};
	
	var messages = {
		"searching": "#{I18n.t(:places_nav_panel_searching_text)}", 
		"noResults": "#{I18n.t(:places_nav_panel_empty_text)}"
	};
	
	$( "#course" ).change(function() {
		var course_id = $("#course").val();
		$.ajax({
			url: "#{url_for :controller => :semesters, :action => "list", :format => "json"}",
			data: { "course_id": course_id },
			success: function(dt) {
				$('#semester').empty(); 
				$('#curriculum_unit').empty();
		 		var options = "<option> </option>";
				$.each(dt, function(key, value){
					options += '<option value="' + key + '">' + value + '</option>';
				});
				$("#semester").html(options);
			}
		})		
	})

	$(document).ready(function(){
		$( "#course" ).combobox();
		$( "#semester" ).combobox();
		$( "#curriculum_unit" ).combobox();
	});
