.edition_items

  %fieldset#uc_informations
    %legend= t('.information')
    .block_content.block_content_alt

      - if @user_profiles.include?(bibliographies: :list) && Bibliography.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .bibliography{ :"data-link" => list_bibliographies_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-users big'), '#', class: 'btn'
            = link_to t('.bibliography'), '#'

      - if @user_profiles.include?(agendas: :calendar)
        .uc_item
          .schedule{ :"data-link" => calendar_agendas_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id, selected: @selected) }
            = link_to content_tag(:i, nil, class: 'icon-calendar big'), '#', class: 'btn'
            = link_to t('.schedule'), '#'

      - if @user_profiles.include?(allocations: :manage_profiles) && Allocation.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .allocation{ :"data-link" => designates_allocations_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-user-add big'), '#', class: 'btn'
            = link_to t('.allocation'), '#'

      - if @user_profiles.include?(notifications: :list) && Notification.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .notification{ :"data-link" => list_notifications_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-warning big'), '#', class: 'btn'
            = link_to t('.notification'), '#'

  %fieldset#uc_comunication
    %legend=t('.comunication')
    .block_content.block_content_alt

      - if @user_profiles.include?(discussions: :list) && Discussion.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .discussion{ :"data-link" => list_discussions_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-users big'), '#', class: 'btn'
            = link_to t('.discussion'), '#'

      - if @user_profiles.include?(chat_rooms: :index) && ChatRoom.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .chat{ :"data-link" => chat_rooms_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-chat big'), '#', class: 'btn'
            = link_to t('.chat'), '#'

      - if @user_profiles.include?(webconferences: :list) && Webconference.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .webconference{ :"data-link" => list_webconferences_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-video-conference big'), '#', class: 'btn'
            = link_to t('.webconference'), '#'

  %fieldset#uc_education
    %legend=t('.education')
    .block_content.block_content_alt

      - if @user_profiles.include?(exams: :list) && Exam.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .exam{ :"data-link" => list_exams_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-exam big'), '#', class: 'btn'
            = link_to t('.test'), '#'

      - if @user_profiles.include?(lessons: :list) && Lesson.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .lesson{ :"data-link" => list_lessons_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-class big'), '#', class: 'btn'
            = link_to t('.lesson'), '#'

      - if @user_profiles.include?(support_material_files: :list) && SupportMaterialFile.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .support_material{ :"data-link" => list_support_material_files_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-archive big'), '#', class: 'btn'
            = link_to t('.support_material'), '#'

      - if @user_profiles.include?(assignments: :index) && Assignment.constants.include?("#{@selected}_PERMISSION".to_sym)
        .uc_item
          .assignment{ :"data-link" => assignments_path(allocation_tags_ids: @allocation_tags_ids, offer_id: @offer_id) }
            = link_to content_tag(:i, nil, class: 'icon-homework big'), '#', class: 'btn'
            = link_to t('.assignment'), '#'

= hidden_field_tag :allocation_tags_ids, @allocation_tags_ids
= hidden_field_tag :selected, @selected
= hidden_field_tag :offer_id, @offer_id

:javascript

  $(document).ready(function(){

    $(".uc_item .import_user").call_fancybox({href: $(".uc_item .import_user").data("link")});

    $(".edition_items a").not(".disabled").click(function(){
      $.get($($(this).parent()).data("link"), function(data){
        $(".edition_items").html(data);
        $(".back").removeClass("invisible");
      });
    });

    // se nenhuma opção estiver disponível
    if( !$("#uc_education .block_content").children().size() && !$("#uc_comunication .block_content").children().size() && !$("#uc_informations .block_content").children().size()){
      flash_message("#{t(".no_permission_info")}", "warning");
      $(".edition_items").html("");
    }

    if( !$("#uc_education .block_content").children().size() )
      $("#uc_education").remove();

    if( !$("#uc_comunication .block_content").children().size() )
      $("#uc_comunication").remove();

    if( !$("#uc_informations .block_content").children().size() )
      $("#uc_informations").remove();

  });
