.edition_items

  %fieldset#uc_informations
    %legend= t(".information")
    .block_content.block_content_alt

      / - if (can? :lista_de_bibliography, Bibliography, :on => @allocation_tags_ids) and (@selected_offer)
      .uc_item
        .bibliography
          = link_to(content_tag(:i, nil, :class=>'icon-book big'), "#", :class=>'btn')
          = link_to t(".bibliography"), "#"
        / .bibliography= link_to (image_tag "/assets/edition/bibliography.png", :alt => t(".edition_of", :of => t(".bibliography")), :class => 'btn'), "#"
        / .bibliography

      / - if (can? :lista_de_schedules, Schedule, :on => @allocation_tags_ids) and (@selected_offer)
      .uc_item
        .schedule
          = link_to(content_tag(:i, nil, :class=>'icon-calendar big'), "#", :class=>'btn')
          = link_to t(".schedule"), "#"

      - if (can? :designates, Allocation, :on => @allocation_tags_ids) and (@selected_offer or @selected_group or @selected_course)
        .uc_item
          .allocation
            = link_to(content_tag(:i, nil, :class=>'icon-user-add big'), "#", :class=>'btn')
            = link_to t(".allocation"), "#"

      / - if (can? :lista_de_warnings, Warning, :on => @allocation_tags_ids) and (@selected_offer or @selected_group or @selected_course) 
      .uc_item
        .warning
          = link_to(content_tag(:i, nil, :class=>'icon-warning big'), "#", :class=>'btn', :onclick => "javascript:")
          = link_to t(".warning"), "#", :onclick => "javascript:alert('#{t(".in_development")}');"

  %fieldset#uc_comunication
    %legend=t(".comunication")
    .block_content.block_content_alt

      - if (can? :list, Discussion, :on => @allocation_tags_ids)  and (@selected_offer or @selected_group)
        .uc_item
          .discussion
            = link_to(content_tag(:i, nil, :class=>'icon-forum big'), "#", :class=>'btn')
            = link_to t(".discussion"), "#"

      / - if (can? :lista_de_chat, Chat, :on => @allocation_tags_ids) and (@selected_...)
      .uc_item
        .chat
          = link_to(content_tag(:i, nil, :class=>'icon-chat big'), "#", :class=>'btn')
          = link_to t(".chat"), "#"

      / - if (can? :lista_de_videoconference, Videoconference, :on => @allocation_tags_ids) and (@selected_...)
      .uc_item
        .videoconference
          = link_to(content_tag(:i, nil, :class=>'icon-screen big'), "#", :class=>'btn')
          = link_to t(".videoconference"), "#"

  %fieldset#uc_education
    %legend=t(".education")
    .block_content.block_content_alt

      - if (can? :list, Lesson, :on => @allocation_tags_ids) and (@selected_offer or @selected_group)
        .uc_item
          .lesson
            = link_to(content_tag(:i, nil, :class=>'icon-lesson big'), "#", :class=>'btn')
            = link_to t(".lesson"), "#"

      / - if (can? lista_de_suport_material, SupportMaterial, :on => @allocation_tags_ids) and (@selected_offer or @selected_group)
      .uc_item 
        .support_material
          = link_to(content_tag(:i, nil, :class=>'icon-archive big'), "#", :class=>'btn')
          = link_to t(".support_material"), "#"

      / - if (can? lista_de_assignments, Assignment, :on => @allocation_tags_ids) and (@selected_offer or @selected_group)
      .uc_item
        .assignment
          = link_to(content_tag(:i, nil, :class=>'icon-suitcase big'), "#", :class=>'btn')
          = link_to t(".assignment"), "#"

      / - if (can? lista_de_tests, Test, :on => @allocation_tags_ids) and (@selected_offer or @selected_group)
      .uc_item
        .test
          = link_to(content_tag(:i, nil, :class=>'icon-checkmark big'), "#", :class=>'btn')
          = link_to t(".test"), "#"

:javascript 

  $(document).ready(function(){

    // área de informação (information)

    $('.bibliography').click(function(){
      // update_content_url('url_de_bibliography_aqui)');
      alert('#{t(".in_development")}');
    });

    $('.schedule').click(function(){
      // update_content_url('url_de_schedules_aqui');
      alert('#{t(".in_development")}');
    });

    $('.allocation').click(function(){
      update_content_url('#{designates_allocations_path}');
    });

    $('.warning').click(function(){
      //update_content_url('url_de_warning_aqui');
      alert('#{t(".in_development")}');
    });

    // área de comunicação (comunication)

    $('.discussion').click(function(){
      update_content_url('#{list_discussions_path}');
    });

    $('.chat').click(function(){
      //update_content_url('url_de_chat_aqui');
      alert('#{t(".in_development")}');
    });

    $('.videoconference').click(function(){
      //update_content_url('url_de_videoconference_aqui');
      alert('#{t(".in_development")}');
    });

    // área de educação (education)
    
    $('.lesson').click(function(){
      update_content_url('#{list_lessons_path}');
    });

    $('.support_material').click(function(){
      //update_content_url('url_de_support_material_aqui');
      alert('#{t(".in_development")}');
    });

    $('.assignment').click(function(){
      // update_content_url('url_de_assignments_aqui');
      alert('#{t(".in_development")}');
    });

    $('.test').click(function(){
      alert('#{t(".in_development")}');
    });

  });