= javascript_include_tag "autocomplete"
= stylesheet_link_tag "vendor/jquery-ui-autocomplete", "vendor/autocomplete"

.edition.block_content
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .filter_type
      = label_tag :type, t(".type")
      = select_tag :type, options_from_collection_for_select(@types, 'id', 'description', @type), include_blank: true
      
      = link_to t(:search), "#", {class: 'btn btn_main', :"data-url-search" => groups_path, id: 'search'}

  %fieldset.academic.invisible
    .items
      .courses
        / - if can? :index, Course
        .academic_item{:"data-link-to" => academic_courses_editions_path(curriculum_unit_type_id: ':uc_type_id')}
          = link_to(content_tag(:i, nil, class: 'icon-book big'), "#", class: 'btn')
          = link_to t(".courses"), "#"

      .curriculum_units
        - if can? :index, CurriculumUnit
          .academic_item{:"data-link-to" => academic_uc_editions_path(curriculum_unit_type_id: ':uc_type_id')}
            = link_to(content_tag(:i, nil, class: 'icon-book big'), "#", class: 'btn')
            = link_to "uc/module", "#", id: "uc_name"

      .semesters
        - if can? :index, Semester
          .academic_item{:"data-link-to" => academic_semesters_editions_path(curriculum_unit_type_id: ':uc_type_id')}
            = link_to(content_tag(:i, nil, class: 'icon-book big'), "#", class: 'btn')
            = link_to t(".semesters"), "#"

      .groups
        - if can? :list, Group
          .academic_item{:"data-link-to" => academic_groups_editions_path(curriculum_unit_type_id: ':uc_type_id')}
            = link_to(content_tag(:i, nil, class: 'icon-book big'), "#", class: 'btn')
            = link_to t(".groups"), "#"

:javascript

  $(function(){
    $("#type").combobox();
    $("#type").combobox('value', "#{@type}");

    if ($("#type").combobox('value') != "")
      show_items();

    $("#search").click(function() { show_items(); });

    $('.academic_item').click(function(){
      window.location.href = $(this).data('link-to').replace(':uc_type_id', $('#type').combobox('value'));
    });
  });


  function show_items(){
    $('.courses').show();
    $('.academic').show();
    $('.curriculum_units a#uc_name').html("#{t('.curriculum_units')}");
    $('.curriculum_units').show();

    var id = parseInt($("#type").combobox('value'));
    if (id == 3) {
      $('.courses').hide();
      $('.curriculum_units a#uc_name').html("#{t('.courses')}");
    } else if (id == 4)
      $('.curriculum_units a#uc_name').html("#{t('.modules')}");
  }
