= javascript_include_tag "autocomplete"
= stylesheet_link_tag "autocomplete"
= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"

.edition
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .filter_notice= t(".select_something")
    %span.label
      = label_tag :type, t(".type")
      = @type.description
    .filter
      = label_tag :course, t(".course")
      = select_tag :course, options_from_collection_for_select(@courses, "id", "code_name"), include_blank: true, :"data-optional" => true
    = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => courses_path, id: "search", :"data-load-to" => "courses_list"}

.courses_list
  = render "courses/index"

= render "back"

:javascript

  $(function(){
    $("#course").combobox();

    $(".edition").nice_filter();
  });
