= javascript_include_tag "autocomplete"
= stylesheet_link_tag "autocomplete"
= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
= javascript_include_tag "tooltip", "edition"

= "Cursos"

.edition
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .filter_notice= t(".select_something")
    %span.label
      = ["Tipo", @type.description].join(": ")
    .filter_courses
      = select_tag :code_name, options_from_collection_for_select(@courses, 'id', 'code_name'), include_blank: true
      %br/
      = link_to t(:search), "#", {class: 'btn', :"data-url-search" => courses_path, id: 'search'}

.courses_list
  = render "courses/index"

= render "back"

:javascript

  $(function(){
    $("#code_name").combobox();

    $('#search').click(function(){
      $.ajax({
        type: 'GET',
        url: $(this).data("url-search"),
        data: {
          "course_id": $("#code_name").val()
        },
        success: function(data){
          $(".courses_list").html(data);
        }
      });
    });
  });
