= javascript_include_tag "autocomplete"
= stylesheet_link_tag "autocomplete"

- tool_name = @type.tool_name

.edition.block_content
  %p= t(:required_fields)
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .label
      = label_tag :type, t(".type")
      %span.type_description= @type.description
    .filter
      = label_tag :curriculum_unit, tool_name
      = select_tag :curriculum_unit, options_from_collection_for_select(@search_curriculum_units, "id", "code_name"), include_blank: true, :"data-optional" => true

    = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => curriculum_units_path(type_id: @type.id), id: "search", :"data-load-to" => "ucs_list"}

.ucs_list
  = render "curriculum_units/index"

= render "back"

:javascript

  $(function(){
    $("#curriculum_unit").combobox();
    $(".edition").nice_filter();
  });

  function edit_curriculum_unit(button){
    $(button).call_fancybox({href: $(button).data("link-edit"), open: true});
  }

  function delete_curriculum_unit(button){
    if ($(button).attr('disabled') == 'disabled'){
      flash_message("#{t('curriculum_units.index.choose_at_least_one')}", "alert");
      return false;
    }

    if (!confirm("#{t(:message_confirm)}"))
      return false;

    var ucs = $("#ckb_curriculum_unit:checked");
    var uc_ids = $.map(ucs, function(n){ return ($(n).val()); });

    if (uc_ids.length) {
      $.delete($(button).data('link-delete').replace(':id', uc_ids), function(data){
        flash_message(data.notice, 'notice');
        ucs.parents('tr').fadeOut().remove();
      }).error(function(data){
        var data = $.parseJSON(data.responseText);
        if (typeof(data.alert) != "undefined")
          flash_message(data.alert, 'alert');
      });
    }

    return false;
  }
