= javascript_include_tag "autocomplete"
= stylesheet_link_tag "autocomplete"

- tool_name = @type.tool_name

.edition.block_content
  %p= t(:required_fields)
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .label
      = label_tag :type, t(".type")
      %span.type_description= @type.description
    .filter
      = label_tag :curriculum_unit, tool_name
      = select_tag :curriculum_unit, options_from_collection_for_select(@search_curriculum_units, "id", "code_name"), include_blank: true, :"data-optional" => true

    = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => curriculum_units_path(type_id: @type.id), id: "search", :"data-load-to" => "ucs_list"}

.ucs_list
  = render "curriculum_units/index"

= render "back"

:javascript

  $(function(){
    $("#curriculum_unit").combobox();
    $(".edition").nice_filter();
  });
