= javascript_include_tag "autocomplete"
= stylesheet_link_tag "autocomplete"

.edition.block_content
  %p= t(:required_fields)
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    %span.label
      = label_tag :type, t(".type")
      %span.type_description= @type.description
    .filter
      .type
        = hidden_field_tag :type_id, @type.id
      .course
        = label_tag :course, t(".course")
        = select_tag :course, options_from_collection_for_select(@courses, "id", "code_name"), include_blank: true, :'data-optional' => false
      - if @type.id != 3 # criar uma CONSTANTE
        .curriculum_unit
          = label_tag :curriculum_unit, t(".curriculum_unit")
          = select_tag :curriculum_unit, options_from_collection_for_select(@curriculum_units, "id", "code_name"), include_blank: true, :'data-optional' => false
      .semester
        = label_tag :semester, t(".semester")
        = select_tag :semester, nil

      %div= link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => list_groups_path(type_id: @type.id), id: "search", :"data-load-to" => "groups_list"}

.edition_content

  .groups_list

  = render "back"

:javascript

  function data_optional(combo_name, optional){
    $("#"+combo_name).attr("data-optional", optional); // defines data-optional as informed
    var label = $("label[for='"+combo_name+"']")[0];
    if (label != undefined){
      var new_label = $(label).html().split("*");
      if (!!optional)
        $(label).html(new_label[0]);
      else
        $(label).html(new_label[0] + "*");
    }
  }

  function clear_combo_uc(disable) {
    $('#curriculum_unit').combobox('value', null);
    $('#curriculum_unit').combobox("option", { disabled: disable });
  }

  function clear_combo_semester(disable) {
    $('#semester').combobox('value', null);
    $('#semester').combobox("option", { disabled: disable });
    clear_content();
  }

  function clear_combo_uc_and_semester(disable) {
    clear_combo_uc(disable);
    clear_combo_semester(disable);
  }

  function update_combobox(url, combobox){
    $.get(url, function(data){
      $("#"+combobox).html(data.html);
    });
  }

  function clear_content(){
    $($(".edition_content").children()[0]).html("");
  }

  $(function(){
    $("#course, #curriculum_unit, #semester").combobox();
    $("#semester").combobox( "option", { disabled: true } );

    $( "#course" ).combobox({
      change: function(event, ui) {
        if(ui.item == null){
          clear_combo_semester(true);
          clear_combo_uc(false);
          data_optional("curriculum_unit", false);
          if ($("#curriculum_unit").combobox("value") == null)
            data_optional("course", false);

          var url = "#{list_combobox_curriculum_units_path(type_id: @type.id)}";
          update_combobox(url, 'curriculum_unit');
        }
      },
      select: function( event, ui ) {
        clear_combo_semester(true);
        clear_combo_uc(false);
        data_optional("curriculum_unit", true);
        data_optional("course", false);
        
        if ("#{@type.id}" != '3') { // se for livre, não busca uc
          var url = "#{list_combobox_curriculum_units_path(type_id: @type.id, course_id: 'course_param')}".replace('course_param', $('#course').combobox('value'));
          update_combobox(url, 'curriculum_unit');
        }

        $("#semester").combobox( "option", { disabled: false } );
        var url = "#{list_combobox_semesters_path(type_id: @type.id, period: 'all', course_id: 'course_param')}".replace('course_param', $('#course').combobox('value'));
        update_combobox(url, 'semester');
      }
    });

    $( "#curriculum_unit" ).combobox({
      change: function(event, ui) {
        if(ui.item == null){
          clear_combo_semester(true);
          data_optional("course", false);
          if ($("#course").combobox("value") == null)
            data_optional("curriculum_unit", false);
        }
      },
      select: function( event, ui ) {
        clear_combo_semester(false);
        data_optional("curriculum_unit", false);
        data_optional("course", ($("#course").combobox("value") == null));

        
        var url = "#{list_combobox_semesters_path(period: 'all', course_id: 'course_param', curriculum_unit_id: 'curriculum_unit_param')}".replace('course_param', $('#course').combobox('value')).replace('curriculum_unit_param', $('#curriculum_unit').combobox('value'));
        update_combobox(url, 'semester');
      }
    });

    $( "#semester" ).combobox({
      change: function(event, ui){
        if (ui.item == null)
          clear_content();
      }
    });

    $(".edition").nice_filter();
  });
