= javascript_include_tag "autocomplete"
= stylesheet_link_tag "jquery-ui-autocomplete", "autocomplete"

.edition.block_content
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .label
      = label_tag :type, t(".type")
      %span.type_description= @type.description
    .filter
      %div
        = label_tag :course, t(".course")
        = select_tag :course, options_from_collection_for_select(@courses, "id", "name"), include_blank: true, :"data-optional" => true
      %div
        = label_tag :curriculum_unit, t(".curriculum_unit")
        = select_tag :curriculum_unit, options_from_collection_for_select(@curriculum_units, "id", "name"), include_blank: true, :"data-optional" => true
      %div
        = label_tag :period, t(".period")
        = select_tag :period, options_for_select(@periods, @periods.first)

      = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => semesters_path, id: "search", :"data-load-to" => "semesters_list"}

.semesters_list
  = render "semesters/list"

= render "back"

:javascript
  $(function(){
    $("#curriculum_unit, #course, #period").combobox();
    $("#period").combobox('value', "#{@periods.first.last}");

    $('#period').combobox({
      change: function(event, ui) {
        if(ui.item == null)
          $(this).combobox('value', 'active');
      }
    });

    $('#search').click(function() {
      if(($('#period').combobox('value') == "all" && $('#curriculum_unit').is_empty() && $('#course').is_empty()))
        flash_message("#{t('.warning')}", 'alert');
      else
        erase_flash_messages();

      $.ajax({
        type: 'GET',
        url: $(this).data("url-search"),
        data: {
          type_id: "#{@type.id}",
          curriculum_unit_id: $("#curriculum_unit").combobox('value'),
          course_id: $("#course").combobox('value'),
          period: $("#period").combobox('value')
        },
        success: function(data){
          $(".semesters_list").html(data);
        }
      });
      return false;
    });
  });
