= javascript_include_tag "autocomplete"
= stylesheet_link_tag "autocomplete"

.edition.block_content
  %p= t(:required_fields)
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .label
      = label_tag :type, t(".type")
      %span.type_description= @type.description
    .filter
      - unless @type.id == 3
        .course
          = label_tag :course, t(".course")
          = select_tag :course, options_from_collection_for_select(@courses, "id", "name"), include_blank: true, :"data-optional" => true
      .curriculum_unit
        - t_tool_name = @type.id == 4 ? t("editions.academic.module") : @type.tool_name 
        = label_tag :curriculum_unit, t_tool_name
        = select_tag :curriculum_unit, options_from_collection_for_select(@curriculum_units, "id", "name"), include_blank: true, :"data-optional" => true
      .period
        = label_tag :period, t(".period")
        = select_tag :period, options_for_select(@periods, @periods.first)

      = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => semesters_path, id: "search", :"data-load-to" => "semesters_list"}

.semesters_list
  = render "semesters/list"

= render "back"

:javascript
  $(function(){
    $("#curriculum_unit, #course, #period").combobox();
    $("#period").combobox('value', "#{@periods.first.last}");

    $('#period').combobox({
      change: function(event, ui) {
        if(ui.item == null)
          $(this).combobox('value', 'active');
      }
    });

    $('#search').click(function() {
      if (($('#period').combobox('value') == "all" && $('#curriculum_unit').is_empty() && $('#course').is_empty())) {
        flash_message("#{t('.warning')}", 'alert');
        return false;
      } else
        erase_flash_messages();

      var data = {
        type_id: "#{@type.id}",
        curriculum_unit_id: $("#curriculum_unit").combobox('value'),
        course_id: $("#course").combobox('value'),
        period: $("#period").combobox('value')
      };

      $.get($(this).data("url-search"), data, function(data) {
        $(".semesters_list").html(data);
      });

      return false;
    });
  });
