= render partial: 'ip_control/info'

= render partial: 'ip_control/ip_real_fields', locals: { f: f }

.right_buttons.clear
  = button_to_function t(:cancel), 'jQuery.fancybox.close()', class: 'btn btn_default btn_lightbox', type: 'button'
  = button_to_function t('.previous'), 'back()', class: 'btn btn_default btn_main btn_lightbox', type: 'button'
  = button_tag t(:save), :class => "btn btn_main btn_lightbox", type: "button", id: "_save"

:css
  .schedule_dates .input input, #assignment_type_assignment {
    width: 85px;
  }

  .schedule_dates .left, .right {
    float: left;
  }

:javascript
  function back(){
    $('#basic_info').removeClass('invisible');
    $('#control_info').addClass('invisible');
  }

  jQuery(function($){
    $('#_save').click(function(){
      $('#assignment_form:last').serialize_and_submit({
        files: true,
        outer: 'fancybox-outer',
        replace_list: (("#{escape_once(params[:calendar])}" == "") ? $(".list_assignments") : $(".calendar_schedules"))
      });
    });
  });
