.block_title
  %h2
    %i.icon-suitcase
    = t(".title")
  .right_buttons
    - unless files.blank?
      = link_to content_tag(:i, nil, class: "icon-install"), zip_download_assignments_path(assignment_id: @assignment.id, student_id: @student_id, group_id: @group_id), class: "btn", :"data-tooltip" => t(".download")
.block_content
  - unless files.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th= t(:name, scope: [:assignment, :files])
          %th{align: "right", style: "width: 30px;"}= t(:size, scope: [:assignment, :files])
      %tbody
        - files.each do |file|
          %tr.lines
            %td{:"data-tooltip" => file.attachment_file_name}
              - link = download_assignments_path(id: file.id)
              = link_to image_tag(icon_attachment(file.attachment_file_name)), link, {class: "file_icon"}
              = link_to file.attachment_file_name.truncate(30), link, {class: "link_content"}
            %td= format('%.2f KB', file.attachment_file_size/1024.0)
  - else
    .text_none= t(:itens_not_found)
