.fields_for_remove.clear
  = f.hidden_field :_destroy
  = link_to_remove_fields content_tag(:i, nil, class: 'icon-trash'), f, class: "btn btn_caution remove_fields",  :'data-tooltip'=> t('.link_to_remove_fields'), :'aria-label'=> t('.link_to_remove_fields')
  = label_tag t(".select_type"), nil,class: "select_ip_label"
  = select_tag "ip_type", options_for_select([["IPV4", "ipv4"], ["IPV6", "ipv6"]]), class: "select_ip_type", onchange: "toggleIP(this)"
  = f.input :ip_v4, as: :string, label: false, input_html: { size: 15, class: "ip_v4" }
  = f.input :ip_v6, as: :string, label: false, input_html: { size: 40, class: "ip_v6", style: "display: none;" }
  = f.input :use_local_network, as: :boolean, label: false

:javascript
  $(document).ready(function(){
    $.getScript("/assets/tooltip.js");
    masck_ip($(".ip_v4"));
    masck_ip($(".ip_v6"));
  });
