-# %fieldset.fields_for_remove
  -# %legend= t(".legend_description_new_ip")
  -# .ckb
  -#   = f.input :ip_v4, as: :string, input_html: { size: 15 }
  -# .ckb
  -#   = f.input :ip_v6, as: :string, input_html: { size: 40 }
  -# .ckb
  -#   = f.label t('.link_to_remove_fields')
  -#   = f.hidden_field :_destroy
  -#   = link_to_remove_fields content_tag(:i, nil, class: 'icon-trash'), f, class: "btn btn_caution remove_fields",  :'data-tooltip'=> t('.link_to_remove_fields'), :'aria-label'=> t('.link_to_remove_fields')

.fields_for_remove.clear
  = f.hidden_field :_destroy
  = link_to_remove_fields content_tag(:i, nil, class: 'icon-trash'), f, class: "btn btn_caution remove_fields",  :'data-tooltip'=> t('.link_to_remove_fields'), :'aria-label'=> t('.link_to_remove_fields')
  = label_tag "Selecione o tipo:", nil,class: "select_ip_label"
  = select_tag "ip_type", options_for_select([["IPV4", "ipv4"], ["IPV6", "ipv6"]]), class: "select_ip_type", onchange: "toggleIP(this)"
  = f.input :ip_v4, as: :string, label: false, input_html: { size: 15, class: "ip_v4" }
  = f.input :ip_v6, as: :string, label: false, input_html: { size: 40, class: "ip_v6" }
  = f.input :use_local_network, as: :boolean, label: false

:css
  .clear{
    clear: both;
  }
  .select_ip_label, .select_ip_type, .ip_v4, .ip_v6 {
    float: left;
  }
  .select_ip_type, .ip_v4, .ip_v6 {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .select_ip_label {
    width: 100px;
    padding-top: 2px;
  }
  .ip_v6 {
    display: none;
  }

:javascript
  $(document).ready(function(){
    $.getScript("/assets/tooltip.js");
    masck_ip($(".ip_v4"));
    masck_ip($(".ip_v6"));
  });
  

