.block_title
  %h2{align: "center"}= t(".title")
- unless @participants.empty?
  %table.tb_list
    %thead
      %tr.lines
        %th= t(".student")
        %th.center{ style: 'width: 10%' }= t('assignments.list.sent_on')
        %th.center{ style: 'width:20%' }= t('assignments.list.situation')
        %th.center{ style: 'width:10%' }= t('assignments.list.grade')
        %th.center{ style: 'width:20%' }= t('assignments.list.comments')
    %tbody
      - @participants.each_with_index do |participant|
        - info = assignment.info(participant.id, @allocation_tag_id)
        %tr
          %td= link_to participant.name, student_assignment_path(assignment.id, student_id: participant.id), class: :link_content
          %td.center= info[:file_sent_date]
          %td.center{class: "assignment_#{info[:situation]}"}= t(info[:situation].to_sym)
          %td.center= info[:grade] || "-"
          %td.center= content_tag :i, nil, class: "icon-comment big #{info[:has_comments] ? '' : 'empty'}"
- else
  .text_none=t :itens_not_found