- if assignments.any?
  %table.tb_list
    %thead
      %tr.lines
        %th.medium= t("assignments.list.description")
        %th.center.date{style: "width: 22%;"}= t("assignments.list.date_range")
        %th{align: "right", style: "width:11%"}= t("assignments.list.situation")
        %th.center{style: "width: 8%;"}= t(:evaluative, scope: [:scores, :index])
        %th.center{style: "width: 8%;"}= t(:frequency, scope: [:scores, :info])  
        %th.center{style: "width: 8%;"}= t("assignments.list.grade")
        %th.center{style: "width: 8%;"}= t(:workload, scope: [:scores, :info])
        %th.center.no_sort{style: "width:80px"}= t("assignments.list.comments")
    %tbody
      - assignments.each do |assignment|
        - link    = student_assignment_path(assignment.academic_tool_id, student_id: assignment.user_id, group_id: assignment.group_id)
        %tr.lines
          %td
            %div
              - if assignment.situation == "without_group"
                .title= assignment.name
              - else
                = link_to assignment.name, link, {class: 'link_content'}
            - if assignment.description.size > 150 
              .enunciation
                .enunciation_slice= assignment.description.slice(0..150) << "..."
                .enunciation_complete= assignment.description
                .more_or_less
                  %a.enunciation_more.link_content{href: "#"}= t("assignments.list.more")
                  %a.enunciation_less.link_content{href: "#"}= t("assignments.list.less")
            - else
              = assignment.description
            .equivalent
              - unless assignment.eq_name.blank?
                %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{assignment.academic_tool_id}" }
                  %i.icon-flow-parallel
                  = t('scores.info.equivalency')
                  %i.icon-arrow-down-triangle
                .dropdown.dropdown-tip{id: "dropdown_eq_#{assignment.academic_tool_id}"}
                  %ul{ class: 'dropdown-menu' }
                    = raw t('scores.info.equivalent', name: assignment.eq_name)
              - else
                %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{assignment.academic_tool_id}", :'data-url' => equalities_tools_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id), onclick: 'open_dropdown(this);' }
                  %i.icon-flow-parallel
                  =t('scores.info.equalities')
                  %i.icon-arrow-down-triangle
                .dropdown.dropdown-tip{id: "dropdown_eq_#{assignment.academic_tool_id}"}
                  %ul{ class: 'dropdown-menu' }
          %td.center= [l(assignment.start_date.to_date, format: :normal), l(assignment.end_date.to_date, format: :normal)].join(" - ")
          %td.center
            - if assignment.situation == "without_group"
              %div{class: "assignment_#{assignment.situation}"}= t(assignment.situation.to_sym)
            - else
              = link_to t(assignment.situation.to_sym), link, class: "assignment_#{assignment.situation}"
          %td.center= t(assignment.evaluative, scope: [:scores, :info])
          %td.center= t(assignment.frequency, scope: [:scores, :info])
          %td.center
            %span.activity_grade= assignment.grade || "-"
          %td.center   
            %span.activity_grade= assignment.working_hours || "-"  
          %td.center= content_tag :i, nil, class: "icon-comment big #{assignment.count_all.to_i > 0 ? '' : 'empty'}"

- else
  .text_none.empty_message= t(:itens_not_found)
