.block_wrapper.list_assignments{:"data-link-list" => assignments_path(allocation_tags_ids: @allocation_tags_ids, offer_id: params[:offer_id])}
  .block_title
    %h2= t(:assignment, scope: [:editions, :items])

  .block_content_toolbar
    .block_toolbar_left.btn-group
      = link_to content_tag(:i, nil, class: 'icon-plus'), new_assignment_path(allocation_tags_ids: @allocation_tags_ids), class: " btn btn_main fancybox.ajax", id: "new_assignment", :"data-tooltip" => t(".new")
    .block_toolbar_right
      .btn-group
        = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn btn_edit edit_assignment', "data-link-to-edit" => edit_assignment_path(':id', allocation_tags_ids: @allocation_tags_ids), "data-edit-title" => t(".edit"), disabled: true, :"data-tooltip" => t(".edit")
        = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del delete_assignment', :"data-link-delete" => assignment_path(':id', allocation_tags_ids: @allocation_tags_ids), :"data-link-to-list" => assignments_path(allocation_tags_ids: @allocation_tags_ids), disabled: true, :"data-tooltip" => t(".delete")

  - unless @assignments.empty? or @assignments.nil?
    - all_groups = Offer.find(params[:offer_id]).try(:groups) if params.include?(:offer_id)
    %table.tb_list
      %thead
        %tr.lines
          %th.center.no_sort
            %input#all_assignments{type: "checkbox", :"data-children-names" => "ckb_assignment"}
          %th{style: 'text-align:left;'}= t(".name")
          %th.center= t(".type")
          %th.center.no_sort= t(".availability")
          %th.center{style: "width: 12%"}= t(".answers")

      %tbody
        - @assignments.each do |assignment|
          - can_delete = assignment.sent_assignments.count.zero?
          - has_file = (not assignment.enunciation_files.empty?)
          %tr.lines{id: "tr_#{assignment.id}"}
            %td{style: 'text-align:center;'}
              = check_box_tag("ckb_assignment", assignment.id, false, {class: "ckb_assignment", :"data-can-delete" => can_delete})
            %td
              %div
                .title
                  = assignment.name
                  - if has_file
                    %i.icon-paperclip
                .description
                  .minimun
                    = assignment.enunciation.truncate(200)
                    - if assignment.enunciation.size>200 or has_file
                      = content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_enunciation"))
                  .complete.invisible
                    = assignment.enunciation
                    - if has_file
                      .attached_files=t(".attached_files")
                      - assignment.enunciation_files.each do |file|
                        .file
                          = image_tag( icon_attachment(file.attachment_file_name) )
                          = file.attachment_file_name
                    = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_enunciation"))
                .group_label.invisible= render "groups/groups_tags", groups: assignment.groups, tool: assignment, all_groups: all_groups, paths: {add: add_group_to_assignments_path(id: "param_id", tool_id: assignment.id), remove: remove_group_from_assignments_path(id: "param_id", tool_id: assignment.id), unbind: unbind_group_from_assignments_path(id: "param_id", tool_id: assignment.id), tags: group_tags_from_assignments_path(tool_id: assignment.id)}

            %td{style: 'text-align:center;'}
              %div.title= t(((assignment.type_assignment.to_i == Assignment_Type_Individual) ? ".individual" : ".group"))
            %td{style: 'text-align:center;'}
              = [l(assignment.schedule.start_date, format: :normal), l(assignment.schedule.end_date, format: :normal)].join(" - ")

            %td{style: 'text-align:center;'}
              %div= can_delete ? t(".no_answers") : t(".has_answrs")

  - else
    .block_content_text_list.text_none= t(".none")

= javascript_include_tag "tablesorter", "tooltip", "assignments", "groups_tags"

:javascript

  var div_list = $(".list_assignments");
  var offer_id = "#{escape_once(params[:offer_id])}";
