.assignments_list
  .block_wrapper
    .block_title
      %h2
        %i.icon-suitcase
        = t('.individual_assignments')
    .block_content
      = render partial: (@student ? 'student_assignments' : 'assignments'), locals: { assignments: @assignments_indiv }

  .block_wrapper
    .block_title
      %h2
        %i.icon-suitcase
        = t('.group_assignments')
    .block_content
      = render partial: (@student ? 'student_assignments' : 'assignments'), locals: { assignments: @assignments_group }
   
  = render partial: 'public_files/list', locals: { public_files: @public_files }

  .block_wrapper
    = link_to t(:back), :back, { class: 'btn' }

:javascript
  $(function(){
    $(".enunciation_more").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "none");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "block");
      return false;
    });

    $(".enunciation_less").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "block");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "none");
      return false;
    });
  });
