-# Atividades individuais
.block_wrapper
  .block_title
    %h2
      = image_tag "icon_suitcase_portfolio.png", :alt => " ", :class => "block_title_icon"
      = t(:individual_activities, :scope => [:portfolio, :information])
  .block_content
    - unless @individual_activities.nil? or @individual_activities.empty?
      %table.tb_list
        %thead
          %tr.lines
            %th= t(:description, :scope => [:portfolio, :information])
            %th{:align => "center", :style => "width:70px"}= t(:date, :scope => [:portfolio, :information])
            %th{:align => "right", :style => "width:80px"}= t(:situation, :scope => [:portfolio, :information])
            %th{:align => "center", :style => "width:40px"}= t(:grade, :scope => [:portfolio, :information])
            %th{:align => "center", :style => "width:80px"}= t(:comments, :scope => [:portfolio, :comments])
        %tbody
          - @individual_activities.each_with_index do |ia, idx|
            %tr.lines
              %td
                %h4
                  = link_to ia["name"], assignment_path(ia["id"], :student_id => @student_id), {:class => 'link_content'}
                  - if ia["enunciation"].size > 180 
                    .enunciation
                      .enunciation_slice
                        = ia["enunciation"].slice(0..180) << "..."
                      .enunciation_complete
                        = ia["enunciation"]
                      .more_or_less
                        %a.enunciation_more.link_content{:href => "#"}= t(:more, :scope => [:portfolio, :information])
                        %a.enunciation_less.link_content{:href => "#"}= t(:less, :scope => [:portfolio, :information])
                  - else
                    = ia["enunciation"]
              %td{:align => "center"}
                =l ia["start_date"].to_time, :format => :files
                %br
                =l ia["end_date"].to_time, :format => :files
              %td=link_to t(ia["correction"].to_sym), assignment_path(ia["id"], :student_id => @student_id), :class => "assignment_#{ia["correction"]}"
              %td{:align => "center"}
                %span.activity_grade= (ia["grade"].nil?) ? "-" : ia["grade"].to_f
              %td{:align => "center"}= image_tag( (ia["comments"].to_i > 0) ? "icon_comments.png" : "icon_no_comments.png" )
    - else
      .block_content.block_content_text= t(:itens_not_found)

-# Atividades em grupo
.block_wrapper
  .block_title
    %h2
      = image_tag "icon_suitcase_portfolio.png", :alt => " ", :class=>'block_title_icon'
      = t(:group_activities, :scope => [:portfolio, :information])
  .block_content
    - unless @group_activities.nil? or @group_activities.empty?
      %table.tb_list
        %thead
          %tr.lines
            %th=t(:description, :scope => [:portfolio, :information])
            %th{:align => "center", :style => "width:70px"}= t(:date, :scope => [:portfolio, :information])
            %th{:align => "right", :style => "width:80px"}= t(:situation, :scope => [:portfolio, :information])
            %th{:align => "center", :style => "width:40px"}= t(:grade, :scope => [:portfolio, :information]) 
            %th{:align => "center", :style => "width:80px"}= t(:comments, :scope => [:portfolio, :comments]) 
        %tbody
          - @group_activities.each_with_index do |ia, idx|
            - group_info = student_assignment_group_info(ia["id"], @student_id)
            %tr.lines
              %td
                %h4
                  = link_to ia["name"], assignment_path(ia["id"], :group_id => group_info["groups_participants"].first.group_assignment_id), {:class => 'link_content'}
                  .enunciation
                    .enunciation_slice
                      = ia["enunciation"].slice(0..180) << "..."
                    .enunciation_complete
                      = ia["enunciation"]
                      - unless group_info["group_name"].nil?
                        %div
                          = t(:group, :scope => [:portfolio, :group_assignments]) 
                          = ":"
                          = group_info["group_name"]
                        %div
                          = t(:participants, :scope => [:portfolio, :group_assignments])
                          = ":" 
                          - group_info["groups_participants"].each do |participant|
                            = participant.user.name
                            - unless participant == group_info["groups_participants"].last
                              = ","
                      - else
                        %div= t(:student_with_no_group, :scope => [:portfolio, :notifications])
                    .more_or_less
                      %a.enunciation_more.link_content{:href => "#"}= t(:more, :scope => [:portfolio, :information])
                      %a.enunciation_less.link_content{:href => "#"}= t(:less, :scope => [:portfolio, :information])
              %td{:align => "center"}
                =l ia["start_date"].to_time, :format => :files
                %br
                =l ia["end_date"].to_time, :format => :files
              %td=link_to t(ia["correction"].to_sym), assignment_path(ia["id"], :group_id => group_info["groups_participants"].first.group_assignment_id), :class => "assignment_#{ia["correction"]}"
              %td{:align => "center"}
                %span.activity_grade= (ia["grade"].nil?) ? '-' : ia["grade"].to_f
              %td{:align => "center"}= image_tag( (ia["comments"].to_i > 0) ? "icon_comments.png" : "icon_no_comments.png" )
    - else
      .block_content.block_content_text= t(:itens_not_found)

-# Área Pública
.block_wrapper
  .block_title
    %h2
      = image_tag "icon_suitcase_portfolio.png", :alt => " ", :class=>'block_title_icon'
      = t(:public_area, :scope => [:portfolio, :information])
  .block_content
    - unless @public_area.nil? or @public_area.empty?
      %table.tb_list
        %tbody
          - @public_area.each_with_index do |pa, idx|
            %tr.lines
              %td.file_data_icon{:style => "width: 10px;"}= image_tag icon_attachment(pa["attachment_file_name"]), :alt => " "
              %td= link_to pa.attachment_file_name, download_files_portfolio_teacher_path(:file_id => pa["id"], :type => "public"), {:class => 'link_content'}
              %td.file_data_info{:style => "width: 80px;", :align => "center"}= format('%.2f KB', pa.attachment_file_size.to_i/1024.0)
              %td.file_data_info{:style => "width: 100px;", :align => "center"}=l pa.attachment_updated_at.to_time, :format => :files
              %td{:style => "width: 60px", :align => "center"}= button_to t(:delete, :scope => [:portfolio, :files]), {:controller => :portfolio, :action => :delete_file_public_area, :id => pa.id}, :confirm => t(:delete_msg, :scope => [:portfolio, :files]), :class => "btn btn_caution"
    - else
      .block_content.block_content_text= t(:itens_not_found)
    %div{:style => "background-color: white; padding-top:6px"}
      = button_tag t(:upload_on_public_area, :scope => [:portfolio, :files]), :class => "btn btn_default", :id => "send_attachment"

:javascript
  $(function(){
    $(".enunciation_more").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "none");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "block");
      return false;
    });

    $(".enunciation_less").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "block");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "none");
      return false;
    });

    $('#send_attachment').click(function(e){
      e.preventDefault(); // cancel the link behavior
      url = "#{url_for :public_files_send_portfolio}"
      showLightBoxURL(url,500,320,true,'#{t(:send_file, :scope => [:portfolio, :files])}');
    });
  });
