.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      =t :individual_assignments, :scope => [:assignment, :information]
  / Atividades individuais
  .block_content
    - unless @individual_activities.nil? or @individual_activities.empty?
      %table.tb_list#assignment_individual
        %thead
          %tr.lines
            %th= t(:description, :scope => [:assignment, :information])
            %th.date{:align => "right", :style => "width:170px"}= t(:date_range, :scope => [:assignment, :information])
        %tbody
          - @individual_activities.each_with_index do |individual_activity, idx|
            %tr.lines
              %td
                %h4= link_to individual_activity["name"], information_assignment_path(individual_activity["id"]), {:class => 'link_content'}
              %td.right= [l(individual_activity.schedule.start_date, :format => :normal), l(individual_activity.schedule.end_date, :format => :normal)].join(" - ")
    - else
      .block_content.block_content_text.text_none= t(:itens_not_found)

.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      =t :group_assignments, :scope => [:assignment, :information]
  / Atividades em grupo
  .block_content
    - unless @group_activities.nil? or @group_activities.empty?
      %table.tb_list#assignment_group
        %thead
          %tr.lines
            %th= t(:description, :scope => [:assignment, :information])
            %th.date{:align => "right", :style => "width:170px"}= t(:date_range, :scope => [:assignment, :information])
        %tbody
          - @group_activities.each_with_index do |group_activity, idx|
            %tr.lines
              %td
                %h4= link_to group_activity["name"], information_assignment_path(group_activity["id"]), {:class => 'link_content'}
              %td.right= [l(group_activity.schedule.start_date, :format => :normal), l(group_activity.schedule.end_date, :format => :normal)].join(" - ")
    - else
      .block_content.block_content_text.text_none= t(:itens_not_found)

= render partial: "public_area", locals: {public_area: @public_files}
