/ Atividades individuais
.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      =t :individual_assignments, :scope => [:assignment, :information]
  .block_content
    - unless @individual_assignments_info["assignments"].empty?
      %table.tb_list#assignment_individual
        %thead
          %tr.lines
            %th= t(:description, :scope => [:assignment, :information])
            %th.center.date{:style => "width:70px"}= t(:date_range, :scope => [:assignment, :information])
            %th{:align => "right", :style => "width:80px"}= t(:situation, :scope => [:assignment, :information])
            %th.center{:style => "width:40px"}= t(:grade, :scope => [:assignment, :information])
            %th.center.no_sort{:style => "width:80px"}= t(:comments, :scope => [:assignment, :comments])
        %tbody
          - @individual_assignments_info["assignments"].each_with_index do |assignment, idx|
            %tr.lines
              %td
                %h4
                  = link_to assignment.name, student_assignment_path(assignment.id, :student_id => @student_id), {:class => 'link_content'} 
                - if assignment.enunciation.size > 180 
                  .enunciation
                    .enunciation_slice
                      = assignment.enunciation.slice(0..180) << "..."
                    .enunciation_complete
                      = assignment.enunciation
                    .more_or_less
                      %a.enunciation_more.link_content{:href => "#"}= t(:more, :scope => [:assignment, :information])
                      %a.enunciation_less.link_content{:href => "#"}= t(:less, :scope => [:assignment, :information])
                - else
                  = assignment.enunciation
              %td{:align => "center"}
                =l assignment.schedule.start_date, :format => :normal
                %br
                =l assignment.schedule.end_date, :format => :normal
              %td=link_to t(@individual_assignments_info["situation"][idx].to_sym), student_assignment_path(assignment.id, :student_id => @student_id), :class => "assignment_#{@individual_assignments_info["situation"][idx]}"
              %td{:align => "center"}
                %span.activity_grade= (@individual_assignments_info["assignments_grades"][idx].nil?) ? "-" : @individual_assignments_info["assignments_grades"][idx].to_f
              %td{:align => "center"}
                - if @individual_assignments_info["has_comments"][idx]
                  %i.icon-comment.big
                - else
                  %i.icon-comment.big.empty

    - else
      .block_content.block_content_text= t(:itens_not_found)

/ Atividades em grupo
.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      =t :group_assignments, :scope => [:assignment, :information]
  .block_content
    - unless @group_assignments_info["assignments"].empty?
      %table.tb_list#assignment_group
        %thead
          %tr.lines
            %th=t(:description, :scope => [:assignment, :information])
            %th.center.date{:style => "width:70px"}= t(:date, :scope => [:assignment, :information])
            %th{:align => "right", :style => "width:80px"}= t(:situation, :scope => [:assignment, :information])
            %th.center{:style => "width:40px"}= t(:grade, :scope => [:assignment, :information]) 
            %th.center.no_sort{:style => "width:80px"}= t(:comments, :scope => [:assignment, :comments]) 
        %tbody
          - @group_assignments_info["assignments"].each_with_index do |assignment, idx|
            - group = GroupAssignment.find(@group_assignments_info["groups_ids"][idx]) unless @group_assignments_info["groups_ids"][idx].nil?
            %tr.lines
              %td
                %h4
                  - if group.nil?
                    %span{:style => "color: #204783;"}= assignment.name
                  - else
                    = link_to assignment.name, student_assignment_path(assignment.id, :group_id => group.id), {:class => 'link_content'}
                  .enunciation
                    .enunciation_slice
                      = assignment.enunciation.slice(0..180) << "..."
                    .enunciation_complete
                      = assignment.enunciation
                      - unless group.nil?
                        %div
                          = t(:group, :scope => [:assignment, :group_assignments]) 
                          = ":"
                          = group.group_name
                        %div
                          = t(:participants, :scope => [:assignment, :group_assignments])
                          = ":" 
                          = group.group_participants.map(&:user).map(&:name).sort.join(', ')
                      - else
                        %div= t(:student_with_no_group, :scope => [:assignment, :notifications])
                    .more_or_less
                      %a.enunciation_more.link_content{:href => "#"}= t(:more, :scope => [:assignment, :information])
                      %a.enunciation_less.link_content{:href => "#"}= t(:less, :scope => [:assignment, :information])
              %td{:align => "center"}
                =l assignment.schedule.start_date, :format => :normal
                %br
                =l assignment.schedule.end_date, :format => :normal
              %td
                - if group.nil?
                  %span.assignment_without_group=t :without_group, :scope => [:assignment, :group_assignments]
                - else
                  =link_to t(@group_assignments_info["situation"][idx].to_sym), student_assignment_path(assignment.id, :group_id => group.id), :class => "assignment_#{@group_assignments_info["situation"][idx]}"
              %td{:align => "center"}
                %span.activity_grade= (@group_assignments_info["assignments_grades"][idx].nil?) ? '-' : @group_assignments_info["assignments_grades"][idx].to_f
              %td{:align => "center"}
                - if @group_assignments_info["has_comments"][idx]
                  %i.icon-comment.big
                - else
                  %i.icon-comment.big.empty
    - else
      .block_content.block_content_text= t(:itens_not_found)

/ Área Pública
- if can? :send_public_files_page, Assignment
  .block_wrapper
    .block_title
      %h2
        %i.icon-suitcase
        = t(:public_area, :scope => [:assignment, :information])
    .block_content
      - unless @public_area.nil? or @public_area.empty?
        %table.tb_list
          %tbody
            - @public_area.each_with_index do |pa, idx|
              %tr.lines
                %td.file_data_icon{:style => "width: 10px;"}= image_tag icon_attachment(pa["attachment_file_name"]), :alt => " "
                %td= link_to pa.attachment_file_name, download_public_files_assignments_path(:file_id => pa["id"], :type => "public"), {:class => 'link_content'}
                %td.file_data_info{:style => "width: 80px;", :align => "center"}= format('%.2f KB', pa.attachment_file_size.to_i/1024.0)
                %td.file_data_info{:style => "width: 100px;", :align => "center"}
                  - if pa.attachment_updated_at.nil?
                    = " "
                  - else
                    =l pa.attachment_updated_at, :format => :files
                %td{:style => "width: 60px", :align => "center"}= button_to t(:delete, :scope => [:assignment, :files]), delete_file_assignments_path(:file_id => pa.id, :type => 'public'), :confirm => t(:delete_msg, :scope => [:assignment, :files]), :class => "btn btn_caution", method: :delete
      - else
        .block_content.block_content_text= t(:itens_not_found)
      %div{:style => "background-color: white; padding-top:6px"}
        = button_tag t(:upload_on_public_area, :scope => [:assignment, :files]), :class => "btn btn_default", :id => "send_attachment"

:javascript
  $(function(){
    $(".enunciation_more").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "none");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "block");
      return false;
    });

    $(".enunciation_less").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "block");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "none");
      return false;
    });

    $('#send_attachment').click(function(e){
      e.preventDefault(); // cancel the link behavior
      url = "#{send_public_files_page_assignments_path}"
      showLightBoxURL(url,500,320,true,'#{t(:send_file, :scope => [:assignment, :files])}');
    });
  });