.block_wrapper_groups
  - unless @group.nil?
    = image_tag 'group.png', alt: t(:mysolar_alt_img_user)
    .block_user
      .title_user= t('.group')
      = @group.group_name
      %div
      .title_user= t('.participants')
      - participants = @group.users
      - unless participants.empty?
        %ul.participants_list
          - participants.each do |participant|
            %li
              = participant.name
              - unless @class_participants.include? participant.id
                %span{:"data-tooltip" => t('.moved_allocation')}= content_tag :i, nil, class: 'icon-warning moved_allocation' 
      - else
        = t(".no_participants")
  - else
    - user = User.find(@student_id)
    = image_tag user.user_photo(:forum), alt: t(:mysolar_alt_img_user) + ' ' + user.nick
    .block_user
      .title_user= t('.student')
      = user.name

.block_wrapper.assignment_info
  .title
    %h2
      %i.icon-suitcase
      = @assignment.name
  .block_content
    %table.tb_list
      %thead
        %tr.lines
          %th.no_sort=t('.description')
      %tbody
        %tr.lines
          %td= @assignment.enunciation
    = render partial: 'info'

.assignment_files.files
  = render partial: 'files', locals: { files: @assignment.try(:enunciation_files) }

.assignment_comments
  = render partial: 'assignment_comments/list', locals: { comments: @acu.try(:assignment_comments) }

.student_files.files
  = render partial: 'assignment_files/list', locals: { files: @acu.try(:assignment_files) }

.student_webconferences.files
  = render partial: 'assignment_webconferences/list', locals: { webconferences: @acu.try(:assignment_webconferences) }

.block_wrapper{ style: 'float:left' }
  = link_to t(:back), :back, { class: "btn" }

:javascript
  function delete_file(button){
    $(button).nice_delete({
      parent: 'tr.lines'
    });
  }

  function add_file(button){
    if(!$(button).hasClass("disabled"))
      $(button).call_fancybox({
        href: "#{new_assignment_file_path(assignment_id: @assignment.id, student_id: @student_id, group_id: @group_id)}",
        open: true
      });
  }
