%section.block_wrapper_groups
  - unless @group.nil?
    = image_tag 'group.png', alt: t(:mysolar_alt_img_user)
    .block_user
      .title_user= t('.group')
      = @group.group_name
      = link_to content_tag(:i, nil, class: 'icon-mail', :'aria-hidden' => 'true'), '#void', class: 'link_send_msg'
      %div
      .title_user= t('.participants')
      - participants = @group.users
      - unless participants.empty?
        %ul.participants_list
          - participants.each do |participant|
            %li{:'data-id' => participant.id}
              = participant.name
              - unless @class_participants.include? participant.id
                %span{:"data-tooltip" => t('.moved_allocation'), :'aria-label' => t(".moved_allocation")}= content_tag :i, nil, class: 'icon-warning moved_allocation' 
      - else
        = t(".no_participants")
  - else
    - user = User.find(@student_id)
    = image_tag user.user_photo(:forum), alt: t(:mysolar_alt_img_user) + ' ' + user.nick
    .block_user
      .title_user= t('.student')
      %span{:'data-id' => @student_id}
        = user.name
        - if @not_only_student_profile
          = link_to content_tag(:i, nil, class: 'icon-mail', :'aria-hidden' => 'true'), '#void', class: 'link_send_msg'

%section.block_wrapper.assignment_info
  .title
    %h2
      %i.icon-suitcase
      = @assignment.name
  .block_content
    %table.tb_list{:summary=> t("assignments.list.summary_descricao")}
      %thead
        %tr.lines
          %th.no_sort=t('.description')
      %tbody
        %tr.lines
          %td= @assignment.enunciation
    = render partial: 'info'

%section.assignment_files.files
  = render partial: 'files', locals: { files: @assignment.try(:enunciation_files) }

%section.comments
  = render partial: 'comments/list', locals: { comments: @acu.try(:comments), tool: @assignment, tool_type: 'Assignment' }

%section.student_files.files
  = render partial: 'assignment_files/list', locals: { files: @acu.try(:assignment_files), disabled: false }

%section.student_webconferences.files
  = render partial: 'assignment_webconferences/list', locals: { webconferences: @acu.try(:assignment_webconferences), disabled: false }

.block_wrapper{ style: 'float:left' }
  = link_to t(:back), :back, class: "btn", id: 'back'

:javascript
  $('#page_title').attr("tabindex", "0");
  $('#page_title').focus();
  
  function delete_file(button){
    $(button).nice_delete({
      parent: 'tr.lines'
    });
  }

  function add_file(button){
    if(!$(button).hasClass("disabled"))
      $(button).call_fancybox({
        href: "#{new_assignment_file_path(assignment_id: @assignment.id, student_id: @student_id, group_id: @group_id)}",
        open: true,
        element_selector: '#focu'
      });
  }

  $(function(){

    $(".link_send_msg").on('click', function(event){
      event.preventDefault();

      students_ids = []

      if($(".block_user span").data() != null){
        students_ids.push($(".block_user span").data().id)
      }

      $('.participants_list li').each(function(index, element){
        students_ids.push(element.dataset.id)
      });

      var url = $(this).data('url').replace(':user_ids', students_ids.join(","));
      $(this).call_fancybox({
        href: url,
        open: true
      });
   
    });

  });


