<%#= @object.association.variable rescue nil %>

<div class="block_wrapper">
  <div id="page_title">
    <h1>
      <%=t(:new_user_title)%>
    </h1>
  </div>
</div>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <% msg_login ="" %>
    <% msg_password ="" %>
    <% msg_nick ="" %>
    <% msg_email ="" %>
    <% msg_institution ="" %>
    <% msg_name ="" %>
    <% msg_cpf ="" %>
    <% msg_alternate_email = "" %>

    <% for msg in @user.errors.full_messages %>
      <%  if (msg.include?(t(:form_login))) %>
        <%  msg_login << msg %>
      <%  end %>
      <%  if (msg.include?(t(:form_password))) %>
        <%  msg_password << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_nick))) %>
        <%  msg_nick << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_email)) and !msg.include?(t(:form_alternate_email))) %>
        <%  msg_email << msg + "\n" %>
      <%  end %>
      <% if (msg.include?(t(:form_alternate_email))) %>
        <% msg_alternate_email << msg + "\n" %>
      <% end %>
      <%  if (msg.include?(t(:form_institution))) %>
        <%  msg_institution << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_name))) %>
        <%  msg_name << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_cpf))) %>
        <%  msg_cpf << msg + "\n" %>
      <%  end %>
    <% end %>
  <% end %>
  <% field_size = 50 %>

  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_personal_data) %></h2>
    </div>
    <div class="block_content">
      <span class="form_requirement"><%= t(:required_fields) %></span>
      <table class="form_user_table">
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_name)}*" %></td>
          <td class="form_field" colspan="3"><%= f.text_field :name, :id => "name", :size=>field_size %></td>
          <td class="form_error"><%= msg_name %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_cpf)}*" %></td>
          <td class="form_field" colspan="3"><%= f.text_field :cpf, :size=>field_size, :id=>"cpf" %></td>
          <td class="form_error"><%= msg_cpf %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label :birthdate, :class=>"label_usuario"%></td>
          <td class="form_field"><%= f.date_select :birthdate, :start_year => Time.now.year - 2, :end_year => 1900, :id => 'user_birthdate' %></td>
          <td class="form_label"><%= f.label :gender %></td>
          <td class="form_field"><%= f.select :gender, ([["M", true], ["F", false]]) , :id => 'gender',:size=>2 %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_special_needs)}*" %></td>
          <td class="form_field">
            <%= radio_button_tag "radio_special" , "true", true, {:id=>"sim", :onclick=>"show_special_needs('special_needs_line')"} %>
            <%= label_tag("radio_special", t('special_needs_yes'), :class=>"form_inner_label") %>
            <%= radio_button_tag "radio_special" , "false", true, {:id=>"nao", :onclick=>"hide_special_needs('special_needs_line')"} %>
            <%= label_tag("radio_special", t('special_needs_no'), :class=>"form_inner_label") %>
          </td>
        </tr>
        <tr id="special_needs_line">
          <td class="form_label"><%= f.label :special_needs, t(:which) %> </td>
          <td class="form_field"><%= f.text_field :special_needs,:size=>field_size %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_access_data) %></h2>
    </div>
    <div class="block_content">
      <span class="form_requirement"><%= t(:required_fields) %></span>
      <table class="form_user_table">
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_nick)}*" %></td>
          <td class="form_field"><%= f.text_field :nick, :id => 'nick', :size=>field_size %></td>
          <td class="form_error"><%= msg_nick %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_login)}*" %></td>
          <td class="form_field"><%= f.text_field :username, :id => 'username', :size=>field_size %></td>
          <td class="form_error"><%= msg_login %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_password)}*" %></td>
          <td class="form_field"><%= f.password_field :password , :id => 'password', :size=>field_size%></td>
          <td class="form_error"><%= msg_password %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_password_confirmation)}*", :class=>"label_usuario" %></td>
          <td class="form_field"><%= f.password_field :password_confirmation , :id => 'password_confirmation', :size=>field_size%></td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_email)}*" %></td>
          <td class="form_field"><%= f.text_field :email, :id => 'email', :size=>field_size %></td>
          <td class="form_error"><%= msg_email %></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_email_confirmation)}*", :class=>"label_usuario" %></td>
          <td class="form_field"><%= f.text_field  :email_confirmation ,:id => 'email_confirmation', :size=>field_size%></td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_alternate_email)}", :class=>"label_usuario"%></td>
          <td class="form_field"><%= f.text_field :alternate_email, :size=>field_size %></td>
          <td class="form_error"><%= msg_alternate_email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_contact_data) %></h2>
    </div>
    <div class="block_content">
      <table class="form_user_table">
        <tr>
          <td class="form_label"><%= f.label :address %></td>
          <td class="form_field" colspan="3"><%= f.text_field :address , :id => 'address', :size=>field_size%></td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label :address_number %></td>
          <td class="form_field"><%= f.text_field :address_number , :id => 'address_number', :size=>10%></td>
          <td class="form_label"><%= f.label :address_complement %></td>
          <td class="form_field"><%= f.text_field :address_complement, :id => 'address_complement', :size=>16 %></td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label :address_neighborhood %></td>
          <td class="form_field"><%= f.text_field :address_neighborhood, :id => 'address_neighborhood', :size=>10 %></td>
          <td class="form_label"><%= f.label :zipcode %></td>
          <td class="form_field"><%= f.text_field :zipcode, :size=>16,:id=>"zipcode" %></td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label :country %></td>
          <td class="form_field"><%= f.text_field :country, :id => 'country', :size=>10 %></td>
          <td class="form_label"><%= f.label :state %></td>
          <td class="form_field">
            <%= f.select :state, ([["AC", "AC"], ["AL", "AL"], ["AP", "AP"],
                ["AM", "AM"], ["BA", "BA"], ["CE", "CE"], ["DF", "DF"], ["ES", "ES"],
                ["GO", "GO"], ["MA", "MA"], ["MT", "MT"], ["MS", "MS"], ["MG", "MG"],
                ["PA", "PA"], ["PB", "PB"], ["PR", "PR"], ["PE", "PE"], ["PI", "PI"],
                ["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"], ["RO", "RO"], ["RR", "RR"],
                ["SC", "SC"], ["SP", "SP"], ["SE", "SE"], ["TO", "TO"]]), :include_blank => true  %>
          </td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label :city %></td>
          <td class="form_field" colspan="3"><%= f.text_field :city,  :id => 'city', :size=>field_size  %></td>
          <td class="form_error"></td>
        </tr>
        <tr>
          <td class="form_label"><%= f.label :telephone %></td>
          <td class="form_field"><%= f.text_field :telephone, :size=> 10,:id=>"telephone" %></td>
          <td class="form_label"><%= f.label :cell_phone %></td>
          <td class="form_field"><%= f.text_field :cell_phone, :size=>16,:id=>"cell_phone" %></td>
          <td class="form_error"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_other_info) %></h2>
    </div>
    <div class="block_content">
      <table class="form_user_table">
        <tr>
          <td class="form_label"><%= f.label "#{t(:form_institution)}" %></td>
          <td class="form_field"><%= f.text_field :institution, :id => 'institution',:size=>field_size %></td>
          <td class="form_error"><%= msg_institution %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form_buttons">
    <input type="button" value="<%=t :back%>" class="solar_button" onclick="document.location.href='<%=login_path%>'"/>
    <%= f.submit t(:confirm), :id=>"confirm", :class=>"solar_button", :alt=> t(:confirm) %>
  </div>

<% end %>

<script type="text/javascript">
  $(function(){
    $('#password,#password_confirmation').val('');
  });
</script>
