#register
  #header-register
    %p.label-register Cadastrar
  #personal
    #menu-register
      %ul
        %li
          %a.active{:href => "#"} Dados Pessoais
          .dot.active#dot-personal-data
        %li
          %a#inactive-access{:href => "#"} Acesso
          .dot#dot-access
        %li
          %a#inactive-contact{:href => "#"} Contato
          .dot#dot-contact
        %li
          %a#inactive-other{:href => "#"} Outros
          .dot#dot-other
    = image_tag("register-bar.png", :id => 'register-bar')

    #form
      = simple_form_for @user do |f|
        = f.error_notification
        #personal-data.form-panel
          .field
            = f.input :name, :placeholder => "digite seu nome"
          #inputCpf.field
            - if params[:cpf].present?
              = f.input :cpf, readonly: true, input_html: {value: params[:cpf]}
            - else
              = f.input :cpf
          #birthdate
            = f.input :birthdate do
              = f.date_select :birthdate, start_year: Time.now.year - 10, end_year: 1900
          #select
            = f.input :gender do
              = f.select :gender, ([[t(:m), true], [t(:f), false]])
          #special_needs.field
            = f.input :special_needs
          %p * campos obrigatórios
          #buttons
            %a#submit-register.next{href: '#'} próximo

        #access.form-panel
          .field
            = f.input :nick
          #login.field
            = f.input :username
          #password.field
            = f.input :password
          #confirm-password.field
            = f.input :password_confirmation, required: true
          #email.field
            = f.input :email
          #confirmEmail.field
            = f.input :email_confirmation, required: true
          #alternate-email.field  
            = f.input :alternate_email
          %p * campos obrigatórios
          #buttons
            %a#submit-register2.btn.back{href: "#"} anterior
            %a#submit-register.btn.next{href: "#"} próximo

        #contact.form-panel
          #address.contact
            = f.input :address
          #elements-column 
            #number.contact2 
              = f.input :address_number
          #complemento.contact2
            = f.input :address_complement
          #neighborhood.contact2
            = f.input :address_neighborhood
          #zipcode.contact2
            = f.input :zipcode
          #country.contact2
            = f.input :country, as: :string, input_html: {size: 10}
          #state.contact2
            = f.input :state do
              = f.select :state, ([["AC", "AC"], ["AL", "AL"], ["AP", "AP"], ["AM", "AM"], ["BA", "BA"], ["CE", "CE"], ["DF", "DF"], ["ES", "ES"], ["GO", "GO"], ["MA", "MA"], ["MT", "MT"], ["MS", "MS"], ["MG", "MG"], ["PA", "PA"], ["PB", "PB"], ["PR", "PR"], ["PE", "PE"], ["PI", "PI"], ["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"], ["RO", "RO"], ["RR", "RR"], ["SC", "SC"], ["SP", "SP"], ["SE", "SE"], ["TO", "TO"]]), :include_blank => true
          #city.contact    
            = f.input :city
          #cell.contact2
            = f.input :telephone
          #cell.contact2
            = f.input :cell_phone
          #buttons
            %a#submit-register2.btn.back{href: "#"} anterior
            %a#submit-register.btn.next{href: "#"} próximo

        #other.form-panel
          #institution.contact
            = f.input :institution
          #buttons
            %a#submit-register2.btn.back{href: "#"} anterior
            %button#complete{type: :submit} concluir

#cancel
  %a{href: "/"} Cancelar

/ :javascript
/   $(footer).remove();