#register
  #register-header
    %p.label-register
      = t(:signup)
  #register-content
    #register-steps
      %ul
        %li.active
          = t(:new_user_personal_data)
          .dot.active#dot-personal-data
        %li#inactive-access
          = t(:new_user_access_data)
          .dot#dot-access
        %li#inactive-contact
          = t(:new_user_contact_data)
          .dot#dot-contact
        %li#inactive-other
          = t(:new_user_other_info)
          .dot#dot-other

    #form
      = simple_form_for @user do |f|
        = f.error_notification
        #personal-data.form-panel
          .field
            = f.input :name
          #inputCpf.field
            - if params[:cpf].present?
              = f.input :cpf, readonly: true, input_html: {value: params[:cpf]}
            - else
              = f.input :cpf
          #birthdate.field
            = f.input :birthdate do
              = f.date_select :birthdate, start_year: Time.now.year - 10, end_year: 1900
          #gender.field
            = f.input :gender do
              = f.select :gender, ([[t(:m), true], [t(:f), false]])
          #special_needs.field
            %div
              %label.string.optional.form_label
                = t(:form_special_needs)
              = f.collection_radio_buttons :has_special_needs, [[true, t('special_needs_yes')] ,[false, t('special_needs_no')]], :first, :last, default: false            
          #special_needs_line.field.invisible
            = f.input :special_needs

          %p.required_info
            = t(:required_fields)
          .buttons
            %a.next{href: '#'}
              = t(:registration_next)

        #access.form-panel
          .field
            = f.input :nick
          #login.field
            = f.input :username
          #password.field
            = f.input :password
          #confirm-password.field
            = f.input :password_confirmation, required: true
          #email.field
            = f.input :email
          #confirmEmail.field
            = f.input :email_confirmation, required: true
          #alternate-email.field  
            = f.input :alternate_email
          %p.required_info
            = t(:required_fields)
          .buttons
            %a.btn.back{href: "#"}
              = t(:registration_previous)
            %a.btn.next{href: "#"}
              = t(:registration_next)

        #contact.form-panel
          #address.contact.field
            = f.input :address
          #number.contact2.field
            = f.input :address_number
          #complement.contact2.field
            = f.input :address_complement
          #neighborhood.contact2.field
            = f.input :address_neighborhood
          #zipcode.contact2.field
            = f.input :zipcode
          #country.contact2.field
            = f.input :country, as: :string, input_html: {size: 10}
          #state.contact2.field
            = f.input :state do
              = f.select :state, ([["AC", "AC"], ["AL", "AL"], ["AP", "AP"], ["AM", "AM"], ["BA", "BA"], ["CE", "CE"], ["DF", "DF"], ["ES", "ES"], ["GO", "GO"], ["MA", "MA"], ["MT", "MT"], ["MS", "MS"], ["MG", "MG"], ["PA", "PA"], ["PB", "PB"], ["PR", "PR"], ["PE", "PE"], ["PI", "PI"], ["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"], ["RO", "RO"], ["RR", "RR"], ["SC", "SC"], ["SP", "SP"], ["SE", "SE"], ["TO", "TO"], [t(:state_other),t(:state_other)]]), :include_blank => true
          #city.contact.field
            = f.input :city
          #cell.contact2.field
            = f.input :telephone
          #cell.contact2.field
            = f.input :cell_phone
          .buttons
            %a.btn.back{href: "#"}
              = t(:registration_previous)
            %a.btn.next{href: "#"}
              = t(:registration_next)

        #other.form-panel
          #institution.contact.field
            = f.input :institution
          .buttons
            %a.btn.back{href: "#"}
              = t(:registration_previous)
            %button#complete{type: :submit, :value => t(:registration_done)}
              = t(:registration_done)

#cancel
  %a{href: "/"}
    = t(:registration_cancel)
