<% field_size, full_field_size = "width:80px;", "width:388px;" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if @user.errors.any? %>
    <% msg_login ="" %>
    <% msg_password ="" %>
    <% msg_nick ="" %>
    <% msg_email ="" %>
    <% msg_institution ="" %>
    <% msg_name ="" %>
    <% msg_cpf ="" %>
    <% msg_alternate_email = "" %>
    <% for msg in @user.errors.full_messages %>
      <%  if (msg.include?(t(:form_login))) %>
        <%  msg_login << msg %>
      <%  end %>
      <%  if (msg.include?(t(:form_password))) %>
        <%  msg_password << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_nick))) %>
        <%  msg_nick << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_email)) and !msg.include?(t(:form_alternate_email))) %>
        <%  msg_email << msg + "\n" %>
      <%  end %>
      <% if (msg.include?(t(:form_alternate_email))) %>
        <% msg_alternate_email << msg + "\n" %>
      <% end %>
      <%  if (msg.include?(t(:form_institution))) %>
        <%  msg_institution << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_name))) %>
        <%  msg_name << msg + "\n" %>
      <%  end %>
      <%  if (msg.include?(t(:form_cpf))) %>
        <%  msg_cpf << msg + "\n" %>
      <%  end %>
    <% end %>
  <% end %>
  <% field_size = 70 %>

  <!-- #### Cadastrais ###########################################-->
  <!-- Dados Pessoais -->
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_personal_data) %><span class="form_requirement"><%= t(:required_fields) %></span></h2>
    </div>
    <div class="block_content block_content_spacing">
<<<<<<< HEAD
      <ul class="form_user_content">
        <li>
          <span class="form_label"><%= f.label "#{t(:form_name)}*" %></span>
          <span class="form_field"><%= f.text_field :name, :id => "name", :size=>field_size %></span>
          <span class="form_error"><%= msg_name %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_cpf)}*" %></span>
          <span class="form_field"><%= f.text_field :cpf, :size=>field_size, :id=>"cpf" %></span>
          <span class="form_error"><%= msg_cpf %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label :birthdate, :class=>"label_usuario"%></span>
          <span class="form_field"><%= f.date_select :birthdate, :start_year => Time.now.year - 2, :end_year => 1900, :id => 'user_birthdate' %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label :gender, :class => 'label_gender'%></span>
          <span class="form_field"><%= f.select :gender, ([["M", true], ["F", false]]) , :id => 'gender',:size=>2 %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_special_needs)}*" %></span>
          <span class="form_field">
            <%= radio_button_tag "radio_special" , "true", true, {:id=>"sim", :onclick=>"show_special_needs('special_needs_line')"} %>
=======
    <ul class="form_user_content">
      <li>
        <span class="form_label"><%= f.label "#{t(:form_name)}*" %></span>
        <span class="form_field"><%= f.text_field :name, :id => "name", :size=>field_size %></span>
        <span class="form_error"><%= msg_name %></span>
      </li>
      <li>
        <span class="form_label"><%= f.label "#{t(:form_cpf)}*" %></span>
        <span class="form_field"><%= f.text_field :cpf, :size=>field_size, :id=>"cpf" %></span>
        <span class="form_error"><%= msg_cpf %></span>
      </li>
      <li>
        <span class="form_label"><%= f.label :birthdate, :class=>"label_usuario"%></span>
        <span class="form_field"><%= f.date_select :birthdate, :start_year => Time.now.year - 2, :end_year => 1900, :id => 'user_birthdate' %></span>
      </li>
      <li>
        <span class="form_label"><%= f.label :gender, :class => 'label_gender'%></span>
        <span class="form_field"><%= f.select :gender, ([["M", true], ["F", false]]) , :id => 'gender',:size=>2 %></span>
      </li>
      <li>
        <span class="form_label"><%= f.label "#{t(:form_special_needs)}*" %></span>
        <span class="form_field">
            <%= radio_button_tag "radio_special" , "true", !@user.special_needs.blank?, {:id=>"sim", :onclick=>"show_special_needs('special_needs_line')"} %>
>>>>>>> [#26753497] Na edição de um usuário, se ele possui necessidades especiais, o radio_button, agora, vem selecionado como 'sim' e o campo com a necessidade aparece habilitado e preenchido
            <%= label_tag("radio_special", t('special_needs_yes'), :class=>"form_inner_label") %>
            <%= radio_button_tag "radio_special" , "false", @user.special_needs.blank?, {:id=>"nao", :onclick=>"hide_special_needs('special_needs_line')"} %>
            <%= label_tag("radio_special", t('special_needs_no'), :class=>"form_inner_label") %>
          </span>
<<<<<<< HEAD
        </li>
        <li id="special_needs_line">
          <span class="form_label"><%= f.label :special_needs, t(:which) %></span>
          <span class="form_field"><%= f.text_field :special_needs,:size=>field_size %></span>
        </li>
      </ul>
=======
      </li>
      <% if @user.special_needs.blank? 
        display_special_needs_line = 'none'
      else
        display_special_needs_line = 'inline-block'
      end %>
      <li id="special_needs_line" style="display: <%=display_special_needs_line%>;">
        <span class="form_label"><%= f.label :special_needs, t(:which) %></span>
        <span class="form_field"><%= f.text_field :special_needs,:size=>field_size %></span>
      </li>
    </ul>
>>>>>>> [#26753497] Na edição de um usuário, se ele possui necessidades especiais, o radio_button, agora, vem selecionado como 'sim' e o campo com a necessidade aparece habilitado e preenchido
    </div>
  </div>

  <!-- Dados de acesso -->
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_access_data) %><span class="form_requirement"><%= t(:required_fields) %></span></h2>
    </div>
    <div class="block_content block_content_spacing">
      <ul>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_nick)}*" %></span>
          <span class="form_field"><%= f.text_field :nick, :id => 'nick', :size=>field_size %></span>
          <span class="form_error"><%= msg_nick %></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_login)}*" %></span>
          <span class="form_field"><%= f.text_field :username, :id => 'username', :size=>field_size %></span>
          <span class="form_error"><%= msg_login %></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label :current_password, t(:current_password) %></span>
          <span class="form_field"><%= f.password_field :current_password, :size => "15" %></span>
          <span class="form_error"><%= msg_password %></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label :password, t(:new_password)%></span>
          <span class="form_field"><%= f.password_field :password, :size=>"15" %></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label :password_confirmation, t(:password_confirmation)%></span>
          <span class="form_field"><%= f.password_field :password_confirmation, :size=>"15" %></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_email)}*" %></span>
          <span class="form_field"><%= f.text_field :email, :id => 'email', :size=>field_size %></span>
          <span class="form_error"><%= msg_email %></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_email_confirmation)}*", :class=>"label_usuario" %></span>
          <span class="form_field"><%= f.text_field  :email_confirmation ,:id => 'email_confirmation', :size=>field_size%></span>
        </li>
      </ul>
      <ul>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_alternate_email)}", :class=>"label_usuario"%></span>
          <span class="form_field"><%= f.text_field :alternate_email, :size=>field_size %></span>
        <td class="form_error"><%= msg_alternate_email %></td>
        </li>
      </ul>
    </div>
  </div>

  <!-- Dados de Contato -->
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_contact_data) %></h2>
    </div>
    <div class="block_content block_content_spacing">
      <ul>
        <li>
          <span class="form_label"><%= f.label :address %></span>
          <span class="form_field"><%= f.text_field :address , :id => 'address', :size=>field_size%></span>
          <span class="form_error"></span>
        </li>
        <li>
          <span class="form_label"><%= f.label :address_number %></span>
          <span class="form_field"><%= f.text_field :address_number , :id => 'address_number', :size=>10%></span>
          <span class="form_label"><%= f.label :address_complement %></span>
          <span class="form_field"><%= f.text_field :address_complement, :id => 'address_complement', :size=>16 %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label :address_neighborhood %></span>
          <span class="form_field"><%= f.text_field :address_neighborhood, :id => 'address_neighborhood', :size=>10 %></span>
          <span class="form_label"><%= f.label :zipcode %></span>
          <span class="form_field"><%= f.text_field :zipcode, :size=>16,:id=>"zipcode" %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label :country %></span>
          <span class="form_field"><%= f.text_field :country, :id => 'country', :size=>10 %></span>
          <span class="form_label"><%= f.label :state %></span>
          <span class="form_field">
            <%= f.select :state, ([["AC", "AC"], ["AL", "AL"], ["AP", "AP"],
                ["AM", "AM"], ["BA", "BA"], ["CE", "CE"], ["DF", "DF"], ["ES", "ES"],
                ["GO", "GO"], ["MA", "MA"], ["MT", "MT"], ["MS", "MS"], ["MG", "MG"],
                ["PA", "PA"], ["PB", "PB"], ["PR", "PR"], ["PE", "PE"], ["PI", "PI"],
                ["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"], ["RO", "RO"], ["RR", "RR"],
                ["SC", "SC"], ["SP", "SP"], ["SE", "SE"], ["TO", "TO"]]), :include_blank => true  %>
          </span>
        </li>
        <li>
          <span class="form_label"><%= f.label :city %></span>
          <span class="form_field"><%= f.text_field :city,  :id => 'city', :size=>field_size  %></span>
        </li>
        <li>
          <span class="form_label"><%= f.label :telephone %></span>
          <span class="form_field"><%= f.text_field :telephone, :size=> 10,:id=>"telephone" %></span>
          <span class="form_label"><%= f.label :cell_phone %></span>
          <span class="form_field"><%= f.text_field :cell_phone, :size=>16,:id=>"cell_phone" %></span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Dados de Instituição -->
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:new_user_other_info) %></h2>
    </div>
    <div class="block_content block_content_spacing">
      <ul>
        <li>
          <span class="form_label"><%= f.label "#{t(:form_institution)}" %></span>
          <span class="form_field"><%= f.text_field :institution, :id => 'institution',:size=>field_size %></span>
          <span class="form_error"><%= msg_institution %></span>
        </li>
      </ul>
    </div>
  </div>

  <!-- #### Pessoais ###########################################-->
  <div class="block_wrapper" >
    <div class="block_title">
      <h2><%= t(:new_user_personal_data) %></h2> 
    </div>
    <div class="block_content block_content_spacing">
      <ul class="form_user_content">
        <li>
          <span class="form_label form_label_multiline"><%= f.label :bio%></span>
          <span class="form_field"><%= f.text_area :bio,:rows=>2 %></span>
        </li>
        <li>
          <span class="form_label form_label_multiline"><%= f.label :interests %></span>
          <span class="form_field"><%= f.text_area :interests,:rows=>2 %></span>
        </li>
        <li>
          <span class="form_label form_label_multiline"><%= f.label :music, :class=>"label_usuario"%></span>
          <span class="form_field"><%= f.text_area :music,:rows=>2 %></span>
        </li>
        <li>
          <span class="form_label form_label_multiline"><%= f.label :movies %></span>
          <span class="form_field"><%= f.text_area :movies,:rows=>2 %></span>
        </li>
        <li>
          <span class="form_label form_label_multiline"><%= f.label :books%></span>
          <span class="form_field"><%= f.text_area :books,:rows=>2 %></span>
        </li>
        <li>
          <span class="form_label form_label_multiline"><%= f.label :phrase%></span>
          <span class="form_field"><%= f.text_area :phrase,:rows=>2 %></span>
        </li>
        <li>
          <span class="form_label form_label_multiline"><%= f.label :site%></span>
          <span class="form_field"><%= f.text_field :site , :size=>field_size %></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="user_data_form_buttons">
    <input type="button" value="<%=t :back%>" class="btn btn_default user_data_form_buttons" onclick="document.location.href='<%=login_path%>'"/>
    <%= f.submit t(:confirm), :id=>"confirm", :class=>"btn btn_main user_data_form_buttons", :alt=> t(:confirm) %>
  </div>

<% end %>
