- groups = GroupAssignment.find_all_by_assignment_id(@assignment.id)

.group_assignment_content
  - unless groups.nil? or groups.empty?
    - groups.each do |group|
      - group_info = info_assignment_group(group)
      .group_participants{:id => ["group", group.id]}
        %h3{:class => "group_name_#{!group_info["evaluated"]}", :alt => "#{group_info["error_message"]}"}
          = group.group_name
          %span.group_elements_float
            = button_to t(:evaluate, :scope => [:portfolio, :evaluation]), assignment_portfolio_teacher_path(:group_id => group.id, :assignment_id => @assignment.id), {:class => "btn btn_default evaluate_group", :alt => t(:evaluate, :scope => [:portfolio, :evaluation])}
        %div{:class => "edit_group_#{!group_info["evaluated"]}", :style => "display:none;"}
          = text_field_tag "new_groups_names[][#{@assignment.id}]", group.group_name, :id => "text_field_group_#{group.id}", :class => "rename_group" 
          %a.remove_group{:onclick => "javascript:delete_group('group_#{group.id}', #{@assignment.id}, #{group_info["can_remove"]});", :title => "#{group_info["error_message"]}", :alt => "#{t(:remove, :group_name => group.group_name, :scope => [:portfolio, :group_assignments])}"}= "x"
        %div{:class => "group_information_#{!group_info["evaluated"]}"}
          = group_info["quantity_files_sent"]
          = t(:files, :scope => [:portfolio, :files])
          %span.group_elements_float
            = t(:grade, :scope => [:portfolio, :information])
            = (group.send_assignment.nil? or group.send_assignment.grade.nil?) ? "-" : group.send_assignment.grade
        - group_participants = GroupParticipant.all_by_group_assignment(group.id)
        %ul{:id => "#{!group_info["evaluated"]}", :value => "#{group.id}"}
          - unless group_participants.empty?
            - group_participants.each do |participant|
              - participant_info = info_assignment_group_participant(participant.user_id, !group_info["evaluated"], group) 
              %li{:class => "student_#{participant.user_id}", :value => "#{participant.user_id}", :id => "#{participant_info["can_be_moved"]}", :onmouseover => "javascript:student_mouseover(this, '#{participant_info["error_message"]}');", :onmouseout => "javascript:student_mouseout(this);"}= participant.user.name
          - else
            %li.no_students_message= t(:no_participant, :scope => [:portfolio, :group_assignments])

  .group_participants
    %h3.group_name_true= t(:students_with_no_group, :scope => [:portfolio, :group_assignments])
    .edit_group_true{:style => "display:none;"}
      = t(:students_with_no_group, :scope => [:portfolio, :group_assignments])
      = hidden_field_tag "new_groups_names[][#{@assignment.id}]", 'no_group', :class => "rename_group"
    %ul.ul_no_group
      - unless @students_without_group.nil? or @students_without_group.empty?
        - @students_without_group.each do |student_without_group| 
          %li#true{:class => "student_#{student_without_group.id}", :value => "#{student_without_group.id}", :onmouseover => "javascript:student_mouseover(this, 'no_message');", :onmouseout => "student_mouseout(this);"}= student_without_group.name
      - else
        %li.no_students_message= t(:no_participant, :scope => [:portfolio, :group_assignments])

  .import_and_new_groups
