<%= javascript_include_tag 'group_assignments.js' %>

<%= form_for(@group_assignment, :html => {:id => 'form_group_assignment'}) do |f| %>
  <%= hidden_field_tag :group_assignment_id, @group_assignment.id %>
  <%= hidden_field_tag :assignment_id, @group_assignment.assignment_id %>
  <div class="block_wrapper" id="group_assignments">

    <div class="block_title">
      <h2><%= t(:groups_of_assignment) %> <%= @group_assignment.assignment.name%></h2>
    </div>

    <div class="block_content" id="group_assignments">
        <table class="tb_list">
          <tbody>
              <tr class="lines">
                <td>
                    <div class="group_assignment_content">
                      <% unless @groups.nil? or @groups.empty? %>
                        <% @groups.each do |g| %>
                          <div class="participants">
                            <h3 class="groupname"><%= g["group_name"] %>
                              <div class="group_links">
                                <%= link_to t(:group_assignment_edit).downcase, edit_group_assignment_path(g, :assignment_id => g.assignment_id), {:class => 'group_assig_link'} %>
                              </div>
                              <div class="group_links">
                                <%= link_to t(:group_assignment_delete).downcase, group_assignment_path(g, :assignment_id => g.assignment_id), :method => :delete, :confirm => t(:confirm_deletion, :group_name => g["group_name"]), :class => 'group_assig_link' %>
                              </div>
                            </h3>
                            <% gp = group_participants(g["id"])%>
                            <% unless gp.empty? %>
                              <ul>
                                <% gp.each do |p| %>
                                  <li><%= p["name"] %></li>
                                <% end %>
                              </ul>
                            <% else %>
                              <%= t(:no_participant_group_assignment) %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </td>
          </tbody>
        </table>

      <div class="division"></div>

      <div class="group_div">
        <div class="page_title"><%= t(:edit_group) %></div>    
          <table class="tb_list">
            <tbody>
              <tr class="lines">
                <td class = "form_group_managment">
                  <div>
                    <%= f.label t(:group_name) %> 
                    <%= f.text_field :group_name, :value => @group_assignment.group_name %>
                  </div>
                  <div>
                    <%= f.label t(:students) %> 
                  </div>
                  <div class="all_students">
                    <% @groups.each do |g| %>
                      <% display_students = 'display: none;' unless g["id"].to_i == @group_assignment.id %>
                      <li>
                        <% gp = group_participants(g["id"])%>
                        <h3 class="groupname" onclick="clickOnGroup('<%= g['id'] %>');" ><div class="menu_icon_arrow">‣</div><%= g["group_name"] %> (<%= gp.size %>) </h3>
                        <div id="students_<%= g["id"] %>" style="<%=display_students%>">
                          <% unless gp.empty? %>
                            <% gp.each do |p| %>
                              <% student_sent_file = !SendAssignment.find_all_by_group_assignment_id_and_user_id(g["id"], p["user_id"].to_i).empty? %>
                              <% data_tooltip = t(:student_already_sent_files) unless !student_sent_file %>
                              <ul class="each_student" data-tooltip='<%=data_tooltip%>'>
                                <%= check_box_tag "students[][#{g['id']}]", p["id"], p["group_assignment_id"].to_i == @group_assignment.id, :disabled => student_sent_file %> 
                                <%= f.label p["name"] %>
                              </ul>
                            <% end %>
                          <%else%>
                            <%= f.label t(:no_participant_group_assignment) %>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                    <li >
                      <h3 class="groupname" onclick="clickOnGroup('without_group');"><div class="menu_icon_arrow">‣</div> <%= t(:with_no_group) %> (<%= @students_with_no_group.size %>) </h3>
                      <div id="students_without_group" style="display: none;">
                        <% @students_with_no_group.each do |g| %>
                          <ul class="each_student">
                            <%= check_box_tag "students_no_group[]", g.id %>
                            <%= g.name %>
                          </ul>
                        <% end %>
                        <% if @students_with_no_group.empty? %> 
                          <%= f.label t(:group_assingnment_no_student_without_group) %> 
                        <% end %>
                     </div>
                    </li>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>      
        </div>
    </div>
  </div>

  <div class="group_assignment_buttons">
    <%= f.submit t(:group_assignment_save), :id=>"confirm", :class=>"solar_button btn btn_main", :alt=> t(:group_assignment_save) %>
    <input type="button" value='<%=t(:group_assignment_cancel)%>' class="btn btn_caution" onclick="document.location.href='<%=group_assignments_path%>'"/>
  </div>

<% end %>

<script type="text/javascript">

  $(function(){

    changeOpendedGroupArrow(<%= @group_assignment.id %>);
    
    $('.group_assig_link').click(function(){
      return submit_form_with_ajax();
    });

     function submit_form_with_ajax(){
        var confirm_edition_message = '<%= t(:confirm_edition_message, :actual_group_name => @group_assignment.group_name) %>';
        if (confirm(confirm_edition_message)) {
          var form = $('form#form_group_assignment');
          var continue_with_request = true;
          $.ajax({
            url: form[0].action + '.json',
            type: 'PUT',
            data: form.serialize(),
            async: false,
            success: function(data) {
              if (data.success == false) {
                continue_with_request = false;
              }
              flash_message(data.flash_msg, data.flash_class);
            }
          });
          return continue_with_request; 
        }
     }

  });

</script>