<<<<<<< Updated upstream
<%= form_for(@group_assignment, :html => {:id => 'form_group_assignment'}) do |f| %>
=======
<%= form_for(@group_assignment) do |f| %>
>>>>>>> Stashed changes
  <%= hidden_field_tag :group_assignment_id, @group_assignment.id %>
  <div class="block_wrapper" id="group_assignments">

    <div class="block_title">
      <h2><%= t(:groups_of_assignment) %> <%= @group_assignment.assignment.name%></h2>
    </div>

    <div class="block_content" id="group_assignments">
        <table class="tb_list">
          <tbody>
              <tr class="lines">
                <td>
                    <div class="group_assignment_content">
                      <% unless @groups.nil? or @groups.empty? %>
                        <% @groups.each do |g| %>
                          <div class="participants">
                            <h3 class="groupname"><%= g["group_name"] %>
                              <div class="group_links">
                                <%= link_to 'excluir', g, :method => :delete, :class => 'group_assig_delete' %>
                              </div>
                              <div class="group_links">
                                <%= link_to "editar", edit_group_assignment_path(g), {:class => 'group_assig_edit'} %>
                              </div>
                            </h3>
                            <% gp = group_participants(g["id"])%>
                            <% unless gp.empty? %>
                              <ul>
                                <% gp.each do |p| %>
                                  <li><%= p["name"] %></li>
                                <% end %>
                              </ul>
                            <% else %>
                              <%= t(:no_participant_group_assignment) %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </td>
          </tbody>
        </table>

      <div class="division"></div>
      <div class="group_edition">
        <div class="edition_title"><%= t(:edit_group) %></div>    
          <table class="tb_list">
            <tbody>
              <tr class="lines">
                <td class = "form_group_managment">
                  <div>
                    <%= f.label t(:group_name) %> 
                    <%= f.text_field :group_name, :value => @group_assignment.group_name %>
                  </div>
                  <div>
                      <%= f.label "Alunos" %> 
                  </div>
                  <div class="all_students">
                        <div class="all_students_padding">
                            <% @groups.each do |g| %>
                                <% display_students = 'display: none;' unless g["id"].to_i == @group_assignment.id %>
                                <li>
                                  <% gp = group_participants(g["id"])%>
                                  <h3 class="groupname" onclick="clickOnGroup('<%= g['id'] %>');" ><div class="menu_icon_arrow">‣</div><%= g["group_name"] %> (<%= gp.size %>) </h3>
                                  <% unless gp.empty? %>
                                    <div id="students_<%= g["id"] %>" style="<%=display_students%>">
                                      <% gp.each do |p| %>
                                        <ul class="each_student">
                                          <%= check_box_tag "students[][#{g['id']}]", p["id"], p["group_assignment_id"].to_i == @group_assignment.id  %> 
                                          <%= f.label p["name"] %>
                                        </ul>
                                      <% end %>
                                    </div>
                                  <% end %>
                                </li>
                            <% end %>
                            <li >
                               <h3 class="groupname" onclick="clickOnGroup('without_group');"><div class="menu_icon_arrow">‣</div>Sem grupo (<%= @studens_with_no_group.size %>) </h3>
                               <div id="students_without_group" style="display: none;">
                                 <% @studens_with_no_group.each do |g| %>
                                    <ul class="each_student">
                                        <%= check_box_tag "students_no_group[]", g.id %>
                                        <%= g.name %>
                                    </ul>
                                <% end %>
                              </div>
                            </li>
                        </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>      
        </div>
    </div>
  </div>
  <div class="group_assignment_buttons">
    <%= f.submit t(:group_assignment_save), :id=>"confirm", :class=>"solar_button btn btn_main", :alt=> t(:group_assignment_save) %>
    <button type="button" class="btn btn_caution" id="folder_cancel" value="<%=t :back%>"><%= t(:group_assignment_cancel) %></button>
    <%#= button_to t(:group_assignment_cancel), {:controller => :group_assignments, :action => :list, :id => @group_assignment.assignment.id}, :class=>'btn btn_caution' %>
  </div>
<% end %>

<script type="text/javascript">

  function flash_message(msg, css_class) {
    if ($('#flash_message')) { $('#flash_message').remove(); }
    var html = '<div id="flash_message" class="' + css_class + '"><span>' + msg + '</span></div>';
    $('.flash_message_wrapper').append(html);
  }

  function clickOnGroup(group_div_id){
    this_div = $('#students_'+group_div_id);
    if (this_div.css('display') == 'none'){
      this_div.slideDown(); 
      this_div.parents('li').find('.menu_icon_arrow').addClass('menu_icon_animate');
    }else{
      this_div.slideUp(); 
      this_div.parents('li').find('.menu_icon_animate').removeClass('menu_icon_animate');
    }
  }

  function changeOpendedGroupArrow(){
    var group_assignment_id = <%= @group_assignment.id %>;
    this_div = $('#students_'+group_assignment_id);
    if (this_div.css('display') == 'block'){
      this_div.parents('li').find('.menu_icon_arrow').addClass('menu_icon_animate');
    }
  }

  $(function(){

    changeOpendedGroupArrow();
    
    $('.group_assig_edit').click(function(){
      return submit_form_with_ajax();
    });

    $('.group_assig_delete').click(function(){
      if (confirm('quer excluir mesmo?')) {
        return submit_form_with_ajax();
      }
    });

     function submit_form_with_ajax(){
        if (confirm('quer salvar?')) {
          var form = $('form#form_group_assignment');
          var continue_with_request = true;

          $.ajax({
            url: form[0].action + '.json',
            type: 'PUT',
            data: form.serialize(),
            async: false,
            success: function(data) {
              if (data.success == false) {
                continue_with_request = false;
                flash_message(data.flash_msg, data.flash_class);
              }
            }
          });

          return continue_with_request;
          
        }
     }

  });

</script>