<%= javascript_include_tag 'group_assignments.js' %>

<div class="block_wrapper" id="group_assignments">

  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:group_assignments)%></h2>
  </div>

  <div class="block_content" id="group_assignments">

    <% unless @assignments.nil? or @assignments.empty? %>
      <table class="tb_list">
        <tbody>
        <% @assignments.each do |a| %>
          <tr class="lines">
            <td>
              <div class="group_assignment_title" onClick="javascript:toggle_div('div_group_<%=a["id"]%>');">
                <a id="<%=a["id"].to_i%>" class="link_content"><%=a["name"]%></a>
              </div>
              <% gps = group_assignments(a["id"])%>
              <div id="div_group_<%=a["id"]%>" class="group_assignment_details">

                <div class="group_assignment_content"><%=a["enunciation"]%></div>

                <h3><%= t(:group_assignment_date)%></h3>
                <div class="group_assignment_content"><%= a["start_date"] %> - <%= a["end_date"] %></div>

                <h3><%= t(:group_assignment_title)%></h3>
                <div class="group_assignment_content">

                  <% unless gps.nil? or gps.empty? %>
                    <% gps.each do |g, idx| %>
                      <div class="group_participants">
                        <h3 class="group_assignment_name" id="group_name_<%=g["group_name"].tr(' ', '')%>"><%= g["group_name"] %></h3>
                        <div id="edit_group_<%=g["group_name"].tr(' ', '')%>" style="display:none;">
                          <%= text_field_tag "new_groups_names[][#{a["id"]}]", g["group_name"], :id => g["group_name"].tr(' ', '') ,:class => "rename_group" %>

                          <% group_has_files = !SendAssignment.find_all_by_group_assignment_id(g["id"]).empty? %>
                          <% data_tooltip = t(:group_assignment_delete_error) unless !group_has_files %>
                          <a class='' onclick='delete_group(<%=g["id"]%>, <%=a["id"]%>);' data-tooltip='<%=data_tooltip%>'>x</a>
                          <%#= hidden_field_tag 'deleted_groups[][#{a["id"]}]'%>

                        </div>
                        <% gp = group_participants(g["id"])%>
                        <ul class="oi" id="<%=idx%>">
                          <% gp.each do |p| %>
                            <li><%= p["name"] %></li>
                          <% end %>
                        </ul>
                        <%#= link_to t(:group_assignment_edit), {:controller => :group_assignments, :action => :edit, :id => g["id"], :assignment_id => a["id"]}, {:class => 'link_content group_edit'} %>
                      </div>
                    <% end %>
                  <% end %>

                  <% students_without_group = no_group_students(a["id"].to_i) %>
                  <div class="group_participants">
                    <h3 class="group_assignment_name"><%= t(:students_with_no_group) %></h3>
                    <% unless students_without_group.nil? or students_without_group.empty? %>
                      <ul>
                        <% students_without_group.each do |student_without_group| %>
                          <li><%= student_without_group.name %></li>
                        <% end %>
                      </ul>
                    <%# else %>
                      <!-- <ul><%#= t(:group_assingnment_no_student_without_group) %></ul> -->
                    <% end %>
                  </div>
                </div>


                <div class="group_assignment_buttons">
                  <%= form_for(:support_material, :html => { :multipart => true }, :url => {:controller => :group_assignments, :action => :new, :assignment_id => a["id"]}) do |f| %>
                    <input type="button" id='new_group_<%=a["id"]%>' value='<%=t(:group_assignment_new)%>' class="btn btn_default"/>
                    <!-- \/ se houver grupos (a definir regra) \/ -->
                    <input type="button" id='edit_group_assignment_<%=a["id"]%>' value='<%=t(:group_assignment_edit)%>' class="btn btn_default" onclick="click_edit_button('<%=a["id"]%>');"/>
                    <span id='save_changes_assignment_<%=a["id"]%>' style="display:none;">
                      <%= f.submit t(:group_assignment_save), :class=>'btn btn_main' %>
                    </span>
                    <input type="button" id='cancel_changes_assignment_<%=a["id"]%>' value='<%=t(:group_assignment_cancel)%>' class="btn btn_caution" onclick="click_cancel_button('<%=a["id"]%>');" style="display: none;"/>
                    <!-- /\ se houver grupos (a definir regra) /\ -->
                    <% if verify_group_of_assignments(a["id"]) %>
                      <input type="button" id='import_to_<%=a["id"]%>' value='<%=t(:group_assignment_import)%>' class="btn btn_default" onclick="showImportGroupBox('<%= url_for(:controller => :group_assignments, :action => :import_groups_page, :id => GroupAssignment.first.id, :assignment_id => a["id"].to_i)%>', '');"/>
                    <% end %>
                  <% end %>
                </div>
                
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
   
  </div>

</div>

<script type="text/javascript">

  $(".group_assignment_title").click(function(){
    $(this).toggleClass('group_assignment_title_contract');
  })

  function click_edit_button(assignment_id){
    group_name_to_text_field(assignment_id);
    $('#edit_group_assignment_'+assignment_id).hide();
    $('#save_changes_assignment_'+assignment_id).show();
    $('#cancel_changes_assignment_'+assignment_id).show();
    dragndrop();
  }

  function click_cancel_button(assignment_id){
    if (confirm('Quer cancelar todas as alterações?')){
      // $('#group_assignment_content').append('<input type="hidden_field" id="assignment_id" name="assignment_id" value='+assignment_id+'/>;');
      document.location.href='<%=group_assignments_path%>';
      //recarrega página com o assignment em questão aberto. :|
    }
  }

  function group_name_to_text_field(assignment_id){
    var all_groups = document.getElementsByName("new_groups_names[]["+assignment_id+"]");
    for(var i = 0; i < all_groups.length; i++) {
      $('#group_name_'+all_groups[i]['id']).hide();
      $('#edit_group_'+all_groups[i]['id']).fadeIn();  
    }
  }

  function delete_group(group_id, assignment_id){

  }

  function dragndrop(){
    active_draggable_element(".group_participants li");
    
    $( ".group_participants ul" ).droppable({
      accept: ".group_participants li",
      // activeClass: "ui-state-highlight",
      drop: function( event, ui ) {
        ui.draggable.remove();
        $( "<li style='position: relative; ' class='ui-draggable'></li>" ).text( ui.draggable.text() ).appendTo( this );
        active_draggable_element(".group_participants li");
        alert('oi');
      }

    });

  }

  function active_draggable_element(element){
    $( element ).draggable({
      cursor: "move",
      revert: true
    });
  }

</script>