<%= javascript_include_tag 'group_assignments.js' %>

<%= form_for(@group_assignment) do |f| %>
  <%= hidden_field_tag :assignment_id, @assignment.id %>
  <div class="block_wrapper" id="group_assignments">

    <div class="block_title">
      <h2><%= t(:groups_of_assignment) %><%= @assignment.name%></h2>
    </div>

      <div class="block_content" id="group_assignments">
        <table class="tb_list">
          <tbody>
              <tr class="lines">
                <td>
                    <div class="group_assignment_content">
                      <% unless @groups.nil? or @groups.empty? %>
                        <% @groups.each do |g| %>
                          <div class="participants">
                            <h3 class="groupname"><%= g["group_name"] %>
                              <div class="group_links">
                                <%= link_to t(:group_assignment_edit).downcase, edit_group_assignment_path(g, :assignment_id => g.assignment_id), {:class => 'group_assig_link'} %>
                              </div>
                              <div class="group_links">
                                <%= link_to t(:group_assignment_delete).downcase, group_assignment_path(g, :assignment_id => g.assignment_id), :method => :delete, :confirm => t(:confirm_deletion, :group_name => g["group_name"]), :class => 'group_assig_link' %>
                              </div>
                            </h3>
                            <% gp = group_participants(g["id"])%>
                            <% unless gp.empty? %>
                              <ul>
                                <% gp.each do |p| %>
                                  <li><%= p["name"] %></li>
                                <% end %>
                              </ul>
                            <% else %>
                              <%= t(:no_participant_group_assignment) %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </td>
          </tbody>
        </table>

        <div class="division"></div>

        <div class="group_div">
          <div class="page_title"><%= t(:group_assignment_new) %></div>    
          <table class="tb_list">
            <tbody>
              <tr class="lines">
                <td class = "form_group_managment">
                  <div>
                    <%=f.label t(:group_name) %> 
                    <%= f.text_field :group_name %>
                  </div>
                  <div>
                    <%= f.label t(:students) %> 
                  </div>
                  <div class="all_students">
                    <li >
                      <h3 class="groupname"><div class="menu_icon_arrow">‣</div><%= t(:with_no_group) %> (<%= @students_with_no_group.size %>) </h3>
                      <div id="students_without_group">
                        <% @students_with_no_group.each do |g| %>
                          <ul class="each_student">
                            <%= check_box_tag "students_no_group[]", g.id %>
                            <%= f.label g.name %>
                          </ul>
                        <% end %>
                        <% if @students_with_no_group.empty? %> 
                          <%= f.label t(:group_assingnment_no_student_without_group) %> 
                        <% end %>
                      </div>
                    </li>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>      
        </div>
      </div>
  </div>

  <div class="group_assignment_buttons">
    <%= f.submit t(:group_assignment_save), :id=>"confirm", :class=>"solar_button btn btn_main", :alt=> t(:group_assignment_save) %>
    <input type="button" value='<%=t(:group_assignment_cancel)%>' class="btn btn_caution" onclick="document.location.href='<%=group_assignments_path%>'"/>
  </div>

<% end %>

<script type="text/javascript">

  $(function(){

    changeOpendedGroupArrow('without_group');

    $('#confirm').click(function(){
      return submit_form_with_ajax(false);
    });
    
    $('.group_assig_link').click(function(){
      return submit_form_with_ajax(true);
    });

    function submit_form_with_ajax(verify_call){
      
      if (verify_call){
        var confirm_creation_message = confirm('<%= t(:confirm_creation_message) %>');
      }else{
        var confirm_creation_message = true;
      }

        if (confirm_creation_message) {
          var form = $('form#new_group_assignment');
          var continue_with_request = true;
          $.ajax({
            url: form[0].action + '.json',
            type: 'POST',
            data: form.serialize(),
            async: false,
            success: function(data) {
              if (data.success == false) {
                continue_with_request = false;
                flash_message(data.flash_msg, data.flash_class);
              }
            }
          });
          return continue_with_request;
        }
     }

  });

</script>