<%= javascript_include_tag 'group_assignments.js' %>

 <!-- Descricao da atividade -->
  <div id="activities" class="block_wrapper">
    <div class="block_title">
      <h2>
        <%= image_tag "icon_suitcase_portfolio.png", :alt => " ", :class=>'block_title_icon' %><%= @assignment.name %>
      </h2>
    </div>
    <div id="group_activity_description" class="block_content">
      <table class="tb_list" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr class="lines">
            <th><%=t(:activity_description)%></th>
            <th align="right" style="width:70px">
              <%= image_tag "clock.png", :alt => " ", :class=>"block_title_icon" %>
              <span>
                Início
              </span>
            </th>
            <th align="right" style="width:70px">
              <%= image_tag "clock.png", :alt => " ", :class=>"block_title_icon" %>
              <span>
                Fim
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="lines" >
            <td>
              <%= @assignment.enunciation %>
            </td>
            <td class="center">
              <%= @assignment.schedule.start_date.strftime("%d/%m/%Y") %> às <%= @assignment.schedule.start_date.strftime("%H:%M") %> 
            </td>
            <td class="center">
              <%= @assignment.schedule.end_date.strftime("%d/%m/%Y") %>  <%= t(:portfolio_date_to) %> <%= @assignment.schedule.end_date.strftime("%H:%M") %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Arquivos enviados pelo professor -->
  <div id="group_activity_files" class="block_wrapper">
    <div class="block_title">
      <h2>
        <%= image_tag "icon_suitcase_portfolio.png", :alt=> " ", :class=>'block_title_icon' %>Arquivos enviados
      </h2>
      <span class="download_all_icon">
        <% unless @assignment_files.empty? %>
          <%= image_tag "mimetypes/zip.png", :alt => " ", :class=>'block_title_icon' %>
          <%= link_to t(:portfolio_download_all_zip), {:controller => :group_assignments, :action => :download_all_files_zip, :all_files => @assignment_files, :assignment_id => @assignment.id}, :class => "link_content" %>
        <% end %>
      </span>
    </div>
    <div id="enunciation_files" class="block_content">
      <% unless @assignment_files.empty? %>
        <table class="tb_list" border="0" cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr class="lines">
              <th>Nome</th>
              <th align="right" style="width: 80px">Tamanho</th>
              <th align="center" style="width:80px">
                <%= image_tag "clock.png", :alt => " ", :class=>"block_title_icon" %>
                <span>
                  Enviado em
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @assignment_files.each{ |file|  %>
              <tr class="lines" >
                <td>
                  <%= link_to image_tag(icon_attachment(file.attachment_file_name)), {:controller=>:group_assignments, :action=>:download_single_file, 
                                                                          :file_id => file.id, :assignment_id => @assignment.id },
                                                                          {:class => "file_icon", :alt => t(:file_type_icon)} %>
                  <%= link_to file.attachment_file_name, {:controller => :group_assignments, :action => :download_single_file, :file_id => file.id, 
                                              :assignment_id => @assignment.id }, :class => "link_content" %>
                </td>
                <td class="right">
                  <%= format('%.2f KB', file.attachment_file_size/1024.0) %>
                </td>
                <td class="center">
                  <%= file.attachment_updated_at.strftime("%d/%m/%Y") %> às <%= file.attachment_updated_at.strftime("%H:%M") %>
                </td>
              </tr>
            <% } %>      
          </tbody>
        </table>
      <% else %>
        <div class="portfolio_div_padding">
          <%= t(:itens_not_found) %>
        </div>
      <% end %>
    </div>
  </div>

 <!-- Grupos -->
  <div id="activities" class="block_wrapper">
    <div class="block_title">
      <h2><%= image_tag "icon_participants.png", :alt => " ", :class=>'block_title_icon' %><%= @assignment.name %></h2>
      <span class="group_assignment_manage_button">
        <input type="button" id='manage_group_assignment' value='<%=t(:manage_groups_assignments)%>' class="btn btn_main" onclick="btn_manage_groups('<%=@assignment.id%>', '<%=verify_group_of_assignments(@assignment.id)%>');"/>
      </span>
    </div>
    <div class="group_assignment_details">
      <div class="group_assignment_content">
        <% unless @groups.nil? or @groups.empty? %>
          <% @groups.each do |group| %>

            <% send_assignment  = SendAssignment.find_by_group_assignment_id(group["id"]) %>
            <% can_manage_group = (send_assignment.nil? or send_assignment["grade"].nil?) ? true : false %>
            <% tooltip_group    = can_manage_group ? nil : t(:group_aready_evaluated) %>

            <div class="group_participants" id="group_<%=group['id']%>">
              <h3 class="group_assignment_name group_name_<%=can_manage_group%>">
                <%= group["group_name"] %>
                <span class="group_assignment_manage_button">
                  <input type="button" value='Avaliar' class="btn btn_default evaluate_group" onclick="btn_evaluate_group(<%= group['id'] %>, <%= @assignment.id %>)"/>
                </span>
              </h3>
              <div class="edit_group_<%=can_manage_group%>" style="display:none;">
                <%= text_field_tag "new_groups_names[][#{@assignment.id}]", group["group_name"], :id => "text_field_group_#{group['id']}", :class => "rename_group" %>
                
                <% group_has_files = !SendAssignment.find_all_by_group_assignment_id(group["id"]).empty? %>
                <% tooltip_delete = (!group_has_files or !can_manage_group) ? tooltip_group : t(:group_assignment_delete_error) %>
                
                <a class="remove_group" onclick="delete_group('group_<%=group['id']%>', <%=@assignment.id%>, false);" title="<%=tooltip_delete%>">x</a>
              </div>
              <div class="group_assignment_information info_<%=can_manage_group%>">
                <span class="group_quantity_files">
                  <% files_sent           = send_assignment.nil? ? nil : AssignmentFile.find_all_by_send_assignment_id(send_assignment.id) %>
                  <% quantity_files_sent  = files_sent.nil?      ? "0" : files_sent.size  %>
                  <%= quantity_files_sent %> arquivo(s)
                </span>
                <span class="group_grade" >
                  Nota: <%= (send_assignment.nil? or send_assignment.grade.nil?) ? "-" : send_assignment.grade %>
                </span>
              </div>

              <% gp = group_participants(group["id"])%>

              <ul id="<%=can_manage_group%>" value="<%=group['id']%>">
                <% unless gp.empty? %>
                  <% gp.each do |p| %>
                    <% can_be_moved = AssignmentFile.find_all_by_user_id_and_send_assignment_id(p["user_id"], send_assignment.id).empty? unless send_assignment.nil? %>
                    <% tooltip = (can_be_moved or !can_manage_group) ? tooltip_group : t(:student_already_sent_files) %>
                    <li class="student_<%=p['user_id']%>" value="<%=p['user_id']%>" id="<%=can_be_moved%>" onmouseover="student_mouseover(this, '<%=tooltip%>');" onmouseout="student_mouseout(this);"><%= p["name"] %>
                  <% end %>
                <% else %>
                  <li id="no_students_message"><%= t(:no_participant_group_assignment) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>

        <div class="group_participants">
          <h3 class="group_assignment_name group_name_true"><%= t(:students_with_no_group) %></h3>
          <div class="edit_group_true" style="display:none;"><%= t(:students_with_no_group) %></div>
          <%= hidden_field_tag "new_groups_names[][#{@assignment.id}]", 'no_group', :class => "rename_group" %>
            <ul id='ul_no_group'>
              <% unless @students_without_group.nil? or @students_without_group.empty? %>
                <% @students_without_group.each do |student_without_group| %>
                  <li class="student_<%=student_without_group.id%>" value="<%=student_without_group.id%>" id="true" onmouseover="student_mouseover(this, 'no_message');" onmouseout="student_mouseout(this);"><%= student_without_group.name %></li>
                <% end %>
              <% else %>
                <li id="no_students_message"><%= t(:no_participant_group_assignment) %></li>
              <% end %>
            </ul>
        </div>

      </div>

      <div class="import_and_new_groups">
      </div>

  </div>

  <div class="group_assignment_buttons">

      <input type="button" id='cancel_changes_assignment' value='<%=t(:group_assignment_cancel)%>' class="btn btn_caution" onclick="btn_cancel('<%=@assignment.id%>');" style="display: none;"/>

      <input type="button" value="<%= t(:group_assignment_save) %>" class="btn btn_main" onclick="btn_save('<%=@assignment.id%>');" id='save_changes_assignment' style="display:none;"/>

  </div>

<script type="text/javascript">

  // Variáveis

  var deleted_groups = new Array();
  var url = '<%= manage_groups_group_assignments_path %>';

  // Métodos

  $(".group_assignment_title").click(function(){
    $(this).toggleClass('group_assignment_title_contract');
  })

  function put_empty_message(){
    // recupera todos os grupos da atividade
    var all_groups = $('ul');
    for(var i = 0; i<all_groups.length; i++){
      var all_participants_each_group = $('li', all_groups[i]);
      // quando ele estiver vazio, acrescenta uma mensagem informativa
      if(all_participants_each_group.length == 0){
        $('<li id="no_students_message"><%= t(:no_participant_group_assignment) %></li>').appendTo(all_groups[i]);
      }
    }
  }

  function show_import_and_new_groups_box(show_import_button) {

    var new_and_import_groups_box = new Array();

    new_and_import_groups_box.push('<div class="group_assignments_manage_buttons">');
      new_and_import_groups_box.push('<div class="group_assignments_manage_buttons_title">');
      new_and_import_groups_box.push('</div>');
      new_and_import_groups_box.push('<ul>');
        new_and_import_groups_box.push('<li class="btn_new">');
          new_and_import_groups_box.push('<input type="button" style="width:90px" id="new_group_assignment" value="<%=t(:group_assignment_new)%>" class="btn btn_default" onclick="btn_new_group(\'<%=@assignment.id%>\', \'<%= t(:no_participant_group_assignment) %>\');"/>');        
        new_and_import_groups_box.push('</li>');
          if (!show_import_button){
            new_and_import_groups_box.push('<li id="btn_import">');
              new_and_import_groups_box.push('<input type="button" style="width:90px" id="import" value="<%=t(:group_assignment_import)%>" class="btn btn_default" onclick="showImportGroupBox(\'<%= url_for(:controller => :group_assignments, :action => :import_groups_page, :id => GroupAssignment.first.id, :assignment_id => @assignment.id)%>\', \'\');"/>');
            new_and_import_groups_box.push('</li>');
          }
      new_and_import_groups_box.push('</ul>');
    new_and_import_groups_box.push('</div>');

    // cria a nova div de novo grupo 
    $(new_and_import_groups_box.join("")).appendTo($(".import_and_new_groups"));

  }

  // Botões

  function btn_evaluate_group(group_id, assignment_id){
    url_evaluation = '<%= url_for(:controller => :portfolio_teacher, :action => :student_detail)%>';
    window.location.href = url_evaluation+'/'+group_id+'?assignment_id='+assignment_id;
  }

  function btn_cancel(assignment_id){
    if (confirm('<%= t(:group_assignment_confirm_cancel) %>')){
      var continue_with_request = true;
      $.ajax({
        url: url,
        type: 'POST',
        data:  {'btn_cancel': 'cancel', 'assignment_id': assignment_id},
        success: function(data) {
          $('.group_assignment_content').html(data);
          undo_btn_manage_groups_divs_changes();
          flash_message('<%= t(:group_assignment_cancel_message) %>', 'notice');
          deleted_groups = new Array();
        }
      });
      return continue_with_request; 
    }
  }

  function btn_save(assignment_id) {
    if (confirm('<%= t(:group_assignment_confirm_save) %>')){
      var groups = $(".group_participants_manage ul");
      var text_fields = $(".rename_group");
      var groups_to_save = new Array();

      var groups_names = $(text_fields).map(function(){return ''+this.value+''});

      for (var i = 0; i < groups.length; i++) {

        var array_group_students_ids = $('li', groups[i]).map(function(){
          if(this.id != 'no_students_message'){return ''+this.value+''}
        });

        var each_group_students_ids = new String();
        for (var j = 0; j < array_group_students_ids.length; j++){
          if(j != 0){ each_group_students_ids += " "; }
          each_group_students_ids += array_group_students_ids[j]
        } // recebe cada id dos estudantes do grupo em questão como string (array gera erro)

        groups_to_save.push({
          'group_id'   : $(groups[i]).attr('value'),
          'group_name' : groups_names[i],
          'student_ids': each_group_students_ids
        });

      } // for -> groups

      var continue_with_request = true;
      $.ajax({
        url: url,
        type: 'POST',
        data:  {'groups': groups_to_save, 'assignment_id': assignment_id, 'deleted_groups_divs_ids': deleted_groups},
        success: function(data) {
          if (data.success == false) {
            continue_with_request = false;
            flash_message(data.flash_msg, data.flash_class);
          }else{
            $('.group_assignment_content').html(data);
            undo_btn_manage_groups_divs_changes();
            flash_message('<%= t(:group_assignment_management_success) %>', 'notice');
            deleted_groups = new Array();
          }
        }
      });
      return continue_with_request; 
    }
  }

</script>