- @user_blacklist.each do |user_bl|
  %tr.lines
    %td= user_bl.cpf
    %td= user_bl.name
    %td= l user_bl.created_at, format: :normal
    %td= user_bl.try(:user).try(:username)
    %td
      = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del delete_user_blacklist', :"data-link-delete" => blacklist_path(user_bl), :'data-tooltip' => t('user_blacklist.index.delete')
