%table.tb_list
  - if @user_blacklist.any?
    %thead
      %tr.lines
        %th= t(:cpf)
        %th{style: 'width: 40%;'}= t(:name)
        %th= t('user_blacklist.index.created_at')
        %th= t('user_blacklist.index..added_by')
        %th.no_sort{style: 'width: 40px;'}
    %tbody.user_blacklist
      = render 'blacklist_body'
  - else
    .block_content_text.block_content_text_list.text_none= t(:item_search_no_found)

= link_to content_tag(:i, nil, class: "icon-ellipsis"), blacklist_index_path(page: @user_blacklist.next_page), class: 'load-more-user_blacklist', remote: true, :"data-tooltip" => t(:load_items) if @user_blacklist.next_page
