= javascript_include_tag "edition.js"

%span.form_requirement= t(:required_fields)
.discussion_form{:style => "text-align: left;"}
  = simple_form_for(@discussion, :html => {:id => "discussion_form"}) do |f| 
    
    .form-inputs.block_content
      = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

      = f.input :name, :required => true
      = f.input :description, :required => true 
      / classes ".string.required.field_with_errors" adicionadas a fim de deixar o layout semelhante ao do simple_form utilizado nos "f.input"
      - error_class = "field_with_errors" unless @schedule_error.blank?
      .string.required{:class => error_class}
        = f.label :schedule, :required => true
        - start_date = @discussion.schedule.nil? ? two_months_ago : (@discussion.schedule.start_date || two_months_ago)
        = text_field_tag "start_date", "", :id => "from-date", :title => "#{t(:from_date)}", :value => "#{l(start_date.to_date, :format => :datepicker)}", :class => "date_text_field", :size => 10
        = t(:to, :scope => [:discussion])
        - end_date = @discussion.schedule.nil? ? Date.today : (@discussion.schedule.end_date || Date.today)
        = text_field_tag "end_date", "", :id => "until-date", :title => "#{t(:until_date)}", :value => "#{l(end_date.to_date, :format => :datepicker)}", :class => "date_text_field", :size => 10
        %span{:style => "display: inline-block;"}= @schedule_error

    .block_content.form-actions
      = button_tag t(:save, :scope => [:discussion, :buttons]), :class => "btn btn_main", :alt => t(:save, :scope => [:discussion, :buttons]), :type => "button", :id => "save"
      = button_tag t(:cancel, :scope => [:discussion, :buttons]), :class => "btn btn_default", :type => "button", :alt => t(:cancel, :scope => [:discussion, :buttons]), :id => "cancel"

:css
  .ui-datepicker{ 
    width: 15em; 
    padding: .2em .2em 0; 
    display: none;
    background-color: white;
  }

:javascript

  $(document).ready(function(){

    $(function(){
      var options = $.extend($.datepicker.regional['#{I18n.locale}']);
      options.dateFormat = global_config.locale.dateFormat;
      $('#from-date, #until-date').datepicker(options);
    });

    $('#save').click(function(){
      submit_form('discussion_form', 'discussion_form', '#{list_discussions_path(:allocation_tags_ids => @allocation_tags_ids.compact!)}');
    });

    $('#cancel').click(function(){
      removeLightBox();
    });

  });
