<% #
# Renderiza um post de um fórum na tela.
%>
<div>
	<div style="float:left;width: 106px">
		<div class="forum_participant_id">
			<span alt="<%= @post.user_nick%>">
				<% if @post.user_nick.length > 15 %>
				<%= @post.user_nick.slice(0..12) + '...'%>
				<% else %>
				<%= @post.user_nick%>
				<% end %>
			</span>
			<br/>
			<span class="forum_participant_profile" ><%= @post.profile %></span>
		</div>
		<div class="forum_post" style="float:left">
			<div class="forum_participants">

				<% if @post.photo_file_name %>
				<%= image_tag @post.photo.url(:medium), :alt => t(:mysolar_alt_img_user) + ' ' + @post.user_nick %>
				<% else %>
				<%= image_tag 'no_image.png', :alt => t(:mysolar_alt_img_user) + ' ' + @post.user_nick %>
				<% end %>
				<div class="forum_participants_icons">
					<span><%= link_to (image_tag "icon_profile.png", :alt=>t(:icon_profile)) %></span>
					<span><%= link_to (image_tag "icon_add_user.png", :alt=>t(:icon_add_participant)) %></span>
					<span><%= link_to (image_tag "icon_chat.png", :alt=>t(:icon_chat)) %></span>
					<span><%= link_to (image_tag "icon_message_participant.png", :alt=>t(:icon_send_email)) %></span>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-left:106px">
		<div style="background-color:#ecf3f8;height: 35px;">
			<div style="float:right;background-color:#8bb1c0;height:28px;padding-left:10px;padding-right:10px;padding-top:7px;width:100px;display:inline-block;text-align:center;vertical-align:middle;">
				<a href="javascript:setParentPostId(<%= @post.id %>)" class="postDialogLink">[reponder]</a>
			</div>
		</div>
		<div class="forum_post">
			<%= raw @post.content%>
		</div>
	</div>
</div>
