.block_wrapper#discussion_list
  - unless @discussions.blank?
    .block_title
      %h2
        %i.icon-forum
        = t(:forum_table_title)
    %table.tb_list
      %thead
        %tr.lines
          %th{style: "width: 20%;"}= t(:discussions, scope: [:attributes, :info])
          %th.center.date{style: "width: 22%;"}= t(:date_range, scope: [:scores, :info])
          /%th.center{style: "width: 2%;"}= t(:amount, scope: [:scores, :info])
          %th.center{style: "width: 15%;"}= t(:situation, :scope => [:scores, :info])
          %th.center{style: "width: 10%;"}= t(:evaluative, scope: [:scores, :index])
          %th.center{style: "width: 2%;"}= t(:frequency, scope: [:scores, :info])
          - if @is_student
            %th.center{style: "width: 2%;"}= t(:grade, scope: [:scores, :info])
            %th.center{style: "width: 2%;"}= t(:workload, scope: [:scores, :info])
          
      %tbody
        - @discussions.each do |discussion|
          %tr{class: "lines #{'period_ended' if discussion.situation.include?("closed") and (not discussion.situation.include?("extra_time"))} "}
            %td
              - if (discussion.situation.include?("opened") or discussion.situation.include?("closed"))
                = link_to discussion.name, discussion_posts_path(discussion_id: discussion.academic_tool_id), {class: 'link_content'}
                
              - else
                = discussion.name
            %td.center= [l(discussion.start_date.to_date), l(discussion.end_date.to_date)].join(" - ") 
            - if @is_student
              %td.center{class: "assignment_#{discussion.situation}"}= t("scores.situation.#{discussion.situation}")
            - else
              - if discussion.closed=='t'
                %td.center{class: "assignment_closed"}= t("scores.situation.closed") 
              - elsif discussion.opened=='t'    
                %td.center{class: "assignment_opened"}= t("scores.situation.opened")  
              -else
                %td.center{class: "assignment_opened"}= t("scores.situation.not_started")    
            %td.center= t(discussion.evaluative, scope: [:scores, :info])
            %td.center= t(discussion.frequency, scope: [:scores, :info])
            - if @is_student
              %td.center= discussion.grade
              %td.center= discussion.working_hours

            
  - else
    .block_content.block_content_text= t(:forum_message)

= javascript_include_tag "contextual_help/discussion"
