.block_wrapper#discussion_list
  - unless @discussions.nil? or @discussions.empty?
    .block_title
      %h2
        %i.icon-forum
        = t(:forum_table_title)
    %table.tb_list{cellpadding:"10", cellspacing:"0", width:"100%", style:"table-layout: fixed"}
      %thead
        %tr.lines
          %th{align:"left"}=t :title
          %th.date{align:"center", style:"width: 22%;"}=t :forum_table_date
      %tbody
        - @discussions.each do |discussion|
          %tr{class: "lines #{'period_ended' if discussion.closed? and (not discussion.extra_time?(current_user.id))} "}
            %td
              - if ((can? :index, Discussion, {on: [@allocation_tag_id], read: true}) and (discussion.opened? or discussion.closed?)) # nao apresenta os nao iniciados
                = link_to discussion.name, discussion_posts_path(discussion), {:class => 'link_content'}
                = "(#{t(:forum_closed_short)})" if discussion.closed? and (not discussion.extra_time?(current_user.id))
                = "(#{t(:discussion_closed_to_students)})" if discussion.extra_time?(current_user.id)
              - else
                = discussion.name
            %td{style: "width: 200px;"}
              - schedule = discussion.schedule
              = [l(schedule.start_date.to_date), l(schedule.end_date.to_date)].join(" - ")
  - else
    .block_content.block_content_text= t(:forum_message)

= javascript_include_tag "contextual_help/discussion"