<div class="block_wrapper">
  <% unless @discussions.nil? or @discussions.empty? %>
    <div class="block_title">
      <h2><%= image_tag "icon_forum.png", :alt=>t(:icon_forum), :class=>:block_title_icon %><%= t(:forum_table_title) %></h2>
    </div>
    <table class="tb_list" cellpadding="10" cellspacing="0" width="100%" style="table-layout: fixed">
      <thead>
        <tr class="lines">
          <th align="left"><%=t :title %></th>
          <th align="center" style="width: 22%;"><%=t :forum_table_date %></th>
        </tr>
      </thead>
      <tbody>
        <% @discussions.each do |discussion| %>
          <tr class="lines <%= 'period_ended' if discussion.closed? and !extra_period(discussion)%>">
            <td>
              <% if discussion.user_can_see?(current_user.id) %>
                <%=link_to discussion.name, discussion_posts_path(discussion), {:class => 'link_content'} %>
                <%#= raise "#{discussion.extra_time?(current_user.id)}"%>
                <%= "(#{t(:forum_closed_short)})" if discussion.closed? and (not discussion.extra_time?(current_user.id)) %>
                <%= "(#{t(:discussion_closed_to_students)})" if discussion.extra_time?(current_user.id) %>
              <% else %>
                <%= discussion.name %>
              <% end %>
            </td>
            <td style="width: 200px;">
              <% schedule = discussion.schedule %>
              <%= l schedule.start_date.to_date %> - <%= l schedule.end_date.to_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="block_content block_content_text"><%= t(:forum_message) %></div>
  <% end %>
</div>
