= javascript_include_tag "edition.js"

.block_wrapper.list_discussions
  .block_title
    %h2
      %i.icon-forum
      = t(:discussion_table_title, :scope => [:discussion])
    .right_buttons_form
      - if can? :new, Discussion, on: @allocation_tags_ids
        = button_tag t(:new, :scope => [:discussion, :buttons]), :class => "btn btn_main btn_form", :type => "button", :alt => t(:new, :scope => [:discussion, :buttons]), :id => "new"
  - unless @discussions.nil? or @discussions.empty?
    %table.tb_list{:cellpadding => "10", :cellspacing => "0", :width => "100%", :style => "table-layout: fixed"}
      %thead
        %tr.lines
          %th{:align => "left"}=t :title
          %th{:align => "center", :style => "width: 16%;"}=t :forum_table_date
          %th{:align => "right", :style => "width: 14%;"}=t :curriculum_unit, :scope => [:discussion]
          %th{:align => "right", :style => "width: 10%;"}=t :offer, :scope => [:discussion]
          %th{:align => "right", :style => "width: 10%;"}=t :group, :scope => [:discussion]
          - if @discussions.collect{ |discussion| (can? :edit, discussion) }.include?(true)
            %th{:align => "center", :style => "width: 10%;"}
          - if @discussions.collect{ |discussion| (can? :destroy, discussion) }.include?(true)
            %th{:align => "center", :style => "width: 10%;"}
      %tbody
        - @discussions.each do |discussion|
          %tr{:class => "lines #{'period_ended' if discussion.closed? and (not discussion.extra_time?(current_user.id))}"}
            %td
              - if (can?(:read, discussion) and (discussion.opened? or discussion.closed?))
                = link_to discussion.name, discussion_posts_path(discussion), {:class => 'link_content'}
                = "(#{t(:forum_closed_short)})" if discussion.closed? and (not discussion.extra_time?(current_user.id))
                = "(#{t(:discussion_closed_to_students)})" if discussion.extra_time?(current_user.id)
              - else
                = discussion.name
            %td{:style => "width: 200px;"}
              - schedule = discussion.schedule
              = l(schedule.start_date.to_date)
              = "-" if !schedule.end_date.nil?
              = schedule.end_date.nil? ? "" : l(schedule.end_date.to_date)
            %td
              = discussion.allocation_tag.offer ? discussion.allocation_tag.offer.curriculum_unit.name : discussion.allocation_tag.group.offer.curriculum_unit.name
            %td{:align => "left", :style => "width: 50px;"}= discussion.allocation_tag.offer ?  discussion.allocation_tag.offer.semester : discussion.allocation_tag.group.offer.semester 
            %td{:align => "left", :style => "width: 50px;"}= discussion.allocation_tag.group ?  discussion.allocation_tag.group.code : "-" 
            - if can? :edit, discussion or can? :destroy, discussion
              %td{:style => "width: 40px;"}
                - if can? :edit, discussion
                  - btn_class = "btn btn_default"
                  = form_for(:discussion, :url => edit_discussion_path(discussion.id, :allocation_tags_ids => @allocation_tags_ids)) do |f|
                    = button_tag t(:edit, :scope => [:discussion, :buttons]), :class => btn_class + " edit", :type => "button", :alt => t(:edit_discussion, :scope => [:discussion], :discussion_name => discussion.name)
              %td{:style => "width: 40px;"}
                - if can? :destroy, discussion
                  - btn_class = discussion.can_destroy? ? "btn btn_caution" : "btn btn_disabled"
                  = button_tag t(:delete, :scope => [:discussion, :buttons]), :onclick => "javascript:delete_object('#{discussion_path(discussion, :allocation_tags_ids => @allocation_tags_ids)}', '#{list_discussions_path(:allocation_tags_ids => @allocation_tags_ids)}');", :type => "button", :class => btn_class, :disabled => (not discussion.can_destroy?), :alt => t(:delete_discussion, :scope => [:discussion], :discussion_name => discussion.name)

  - else
    .block_content.block_content_text= t(:forum_message)

:javascript

  $(document).ready(function(){

    $('.edit').click(function(){
      open_lightbox1($(this).parent().attr('action'), $(this).attr('alt'));
    });

    $('#new').click(function(){
      open_lightbox1('#{new_discussion_path(:allocation_tags_ids => @allocation_tags_ids)}', '#{t(:new_discussion, :scope => [:discussion])}');
    });

  });
