.block_wrapper.list_discussions{:"data-link-list" => list_discussions_path(allocation_tags_ids: @allocation_tags_ids)}

  .block_title
    %h2= t(:discussion_table_title, :scope => [:discussion])
  .block_content_toolbar
    .block_toolbar_left.btn-group
      %a.btn.btn_main.new_offer{:'data-tooltip' =>  t(:new_discussion, scope: [:discussion]), id: "new-discussion", type: :button, :'data-link-new-discussion' => new_discussion_path(allocation_tags_ids: @allocation_tags_ids), :'data-tooltip' => t(".new"), disabled: not(can? :new, Discussion, on: @allocation_tags_ids)}
        = content_tag(:i, nil, class: 'icon-plus-3')
  - unless @discussions.nil? or @discussions.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th{:align => "left"}=t :title
          %th{:align => "center", :style => "width: 16%;"}=t :forum_table_date
          %th{:align => "right", :style => "width: 14%;"}=t :curriculum_unit, :scope => [:discussion]
          %th{:align => "right", :style => "width: 10%;"}=t :offer, :scope => [:discussion]
          %th{:align => "right", :style => "width: 10%;"}=t :group, :scope => [:discussion]
          %th{:align => "center", :style => "width: 13%;"}
      %tbody
        - @discussions.each do |discussion|
          %tr{:class => "lines #{'period_ended' if discussion.closed? and (not discussion.extra_time?(current_user.id))}"}
            %td
              - if (can?(:read, discussion) and (discussion.opened? or discussion.closed?))
                = link_to discussion.name, discussion_posts_path(discussion), {:class => 'link_content'}
                = "(#{t(:forum_closed_short)})" if discussion.closed? and (not discussion.extra_time?(current_user.id))
                = "(#{t(:discussion_closed_to_students)})" if discussion.extra_time?(current_user.id)
              - else
                = discussion.name
            %td= [l(discussion.schedule.start_date.to_date), l(discussion.schedule.end_date.to_date)].join(" - ")
            %td= discussion.allocation_tag.offer ? discussion.allocation_tag.offer.curriculum_unit.name : discussion.allocation_tag.group.offer.curriculum_unit.name
            %td{:align => "left", :style => "width: 50px;"}= discussion.allocation_tag.offer ?  discussion.allocation_tag.offer.semester.name : discussion.allocation_tag.group.offer.semester.name
            %td{:align => "left", :style => "width: 50px;"}= discussion.allocation_tag.group ?  discussion.allocation_tag.group.code : "-" 
            %td
              = button_tag (content_tag(:i, nil, class: 'icon-edit')), class: "btn btn_default edit", type: "button", :'data-tooltip' => t(:edit_discussion, :scope => [:discussion], :discussion_name => discussion.name), :'data-link-edit-discussion' => edit_discussion_path(discussion.id, allocation_tags_ids: @allocation_tags_ids), disabled: not(can? :edit, discussion)
              = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_caution delete_discussion', :'data-tooltip' => t(:delete_discussion, :scope => [:discussion], :discussion_name => discussion.name), :"data-link-delete" => discussion_path(discussion, :allocation_tags_ids => @allocation_tags_ids)

  - else
    .block_content.block_content_text= t(:forum_message)

:javascript

  $(function(){

    $('.edit').click(function(){
      showLightBoxURL($(this).data('link-edit-discussion'), 550, 225, true, $(this).data('tooltip'));
    });

    $('#new-discussion').click(function(){
      showLightBoxURL($(this).data('link-new-discussion'), 550, 225, true, $(this).data('tooltip'));
    });

    $('.delete_discussion').click(function(){
      $(this).nice_delete();
    });

  });