<div class="block_wrapper">

    <% if !(@discussions.nil? || @discussions.empty?) %>
      <table class="tb_list" cellpadding="10" cellspacing="0" width="100%" style="table-layout: fixed">
        <thead>
          <tr class="lines block_title">
            <th align="left">
              <%= image_tag "icon_forum.png", :alt=>t(:icon_forum), :class=>:block_title_icon %><%= t(:forum_table_title) %>
            </th>
            <th style="width: 200px;padding-left:8px"><%= t(:forum_table_date) %></th>
          </tr>
        </thead>
        <tbody>
          <% @discussions.each do |discussion| %>
            <tr class="lines">
              <td>
                <%=link_to discussion.name, {:controller => "discussions", :action => "show", :id => discussion.id}, {:class => 'link_content'} %>
              </td>
              <td style="width: 200px;">
                <%schedule= Schedule.find(discussion.schedule_id)%>
                <%= l schedule.start_date  %> - <%= l schedule.end_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:forum_message) %></div>
    <% end %>

</div>