<div class="block_wrapper">

  <% if !(@discussions.nil? || @discussions.empty?) %>
    <div class="mysolar_header">
      <h2 class="mysolar_title"><%= image_tag "icon_forum.png", :alt=>t(:icon_forum), :class=>:block_title_icon %><%= t(:forum_table_title) %></h2>
    </div>
    <table class="tb_list" cellpadding="10" cellspacing="0" width="100%" style="table-layout: fixed">
      <thead>
        <tr class="lines">
          <th align="left"><%=t :title %></th>
          <th align="center" style="width: 25%;"><%= t(:forum_table_date) %></th>
        </tr>
      </thead>
      <tbody>
        <% @discussions.each do |discussion| %>
          <tr class="lines <%= 'discussion_closed' if discussion.closed == 't' %>">
            <td>
              <%=link_to discussion.name, {:controller => "discussions", :action => "show", :id => discussion.id}, {:class => 'link_content'} %><%= ' (encerrado)' if discussion.closed == 't' %>
            </td>
            <td style="width: 200px;">
              <%= l discussion.start_date.to_date %> - <%= l discussion.end_date.to_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="block_content block_content_text"><%= t(:forum_message) %></div>
  <% end %>

</div>