<script type="text/javascript">

  var numFileFields = 2;
  
  function anotherFileField(target){
    var newElementId = 'post_attachment_' + numFileFields;
    var newElementName = 'attachment[' + numFileFields + ']';

    var newElement = '<div id="'+ newElementId +'_container">';
    newElement += '<input id="' + newElementId + '" type="file" name="' + newElementName + '" style="display:none;"/>&nbsp;&nbsp;';
    newElement += '<a href="#" style="float:none;" class="forum_button_attachment" onclick="removeFileField(\''+newElementId+'\');return false;"><%=t(:forum_attach_cancel)%></a>';
    newElement += '</div>';

    $(target).before(newElement)
    $("#"+newElementId).slideDown('fast');//exibindo campo de upload

    numFileFields++;
  }

  function removeFileField(fieldId){
    $("#"+fieldId+"_container").hide('fast', function(){
      $("#"+fieldId+"_container").remove();
    });
  }
</script>
<div id="post_attachment_wrapper">
  <form id="post_attachment_form" accept-charset="UTF-8" action="/discussions/attach_file" enctype="multipart/form-data" method="post" >
    <input type="hidden" value="<%=form_authenticity_token%>" name="authenticity_token"/>
    <input type="hidden" value="<%=params['id']%>" name="id" id="id"/>
    <input type="hidden" value="<%=params['post_id']%>" name="post_id" id="post_id"/>
    <input type="hidden" value="<%=params['current_page']%>" name="current_page" id="post_id"/>
    <div id="'+ newElementId +'_container">
      <input id="post_attachment_1" type="file" name="attachment[1]" />
    </div>
    <div>
      <a href="#" class="UploadFileLink forum_button_attachment" onclick="anotherFileField(this)" style="float:none"><%=t(:forum_attach_another_file)%></a><br/>
    </div>
    <div id="post_attachment_form_submit">
      <a href="#" class="UploadFileSubmit forum_button" onclick="$('#post_attachment_form').submit();return false;"><%=t(:forum_attach_save)%></a>
    </div>
  </form>
</div>