.show_discussion
  %h1#lightBoxDialogTitle= t(".discussion_details")

  .form-inputs.block_content.show
    .input
      = label_tag t(".name"), nil, class: "form_label form_label_align"
      %span.label_info= @discussion.name
    .input
      = label_tag t(".description"), nil, class: "form_label form_label_align"
      %span.label_info= @discussion.description
    .input
      = label_tag t(".start_date"), nil, class: "form_label form_label_align"
      %span.label_info= l(@discussion.schedule.start_date.to_date, format: :datepicker)
    .input
      = label_tag t(".end_date"), nil, class: "form_label form_label_align"
      %span.label_info= l(@discussion.schedule.end_date.to_date, format: :datepicker)

    = render "groups/codes"
    
    .schedule_dates
      .right_buttons
        = button_to_function t("agendas.close"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"

= javascript_include_tag "schedule_events"
