<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<span class="page_title"><%= @discussion["name"] %></span>
<div id="forum_description">
  <%= @discussion["description"] %>
</div>

<div class="forum_navigation_bar">#</div>
<% @posts.each do |post|%>
  <%=show_post(post)%>
<%end%>

<%= form_for(:new_discussion_post, :url => {:action => "new_post"}) do |f| %>
  
  <div class="field">
    <%= f.label "Conteudo" %><br />
    <%= f.text_field :content%>
 	<%= hidden_field_tag(:discussion_id, @discussion["id"]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
