<head>
  <script type="text/javascript">
    function showAsThread() {
      $('#display_mode').attr('value','');
      $('#new_post_form').attr('action','/discussions/show/<%=@discussion["id"]%>');
      $('#new_post_form').submit();
    }

    function showAsPlainList() {
      $('#display_mode').attr('value','PLAINLIST');
      $('#new_post_form').attr('action','/discussions/show/<%=@discussion["id"]%>');
      $('#new_post_form').submit();
    }

    function appendRichTextBox(postContainer){
      newFormCode = '' +
        '<div id="newPostDialog" style="display: none;">' +
        '<textarea id="newPostTextBox">' +
        '</textarea>' +
        '<a href="javascript:cancelPosting();">[Cancelar]</a><a href="javascript:sendPost()">[Enviar]</a>' +
        '</div>';

      //Removendo outra caixa de entrada de postagem que possam
      //estar abertas, possivelmente.
      $('#newPostDialog').attr('id', 'oldPostDialog');
      $('#newPostTextBox').attr('id', 'oldPostTextBox');
      if (CKEDITOR.instances.newPostTextBox) {
        CKEDITOR.instances.newPostTextBox.destroy();
      }
      $('#oldPostTextBox').remove();
      $('#oldPostDialog').remove();

      //Criando a nova caixa de entrada e exibindo-a
      postContainer.append(newFormCode);

      $('#newPostTextBox').ckeditor( function () {
        $('#newPostDialog').slideToggle(800)
      }, {
        toolbar: 'SolarToolbar'
      });
    }

    function cancelPosting() {
      $('#newPostDialog').attr('id', 'oldPostDialog');
      $('#newPostTextBox').attr('id', 'oldPostTextBox');
      if (CKEDITOR.instances.newPostTextBox) {
        CKEDITOR.instances.newPostTextBox.destroy();
      }
      $('#oldPostTextBox').remove();
      $('#oldPostDialog').remove();
    }

    function setParentPostId(post_id) {
      $('#parent_post_id').attr('value',post_id);
      $('#update_post_id').attr('value','');
    }

    function setDiscussionPostId(post_id) {
      $('#discussion_post_id').attr('value',post_id);
      $('#parent_post_id').attr('value','');
    }

    function clearFormData(){
      $('#parent_post_id').attr('value','');
      $('#discussion_post_id').attr('value', '');
    }

    function sendPost() {
      $('#content').attr('value',$('#newPostTextBox').val());

      //caso de atualização de post
      if ($('#discussion_post_id').attr('value') != '')
        updatePost();
      else//caso de novo post
        $('#new_post_form').submit();
    }

    function removePost(postId) {
      $('#discussion_post_id').attr('value', postId);
      $('#new_post_form').attr('action','/discussions/remove_post');
      $('#new_post_form').submit();
    }
    
    function updatePost() {
      $('#new_post_form').attr('action','/discussions/update_post');
      $('#new_post_form').submit();
    }

    $(document).ready( function () {

      //Botões de responder postagem
      $('.postDialogLink').click( function () {
        var postContainer = $(this).parent().parent();
        appendRichTextBox(postContainer);
      });

      //Botão de editar postagem
      $('.updateDialogLink').click( function () {
        var postContainer = $(this).parent().parent();
        appendRichTextBox(postContainer);
        $('#newPostTextBox').val(postContainer.children('.forum_post_inner_content').html());
      });

      //Botão de nova postagem
      $('#NewPostButton').click( function () {
        clearFormData();
        var postContainer = $(this).parent().parent();
        appendRichTextBox(postContainer);
      });
    });
  </script>
</head>
<span class="page_title"><%= @discussion["name"] %></span>
<div id="forum_description">
  <%= @discussion["description"] %>
</div>
<div class="forum_navigation_bar">
  <div>
    <a href="javascript:clearFormData()" id="NewPostButton"><%= t("forum_new_message")%></a>&nbsp;
    <%if @display_mode == "PLAINLIST"%>
      <a href="javascript:showAsThread()">[Modo árvore]</a>&nbsp;   
    <%else%>
      <a href="javascript:showAsPlainList()">[Modo Lista]</a>
    <%end%>
    <%=raw render_pagination_bar(count_discussion_posts(@discussion.id,(@display_mode=="PLAINLIST")).to_s)%>
  </div>
</div>
<%if @display_mode == "PLAINLIST"%>
  <% @posts.each do |post|%>
    <%= raw show_post(post, false)%>
  <%end%>
<%else%>
  <% @posts.each do |post|%>
    <%= raw show_post(post)%>
  <%end%>
<%end%>

<%= form_for(:new_discussion_post, :url => {:action => "new_post"}, :html => { :id => "new_post_form" } ) do |f| %>
  <%= hidden_field_tag(:content, "") %>
  <%= hidden_field_tag(:discussion_id, @discussion["id"]) %>
  <%= hidden_field_tag(:discussion_post_id, "") %>
  <%= hidden_field_tag(:parent_post_id, "") %>
  <%= hidden_field_tag(:display_mode, @display_mode) %>
  <%= hidden_field_tag(:current_page, @current_page) %>
<% end %>
