<div class="block_wrapper">

  <div class="block_title">
    <h2><%= image_tag "icon_forum.png", :alt=>t(:icon_forum), :class=>'block_title_icon' %><%= @discussion["name"] %></h2>
  </div>


  <div id="forum_description" class="block_content block_content_text">
    <%= @discussion["description"] %>
  </div>
</div>

<div class="block_wrapper">
  <!--//------------- Barra Superior--------------->
  <div class="block_title" style="text-align: center;overflow:hidden">
      <span style="float:left;">
        <%if valid_date%>
          <a href="javascript:clearFormData()" id="NewPostButton" class="forum_button"><%= t("forum_new_message")%></a>
        <%else%>
          <a  class="forum_post_link_disabled"><%= t("forum_new_message")%></a>
        <%end%>
      </span>

      <span style="float:right;">
        <%if @display_mode == "PLAINLIST"%>
          <a href="javascript:showAsThread()" class="forum_button forum_button_view_mode"><%=  t("forum_show_thread")%>
            <%= image_tag "discussion_thread.png", :alt => '' %>
          </a>
        <%else%>
          <a href="javascript:showAsPlainList()" class="forum_button forum_button_view_mode"><%=  t("forum_show_plainlist")%>
            <%= image_tag "discussion_plainlist.png", :alt => '' %>
          </a>
        <%end%>
      </span>
      <span>
        <%=raw render_pagination_bar(count_discussion_posts(@discussion.id,(@display_mode=="PLAINLIST")).to_s)%>
      </span>
  </div>
  <!--//------------- Fim da Barra Superior--------------->

  <!--//------------- Exibição de Posts--------------->
  <div class="forum_posts_wrapper">
    <%if @display_mode == "PLAINLIST"%>
      <% @posts.each do |post|%>
        <%= raw show_post(post, false)%>
      <%end%>
    <%else%>
      <% @posts.each do |post|%>
        <%= raw show_post(post)%>
      <%end%>
    <%end%>
  </div>

  <%= form_for(:new_discussion_post, :url => {:action => "new_post"}, :html => { :id => "new_post_form", :multipart => true} ) do |f|%>
    <%= hidden_field_tag(:content, "") %>
    <%= hidden_field_tag(:discussion_id, @discussion["id"]) %>
    <%= hidden_field_tag(:discussion_post_id, "") %>
    <%= hidden_field_tag(:parent_post_id, "") %>
    <%= hidden_field_tag(:display_mode, @display_mode) %>
    <%= hidden_field_tag(:current_page, @current_page) %>
  <% end %>
</div>
<!--//------------- Fim da Exibição de Posts--------------->


<script type="text/javascript">

  //// Modos de exibição ////////////////////////////////////////////
  function showAsThread() {
    $('#display_mode').attr('value','');
    $('#new_post_form').attr('action','/discussions/show/<%=@discussion["id"]%>');
    $('#new_post_form').submit();
  }

  function showAsPlainList() {
    $('#display_mode').attr('value','PLAINLIST');
    $('#new_post_form').attr('action','/discussions/show/<%=@discussion["id"]%>');
    $('#new_post_form').submit();
  }

  //// Manipulação de arquivos anexos ///////////////////////////////


  function showUploadForm(discussionId, postId){
    showLightBoxURL('/discussions/post_file_upload/?id=' + discussionId + '&post_id=' + postId + '&current_page=<%=@current_page%>' ,400,250,true,'<%=t(:forum_attach_file_title)%>');
  }

  //// Manipulação da caixa de edição ///////////////////////////////
  function appendRichTextBox(postContainer){
    newFormCode = '' +
      '<div id="new_post_dialog" style="display: none;">' +
      '<textarea id="newPostTextBox">' +
      '</textarea>' +
      '<div style="text-align:right;">' +
      //'<a href="#" onclick="cancelPosting();return false;" class="forum_button"><%=t("cancel")%></a>&nbsp;&nbsp;' +
      '<input type="button" onclick="cancelPosting();" class="btn btn_caution postDialogLink" value="<%=t("cancel")%>"' +
      //'<a href="#" onclick="sendPost();return false;" class="forum_button"><%=t("send")%></a>' +
      '<input type="button" onclick="sendPost();" class="btn btn_default postDialogLink" value="<%=t("send")%>"' +
      '</div>' +
      '</div>';

    //Removendo outra caixa de entrada de postagem que possam
    //estar abertas, possivelmente.
    $('#new_post_dialog').attr('id', 'oldPostDialog');
    $('#newPostTextBox').attr('id', 'oldPostTextBox');
    if (CKEDITOR.instances.newPostTextBox) {
      CKEDITOR.instances.newPostTextBox.destroy();
    }
    $('#oldPostTextBox').remove();
    $('#oldPostDialog').remove();

    //Criando a nova caixa de entrada e exibindo-a
    postContainer.append(newFormCode);

    $('#newPostTextBox').ckeditor( function () {
      $('#new_post_dialog').css('width','100%');
      $('#new_post_dialog').show(300)
    }, {
      toolbar: 'SolarToolbar'
    });
  }

  function cancelPosting() {
    $('#new_post_dialog').attr('id', 'oldPostDialog');
    $('#newPostTextBox').attr('id', 'oldPostTextBox');
    if (CKEDITOR.instances.newPostTextBox) {
      CKEDITOR.instances.newPostTextBox.destroy();
    }
    $('#oldPostTextBox').remove();
    $('#oldPostDialog').remove();
  }

  //// Manipulação de variaveis internas ////////////////////////////
  function setParentPostId(post_id) {
    $('#parent_post_id').attr('value',post_id);
    $('#update_post_id').attr('value','');
  }

  function setDiscussionPostId(post_id) {
    $('#discussion_post_id').attr('value',post_id);
    $('#parent_post_id').attr('value','');
  }

  function clearFormData(){
    $('#parent_post_id').attr('value','');
    $('#discussion_post_id').attr('value', '');
  }

  //// Envio de postagens e atualizações ////////////////////////////
  function sendPost() {
    $('#content').attr('value',$('#newPostTextBox').val());
    //caso de atualização de post
    if ($('#discussion_post_id').attr('value') != '')
      updatePost();
    else//caso de novo post
      $('#new_post_form').submit();
  }

  function removePost(postId) {
    var answer = confirm("<%=t(:message_confirm)%>");
    if (!answer)
      return;

    $('#discussion_post_id').attr('value', postId);
    $('#new_post_form').attr('action','/discussions/remove_post');
    $('#new_post_form').submit();
  }

  function updatePost() {
    $('#new_post_form').attr('action','/discussions/update_post');
    $('#new_post_form').submit();
  }

  //// Eventos e comportamentos dos links ///////////////////////////
  $(document).ready( function () {

    //Botões de responder postagem
    $('.postDialogLink').click( function () {
      var postContainer = $(this).parent().parent();
      appendRichTextBox(postContainer);
      return false;
    });

    //Botão de editar postagem
    $('.updateDialogLink').click( function () {
      var postContainer = $(this).parent().parent();
      appendRichTextBox(postContainer);
      $('#newPostTextBox').val(postContainer.children('.forum_post_inner_content').html());
      return false;
    });

    //Botão de nova postagem
    $('#NewPostButton').click( function () {
      clearFormData();
      var postContainer = $(this).parent().parent();
      appendRichTextBox(postContainer);
    });
  });
</script>