- access_indication = can? :indication_users, Administration, {on: @allocation_tags_ids.split(' '), accepts_general_profile: true }

- @users.each do |user|
  - user_profiles = user.allocations.where(allocation_tag_id: (@allocation_tags_ids.nil? ? nil : @allocation_tags_ids.split(" "))).map(&:profile)
  - profiles_allocable = ((@admin && access_indication)? ((is_admin ? Profile.all_except_basic : Profile.all_except_basic_and_admin) - user_profiles) : profiles_available_for_allocation(user.id, @allocation_tags_ids))

  - if profiles_allocable.any?
    %tr.lines
      %td= user.name
      %td{style: 'width:80px'}= user.cpf
      %td{style: 'width:200px'}= user.email
      %td{style: 'width:120px'}
        = select_tag(:profile_id, options_from_collection_for_select(profiles_allocable, :id, :name), prompt: t("allocations.search_users.select_profile"))
      %td{style: 'width:100px'}
        = hidden_field_tag(:user_id, user.id)
        = link_to_function t("allocations.search_users.designate"), "designate(this)", class: "btn btn_default btn_designate", alt: t("allocations.search_users.designate_user", user_name: user.name), :"data-link-create" => create_designation_allocations_path(user_id: user.id, status: Allocation_Activated, allocation_tags_ids: @allocation_tags_ids, admin: @admin), :"data-link-list" => show_profile_allocation_path(":id", allocation_tags_ids: @allocation_tags_ids, admin: @admin)
