.list_designates
  = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

  .block_wrapper.users
    .block_title
      %h2= t(".designate_users")

    .block_content.allocations_list
      %table.tb_list
        %thead
          %tr.lines
            %th= t(".name")
            %th{style: 'width:80px'}= t(".cpf")
            %th{style: 'width:200px'}= t(".email")
            %th{style: 'width:120px'}= t(".profile")
            %th{style: 'width: 80px'}= t(".designated_on")
            %th.no_sort
        %tbody
          - unless @allocations.nil? or @allocations.empty?
            - @allocations.each do |allocation|
              %tr.lines
                %td= allocation.user.name
                %td= allocation.user.cpf
                %td= allocation.user.email
                %td= allocation.profile.name
                %td= allocation.group ? allocation.group.code : (allocation.offer ? allocation.offer.semester.name : allocation.course.name)

                %td
                  - status, link = (allocation.status == Allocation_Activated) ? ["deactivate", deactivate_allocation_path(id: allocation, text_search: @text_search)] : ["activate", activate_allocation_path(id: allocation, text_search: @text_search, admin: @admin)]

                  = button_tag t(".#{status}"), type: :button, class: "btn btn_caution #{status}", alt: t(".#{status}_user", user_name: allocation.user.name), :'data-link' => link, :"data-link-list" => designates_allocations_path(allocation_tags_ids: [@allocation_tags_ids].flatten, admin: @admin)


  .block_wrapper.search
    .block_title
      %h2= t(".new_designate")

    .block_content_toolbar
      %label{:for => "text_search"}
        = t(".user")
      = text_field_tag "text_search", @text_search
      = button_tag t(".search"), type: :button, class: "btn btn_default", id: "search_user", alt: t(".search_users")

    .block_content.allocations_list
      #list_users

= javascript_include_tag "tablesorter"
   
:javascript

  $(document).ready(function() {

    $('input#text_search').keyup(function(e) {
      if (e.keyCode == 13) { // when pressend enter
          $("#search_user").click();
          return false;
      }
    });

    $("#search_user").click(function() {
      var url_for = "#{search_users_allocations_path(admin: @admin)}";
      var data = { user: encodeURIComponent($("#text_search").val()), allocation_tags_ids: $("#allocation_tags_ids").val() };
      $.get(url_for, data, function(data) { $('#list_users').html(data); });
    });

    $(".activate, .deactivate").click(function(){
      var url = $(this).data("link-list");
      $.put($(this).data("link"), function(data){
        $.get(url, function(data){
          $(".list_designates:last").replaceWith(data);
        });
      });
    });

  });
