=hidden_field_tag(:allocation_tag, '6') 

.block_wrapper  
  .block_title
    %h2= t(:designate_users)

  .block_content.allocations_list
    %table.tb_list
      %thead
        %tr.lines          
          %th= t(:name)
          %th{style: 'width:80px'}= t(:cpf)
          %th{style: 'width:200px'}= t(:email)
          %th{style: 'width:120px'}= t(:profile)
          %th{style: 'width:100px'}= ""
      %tbody
        - unless @allocations.nil? or @allocations.empty?
          - @allocations.each do |allocation|
            %tr.lines            
              %td= allocation.user.name
              %td{style: 'width:80px'}= allocation.user.cpf
              %td{style: 'width:200px'}= allocation.user.email
              %td{style: 'width:120px'}= allocation.profile.name
              %td{style: 'width:100px'}
                -if allocation.status==Allocation_Activated 
                  =button_to t(:deactivate), { :controller => "allocations", :action => "deactivate", :id => allocation.id, :text_search => @text_search }, :class=>'btn btn_caution'
                -else
                  =button_to t(:activate), { :controller => "allocations", :action => "activate", :id => allocation.id, :text_search => @text_search }, :class=>'btn btn_default'

.block_wrapper
  .block_title
    %h2= t(:new_designate)

  .block_content.block_content_text
    =t(:user)
    %input{type: 'text', :id => 'text_search', :value => @text_search }
    %input.btn.btn_default{type: 'button', value: t(:designate_search), :id => 'search'}

  .block_content.allocations_list
    #search_user
    
:javascript
  $(function() {
    
    $("#search").click(function() {
      var url_for = "/allocations/search_users/";
      $("#search_user").load(url_for, { data: encodeURIComponent($("#text_search").val()) });
    })

  });
    
