<div>
  <%= form_for('enrollments', url: enrollments_allocations_path, method: :get) do |f| %>
    <%= f.hidden_field(:offer_id, {:value => params[:offer_id], :name => :offer_id}) if params.include?(:offer_id) %>
    <%= f.hidden_field(:group_id, {:value => params[:group_id], :name => :group_id}) if params.include?(:group_id) %>
    <%= t(:status) %>:<%= select(:status, :id, status_hash.invert.to_a, {:prompt => t(:all), :selected => params[:status]},
    {:name => 'status', :onchange => "javascript:this.form.submit();"}) %>
  <% end %>
</div>

<div class="block_title">
  <h2>Matriculas solicitadas</h2>
</div>
<div class="block_content">
  <table class="tb_list enrollments">
    <thead>
      <tr class="lines">
        <th>-</th>
        <th>Aluno</th>
        <th>Turma</th>
        <th>Status</th>
        <th>Opcoes</th>
      </tr>
    </thead>
    <tbody>
      <% @allocations.each do |allocation| %>
        <tr class="lines">
          <td>-</td>
          <td><%= allocation.user_name %></td>
          <td><%= allocation.group %></td>
          <td><%= name_of(allocation.status) %></td>
          <td>
            <input value="Gerenciar" show-link="<%= allocation_path(allocation) %>" edit-link="<%= edit_allocation_path(allocation) %>" type="button" class="btn btn_default btn_manage_enrollment" onclick="javascript:manage_enrollment(this);"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  function manage_cancel(obj) {
    $.get($(obj).attr('show-link'), function(data) { $(obj).closest('tr').html(data); });
  }

  function manage_enrollment(obj) {
    $.get($(obj).attr('edit-link'), function(data) { $(obj).closest('tr').html(data); });
  }

  function save_allocation(obj) {
    $.ajax({
      type: 'PUT',
      url: $(obj).attr('save-link'),
      data: {"id": $(obj).attr('allocation-id'), "allocation": {
        "status": $('#status_id option:selected', $(obj).closest('tr')).val(), "group_id": $('#code_id option:selected', $(obj).closest('tr')).val()
      }},
      success: function(data) { $(obj).closest('tr').html(data); }
    });
  }
</script>
