<div>
  <%= form_for('enrollments', url: enrollments_allocations_path, method: :get) do |f| %>
    <%= f.hidden_field(:offer_id, {:value => params[:offer_id], :name => :offer_id}) if params.include?(:offer_id) %>
    <%= f.hidden_field(:group_id, {:value => params[:group_id], :name => :group_id}) if params.include?(:group_id) %>
    <%= t(:status) %>:<%= select(:status, :id, status_hash.invert.to_a, {:prompt => t(:all), :selected => params[:status]},
    {:name => 'status', :onchange => "javascript:this.form.submit();"}) %>
  <% end %>
</div>

<div class="block_title">
  <h2><%= t(:allocation_manage_title) %></h2>
  <span>
    <input value="<%= t(:allocation_manage_selected) %>" type="button" class="btn btn_default btn_disable btn_manage_enrollment_selected"/>
  </span>
</div>
<div class="block_content">
  <table class="tb_list enrollments">
    <thead>
      <tr class="lines">
        <th>
          <input type="checkbox" name="all" value="all" id="cbx_all"/>
        </th>
        <th><%= t(:allocation_manage_student) %></th>
        <th><%= t(:allocation_manage_group) %></th>
        <th><%= t(:allocation_manage_status) %></th>
        <th><%= t(:allocation_manage_options) %></th>
      </tr>
    </thead>
    <tbody>
      <% @allocations.each do |allocation| %>
        <tr class="lines">
          <td>
            <input type="checkbox" name="<%= allocation.id %>" value="<%= allocation.id %>" class="cbx_value"/>
          </td>
          <td><%= allocation.user_name %></td>
          <td><%= allocation.group_code %></td>
          <td><%= name_of(allocation.status) %></td>
          <td>
            <input value="<%= t(:allocation_manage_manage) %>" show-link="<%= allocation_path(allocation) %>" edit-link="<%= edit_allocation_path(allocation) %>" type="button" class="btn btn_default btn_main btn_manage_enrollment" onclick="javascript:manage_enrollment(this);"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">

  $(function() {
    $('.enrollments input:checkbox').click(function() {
      if ( $(this).attr("id") == 'cbx_all' ) {
        var cbx_all = this;
        $('.cbx_value').each(function() { $(this).attr('checked', $(cbx_all).attr('checked')); });
      } else if ( $(this).attr('checked') == false && $('#cbx_all').attr('checked') == true ) {
        $('#cbx_all').attr('checked', false);
      } else if ( $(this).attr('checked') == true && $('.cbx_value').length == $('.cbx_value:checked').length ) {
        $('#cbx_all').attr('checked', true);
      }

      // habilitar botao de gerencia de registros selecionados
      if ($('.cbx_value:checked').length > 0) {
        $('.btn_manage_enrollment_selected').removeClass('btn_disable');
      } else {
        $('.btn_manage_enrollment_selected').addClass('btn_disable');
      }
    });

    $('.btn_manage_enrollment_selected').click(function() {
      var ch = $('.cbx_value:checked');
      if ($('#status_id').val() == '' || ch.length == 0) return false; // Desabilitado quando nenhum pedido de matrícula é selecionado

      var sel = new Array();
      if (ch.length > 0) {
        for (var i = 0; i < ch.length; i++) {
          sel.push(ch[i].value);
        }
      }
      var url = "<%= edit_allocation_path('something', :multiple => 'yes') %>".replace('something', sel.join(','));
      showLightBoxURL(url, 400, 250, true, '<%= t(:allocation_manage_selected)%>');
    });

  });

  function manage_cancel(obj) {
    $.get($(obj).attr('show-link'), function(data) { $(obj).closest('tr').html(data); });
  }

  function manage_enrollment(obj) {
    $.get($(obj).attr('edit-link'), function(data) { $(obj).closest('tr').html(data); });
  }

  function save_allocation(obj) {
    $.ajax({
      type: 'PUT',
      url: $(obj).attr('save-link'),
      data: {"id": $(obj).attr('allocation-id'), "allocation": {
        "status": $('#status_id option:selected', $(obj).closest('tr')).val(), "group_id": $('#code_id option:selected', $(obj).closest('tr')).val()
      }},
      success: function(data) { $(obj).closest('tr').html(data); }
    });
  }
</script>
