<div>
  <%= form_for('enrollments', url: enrollments_allocations_path, method: :get) do |f| %>
    <%= f.hidden_field(:offer_id, {:value => params[:offer_id], :name => :offer_id}) if params.include?(:offer_id) %>
    <%= f.hidden_field(:group_id, {:value => params[:group_id], :name => :group_id}) if params.include?(:group_id) %>
    <%= t(:status) %>:<%= select(:status, :id, status_hash.invert.to_a, {:prompt => t(:all), :selected => params[:status]},
    {:name => 'status', :onchange => "javascript:this.form.submit();"}) %>
  <span class="filter_counter">
    (<%=t(".total_students", :count => @allocations.map(&:user_id).uniq.length)%>)
  </span>
  <% end %>
</div>

<div class="block_title">
  <h2><%= t(".manage_title") %></h2>
  <span class="block_actions">
    <input value="<%= t(".manage_selected") %>" type="button" class="btn btn_default btn_manage_enrollment_selected"/>
  </span>
</div>
<div class="block_content">
  <table class="tb_list enrollments">
    <thead>
      <tr class="lines">
        <th style="width:10px">
          <input type="checkbox" name="all" value="all" id="cbx_all"/>
        </th>
        <th><%= t(".manage_student") %></th>
        <th style="width:100px"><%= t(".manage_group") %></th>
        <th style="width:100px"><%= t(".manage_status") %></th>
        <th style="width:100px"><%= t(".manage_options") %></th>
      </tr>
    </thead>
    <tbody>
      <% @allocations.each do |allocation| %>
        <tr class="lines">
          <td>
            <input type="checkbox" name="<%= allocation.id %>" value="<%= allocation.id %>" status-value="<%= allocation.status %>" class="cbx_value"/>
          </td>
          <td><%= allocation.user_name %></td>
          <td><%= allocation.group.code_semester %></td>
          <td><%= name_of(allocation.status) %></td>
          <td>
            <input value="<%= t(".manage") %>" show-link="<%= allocation_path(allocation) %>" edit-link="<%= edit_allocation_path(allocation) %>" type="button" class="btn btn_default btn_main btn_manage_enrollment" onclick="javascript:manage_enrollment(this);"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
