.block_filter
  = filter

.block_wrapper

  %div
    = form_for(:allocations, url: designates_allocations_path, method: :get) do |f|
      = f.hidden_field(:offer_id, {:value => params[:offer_id], :name => :offer_id}) if params.include?(:offer_id)
      = f.hidden_field(:group_id, {:value => params[:group_id], :name => :group_id}) if params.include?(:group_id)

  .block_title
    %h2= t(:designate_users)

  .block_content
    %table.tb_list
      %thead
        %tr.lines
          %th{style: 'width:100px'}= t(:profile)
          %th= t(:name)
          %th{style: 'width:100px'}= t(:cpf)
          %th{style: 'width:200px'}= t(:email)
          %th{style: 'width:100px'}= ""
      %tbody
      - unless @allocations.nil? or @allocations.empty?
        - @allocations.each do |allocation|
          %tr.lines
            %td= allocation.profile.name
            %td= allocation.user.name
            %td= allocation.user.cpf
            %td= allocation.user.email
            %td= (allocation.status==Allocation_Activated) ? (button_to t(:deactivate), {:action => :deactivate, :id => allocation.id, :method => :put, :confirm => t(:message_confirm_status), :class => 'btn.active'}) : (button_to t(:activate), {:action => :reactivate, :id => allocation.id, :method => :put, :confirm => t(:message_confirm_status), :class => 'btn'})
  
    
