- unless @users.nil? or @users.empty?
  %table.tb_list
    %thead
      %tr.lines
        %th= t(:name)
        %th{style: 'width:80px'}= t(:cpf)
        %th{style: 'width:200px'}= t(:email)
        %th{style: 'width:120px'}= ""
        %th{style: 'width:100px'}= ""
    %tbody
    - @users.each do |u|
      %tr.lines
        %td= u.name
        %td{style: 'width:80px'}= u.cpf
        %td{style: 'width:200px'}= u.email
        %td{style: 'width:120px'}
          = select_tag(:profile_id, options_from_collection_for_select(@responsibles, :id, :name))
        %td{style: 'width:100px'}
          =hidden_field_tag(:user_id, u.id)
          %input.btn.btn_default.btn_designate{type: 'button', value: t(:designate) }
- else
  .block_content_text 
    =t(:designate_search_no_found)

:javascript

  $(document).ready(function() {

    $(".btn_designate").click(function(){
      var parent = $(this).parents("tr");
      var profile = $("#profile_id", parent).val();
      var user = $(this).siblings("#user_id").val();
      var status = '#{Allocation_Activated}';
      var url_for = "/allocations/designates";

      $.ajax({
        type: 'POST',
        url: '/allocations/create',
        data: {
          "user_id": user,
          "allocation_tag_id": $("#allocation_tag").val(),
          "status": status,
          "profile": profile          
        },
        success: function() {
          location.href = url_for + "?notice=1";
        },
        error: function() {
          location.href = url_for + "?alert=1";
        }
      });

    });
    
  });