- unless @users.nil? or @users.empty?
  %table.tb_list.tb_allocation
    %thead
      %tr.lines
        %th= t(".name")
        %th{style: 'width:80px'}= t(".cpf")
        %th{style: 'width:200px'}= t(".email")
        %th.no_sort{style: 'width:120px'}= t(".profile")
        %th.no_sort{style: 'width:100px'}= ""
    %tbody.users
      = render partial: 'users', locals: { users: @users }
  = link_to content_tag(:i, nil, class: "icon-ellipsis"), search_users_allocations_path(page: @users.next_page, user: @text_search, admin: @admin, allocation_tags_ids: @allocation_tags_ids), class: 'load-more-allocations', remote: true, :"data-tooltip" => t(:load_items) if @users.next_page
- else
  .block_content_text_list.text_none 
    = t(".designate_search_no_found")

= javascript_include_tag "tablesorter"

:javascript

  $(function(){

    $(".btn_designate").click(function(){
      var profile = $("#profile_id", $(this).parents("tr")).val();
      var url_list = $(this).data("link-list");

      $.post($(this).data("link-create"), {profile: profile}, function(data){
        if (typeof(data) != "undefined" && typeof(data.message) != "undefined" && typeof(data.type) != "undefined")
          flash_message(data.message, data.type);
        else{
          $.get(url_list, function(data){
            $(".list_designates:last").replaceWith(data);
          });
          flash_message('#{I18n.t(:allocated, :scope => [:allocations, :success])}', 'notice');
        }
      }).error(function(){
          flash_message('#{I18n.t(:not_allocated, :scope => [:allocations, :error])}', 'alert');
      });
    });
  });
