.responsive-table
  %table.comment
    %tr
      %td.comment_head
        .user_comment= current_user.nick
        .comment_date=l Date.current
    %tr
      %td.comment_form{ colspan: "2" }
        = render "form"

:javascript
  $(function(){
    $(".cancel_comment").click(function(){
      if(confirm("#{t('comments.list.confirm')}")){
        cancel_new_comment();
        update_tables_with_no_data('.comments_list', '.comments_list > li');
      }
    });

    $(".save_comment").click(function(){
      var content = $('div.ckeditor .cke_contents iframe').contents().find('body').html();
      if (content != "<p><br></p>" && content != "")
        $('textarea.ckeditor').html(content);

      $('#comment_form').serialize_and_submit({
        files: true,
        prepend_to_list: $(".comments_list"),
        dont_remove_lightbox: true,
        outer: 'fancybox-outer',
        complement_success: function(data){
          cancel_new_comment();
          update_tables_with_no_data('.comments_list', '.comments_list > li');
          if(data.ac_id != undefined)
            after_evaluate(data.tool, data.score_type, data.ac_id, data.user_id, data, data.group_id);
          if(!!$('.fancybox-outer').length)
            flash_message("#{t('comments.success.new')}", "notice", 'fancybox-outer');
          else
            flash_message("#{t('comments.success.new')}", "notice");
        }
      });
    });
  });
