/*********************************************
 * Funcoes genericas
 *********************************************/

/**
 * Upload das imagens de usuário.
 */
function showUserPictureUploadForm(url, title){
  showLightBoxURL(url, 500, 400, true, title);
  return false;
}

function mysolarTopSubmenuToggle(){
  var left = $("#mysolar_top_user_nick").offset().left;
  var origin = $("#mysolar_topbar").offset().left;
  left -= origin;
  $("#mysolar_top_submenu").css('left', left);
  $("#mysolar_top_submenu").slideToggle(150);
  $('#mysolar_top_submenu_label').toggleClass('mysolar_top_submenu_label_selected');
  $('#mysolar_top_submenu_label').toggleClass('mysolar_top_submenu_label_regular');
}

function mysolarTopSubmenuHelpToggle(){
  var left = $("#help_top").offset().left;
  var origin = $("#mysolar_topbar").offset().left;
  left -= origin;
  $("#mysolar_submenu_help").css('left', left);
  $("#mysolar_submenu_help").slideToggle(150);
  $('#mysolar_top_help').toggleClass('mysolar_top_submenu_label_selected');
  $('#mysolar_top_help').toggleClass('mysolar_top_submenu_label_regular');
}

/**
 * Flash messages
 */

function flash_message(msg, css_class, div_to_show, onclick_function) {
  var div_to_show = (typeof div_to_show == "undefined" || div_to_show == '') ? $(".flash_message_wrapper:last") : $("." + div_to_show);
  if(!div_to_show.length)
    div_to_show = $(".flash_message_wrapper:last")

  if(typeof div_to_show == "undefined"){
    div_to_show = $(".flash_message_wrapper");
    if(!div_to_show.parents('.undefined-sticky-wrapper').length())
      div_to_show.height($("#flash_message").height() + 20);
}

  erase_flash_messages();

  if(typeof msg != 'undefined'){
    if (typeof onclick_function != "undefined")
      var onclick_function = onclick_function + "()";
    var html = '<div id="flash_message" class="' + css_class + '" onclick='+onclick_function+'><span>' + msg + '</span><span class="close"><a onclick="javascript:erase_flash_messages()" href="#" aria-hidden="true"><i class="icon-cross" aria-hidden="true"></i></a></span></div>';
    div_to_show.prepend($(html));
    $("#flash_message").closest(".sticky-wrapper").css("height","40px").css("width", "auto");
    $("#flash_message").effect("highlight","slow");

    $('#flash_message').prop('tabindex', 0);
    $('#flash_message').focus();
  }

}

function erase_flash_messages() {
  if ($('#flash_message')) {
    $('#flash_message').closest(".sticky-wrapper").css("height","0");
    $(".flash_message_wrapper").children().remove()
    $("#flash_message").remove();
  }
}

/******************************************************************************************************
 * Extendendo o JQuery para Trabalhar bem com o REST. (Incluindo suporte aos métodos "PUT"  e "DELETE")
 ******************************************************************************************************/
function _ajax_request(url, data, callback, type, method) {
  if (jQuery.isFunction(data)) {
    callback = data;
    data = {};
  }

  if (typeof(type) == "undefined")
    type = "json";

  return jQuery.ajax({
    type: method,
    url: url,
    data: data,
    success: callback,
    dataType: type
  });
}

function update_tables_with_no_data() {
  $('.tb_list').each(function(){
    var rowCount = $('tbody>tr:visible', $(this)).length;
    if (rowCount == 0){
      $('.empty_message', $(this).closest('.block_content')).removeClass('hide_message');
      $('thead', $(this)).hide();
    } else {
      $('thead', $(this)).show();
      $('.empty_message', $(this).closest('.block_content')).addClass('hide_message');
    }
  });
}

function show_error(data, message, div){
  if (message == undefined || message == null)
    var message = $.parseJSON(data.responseText).alert;
  if (message != "undefined")
    flash_message(message, "alert", div);
}

jQuery.extend({
  put: function(url, data, callback, type) {
    return _ajax_request(url, data, callback, type, 'PUT');
  },
  delete: function(url, data, callback, type) {
    return _ajax_request(url, data, callback, type, 'DELETE');
  }
});

$.fn.is_empty = function(){
  return ($(this).val() == "" || $(this).val() == null || $(this) == []);
}

// se for necessário abrir o fancybox no momento da chamada do método, se faz necessário passar um parâmetro "open"
$.fn.call_fancybox = function (options) {
  erase_flash_messages();

  if (typeof(options) == "undefined")
    options = {};

  $(this).addClass("fancybox.ajax");


  /**
  * live: false
  *   é necessário para que, ao abrir um fancybox x vezes em uma determinada página, não sejam realizados x+1 requests a cada nova chamada
  * modal: true
  *   como janela modal, o usuário só vai poder fechar o fancybox ao clicar no botão de "cancelar"
  **/

  $.extend( options,
    {
      live: false,
      modal: false,
      loop: false,
      helpers: {
        overlay: {
          locked: false,
          closeClick: false
        },
        autoDimensions: true,
        width: '100px'
      },
      afterShow:  function(event){
        add_description_to_close_fancybox_btn();
        if(options.element_selector != undefined)
          focus_on_fancybox_element(options.element_selector, options.automatically, options.text_link);
        else
          focus_on_fancybox_element(undefined, options.automatically, options.text_link);
        remove_focus_from_back();
        if(typeof(options.complementary_after_show) == "function")
          options.complementary_after_show();
      },
      beforeClose: function(event){
        if(typeof(options.complementary_before_close) == "function")
          options.complementary_before_close();
      },
      afterClose:  function(event){
        if(typeof(options.complementary_after_close) == "function")
          options.complementary_after_close();

        if(options.dont_focus_back == undefined || !!$('.fancybox-wrap').length){
          give_focus_to_back();
          if(!!event.element.is(":visible")){
            if(options.element_selector_back != undefined){
              focus_on_fancybox_element(options.element_selector_back, options.automatically, options.text_link);
            }else{
              event.element.prop('tabindex', 0);
              event.element.focus();
            }
          }else{
            var parent = event.element.parents('.dropdown');
            if(!!parent.length){
              $('[data-dropdown = "#'+$(parent).prop('id')+'"]:first').click();
              event.element.prop('tabindex', 0);
              event.element.focus();
            }
          }
        }
      }
    }
  );

  if (typeof(options.open) != "undefined") // abrir na chamada
    $.fancybox.open($(this), options);
  else
    $(this).fancybox(options);

  return false;
}

function add_description_to_close_fancybox_btn(text){
  if(text ==undefined)
    var text = $('.fancybox-inner h2, .fancybox-inner h1').first().text()

  var close_txt = ("<%=I18n.t('fancybox.close')%> " + text);
  $("a.fancybox-close").prop("title", close_txt);
  $("a.fancybox-close").prop("aria-label", close_txt);
}

function focus_on_fancybox_element(selector, automatically, text){
  if(text == undefined)
    var text = $('.fancybox-inner h2, .fancybox-inner h1').first().text();

  if(automatically == undefined)
    $('.fancybox-wrap').prepend("<a href='#' id='fancybox-begin' class='visuallyhidden' onclick='$.fancybox.close()'><%=I18n.t('fancybox.begin')%>"+text+"<%=I18n.t('fancybox.click_to_close')%></a>");
  else
    $('.fancybox-wrap').prepend("<a href='#' id='fancybox-begin' class='visuallyhidden' onclick='$.fancybox.close()'><%=I18n.t('fancybox.begin_automatically')%>"+text+"<%=I18n.t('fancybox.click_to_close')%></a>");

  $('.fancybox-wrap').append("<a href='#' id='fancybox-end' onclick='$.fancybox.close()' class='visuallyhidden'><%=I18n.t('fancybox.end')%>"+text+"<%=I18n.t('fancybox.click_to_close')%></div>");

  if(selector == undefined)
    var element = $('#fancybox-begin');
  else
    var element = $(selector);

  element.prop('tabindex', 0);
  element.focus();
}

function remove_focus_from_back(){
  $('*').not('.fancybox-wrap *').each(function(){
    $(this).prop('tabindex', -1);
  });
}

function give_focus_to_back(){
  $('*').not('.fancybox-wrap *').each(function(){
    $(this).removeAttr('tabindex');
  });
}

function focus_element(element){
  $(element).prop('tabindex', 0);
  $(element).focus();
}

// Catch the click of a link to undo action in a flash_message
$.fn.undo_action_by_flash_message = function(options){
  if (typeof options == "undefined")
    options = {};

  if (typeof(options) != "undefined" && typeof(options.success) == "undefined") { // definir success
    options.success = function(data) {
      if (typeof(data.msg) != "undefined")
        flash_message(data.msg, 'notice');

      if (typeof(options.complement_success) == "function")
        options.complement_success(data); // desired response for success
    }
  }

  if (typeof(options.error) == "undefined") {
    options.error = function(data) {
      var data = $.parseJSON(data.responseText);
      if (typeof(data.msg) != "undefined")
        flash_message(data.msg, 'alert');
    }
  }

  $("#flash_message a#undo_action").click(function(){
    $.ajax({
      dataType: "json",
      method: "PUT",
      url: $(this).data("link"), // link to action which will undo user's previous actions
      success: options.success,
      error: options.error
    });
  });
}


/* Dealing with colors */

/* obtained at http://stackoverflow.com/questions/43044/algorithm-to-randomly-generate-an-aesthetically-pleasing-color-palette*/
function pastelColors(){
  var r = (Math.round(Math.random()* 127) + 127).toString(16);
  var g = (Math.round(Math.random()* 127) + 127).toString(16);
  var b = (Math.round(Math.random()* 127) + 127).toString(16);
  return '#' + r + g + b;
}

/* Expand and compress text */
function expand_or_compress(icon){
  $(icon).parent().hide();
  $($(icon).parent().siblings()[0]).show();
}

/* Save values from ckeditor to related textarea */
function save_values_ckeditor(blank_message){
  var count = -1 ;
  for(name in CKEDITOR.instances){
    var ckf = $('#'+CKEDITOR.instances[name].id+'_contents iframe');
    var content = ckf.contents().find('body').html();
    var displayNone = (ckf.parents(".nested_fields[style*='display: none']").length > 0) ? true : false;

    if ((typeof content != 'undefined') && (!displayNone)) {
      count++;
      if ( (content == "<p><br></p>" || content == "") && (count > 0) ) {
          if(typeof blank_message != 'undefined'){
            if (confirm(blank_message.replace('count', count))) {
                ckf.parents(".nested_fields").find("a").first().click();
            }else{ return true; }
          }else { $('#' + name).val(content); }
      }else { $('#' + name).val(content); }
    }
  }
}

function open_dropdown(link){
  $.get($(link).data('url'), function(data){
    $($(link).data('dropdown')).find('ul').html(data);
  });
}

function open_div(link, e){
  e.preventDefault();
  var box = $($(link).data('div')+"."+$(link).attr("id"));

  if(!box.find('table').length)
    $.get($(link).data('url'), function(data){
      if(typeof $(link).data('hide') != 'undefined')
        $($(link).data('div')).not("."+$(link).attr("id")).addClass("invisible");
      $("tr.assignment").attr("style", "border-bottom: 1px solid #B4B2B1;");
      box.toggleClass("invisible");
      if (box.hasClass("invisible"))
        $(link).parents("tr").first().attr("style", "border-bottom: 1px solid #B4B2B1;");
      else
        if(typeof $(link).data('hide') != 'undefined')
          $(link).parents("tr").first().attr("style", "border-bottom: none");

      box.html(data);

      return false;
    });
}

function click_on_keypress(event, element){
  if(event.which == 13)
    $(element).trigger('click');
  // $(element).click();
  return false;
}

function mysolarAccessibilitySubmenuToggle(){
  var left = $("#accessibility_top").offset().left;
  var origin = $("#mysolar_topbar").offset().left;
  left -= origin;
  $("#mysolar_accessibility_submenu").css('left', left);
  $("#mysolar_accessibility_submenu").slideToggle(150);
  $('#accessibility_top_menu').toggleClass('mysolar_top_submenu_label_selected');
  $('#accessibility_top_menu').toggleClass('mysolar_top_submenu_label_regular');
}

function goToRight(element) {
  $(element).closest("li").next(".nav_menu").find(".nav_item").focus();
}

function goToLeft(element) {
  $(element).closest("li").prev(".nav_menu").find(".nav_item").focus();
}

function goDown(element) {
  $(element).closest("li").next(".sub_nav_menu").find(".sub_nav_item").focus();
}

function goUp(element) {
  $(element).closest("li").prev(".sub_nav_menu").find(".sub_nav_item").focus();
}

function goInside(element) {
  var elementID = $(element).attr("id");
  var offset = $(element).offset().left - $("#mysolar_topbar").offset().left;

  if (elementID == "mysolar_top_user_nick") {
    $("#mysolar_top_submenu").css('left', offset);
    $("#mysolar_top_submenu").slideDown(150);
    $('#mysolar_top_submenu_label').addClass('mysolar_top_submenu_label_selected');
    $('#mysolar_top_submenu_label').addClass('mysolar_top_submenu_label_regular');
    $("#synchronize").focus();
  } else if (elementID == "accessibility_top") {
    $(element).closest("ul").css('left', offset);
    $("#mysolar_accessibility_submenu").slideDown(150);
    $('#accessibility_top_menu').addClass('mysolar_top_submenu_label_selected');
    $('#accessibility_top_menu').addClass('mysolar_top_submenu_label_regular');
    $("a[href=#main_content_accesskey]").focus();
  } else if(elementID == "help_top") {
    $(element).closest("ul").css('left', offset);
    $("#mysolar_submenu_help").slideDown(150);
    $('#mysolar_top_help').addClass('mysolar_top_submenu_label_selected');
    $('#mysolar_top_help').addClass('mysolar_top_submenu_label_regular');
    $("#help_context").focus();
  } else if(elementID == "logout") {
    $("#logout").click();
  }
}

function goOut(element) {
  var elementID = $(element).closest("ul").attr("id");

  if( elementID == undefined) {
    $("#mysolar_top_submenu").slideUp(150);
    $('#mysolar_top_submenu_label').removeClass('mysolar_top_submenu_label_selected');
    $('#mysolar_top_submenu_label').addClass('mysolar_top_submenu_label_regular');
    $('#mysolar_top_user_nick').focus();
  } else if ( elementID == "mysolar_accessibility_submenu" ) {
    $(element).closest("ul").slideUp(150);
    $('#accessibility_top_menu').removeClass('mysolar_top_submenu_label_selected');
    $('#accessibility_top_menu').addClass('mysolar_top_submenu_label_regular');
    $('#accessibility_top').focus();
  } else if ( elementID == "mysolar_submenu_help" ) {
    $(element).closest("ul").slideUp(150);
    $('#mysolar_top_help').removeClass('mysolar_top_submenu_label_selected');
    $('#mysolar_top_help').addClass('mysolar_top_submenu_label_regular');
    $('#help_top').focus();
  }
}
