.block_title
  %h2
    %i.icon-video-conference
    = (@assignment.type_assignment == Assignment_Type_Group ? t('.title_group') : t('.title_student'))
  .right_buttons
    - if @own_assignment
      = link_to_function content_tag(:i, nil, class: 'icon-plus'), 'add_awebconference(this)', :'data-url' => new_assignment_webconference_path(assignment_id: @assignment.id), class: "btn btn_main link_new_awebconference #{@in_time ? '' : 'disabled'}", :"data-tooltip" => t('.new'), :'aria-label' => t(".new")
.block_content
  - no_webconferences = (webconferences.blank?)
  %table.tb_list{style: (no_webconferences ? "display: none" : ""),:summary=> t("assignments.list.summary_web") }
    %thead
      %tr.lines
        %th#name_web= t('.name')
        %th.date_column.center#period_web= t('.period')
        %th.aw_status#status_web= t('.status')
        %th.aw_record#record_web= t('.record')
        %th.aw_final#final_web{:'aria-label' => t('.final2') + t('fancybox.open')}= raw t('.final')
        - if @own_assignment
          %th.no_sort.options{id: "edit_web"}
          %th.no_sort.options{id: "record_link_web"}
          %th.no_sort.options{id: "delete_web"}
    %tbody
      - unless no_webconferences
        - webconferences.each do |webconference|
          = render partial: 'assignment_webconferences/webconference', locals: { webconference: webconference }
  .text_none.empty_message{ class: (no_webconferences ? '' : 'hide_message') }= t(:itens_not_found)

  #fv_explain.invisible
    %h1#lightBoxDialogTitle= t('.final2')
    .form-inputs.block_content
      = raw t('.fv_explain')

  = javascript_include_tag 'tablesorter', 'assignment_webconferences', 'tooltip'

:javascript
  $(function(){
    $('#final_version_explain').call_fancybox({
      'maxWidth': '700px',
      content: $('#fv_explain').html()
    });
  });
