.block_title
  %h2
    %i.icon-video-conference
    = (@assignment.type_assignment == Assignment_Type_Group ? t('.title_group') : t('.title_student'))
  .right_buttons
    - if @own_assignment
      = link_to_function content_tag(:i, nil, class: 'icon-plus'), 'add_awebconference(this)', :'data-url' => new_assignment_webconference_path(assignment_id: @assignment.id), class: "btn btn_main link_new_awebconference #{@in_time ? '' : 'disabled'}", :"data-tooltip" => t('.new'), :'aria-label' => t(".new") + t('fancybox.open'), onkeydown: 'click_on_keypress(event, this);', id: 'add_awebconference'
%div.title-warning
  %div.accessibility_title
    = link_to_function raw(t('webconferences.index.accessibility_title')), 'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
    %i.icon-arrow-down-triangle
    %i.icon-arrow-up-triangle.invisible
  %div.accessibility.invisible{tabindex: 0}= raw t('webconferences.index.accessibility')
.block_content
  - no_webconferences = (webconferences.blank?)
  %table.tb_list#tb_lw{:summary=> t("assignments.list.summary_web"), style: (no_webconferences ? "display: none" : "") }
    %thead{style: (no_webconferences ? "display: none" : "")}
      %tr.lines
        %th#name_web= t('.name')
        %th.date_column.center#period_web= t('.period')
        %th.aw_status#status_web= t('.status')
        %th.aw_record#record_web= t('.record')
        %th.aw_final#final_web= raw t('.final', aria: t('.final2') + t('fancybox.open'))
        - if @own_assignment
          %th.no_sort.options{id: "edit_web"}
            .visuallyhidden=t('assignment_webconferences.webconference.edit')
          %th.no_sort.options{id: "record_link_web"}
            .visuallyhidden=t('webconferences.get_record.remove')
          %th.no_sort.options{id: "delete_web"}
            .visuallyhidden=t('assignment_webconferences.webconference.delete')
    %tbody.assign_web
      - unless no_webconferences
        - webconferences.each do |webconference|
          = render partial: 'assignment_webconferences/webconference', locals: { webconference: webconference }
  .text_none.empty_message{ class: (no_webconferences ? '' : 'hide_message') }= t(:itens_not_found)

  #fv_explain.invisible
    %h1= t('.final2')
    .form-inputs.block_content
      = raw t('.fv_explain')

  = javascript_include_tag 'tablesorter', 'assignment_webconferences', 'tooltip'

:javascript
  $(function(){
    $('#final_version_explain').call_fancybox({
      'maxWidth': '700px',
      content: $('#fv_explain').html()
    });
  });

  function hide_or_show_info(name){
    var parent = $(name).parent();
    parent.siblings().toggleClass('invisible');
    parent.siblings().focus();

    if(parent.siblings().first().hasClass('invisible')){
      parent.find('i.icon-arrow-up-triangle').removeClass('invisible');
      parent.find('i.icon-arrow-down-triangle').addClass('invisible');
    }else{
      parent.find('i.icon-arrow-up-triangle').addClass('invisible');
      parent.find('i.icon-arrow-down-triangle').removeClass('invisible');
    }
  }