- status = webconference.status
- unavailable = exist_and_offline?(webconference.server.to_i)
- disabled_by_status = (webconference.status == t('scores.situation.scheduled') || webconference.status == t('scores.situation.in_progress') || webconference.status == t('scores.situation.processing') || unavailable)
%tr.lines{ class: "web_#{webconference.id}" }
  - web_url = webconference.get_bbb_url(current_user)
  %td.right{headers: "name_web" }
    - if web_url.blank?
      = link_to webconference.title, '#', {disabled: true, :'aria-label' => t('webconferences.index.access_web', web: webconference.title) + t(:disabled), class: 'title'}
    - else
      = link_to webconference.title, web_url, {:'aria-label' => t('webconferences.index.access_web', web: webconference.title), target: '_blank' }
  %td.center{headers: "period_web" }= [l(webconference.initial_time, format: :at_date), l(webconference.initial_time+webconference.duration.minutes, format: :at_date)].join(' - ')
  %td.center{headers: "status_web" }
    = (unavailable ? t(:unavailable, scope: [:webconferences, :list]) : status)
  - if disabled_by_status
    %td.center.record{headers: "record_web" ,:'data-tooltip' => t('webconferences.list.watch_disabled')}= link_to content_tag(:i, nil, class: 'icon-play btn disabled'), '#', disabled: true, onclick: 'return false' , :'aria-label' => t('webconferences.list.watch_disabled')
  - else
    %td.center.record{headers: "record_web" ,:'data-tooltip' => t('webconferences.list.watch')}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_assignment_webconference_path(webconference.id, academic_allocation_user_id: webconference.academic_allocation_user_id), class: 'record_link', :'aria-label' => t('webconferences.list.watch') + t('fancybox.open'), onkeydown: 'click_on_keypress(event, this);'

  %td.center{headers: "final_web" }
    - if @own_assignment
      = link_to (image_tag "#{webconference.final? ? 'released' : 'rejected'}.png", :'aria-hidden' => 'true'), change_status_assignment_webconference_path(webconference), remote: true, method: :put, class: 'change_lesson_status', :'data-tooltip' => (webconference.final ? t('.aw_yes') : t('.aw_no')), :'aria-label' => (webconference.final ? t('assignment_webconferences.webconference.final', webconference: webconference.title) :  t('assignment_webconferences.webconference.not_final', webconference: webconference.title))
    - else
      = (webconference.final ? t('.aw_yes') : t('.aw_no'))
  - if @own_assignment
    - disabled = !(@in_time)
    %td.icon.center{ headers: "edit_web", class: 'icon' }= link_to content_tag(:i, nil, class: 'icon-edit btn', :'aria-hidden'=>'true'), '#', :"data-link-edit" => edit_assignment_webconference_path(webconference), :"data-tooltip" => t('.edit'), :'aria-label' => t(".edit") + t('fancybox.open'), onclick: 'edit_awebconference(this)', class: "#{disabled ? 'disabled' : ''}", onkeydown: 'click_on_keypress(event, this);'
    %td.icon.center{ headers: "record_link_web", class: "#{(disabled_by_status || disabled) ? 'disabled' : ''}" }= link_to content_tag(:i, nil, class: 'icon-cross btn', :'aria-hidden' => 'true'), '#', :"data-link-records" => remove_record_assignment_webconference_path(webconference), :"data-link-show" => assignment_webconference_path(webconference), :"data-tooltip" => t('webconferences.get_record.remove'), :'aria-label' => t("webconferences.get_record.remove"), onclick: 'remove_record_awebconference(this)', onkeydown: 'click_on_keypress(event, this);'
    %td.icon.center{ headers: "delete_web", class: "#{disabled ? 'disabled' : ''}" }= link_to content_tag(:i, nil, class: 'icon-trash btn', :'aria-hidden' => 'true'), '#',:"data-link-delete" => assignment_webconference_path(webconference), :"data-tooltip" => t('.delete'), :'aria-label' => t(".delete"), onclick: 'delete_awebconference(this)', onkeydown: 'click_on_keypress(event, this);'

= javascript_include_tag 'tooltip'

:javascript
  $(function(){
    $('.record_link').call_fancybox();
  });
