- status = webconference.status
%tr.lines{ class: "web_#{webconference.id}" }
  %td.right= webconference.get_bbb_url(current_user)
  %td.center= [l(webconference.initial_time, format: :at_date), l(webconference.initial_time+webconference.duration.minutes, format: :at_date)].join(' - ')
  %td.center
    = (@bbb_online ? status : t(:unavailable, scope: [:webconferences, :list])) 
  %td.center.record= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_assignment_webconference_path(webconference.id, academic_allocation_user_id: webconference.academic_allocation_user_id), class: 'record_link', :'data-tooltip' => t('webconferences.list.watch')
  %td.center
    - if @own_assignment
      = link_to (image_tag "#{webconference.final? ? 'released' : 'rejected'}.png"), change_status_assignment_webconference_path(webconference), remote: true, method: :put, class: 'change_lesson_status', :'data-tooltip' => (webconference.final ? t('.aw_yes') : t('.aw_no'))
    - else
      = (webconference.final ? t('.aw_yes') : t('.aw_no'))
  - if @own_assignment
    - disabled = !(@in_time && @bbb_online)
    %td.icon.center{ :"data-link-edit" => edit_assignment_webconference_path(webconference), :"data-tooltip" => t('.edit'), onclick: 'edit_awebconference(this)', class: "#{disabled ? 'disabled' : ''}" }= content_tag(:i, nil, class: 'icon-edit')
    %td.icon.center{ :"data-link-records" => remove_record_assignment_webconference_path(webconference), :"data-link-show" => assignment_webconference_path(webconference), :"data-tooltip" => t('.record'), onclick: 'remove_record_awebconference(this)', class: "#{disabled ? 'disabled' : ''}" }= content_tag(:i, nil, class: 'icon-cross')
    %td.icon.center{ :"data-link-delete" => assignment_webconference_path(webconference), :"data-tooltip" => t('.delete'), onclick: 'delete_awebconference(this)', class: "#{disabled ? 'disabled' : ''}" }= content_tag(:i, nil, class: 'icon-trash')

= javascript_include_tag 'tooltip'

:javascript
  $(function(){
    $('.record_link').call_fancybox();
  });