#images
  = f.nested_fields_for :question_images, wrapper_tag: :div do |img|
    .duplicatable_nested_form
      .upload-preview
        - if img.object.image.nil?
          %img{ src: '' }
        - else
          %img{ src: img.object.image.as_json }

        = img.input :image, as: :file, label: false
        = link_to_function t('.add_image'), 'add_file(this)', class: 'btn btn_main add_file'

      .info
        = img.remove_nested_fields_link content_tag(:i, nil, class: 'icon-trash')
        = img.input :legend, as: :text
        = img.input :img_alt
        = img.label t('.alt_desc'), class: 'alt'

:javascript
  $(function(){
    set_image_input();
  });

  function add_file(btn){
    $(btn).parent().find('input.file').click();
  }