= javascript_include_tag 'ckeditor/init'

:javascript

  $(function(){
    CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

    CKEDITOR.editorConfig = function (config) {
      config.toolbar =
        [
          { name: 'clipboard', items : [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
          { name: 'insert', items : ['EqnEditor'] },
          { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
          { name: 'paragraph', items : [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] }
        ];

        config.extraPlugins = 'eqneditor,oembed';
        config.resize_enabled = false;
        config.height = '80px';
        config.width = '100%';
        config.autoParagraph = false;
        config.pasteFromWord_inlineImages = false;
    };

    change_inputs(true, "#{f.object.nil? ? false : f.object.type_question}");

    $('select#exam_question_question_attributes_type_question').on('change', function () {
      change_inputs(false);
    });

    $('select#question_type_question').on('change', function () {
      change_inputs(false);
    });


    $(document).on("fields_added.nested_form_fields", function(event) {
      set_image_input();
      set_audio_input();
      if($(event.currentTarget.activeElement).hasClass('add_options')){
        var name = $(".desc textarea[id*='_question_items_']:visible:last").attr('id');
        var ckeditor = CKEDITOR.instances[name];
        append_rich_text(name);
        $.getScript("/assets/tooltip.js");
        rename_items();
      }
    });

    $(document).on("fields_removed.nested_form_fields", function(event, param) {
      rename_items();
      if($('.nested_fields.nested_question_question_images:visible').length < 4){
        $('.question_images .add_nested_fields_link').show();
        $('.question_audios .add_nested_fields_link').show();
      }
      if($(event.currentTarget.activeElement).hasClass('add_options')){
        append_rich_text($(".desc textarea[id*='_question_items_']:visible:last").attr('id'));
      }
    });

    if("#{f.object.have_media?}"=='false'){
      $('.medias').hide();
      $("#go_to").attr("onclick","go_to_items()");
      //$("#question_texts_media_question").attr("checked","false");

    }else{
      $('.medias').show();
      $("#_back").attr("onclick","back_medias()");
      $("#question_texts_media_question").attr("checked","true");
    }
  });

  function change(elem){
    $('.medias').toggle('show');
    $("#question_texts_media_question").prop('checked', !$("#question_texts_media_question").prop('checked'));

    var src = $(elem).find('img').attr('src');
    if (src=='/assets/released.png'){
      var newsrc = '/assets/rejected.png';
      $("#go_to").attr("onclick","go_to_items()");
      $("#_back").attr("onclick","back()");

    }else{
      var newsrc = '/assets/released.png';
      $("#go_to").attr("onclick","go_to_medias()");
      $("#_back").attr("onclick","back_medias()");

    }
    $(elem).find('img').attr('src', newsrc );

  }

  function set_image_input(){
    $("#images input[type='file'], .image input[type='file']").each(function(idx){

    });

    $("#images input[type='file'], .image input[type='file']").change(function(event){
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var reader = new FileReader();
      input.parent().find('.add_file').hide();
      reader.onload = function(e){
         image_base64 = e.target.result;
         input.parent().parent().find('img').attr("src", image_base64);
      };
      reader.readAsDataURL(file);
    });

    if($('.nested_fields.nested_question_question_images:visible').length == 4){
      $('.question_images .add_nested_fields_link').hide();
    }
  }

  function set_audio_input(){
    $("#audios input[type='file'], .audio input[type='file']").each(function(idx){

    });

    $("#audios input[type='file'], .audio input[type='file']").change(function(event){
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var reader = new FileReader();
      input.parent().find('.add_file').hide();
      reader.onload = function(e){
         audio_base = e.target.result;
         input.parent().parent().find('audio').attr("src", audio_base);
         input.parent().parent().find('audio').attr("controls", "controls");
      };
      reader.readAsDataURL(file);
    });

    if($('.nested_fields.nested_question_question_audios:visible').length == 4){
      $('.question_audios .add_nested_fields_link').hide();
    }
  }
  //Envia o focu para o audio ou imagem com erro
  function sendFocusAudioError(initialID, endID, total){
    var i = 0;
    while(i<total){
      var id = initialID+i+endID;
      var id_desc = initialID+i+"_description";

      if($("#"+id).is(":visible") && $("#"+id_desc).is(":visible")) {
        if($("#"+id).val()=='' && $("#"+id_desc).val()==''){
          $("#"+id).focus();
          return true;
        }
      }else{
        if($("#"+id).is(":visible") && $("#"+id).val()==''){
          $("#"+id).focus();
          return true;
        }
      }
      i++;
    }
  }



.question_type
  = f.label t('questions.new.privacy')
  = f.select :privacy, ([ [t('questions.new.public'), false], [t('questions.new.private'), true] ]), include_blank: false

.question_type
  = f.label t('questions.new.type_question')
  - if f.object.persisted?
    = f.hint f.object.type
  - else
    = f.select :type_question, ([ [t('questions.new.multiple_choice'), Question::MULTIPLE], [t('questions.new.unique_choice'), Question::UNIQUE], [t('questions.new.true_or_false'), Question::TRUE_FALSE]]), include_blank: false

  - unless eq.nil?
    = eq.input :score, input_html: { step: '0.5' }

.labels
  = f.label t('questions.questions.labels'), class: 'label_labels'
  = render partial: 'questions/form/label', locals: { f: f }
  .input.string
    = f.add_nested_fields_link :question_labels, t('.add_labels'), class: 'btn'

= f.input :enunciation, as: :ckeditor

= label_tag 'question_enunciation', '', id: 'exam_question_question_enunciation'

.ckb
  = f.label t('questions.form.add_media'), id: 'add_media'
  = link_to (image_tag "#{f.object.have_media? ? 'released' : 'rejected'}.png"), "#void", onclick: 'change(this)', onkeydown: 'click_on_keypress(event, this)', :'data-tooltip' => t('questions.form.add_media'), id: 'add_media_link'

.form-actions.right_buttons
  = button_tag t(:cancel), :type => 'button', :onclick => "jQuery.fancybox.close()", class: 'btn btn_default btn_lightbox', alt: t(:cancel)
  = button_tag t('.continue'), :type => 'button', :onclick => "go_to_medias()", class: 'btn btn_main btn_lightbox', alt: t(:save), id: 'go_to'
