#items
  = f.nested_fields_for :question_items, wrapper_tag: :div do |i|
    .duplicatable_nested_form
      = i.remove_nested_fields_link content_tag(:i, nil, class: 'icon-trash')
      .inline
        .inputs
          = i.check_box :value
          = i.select :value, ([ ['V', true], ['F', false]]), include_blank: false
        .label= i.label :description
        .desc
          = i.input :description, label: false, class: 'ckeditor'
        .image
          .upload-preview
            - if i.object.item_image_file_name.blank?
              %img{ src: '' }
            - else
              %img{ src: i.object.item_image.as_json }
            = i.input :item_image, as: :file, label: false
            = link_to_function t('questions.form.items.add_image'), 'add_file(this)', class: 'btn btn_main add_file'
          .info
            = i.input :comment, as: :text, label: t('questions.form.items.comment')
            = i.input :img_alt, label: t('questions.form.items.alt')
            = i.label t('questions.form.items.alt_desc'), class: 'alt'

= javascript_include_tag 'ckeditor/init'

:javascript
  $(function(){
    CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

    CKEDITOR.editorConfig = function (config) {
      config.toolbar =
        [
          { name: 'clipboard', items : [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
          { name: 'insert', items : ['EqnEditor'] },
          { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
          { name: 'paragraph', items : [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] }
        ];

        config.extraPlugins = 'eqneditor,oembed';
        config.resize_enabled = false;
        config.height = '80px';
    };

    $("#items").on("fields_added.nested_form_fields", function(event) {
      change_inputs();
    });

    $('#items .duplicatable_nested_form').each(function(idx) {
      var id = $('[id*="_question_items_attributes_'+idx+'_description"]:first').attr('id');
      append_rich_text(id);
    });

    set_image_input();
  });