.question_items
  = f.label t('.answer'), class: 'label_answer'
  = render partial: 'questions/form/item', locals: { f: f }
  .input.string
    = f.add_nested_fields_link :question_items, t('.add'), class: 'btn add_options'

.form-actions.right_buttons
  = button_to_function t(:back), 'back()', class: 'btn btn_default', type: 'button'
  = button_to_function t(:save), "save_question(#{eq.nil? ? 0 : eq.object.exam_id})", class: 'btn btn_main', type: 'button'
