!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?("bla") ? yield(:title) : "Solar"
    = yield(:head)
  %body

    %br/
    Olá,
    %br/
    %br/
    Sua matrícula no Solar foi aceita na seguinte turma:
    %b= @group

    %br/
    %br/
    Para acessar o ambiente utilize este link:
    = link_to('Solar', solar_home_url(:only_path => false))

    %p{style: "color: #7C7C7C; font-size: 8pt; padding-top: 10px;"}= I18n.t("notifier.dont_reply_message")
