!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= "Solar"
    = yield(:head)
  %body
    %p
      %b= I18n.t('exams.result_exam_user.salutation', locale: @locale) + " #{@user.name},"
    %p
      = I18n.t('exams.result_exam_user.exam_name', locale: @locale) + " #{@exam.name} " + I18n.t('exams.result_exam_user.email_of', locale: @locale) + " #{@allocation_tag.curriculum_unit_types} - #{@allocation_tag.info} " + I18n.t('exams.result_exam_user.email_infor_compl', locale: @locale)
      %br
      ="__________________________________________________________________________________________________________________________"

    %p= I18n.t('exams.result_exam_user.exam_grade', locale: @locale) + " #{@grade}"
    %p= I18n.t('exams.result_exam_user.email_infor', locale: @locale)

    %p{style: "color: #7C7C7C; font-size: 8pt; padding-top: 10px;"}= I18n.t("notifier.dont_reply_message", locale: @locale)
