!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= "Solar"
    = yield(:head)
  %body
    %p= "Caro(a) #{@user.name},"
    %p= "Foi realizado um cadastro para este email no Ambiente Virtual de Aprendizagem SOLAR 2.0. Para acessar o ambiente, use os seguintes dados:"
    %p= "Login: #{@user.username}"
    %p= "Senha: #{@password}"
    %p= link_to('Acesso ao Solar', home_url(only_path: false))
    %p
      = "Precisa de ajuda? Veja nosso "
      = link_to('FAQ', "http://www.solar.virtual.ufc.br/faq")
      = " e nossos "
      = link_to('tutoriais', "http://www.solar.virtual.ufc.br/tutorials_login")

    %p{style: "color: #7C7C7C; font-size: 8pt; padding-top: 10px;"}= I18n.t("notifier.dont_reply_message")