!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= "Solar"
    = yield(:head)
  %body
    %p= @info
    %br
    %p= @discussion_name
    ________________________________________________________________________
    %br
    %p= I18n.t('posts.mail.text')
    %p
      = "#{@user.name}:"
      = raw @old_post.content
    ________________________________________________________________________
    %p
      = I18n.t('posts.mail.text_resp') 
      = raw @post.content  
    %p{style: "color: #7C7C7C; font-size: 8pt; padding-top: 10px;"}= I18n.t("notifier.dont_reply_message")     