- if @access.any?
  %thead
    %th.center= t(".date")
    %th.center= t(".time")
  %tbody
    - @access.each do |access|
      %tr.lines
        %td.center= l(access.created_at.to_datetime, format: :normal)
        %td.center= l(access.created_at.to_datetime, format: :clock_time)
- else
  .block_content.block_content_text.text_none= t(".no_access")