%table.tb_list.general#list_of_students{cellspacing: "0", border: "0", summary: t('.list_of_students')}
  %thead
    %tr.lines
      %th#student= t("scores.index.student")
      %th.no_sort{colspan: 10}
        #tabs.tabs_index
          %ul
            %li
              %a.active{:'data-url' => general_scores_path}=t('scores.index.general')
              %a{:'data-url' => evaluative_scores_path}=t('scores.index.evaluative')
              %a{:'data-url' => not_evaluative_scores_path}=t('scores.index.not_evaluative')
              - unless @wh.nil?
                %a{:'data-url' => frequency_scores_path}=t('scores.index.frequency')
            %div{ class: 'link_pdf' }    
              = link_to t('scores.index.print_pdf'), general_scores_path(report: true, format: :pdf), :target => "_blank", class: "btn"
    
    %tr.lines
      %th#student.no_sort
      %th= t('scores.index.access_to_the_course')
      - unless @wh.nil?
        %th= t('scores.index.frequency')
      %th= t('scores.index.final_grade')
      %th= t('scores.index.public_files')
      %th= t("activerecord.models.assignment")
      %th= t("activerecord.models.exam")
      %th= t("activerecord.models.discussion")
      %th= t("activerecord.models.chat_room")
      %th= t("activerecord.models.webconference")
      %th= t("activerecord.models.schedule_event")
      
  %tbody.users
    - if @users.blank?
      %tr.lines
        %td{colspan: 2}= t('scores.index.no_data')
    - else
      = render partial: 'pending_general', locals: { users: @users }
- if @users
  = link_to content_tag(:i, nil, class: "icon-ellipsis"), general_scores_path(page: @users.next_page), class: 'load-more-users', remote: true, :"data-tooltip" => t(:load_items) if @users.next_page    

= javascript_include_tag 'tooltip', 'tablesorter', 'scores'
     
