%div{ class: 'link_btns_scores' }
  = link_to t('scores.index.print_pdf'), general_scores_path(report: true, format: :pdf), :target => "_blank", class: "btn"
  - if (can? :set_register_notes, Score, { on: @allocation_tag_id })
    = link_to t("scores.index.#{@button_text_register_notes}"), '#void', class: "btn "+(@activity_open ? 'disabled_register_notes' : ''), onclick: @activity_open ? '' : 'set_register_notes(this, '+@activity_not_evaluated.to_s+','+ @block_register_notes.to_s+');', :'data-url' => set_register_notes_scores_path, onkeydown: 'click_on_keypress(event, this);', id: 'register_notes', disabled: @activity_open
  = link_to t('messages.send_message'), "#", class: "btn btn_send_msg", disabled: true, :'data-url' => new_by_scores_messages_path(user_ids: ':user_ids')

.parent
  .responsive-table
    %table.tb_list#list_of_students{cellspacing: "0", border: "0", summary: t('scores.index.list_of_students')}
      %thead
        %tr.lines
          %th.no_sort
            %input#all_students_general{type: "checkbox", :"data-children-names" => "ckb_student_score_general"}
          %th#student{style: "width: 100px;"}= t("scores.index.student")
          %th#public_files= t('scores.index.public_files')
          %th#assignment= t("activerecord.models.assignment")
          %th#exam= t("activerecord.models.exam")
          %th#discussion= t("activerecord.models.discussion")
          %th#chat_room= t("activerecord.models.chat_room")
          %th#webconference= t("activerecord.models.webconference")
          %th#schedule_event= t("activerecord.models.schedule_event")

      %tbody.users
        - if @users.blank?
          %tr.lines
            %td{colspan: 10}= t('scores.index.no_data')
        - else
          = render partial: 'pending_general', locals: { users: @users }
- unless @users.blank?
  = link_to content_tag(:i, nil, class: "icon-ellipsis"), general_scores_path(page: @users.next_page), class: 'load-more-users', remote: true, :"data-tooltip" => t(:load_items), :'aria-label' => t(:load_items)  if @users.next_page

:javascript

  $(function(){

    $('#all_students_general').nice_checkbox();

    $(".btn_send_msg").on('click', function(event){
      event.preventDefault();

      students_ids = []

      $('tbody :checkbox:checked').each(function(index, element){
        students_ids.push(element.value)
      });

      var url = $(this).data('url').replace(':user_ids', students_ids.join(","));
      $(this).call_fancybox({
        href: url,
        open: true
      });

    });

  });
