%div{ class: 'link_pdf' }    
  = link_to t('scores.index.print_pdf'), general_scores_path(report: true, format: :pdf), :target => "_blank", class: "btn"

.parent
  %table.tb_list#list_of_students{cellspacing: "0", border: "0", summary: t('.list_of_students')}
    %thead
      %tr.lines
        %th#student{style: "width: 100px;"}= t("scores.index.student")
        %th= t('scores.index.access_to_the_course')
        - unless @wh.nil?
          %th= t('scores.index.frequency')
          %th= t('scores.index.faults')
        %th= t('scores.index.final_grade')
        %th= t('scores.index.af')  
        %th= t('scores.index.public_files')
        %th= t("activerecord.models.assignment")
        %th= t("activerecord.models.exam")
        %th= t("activerecord.models.discussion")
        %th= t("activerecord.models.chat_room")
        %th= t("activerecord.models.webconference")
        %th= t("activerecord.models.schedule_event")
          
    %tbody.users
      - if @users.blank?
        %tr.lines
          %td{colspan: 10}= t('scores.index.no_data')
      - else
        = render partial: 'pending_general', locals: { users: @users }
- unless @users.blank?
  = link_to content_tag(:i, nil, class: "icon-ellipsis"), general_scores_path(page: @users.next_page), class: 'load-more-users', remote: true, :"data-tooltip" => t(:load_items), :'aria-label' => t(:load_items)  if @users.next_page    
