- @users.each_with_index do |student, idx|
  - status = Allocation.status_name(student.grade_situation)
  %tr.lines
    %td{style: 'text-align:center;'}= check_box_tag("ckb_student_score", student.id)
    %th.td_student{:'data-tooltip' => student.name, headers: 'student'}= link_to student.name, user_info_scores_path(student.id)
    %td{headers: 'access_to_the_course'}=student.u_logs
    - unless @wh.nil?
      %td{headers: 'frequency'}=student.working_hours
      %td{headers: 'faults'}=@wh.to_i - student.working_hours.to_i
    %td{headers: 'af_grade'}= student.af_grade
    %td{headers: 'final_grade'}=student.u_grade
    %td{headers: 'situation', class: status}= t("scores.index.#{status}")

= javascript_include_tag 'tableHeadFixer','tooltip', 'tablesorter', 'scores'

:javascript
  $(function () {
    $("#list_of_students").tableHeadFixer({'left' : 1});
  });
