- unless @responsibles.nil?
  %section.block_wrapper.user_requested_list
    .block_title
      %h2
        %i.icon-suitcase
        = t(:group)
        = @group.code
        - unless @wh.blank?
          = t('.curriculum_unit_working_hours', wh: @wh)

  .block_wrapper
    .block_title
      %h2{:'data-shortcut'=> t("shortcut.evaluatives.code.responsibles"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.responsibles"), :'data-shortcut-focus' => 'true'}= t(".responsibles")

    - unless @responsibles.empty?
      .tb_list_responsibles
        %table.tb_list#list_of_responsibles{cellspacing: "0", border: "0", summary: t('.responsibles')}
          %thead
            %tr.lines
              %th#student_responsible= t(".responsible")
              %th#profile= t(".profiles")
              %th#public_files= t(".public_files")
              %th#participations.participation= t(".participation")
              %th#sent_messages.participation= t(".sent_messages")
              %th#access_to_the_course.access_history= t(".access_to_the_course")
          %tbody
            - @responsibles.each do |responsible|
              %tr.lines
                %td.td_student{'data-tooltip' => responsible.name, headers: "student_responsible"}= link_to responsible.name, user_info_scores_path(responsible.id)
                %td{headers: "profile"}= responsible.profile_name
                %td{headers: "public_files"}= responsible.u_public_files
                %td{headers: "participations"}= responsible.u_posts
                %td{headers: "sent_messages"}= responsible.u_sent_msgs
                %td{headers: "access_to_the_course"}= responsible.u_logs
    - else
      .block_content_text_list.text_none= t(".no_responsible")

%section.block_wrapper
  .block_title
    %h2{:'data-shortcut'=> t("shortcut.evaluatives.code.students_and_tools"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.students_and_tools"), :'data-shortcut-focus' => 'true'}= t(".students")
    #tabs.tabs_index{:'data-div' => '.tb_list_students'}
      %ul
        %li
          %a.general.active{href: '#', :'data-url' => general_scores_path, onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);', :'data-shortcut'=> t("shortcut.evaluatives.code.all"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.all")}=t('scores.index.general')
        %li
          %a.evaluative{href: '#', :'data-url' => evaluative_scores_path,onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);', :'data-shortcut'=> t("shortcut.evaluatives.code.evaluative"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.evaluative")}=t('scores.index.evaluative')
        %li
          %a.not_evaluative{href: '#', :'data-url' => not_evaluative_scores_path,onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);', :'data-shortcut'=> t("shortcut.evaluatives.code.notevaluative"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.notevaluative")}=t('scores.index.not_evaluative')
          - unless @wh.nil?
            %li
              %a.frequency{href: '#', :'data-url' => frequency_scores_path, onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);', :'data-shortcut'=> t("shortcut.evaluatives.code.frequency"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.frequency")}=t('scores.index.frequency')

  .tb_list_students
    = render partial: 'general'

%div{:'data-shortcut'=> t("shortcut.evaluatives.code.legends"), :'data-shortcut-name'=> t("shortcut.evaluatives.name.legends"), :'data-shortcut-focus' => 'true'}
  .legend
    = t(".subtitle")
  %ul#scores_notes.legend_score_footer
    %li.evaluated
      %abbr{tiltle: t(".evaluated_complete")}= t(".evaluated")
      = t(".evaluated_complete")
    %li.not_sent
      %abbr{tiltle: t(".not_sent_complete")}= t(".not_sent")
      = t(".not_sent_complete")
    %li.without_group
      %abbr{tiltle: t(".without_group_complete")}= t(".without_group")
      = t(".without_group_complete")
    %li.sent
      %abbr{tiltle: t(".sent_complete")}= t(".sent")
      = t(".sent_complete")
    %li.to_send
      %abbr{tiltle: t(".to_send_complete")}= t(".to_send")
      = t(".to_send_complete")
    %li.not_started
      %abbr{tiltle: t(".not_started_complete")}= t(".not_started")
      = t(".not_started_complete")
    %table
      %td.new_after_evaluation
        = t(".new_after_evaluation")

= javascript_include_tag 'scores'
