.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      = t(:group)
      = @group.code

  .tb_list_students
    %table.tb_list#list_of_students{cellspacing: "0", border: "0", summary: t('.list_of_students')}
      %thead
        %tr.lines
          %th#student= t(".student")
          %th#public_files= t(".public_files")
          %th.participation= t(".participation")
          %th.access_history= t(".access_to_the_course")
          - padding_title = @assignments.size > 1 ? @assignments.size * 15 : 20
          #assignment_title{style: "padding-right: #{padding_title}px"}= t(".assignments")
          - unless @assignments.empty?
            - style_th_width = @assignments.size < 4 ? "width: #{40/@assignments.size}px;" : ''
            - @assignments.each_with_index do |assignment, idx|
              %th#assignment{style: style_th_width, 'data-tooltip' => assignment.name}= "#{idx + 1}"
          - else
            %th.no_sort{style: 'width: 5%'}= '-'
      %tbody
        - unless @students.empty?
          - @students.each do |student|
            - info = student.info_at_allocation_tag(@allocation_tag_id)
            %tr.lines
              %td.td_student{'data-tooltip' => student.name}= link_to student.name, student_info_scores_path(student.id)
              %td= info[:public_files]
              %td= info[:posts]
              %td= info[:access]
              - @assignments.each do |assignment|
                - info = assignment.info(student.id, @allocation_tag_id)
                - grade_link = t(".assignment_#{info[:situation]}", default: info[:grade])
                %td{class: "assignment_#{info[:situation]}"}= link_to grade_link, (info[:situation] == "without_group" ? list_assignments_path : student_assignment_path(assignment.id, student_id: student.id, group_id: info[:group_id]))
              - if @assignments.empty?
                %td= " - "
        - else
          %tr.lines.text_none
            %td{colspan: 4+(@assignments.any? ? @assignments.size : 1)}= t(".no_students")

%div.legend
  = t(".subtitle")
#scores_notes.legend_score_footer
  %div.assignment_not_sent
    = t(".assignment_not_sent")
    = t(".assignment_not_sent_complete")
  %div.assignment_without_group
    = t(".assignment_without_group")
    = t(".assignment_without_group_complete")
  %div.assignment_sent
    = t(".assignment_sent")
    = t(".assignment_sent_complete")
  %div.assignment_to_be_sent
    = t(".assignment_to_be_sent")
    = t(".assignment_to_be_sent_complete")
  %div.assignment_not_started
    = t(".assignment_not_started")
    = t(".assignment_not_started_complete")
