- unless @responsibles.nil?
  %section.block_wrapper.user_requested_list
    .block_title
      %h2
        %i.icon-suitcase
        = t(:group)
        = @group.code
        - unless @wh.blank?
          = t('.curriculum_unit_working_hours', wh: @wh)

  .block_wrapper
    .block_title
      %h2= t(".responsibles")

    - unless @responsibles.empty?
      .tb_list_responsibles
        %table.tb_list#list_of_responsibles{cellspacing: "0", border: "0", summary: t('.responsibles')}
          %thead
            %tr.lines
              %th#student_responsible= t(".responsible")
              %th#profile= t(".profiles")
              %th#public_files= t(".public_files")
              %th.participation= t(".participation")
              %th.participation= t(".sent_messages")
              %th.access_history= t(".access_to_the_course")
          %tbody
            - @responsibles.each do |responsible|
              %tr.lines
                %td.td_student{'data-tooltip' => responsible.name}= link_to responsible.name, user_info_scores_path(responsible.id)
                %td= responsible.profile_name
                %td= responsible.u_public_files
                %td= responsible.u_posts
                %td= responsible.u_sent_msgs
                %td= responsible.u_logs
    - else
      .block_content_text_list.text_none= t(".no_responsible")

%section.block_wrapper
  .block_title
    %h2= t(".students")
    #tabs.tabs_index{:'data-div' => '.tb_list_students'}
      %ul
        %li
          %a.general.active{href: '#', :'data-url' => general_scores_path, onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);'}=t('scores.index.general')
        %li
          %a.evaluative{href: '#', :'data-url' => evaluative_scores_path,onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);'}=t('scores.index.evaluative')
        %li
          %a.not_evaluative{href: '#', :'data-url' => not_evaluative_scores_path,onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);'}=t('scores.index.not_evaluative')
          - unless @wh.nil?
            %li
              %a.frequency{href: '#', :'data-url' => frequency_scores_path, onclick: 'change_tab(this); return false;', onkeydown: 'click_on_keypress(event, this);'}=t('scores.index.frequency')

  .tb_list_students
    = render partial: 'general'

%div.legend
  = t(".subtitle")
#scores_notes.legend_score_footer
  .evaluated
    = t(".evaluated")
    = t(".evaluated_complete")
  .not_sent
    = t(".not_sent")
    = t(".not_sent_complete")
  .without_group
    = t(".without_group")
    = t(".without_group_complete")
  .sent
    = t(".sent")
    = t(".sent_complete")
  .to_send
    = t(".to_send")
    = t(".to_send_complete")
  .not_started
    = t(".not_started")
    = t(".not_started_complete")
  %table
    %td.new_after_evaluation
      = t(".new_after_evaluation")

= javascript_include_tag 'scores'