%html
  %head
    %title 
      = 'Solar - '+t(:report, scope: [:scores, :info]) + t(@type, scope: [:scores, :info])
    %meta{:charset => 'utf-8'}
    = wicked_pdf_stylesheet_link_tag  "pdf", :media => "all"
    
  %body
    .tool_all
      %div{style: 'text-align: right; font-size: 7pt; margin-bottom: 4px;'}= t('scores.pdf.time', time: l(Time.now, format: :long))
      .header
        = wicked_pdf_image_tag "ufc.png", :style => "float: left; width:150px; height: 50px"
        = wicked_pdf_image_tag "ufcVirtual.png", :style => "float: right; width:70px; height: 50px"
      #title  
        %br 
        %br
        %br
        %br
        %div{style: 'font-weight: bold; font-size: 12pt; font-family: "Ubuntu"; text-align: center;'}= @ats.info
        %br
        %div{style: 'font-family: "Ubuntu"; text-align: center;'}= t(:report, scope: [:scores, :info]) + t(@type, scope: [:scores, :info])
        .info.block_content{style: 'padding: 24px;'}
          .left{style: 'float: left;'}
            = wicked_pdf_image_tag @user.user_photo(:medium), alt: t(:mysolar_alt_img_user)
          .evaluation_info{style: 'margin: 15px; padding-right: 0; display: inline-block;'}
            %div{style: 'font-weight: bold; font-size: 12pt; text-align: center;font-family: "Ubuntu"; '}= @user.name
            %div{style: 'font-weight: bold; font-size: 12pt; font-family: "Ubuntu"; text-align: center;'}= '(' + @user.nick + ')'
            %br
            %div= raw @curriculum_unit.try(:working_hours).nil? ? t('scores.info.uc_without_wh') : t('scores.info.frequency_uc', wh: @curriculum_unit.try(:working_hours))
            - if @is_student
              .grade= raw t('scores.info.grade_i', grade: (@g.final_grade.blank? ? ' - ' : @g.final_grade.round(2).to_s))
              .frequency= raw t('scores.info.frequency_i', wh: @g.working_hours)
        %br
        %table.tb_list
          %thead
            %tr.lines
              %th{style: "width: 20%;"}= t(:tool, scope: [:scores, :info])
              %th{style: "width: 30%;"}= t(:title, scope: [:scores, :info])
              %th.center.date{style: "width: 25%;"}= t(:date_range, scope: [:scores, :info])
              %th{style: "width: 22%;"}= t(:situation, :scope => [:scores, :info])
              %th.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
              - if @type == 'evaluative' || @type == 'all'
                %th{style: "width: 15%;"}= t(:grade, scope: [:scores, :info]) 
              - if @type == 'frequency' || @type == 'all'
                %th{style: "width: 15%;"}= t(:frequency, scope: [:scores, :info]) 
          %tbody
            - unless @tool.empty?
              - @tool.each do |tool|
                %tr.lines
                  %td.show_posts
                    = t(tool.academic_tool_type.downcase, scope: [:activerecord, :models])
                  %td.show_posts
                    = tool.name
                  %td.center
                    - if tool.academic_tool_type.downcase == 'webconference'
                      %div= l(tool.start_hour.to_datetime, format: :at_date)
                    - else
                      %div= [l(tool.start_date.to_date), l(tool.end_date.to_date)].join(' - ')
                      %div= [(tool.start_hour), (tool.end_hour)].join(' - ') unless tool.start_hour.blank?
                  %td.center
                    %div{class: "assignment_#{tool.situation}"}= t(tool.situation, :scope => [:scores, :situation]) unless tool.situation.blank?
                  %td.center
                    - unless tool.count.blank?
                      = tool.count
      
                  - if @type == 'evaluative' || @type == 'all'
                    %td.left
                      = tool.grade.blank? ? ' - ' : tool.grade.to_f  
                  - if @type == 'frequency' || @type == 'all'      
                    %td.left
                      = tool.working_hours.blank? ? ' - ' : tool.working_hours.to_i          
            - else
              %tr.lines{colspan: 6}
                %td{colspan: 6}= t(:itens_not_found)
        %br    
        .block_wrapper
          .block_title
            %h3= t("scores.info.history_access", amount: @access_count)
            #amount_found{style: "float: right;"}
              =t('scores.info.last_five')
          .block_content.block_content_text
            #history-body
              %table.tb_list
                = render partial: "access", locals: {access: @access}
        %br
        .block_wrapper
          .block_title
            %h3= t(:public_files, scope: [:scores, :info])
          .block_content
            - no_files = (@public_files.blank?)
            %table.tb_list
              %thead{style: (no_files ? "display: none" : "")}
                %tr.lines
                  %th
                  %th{style: "width: 100px;"}= t(:file, scope: [:scores, :info])
                  %th{style: "width: 100px;"}= t(:size, scope: [:scores, :info])
                  %th{style: "width: 200px;"}= t(:sent_on, scope: [:scores, :info])

              %tbody.public_files
                - unless no_files
                  - @public_files.each do |file|
                    %tr.lines
                      %td{style: "width: 10px;"}= wicked_pdf_image_tag icon_attachment(file.attachment_file_name)
                      %td{style: "width: 150px;"}= file.attachment_file_name
                      %td{style: "width: 100px;"}= format('%.2f KB', file.attachment_file_size.to_i/1024.0)
                      %td{style: "width: 200px;"}= (file.attachment_updated_at.nil? ? " " : l(file.attachment_updated_at, format: :files))
                - else
                  %tr.lines{colspan: 4}
                    %td{colspan: 4}= t(:itens_not_found)

         


   