
<div><span class="page_title"><%= t(:scores_of) %> <%= curriculum_unit_name %></span></div>

<%= raw render_group_selection %>

<!-- Lista de atividades do aluno -->

<div class="portfolio_activity_list">
  <div>

    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= @student.name %></h1>
    </div>

    <!-- Tabelas de atividades -->

    <div class="portfolio_activity_list">

      <!-- Trabalhos -->

      <div id="assignments">

        <table id="assignments_list" class="tb_list" width="100%" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr class="lines">
              <th align="left"><%= t(:assignments) %></th>
              <th align="center" style="width: 22%;"><%= t(:date_name) %></th>
              <th align="center" style="width: 12%;"><%= t(:situation) %></th>
              <th align="center" style="width: 8%;"><%= t(:grade) %></th>
            </tr>
          </thead>
          <tbody>
            <% @activities.each_with_index do |activity, idx| %>

              <tr class="lines">

                <td align="left">
                  <!-- verifica permissao de modificao de notas -->
                  <% if can? :student_detail, PortfolioTeacher %>
                    <%=link_to activity["assignments_name"], {:controller => :portfolio_teacher,
                      :action => :student_detail, :id => @student.id,
                      :assignment_id => activity["assignment_id"],
                      :send_assignment_id => activity["send_assignment_id"]}, {:class => 'link_content'} %>
                  <% else %>
                    <%= activity["assignments_name"] %>
                  <% end %>
                </td>
                <td align="center"><%=l activity["start_date"].to_time, :format => :normal %> - <%=l activity["end_date"].to_time, :format => :normal %></td>
                <td class="assignment_<%= activity["situation"] %>" align="center"><%= t(activity["situation"].to_sym) %></td>
                <td align="center"><%= (activity["grade"].nil?) ? '-' : activity["grade"].to_f %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!-- Quantidade de participacoes em foruns -->

  <div class="portfolio_activity_list" style="padding-top: 10px;">

    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= t(:amount_participation_discussions) %></h1>
    </div>

    <!-- Informacoes -->

    <div>
      <table class="tb_list" width="100%" cellspacing="0">
        <thead>
          <tr class="lines">
            <th style="width: 80%;"></th>
            <th style="width: 20%;" align="center"><%= t(:amount) %></th>
          </tr>
        </thead>
        <tbody>
          <% @discussions.each_with_index do |discussion, idx| %>
            <tr class="lines">
              <% link = {:controller => :discussions, :action => :show_posts, :id => discussion["discussion_id"], :student_id => @student.id} %>
              <td class="show_posts">
                <%= link_to(discussion["name"], link, {:class => 'link_content'}) %>
              </td>
              <td class="show_posts" align="center">
                <%= link_to(discussion["qtd"], link, {:class => 'link_content'}) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <!-- Historico de acesso -->

  <div style="padding-top: 10px;">

    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= t(:history_access) %></h1>
    </div>

    <!-- Informacoes -->

    <div class="portfolio_history_access">

      <div id="history-search-content" style="padding-bottom: 10px;">
        <input type="text" id="from-date" title="<%= t(:from_date) %>" size="9" value="<%=l two_months_ago, :format => :datepicker %>"/>
        <%= t(:to) %>
        <input type="text" id="until-date" title="<%= t(:until_date) %>" size="9" value="<%=l Date.today, :format => :datepicker %>"/>
        <span>
          <%=link_to t(:history_find), {:controller => :scores, :action => :amount_history_access}, {:id => 'bt-amount-history-access', :class => 'link_content'} %>
        </span>
      </div>

      <div id="history-body" style="border-top: solid #B4B2B1 1px; padding-top: 10px;">
        <span id="history-body-label" style="padding-right: 10px;"><%=t :amount_access %>:</span>
        <span id="history-body-value">
          <%= link_to @amount, {:controller => :scores, :action => :history_access, :student_id => @student.id}, :class => 'link_content' %>
        </span>
      </div>

    </div>
  </div>
</div>

<!-- Scripts -->

<style type="text/css">
  .ui-datepicker { width: 15em; padding: .2em .2em 0; display: none; }
</style>

<script type="text/javascript">
  $(function(){

    var local = ('<%= I18n.locale %>' == 'en') ? 'en-GB' : '<%= I18n.locale %>';
    var options = $.extend($.datepicker.regional[local]);
    options.dateFormat = '<%=t :search_format_date %>';
    $('#from-date, #until-date').datepicker(options);

    // requisicao ajax para recuperar quantidade de acessos de um usuario
    $('a#bt-amount-history-access').click(function(){

      // verificar se as datas foram preenchidas - as duas sao obrigatorias
      $.post($(this).attr('href'), {
        'from-date': $('#from-date').val(),
        'until-date': $('#until-date').val(),
        'id': <%= @student.id %>
      },
      function(response){
        $('#history-body-value').html(response);
      });

      // parar o evento de click
      return false;

    });

    // requisicao ajax para recuperar posts do usuario
    $('td.show_posts').click(function(){

      var url = $('a', $(this)).attr('href');
      if (typeof(url) === 'undefined'){
        return false;
      }

      $.ajax({
        type: 'GET',
        url: url,
        cache: false,
        success: function(response){
          var canClose = true;
          var title = '<span style="font-weight: bold;"><%= t(:scores_discussions) %></span><br /><%= @student.name %>';
          showLightBox(response, 500, 600, canClose, title);
        },
        error: function(response){
          alert('<%=t :error_find_ajax%>');
        }
      });

      return false;

    });

    // requisicao ajax para recuperar historico de acesso do usuario
    $('#history-body-value').click(function(){

      var url = $('a', $(this)).attr('href');
      if (typeof(url) === 'undefined'){
        return false;
      }

      $.ajax({
        type: 'GET',
        data: {
          'from-date': $('#from-date').val(),
          'until-date': $('#until-date').val()
        },
        url: url,
        cache: false,
        success: function(response){
          var canClose = true;
          var title = '<span style="font-weight: bold;"><%= t(:scores_history_access) %></span><br /><%= @student.name %>';
          showLightBox(response, 500, 600, canClose, title);
        },
        error: function(response){
          alert('<%=t :error_find_ajax%>');
        }
      });

      return false;

    });
  });
</script>
