- if @exams.any?
  - @exams.each do |exam|
    - questions = exam.get_questions

    .block_wrapper.module.exam{ id: "exam_#{exam.id}",  }
      = render partial: 'exams/list/info', locals: { exam: exam, has_group: exam.groups.any?, show_buttons: true, ckb: false, tags: { all_groups: all_groups, groups: exam.groups, tool: exam, paths: { add: add_group_to_exams_path(id: 'param_id', tool_id: exam.id), remove: remove_group_from_exams_path(id: 'param_id', tool_id: exam.id), unbind: unbind_group_from_exams_path(id: 'param_id', tool_id: exam.id), tags: group_tags_from_exams_path(tool_id: exam.id) } } }

      .block_content_toolbar
        .block_toolbar_left.btn-group
          %a.btn.btn_main{ href: '#', 'data-dropdown' => "#dropdown_#{exam.id}"}
            = content_tag(:i, nil, class: 'icon-plus')
            %i.icon-arrow-down-triangle
          %div{ id: "dropdown_#{exam.id}", class: "dropdown dropdown-tip" }
            %ul.dropdown-menu
              %li= link_to t('exams.list.new'), new_exam_question_path(exam_id: exam.id, allocation_tags_ids: @allocation_tags_ids), class: "link_new_question"
              %li= link_to_function t('exams.list.import'), 'import_questions(this)', :'data-url' => import_steps_exam_questions_path(allocation_tags_ids: @allocation_tags_ids, exam_id: exam.id), :'data-tooltip' => t('exams.list.import')
        .block_toolbar_right
          .btn-group{ class: "exam-#{exam.id}" }
            = link_to_function (content_tag(:i, nil, class: 'icon-checkmark')), 'change_status(this, ".list_exams")', class: 'btn change_status_ckb', :'data-url' => publish_exam_question_path(':id'), disabled: true, :"data-tooltip" => t('exam_questions.list.publish')
            = link_to_function (content_tag(:i, nil, class: 'icon-popup')), 'copy_question(this, ".list_exams")', class: 'btn btn_copy', :'data-link-to-copy' => copy_exam_question_path(':id'), disabled: true, :"data-tooltip" => t('questions.index.copy')
            = link_to_function (content_tag(:i, nil, class: 'icon-edit')), 'edit_question(this)', class: 'btn btn_edit', :'data-link-to-edit' => edit_exam_question_path(':id'), :'data-edit-title' => t('exam_questions.list.edit'), disabled: true, :"data-tooltip" => t('exam_questions.list.edit')
            = link_to_function (content_tag(:i, nil, class: 'icon-trash')), "delete_exam_questions(this, #{exam.id})", class: 'btn btn_del', :'data-link-delete' => exam_question_path(':id'), disabled: true, :'data-tooltip' => t('exam_questions.list.delete')
      %div{ class: "list_questions_exam_#{exam.id}" }
        - if questions.any?
          = render partial: 'exam_questions/questions', locals: { questions: questions, exam: exam, hide_columns: false }
        .text_none.empty_message{ class: (questions.blank? ? '' : 'hide_message') }= t(:none, scope: [:exams, :list])

- else
  .block_content.block_content_text= t(:none, scope: [:lesson_modules])
