.block_title_exam.block_exam
  %h2
    .text
      = check_box_tag("ckb_exam_#{exam.id}", exam.id, false, { class: 'ckb_exam' })
      = exam.name
    .block_buttons
      - if show_buttons
        = link_to (content_tag(:i, nil, class: 'icon-eye')), edit_exam_path(exam, allocation_tags_ids: @allocation_tags_ids), class: 'block_title_button preview_exam', :'data-tooltip' => t('exams.list.preview_exam')
        = link_to (content_tag(:i, nil, class: 'icon-edit')), edit_exam_path(exam, allocation_tags_ids: @allocation_tags_ids), class: 'block_title_button edit_exam', :'data-tooltip' => t('exams.list.edit_exam')
        = link_to_function (content_tag(:i, nil, class: 'icon-trash')), 'delete_exam(this)', class: 'block_title_button delete_exam', :'data-link-delete' => exam_path(exam, allocation_tags_ids: @allocation_tags_ids), :'data-tooltip' => t('exams.list.delete_exam'), :"data-parent" => "exam_#{exam.id}"
      .right
        %span.draft{ class: (exam.status ? 'invisible' : '') }
          = content_tag(:i, nil, class: 'icon-warning')
          = label_tag t('exams.list.draft_exam')
        - period = if exam.start_hour.nil?
          - [l(exam.schedule.start_date, format: :normal), l(exam.schedule.end_date, format: :normal)].join(t('exams.list.to'))
        - else
          - [l(exam.schedule.start_date, format: :normal), [exam.start_hour, exam.end_hour].join(t('exams.list.to'))].join(' ')
        = label_tag  t('exams.list.period', period: period)
        = label_tag  t('exams.list.amount_questions', added: exam.questions_count, amount: exam.number_questions)
        - if show_buttons
          = link_to_function (exam.status ? t('exams.list.published') : t('exams.list.unpublished')), 'change_status_exam(this)', class: "btn btn_main #{(exam.status ? 'published' : 'unpublished')}", :'data-url' => change_status_exam_path(exam)
  - if has_group
    = render 'groups/groups_tags', tags