:javascript
  CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

= javascript_include_tag "ckeditor/init"

= simple_form_for(@notification, html: {id: "notification_form"}) do |f|
  %span.form_requirement= t(:required_fields)
  %h1#lightBoxDialogTitle= t((f.object.persisted? ? :edit : :new), scope: [:notifications, :form])

  .form-inputs.block_content
    = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

    .inline
      = f.input :title
      = f.fields_for :schedule, defaults: {required: true} do |s|
        .schedule_dates
          - start_date = (s.object.start_date.nil?) ? nil : l(s.object.start_date.to_date, format: :datepicker)
          - end_date = (s.object.end_date.nil?) ? nil : l(s.object.end_date.to_date, format: :datepicker)

          .left= s.input :start_date, label: t(".day_from"), as: :string, input_html: {id: 'from-date', size: 10, value: start_date}
          .right= s.input :end_date, label: t(".day_to"), as: :string, input_html: {id: 'until-date', size: 10, value: end_date}

    = f.input :description, as: :ckeditor, label: false

    = render "groups/codes"

  .form-actions.right_buttons
    = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button", alt: t(:cancel)
    = button_to_function t(:save), "save_notification()", class: "btn btn_main btn_lightbox", alt: t(:save), type: "button"

:javascript
  CKEDITOR.editorConfig = function(config) {
    config.toolbar =
      [
        { name: 'styles', items : [ 'Styles', 'Format', 'Font', 'FontSize' ] },
        { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
      ];
  };

  $("#from-date, #until-date").mask("#{I18n.t(:mask, scope: "date.formats")}");

  $(function(){
    $("#from-date, #until-date").datepicker();
  });
