:javascript
  CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

= javascript_include_tag "ckeditor/init"

= simple_form_for(@notification, html: {id: "notification_form"}) do |f|
  %span.form_requirement= t(:required_fields)
  %h1#lightBoxDialogTitle= t((f.object.persisted? ? :edit : :new), scope: [:notifications, :form])

  .form-inputs.block_content
    = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

    .inline
      = f.input :title
      = f.fields_for :schedule, defaults: {required: true} do |s|
        .schedule_dates
          .left= s.input :start_date, label: t(".day_from"), as: :string, input_html: {id: 'from-date', size: 10}
          .right= s.input :end_date, label: t(".day_to"), as: :string, input_html: {id: 'until-date', size: 10}

    = f.input :description#, as: :ckeditor, label: false

    - unless @groups_codes.empty?
      .input.group_label
        = f.label t(:groups, scope: [:bibliographies, :form])
        %span.groups
          - @groups_codes.each do |group_code|
            %span.collection_check_boxes= group_code

  .form-actions.right_buttons
    = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button", alt: t(:cancel)
    = button_to_function t(:save), "save_notification()", class: "btn btn_main btn_lightbox", alt: t(:save), type: "button"

:javascript
  CKEDITOR.editorConfig = function(config) {
    config.toolbar =
      [
        { name: 'styles', items : [ 'Styles', 'Format' ] },
        { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] }
      ];
  };
