- unless @groups.blank? && @allocation_tag.blank?
  .title-warning
    = @allocation_tag.no_group_info unless @allocation_tag.blank?
    - unless @groups.blank?
      - if @groups.size == 1
        = @groups.first.code
      - else
        .equivalent
          %a{ href: '#', :"data-dropdown" => "#dropdown" }
            = t('notifications.show.count_groups', count: @groups.size)
            %i.icon-arrow-down-triangle{:'aria-hidden' => 'true'}
          .dropdown.dropdown-tip{id: "dropdown"}
            %ul{ class: 'dropdown-menu' }
              - @groups.each do |code|
                %li= code

.block_content
  .notification
    = sanitize notification.description

  - if notification.notification_files.any?
    %h2= t('.files')
    %ul.files
      - notification.notification_files.each do |file|
        %li= link_to t('.download_file', name: file.file_file_name, size: number_to_human_size(file.file_file_size, precision: 2)), download_file_notifications_path(id: file.id), :'aria-label' => t('.download_file_alt', name: file.file_file_name, size: number_to_human_size(file.file_file_size, precision: 2))