.block_wrapper.list_notifications{"data-link-list" => list_notifications_path(allocation_tags_ids: @allocation_tags_ids, offer_id: params[:offer_id])}

  .block_title
    %h2= t(".notifications")
  .block_content_toolbar
    .block_toolbar_left.btn-group
      = link_to content_tag(:i, nil, class: 'icon-plus'), new_notification_path(allocation_tags_ids: @allocation_tags_ids), class: "btn btn_main link_new_notification", :"data-tooltip" => t(".new")

    .block_toolbar_right
      .btn-group
        = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn btn_edit', :"data-link-edit" => edit_notification_path(id: ':id', allocation_tags_ids: @allocation_tags_ids), disabled: true, :"data-tooltip" => t(".edit")
        = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del delete_notification',  :"data-link-delete" => notification_path(id: ':id', :allocation_tags_ids => @allocation_tags_ids), disabled: true, :'data-tooltip' => t(".delete")

  - unless @notifications.nil? or @notifications.empty?
    - all_groups = Offer.find(params[:offer_id]).try(:groups) if params.include?(:offer_id)
    %table.tb_list.tb_notifications
      %thead
        %tr.lines
          %th.no_sort{style: 'text-align:center; width: 25px;'}= check_box_tag :all_notifications, false, false, :"data-children-names" => "ckb_notification", class: "all_notifications"
          %th{align: "left"}=t(".notification")
          %th.no_sort{align: "center", style: "width: 26%;"}= t(".period")
      %tbody
        - @notifications.each do |notification|
          = render partial: "notifications/notification", locals: {notification: notification, all_groups: all_groups, destroy: true}

  - else
    .block_content_text.block_content_text_list.text_none= t(".no_data")

= javascript_include_tag "tablesorter", "notifications", "tooltip", "groups_tags"

:javascript

  var div_list = $(".list_notifications");
  var offer_id = "#{escape_once(params[:offer_id])}";
