.show_notification
  #lightBoxDialogTitle
    %h1= @notification.title
    = link_to_function content_tag(:i, nil, class: 'icon-arrow-right-thin', :'aria-hidden'=>'true'), 'next_notification()', class: 'next', onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('.next')
    = link_to_function content_tag(:i, nil, class: 'icon-arrow-left-thin', :'aria-hidden'=>'true'), 'prev_notification()', class: 'prev', onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('.prev')

  .title-warning
    = @allocation_tag.no_group_info
    - unless @groups.blank? 
      - if @groups.size == 1
        = @groups.first.code
      - else
        .equivalent
          %a{ href: '#', :"data-dropdown" => "#dropdown" }
            = t('.count_groups', count: @groups.size)
            %i.icon-arrow-down-triangle{:'aria-hidden' => 'true'}
          .dropdown.dropdown-tip{id: "dropdown"}
            %ul{ class: 'dropdown-menu' }  
              - @groups.each do |code|
                %li= code

  .block_content
    .notification
      = sanitize @notification.description

  .block_buttons
    .right
      = button_to_function t(:close), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"


:javascript
  function load_fancy(id) {
    $("ul.notifications li[id=" + id + "]").removeClass("unread").addClass("read").call_fancybox({href: "#{notification_path(':id')}".replace(':id', id), open: true});
  }

  function next_notification() {
    load_fancy($("ul.notifications li[id=#{@notification.id}]").next().attr("id"));
  }

  function prev_notification() {
    load_fancy($("ul.notifications li[id=#{@notification.id}]").prev().attr("id"));
  }

  $(function(){
    var notification_idx = parseInt($("ul.notifications li[id=#{@notification.id}]").data("notification-idx"));
    var first = (notification_idx == 0);
    var last = (notification_idx + 1) == parseInt($("ul.notifications").data("notifications-count"));

    if (first)
      $(".prev").hide();

    if (last)
      $(".next").hide();
  });
