<div class="block_wrapper" id="group_assignments">

  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:group_assignments)%></h2>
  </div>

  <div class="block_content" id="group_assignments">

    <% unless @assignments.nil? or @assignments.empty? %>
      <table class="tb_list">
        <tbody>
        <% @assignments.each do |a| %>
          <tr class="lines">
            <td>
              <a class="link_content" href="javascript:toggle_div('div_group_<%=a["id"]%>');"><%=a["name"]%></a>
              
              <% gps = group_assignments(a["id"])%>
              <div style="display:none" id="div_group_<%=a["id"]%>">

                <div><%=a["enunciation"]%></div>

                Data de entrega:
                <div><%= a["start_date"] %> - <%= a["end_date"] %></div>

                Grupos
                <% unless gps.nil? or gps.empty? %>

                  <% gps.each do |g| %>
                    <div>
                      <%= g["group_name"] %>

                      <% gp = group_participants(g["id"])%>
                      <% gp.each do |p| %>
                        <%= p["user_id"] %> <%= p["name"] %>
                      <% end %>
                      <%= link_to "editar", {:controller => :group_assignment, :action => :edit, :id => g["id"], :assignment_id => a["id"]}, {:class => 'link_content'} %>
                    </div>
                  <% end %>

                  <%= link_to "Novo grupo", {:controller => :group_assignment, :action => :new, :assignment_id => a["id"]}, {:class => 'link_content'} %>

                <% end %>
                &nbsp;
              </div>
              
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
   
  </div>

</div>

<script type="text/javascript">
    function toggle_div(elementId) {
    $('#'+ elementId).toggle();
  }
</script>