<div class="block_wrapper" id="group_assignments">

  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:group_assignments)%></h2>
  </div>

  <div class="block_content" id="group_assignments">

    <% unless @group_assignments.nil? or @group_assignments.empty? %>
      <table class="tb_list">
        <tbody>
        <% @group_assignments.each do |ga| %>
          <tr class="lines">
            <td>
              <%=   %>
              <%=link_to ga["name"], {:action => :assignment_details, :id => ga["id"]}, :class => "" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
   
  </div>

</div>