<div class="block_wrapper" id="group_assignments">

  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:group_assignments)%></h2>
  </div>

  <div class="block_content" id="group_assignments">

    <% unless @assignments.nil? or @assignments.empty? %>
      <table class="tb_list">
        <tbody>
        <% @assignments.each do |a| %>
          <tr class="lines">
            <td>
              <div class="group_assignment_title" onClick="javascript:toggle_div('div_group_<%=a["id"]%>');">
                <a class="link_content"><%=a["name"]%></a>
              </div>
              <% gps = group_assignments(a["id"])%>
              <div id="div_group_<%=a["id"]%>" class="group_assignment_details">

                <div class="group_assignment_content"><%=a["enunciation"]%></div>

                <h3><%= t(:group_assignment_date)%></h3>
                <div class="group_assignment_content"><%= a["start_date"] %> - <%= a["end_date"] %></div>

                <h3><%= t(:group_assignment_title)%></h3>
                <div class="group_assignment_content">
                <% unless gps.nil? or gps.empty? %>

                  <% gps.each do |g| %>
                    <div class="group_participants">
                      <h3 class="group_assignment_name"><%= g["group_name"] %></h3>

                      <% gp = group_participants(g["id"])%>
                      <ul>
                      <% gp.each do |p| %>
                        <li><%= p["name"] %></li>
                      <% end %>
                      </ul>
                      <%= link_to t(:group_assignment_edit), {:controller => :group_assignment, :action => :edit, :id => g["id"], :assignment_id => a["id"]}, {:class => 'link_content group_edit'} %>
                    </div>
                  <% end %>
                  <div class="group_new">
                    <%= button_to t(:group_assignment_new), {:controller => :group_assignment, :action => :new, :assignment_id => a["id"]}, :class=>'btn btn_default' %>
                  </div>

                <% end %>
                </div>
              </div>
              
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
   
  </div>

</div>

<script type="text/javascript">
  function toggle_div(elementId) {
    $('#'+ elementId).slideToggle();
  }
  $(".group_assignment_title").click(function(){
    $(this).toggleClass('group_assignment_title_contract');
  })
</script>