<div>

    <%= image_tag "icon_participants.png", :alt=>t(:icon_participants) %>
    <span class="page_title"><%= t(:participants_title) %></span>
    <hr style="border: none; background-color: #b4b3b7; height: 1px; width:770px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

    <div>
      
      <div class="portlet_participants">
        <div class="portlet_participants_header">
          <%=t(:curriculum_unit_responsible)%>
        </div>
        
        <% if @responsible %>

          <% if @responsible.length == 0 %>
            <div class="participants_list_none"><%= t(:participants_none)%></div>
          <% end %>

          <% @responsible.each do |resp| %>
            <div class="participants_list">

              <% if resp.photo_file_name %>
                <%=image_tag resp.photo.url(:medium), :alt => t(:mysolar_alt_img_user) + ' ' + resp.username %>
              <% else %>
                <%=image_tag 'no_image.png', :alt => t(:mysolar_alt_img_user) + ' ' + resp.username %>
              <% end %>

              <div title="<%=resp.username%>">
                <% if resp.username.length > 25 %>
                  <%=resp.username.slice(0..24) + '...'%>
                <% else %>
                  <%=resp.username%>
                <% end %>
              </div>

              <div><%="(" + resp.profilename + ') '%></div>
              <div class="participants_icons">
                <span><%= link_to (image_tag "icon_profile.png", :alt=>t(:icon_profile)) %></span>
                <span><%= link_to (image_tag "icon_add_user.png", :alt=>t(:icon_add_participant)) %></span>
                <span><%= link_to (image_tag "icon_chat.png", :alt=>t(:icon_chat)) %></span>
                <span><%= link_to (image_tag "icon_message_participant.png", :alt=>t(:icon_send_email)) %></span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="participants_list_none"><%=label t(:participants_none)%></div>
        <% end %>
      </div>

      <div class="portlet_participants">
        <div class="portlet_participants_header">
          <%=t(:curriculum_unit_participants)%>
        </div>

        <% if @participants %>

          <% if @participants.length == 0 %>
            <div class="participants_list_none"><%= t(:participants_none)%></div>
          <% end %>

          <% @participants.each do |part| %>
            <div class="participants_list">
              <% if part.photo_file_name %>
                <%=image_tag part.photo.url(:medium), :alt => t(:mysolar_alt_img_user) + ' ' + part.username %>
              <% else %>
                <%=image_tag 'no_image.png', :alt => t(:mysolar_alt_img_user) + ' ' + part.username %>
              <% end %>

              <div title="<%=part.username%>">
                <% if part.username.length > 25 %>
                  <%=part.username.slice(0..24) + '...'%>
                <% else %>
                  <%=part.username%>
                <% end %>
              </div>
              
              <div>
                <% if part.profileid.to_s!=@student_profile.to_s %>
                   <%="(" + part.profilename + ') '%>
                <% else %>
                   <br/>
                <% end %>
              </div>

              <div class="participants_icons">
                <span><%= link_to (image_tag "icon_profile.png", :alt=>t(:icon_profile)) %></span>
                <span><%= link_to (image_tag "icon_add_user.png", :alt=>t(:icon_add_participant)) %></span>
                <span><%= link_to (image_tag "icon_chat.png", :alt=>t(:icon_chat)) %></span>
                <span><%= link_to (image_tag "icon_message_participant.png", :alt=>t(:icon_send_email)) %></span>
              </div>
            </div>
          <% end %>

        <% else %>
          <div class="participants_list_none"><%=label t(:participants_none)%></div>
        <% end %>
      </div>

    </div>

    <!--t(:curriculum_unit_participants)-->
</div>