- curriculum_units = load_curriculum_unit_data() || [] 

.block_large
  .block_title
    %h2
      %i.icon-docs
      = t(:my_solar_curriculum_units)

  .mysolar_portlets_content

    %ul#mysolar_curriculum_unit_wrapper
      - if curriculum_units.length > 0
        - curriculum_units.each do |curriculum_unit| 
          %li
            - unless curriculum_unit.offers.empty? or curriculum_unit.groups.empty?
              - if ((user_session[:tabs][:opened].length >= Max_Tabs_Open.to_i) and (!user_session[:tabs][:opened].has_key?(curriculum_unit.name)))
                - options = {} 
                - html_options = {:onclick => "javascript:alert('"+t(:curriculum_access_alert)+"');return false;", :class=>'link_content' }
              - else 
                - options = add_tab_path(id: curriculum_unit.id, context: Context_Curriculum_Unit, name: curriculum_unit.name, allocation_tag_id: curriculum_unit.allocation_tag.id)
                - html_options = {:class=>'link_content'}

              = link_to curriculum_unit.name, options, html_options
            - else
              .disabled{:title => (curriculum_unit.offers.empty? ? t(:my_solar_uc_without_offer) : t(:my_solar_uc_without_group))}= curriculum_unit.name
      
      - if user_edx(current_user.username)
        - my_edx_courses = my_courses(current_user.username) 
        - if my_edx_courses.length > 0
          - my_edx_courses.each do |my_edx_course|
            %li
              %form{action: "http://solaredxstd.virtual.ufc.br/solaredx/login/?next="+ my_edx_course['course_absolute_url_lms'], method: "post", target:"_blank"}
                %input{name: "username", type: "hidden", value: current_user.username}/
                %input{name: "token", type: "hidden", value: Digest::HMAC.hexdigest(current_user.username, HASH_KEY, Digest::SHA1)}/
                = link_to my_edx_course['display_name'], "#", class: "open-edx-class link_content"


      - if curriculum_units.length == 0 and edx.length == 0
        = t(:my_solar_curriculum_without) 

      
:javascript
  $(function(){
    $(".open-edx-class").click(function(e){
      e.preventDefault();
      $(this).closest("form").submit();
    });
  });