.block_large
  .block_title
    %h2
      %i.icon-docs
      = t(:my_solar_curriculum_units)
    - unless @offers.empty?
      %span.slider-block{style: 'float: right; margin-top: 4px'}
        %i.icon-settings{:"data-tooltip" => "Filtrar dados"}

  .mysolar_portlets_content

    .block_wrapper#mysolar_curriculum_unit_wrapper
      .block_content
        
        %table.tb_list
          %thead
            %tr.lines
              %th{style: "width: 4px"}= t(".type")
              %th{style: "display: none"}
              %th{style: "width: 13px"}= t(".code")
              %th{style: "width: 70px"}= t(".name")
              %th{style: "width: 70px"}= t(".course")
              %th{style: "width: 13px"}= t(".semester")
              %th{style: "display: none"}
          %tbody.offers
            - unless @offers.empty?
              - @offers.each do |offer|
                - if ((user_session[:tabs][:opened].length >= Max_Tabs_Open.to_i) and (!user_session[:tabs][:opened].has_key?((offer[:name]))))
                  - link = {}
                  - html_options = {onclick: "javascript:alert('"+t(:curriculum_access_alert)+"');return false;", class: 'link_content' }
                - else 
                  - link = add_tab_path(id: offer[:id], context: Context_Curriculum_Unit, name: (offer[:name]), allocation_tag_id: offer[:at], title_name: offer[:info])
                  - html_options = {}
                - livre = offer[:uc].try(:curriculum_unit_type_id) == 3
                %tr.lines
                  %td{style: "width: 4px", :"data-tooltip" => offer[:uc].try(:curriculum_unit_type).try(:description)}= image_tag(offer[:uc].try(:curriculum_unit_type).try(:icon_name))
                  %td{style: "display: none"}= offer[:uc].try(:curriculum_unit_type).try(:description)
                  - unless livre
                    %td{style: "width: 13px"}= offer[:has_groups] ? link_to(offer[:uc].try(:code), link, html_options.merge(:"data-tooltip" => offer[:info_code])) : offer[:uc].try(:code)
                    %td{style: "width: 70px"}= offer[:has_groups] ? link_to(offer[:uc].try(:name), link, html_options.merge(:"data-tooltip" => offer[:info_code])) : offer[:uc].try(:name)
                  - else
                    %td{style: "text-align: center; width: 13px;"}= " - "
                    %td{style: "text-align: center; width: 70px;"}= " - "
                  %td{style: "width: 70px"}= livre ? link_to(offer[:course].try(:code_name), link, html_options.merge(:"data-tooltip" => offer[:info_code])) : offer[:course].try(:code_name)
                  %td{style: "width: 13px"}= link_to(offer[:semester_name], link, html_options.merge(:"data-tooltip" => offer[:info_code]))
                  %td{style: "display: none"}= offer[:profiles]
            - else
              .no-data= t(:my_solar_curriculum_without)          
        
          .slide.slide-block
            = label_tag :search_offer, t(".search"), class: "title"
            = text_field_tag :search_offer, nil, :"data-column" => "all", type: :search, class: "search"
            = label_tag :filter, t(".filter"), class: "title"
            = label_tag :type, t(".type"), class: "subtitle"
            = select_tag :type, options_for_select(CurriculumUnitType.all.map{ |c| [c.description, c.description] }), prompt: t(".all"), class: "tablesorter-filter search", :"data-column"=>"1"
            = label_tag :profile, t(".profile"), class: "subtitle"
            = select_tag :profile, options_from_collection_for_select(@user.profiles_activated(false, true), "name", "name"), prompt: t(".all"), class: "tablesorter-filter search", :"data-column"=>"6"

= javascript_include_tag "tooltip"

:javascript

  $(function(){

    $.get("#{my_edx_courses_path}", function(data) {
      $("#mysolar_curriculum_unit_wrapper").append(data);
    });

  });
