.block_large#mysolar_curriculum_unit_portlet
  .block_title
    %h2#main_content_accesskey{ tabindex: "0" }
      %i.icon-docs{:'aria-hidden' => 'true'}
      = t(:my_solar_curriculum_units)
      .offer_period= ' ativas'
      .offer_period.hide= ' encerradas'
    %div{style: 'float: right; margin-top: 6.5px; font-size: 12px; '}
      %a.change_offer#history{ href: '#', style: 'color: #000;', :'data-url' => get_history_offers_users_path(history: true)}
        %i.icon-history{:"data-tooltip" => t('.closed_complete'), :'aria-label' => t('.closed_complete')}
        = t('.closed')
      %a.change_offer.hide#current{ href: '#', style: 'color: #000;', :'data-url' => get_history_offers_users_path}
        %i.icon-history{:"data-tooltip" => t('.opened_complete'), :'aria-label' => t('.opened_complete')}
        = t('.opened')
        
    .slider-block{style: 'float: right; margin-top: 6.5px; font-size: 12px;margin-right: 10px'}
      %a#search_box_accesskey{ href: '#', style: 'color: #000;'}
        %i.icon-search{:"data-tooltip" => t(".filter_data"), :'aria-label' => t(".filter_data_open")}
        =t(".search2")
  .mysolar_portlets_content

    .block_wrapper#mysolar_curriculum_unit_wrapper
      .block_content
        %table.tb_list.user-courses
          %thead
            %tr.lines
              %th.center#tb_type.no_sort{style: "width: 9.5%"}= t(".type")
              %th.center#tb_none{style: "display: none"}
              %th.center#tb_curricular_unit{style: "width: 40%"}= t(".curricular_unit")
              %th.center#tb_course{style: "width: 33%"}= t(".course")
              %th.center#tb_semester{style: "width: 15%"}= t(".semester")
              %th.center#tb_link.no_sort{style: "width: 9.5%"}= t(".link")
              %th.center#tb_search{style: "display: none"}
          = render partial: 'portlets/curriculum_units_list'
          
= javascript_include_tag "tooltip"

:javascript

  $(function(){

    $('a.change_offer').click(function(){
      var div = $(this);
      $.get($(this).data('url'), function(data){
        $('.mysolar_portlets_content tbody.offers').replaceWith(data);
        $('a.change_offer.hide').removeClass('hide');
        div.addClass('hide');

        div.parents(".block_title").find('.offer_period').toggleClass('hide');

        update_tables_with_no_data();
        $(".mysolar_portlets_content tbody.offers").trigger("update");

        focus_element(".mysolar_portlets_content tbody.offers");
      });
    });

    $.get("#{my_edx_courses_path}", function(data){
      $("#mysolar_curriculum_unit_wrapper").append(data);
    });
  });
 