.block_large#mysolar_curriculum_unit_portlet
  .block_title
    %h2
      %i.icon-docs
      = t(:my_solar_curriculum_units)
    - unless @offers.empty?
      %span.slider-block{style: 'float: right; margin-top: 4px'}
        %i.icon-search{:"data-tooltip" => t(".filter_data")}

  .mysolar_portlets_content

    .block_wrapper#mysolar_curriculum_unit_wrapper
      .block_content
        %table.tb_list.user-courses
          %thead
            %tr.lines
              %th.no_sort{style: "width: 9.5%"}= t(".type")
              %th{style: "display: none"}
              %th{style: "width: 12%"}= t(".code")
              %th{style: "width: 31.5%"}= t(".name")
              %th{style: "width: 32%"}= t(".course")
              %th{style: "width: 15%"}= t(".semester")
              %th{style: "display: none"}
          %tbody.offers
            - unless @offers.empty?
              - @offers.each do |offer|

                - link = add_tab_path(id: offer.offer_id, context: Context_Curriculum_Unit, allocation_tag_id: offer.at_id)
                - livre = offer.uc_type_id.to_i == 3

                %tr.lines.offer{'data-tab-id' => offer.id, 'data-tab-link' => link, 'tabindex' => 0}

                  %td.type{'data-tooltip' => offer.uc_type}
                    - unless offer.uc_type.blank?
                      = image_tag(offer.uc_type_icon, alt: "#{offer.uc_type}")
                  %td{style: "display: none"}= offer.uc_type

                  - if livre
                    %td.uc-code{style: "text-align: center"}= ' - '
                    %td.uc-name{style: "text-align: center"}= ' - '
                  - else
                    %td.uc-code= offer.uc_code rescue ' - '
                    %td.uc-name= offer.uc_name rescue ' - '

                  %td.course= [offer.c_code, offer.c_name].join(' - ') rescue ' - '
                  %td.semester= offer.s_name
                  %td.profiles{style: "display: none"}= offer.profiles

              .block_content_text_list.text_none.empty_message.hide_message
                = t(:my_solar_curriculum_without)

            - else
              %tr.lines
                %td.block_content_text_list.text_none{colspan: 5, align: "center"}= t(:my_solar_curriculum_without)


          .slide.slide-block
            = label_tag :search_offer, t(".search"), class: "title"
            = text_field_tag :search_offer, nil, :"data-column" => "all", type: :search, class: "search"
            = label_tag :filter, t(".filter"), class: "title"
            = label_tag :type, t(".type"), class: "subtitle"
            = select_tag :type, options_for_select(@types.map{ |c| [c.description, c.description] }), prompt: t(".all"), class: "tablesorter-filter search", :"data-column"=>"1"
            = label_tag :profile, t(".profile"), class: "subtitle"
            - profiles = @user.profiles.where('allocations.allocation_tag_id IS NOT NULL')
            = select_tag :profile, options_from_collection_for_select(profiles, "id_to_unique_search", "name"), prompt: t(".all"), class: "tablesorter-filter search", :"data-column"=>"6"

= javascript_include_tag "tooltip"

:javascript

  $(function(){

    $('table.user-courses tbody.offers').on('click keypress', '.offer', function(event){

      var keynum = event.which || event.keyCode;

      if( keynum != 9 ) {
        var count_tabs_open = $('#mysolar_tabs_wrapper li').length;
        var max_tabs_open = "#{Max_Tabs_Open.to_i}";

        // limite de abas abertas atingido
        if ((count_tabs_open >= max_tabs_open) && ($('#mysolar_tabs_wrapper li[data-tab-id=' + $(this).data('tab-id') + ']').length < 1))
          flash_message("#{t(:curriculum_access_alert)}", 'warning');
        else
          window.location = $(this).data('tab-link');
      }
    });

    // refazer codigo do edx

    $.get("#{my_edx_courses_path}", function(data){
      $("#mysolar_curriculum_unit_wrapper").append(data);
    });

  });
