.block_large#mysolar_curriculum_unit_portlet
  .block_title
    %h2
      %i.icon-docs
      = t(:my_solar_curriculum_units)
    - unless @offers.empty?
      %span.slider-block{style: 'float: right; margin-top: 4px'}
        %i.icon-settings{:"data-tooltip" => t(".filter_data")}

  .mysolar_portlets_content

    .block_wrapper#mysolar_curriculum_unit_wrapper
      .block_content
        %table.tb_list.user-courses
          %thead
            %tr.lines
              %th.no_sort{style: "width: 9.5%"}= t(".type")
              %th{style: "display: none"}
              %th{style: "width: 12%"}= t(".code")
              %th{style: "width: 31.5%"}= t(".name")
              %th{style: "width: 32%"}= t(".course")
              %th{style: "width: 15%"}= t(".semester")
              %th{style: "display: none"}
          %tbody.offers
            - unless @offers.empty?
              - @offers.each do |offer|

                - link = add_tab_path(id: offer[:id], context: Context_Curriculum_Unit, name: (offer[:name]), allocation_tag_id: offer[:at], title_name: offer[:info])
                - livre = offer[:uc].try(:curriculum_unit_type_id) == 3

                %tr.lines.offer{'data-tab-id' => offer[:id], 'data-tab-link' => link, 'data-has-groups' => offer[:has_groups].to_s}

                  - uc_description = offer[:uc].try(:curriculum_unit_type).try(:description)
                  %td.type{'data-tooltip' => uc_description}= image_tag(offer[:uc].try(:curriculum_unit_type).try(:icon_name))
                  %td{style: "display: none"}= uc_description

                  - if livre
                    %td.uc-code{style: "text-align: center"}= ' - '
                    %td.uc-name{style: "text-align: center"}= ' - '
                  - else
                    %td.uc-code= offer[:uc].code rescue ' - '
                    %td.uc-name= offer[:uc].name rescue ' - '

                  %td.course= offer[:course].code_name rescue ' - '
                  %td.semester= offer[:semester_name]
                  %td.profiles{style: "display: none"}= offer[:profiles]

              .block_content_text_list.text_none.empty_message.hide_message
                = t(:my_solar_curriculum_without)

            - else
              %tr.lines
                %td{colspan: 5, align: "center"}= t(:my_solar_curriculum_without)

        
          .slide.slide-block
            = label_tag :search_offer, t(".search"), class: "title"
            = text_field_tag :search_offer, nil, :"data-column" => "all", type: :search, class: "search"
            = label_tag :filter, t(".filter"), class: "title"
            = label_tag :type, t(".type"), class: "subtitle"
            = select_tag :type, options_for_select(@types.map{ |c| [c.description, c.description] }), prompt: t(".all"), class: "tablesorter-filter search", :"data-column"=>"1"
            = label_tag :profile, t(".profile"), class: "subtitle"
            - profiles = @user.profiles.where('allocations.allocation_tag_id IS NOT NULL')
            = select_tag :profile, options_from_collection_for_select(profiles, "id", "name"), prompt: t(".all"), class: "tablesorter-filter search", :"data-column"=>"6"

= javascript_include_tag "tooltip"

:javascript

  $(function(){

    $('table.user-courses tbody.offers').on('click', '.offer', function(){
      var count_tabs_open = $('#mysolar_tabs_wrapper li').length;
      var max_tabs_open = "#{Max_Tabs_Open.to_i}";

      // limite de abas abertas atingido
      if ((count_tabs_open >= max_tabs_open) && ($('#mysolar_tabs_wrapper li[data-tab-id=' + $(this).data('tab-id') + ']').length < 1))
        flash_message("#{t(:curriculum_access_alert)}", 'warning');
      else if ($(this).data('has-groups'))
        window.location = $(this).data('tab-link');
      else
        flash_message("#{t(:curriculum_access_without_groups)}", 'warning');
    });

    // refazer codigo do edx

    $.get("#{my_edx_courses_path}", function(data){
      $("#mysolar_curriculum_unit_wrapper").append(data);
    });

  });
