- offers = load_curriculum_unit_data || []

.block_large
  .block_title
    %h2
      %i.icon-docs
      = t(:my_solar_curriculum_units)

  .mysolar_portlets_content

    %ul#mysolar_curriculum_unit_wrapper
      - if offers.length > 0
        - offers.each do |offer|
          %li
            - if offer[:has_groups]
              - if ((user_session[:tabs][:opened].length >= Max_Tabs_Open.to_i) and (!user_session[:tabs][:opened].has_key?((offer[:name]))))
                - options = {} 
                - html_options = {:onclick => "javascript:alert('"+t(:curriculum_access_alert)+"');return false;", class: 'link_content' }
              - else 
                - options = add_tab_path(id: offer[:id], context: Context_Curriculum_Unit, name: (offer[:name].titleize), allocation_tag_id: offer[:at], title_name: offer[:info].titleize)
                - html_options = {class: 'link_content'}
              = link_to offer[:info].titleize, options, html_options.merge(:"data-tooltip" => offer[:info_code].titleize)
            - else
              .disabled{title: t(:my_solar_uc_without_group)}= offer[:info]

      - if offers.length == 0
        .no-data
          = t(:my_solar_curriculum_without)

= javascript_include_tag "tooltip"

:javascript

  // EDX
  $(function(){
    $.get("#{my_edx_courses_path}", function(data) {
      $("#mysolar_curriculum_unit_wrapper").append(data);
    });
  });
