.fb-root

.block_facebook.block_small
  .block_title
    %h2
      = image_tag "icon_facebook.png", :alt=>t(:icon_agenda), :class=>(:block_title_icon)
      Facebook
    %span.slider-settings{:style=>'float: right; margin-top: 8px'}
      = image_tag "gear.png"

  .block_content.block_slider
    .slide.slide-main
      .new_post
        %textarea{:type => "text", :placeholder => "Teste"}
        .new_post_bar
          %select
            %option{:value => "public"} Público
            %option{:value => "friends"} Amigos
            %option{:value => "private"} Somente eu
          %button Publicar
      .post
        .user_avatar
          = image_tag "facebook_user_avatar.png", :alt => "User Image"
        .post_content
          %span.username
            = link_to 'Login', @oauth_redirect_url, target: '_top'

          Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .post_actions
            %a.like{:href => "Teste"} Curtir
            %a.comment{:href => "Teste"} Comentar
            %span.date 16 de Janeiro
      .post
        .user_avatar
          = image_tag "facebook_user_avatar.png", :alt => "User Image"
        .post_content
          %span.username 
            = @graph.get_object("me")['name'] unless @graph.nil?
          Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .post_actions
            %a.like{:href => "Teste"} Curtir
            %a.comment{:href => "Teste"} Comentar
            %span.date 16 de Janeiro
    .slide.slide-settings{:'data-status'=>'closed'}
      %ul
        %li.settings
          %a{:href => "#"} Configurações
        %li.newsfeed.active
          %a{:href => "#"} Feed de Notícias
        %li.events
          %a{:href => "#"}
            Eventos
            %span.counter 1
      %h3 Grupos
      %ul
        %li.group01
          %a{:href => "#"}
            UFC
            %span.counter 3
        %li.group02
          %a{:href => "#"}
            CP2
            %span.counter 17
        %li.group03
          %a{:href => "#"} Grupo sobre tal e tal

:javascript
  $('body').prepend('<div id="fb-root"></div>')

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=#{YAML::load(File.open('config/facebook.yml'))['appid']}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  FB.init({
    appId  : '#{@FB_CONFIG['app_id']}',
    status : true, // checa status do login
    cookie : true, // habilita cookies
    xfbml  : true  // parse XFBML
  });

  FB.login(function(response) {
    if (response.session) {
      location.href = '/home'
    } else {
      // user cancelled login
    }
  });

