.group_codes
  - unless @groups.blank?
    - groups_size = @groups.size
    .input.group_label.invisible.codes
      = label_tag t(".groups"), nil, class: "string control-label form_label"
      %span.groups
        - @groups[0..Max_Groups_Shown_Tags].each do |group|
          %span.collection_check_boxes{id: (group.status ? "" : "disabled"), :"data-tooltip" => (group.status ? "" : t(".disabled_group"))}= group.code
        - if groups_size>Max_Groups_Shown_Tags+1
          .icon= content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".see_all", all: groups_size))
          .complete.invisible
            - @groups[Max_Groups_Shown_Tags+1..groups_size].each do |group|
              %span.collection_check_boxes= group.code
            .icon= content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".see_less", less: Max_Groups_Shown_Tags+1))

= javascript_include_tag "tooltip"

:javascript
  $(function(){
    if ($("#radio_option_group").prop("checked") || $(".groups").length > 0)
      $(".group_codes .group_label").show();

    $(".codes .expand, .codes .compress").click(function(){
      var parent_div = $($(this).parents(".codes")[0]);
      $(parent_div.find(".expand")[0]).parent(".icon").slideToggle();
      var complete = $(parent_div.find(".complete")[0]);
      complete.slideToggle();
      complete.find(".icon").show();
    });
  });
