%span.form_requirement= t(:required_fields)

= simple_form_for(@group) do |f|
  = f.error_notification

  %div
    %label.form_label= t(:course)
    = @group.course.name
  %div
    %label.form_label= t(:curriculum_unit)
    = @group.curriculum_unit.name

  %div
    %label.form_label= t(:offer)
    = @group.offer.semester

  = f.input :code
  = f.submit t(:confirm), :class => "btn btn_default", :alt => t(:confirm)
