= hidden_field_tag :all_groups_ids, @groups.map(&:id)

= form_for :group do |f|
  %span.select_all_box
    = check_box_tag :all, :all, false, {:"data-children-names" => "group[group_id][]"}
    = label_tag :all, t(".select_all")
  .no_groups= t(".no_groups")
  %div
    = f.collection_check_boxes :group_id, @groups, :id, :code

:javascript

  $(function(){
    $("#all").nice_checkbox();

    if($('[name="group[group_id][]"]').length ==1){
    	$('.select_all_box').remove(); 
    	$(".no_groups").show(); 
    }

  });
