.groups_tags
  %span.title= label_tag t(".groups")
  - groups.each do |group|
    %span.collection_check_boxes
      = group.code
      - unless groups.size == 1
        = content_tag(:i, nil, class: "icon icon-cross change_tool_group", :"data-dropdown" => ".change_tool_dropdown_#{group.id}_#{tool_id}")
        %div{id: "dropdown", class: "dropdown dropdown-tip change_tool_dropdown_#{group.id}_#{tool_id}"}
          %ul.dropdown-menu
            %li= link_to t(".unbind"), '#', class: 'unbind', :"data-link" => unbind_group_path(id: group.id, tool_id: tool_id, tool_type: "ChatRoom")
            %li= link_to t(".remove"), '#', class: 'remove', :"data-link" => remove_group_path(id: group.id, tool_id: tool_id, tool_type: "ChatRoom")

  - new_groups = (all_groups - groups).in_groups(2, false)
  - unless new_groups.first.empty?
    %span.new_groups
      = content_tag(:i, nil, class: "icon icon-plus-3 add_group", :"data-dropdown" => ".add_group_dropdown_#{tool_id}")
      %div{id: "dropdown", class: "dropdown dropdown-tip add_group_dropdown_#{tool_id}"}
        = form_for :group do |f|
          - new_groups.each do |new_group|
            .no_tags= f.collection_check_boxes :new_group_id, new_group, :id, :code
          = button_tag t(".add"), class: "btn btn_add_group", :"data-link" => add_groups_path(id: 'param_id', tool_id: tool_id, tool_type: "ChatRoom"), type: :button
          = button_tag t(".cancel"), class: "btn btn_cancel_add_group", type: :button
