- unless groups.nil? or groups.empty?
  %table.tb_list
    %thead
      %tr.lines
        %th= t(".code")
        %th{style: "width: 24%"}
    %tbody
      - groups.each do |group|
        %tr.lines
          %td
            = check_box_tag :ckb_group, group.id
            = group.code
          %td
            = link_to (content_tag(:i, nil, :class=>(group.status ? 'icon-checkmark' : 'icon-edit'))), "#", class: "btn change_status_group", :'data-tooltip' => "desabilitar", :"data-link-status" => group_path(id: group.id, status: (not group.status), multiple: true)
            = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn edit_group', :'data-tooltip' => t(".edit"), :"data-link-edit-group" => edit_group_path(group)#, disabled: not(can? :edit, group, on: [group.allocation_tag.id])
