.block_title= t(:group)
.block_wrapper
  %table.tb_list
    %thead
      %tr.lines
        %th= t(:group)
        %th= t(:curriculum_unit)
        %th= t(:course)
        %th= t(:offer)
    %tbody
      - unless @groups.nil? or @groups.empty?
        - @groups.each do |group|
          %tr.lines
            %td= group.code
            %td= group.curriculum_unit.name
            %td= group.course.name
            %td= group.offer.semester
