= javascript_include_tag "groups", "tooltip"

.block_wrapper.list_groups{:"data-link" => list_groups_path(type_id: @type_id, offer_id: @offer_id)}

  .block_title
    %h2= t(:groups, scope: [:editions, :academic])
  .block_content_toolbar
    .block_toolbar_left.btn-group
      = link_to content_tag(:i, nil, class: 'icon-plus'), "#void", class: " btn btn_main", id: "btn_new_group", :"data-link-new" => new_group_path(type_id: @type_id, offer_id: @offer_id), :"data-tooltip" => t(".new")
      = link_to t(".unfolding"), "#void", class: 'btn btn_unfolding', id: 'btn_unfolding', :'data-tooltip' => t(".unfolding_groups"), :"data-link-unfolding" => new_group_path(old_group_id: 'value_old_group_id', type_id: @type_id, offer_id: @offer_id)
      = link_to t(".unify"), "#void", class: 'btn btn_unify', id: 'btn_unify', :'data-tooltip' => t(".unify_groups"), :"data-link-unify" => view_unify_groups_path(old_group_id: 'value_old_group_id', type_id: @type_id, offer_id: @offer_id)
      = link_to t(".load"), "#void", class: 'btn btn_load', id: 'btn_load', :'data-tooltip' => t(".load_groups"), :"data-link-load" => view_load_groups_path(old_group_id: 'value_old_group_id', type_id: @type_id, offer_id: @offer_id)

    .block_toolbar_right
      = link_to (content_tag(:i, nil, class: 'icon-checkbox-unchecked')), "#void", id: 'all_groups', class: 'btn', :'data-tooltip' => t(".all"), :"data-children-names" => "ckb_group", disabled: (@groups.empty?)
      = link_to (content_tag(:i, nil, class: 'icon-cross')), "#void", class: 'btn disable_group', :'data-tooltip' => t(".disable"), :"data-link-status" => group_path(id: ':id', status: false, multiple: true, type_id: @type_id, offer_id: @offer_id)
      = link_to (content_tag(:i, nil, class: 'icon-checkmark')), "#void", class: 'btn enable_group', :'data-tooltip' => t(".enable"), :"data-link-status" => group_path(id: ':id', status: true, multiple: true, type_id: @type_id, offer_id: @offer_id)
      = link_to ((content_tag(:i, nil, class: 'icon-edit'))), "#void", class: 'btn btn_edit', :'data-tooltip' => t(".edit"), :"data-link-edit" => edit_group_path(id: ':id', type_id: @type_id, offer_id: @offer_id)

      = link_to (content_tag(:i, nil, class: 'icon-trash')), "#void", class: 'btn btn_del', :'data-tooltip' => t(".delete"), :"data-link-delete" => group_path(id: ':id', type_id: @type_id, offer_id: @offer_id)

  - part1, part2 = @groups.in_groups(2, false)

  - unless @groups.nil? or @groups.empty?
    .block_content.groups
      .block_left.col-xs-12.col-sm-5-80
        = render "group_list", groups: part1, hide_edition: false
      .block_right.col-xs-12.col-sm-5-80.position_correction
        = render "group_list", groups: part2, hide_edition: false
  - else
    .block_content_text_list.text_none= t(".none")
