= javascript_include_tag "groups", "tooltip"

.block_wrapper.list_groups{:"data-link" => list_groups_path(type_id: @type_id, semester_id: 'semester_param', course_id: 'course_param', curriculum_unit_id: 'curriculum_unit_param')}

  .block_title
    %h2= t(:groups, scope: [:editions, :academic])
  .block_content_toolbar
    .block_toolbar_left.btn-group
      = link_to content_tag(:i, nil, class: 'icon-plus'), "#", class: " btn btn_main", id: "btn_new_group", :"data-link-new" => new_group_path(type_id: @type_id, semester_id: 'semester_param', course_id: 'course_param', curriculum_unit_id: 'curriculum_unit_param'), :"data-tooltip" => t(".new")
        
    .block_toolbar_right
      = link_to (content_tag(:i, nil, class: 'icon-checkbox-unchecked')), "#", id: 'all_groups', class: 'btn', :'data-tooltip' => t(".all"), :"data-children-names" => "ckb_group", disabled: (@groups.empty?)
      = link_to (content_tag(:i, nil, class: 'icon-cross')), "#", class: 'btn disable_group', :'data-tooltip' => t(".disable"), :"data-link-status" => group_path(id: ':id', status: false, multiple: true, type_id: @type_id)
      = link_to (content_tag(:i, nil, class: 'icon-checkmark')), "#", class: 'btn enable_group', :'data-tooltip' => t(".enable"), :"data-link-status" => group_path(id: ':id', status: true, multiple: true, type_id: @type_id)
      = link_to ((content_tag(:i, nil, class: 'icon-edit'))), "#", class: 'btn btn_edit', :'data-tooltip' => t(".edit"), :"data-link-edit" => edit_group_path(id: ':id', type_id: @type_id)
      = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del', :'data-tooltip' => t(".delete"), :"data-link-delete" => group_path(id: ':id', type_id: @type_id)

  - part1, part2 = @groups.in_groups(2, false)

  - if @groups.count
    .block_content.groups
      .block_left
        = render "group_list", groups: part1
      .block_right
        = render "group_list", groups: part2
  - else
    .block_content_text_list.text_none= t(".none")
