<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :id %><br />
    <%#= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, 'Senha' %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nick, 'Apelido' %><br />
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :birthdate, 'Data de nascimento' %><br />
    <%= f.date_select :birthdate, :start_year => 1900, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :cpf, 'CPF' %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :sex, 'Sexo' %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :special_needs, 'Necessidades Especiais' %><br />
    <%= f.text_field :special_needs %>
  </div>
  <div class="field">
    <%= f.label :address, 'Endereço' %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :address_number, 'Número' %><br />
    <%= f.text_field :address_number %>
  </div>
  <div class="field">
    <%= f.label :address_complement, 'Complemento' %><br />
    <%= f.text_field :address_complement %>
  </div>
  <div class="field">
    <%= f.label :address_neighborhood, 'Bairro' %><br />
    <%= f.text_field :address_neighborhood %>
  </div>
  <div class="field">
    <%= f.label :zipcode, 'CEP' %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :country, 'País' %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :state, 'Estado' %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :city, 'Município' %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :telephone, 'Telefone' %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :cell_phone, 'Celular' %><br />
    <%= f.text_field :cell_phone %>
  </div>
  <div class="field">
    <%= f.label :institution, 'Instituição' %><br />
    <%= f.text_field :institution %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
