<script type="text/javascript">
  $(function() {
    // apresenta o link de modificacao da foto
    $('#mysolar_id').hover(function(){
      $('#mysolar_id').addClass('div_link');
    }, function(){
      $('#mysolar_id').removeClass('div_link');
    });

    // window de upload de foto
    $('#mysolar_id').click(function(e){
      e.preventDefault(); // cancel the link behavior
      // selecionando a div principal da window
      $('#update_photo').window_upload_files();
    });

  });
</script>

<div class="boxes" id="update_photo" style="white-space: normal;">

  <div id="dialog" class="window">
    <div id="title">
      <table border="0" cellspacing="0" width="100%">
        <tr>
          <td style="width: 97%;">
            <b class="alter_photo_text"><%=t(:send_photo)%></b>
          </td>
          <td align="center" style="background-color: #fff;">
            <a href="#" class="close"><b>x</b></a>
          </td>
        </tr>
      </table>
    </div>

    <span class="alter_photo_text"><%= t(:your_computer) %></span>

    <%= form_for(@user, :html => { :multipart => true }, :url => {:controller => 'users',
        :action => 'update_photo', :id => @user.id}) do |f| %>
      <%= f.file_field :photo, :class => 'alter_photo_inputs' %>
      <br /><br />
      <div class="alter_photo_text"><%= t(:photo_text)%></div>
      <br/>
      <b class="alter_photo_text"><%= t(:or) %></b><br/>
      <span class="alter_photo_text"><%= t(:external_link) %></span><br/>
      <input style="width: 85%;" type="text" class="alter_photo_inputs" value=<%= t(:url) %>/>

      <div id="my_personal_data_button">
        <input type="button" class="close solar_button_gray" value="<%= t(:cancel)%>"/>
        <%= f.submit t(:send), :id => "photo_submit", :class => "solar_button_gray"%>
      </div>
    <% end %>
  </div>

  <div id="mask" style="width: 100%; height: 100%;"></div>
</div>