- @allocations.each do |allocation|
  - allocation_tag_info = allocation.allocation_tag.nil? ? nil : allocation.allocation_tag.detailed_info
  - status_color = allocation.status_color
  %tr.lines
    %td= allocation.profile.name
    - if allocation_tag_info.nil?
      %td= t(".not_specified")
      %td= t(".not_specified")
      %td= t(".not_specified")
      %td= t(".not_specified")
      %td= t(".not_specified")
    - else
      %td= allocation_tag_info[:curriculum_unit_type]
      %td= allocation_tag_info[:course]
      %td= allocation_tag_info[:curriculum_unit]
      %td= allocation_tag_info[:semester]
      %td
        - unless allocation_tag_info[:group].nil? or allocation_tag_info[:group] == t(".not_specified")
          .groups_tags
            .collection_check_boxes= allocation_tag_info[:group]
        - else
          = t(".not_specified")
    %td.allocation_status_info= name_of(allocation.status, false)
    %td= link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_cancel', :"data-link-cancel" => cancel_profile_request_allocation_path(allocation), :"data-tooltip" => t(".cancel_profile"), disabled: allocation.profile_id == Profile.student_profile

:javascript
  $(function(){
    $(".btn_cancel").click(function(event){
      event.preventDefault();
      if ($(this).attr("disabled"))
        return this;
      if (!confirm("#{t(".confirm")}"))
        return this;
      $.delete($(this).data("link-cancel"), function(response){
        $.get($(".profiles_list").data("link-list"), function(data){
          $(".profiles_list").replaceWith(data);
          flash_message(response.msg, "notice");
        });
      }).error(function(data){
        var response = JSON.parse(data.responseText);
        if (typeof(response.msg) != "undefined")
          flash_message(response.msg, 'alert');
      });
    });
  });