<div id="mysolar_panel_data">
  <%=  image_tag "meus_dados.png" %>
  <span style="font-weight: bold; font-size: 20px"><%= t(:my_data) %></span>
  <hr style="border: none;background-color: #dedede;height: 1px;"></hr>

  <%
    #Tamanhos dos campos
    field_size = "width:80px;"
    full_field_size = "width:388px;"
  %>

  <!-- Alternador das Abas -->
  <div id="mydata_tab">
    <div id="my_personal_data_tab" class="my_data_tab_generic" onclick="showPanel('my_personal_data')">
      <%= t('my_personal_data') %>
    </div>
    <div id="my_professional_data_tab" class="my_data_tab_generic" onclick="showPanel('my_professional_data')">
      <%= t('my_professional_data') %>
    </div>
    <div id="my_cadastral_data_tab" class="my_data_tab_generic" onclick = "showPanel('my_cadastral_data')"  >
      <%=  t("my_cadastral_data") %>
    </div>
  </div>

  <!-- Dados Pessoais -->
  <div id="my_personal_data" class="my_form_data">
    <%= form_for(@user, :html => {:action => "update"}) do |fi| %>
      <table>
        <tr></tr>
        <tr>
          <td align="center" width="65">
            <%= image_tag "nome.png" %>
          </td>
          <td> <%= fi.label :name ,:class=>"my_personal_data_label"%> <br/> <%=  fi.text_field :name ,:size=>"65" %></td>
        </tr>

        <tr >
          <td align="center">  <%= image_tag "dados.png" %> </td>
          <td > <%= fi.label  :bio ,:class=>"my_personal_data_label"%> <br/><%= fi.text_area :bio,:rows=>2, :cols=>65  %></td>
        </tr>

        <tr>
          <td align="center">  <%= image_tag "interesses.png" %> </td>
          <td> <%= fi.label  :interests ,:class=>"my_personal_data_label" %> <br/><%= fi.text_area :interests,:rows=>2, :cols=>65  %></td>
        </tr>

        <tr>
          <td align="center">  <%= image_tag "musicas.png" %> </td>
          <td> <%= fi.label  :music ,:class=>"my_personal_data_label"%> <br/><%= fi.text_area :music,:rows=>2, :cols=>65  %></td>
        </tr>

        <tr>
          <td align="center">  <%= image_tag "filmes.png" %> </td>
          <td> <%= fi.label  :movies ,:class=>"my_personal_data_label"%> <br/><%= fi.text_area :movies,:rows=>2, :cols=>65  %></td>
        </tr>

        <tr>
          <td align="center">  <%= image_tag "livros.png" %> </td>
          <td> <%= fi.label  :books ,:class=>"my_personal_data_label"%> <br/><%= fi.text_area :books,:rows=>2, :cols=>65  %></td>
        </tr>

        <tr>
          <td align="center">  <%= image_tag "frase.png" %> </td>
          <td> <%= fi.label  :phrase ,:class=>"my_personal_data_label"%> <br/><%= fi.text_area :phrase,:rows=>2, :cols=>65  %></td>
        </tr>

        <tr>
          <td align="center">  <%= image_tag "site.png" %> </td>
          <td> <%= fi.label  :site ,:class=>"my_personal_data_label"%> <br/><%= fi.text_field :site , :size=>"65" %></td>
        </tr>
        <tr></tr>

      </table>
      <div id="my_personal_data_button">
        <input type="button" onclick="document.location.href='/';" value="<%=t :cancel%> " class="solar_button_gray"/>
        <%= fi.submit t("alter_data") ,:id=>"personal_submit", :class=>"solar_button_gray"%>
      </div>
    </div>

    <!--form-->
  <% end %>

</div>

<div id="my_cadastral_data" class="my_form_data">

  <!--Erros-->
  <!--if-->

  <%= form_for(@user) do |fo| %>
    <i>*campos obrigatórios</i>
    <table border="0" width="100%">
      <!-- Nome -->
      <tr>
        <td align="center" width="65" rowspan="2">  <%= image_tag "nome.png" %> </td>
        <td width="400">
          <%= fo.label :name, :class => "my_cadastral_data_label" %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  fo.text_field  :name,:size=>"50" %>*
        </td>
      </tr>

      <!-- Nick -->
      <tr>
        <td valign="top" align="center" rowspan="2">  <%= image_tag "apelido.png" %> </td>
        <td> <%= fo.label :nick, :class => "my_cadastral_data_label"  %></td>
      </tr>
      <tr>
        <td>
          <%=  fo.text_field  :nick,:size=>"50" %>
        </td>
      </tr>

      <!-- Nascimento -->
      <tr>
        <td valign="top" align="center" rowspan="2">  <%= image_tag "aniversario.png" %> </td>
        <td>
          <%= fo.label :birthdate, :class=>"my_cadastral_data_label"%>
        </td>
      </tr>

      <tr>
        <td>
          <%= fo.date_select :birthdate, :start_year => Time.now.year - 2 , :end_year => 1900  %>
        </td>
      </tr>

      <!-- Sexo -->
      <tr>
        <td valign="top" align="center" rowspan="2">  <%= image_tag "sexo.png" %> </td>
        <td><%= fo.label :gender, :class=>"my_cadastral_data_label" %></td>
      </tr>
      <tr>
        <td>
          <%= fo.select :gender, options_for_select([[t(:m), true], [t(:f), false]], @user.gender), :style=>"margin-right:25" %>
        </td>
      </tr>

      <!-- CPF -->
      <tr>
        <td valign="top" align="center" rowspan="2">  <%= image_tag "cpf.png" %> </td>
        <td>
          <%= fo.label :cpf, :class=>"my_cadastral_data_label" %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  fo.text_field :cpf, :id=>"cpf",:size=>"50"%>*
        </td>
      </tr>

      <!-- Contato -->
      <tr>
        <td valign="top" align="center" rowspan="4">  <%= image_tag "contato.png" %> </td>
        <td>
          <%= fo.label t('contact'),:class=>"my_cadastral_data_label" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= fo.label :email ,:class=>"my_cadastral_data_label_short" %>
          <%=  fo.text_field  :email ,:style=>full_field_size %>*
        </td>
      </tr>
      <tr>
        <td>
          <%= fo.label :alternate_email,:class=>"my_cadastral_data_label_short" %>
          <%=  fo.text_field  :alternate_email ,:style=>full_field_size %>
        </td>
      </tr>
      <tr>
        <td>
          <%= fo.label :telephone , :class=>"my_cadastral_data_label_short"%>
          <%=  fo.text_field  :telephone ,:id=>"telefone" ,:style=>full_field_size %>
        </td>
      </tr>

      <!-- Instituição -->

      <tr>
        <td valign="top" align="center" rowspan="2">  <%= image_tag "instituicao.png" %> </td>
        <td> <%= fo.label :institution,:class=>"my_cadastral_data_label" %></td>
      </tr>
      <tr>
        <td>
          <%=  fo.text_field  :institution ,:size=>"50"%>*
        </td>
      </tr>

      <!-- Endereço -->
      <tr>
        <td valign="top" align="center" rowspan="4">  <%= image_tag "logradouro.png" %> </td>
        <td> <%= fo.label :address,:class=>"my_cadastral_data_label" %> </td>
      </tr>
      <tr>
        <td><%= fo.label :address, t('address_street') ,:class=>"my_cadastral_data_label_short"  %> <%=  fo.text_field  :address,:style=>full_field_size %></td>
      </tr>
      <tr>
        <td>
          <%= fo.label :address_number ,:class=>"my_cadastral_data_label_short" %> <%=  fo.text_field  :address_number,:style=>field_size %>
          <%= fo.label :zipcode, :class=>"my_cadastral_data_label_short" %> <%=  fo.text_field  :zipcode ,:id=>"cep",:style=>field_size %>
          <%= fo.label :address_neighborhood, :class=>"my_cadastral_data_label_short"  %> <%=  fo.text_field  :address_neighborhood ,:style=>field_size %>
        </td>
      </tr>
      <tr>
        <td>
          <%= fo.label :city, :class=>"my_cadastral_data_label_short" %> <%=  fo.text_field  :city ,:style=>field_size%>
          <%= fo.label:state, :class=>"my_cadastral_data_label_short" %>  <%= fo.select :state, ([["AC", "AC"], ["AL", "AL"], ["AP", "AP"],
              ["AM", "AM"], ["BA", "BA"], ["CE", "CE"], ["DF", "DF"], ["ES", "ES"],
              ["GO", "GO"], ["MA", "MA"], ["MT", "MT"], ["MS", "MS"], ["MG", "MG"],
              ["PA", "PA"], ["PB", "PB"], ["PR", "PR"], ["PE", "PE"], ["PI", "PI"],
              ["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"], ["RO", "RO"], ["RR", "RR"],
              ["SC", "SC"], ["SP", "SP"], ["SE", "SE"], ["TO", "TO"]]), :include_blank => true %>
          <%= fo.label :country, :class=>"my_cadastral_data_label_short" %> <%=  fo.text_field  :country,:style=>field_size %>
        </td>
      </tr>

      <!-- Autenticação -->
      <tr>
        <td valign="top" align="center" rowspan="3">  <%= image_tag "autenticacao.png" %> </td>
        <td> <%= fo.label t("authentication"),:class=>"my_cadastral_data_label" %> </td>
      </tr>
      <tr>
        <td>
          <%= fo.label :login , "Login:",:class=>"my_cadastral_data_label_short" %>  <%=  fo.text_field  :login ,:size=>"15"%>
          <%= fo.label "old_password", t("old_password"),:class=>"my_cadastral_data_label_short" %> <%=  fo.password_field "old_password",:size=>"15", :value=>""%>
        </td>
      </tr>
      <tr>
        <td>
          <%= fo.label "new_password", t("new_password"), :class=>"my_cadastral_data_label_short" %> <%=  fo.password_field  "new_password", :value=>"",:size=>"15"%>
          <%= fo.label "repeat_password", t("repeat_password") ,:class=>"my_cadastral_data_label_short" %> <%=  fo.password_field "repeat_password",:value=>"" ,:size=>"15"%>
        </td>
      </tr>

      <!-- Necessidades Especiais -->
      <tr>
        <td valign="top" align="center" rowspan="3">  <%= image_tag "acessibilidade.png" %> </td>
        <td> <%= fo.label :special_needs,:class=>"my_cadastral_data_label" %> </td>
      </tr>
      <tr style="line-height: 3px;"><td>&nbsp;</td></tr>
      <tr>
        <td>
          <%= fo.label "radio_special", t('special_needs_question'),:class=>"my_cadastral_data_label_short",:style=>"white-space: nowrap;width:225px;text-align:left;" %>
          <%= radio_button_tag "radio_special" , "true", true, {:id=>"sim", :onclick=>"show_special_needs('special_needs_line')"} %>
          <%= label_tag "radio_special", t('special_needs_yes'), :class=>"my_cadastral_data_label_short" , :style=>"text-align:left;" %>
          <%= radio_button_tag "radio_special" , "false", true, {:id=>"nao", :onclick=>"hide_special_needs('special_needs_line')"} %>
          <%= label_tag "radio_special", t('special_needs_no'), :class=>"my_cadastral_data_label_short", :style=>"text-align:left;" %>
        </td>
      </tr>
      <tr class="form_usuario_tr" id="special_needs_line" style="display:none;">
        <td></td>
        <td>
          <%= fo.label :special_needs,t(:which),:class=>"my_cadastral_data_label_short",:style=>"text-align:left;"%>
          <%= fo.text_field :special_needs ,:style=>"margin-rigth:10px;"%>
        </td>
      </tr>
    </table>
    <div id="my_cadastral_data_button" style="display:none;">
      <input type="button" onclick="document.location.href='/';" value="<%= t(:cancel)%>" class="solar_button_gray"/>
      <%= fo.submit t("alter_data"), :id=>"cadastral_submit", :class=>"solar_button_gray"%>
    </div>
  </div>

<%  end %>
