%h2= t(:mysolar_change_picture)
= form_for(current_user, html: { multipart: true }, url: {controller: 'users', action: 'update_photo', id: current_user.id}, method: :put) do |f|
  %br
  = image_tag current_user.photo.url(:medium), alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}"
  = f.file_field :photo, class: 'alter_photo_inputs'
  %br
  %br
  .alter_photo_text= t(:photo_text)
  = f.submit t(:send), id: 'photo_submit', class: 'btn btn_default', style: "font-size: 12pt;"
  = link_to t(:remove_photo), '#void', class: 'btn btn_caution delete_photo', style: 'font-size: 12pt;', :'data-url'=> remove_photo_user_path(current_user)

:javascript
  $(function(){
    $('.delete_photo').on("click keypress", function(event){
      $.delete($(this).data('url'), function(data){
        $.fancybox.close();
        flash_message(data.notice, 'notice');
      }).fail(function(data){
        var data = $.parseJSON(data.responseText);
        if (typeof(data.alert) != "undefined")
          flash_message(data.alert, 'alert', 'fancybox-outer');
      });
    });
  });