<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Login</th>
    <th>Email</th>
    <th>Password</th>
    <th>Name</th>
    <th>Nick</th>
    <th>Birthdate</th>
    <th>Enrollment code</th>
    <th>Cpf</th>
    <th>Gender</th>
    <th>Special needs</th>
    <th>Address</th>
    <th>Address number</th>
    <th>Address complement</th>
    <th>Address neighborhood</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th>Telephone</th>
    <th>Cell phone</th>
    <th>Institution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.name %></td>
    <td><%= user.nick %></td>
    <td><%= user.birthdate %></td>
    <td><%= user.enrollment_code %></td>
    <td><%= user.cpf %></td>
    <td><%= user.gender %></td>
    <td><%= user.special_needs %></td>
    <td><%= user.address %></td>
    <td><%= user.address_number %></td>
    <td><%= user.address_complement %></td>
    <td><%= user.address_neighborhood %></td>
    <td><%= user.zipcode %></td>
    <td><%= user.country %></td>
    <td><%= user.state %></td>
    <td><%= user.city %></td>
    <td><%= user.telephone %></td>
    <td><%= user.cell_phone %></td>
    <td><%= user.institution %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
