<!-- Portlets -------------------------->
<% if flash[:success] || flash[:error] || flash[:notice]%>
	 &nbsp;<br/>
         <%=raw message %>&nbsp;
	 &nbsp;<br/>
<% end %>

<%
personal_configuration = PersonalConfiguration.find_by_user_id(@user.id)

#Caso nao haja configuracao padrao ainda para os portlets...
if personal_configuration.nil?
  portlets_configuration = PersonalConfiguration.default_portlet_configuration
else
  portlets_configuration = personal_configuration.mysolar_portlets
  if portlets_configuration.nil?
    portlets_configuration = PersonalConfiguration.default_portlet_configuration
  end
end

columns = portlets_configuration.split('|');
%>

<table id="mysolar_panel_home">
  <tr>
    <!--Coluna 1-->
    <td valign="top">
      <div id="my_solar_column_1" class="mysolar_portlets_coluna">
        <%
        if columns[0].nil?
          columns[0] = ""
        end
        items = columns[0].split('&');
        items.each do|n|
        %>
          <%=show_portlet(n)%>
        <%end%>
      </div>
    </td>

    <!--Coluna 2-->
    <td valign="top">
      <div id="my_solar_column_2" class="mysolar_portlets_coluna">
        <%
        if columns[1].nil?
          columns[1] = ""
        end
        items = columns[1].split('&');
        items.each do|n|
        %>
          <%=show_portlet(n)%>
        <%end%>
      </div>
    </td>

    <!--Coluna 3-->
    <td valign="top">
      <div id="my_solar_column_3" class="mysolar_portlets_coluna">
        <%
        if columns[2].nil?
          columns[2] = ""
        end
        items = columns[2].split('&');
        items.each do|n|
        %>
          <%=show_portlet(n)%>
        <%end%>
      </div>
    </td>

  </tr>
</table>

<script type="text/javascript">
  //Configurando Portlets
  $(function() {
    $( ".mysolar_portlets_coluna" ).sortable({
      connectWith: ".mysolar_portlets_coluna", //Conectando as listas de colunas
      opacity: 0.8,
      revert: 100,
      stop: function(event, ui) {   //Registrando evento que salva os movimentos dos portlets
        var ordem = $('#my_solar_column_1').sortable('serialize') + '|';
        ordem += $('#my_solar_column_2').sortable('serialize') + '|';
        ordem += $('#my_solar_column_3').sortable('serialize');
        ordem = ordem.replace(/my_solar_portlet\[\]=/gi,'');
        updatePortletsConfiguration(ordem);

      }
    });
    $( ".mysolar_portlets_coluna" ).disableSelection();
  });

  //enviando requisicao que salva a posicao dos portlets
  function updatePortletsConfiguration(strConfig){
    $.ajax({
      url: "/personal_configurations/set_mysolar_portlets/",//caminho da chamada
      type: "POST",
      data: ({PortletsSequence : strConfig}),
      async:true
    });
  }
</script>

<div id="mysolar_locale">
  <span style="width: 20px"><%= image_tag "locales.png" %></span>&nbsp;
  <span style="width: 50px ; font-size:12px"><%= link_to "English","/users/mysolar/?locale=en", :style=>"color: #696969"%></span>&nbsp;
  <span style="font-size:12px"><%= link_to "Português(BR)","/users/mysolar/?locale=pt-BR", :style=>"color: #696969"%></span>
</div>
