= javascript_include_tag "portlet_slider"

.block_wrapper
  = render '/portlets/curricular_unit'
  = render '/portlets/calendar'

.block_wrapper
  = render '/portlets/facebook'
  = render '/portlets/facebook'
  = render '/portlets/facebook'

.block_wrapper
  = render '/portlets/facebook'  

#block_locale
  %ul
    %li= link_to "English", url_for(:locale => 'en-US')
    %li= link_to "Português(BR)", url_for(:locale => 'pt-BR')
