= javascript_include_tag "portlet_slider"

.block_wrapper
  = render '/portlets/curricular_unit'
  = render '/portlets/calendar'

.block_wrapper
  = render '/portlets/notifications'
  / = render '/portlets/facebook'

= javascript_include_tag "contextual_help/home"

:javascript

  $(function(){
    $('#flash_message').prop('tabindex', 0);
    setTimeout(function() {
      $('#flash_message').focus(); 
    }, 400);  
  }); 
