<!-- Portlets -------------------------->
<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
	&nbsp;<br/>&nbsp;<br/>
<% end %>
 <table id="mysolar_panel_home">
	<tr>
		<td valign="top">
			<div class="mysolar_portlets_coluna">
				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header"><%= t(:mysolar_news) %></div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>
			  	  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header"><%= t(:mysolar_class) %></div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
			 	 </div>
			</div>
		</td>
		<td valign="top">
			<div class="mysolar_portlets_coluna">
				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header"><%= t(:mysolar_recent_activities) %></div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>
			</div>
		</td>
		<td valign="top">
			<div class="mysolar_portlets_coluna">
				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header"><%= t(:mysolar_agenda) %></div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>

				  <div class="mysolar_portlets_portlet">
					    <div class="mysolar_portlets_header"><%= t(:mysolar_forum) %></div>
					    <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				  </div>
			</div>
		</td>
	</tr>
  </table>

<script>
	//Configurando Portlets
	$(function() {
		$( ".mysolar_portlets_coluna" ).sortable({
			connectWith: ".mysolar_portlets_coluna"
		});
		$( ".mysolar_portlets_coluna" ).disableSelection();
	});

</script>

