<%= form_for(current_user, :html => { :multipart => true }, :url => {:controller => 'users', :action => 'update_photo', :id => current_user.id}) do |f| %>
  &nbsp;
  <br/>
  <%= image_tag current_user.photo.url(:medium), :alt => "#{t(:mysolar_alt_img_user)} #{current_user.nick}"%>
  <%= f.file_field :photo, :class => 'alter_photo_inputs' %>
  <br /><br />
  <div class="alter_photo_text"><%= t(:photo_text)%></div>
  <div id="my_personal_data_button">
    <%= f.submit t(:send), :id => "photo_submit", :class => "btn btn_default", :style => "font-size: 12pt;"%>
  </div>
<% end %>