.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      = t(".title", name: @user.name)
    %span.download_all_icon
      - unless @public_files.empty?
        = button_tag(type: :button, onclick: "javascript:window.location.href='#{download_zipped_public_files_assignments_path(user_id: @user.id)}'", class: "btn btn_default") do
          = content_tag(:span, t(:download_all_files_zip, :scope => [:assignment, :files]))
          %i.icon-install
  .block_content
    - unless @public_files.blank?
      %table.tb_list
        %thead
          %tr.lines
            %th.no_sort
            %th=t(".file")
            %th=t(".size")
            %th=t(".sent_on")
        %tbody
          - @public_files.each do |files|
            %tr.lines
              %td.file_data_icon{style: "width: 10px;"}= image_tag icon_attachment(files["attachment_file_name"]), alt: " "
              %td= link_to files.attachment_file_name, download_public_files_assignments_path(file_id: files["id"], type: "public"), {class: 'link_content'}
              %td.file_data_info{style: "width: 80px;", align: "center"}= format('%.2f KB', files.attachment_file_size.to_i/1024.0)
              %td.file_data_info{style: "width: 100px;", align: "center"}
                - if files.attachment_updated_at.nil?
                  = " "
                - else
                  =l files.attachment_updated_at, format: :files
    - else
      .block_content_text.text_none= t(:itens_not_found)