<head>
  <%= stylesheet_link_tag "login.css" %>
</head>

<div style="position:absolute;height:100%;width:100%; display: table;">

	<%= render '/user_sessions/header' %>  

    <!--Parte cinza-->
    <div id="login_left_col">
      <%= render '/user_sessions/menu' %>

      <p>

        <% form_tag controller=> "user", :action => "pwd_recovery_send" do %>
			  <p>Esqueceu a sua senha?</p> 
			  
		      <label for="pwd_recovery_cpf">Seu CPF:</label>&nbsp;
		      <%= text_field :user, :cpf, :id => 'pwd_recovery_cpf', :tabindex=>"1"%>
		      <br/>
		      <br/>
		      
			  <label for="pwd_recovery_email">Seu E-mail:</label>&nbsp;
		      <%= text_field :user, :email, :id => 'pwd_recovery_email', :tabindex=>"2"%>		      
		      <br/>
		      <br/>
		      
		      <%= link_to 'Voltar', login_path %>&nbsp;&nbsp;
			  <%= submit_tag "Enviar", :tabindex=>"3"%>

			  <br/><br/>
			  <%= flash[:notice] %>	
      	<% end %>        
      </p>

    </div>

	<%#= render '/user_sessions/form_login' %>

    <%= render '/user_sessions/footer' %>
</div>
