<div style="position:absolute;height:100%;width:100%; display: table;">

  <%= render '/user_sessions/header' %>

  <!--Parte cinza-->
  <div id="login_left_col">
    <%= render '/user_sessions/menu' %>



    <p>

      <% form_tag controller=> "user", :action => "pwd_recovery_send" do %>

      <div class="pwd_recovery_all">
        <%=  image_tag "security.png" %>
        <span class="pwd_recovery_title">Segurança</span>
        <hr style="border: none; background-color: #d0dadd; height: 1px; width:80%; left: 0px; position: relative; top:-12px; margin-left:0px;"></hr>

        <p class="pwd_recovery_subtitle">Esqueceu a sua senha?</p>
        
        <p class="pwd_recovery_text">Para recuperar sua senha, digite o cpf e o endereço de e-mail que você usa para acessar a conta do Solar.<br/>
          Nós enviaremos a nova senha para o seu e-mail em instantes.</p>
        <div id="pwdbox" width="550px">
          <table border="0" class="pwd_recovery_table">
            <tr>
              <td align="right"><label for="email" class="pwd_recovery_label">E-mail:</label></td>
              <td><%= text_field :user, :email, :id => 'email', :tabindex=>"1"%></td>
            </tr>
            <tr>
              <td align="right"><label for="cpf" class="pwd_recovery_label">CPF:</label></td>
              <td><%= text_field :user, :cpf, :id => 'cpf', :tabindex=>"2"%></td>
            </tr>
            <tr>
            	<td colspan="2">
		        	<div style="margin-left: 65px;margin-top: 30px; width: 385px; margin-bottom: 100px;">
				  		<div style="float:right; margin-right: 30px">
				  		<input type="button" value="Voltar" class="solar_button_blue" onclick="document.location.href='<%=login_path%>'"/>
				  		<%= submit_tag "Enviar", :class=>'solar_button_blue', :tabindex=>"3"%>
				  	</div>
            	</td>
            </tr>
          </table>
          	<div><%= flash[:notice] %></div>
          
          </div>
          
        </div>
      </div>
      
      
    <% end %>
    </p>

  </div>

<%#= render '/user_sessions/form_login' %>

  <%= render '/user_sessions/footer' %>
</div>
