.info_user

  .block_content
    .block_title
      %h2= t(".detailed")
    .block_left
      - if  @user.photo_file_name
        =image_tag @user.photo.url(:medium), alt: t(:mysolar_alt_img_user) + ' ' + @user.name, class: 'block_photo'
      - else
        =image_tag 'no_image.png', alt: t(:mysolar_alt_img_user) + ' ' + @user.name, class: 'block_photo'
    .block_right
      %div=@user.name
      %div=@user.cpf
      %div=@user.status

  .block_content
    .block_title
      %h2= t(".personal_data")
    %div= t(".gender") + (@user.gender ? t(:m) : t(:f))
    %div= t(".birthdate") + l(@user.birthdate)
    %div= t(".special_needs") + @user.special_needs unless @user.special_needs.nil?

  .block_content
    .block_title
      %h2= t(".contact")
    %div
      = @user.address
      = @user.address_number
      = @user.address_complement
      = @user.address_neighborhood
      = t(".zipcode") + @user.zipcode unless @user.zipcode.nil?
    %div
      = @user.city
      = @user.state
      = @user.country
    %div= t(".telephone") + (@user.telephone.nil? ? t(".not_informed") : @user.telephone.to_s)
    %div= t(".cell_phone") + (@user.cell_phone.nil? ? t(".not_informed") : @user.cell_phone.to_s)

  .block_content
    .block_title
      %h2= t(".others")
    %div= t(".institution") + (@user.institution.nil? ? t(".not_informed") : @user.institution.to_s)
    %div= t(".integrated") + (@user.integrated ? t(".y") : t(".n"))
    %div= t(".blacklist") + (@user.on_blacklist? ? t(".y") : t(".n"))
    %div= t(".reset_password_url") + ( @user.integrated? ? "https://www.moduloacademico.ufc.br/moduloacademico/guest/recuperarSenhaForm.do" : (  @user.reset_password_token.nil? ? t(".reset_password_not_required") : edit_password_url(@user, reset_password_token: @user.reset_password_token ) ) )

  .block_content
    .block_title
      %h2= t(".additional")
    %div= t(".biography") + @user.bio unless @user.bio.nil?
    %div= t(".interests") + @user.interests unless @user.interests.nil?
    %div= t(".music") + @user.music unless @user.music.nil?
    %div= t(".movies") + @user.movies unless @user.movies.nil?
    %div= t(".books") + @user.books unless @user.books.nil?
    %div= t(".phrase") + @user.phrase unless @user.phrase.nil?
    %div= t(".site") + @user.site unless @user.site.nil?

  .right_buttons
    = button_to_function t(:close, scope: [:administrations]), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"
