<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Nick:</b>
  <%= @user.nick %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>Enrollment code:</b>
  <%= @user.enrollment_code %>
</p>

<p>
  <b>Cpf:</b>
  <%= @user.cpf %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Special needs:</b>
  <%= @user.special_needs %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Address number:</b>
  <%= @user.address_number %>
</p>

<p>
  <b>Address complement:</b>
  <%= @user.address_complement %>
</p>

<p>
  <b>Address neighborhood:</b>
  <%= @user.address_neighborhood %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Telephone:</b>
  <%= @user.telephone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @user.cell_phone %>
</p>

<p>
  <b>Institution:</b>
  <%= @user.institution %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
