<p id="notice"><%= notice %></p>


<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>E-mail Alternativo:</b>
  <%= @user.alternate_email %>
</p>


<p>
  <b>Nome:</b>
  <%= @user.name %>
</p>

<p>
  <b>Nick:</b>
  <%= @user.nick %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @user.cpf %>
</p>

<p>
  <b>Sexo:</b>
  <%= @user.sex %>
</p>

<% unless @user.special_needs.nil? %>
    <p>
      <b>Necessidades Especiais:</b>
      <%= @user.special_needs %>
    </p>
<% end %>

<p>
  <b>Endereço:</b>
  <%= @user.address %>
</p>

<p>
  <b>Número:</b>
  <%= @user.address_number %>
</p>

<p>
  <b>Complemento:</b>
  <%= @user.address_complement %>
</p>

<p>
  <b>Bairro:</b>
  <%= @user.address_neighborhood %>
</p>

<p>
  <b>CEP:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>País:</b>
  <%= @user.country %>
</p>

<p>
  <b>Estado:</b>
  <%= @user.state %>
</p>

<p>
  <b>Municipio:</b>
  <%= @user.city %>
</p>

<p>
  <b>Telefone:</b>
  <%= @user.telephone %>
</p>

<p>
  <b>Celular</b>
  <%= @user.cell_phone %>
</p>

<p>
  <b>Instituição:</b>
  <%= @user.institution %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
