= render '/user_sessions/header'

#login_content_password_recovery
  #block_wrapper
    %h1= t(:change_your_password)
    .block_content#pwd_recovery
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        = f.hidden_field(:reset_password_token)
        .form-field
          #email_new_password= f.password_field(:password, :placeholder => t(:new_password, scope: [:devise, :passwords]))
          #email_password_recovery_confirmation= f.password_field(:password_confirmation, :placeholder => t(:confirm_new_password, scope: [:devise, :passwords]))
        #buttons_password_recovery  
          %input#give-up.btn_password_recovery.btn_default{:onclick => "document.location.href='#{login_path}'", :type => "button", :value => t(:pwd_recovery_back)}
          = f.submit t(:change_my_password, scope: [:devise, :passwords]), :class => 'btn solar_button  btn_password_recovery', :id => "send"
  = devise_error_messages!

