= render '/user_sessions/header'

#login_content
  #password_recovery
    %h1= t(:pwd_recovery_subtitle)
    .block_content#pwd_recovery
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        %p= t(:pwd_recovery_text)
        %p= t(:pwd_recovery_text2)
        .form-field
          %input#email_password_recovery{name: "user[email]", placeholder: t(:pwd_recovery_email), size: "30", type: "email", :"aria-label" => t(:pwd_recovery_email)}
        #buttons_password_recovery
          %input#give-up.btn_password_recovery.btn_default{onclick: "document.location.href='#{login_path}'", type: "button", value: t(:pwd_recovery_back)}
          = f.submit t(:pwd_recovery_send), class: 'btn_password_recovery solar_button', id: "send"
  = devise_error_messages!

:javascript
  $(function(){
    if (typeof($("#error_explanation")) !== "undefined") {
      var text = $("#error_explanation").text().trim();
      $("#email_password_recovery").attr("aria-label", text);
    }
    setTimeout(function() {
      $("#email_password_recovery").focus();
    }, 250);
  });
