<%= render '/user_sessions/header' %>

<div id="login_content">

  <div class="block_wrapper">
    <div id="page_title">
      <h1>
        <%=  t(:pwd_recovery_security)%>
      </h1>
    </div>
  </div>

  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= t(:pwd_recovery_subtitle)%></h2>
    </div>
    <div class="block_content" id="pwd_recovery">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <p><%= t(:pwd_recovery_text)%></p>
        <p><%= t(:pwd_recovery_text2)%></p>

        <div id="pwd_box">
          <%#=raw message %>
          <table>
            <tr>
              <td><label for="email" class="pwd_recovery_label"><%= t(:pwd_recovery_email)%> </label></td>
              <td><%= f.email_field :email, :id => 'email', :tabindex=>"1"%></td>
            </tr>
            <tr>
              <td><label for="cpf" class="pwd_recovery_label"><%= t(:pwd_recovery_cpf)%> </label></td>
              <td><%= f.text_field :cpf, :id => 'cpf', :tabindex=>"2"%></td>
            </tr>
          </table>
          <div id="pwd_box_buttons">
            <input type="button" value='<%=t(:pwd_recovery_back)%>' class="btn btn_default" onclick="document.location.href='<%=login_path%>'"/>
            <%= f.submit t(:pwd_recovery_send), :class=>'btn btn_default', :tabindex=>"3" %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

</div>

<%= render '/user_sessions/footer' %>
