<%
query= "(    SELECT t1.description,t4.start_date,t4.end_date
FROM discussions AS t1
JOIN schedules       AS t4 ON t1.schedule_id = t4.id
JOIN allocation_tags AS t2 ON t2.id = t1.allocation_tag_id
JOIN allocations     AS t3 ON t3.allocation_tag_id = t2.id
WHERE t3.user_id = 1
AND t2.group_id = 1
)
union
(    SELECT t1.name, t4.start_date,t4.end_date
FROM lessons AS t1
JOIN schedules       AS t4 ON t1.schedule_id = t4.id
JOIN allocation_tags AS t2 ON t2.id = t1.allocation_tag_id
JOIN allocations     AS t3 ON t3.allocation_tag_id = t2.id
WHERE t3.user_id = 1
AND t2.group_id = 1
)
union
(
SELECT t1.name,t1.initial_date,t1.final_date
FROM assignments AS t1
JOIN allocation_tags AS t2 ON t2.id = t1.allocation_tag_id
JOIN allocations     AS t3 ON t3.allocation_tag_id = t2.id
WHERE t3.user_id = 1
AND t2.group_id = 1
);
"
schedules = ActiveRecord::Base.connection.select_all query

%>



&nbsp;
&nbsp;
<div id="agenda_body" style="background-color: #FFF">
  <span class="page_title"><%= t(:agenda_title)%></span> <span class="page_title"><%=@curriculum_unit.name%></span>
  <br/>

<%#*<div id="agenda_new_activity">%>
<%#*<div style="margin-left: 9px;margin-top: 3px;">%>
<%#*&nbsp;+&nbsp;<%= t(:new_activity)%>
<%#*</div>%>
<%#*</div>%>
</div>
<br/>
&nbsp;
<!-- Conteudo da agenda -->
<% @schedule.each do |schedule| %>
  <% if !(schedule.nil?) %>
    <div id="agenda_content">
      <div class="agenda_menu_left">
        <div>
          <div class="agenda_menu_left_title">
            <div class="agenda_icon"><%= image_tag "agenda/encontro presencial 16x16.png" %> </div>
            <div class="agenda_icon_title"> Forum</div>
          </div>
          &nbsp;
          <div class="agenda_menu_left_date">

            <% if schedule.start_date.strftime('%d') == schedule.end_date.strftime('%d') && schedule.start_date.strftime('%m') == schedule.end_date.strftime('%m') && schedule.start_date.strftime('%Y') == schedule.end_date.strftime('%Y') %>
              <div style="font-weight: bold;font-size: large;margin-left: 42px;"><%= schedule.start_date.strftime('%d') %></div>
              <% status = true%>
              &nbsp;
            <% else %>
              <p><%= schedule.start_date.strftime('%d/%b')  %> <%= schedule.end_date.strftime('%d/%b') %></p>
            <% end %>

            <% if schedule.start_date.strftime('%Y') == schedule.end_date.strftime('%Y') && status == true %>
              <p style="margin-top: -10px; padding-left: 27px; font-size: 11px;font-family: 'Trebuchet';"> <%= schedule.end_date.strftime('%b %Y') %> </p>
            <%  else %> <!-- passando de um ano de duração -->
              <% if schedule.start_date.strftime('%d') == schedule.end_date.strftime('%d') && schedule.start_date.strftime('%m') == schedule.end_date.strftime('%m') && (schedule.start_date.strftime('%Y') == schedule.end_date.strftime('%Y')) %>
                <p style="margin-top: -10px; padding-left: 30px; font-size: 11px;font-family: 'Trebuchet';"> <%= schedule.end_date.strftime('%b %Y') %></p>
              <%  else %>
                <%  if schedule.start_date.strftime('%Y') == schedule.end_date.strftime('%Y')%>
                  <p style="margin-top: -10px; padding-left: 35px; font-size: 11px;font-family: 'Trebuchet';"><%=  schedule.start_date.strftime('%Y') %></p>
                <% else %>
                  <p style="margin-top: -10px; padding-left: 20px; font-size: 11px;font-family: 'Trebuchet';"><%=  schedule.start_date.strftime('%Y') %>-<%= schedule.end_date.strftime('%Y') %> </p>
                <% end %>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>

      <div class="agenda_menu_ritgh">
        <div class="agenda_menu_ritgh_title">

          <% schedule.discussions.each do |disc| %>
            <%= disc.name %><br />
            <div class="agenda_menu_ritgh_text">
              <%= disc.description %>
            </div>
          <% end %>
        </div>

      </div>

    </div>

    <div>
      <br/>
    </div>
  <% else %>
    <% return t(:agenda_null) %>
  <% end %>

<% end %>

