<% if !(@schedule.nil? || @schedule.empty?) %>
  <% @schedule.each do |schedule| %>

    <div class="block_wrapper">

      <div class="block_title">
        <h2><div class="block_title_icon <%= schedule['schedule_type'] %>"></div><%=t :"#{schedule['schedule_type']}" %></h2>
      </div>

      <div class="agenda_left">
        <div class="agenda_left_date">
          <% start_date = schedule['start_date'].nil? ? nil : schedule['start_date'].to_date %>
          <% end_date = schedule['end_date'].nil? ? nil : schedule['end_date'].to_date %>
          <%=raw display_date_format(start_date, end_date) %>
        </div>
      </div>

      <div class="agenda_right">
        <span class="title"><%= schedule['name'] %></span>
        <div class="content">
          <p><%= schedule['description'] %></p>
        </div>
      </div>

    </div>

  <% end %>
<% else %>
  <div class="block_content block_content_text">
    <%= t(:agenda_null) %>
  </div>
<% end %>
