#file_size.alert.invisible
  %span.message_file_size{ tabindex: 0 }
  %span.close
    %a{href: "#void", onclick: "hide_element(event)", onkeydown: "hide_element(event)", :'aria-label' => t('flash_message.close')}
      %i.icon-cross{ :'aria-hidden' => "true" }
%h1#lightBoxDialogTitle= t(".title")
.block_content{style: "padding: 5px;"}
  = form_for @assignment_file do |f|
    = f.hidden_field :academic_allocation_user_id, value: @assignment_file.academic_allocation_user_id
    = f.file_field :attachment, id: "focu", :'aria-label' => t(:send_file_to_upload)
    .block_content_gray{style: "padding: 5px;"}
      %p.file
      %p=raw t('.send_file_obs')
      %p=raw t(:send_file_text)
    .right_buttons
      = button_tag t(:cancel), :type => 'button', :onclick => "jQuery.fancybox.close()", class: 'btn btn_caution', id: 'btn_cancel_post'
      = button_tag t(:save), class: "btn btn_main save_file", type: :button

= javascript_include_tag "assignment_files"

:javascript
  $(document).on("keydown", function() {
    var keynum = event.which || event.keyCode;
    if(keynum == 27){
      $.fancybox.close();
    }
  });

  $(function(){
    $(".save_file").click(function(){
      $('form#new_assignment_file').serialize_and_submit({
        files: true,
        prepend_to_list: $(".student_files tbody"),
        outer: 'fancybox-outer',
        error_message: '',
        complement_success: function(){
          $('#tb_lf').show();
          $.fancybox.close();
          flash_message("#{t('assignment_files.success.uploaded')}", "notice");
          $(".assignment_to_be_sent").html("#{t(:sent)}").css("color","#2900C2");
          update_tables_with_no_data();
          focus_element_time('#flash_message_span');
        }
      });
    });

    $("#focu").on("change", function(){
      var that = this;
      validate_file_size(that, 26000000, "#{t('assignment_files.new.attachment_file_size_too_big')}");
    });
  });
