<!--

&nbsp;
<div>
  <span class="page_title"><%= t(:bibliography_title)%></span> <span class="page_title"><%=@curriculum_unit.name%></span>
  <br/>
</div>

<%= raw render_group_selection %>
-->
<div>

  <% if !(@bibliography_filter.nil? || @bibliography_filter.empty?) %>
    <% @bibliography_filter.each do |bib| %>
      <div id="biliography_header_content">
        <div id="biliography_title"><%= bib["title"] %></div> <div id="biliography_photo"> <%= image_tag "icon_bibliografia.png", :alt=>t(:icon_bibliography ) %></div>

      </div>

      <div id="biliography">
        <hr id="bibliography_line"></hr>
        <div style="margin-left: 5px; margin-top: 5px">
    <%#*Autor%>
          <% unless  bib["author"] == nil  %>
            <% author = bib["author"].to_s.split(' ') %>
            <%= (author.last).upcase %>
            <%= ', ' << author.first if author.length > 1 %>.
          <% end %>

    <%#*Titulo%>
          <% unless  bib["title"] == nil  %>
            <span style="font-weight: bold"><%=  bib["title"] %> </span>.
          <% end %>

    <%#*Edicao%>
          <% unless  bib["edition"] == nil  %>
            <%=  bib["edition"]%>.ed .
          <% end %>

    <%#*local%>
          <% unless  bib["locale"] == nil  %>
            <%= bib["locale"]%>:
          <% end %>

    <%#*Editora%>
          <% unless  bib["publisher"] == nil  %>
            <%= bib["publisher"]%> ,
          <% end %>

    <%#*ano%>
          <% unless  bib["year"] == nil  %>
            <%= bib["year"] %>.
          <% end %>

    <%#*Texto complementar%>
          <% unless  bib["additional_text"] == nil  %>
            <%= bib["additional_text"]%>
          <% end %>

    <%#*ISBN%>
          <% unless  bib["isbn_issn"] == nil  %>
            <p style="margin-top: 4px">ISBN/ISSN: <%=bib["isbn_issn"]%></p>
          <% end %>

    <%#*URL%>
          <% unless  bib["url"] == nil  %>
            URL: <u style="color: #8b94b7"><a style="color: #1c4785;" target="_blank" href= <%= bib["url"] %>><%= bib["url"] %></a></u><br />
          <% end %>
          &nbsp;

        </div>
        <div style="background-color: #FFF">
          <br/>
        </div>


      </div>
    <%  end %>

  <% else %>
    <%= t(:bibliography_null) %>
  <% end %>

</div>
