.block_wrapper
  - unless @webconferences.blank?
    .block_title
      %h2
        %i.icon-video-conference
        = t(:webconferences, scope: [:webconferences, :list])
    %table.webconferences.tb_list
      %thead
        %tr.lines
          %th.greater_width= t(:name, scope: [:webconferences, :list])
          %th.center.default_width= t(:availability, scope: [:webconferences, :list])
          %th.center.smaller_width= t(:status, scope: [:webconferences, :list])
          %th.center.smaller_width= t('.user_online')
          %th.center.smaller_width.no_sort= t('.recording')
          %th.center.smaller_width= t(:evaluative, scope: [:scores, :index])
          %th.center.smaller_width= t(:frequency, scope: [:scores, :info])
          - if @can_see_access
            %th.smaller_width.no_sort= t('.access')
          - else
            %th.no_sort= t('.grade')
            %th.no_sort= t('.frequency')
      %tbody
        - @webconferences.each do |webconference|
          
          %tr.lines
            %td.webconference_access{ :'data-url' => access_webconference_path(webconference, at_id: webconference.at_id) }
              - if webconference.on_going?
                = link_to_function webconference.title, 'access_webconference(this)', {class: 'link_content'} 
              - else
                .title= webconference.title
              .enunciation
                .enunciation_slice= webconference.description.truncate(180)
                .enunciation_complete= webconference.description
                - if webconference.description.size > 180
                  .more_or_less
                    %a.enunciation_more.link_content{ href: '#' }= t('assignments.list.more')
                    %a.enunciation_less.link_content{ href: '#' }= t('assignments.list.less')
              - if webconference.shared_between_groups
                - groups_codes = Webconference.groups_codes(webconference)
                .equivalent
                  %a{ href: '#', :"data-dropdown" => "#dropdown_t_#{webconference.id}" }
                    %i.icon-shuffle
                    = t('.shared_with', link: groups_codes.count)
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_t_#{webconference.id}"}
                    %ul{ class: 'dropdown-menu' }  
                      - groups_codes.each do |code|
                        %li= code
              .participants.equivalent
                %a{ href: '#', :"data-dropdown" => "#dropdown_m_#{webconference.id}" }
                  %i.icon-user
                  = t(:moderator, scope: [:webconferences, :list])
                  %i.icon-arrow-down-triangle
                .dropdown.dropdown-tip{id: "dropdown_m_#{webconference.id}"}
                  %ul{ class: 'dropdown-menu' }  
                    = webconference.user_name
              .equivalent
                - unless webconference.eq_name.blank?
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{webconference.id}" }
                    %i.icon-flow-parallel
                    = t('scores.info.equivalency')
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{webconference.id}"}
                    %ul{ class: 'dropdown-menu' }
                      = raw t('scores.info.equivalent', name: webconference.eq_name)
                - else
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{webconference.id}", :'data-url' => equalities_tools_path(tool_type: 'Webconference', ac_id: webconference.id), onclick: 'open_dropdown(this);' }
                    %i.icon-flow-parallel
                    =t('scores.info.equalities')
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{webconference.id}"}
                    %ul{ class: 'dropdown-menu' }
            %td.center
              %div= l(webconference.start_date.to_date)
              %div= [l(webconference.start_hour.to_datetime, format: :today), l(webconference.end_hour.to_datetime, format: :today)].join(' - ')
            %td.center{ class: @online ? "assignment_#{webconference.situation}" : "assignment_not_started"}= (@online ? t(webconference.situation, scope: [:scores, :situation]) : t(:unavailable, scope: [:webconferences, :list]))
            %td.center= webconference.meeting_info(current_user, webconference.at_id, @meetings)
            %td.center{ class: "#{webconference.situation == t('webconferences.list.finish') ? '' : 'disabled'}", :'data-tooltip' => t('webconferences.list.watch')}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_webconference_path(webconference, at_id: webconference.at_id), class: 'record'
            %td.center= t(webconference.evaluative, scope: [:scores, :info])
            %td.center= t(webconference.frequency, scope: [:scores, :info])
            - if @can_see_access
              %td{ :'data-url' => list_access_webconference_path(webconference, at_id: webconference.at_id), :'data-tooltip' => t('webconferences.list.access') }= link_to_function content_tag(:i, nil, class: 'icon-users btn'), 'list_access(this)'
            - else
              %td= webconference.grade
              %td= webconference.working_hours
  - else
    .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])

= javascript_include_tag 'tooltip', 'webconferences' 

:javascript
  $(function(){
    $('.record').call_fancybox();
  });