.block_wrapper
  - unless @webconferences.blank?
    %div.title-warning
      %div.information_title
        = link_to_function raw(t('.information_title')), 'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
        %i.icon-arrow-down-triangle
        %i.icon-arrow-up-triangle.invisible
      %div.information.invisible{tabindex: 0}= raw t('.information')
    %div.title-warning
      %div.accessibility_title
        = link_to_function raw(t('.accessibility_title')), 'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
        %i.icon-arrow-down-triangle
        %i.icon-arrow-up-triangle.invisible
      %div.accessibility.invisible{tabindex: 0}= raw t('.accessibility')
    .block_title
      %h2
        %i.icon-video-conference
        = t(:webconferences, scope: [:webconferences, :list])
    %table.webconferences.tb_list{summary: t('.summary')}
      %thead
        %tr.lines
          %th.greater_width#web_name= t(:name, scope: [:webconferences, :list])
          %th.center.default_width#web_availability= t(:availability, scope: [:webconferences, :list])
          %th.center.smaller_width#web_status= t(:status, scope: [:webconferences, :list])
          %th.center.smaller_width#web_users= t('.user_online')
          %th.center.smaller_width#web_recording.no_sort= t('.recording')
          %th.center.smaller_width#web_evaluative= t(:evaluative, scope: [:scores, :index])
          %th.center.smaller_width#web_frequency= t(:frequency, scope: [:scores, :info])
          - if @can_see_access
            %th.smaller_width#web_access.no_sort= t('.access')
          - else
            %th#web_grade.no_sort= t('.grade')
            %th#web_wh.no_sort= t('.frequency')
      %tbody
        - @webconferences.each do |webconference|
          - unavailable = exist_and_offline?(webconference.server.to_i)
          - disabled = (webconference.situation == 'scheduled' || webconference.situation == 'in_progress' || webconference.situation == 'processing' || unavailable)
          %tr.lines
            %td.webconference_access{ :'data-url' => access_webconference_path(webconference, at_id: webconference.at_id), headers: 'web_name' }
              - if webconference.on_going?
                = link_to_function webconference.title, 'access_webconference(this)', {class: 'link_content', :'aria-label' => t('.access_web', web: webconference.title), onkeydown: 'click_on_keypress(event, this);'}
              - else
                .title= link_to webconference.title, '#', {disabled: true, class: 'disabled', :'aria-label' => t('.access_web', web: webconference.title) + t(:disabled)}
              .description
                .enunciation_slice= webconference.description.truncate(180)
                .enunciation_complete= webconference.description
                - if webconference.description.size > 180
                  .more_or_less
                    %a.enunciation_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label'=> t('.more', web: webconference.title) }= t('assignments.list.more')
                    %a.enunciation_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('.less', web: webconference.title) }= t('assignments.list.less')
              - if webconference.shared_between_groups
                - groups_codes = Webconference.groups_codes(webconference)
                .equivalent
                  %a{ href: '#', :"data-dropdown" => "#dropdown_t_#{webconference.id}", onkeydown: 'click_on_keypress(event, this);' }
                    %i.icon-shuffle{:'aria-hidden' => 'true'}
                    = t('.shared_with', link: groups_codes.count)
                    %i.icon-arrow-down-triangle{:'aria-hidden' => 'true'}
                  .dropdown.dropdown-tip{id: "dropdown_t_#{webconference.id}"}
                    %ul{ class: 'dropdown-menu', :'aria-label' => t('.groups', web: webconference.title) }
                      - groups_codes.each do |code|
                        %li= code
              .participants.equivalent
                %a{ href: '#', :"data-dropdown" => "#dropdown_m_#{webconference.id}", onkeydown: 'click_on_keypress(event, this);' }
                  %i.icon-user{:'aria-hidden' => 'true'}
                  = t(:moderator, scope: [:webconferences, :list])
                  %i.icon-arrow-down-triangle{:'aria-hidden' => 'true'}
                .dropdown.dropdown-tip{id: "dropdown_m_#{webconference.id}"}
                  %ul{ class: 'dropdown-menu' }
                    = webconference.user_name
              .equivalent
                - unless webconference.eq_name.blank?
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{webconference.id}", onkeydown: 'click_on_keypress(event, this);' }
                    %i.icon-flow-parallel{:'aria-hidden' => 'true'}
                    = t('scores.info.equivalency')
                    %i.icon-arrow-down-triangle{:'aria-hidden' => 'true'}
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{webconference.id}"}
                    %ul{ class: 'dropdown-menu' }
                      = raw t('scores.info.equivalent', name: webconference.eq_name)
                - else
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{webconference.id}", :'data-url' => equalities_tools_path(tool_type: 'Webconference', ac_id: webconference.ac_id, id: webconference.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                    %i.icon-flow-parallel{:'aria-hidden' => 'true'}
                    =t('scores.info.equalities')
                    %i.icon-arrow-down-triangle{:'aria-hidden' =>'true'}
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{webconference.id}"}
                    %ul{ class: 'dropdown-menu' }
            %td.center{headers: 'web_availability'}
              %div= l(webconference.start_date.to_date)
              %div= [l(webconference.start_hour.to_datetime, format: :today), l(webconference.end_hour.to_datetime, format: :today)].join(' - ')
            %td.center{class: (unavailable ? 'assignment_not_started' : "assignment_#{webconference.situation}"), headers: 'web_status'}= unavailable ? t(:unavailable, scope: [:webconferences, :list]) : t(webconference.situation, scope: [:scores, :situation])
            %td.center{headers: 'web_users'}= webconference.meeting_info(current_user, webconference.at_id)
            - if disabled
              %td.center{:'data-tooltip' => t('.recordings_disabled', web: webconference.title), headers: 'web_recording'}= link_to content_tag(:i, nil, class: 'icon-play btn disabled'), '#', disabled: true, onclick: 'return false', :'aria-label' => t('.recordings_disabled', web: webconference.title)
            - else
              %td.center{:'data-tooltip' => t('.recordings', web: webconference.title), headers: 'web_recording'}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_webconference_path(webconference, at_id: webconference.at_id), class: "record", onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('.recordings', web: webconference.title) + t('fancybox.open')

            %td.center{headers:'web_evaluative'}= t(webconference.evaluative, scope: [:scores, :info])
            %td.center{headers:'web_frequency'}= t(webconference.frequency, scope: [:scores, :info])
            - if @can_see_access
              %td{headers: 'web_access',:'data-url' => list_access_webconference_path(webconference, at_id: webconference.at_id), :'data-tooltip' => t('webconferences.list.access') }= link_to_function content_tag(:i, nil, class: 'icon-users btn'), 'list_access(this)', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('webconferences.list.access') + t('fancybox.open')
            - else
              %td{headers:'web_grade'}= webconference.grade
              %td{headers:'web_wh'}= webconference.working_hours
  - else
    .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])

= javascript_include_tag 'tooltip', 'webconferences'

:javascript
  $(function(){
    $('.record').call_fancybox();
  });

  function hide_or_show_info(link){
    var parent = $(link).parent();

    parent.siblings().toggleClass('invisible');
    parent.siblings().focus();

    if(parent.siblings().first().hasClass('invisible')){
      parent.find('i.icon-arrow-up-triangle').removeClass('invisible');
      parent.find('i.icon-arrow-down-triangle').addClass('invisible');
    }else{
      parent.find('i.icon-arrow-up-triangle').addClass('invisible');
      parent.find('i.icon-arrow-down-triangle').removeClass('invisible');
    }
  }


  // $(".accessibility").on("keydown", function(event){
  //   var keynum = event.which || event.keyCode;

  //   if ( keynum == 27 ) {
  //     $(this).addClass('invisible');
  //     $(this).siblings().find('i.icon-arrow-up-triangle').removeClass('invisible');
  //     $(this).siblings().find('i.icon-arrow-down-triangle').addClass('invisible');
  //   }

  //   $(".accessibility_title").find("a").focus();
  // });
