.block_wrapper
  - unless @webconferences.blank?
    .block_title
      %h2
        %i.icon-video-conference
        = t(:webconferences, scope: [:webconferences, :list])
    %table.webconferences.tb_list
      %thead
        %tr.lines
          %th.default_width= t(:name, scope: [:webconferences, :list])
          %th.grater_width= t(:description, scope: [:webconferences, :list])
          %th.default_width= t(:moderator, scope: [:webconferences, :list])
          %th.default_width= t(:availability, scope: [:webconferences, :list])
          %th.smaller_width= t(:duration, scope: [:webconferences, :list])
          %th.smaller_width= t(:status, scope: [:webconferences, :list])
      %tbody
        - @webconferences.each do |webconference|
          %tr.lines
            %td= webconference.link_to_join(current_user, webconference.at_id)
            %td
              = webconference.description
              - groups_codes = webconference.groups_codes
              - unless groups_codes.blank? || !webconference.shared_between_groups || groups_codes.size == 1
                = raw t('.shared_with', link: link_to(groups_codes.count.to_s, '#', :'data-dropdown' => "#groups_codes_#{webconference.id}"))
                .dropdown.dropdown-tip{ id: "groups_codes_#{webconference.id}" }
                  %ul.dropdown-menu
                    - groups_codes.each do |code|
                      %li= code
            %td= raw truncate(webconference.moderator.name, length: 20)
            %td= l(webconference.initial_time, format: :at_date)
            %td= [webconference.duration.to_s, t(:min, scope: [:webconferences, :list])].join(' ')
            %td= (@online ? webconference.status(@recordings, webconference.at_id) : t(:unavailable, scope: [:webconferences, :list]))
  - else
    .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])
