.block_wrapper.preview_webconferences
  .title-warning= t('.warning')
  .title-warning
    ='Esta tela carrega inicialmente apenas webconferências agendadas para iniciar hoje.'
    = link_to 'Listar todas as webconferências', preview_webconferences_path(today: false), class: "btn btn_default", id: "all_webs"
  - unless @webconferences.blank?
    .block_title
      %h2
        %i.icon-video-conference
        = t(:webconferences, scope: [:webconferences, :list])
    .block_content_toolbar
      .block_toolbar_left
        = label_tag :search, t('.search'), class: 'title'
        = text_field_tag :search, nil, :'data-column' => 'all', type: :search, class: 'search', placeholder: t('.placeholder'), size: 50
      - if @can_remove_record
        .block_toolbar_right
          %a.btn.delete_record_btn{ href: nil, :'data-dropdown' => "#trash_dropdown", alt: t('.delete_record') }
            = content_tag(:i, nil, class:'icon-trash')
            %i.icon-arrow-down-triangle
          #trash_dropdown.dropdown.dropdown-tip
            %ul.dropdown-menu
              %li
                %a.delete_record{ href: nil, :'data-link-remove' => remove_record_webconference_path(':id') }= t('.delete_record')
    .responsive-table
      %table.webconferences.tb_list
        %thead
          %tr.lines
            %th.no_sort= check_box_tag :all_webconferences, false, false, :'data-children-names' => 'ckb_webconference', class: 'all_webconferences'
            %th.default_width= t(:name, scope: [:webconferences, :list])
            %th.bigger_width= t('.location')
            %th.default_width= t(:availability, scope: [:webconferences, :list])
            %th.smaller_width= t(:status, scope: [:webconferences, :list])
            %th.invisible
            %th.invisible
            %th.smaller_width= t('webconferences.index.user_online')
            %th.smaller_width.no_sort= t('webconferences.index.recording')
            - if @can_see_access
              %th.smaller_width.no_sort= t('webconferences.index.access')
        %tbody
          - @webconferences.each_with_index do |webconference, idx|
            - on_going = webconference.on_going?
            - unavailable = on_going ? exist_and_offline?(webconference.server) : false
            - disabled = !(webconference.is_recorded) || (webconference.situation == 'scheduled' || webconference.situation == 'in_progress' || webconference.situation == 'processing' || unavailable)
            %tr.lines
              %td{ style: 'text-align:center;' }= check_box_tag :ckb_webconference, webconference.ac_id || webconference.academic_allocations.first.id, false, { class: 'ckb_webconference' }
              - if on_going
                %td= webconference.link_to_join(current_user, webconference.at_id)
              - else
                %td= link_to webconference.title, '#void', {disabled: true, class: 'disabled', :'aria-label' => t('webconferences.index.access_web', web: webconference.title) + t(:disabled)}
              %td
                - location = webconference.location
                = location
                - groups_codes = Webconference.groups_codes(webconference.id)
                - unless groups_codes.blank? || !webconference.shared_between_groups
                  .equivalent
                    %a{ href: '#', :"data-dropdown" => "#dropdown_t_#{idx}" }
                      %i.icon-shuffle
                      = t('.shared_with', link: groups_codes.count)
                      %i.icon-arrow-down-triangle
                    .dropdown.dropdown-tip{id: "dropdown_t_#{idx}"}
                      %ul{ class: 'dropdown-menu' }
                        - groups_codes.each do |code|
                          %li= code
                .participants.equivalent
                  %a{ href: '#', :"data-dropdown" => "#dropdown_m_#{idx}" }
                    %i.icon-user
                    = t(:moderator, scope: [:webconferences, :list])
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_m_#{idx}"}
                    %ul{ class: 'dropdown-menu' }
                      = webconference.user_name
                      %span= link_to (content_tag(:i, nil, class: 'icon-mail participants_messages', :'aria-hidden' => 'true')), new_message_path(user_id: webconference.user_id, layout: true, bread: 'menu_messages'), class: 'can-update-menu', 'data-menu-bread' => 'menu_messages', :'aria-label' => t('messages.message_to', name: webconference.user_name)
                .equivalent
                  - unless webconference.eq_name.blank?
                    %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{idx}" }
                      %i.icon-flow-parallel
                      = t('scores.info.equivalency')
                      %i.icon-arrow-down-triangle
                    .dropdown.dropdown-tip{id: "dropdown_eq_#{idx}"}
                      %ul{ class: 'dropdown-menu' }
                        = raw t('scores.info.equivalent', name: webconference.eq_name)
                  - else
                    %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{idx}", :'data-url' => equalities_tools_path(tool_type: 'Webconference', ac_id: webconference.ac_id, id: webconference.id), onclick: 'open_dropdown(this);' }
                      %i.icon-flow-parallel
                      =t('scores.info.equalities')
                      %i.icon-arrow-down-triangle
                    .dropdown.dropdown-tip{id: "dropdown_eq_#{idx}"}
                      %ul{ class: 'dropdown-menu' }
              %td.center
                %div= l(webconference.start_date.to_date)
                %div= [l(webconference.start_hour.to_datetime, format: :today), l(webconference.end_hour.to_datetime, format: :today)].join(' - ')
              %td.center{class: (unavailable ? 'assignment_not_started' : "assignment_#{webconference.situation}")}= unavailable ? t(:unavailable, scope: [:webconferences, :list]) : t(webconference.situation, scope: [:scores, :situation])
              %td.invisible= location
              - users_web = on_going ? webconference.meeting_info(current_user, webconference.at_id) : 0
              %td.center= users_web
              - if disabled
                %td.center{:'data-tooltip' => t('webconferences.list.watch')}= link_to content_tag(:i, nil, class: 'icon-play disabled'), '#void', disabled: true, onclick: 'return false', class: 'btn'
              - else
                %td.center{:'data-tooltip' => t('webconferences.list.watch')}= link_to content_tag(:i, nil, class: 'icon-play'), get_record_webconference_path(webconference, at_id: webconference.at_id), class: "record btn"
              - if @can_see_access
                %td{ :'data-url' => list_access_webconference_path(webconference, at_id: webconference.at_id), :'data-tooltip' => t('webconferences.list.access') }= link_to content_tag(:i, nil, class: 'icon-users'), "#void", onclick: 'list_access(this)', class: 'btn'

    .message_div_navigation
      = will_paginate @webconferences

  - else
    .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])

= javascript_include_tag 'webconferences', 'tooltip'

:javascript
  $(function(){
    $('.record').call_fancybox();
  });
