.block_wrapper.preview_webconferences
  .title-warning= t('.warning')
  - unless @webconferences.nil? or @webconferences.empty?
    .block_title
      %h2
        %i.icon-video-conference
        = t(:webconferences, scope: [:webconferences, :list])
    .block_content_toolbar
      .block_toolbar_left
        = label_tag :search, t('.search'), class: 'title'
        = text_field_tag :search, nil, :'data-column' => 'all', type: :search, class: 'search', placeholder: t('.placeholder'), size: 40
      .block_toolbar_right
        %a.btn#btn-new{href: nil, :'data-dropdown' => "#trash_dropdown", alt: t('.delete_record')}
          = content_tag(:i, nil, class:'icon-trash')
          %i.icon-arrow-down-triangle
        #trash_dropdown.dropdown.dropdown-tip
          %ul.dropdown-menu
            %li
              %a.delete_record{href: nil, :'data-link-remove' => remove_record_webconference_path(':id')}= t('.delete_record')

    %table.webconferences.tb_list
      %thead
        %tr.lines
          %th.no_sort= check_box_tag :all_webconferences, false, false, :'data-children-names' => 'ckb_webconference', class: 'all_webconferences'
          %th.default_width= t(:name, scope: [:webconferences, :list])
          %th.bigger_width= t('.location')
          %th.medium_width= t(:moderator, scope: [:webconferences, :list])
          %th.default_width= t(:availability, scope: [:webconferences, :list])
          %th.smaller_width= t(:duration, scope: [:webconferences, :list])
          %th.smaller_width= t(:status, scope: [:webconferences, :list])
      %tbody
        - @webconferences.each do |webconference|
          %tr.lines

            %td{style: 'text-align:center;'}= check_box_tag :ckb_webconference, webconference.ac_id, false, {class: 'ckb_webconference' }
            %td= webconference.link_to_join(current_user, webconference.at_id)
            %td= AllocationTag.find(webconference.at_id).info
            %td= raw truncate(webconference.moderator.name, length: 20)
            %td= l(webconference.initial_time, format: :at_date)
            %td= [webconference.duration.to_s, t(:min, scope: [:webconferences, :list])].join(' ')
            %td.status_webconference= webconference.status(webconference.at_id)
            
  - else
    .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])

  .message_div_navigation
    = will_paginate @webconferences

= javascript_include_tag 'webconferences', 'tooltip'