.block_wrapper.preview_webconferences
  .title-warning= t('.warning')
  - unless @webconferences.blank?
    .block_title
      %h2
        %i.icon-video-conference
        = t(:webconferences, scope: [:webconferences, :list])
    .block_content_toolbar
      .block_toolbar_left
        = label_tag :search, t('.search'), class: 'title'
        = text_field_tag :search, nil, :'data-column' => 'all', type: :search, class: 'search', placeholder: t('.placeholder'), size: 50
      - if @can_remove_record
        .block_toolbar_right
          %a.btn.delete_record_btn{ href: nil, :'data-dropdown' => "#trash_dropdown", alt: t('.delete_record') }
            = content_tag(:i, nil, class:'icon-trash')
            %i.icon-arrow-down-triangle
          #trash_dropdown.dropdown.dropdown-tip
            %ul.dropdown-menu
              %li
                %a.delete_record{ href: nil, :'data-link-remove' => remove_record_webconference_path(':id') }= t('.delete_record')

    %table.webconferences.tb_list
      %thead
        %tr.lines
          %th.no_sort= check_box_tag :all_webconferences, false, false, :'data-children-names' => 'ckb_webconference', class: 'all_webconferences'
          %th.default_width= t(:name, scope: [:webconferences, :list])
          %th.bigger_width= t('.location')
          %th.default_width= t(:availability, scope: [:webconferences, :list])
          %th.smaller_width= t(:status, scope: [:webconferences, :list])
          %th.invisible
          %th.invisible
          %th.smaller_width= t('webconferences.index.user_online')
          %th.smaller_width.no_sort= t('webconferences.index.recording')
          - if @can_see_access
            %th.smaller_width.no_sort= t('webconferences.index.access')
      %tbody
        - @webconferences.each_with_index do |webconference, idx|
          %tr.lines
            %td{ style: 'text-align:center;' }= check_box_tag :ckb_webconference, webconference.ac_id || webconference.academic_allocations.first.id, false, { class: 'ckb_webconference' }
            %td= webconference.link_to_join(current_user, webconference.at_id)
            %td
              - location = webconference.location
              = location
              - groups_codes = Webconference.groups_codes(webconference.id)
              - unless groups_codes.blank? || !webconference.shared_between_groups
                .equivalent
                  %a{ href: '#', :"data-dropdown" => "#dropdown_t_#{idx}" }
                    %i.icon-shuffle
                    = t('.shared_with', link: groups_codes.count)
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_t_#{idx}"}
                    %ul{ class: 'dropdown-menu' }  
                      - groups_codes.each do |code|
                        %li= code
              .participants.equivalent
                %a{ href: '#', :"data-dropdown" => "#dropdown_m_#{idx}" }
                  %i.icon-user
                  = t(:moderator, scope: [:webconferences, :list])
                  %i.icon-arrow-down-triangle
                .dropdown.dropdown-tip{id: "dropdown_m_#{idx}"}
                  %ul{ class: 'dropdown-menu' }  
                    = webconference.user_name
              .equivalent
                - unless webconference.eq_name.blank?
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{idx}" }
                    %i.icon-flow-parallel
                    = t('scores.info.equivalency')
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{idx}"}
                    %ul{ class: 'dropdown-menu' }
                      = raw t('scores.info.equivalent', name: webconference.eq_name)
                - else
                  %a{ href: '#', :"data-dropdown" => "#dropdown_eq_#{idx}", :'data-url' => equalities_tools_path(tool_type: 'Webconference', ac_id: webconference.ac_id, id: webconference.id), onclick: 'open_dropdown(this);' }
                    %i.icon-flow-parallel
                    =t('scores.info.equalities')
                    %i.icon-arrow-down-triangle
                  .dropdown.dropdown-tip{id: "dropdown_eq_#{idx}"}
                    %ul{ class: 'dropdown-menu' }
            %td.center
              %div= l(webconference.start_date.to_date)
              %div= [l(webconference.start_hour.to_datetime, format: :today), l(webconference.end_hour.to_datetime, format: :today)].join(' - ')
            %td.center{class: (exist_and_offline?(webconference.server) ? 'assignment_not_started' : "assignment_#{webconference.situation}")}= exist_and_offline?(webconference.server) ? t(:unavailable, scope: [:webconferences, :list]) : t(webconference.situation, scope: [:scores, :situation])
            %td.invisible= location
            %td.center= webconference.meeting_info(current_user, webconference.at_id)
            %td.center{ :style => "#{ ((webconference.situation == I18n.t(:finish, scope: [:webconferences, :list], :locale => :en_US).downcase!) || (webconference.situation == I18n.t(:sent, scope: [:scores, :situation], :locale => :en_US).downcase!)) ? '' : 'visibility: hidden;'}", :'data-tooltip' => t('webconferences.list.watch')}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_webconference_path(webconference, at_id: webconference.at_id), class: 'record'
            - if @can_see_access
              %td{ :'data-url' => list_access_webconference_path(webconference, at_id: webconference.at_id), :'data-tooltip' => t('webconferences.list.access') }= link_to_function content_tag(:i, nil, class: 'icon-users btn'), 'list_access(this)'
            
    .message_div_navigation
      = will_paginate @webconferences
      
  - else
    .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])

= javascript_include_tag 'webconferences', 'tooltip'

:javascript
  $(function(){
    $('.record').call_fancybox();
  });
