#general_shortcuts
  .general_shortcuts
    %h1= t('shortcut.shortcut_menu_title')
    .block_content
      %ul.left
        %li
          .title= t('shortcut.vertical_menu.name.menu_lesson')
          .tag= t('shortcut.vertical_menu.name.menu_lesson_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_support_material')
          .tag= t('shortcut.vertical_menu.name.menu_support_material_key')
        %li
          .title.title= t('shortcut.vertical_menu.name.menu_dc_lesson')
          .tag= t('shortcut.vertical_menu.name.menu_dc_lesson_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_discussion')
          .tag= t('shortcut.vertical_menu.name.menu_discussion_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_portfolio')
          .tag= t('shortcut.vertical_menu.name.menu_portfolio_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_exam')
          .tag= t('shortcut.vertical_menu.name.menu_exam_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_score_student')
          .tag= t('shortcut.vertical_menu.name.menu_score_student_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_chat')
          .tag= t('shortcut.vertical_menu.name.menu_chat_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_webconference')
          .tag= t('shortcut.vertical_menu.name.menu_webconference_key')
      %ul.right
        %li
          .title= t('shortcut.vertical_menu.name.menu_score_professor')
          .tag= t('shortcut.vertical_menu.name.menu_score_professor_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_program')
          .tag= t('shortcut.vertical_menu.name.menu_program_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_agenda')
          .tag= t('shortcut.vertical_menu.name.menu_agenda_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_bibliography')
          .tag= t('shortcut.vertical_menu.name.menu_bibliography_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_participants')
          .tag= t('shortcut.vertical_menu.name.menu_participants_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_content_edition')
          .tag= t('shortcut.vertical_menu.name.menu_content_edition_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_messages')
          .tag= t('shortcut.vertical_menu.name.menu_messages_key')
        %li
          .title= t('shortcut.vertical_menu.name.menu_registration')
          .tag= t('shortcut.vertical_menu.name.menu_registration_key')