<%= render '/user_sessions/header' %>

<div id="login_content">

  <div class="block_wrapper">
    <div id="page_title">
      <h1>
        <%=  t(:team)%>
      </h1>
    </div>
  </div>

  <div class="block_wrapper">
    <div class="block_content">
      <div class="team">
        <% @setores.values.each do |setor| %>
            <div class="sector"><%= setor['title'] %></div>
            <% setor['members'].each do |member| %>
              <div class="member"><%= member %></div>
            <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to t(:back), :back, :class => 'solar_button' %>
  </div>

</div>

<%= render '/user_sessions/footer' %>
