#tutorials.block_wrapper#login
  .block_title
    %h2
      %i.icon-folder
      = t(:login)
    %span.block_actions
  / Tabelas de atividades
  .block_content
    %table#assignments_list.tb_list
      %thead
        %tr.lines
          %th{align: "left"}= t(:description)
      %tbody
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/login.pdf", target: "_blank"} Login.pdf

#tutorials.block_wrapper#description
  .block_title
    %h2
      %i.icon-folder
      = t(:student)
    %span.block_actions
  / Tabelas de atividades
  .block_content
    %table#assignments_list.tb_list
      %thead
        %tr.lines
          %th{align: "left"}= t(:description)
      %tbody
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/aluno.pdf", target: "_blank"} Aluno.pdf
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado."}
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/editor_matematico.pdf", target: "_blank"} Editor_Matemático.pdf
       
#tutorials.block_wrapper#edition
  .block_title
    %h2
      %i.icon-folder
      = t(:edition)
    %span.block_actions
  / Tabelas de atividades
  .block_content
    %table#assignments_list.tb_list
      %thead
        %tr.lines
          %th{align: "left"}= t(:description)
      %tbody
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/edicao_academica.pdf", target: "_blank"} Edição_Acadêmica.pdf
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/edicao_conteudo.pdf", target: "_blank"} Edição_Conteúdo.pdf
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/fluxograma.pdf", target: "_blank"} Fluxograma_Semestre_Turma.pdf

#tutorials.block_wrapper#edition
  .block_title
    %h2
      %i.icon-folder
      = t(:enrollment)
    %span.block_actions
  / Tabelas de atividades
  .block_content
    %table#assignments_list.tb_list
      %thead
        %tr.lines
          %th{align: "left"}= t(:description)
      %tbody
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/gerenciamento_de_matricula.pdf", target: "_blank"} Gerenciamento_de_Matrículas.pdf
        %tr.lines
          %td.description_tutorials{align: "left"}
            %p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            %img{alt: "Pdf", src: "/assets/mimetypes/pdf.png"}/
            %a{href: "/tutorials/matricula.pdf", target: "_blank"} Matrícula.pdf
