Material de apoio do editor

<div>

  <br/>
  <span> Oferta: </span>
  <div style="margin-left: 50px;margin-top: -20px;">
    <%= form_for(@offers) do |f| %>
      <%= f.select :offer, ([["2012.1"],["2011.1"], ["2011.2"] ]), :include_blank => true  %>
    <%end%>
  </div>

  <span> Turma: </span>
  <div style="margin-left: 50px;margin-top: -20px;">
    <%= form_for(@groups) do |f| %>
      <%= f.select :group, ([["FOR"],["CAU-A"]]), :include_blank => true  %>
    <%end%>
  </div>

  <hr/>
  <br/>

  <% #Link %>
  <% form_for :link, :url => {:controller => "support_material_file_editor", :action => "upload_link"} do |flink| %>
    <span>  Link:  </span>
    <div style="margin-left: 70px;margin-top: -25px;">
      <%= flink.text_field :link, :id => "link"%>
    </div>
    <div style="margin-left: 300px; margin-top: -30px">
      <%= flink.submit t(:confirm), :id=>"confirm", :class=>"solar_button", :alt=> t(:confirm) %>
    </div>
  <%end%>

  <br/>

  <% #Arquivo %>
  <div>
    <div>  Arquivo:  </div>
    <br/>
    <div>
      <%= form_for(:support_material, :html => { :multipart => true }, :url => {:controller => :support_material_file_editor,
          :action => :upload_files }) do |f| %>
        <%= f.file_field :attachment%>
      </div>

      <br/>
      <div>  Pasta:  </div>
      <div id="select_folder">
        <%= f.select :folder, options_for_select([""] + ["NOVA PASTA"] + SupportMaterialFile.find(:all,:select => "DISTINCT folder", :conditions => ["folder != ? ", ""]).collect{|c| [c.folder]})%>
      </div>

      <div id ="new_folder">
        <div> Nova pasta </div>
        <%= f.text_field :new_folder%>
      </div>

      <br/>

      <span>
        <%= f.submit t(:send), :id => "support_material", :class => "solar_button_gray"%>
      </span>

    <% end %>


  </div>
</div>

<script type ="text/javascript">

<%#*$(document).ready(function(){%>

<%#*$('#select_folder').change(function(){%>
<%#*if($('#select_folder option:selected').text() == "NOVA PASTA"){%>
<%#*$('#new_folder').fadeIn();%>
<%#*$('#new_folder').append('<div> Nova pasta </div><input id="support_material_folder" name="support_material[folder]" size="30" type="text">');%>
<%#*}else{%>
<%#*$('#new_folder').remove();%>
<%#*}%>
<%#*});%>
<%#*});%>
</script>


<%#*<div>%>
<%#= render '/support_material_file/list' %>
<%#*</div>%>
