<% if flash[:success] || flash[:error] || flash[:notice]%>
  &nbsp;<br/>
  <%=raw message %>&nbsp;
  &nbsp;<br/>
<% end %>
&nbsp;

<style type="text/css">


</style>

<!-- Apresenta o nome da unidade curricular -->
<div>
  <span class="page_title">
    <%= @curriculum_unit.name %>
  </span>
</div>

<!-- Portfolio -->
<div class="portfolio_activity">

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%#= @student.name %>nome do aluno aqui</div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>


  <!-- Informacoes -->

  <div id="portfolio" class="portfolio portfolio_activity">
    <hr class="portfolio_line portfolio_activity" />

    <div id="private_area">
      <div id="title_private_area">
        Area Privada
      </div>
      <div id="assignments_private_area">
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr>
              <td>Nome</td>
              <td align="center" style="width: 20%;">Data Entrega</td>
              <td align="center" style="width: 12%;">Situacao</td>
              <td align="center" style="width: 8%;">Nota</td>
            </tr>
          </thead>
          <tbody>


            <% @activities.each do |act| %>
              <tr>
                <td><%=link_to act["name"], {:action => :student_detail, :send_assignment_id => "", :student_id => @students_id} %></td>
                <td align="center"><%=l act["start_date"], :format => :normal %> - <%=l act["end_date"], :format => :normal %></td>
                <td align="center">Corrigido</td>
                <td align="center">8</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>

      <div id="participation">
        Participacao
      </div>

      <div id="">
        <div id="title_provas">
          Provas
        </div>
        <div>
          <table border="1" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <td>Nome</td>
                <td align="center" style="width: 20%;">Data</td>
                <td align="center" style="width: 12%;">Situacao</td>
                <td align="center" style="width: 8%;">Nota</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>prova 03</td>
                <td align="center">31/03/2011 - 21/06/2132</td>
                <td align="center">Respondida</td>
                <td align="center">10</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

    <div id="public_area">
      <div id="title_public_area">
        Area Publica
      </div>
      <div id="list_files_public_area">
        lista de arquivos | data de envio
      </div>
    </div>






  </div>
</div>