<% if flash[:success] || flash[:error] || flash[:notice]%>
  &nbsp;<br/>
  <%=raw message %>&nbsp;
  &nbsp;<br/>
<% end %>
&nbsp;

<style type="text/css">

  .portfolio_activity {
    width: 500px;
  }

  .portfolio_activity_mright {
    margin-right: 20px;
  }

</style>

<!-- Apresenta o nome da unidade curricular -->

<div>
  <span class="page_title">
    Correcao de Trabalho de Atividade I de Quimica I
  </span>
</div>

<!-- Portfolio -->
<div class="portfolio_activity">

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= @student.name %></div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <!-- Arquivos do aluno e comentarios -->

  <div id="portfolio" class="portfolio portfolio_activity">
    <hr class="portfolio_line portfolio_activity" />

    <!-- Arquivos de trabalho -->
    <div style="padding-left: 10px; padding-right: 10px;">
      <div id="div_header" style="padding-bottom: 10px;">
        <div id="header_left" style="float: left;">Arquivos do trabalho:</div>
        <div id="header_rigth" style="float: right; padding-right: 50px;">Nota:</div>
      </div>
      <br />
      <div id="div_body_pa">
        <div id="div_body_left" style="display: inline-block;">
          <% @files.each do |f| %>
            <div class="list_files" style="padding-bottom: 10px; text-align: right;">
              <div class="files_name">
                <a href="#" style="color: blue;"><%= f["attachment_file_name"] %></a>
              </div>
              <div class="files_date"><span style="font-style: italic; color:  gray;">Enviado em <%=l f["attachment_updated_at"].to_time, :format => :files %></span></div>
            </div>
          <% end %>
        </div>
        <div id="div_body_right" style="float: right;">
          <input type="text" value="<%= @grade %>" size="4"/>
        </div>
      </div>
    </div>

    <div style="padding-bottom: 10px; padding-left: 10px;">

      <!-- comentarios sobre o trabalho enviado -->
      <span>Comentario sobre o(s) trabalho(s) enviado(s):</span><br /><br />
      <div id="teachers_comments" style="text-align: center; padding-bottom: 10px;">
        <textarea rows="10" cols="50" style="width: 450px;"><%= @comment %></textarea>
      </div>
      <span class="portfolio_activity_mright" style="float: right;">
        <span style="padding-right: 10px;"><a href="#">Voltar</a></span>
        <span><a href="#">Salvar</a></span>
      </span>
      &nbsp;
    </div>

  </div>

  <!-- Inserir anexos aos comentarios -->

  <div class="portfolio_header_content">
    <div class="portfolio_title">Inserir anexos ao comentario</div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <div id="attachments">

    <div id="portfolio" class="portfolio portfolio_activity">
      <hr class="portfolio_line portfolio_activity" />

      <div id="list_files_sent">
        <table border="0" width="70%" cellspacing="0" cellpadding="0" style="padding-bottom: 10px; padding-top: 10px;">
          <tbody>


            <% @comments_files.each do |c| %>
              <tr>
                <td align="right">
                  <div id="files_list">
                    <span><%= c["attachment_file_name"] %></span><br />
                    <span style="font-style: italic; color: gray;">Enviado em <%=l c["attachment_updated_at"], :format => :files %></span>
                  </div>
                </td>
                <td align="left" style="float: left; margin-left: 10px; margin-top: 2px;">
                  <%= link_to "Excluir", {:action => :delete_file, :id => c["id"]} %>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>

      <br />
      <div id="send_file">
        <span class="alter_photo_text"><%= t(:your_computer) %></span>

        <%= form_for(:portfolio_professor, :html => { :multipart => true }, :url => {:action => 'upload_files_public_area', :curriculum_unit_id => params[:id]}) do |f| %>
          <%= f.file_field :attachment%>
          <br />
          <div class="alter_photo_text"><%=raw t(:send_file_portfolio_obs)%></div><br />
          <div class="alter_photo_text"><%=raw t(:send_file_portfolio_text)%></div>
          <div style="float: right; padding-bottom: 10px; padding-right: 10px;">
            <%= f.submit t(:send) %>
          </div><br /><br /><br />
        <% end %>
      </div>

    </div>

  </div>

</div>