#show_enrollment_info
  %h1#lightBoxDialogTitle= t(".details")

  .form-inputs.block_content.show
    .input
      = label_tag t(".category"), nil, class: "form_label"
      %span.label_info= ((@course.nil? ? @curriculum_unit.curriculum_unit_type.description : CurriculumUnitType.find(7).description) rescue '')
    .input
      = label_tag t(".course"), nil, class: "form_label"
      %span.label_info= (@course.nil? ? @group.offer.course.try(:code_name) : @course[:name])
    - if @course.nil?
      .input
        = label_tag t(".curriculum_unit"), nil, class: "form_label"
        %span.label_info= @curriculum_unit.try(:code_name)
    .input
      = label_tag t(".semester"), nil, class: "form_label"
      %span.label_info= (@course.nil? ? @group.offer.semester.name : @course[:semester])
    .input
      = label_tag t(".group"), nil, class: "form_label"
      %span.label_info= (@course.nil? ? @group.code : @course[:group])
    .input
      = label_tag t(".responsibles"), nil, class: "form_label"
      - if @course.nil?
        %span.label_info= (@responsibles.empty? ? t(".not_defined") : @responsibles.map{|r| "#{r.name} (#{r.profile_name})"}.join(", "))
      - else
        %span.label_info= (@course[:responsibles].empty? ? t(".not_defined") : @course[:responsibles].join(", "))
    - if @course.nil? && !@curriculum_unit.blank? 
      .input
        = label_tag t(".syllabus"), nil, class: "form_label"
        %span.label_info= @curriculum_unit.syllabus
      - unless @curriculum_unit.working_hours.blank?
        .input
          = label_tag t(".working_hours"), nil, class: "form_label"
          %span.label_info= @curriculum_unit.working_hours
      - unless @curriculum_unit.credits.blank?
        .input
          = label_tag t(".credits"), nil, class: "form_label"
          %span.label_info= @curriculum_unit.credits
      - unless @curriculum_unit.prerequisites.blank?
        .input
          = label_tag t(".prerequisites"), nil, class: "form_label"
          %span.label_info= @curriculum_unit.prerequisites
    - period_info = (@course.nil? ? enrollment_info(@group.offer) : {offer: @course[:offer_date], period: @course[:enrollment_date]})
    .input
      = label_tag t(".offer_period"), nil, class: "form_label"
      %span.label_info= (period_info[:offer].nil? ? t(".not_defined") : period_info[:offer])
    .input
      = label_tag t(".enrollment_period"), nil, class: "form_label"
      %span.label_info= (period_info[:period].nil? ? t(".not_defined") : period_info[:period])

    .schedule_dates{style: "float: right;"}
      .right.right_buttons
        = button_to_function t(".close"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"
