.block_wrapper
  .block_title
    %h2
      %i.icon-suitcase
      = t('.title', name: @user.name)
    .right_buttons
      - unless @public_files.empty?
        = link_to content_tag(:i, nil, class: 'icon-install', :'aria-hidden' => 'true'), zip_download_public_files_path(user_id: @user.id), class: 'btn', :'aria-label' => t('.download_alt', name: @user.name), :'data-tooltip' => t('.download')
  .block_content
    - unless @public_files.blank?
      %table.tb_list{summary: t('.summary')}
        %thead
          %tr.lines
            %th.no_sort{:'aria-hidden' => 'true'}
            %th#file= t('.file')
            %th#size= t('.size')
            %th#sent_on= t('.sent_on')
        %tbody
          - @public_files.each do |file|
            = render partial: 'file', locals: { file: file, destroy: false }
    - else
      .block_content_text.text_none= t(:itens_not_found)