%h1#lightBoxDialogTitle= t(".title")
.block_content{style: "padding: 5px;"}
  = form_for @public_file do |f|
    = f.file_field :attachment
    .block_content_gray{style: "padding: 5px;"}
      %p=raw t(:send_file_obs)
      %p=raw t(:send_file_text)
    .right_buttons
      = button_tag t(:save), class: "btn btn_main save_file", type: :button

:javascript
  $(function(){
    $(".save_file").click(function(){
      var tbody = $("tbody.public_files");
      $('form#new_public_file').serialize_and_submit({
        files: true,
        prepend_to_list: tbody,
        complement_success: function(){
          $.fancybox.close();
          tbody.parent().find("thead").first().show();
          flash_message("#{t('public_files.success.new')}", "notice");
        }
      });
    });
  });
  