.ip_control
  .title-warning
    %div.whats_ip_title
      = link_to raw(t('.whats_ip_title')),"#", onclick:  'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
      = link_to content_tag(:i, nil, class: 'icon-arrow-down-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
      = link_to content_tag(:i, nil, class: 'invisible icon-arrow-up-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
    %div.whats_ip.invisible= raw t('.whats_ip')

  .title-warning
    %div.ufc_title
      = link_to raw(t('.ufc_title')), 'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
      = link_to content_tag(:i, nil, class: 'icon-arrow-down-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
      = link_to content_tag(:i, nil, class: 'invisible icon-arrow-up-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
    %div.ufc.invisible=raw t('.ufc')

  .title-warning
    %div.find_my_ip_title
      = link_to raw(t('.find_my_ip_title')),"#", onclick:  'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
      = link_to content_tag(:i, nil, class: 'icon-arrow-down-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
      = link_to content_tag(:i, nil, class: 'invisible icon-arrow-up-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
    %div.find_my_ip.invisible=raw t('.find_my_ip')

  .title-warning
    %div.find_other_ip_title
      = link_to raw(t('.find_other_ip_title')),"#", onclick:  'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
      = link_to content_tag(:i, nil, class: 'icon-arrow-down-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
      = link_to content_tag(:i, nil, class: 'invisible icon-arrow-up-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
    %div.find_other_ip.invisible=raw t('.find_other_ip')

  .title-warning
    %div.ipv_title
      = link_to raw(t('.ipv_title')),"#", onclick:  'hide_or_show_info(this)', onkeydown: 'click_on_keypress(event, this);'
      = link_to content_tag(:i, nil, class: ' icon-arrow-down-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
      = link_to content_tag(:i, nil, class: 'invisible icon-arrow-up-triangle', :"data-tooltip" => t('editions.tools.expand')),"#", onclick:  'hide_or_show_info(this)'
    %div.ipv.invisible=raw t('.ipv')
