= javascript_include_tag "edition.js"

%span.form_requirement= t(:required_fields)

.lesson_form
  =simple_form_for(@lesson, :html => {:id => "lesson_form"}) do |f| 

    .form-inputs.block_content
      -start_date = @lesson.schedule.nil? ? Date.today : (@lesson.schedule.start_date || Date.today)
      -end_date = @lesson.schedule.nil? ? Date.today : (@lesson.schedule.end_date || Date.today)
      =f.input :name, :required => true
      =f.input :description  
      .lesson_date
        =text_field_tag "start_date", "", :id => "from_date", :title => "#{t(:from_date)}", :value => "#{l(start_date.to_date, :format => :default)}", :class => "date_text_field", :size => 10, :required => true
        =text_field_tag "end_date", "", :id => "until_date", :title => "#{t(:until_date)}", :value => "#{l(end_date.to_date, :format => :default)}", :class => "date_text_field invisible", :size => 10, :required => true
        .select_end_date
          =check_box("check","end_date", :id => 'check_end_date')
          ="habilita essa data final..."
      .lesson_status 
        =f.select :status, ([ ['rascunho', Lesson_Test.to_i], ['liberada', Lesson_Approved.to_i] ]), :include_blank => false
      .lesson_type 
        =f.select :type_lesson, ([ ['link', Lesson_Type_Link.to_i], ['arquivo',Lesson_Type_File.to_i] ]), :include_blank => false
        .url
          =f.input :address
          ="digite isso: www.qq.com"

    .block_content.form-actions
      =button_tag t(:save, :scope => [:discussion, :buttons]), :class => "btn btn_main", :alt => t(:save, :scope => [:discussion, :buttons]), :onclick => "javascript:submit_form('curriculum_unit_form', 'curriculum_unit_form', '#{list_lessons_path}', '');", :type => "button"
      =button_tag t(:cancel, :scope => [:discussion, :buttons]), :class => "btn btn_default", :onclick => "removeLightBox();", :type => "button", :alt => t(:cancel, :scope => [:discussion, :buttons])

:css
  .ui-datepicker{ 
    width: 15em; 
    padding: .2em .2em 0; 
    display: none;
    background-color: white;
  }

:javascript

  $(function(){
    var options = $.extend($.datepicker.regional['#{I18n.locale}']);
    options.dateFormat = global_config.locale.dateFormat;
    $('#from_date, #until_date').datepicker(options);
  });

  $("input:checkbox").change(function() {
    if (!this.checked){
        $("#until_date").val('');
        $("#until_date").hide();
      }
    else {
        $("#until_date").val('#{I18n.l(Date.today, :format => :default).to_s}');
        $("#until_date").show();
      }
    });

  $("#lesson_type_lesson").change(function(){
    t = $('#lesson_type_lesson').val(); 
    alert(t);
  });
