.titlebar#lesson_header
  .inline
    .breadcrumb
      %span= "#{@curriculum_unit.name} >"
      - if @lessons_modules.size == 1
        %span= @lessons_modules.first.name
      - else
        %span= select_tag :lesson_module, options_from_collection_for_select(@lessons_modules, "id", "name", @lesson.lesson_module.id)
      %span= " > "
      %span#select_lesson= render partial: "select_lesson", locals: {lessons: @lessons}
      %span#lessons{:"data-info" => @lessons_info}

:javascript
  $(function(){
    var get_lessons_url = "#{get_lessons_path(curriculum_unit_id: @curriculum_unit_id, lesson_module: 'module_param')}";
    var lessons = null;

    $("select#lesson_module").change(function(){
      $.get(get_lessons_url.replace('module_param', $(this).find("option:selected").val()), function(data){
        // update lesson select options
        $("#select_lesson").html(data);
        // get new lesson info
        lessons = jQuery.parseJSON($("#lessons").data("info"));
        var lesson_info     = lessons[0];
        // open first lesson
        open_lesson(lesson_info.path, lesson_info.url);
      });
    });
  });
