- admin_with_groups = (!@selected.nil? && @selected == 'GROUP')
.block_wrapper.list_lessons{ :"data-link-list" => lessons_path }
  - unless @lessons_modules.empty?
    - @lessons_modules.each do |lmodule|
      %div{ class: (admin_with_groups ? 'block_title_module block_module' : 'block_title') }
        %h2
          %i.icon-class{:'aria-hidden' => 'true'}
          = lmodule.name
        - if admin_with_groups
          .input.groups_tags= render 'groups/groups_tags', groups: lmodule.groups, tool: lmodule, all_groups: nil, paths: nil
      %table.tb_list{ summary: t('.summary', module_name: lmodule.name) }
        %thead
          %tr.lines
            %th{id: "name_#{lmodule.id}"}= t('.lesson_table_title')
            %th.date{id: "period_#{lmodule.id}"}= t('.lesson_table_date')
            %th.date{id: "notes_#{lmodule.id}"}= t('.lesson_notes')
            - if @responsible
              %th.no_sort{id: "accept_#{lmodule.id}"}= t('.acceptance')
        %tbody
          - lmodule.lessons_to_open(current_user, true).each do |lesson|
            %tr.lines{ class: lesson.closed? ? 'period_ended' : '', id: "lesson_#{lesson.id}" }= render(lesson)
  - else
    .block_content.block_content_text= t(:lesson_message)

= javascript_include_tag 'contextual_help/lessons'
