.block_wrapper
  - unless @lessons.nil? or @lessons.empty?
    .block_title
      %h2
        %i.icon-class
        = t(:lesson_title)
    %table.tb_list{:cellpadding => "10", :cellspacing => "0", :width => "100%", :border => "0"}
      %thead
        %tr.lines
          %th{:align => "left"}=t ".lesson_table_title" 
          %th{:align => "center", :style => "width: 22%;"}=t(".lesson_table_date")
      %tbody
        - curriculum_unit_id = @curriculum_unit.id
        - @lessons.each do |lesson|
          - lesson_closed_class = "period_ended" if lesson.closed == 't'
          %tr.lines{:class => lesson_closed_class }
            %td
              - if (not(lesson.schedule.end_date.nil?)) and (lesson.schedule.end_date < Date.today)
                = lesson.name
                = "(#{t(:lesson_closed_short)})" if lesson.closed == 't'
              - else
                = link_to lesson.name, {}, :class => "link_content", :onclick => "javascript:show_lesson('#{lesson_path(lesson.lesson_id)}')"
            %td
              - if lesson.schedule.end_date.nil? 
                = l lesson.schedule.start_date, :format => :normal 
              - elsif lesson.schedule.end_date >= Date.today 
                = l lesson.schedule.start_date, :format => :normal
                = "-"
                = l lesson.schedule.end_date, :format => :normal 
              - elsif lesson.schedule.end_date < Date.today 
                = l lesson.schedule.start_date, :format => :normal
                = "-"
                = l lesson.schedule.end_date, :format => :normal 
  - else
    .block_content.block_content_text= t(:lesson_message)
