= javascript_include_tag "edition.js"

= hidden_field_tag(:allocation_tags_ids, params[:allocation_tags_ids]) 

.right_buttons
  = button_tag t(:new, :scope => [:lesson_modules, :buttons]), :class => 'btn btn_main', :id => "new_module"

- unless @lesson_modules.nil? or @lesson_modules.empty?
  
  - @lesson_modules.each_with_index do |m, idxm|
    .block_wrapper.list_lessons
      - lessons = lessons_by_module(m.id)

      .block_title
        %h2
          .lesson_arrows
            - unless idxm == 0
              .lesson_arrow_up
                = link_to (image_tag "/assets/lesson/up_arrow.png", :alt => ''), "#", :onclick => "javascript: alert('sobe');", :id => 'up' 
            - unless idxm == @lesson_modules.count-1
              .lesson_arrow_down
                = link_to (image_tag "/assets/lesson/down_arrow.png", :alt => ''), "#", :onclick => "javascript: alert('desce');", :id => 'down' 
          = m.name
          = link_to (image_tag "/assets/lesson/edit.png", :alt => t(".edit_lesson_module")), "#", :class => 'block_title_button edit_module', :value => edit_lesson_module_path(m, :allocation_tags_ids => params[:allocation_tags_ids])
          = link_to (image_tag "/assets/lesson/delete.png", :alt => 'deletar módulo'), "#", :class => 'block_title_button delete_module', :value => lesson_module_path(m, :allocation_tags_ids => params[:allocation_tags_ids])
      .block_content_toolbar
        .block_toolbar_left
          =link_to (image_tag "/assets/lesson/add_lesson.png", :alt => ''), "#", :onclick => "javascript:open_lightbox('#{new_lesson_path(:allocation_tags_ids => params[:allocation_tags_ids])}','#{t(:new_lesson, :scope => [:lessons, :list])}',550,270);", :class => 'btn btn_main'

          = link_to (image_tag "/assets/lesson/import_lesson.png", :alt => ''), "#", :onclick => "javascript: alert('importar aula');", :id => 'import_lesson', :class => 'btn btn_main'

        .block_toolbar_right
          = link_to (image_tag "/assets/lesson/edit.png", :alt => ''), "#", :onclick => "javascript: edit_lesson('#{m.id}');", :id => 'edit_lesson', :class => 'btn btn_default'
          = link_to (image_tag "/assets/lesson/delete.png", :alt => ''), "#", :onclick => "javascript: alert('excluir aula');", :id => 'delete_lesson', :class => 'btn btn_default'
          = link_to (image_tag "/assets/lesson/download.png", :alt => ''), "#", :onclick => "javascript: download_lesson_zip('#{m.id}');", :id => 'download_lesson', :class => 'btn btn_default'
          = link_to (image_tag "/assets/lesson/release_lessons.png", :alt => ''), "#", :onclick => "javascript: alert('libera aulas');", :id => 'release_lessons', :class => 'btn btn_default btn_spacing_left'

      %table.tb_list
        %thead
          %tr.lines
            %th{:style => 'text-align:center;'}
              = check_box_tag( 'all', 'all', false, {:id => "all_m_#{m.id}", :class => 'lesson_check_all'} )
            %th{:style => 'text-align:center;'}= t(".order")
            %th= t(".name")
            %th{:style => 'text-align:center;'}= t(".availability")
            %th{:style => 'text-align:center;'}= t(".acceptance")
        %tbody
          
          - unless lessons.nil? or lessons.empty?

            - lessons.each_with_index do |lesson, idxl|
              - css_class = (!lesson.description.nil? and !lesson.description.empty?) ? "lines remove_bottom_line" : "lines"

              %tr{:class => css_class}
                %td{:style => "width: 25px;", :align => 'center' }
                  = check_box_tag( "m_#{m.id}", lesson.id, false, {:class => "m_#{m.id}"} )
                %td{:style => "width: 50px;", :align => 'center'}
                  .lesson_arrows
                    - unless idxl == 0
                      .lesson_arrow_up
                        = link_to (image_tag "/assets/lesson/up_arrow.png", :alt => ''), "#", :onclick => "javascript: alert('sobe');", :id => 'up'
                    - unless idxl == lessons.count-1
                      .lesson_arrow_down
                        = link_to (image_tag "/assets/lesson/down_arrow.png", :alt => ''), "#", :onclick => "javascript: alert('desce');", :id => 'down' 
                %td 
                  = link_to lesson.name, "#", { :onclick => "javascript: alert('abre aula');", :id => "lesson#{lesson.id}", :class => 'link_content' }

                %td{:style => "width: 160px", :align => 'center'}
                  =t(".since") unless !lesson.schedule.end_date.nil?
                  =l lesson.schedule.start_date, :format => :normal
                  - unless lesson.schedule.end_date.nil?
                    =' - '
                    =l lesson.schedule.end_date, :format => :normal

                %td{:style => "width: 70px", :align => 'center'}
                  - if lesson.status == Lesson_Test
                    =link_to (image_tag "/assets/lesson/rejected_lesson.png", :alt => ''), "#", :onclick => "javascript: alert('libera aula');", :id => 'reject_lesson'
                  - else
                    =link_to (image_tag "/assets/lesson/released_lesson.png", :alt => ''), "#", :onclick => "javascript: alert('bloqueia aula');", :id => 'release_lesson'

                  - if (!lesson.description.nil? and !lesson.description.empty?)
                    %tr.lines
                      %td{:style => "width: 25px;", :align => 'center' }
                      %td{:style => "width: 50px;", :align => 'center' }
                      %td{:colspan => 3, :class => 'lesson_description' }=lesson.description
          - else
            %tr.lines
              %td{:colspan => 5, :class => 'lesson_description' }
                =t(:none, :scope => [:lessons, :list])

- else
  .block_content.block_content_text 
    =t(:none, :scope => [:lesson_modules])

:javascript
  $(document).ready(function() {

    $(".lesson_check_all").click(function() {
      var check  = this.checked;
      var module = this.id.slice(4);
      $("."+module).each(function(i) {
          $(this).attr("checked",check);
      });
    });

    $("#new_module").click(function(){
      open_lightbox4('#{new_lesson_module_path(:allocation_tags_ids => params[:allocation_tags_ids])}', '#{t(".new_module")}');
    });

    $(".edit_module").click(function(){
      open_lightbox4($(this).attr('value'), $($(this).children()[0]).attr('alt'));
    });

    $(".delete_module").click(function(){
      delete_object($(this).attr('value'), '#{list_lessons_path(:allocation_tags_ids => @allocation_tags_ids)}');
    });

  });

  // função que retorna uma lista de ids das aulas selecionadas em determinado módulo
  function get_selected_lessons(module_id){
    lessons_ids = new Array;
    module_check_boxes = $('[name="m_'+module_id+'"]');
    // coloca, no array, todos os ids das aulas selecionadas para efetuar a ação do módulo
    module_check_boxes.map(function(){
      if(this.checked == true){ lessons_ids.push(this.value) }
    });
    return lessons_ids;
  }

  // verifica se pode realizar a ação (não permitirá e exibirá alerta se nenhuma aula tiver sido selecionada)
  function can_do_action(selected_lessons){
    if(selected_lessons.length == 0){
      alert('#{I18n.t(:must_select_lessons, :scope => [:lessons, :notifications])}');
      return false;
    }else{
      return true;
    }
  }

  // download dos arquivos das aulas selecionadas em um módulo
  function download_lesson_zip(module_id){
    allocation_tags_ids = $("#allocation_tags_ids").val();
    lessons_ids         = get_selected_lessons(module_id);

    if(can_do_action(lessons_ids)){
      window.location.href='#{download_files_lessons_path}?lessons_ids='+lessons_ids+'&allocation_tags_ids='+allocation_tags_ids;
    }alo
  }

  function edit_lesson(module_id){
    lessons = String(get_selected_lessons(module_id));
    allocation_tags_ids = $("#allocation_tags_ids").val();
    there_tab = lessons.indexOf(",") > -1 ? true : false;
    
    if (!there_tab) 
      if (lessons.length>0)
        location.href = "/lessons/"+lessons+"/edit?allocation_tags_ids="+allocation_tags_ids;
      else
        alert("aff... selecione uma aula :P");
    else
      alert("selecione apenas uma aula :P");
  }

