<div>

    <%= image_tag "icon_lesson.png", :alt=>t(:icon_lesson) %>
    <span class="page_title"><%= t(:lesson_title) %></span>
    <hr style="border: none; background-color: #b4b3b7; height: 1px; width:794px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

    <div>
      
      <% if @lessons %>
        <% curriculum_unit_id = @curriculum_unit.id %>
        <% @lessons.each do |lesson| %>
          <%= link_to lesson.name, {:controller => "lessons", :action => "list", :id => curriculum_unit_id, :lesson_id => lesson.lessonid}, :class=>'enrollment_link' %>
          <%= l lesson.start %> - <%= l lesson.end %>
          <br/>
        <% end %>
          
      <% else %>
        tem aula não... 
      <% end %>

    </div>

</div>

<% # abre aula caso alguma tenha sido clicada %>
<% if !@lesson.nil? %>
    <script type="text/javascript">
      function lesson_load() {
        show_lesson('/lessons/show');
      }
      window.onload = lesson_load;
    </script>
<% end %>