<%= raw render_group_selection %>

<div class="presentation_area">

  <div class="mysolar_header">
    <%= image_tag "icon_lesson.png", :alt=>t(:icon_lesson) %>
    <h1 class="mysolar_title"><%= t(:lesson_title) %></h1>
  </div>

  <div>
    <% if !(@lessons.nil? || @lessons.empty?) %>
      <table class="tb_list" cellpadding="10" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th align="left"><%= t(:lesson_table_title) %></th>
            <th style="width: 200px"><%= t(:lesson_table_date) %></th>
          </tr>
        </thead>
        <tbody>
          <% curriculum_unit_id = @curriculum_unit.id %>
          <% @lessons.each do |lesson| %>
            <tr class="lines">
              <td>
                <a class="link_content" href="javascript:show_lesson('/lessons/show?id=<%=curriculum_unit_id%>&l=<%=lesson.lessonid%>')"><%=lesson.name%></a>
              </td>
              <td align="center" style="width: 200px;">
                <%= l lesson.schedule.start_date %> - <%= l lesson.schedule.end_date %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= t(:lesson_message) %>
    <% end %>
  </div>
</div>