= javascript_include_tag 'lessons'

.lesson
  .header
    = render 'lessons/open/header'
  .content{ :"data-url" => open_lesson_path(@lesson) }
    %iframe#content_lesson{ src: @lesson.path, width: '100%', height: '100%', name: 'content_lesson', target: '_self', frameborder: 0, framespacing: 0 }

:javascript

  function find_note(name){
    var comment = '';
    var data =  {  
                  'lesson_note': {
                    'name': name,
                    'lesson_id': "#{@lesson.id}"
                  }
                };  
   
    $.ajax({
      url: "#{find_lnotes_path}",
      data: data,
      method: 'GET',
      async: false,
      success: function(data){
        comment = data.content;
      }, 
      error: function(){
        alert("#{t('lesson_notes.error.cant_find_note')}");
      }
    });

    return comment;
  }

  function create_or_update_note(name, description){
    var data =  {  
                  'lesson_note': {
                    'name': name,
                    'description': description,
                    'lesson_id': "#{@lesson.id}"
                  },
                  "#{request_forgery_protection_token}": "#{form_authenticity_token}"
                };

    $.post("#{create_or_update_lnotes_path}", data, function(data){
      alert("#{t('lesson_notes.success.created_updated')}");
    }).error(function(data){
      alert("#{t('lesson_notes.error.cant_create_note')}");
    });   
  }
