#screen-login
  %nav
    %ul#login-header
      %li#login-bt= link_to t(:sign_in), "#void", onclick: "open_login_tab()", id: "login-tab"
      %li#register-bt.inactive= link_to t(:sign_up), "#", onclick: "open_registration_tab()", id: "register-tab"

  #login-form
    = form_for(resource_name) do |f|
      .form-field= f.text_field :login, id: "login-input", placeholder: t(:user_place_holder), tabindex: "1", :'aria-label' => t(:user_place_holder)
      .form-field= f.password_field :password, id: "password", placeholder: t(:password_place_holder), tabindex: "2", :'aria-label' => t(:password_place_holder)
      = f.submit t(:signin), id: "submit-login", tabindex: "3"
    - if (ENV["SOLAR_CURSOS"] == "false")
      #flash_message{style: 'font-size:10pt;margin-left: 2%; margin-right:2%'}=raw"Alunos e professores do presencial devem utilizar mesmo login e senha do SIGAA. Professor, para importar suas disciplinas, <a href='https://drive.google.com/file/d/1e6pxe7v8M7GelJA1ZeBA3uUGQK7pgj3A/view?usp=sharing' target='_blank'>habilite o uso do Solar no SIGAA (A importação pode levar até 24h úteis)</a>."
      #flash_message{style: 'font-size:10pt;margin-left: 2%; margin-right:2%'}=raw"<a href='http://solarcursos.virtual.ufc.br' target='_blank'>Para acessar os cursos da DIFOP/PROGEP (exceto o curso de formação de tutores), clique aqui.</a>"

    %br
    #link
      %a#link-password{href: new_user_password_path}= t(:pwd_recovery_subtitle)
  #login-register
    = form_tag(verify_cpf_users_path, method: :get) do
      = hidden_field_tag :locale, params[:locale]
      .form-field
        %input#cpf-register{name: "cpf", placeholder: t(:cpf_place_holder), type: "text", :'aria-label' => t(:cpf_place_holder)}/
      = submit_tag(t(:verify), id: "submit-cpf")

  .flash_message_wrapper
    - flash.each do |name, msg|
      - unless name == :timedout
        #flash_message{class: name}= content_tag :span, msg

  / # = link_to image_tag("help-solar-grande2.png", alt: t(:solar_faq)), faq_path, target: '_blank', :'aria-label' => t(:login_faq)+ t(:new_window), id: "faq-button"
  / # = link_to image_tag("app-solar-grande2.png", alt: t(:login_app)), apps_path, target: '_blank', :'aria-label' => t(:login_app)+ t(:new_window)
  %br
  = image_tag("logos_brancos6.png", alt: '',  size: "290x80")
  %br
  - if (ENV["SOLAR_CURSOS"] == "false")
    .app
      %h2
        =t(:login_app2)
        = content_tag(:i, nil, class: 'icon-mobile', :'aria-hidden' => 'true')
      = link_to image_tag("apps/apple_#{I18n.locale}.svg", alt: t(:form_apple_store2) + t(:new_window)), "https://itunes.apple.com/us/app/solar-mobilis/id1213025314?ls=1&mt=8", class: 'apple-app', target: '_blank'
      = link_to image_tag("apps/google-play-badge_#{I18n.locale}.png", alt: t(:form_google_play2) + t(:new_window)), "https://play.google.com/store/apps/details?id=br.ufc.virtual.solarmobilis&hl=#{I18n.locale}&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1", class: 'google-app', target: '_blank'
  - else
    #fail
    %br
  .fb-like
    %script{src: "https://connect.facebook.net/en_US/all.js#xfbml=1"}
    %fb:like{"data-href" => YAML::load(File.open('config/facebook.yml'))['data-fanpage'], layout: "button_count", "data-show_faces" => "false", "data-width" => "450"}

:javascript
  function access_without_problems(){
    $(".instructions").hide();
    $("#screen-login").removeClass("invisible");
  }

  $("#login-tab").on('blur', function(){
    $("#login-input").focus();
  });

  $("#submit-login").on('blur', function(){
    $("#link-password").focus();
  });

  $("#link-password").on('blur', function(){
    $("#register-tab").focus();
  });

  $("#register-tab").on('blur', function(){
    if($("#register-tab").parent().hasClass("inactive")){
      $(".apple-app").focus();
    }
  });

  $(".apple-app").on('blur', function(){
    $(".google-app").focus();
  });

  $(function(){
    if($("#flash_message span").text().trim().length !== 0)
      focus_element($("#flash_message"));

    $('#accesskey_maincontent').prop('href', '#login-form');
  });
