#screen-login
  %ul#login-header
    %li#login-bt
      = link_to t(:sign_in), '#'
    %li#register-bt.inactive
      = link_to t(:sign_up), '#'
  #login-form
    = form_for(resource_name) do |f|
      .form-field
        = f.text_field :login, :id => "login", :placeholder=> t(:user), :tabindex => "1"
      .form-field
        = f.password_field :password, :id => "password", :placeholder=> t(:password), :tabindex => "2"
      = f.submit t(:signin), :id => "submit-login", :tabindex => "3"
  #login-register
    = form_tag(verify_cpf_users_path, method: :get) do
      = hidden_field_tag :locale, params[:locale]
      .form-field
        %input#cpf-register{:name => "cpf", :placeholder => "CPF", :type => "text"}/
      = submit_tag(t(:verify), id: "submit-cpf")

  .flash_message_wrapper
    - flash.each do |name, msg|
      #flash_message{class: name}
        = content_tag :span, msg

  #link
    %a#link-password{:href => new_user_password_path}= t(:pwd_recovery_subtitle)

  .fb-like
    %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
    %fb:like{"data-href" => YAML::load(File.open('config/facebook.yml'))['data-fanpage'], :layout => "button_count", "data-show_faces" => "false", "data-width" => "450"}
