#screen-login
  %ul#login-header
    %li#login-bt= link_to_function t(:sign_in), "open_login_tab()", id: "login-tab"
    %li#register-bt.inactive= link_to_function t(:sign_up), "open_registration_tab()", id: "register-tab"

  #login-form
    = form_for(resource_name) do |f|
      .form-field= f.text_field :login, id: "login-input", placeholder: t(:user_place_holder), tabindex: "1", :'aria-label' => t(:user_place_holder)
      .form-field= f.password_field :password, id: "password", placeholder: t(:password_place_holder), tabindex: "2", :'aria-label' => t(:password_place_holder)
      = f.submit t(:signin), id: "submit-login", tabindex: "3"
    #link
      %a#link-password{href: new_user_password_path}= t(:pwd_recovery_subtitle)
  #login-register
    = form_tag(verify_cpf_users_path, method: :get) do
      = hidden_field_tag :locale, params[:locale]
      .form-field
        %input#cpf-register{name: "cpf", placeholder: t(:cpf_place_holder), type: "text", :'aria-label' => t(:cpf_place_holder)}/
      = submit_tag(t(:verify), id: "submit-cpf")

  .flash_message_wrapper
    - flash.each do |name, msg|
      - unless name == :timedout
        #flash_message{class: name}= content_tag :span, msg

  = link_to image_tag("help-solar-grande.png", alt: t(:solar_faq)), faq_path, target: '_blank', :'aria-label' => t(:login_faq)+ t(:new_window), id: "faq-button"

  .fb-like
    %script{src: "http://connect.facebook.net/en_US/all.js#xfbml=1"}
    %fb:like{"data-href" => YAML::load(File.open('config/facebook.yml'))['data-fanpage'], layout: "button_count", "data-show_faces" => "false", "data-width" => "450"}

:javascript
  function access_without_problems(){
    $(".instructions").hide();
    $("#screen-login").removeClass("invisible");
  }

  $("#login-tab").on('blur', function(){
    $("#login-input").focus();
  });

  $("#submit-login").on('blur', function(){
    $("#link-password").focus();
  });

  $("#link-password").on('blur', function(){
    $("#register-tab").focus();
  });

  $("#register-tab").on('blur', function(){
    if($("#register-tab").parent().hasClass("inactive")){
      $("#faq-button").focus();
    }
  });

  $(function(){
    if($("#flash_message span").text().trim().length !== 0)
      focus_element($("#flash_message"));
  });
