<!-- Portlets -------------------------->
<div id="mysolar_content">
  <div class="mysolar_portlets_coluna">

    <div class="mysolar_portlets_portlet">
      <div class="mysolar_portlets_header">Novidades</div>
      <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

    <div class="mysolar_portlets_portlet">
      <div class="mysolar_portlets_header">Aulas</div>
      <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

  </div>

  <div class="mysolar_portlets_coluna">

    <div class="mysolar_portlets_portlet">
      <div class="mysolar_portlets_header">Atividades Recentes</div>
      <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

  </div>

  <div class="mysolar_portlets_coluna">

    <div class="mysolar_portlets_portlet">
      <div class="mysolar_portlets_header">Agenda</div>
      <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

    <div class="mysolar_portlets_portlet">
      <div class="mysolar_portlets_header">F칩rum</div>
      <div class="mysolar_portlets_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

  </div>
</div>

<script>
  $(function() {
    $( ".mysolar_portlets_coluna" ).sortable({
      connectWith: ".mysolar_portlets_coluna"
    });
    $( ".mysolar_portlets_coluna" ).disableSelection();
  });
</script>















<div id="mysolar_sidebar">
<%#= render :partial => "sidebar" %>

  <div id="mysolar_boxid">
    <div id="mysolar_id">
      <%= image_tag @user.photo.url(:small), :alt => "Imagem do usu치rio #{@user.nick}" %><br/>
      <%= @user.nick%>
    </div>
    <div id="mysolar_options">
			Perfil <br />
			Portfolio <br />
			Blog <br />
			Personalizar <br />
    </div>
  </div>
</div>

<div id="mysolar_topbar">
<%#= render :partial => "topbar" %>

  <div id="mysolar_logo">
    <%= image_tag 'solar.png', :alt => "Logo do Solar" %><br/>
  </div>
  <div id="mysolar_top_options">
		ajuda - 

		<%= link_to_if(current_user, "Sair", logout_path) %>
  </div>
</div>







<!--  Chat ------------------------>
<div id="mysolar_chat_area">
  <div id="mysolar_chat_contatos">
    <div id="mysolar_chat_barra">
      <%= image_tag("chat_online.png")%>Chat
      <span style="float:right;">
        <a id="mysolar_chat_min_button" onclick="toggle_chat('mysolar_chat_list')">-</a>
        <a id="mysolar_chat_max_button" style="display:none;" onclick="toggle_chat('mysolar_chat_list')">+</a>
      </span>
    </div>
    <div id="mysolar_chat_list">
      <div id="mysolar_chat_list_internal">
        <%= image_tag("chat_online.png")%>Pata<br/>
        <%= image_tag("chat_online.png")%>Peta<br/>
        <%= image_tag("chat_online.png")%>Pita<br/>
        <%= image_tag("chat_busy.png")%>Pota<br/>
        <%= image_tag("chat_busy.png")%>Pato<br/>
        <%= image_tag("chat_busy.png")%>Pot칩<br/>
        <%= image_tag("chat_offline.png")%>Cot칩<br/>
        <%= image_tag("chat_offline.png")%>William<br/>
      </div>
      <hr class="mysolar_chat_hr"/>
      <div style="text-align: right;padding-right: 3px;">@@@</div>
    </div>
  </div>
</div>

