<script type="text/javascript">
  $(function(){

    $('#send_attachment').click(function(e){
      e.preventDefault(); // cancel the link behavior

      // selecionando a div principal da window
      $('#window_portfolio_send_file').window_upload_files();
    });

  });
</script>

<div class="boxes" id="window_portfolio_send_file" style="white-space: normal;">

  <div id="dialog" class="window" style="height: 322px;">
    <div id="title">
      <table border="0" cellspacing="0" width="100%">
        <tr>
          <td style="width: 97%;">
            <b class="alter_photo_text"><%=t(:send_file_portfolio)%></b>
          </td>
          <td align="center" style="background-color: #fff;">
            <a href="#" class="close"><b>x</b></a>
          </td>
        </tr>
      </table>
    </div>

    <span class="alter_photo_text"><%= t(:your_computer) %></span>

    <%= form_for(:portfolio, :html => { :multipart => true }, :url => {:controller => :portfolio,
        :action => :upload_files_public_area, :curriculum_unit_id => params[:id]}) do |f| %>
      <%= f.file_field :attachment%>
      <br />
      <div class="alter_photo_text"><%=raw t(:send_file_portfolio_obs)%></div><br />
      <div class="alter_photo_text"><%=raw t(:send_file_portfolio_text)%></div>
      <div id="my_personal_data_button">
        <input type="button" class="close solar_button_gray" value="<%= t(:cancel)%>"/>
        <%= f.submit t(:send), :id => "photo_submit", :class => "solar_button_gray"%>
      </div>
    <% end %>
  </div>

  <div id="mask"></div>
</div>