<% if flash[:success] || flash[:error] || flash[:notice]%>
  &nbsp;<br/>
  <%=raw message %>&nbsp;
  &nbsp;<br/>
<% end %>
&nbsp;

<div>
  <span class="page_title">
    <%= t(:portfolio_title)%>
  </span>
  <span class="page_title">
    <%= @curriculum_unit.name unless @curriculum_unit.nil? %>
  </span>
</div>

<div>

  <!-- Descricao da atividade -->

  <div class="portfolio_header_content">
    <div class="portfolio_title">
      <div style="text-align: left;">
        <span style="text-align: left;"><%= @activity.name %></span>
        <span style="font-style: italic; color: gray; text-align: right;">
          <%= t(:date_name)%>: <%= @activity.initial_date %> - <%= @activity.final_date %>
        </span>
      </div>
    </div>
    <div class="portfolio_image">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
    </div>
  </div>

  <div id="individual_activity" class="portfolio">
    <hr class="portfolio_line" />

    <!-- Descricao da atividade -->

    <table cellpadding="5" cellspacing="0" class="portfolio_table">
      <thead>
        <tr class="rowtable_even_portfolio">
          <td class="td_blue_portfolio_first"></td>
          <td class="td_blue_portfolio" align="center"><span style="font-weight: bold;"><%= t(:situation) %></span></td>
          <td class="td_blue_portfolio" align="center"><span style="font-weight: bold;"><%= t(:grade) %></span></td>
        </tr>
      </thead>

      <tbody>
        <tr class="rowtable_even_portfolio" >
          <td class="td_blue_portfolio_first">
            <%= @activity.enunciation %><br /><br />
          </td>
          <td class="td_blue_portfolio" style="width: 70px;">
            <a href="#" class="assignment_<%= @correction %>">
              <%= t(@correction.to_sym) %>
            </a>
          </td>
          <td class="td_blue_portfolio" style="width: 50px; font-weight: bold;" align="center">
            <% unless @grade.nil? %>
              <%= @grade.to_f %>
            <% else %>
              <%= '-' %>
            <% end %>
          </td>
        </tr>
      </tbody>

    </table>

    <div style="background-color: #FFF">
      <br/>
    </div>
  </div>

  <!-- Comentarios do professor -->

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:comments) %></div>
    <div class="portfolio_image"><%= image_tag "icon_comments.png" %></div>
  </div>

  <div id="grade" class="portfolio">
    <hr id="portfolio_line_g" class="portfolio_line" />

    <table cellpadding="5" cellspacing="0" class="portfolio_table">
      <tbody align="left">

        <% unless @comment.nil? %>
          <tr>
            <td colspan="4"><%= @comment %></td>
          </tr>
        <% end %>

        <% @files_comments.each_with_index do |reg, idx| %>
          <tr style="height: 35px;">
            <td class="border_line" style="width: 10px;"><%= image_tag icon_attachment(reg["attachment_file_name"]) %></td>
            <td class="border_line">
              <%= link_to reg["attachment_file_name"], {:controller => :portfolio, :action => :download_file_comment, :id => reg["id"]} %>
            </td>
            <td class="border_line"><span style="color: gray;"><%= format('%.2fKB', reg["attachment_file_size"].to_i/1024.0) %></span></td>
            <td class="border_line"><%= t(:sent_in) %>: <span style="color: gray;"><%=l reg["attachment_updated_at"], :format => :files unless reg["attachment_updated_at"].nil? %></span></td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <div style="background-color: #FFF">
      <br/>
    </div>
  </div>

  <!-- Arquivos enviados -->

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:sent_files) %></div>
    <div class="portfolio_image">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
    </div>
  </div>

  <div id="portfolio" class="portfolio">
    <hr id="portfolio_line_pa" class="portfolio_line" />

    <table cellpadding="5" cellspacing="0" class="portfolio_table">
      <tbody align="left">

        <% classe = "" %>
        <% @files_sent.each_with_index do |pa, idx| %>
          <% classe = "border_line" if idx > 0 %>

          <tr style="height: 35px;">
            <td class="<%= classe %>" style="width: 10px;"><%= image_tag icon_attachment(pa["attachment_file_name"]) %></td>
            <td class="<%= classe %>">
              <%= link_to pa["attachment_file_name"], {:controller => :portfolio, :action => :download_file_individual_area, :id => pa["id"]} %>
            </td>
            <td class="<%= classe %>"><span style="color: gray;"><%= format('%.2fKB', pa["attachment_file_size"].to_i/1024.0) %></span></td>
            <td class="<%= classe %>">
              <%= link_to t(:delete), {:controller => :portfolio, :action => :delete_file_individual_area, :id => pa["id"], :assignment_id => params[:id]}, :confirm => "#{t(:delete_file_msg)}" %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>

    <div style="background-color: #FFF">
      <br/>
    </div>

  </div>

  <!-- Enviar arquivos -->

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:send_files) %></div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <div id="send_files" class="portfolio">
    <hr id="portfolio_line_g" class="portfolio_line" />

    <%= form_for(:assignment_file, :html => { :multipart => true }, :url => {:controller => 'portfolio', :action => 'upload_files_individual_area', :assignment_id => params[:id]}) do |f| %>
      <%= f.file_field :attachment%> <%= f.submit t(:send), :class => "solar_button_gray"%>
      <br />
      <div class="alter_photo_text"><%= t(:send_file_portfolio_obs)%></div>
      <br />
      <div class="alter_photo_text"><%=raw t(:send_file_portfolio_text)%></div>
      <br/>
    <% end %>
  </div>

</div>