<div>
  <!-- Descricao da atividade -->
  <div id="activities" class="block_wrapper">
    <div class="block_title">
      <h2>
        <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon), :class=>'block_title_icon' %><%= @activity.name %>
      </h2>
    </div>
    <div id="individual_activity" class="block_content">
      <!-- Descricao da atividade -->
      <table class="tb_list" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr class="lines">
            <th><%=t(:activity_description)%></th>
            <th align="center" style="width:80px"><%= t(:date_name)%></th>
            <th align="center" style="width:80px"><%= t(:situation) %></th>
            <th align="center" style="width:50px"><%= t(:grade) %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="lines" >
            <td>
              <%= @activity.enunciation %>
            </td>
            <td class="center">
              <%=l @activity.schedule.start_date.to_time, :format => :files %><br /><%=l @activity.schedule.end_date.to_time, :format => :files %>
            </td>
            <td style="width: 70px" class="center">
              <span class="assignment_<%= @situation %>"><%= t(@situation.to_sym) %></span>
            </td>
            <td style="width: 50px; font-weight: bold;" class="center">
              <% unless @grade.nil? %>
                <%= @grade.to_f %>
              <% else %>
                <%= '-' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Integrantes do grupo -->
<% student_with_group_in_group_activity = true if (@activity.type_assignment == Group_Activity and !@group_name.nil?) %>
<% if student_with_group_in_group_activity %>
  <div id="group_participants" class="block_wrapper">
    <div class="block_title">
      <h2><%= image_tag "icon_participants.png", :alt => t(:icon_participants), :class=>'block_title_icon' %><%= @group_name %></h2>
    </div>
    <div id="grade" class="block_content">
      <table class="tb_list" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr class="lines">
            <th><%=t(:group_participants)%></th>
          </tr>
        </thead>
        <tbody>
          <tr class="lines" >
            <td>
              <% for participant in @group_participants %>
                <% unless participant == @group_participants.first %> <br/>  <% end %>
                <%= participant.user.name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

 <!-- Comentarios do professor -->
  <div id="professors_comments" class="block_wrapper">
    <div class="block_title">
      <h2><%= image_tag "icon_comments.png", :alt => t(:comments_icon), :class=>'block_title_icon' %><%= t(:comments_teacher) %></h2>
    </div>

    <div id="grade" class="block_content">
      <% unless (@comments.nil? or @comments.empty?) and (@files_comments.nil? or @files_comments.empty?) %>
        <% unless @comments.nil? %>
          <div class="block_content_text">
            <% for comment in @comments %>
              <%= comment %><br/>
            <% end %>
          </div>
        <% end %>
        <div class="block_content">
          <table class="tb_list" border="0" cellpadding="5" cellspacing="0" width="100%">
            <tbody>
              <% @files_comments.each_with_index do |reg, idx| %>
                <tr class="lines">
                  <td>
                    <%= image_tag icon_attachment(reg["attachment_file_name"]), {:class => 'file_icon'} %>
                    <% file_name = reg["attachment_file_name"].length > 35 ? reg["attachment_file_name"].slice(0..35) + '...' : reg["attachment_file_name"] %>
                    <%= link_to file_name, {:controller => :portfolio, :action => :download_file_comment, :id => reg["id"]}, {:class => 'link_content'} %>
                  </td>
                  <td style="width:50px;">
                    <span class="date_info">
                      <%= t(:size) %>:&nbsp;
                    </span>
                  </td>
                  <td style="width:60px;text-align:right">
                    <%= format('%.2f KB', reg["attachment_file_size"].to_i/1024.0) %>
                  </td>
                  <td style="width:70px;">
                    <span class="date_info">
                      <%= t(:sent_in) %>:&nbsp;
                    </span>
                  </td>
                  <td style="width:70px">
                    <%=l reg["attachment_updated_at"], :format => :files unless reg["attachment_updated_at"].nil? %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="block_content_text"><%= t(:itens_not_found) %></div>
      <% end %>
    </div>
  </div>

 <!-- Arquivos enviados -->
  <% student_with_no_group_in_group_activity = true if (@activity.type_assignment == Group_Activity and @group_name.nil?) %>
  <% unless student_with_no_group_in_group_activity %>
    <div class="block_title">
      <h2><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:sent_files) %></h2>
    </div>

    <div id="files_sent" class="block_content">
      <% unless @files_sent.nil? or @files_sent.empty? %>
        <table class="tb_list">
          <thead>
            <tr>
                <th><%= t(:name) %></th>
                <th style="width:80px"><%= t(:size) %></th>
                <th style="width:80px"><%= t(:sent_in) %></th>
                <th style="width:50px"></th>
              </tr>
          </thead>
          <tbody>
            <% @files_sent.each_with_index do |file_sent, idx| %>
              <tr class="lines">
                <td>
                  <% file_name = file_sent["attachment_file_name"].length > 35 ? file_sent["attachment_file_name"].slice(0..35) + '...' : file_sent["attachment_file_name"] %>
                  <% controller = {:controller => :portfolio, :action => :download_file_individual_area, :id => file_sent["id"]} %>

                  <%= link_to image_tag(icon_attachment(file_sent["attachment_file_name"])), controller, {:class => 'file_icon'} %>
                  <%= link_to file_name, controller, {:class => 'link_content'} %>
                </td>
                <td style="text-align:right">
                  <span><%= format('%.2f KB', file_sent["attachment_file_size"].to_i/1024.0) %></span>
                </td>
                <td>
                  <span><%=l file_sent["attachment_updated_at"], :format => :files %></span>
                </td>
                <% if @delete_files  %>
                  <td>
                    <%= button_to t(:delete), {:controller => :portfolio, :action => :delete_file_individual_area, :id => file_sent["id"], :assignment_id => params[:id]}, :confirm => t(:delete_file_msg), :class=>'btn btn_caution' %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="block_content_text"><%= t(:itens_not_found) %></div>
      <% end %>
        <!-- Enviar arquivos -->
        <div style="background-color:white;padding-top:6px">
          <% if @situation != 'not_started' && @delete_files %>
          <% group_assignment_id = @group_participants.first.group_assignment_id unless @group_participants.nil? %>
            <%= form_for(:assignment_file, :html => { :multipart => true }, :url => {:controller => 'portfolio', :action => 'upload_files_individual_area', :assignment_id => params[:id], :group_assignment_id => group_assignment_id}) do |f| %>
              <p><%= f.file_field :attachment%><%= f.submit t(:send), :class => "btn btn_default"%></p>
              <p class="block_content_gray"><%= t(:send_file_portfolio_obs)%></p>
              <p class="block_content_gray"><%=raw t(:send_file_portfolio_text)%></p>
            <% end %>
          <% end %>
        </div>
    </div>
    <% else %>
      <div class="red_notice"><%= t(:student_with_no_group) %></div>
    <% end %>
    <% if !(@situation != 'not_started' && @delete_files) %>
      <div class="red_notice"><%= t(:expired) %></div>
    <% end %>
  </div>