<div class="block_wrapper" id="activities_area">
  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:individual_activity)%></h2>
  </div>

  <!-- Atividades individuais -->
  <div class="block_content" id="individual_activity">
  <% unless @individual_activities.nil? or @individual_activities.empty? %>
    <table class="tb_list">
      <thead>
        <tr class="lines">
          <th style="">
            <span>
              <%=t(:activity_description)%>
            </span>                
          </th>
          <th align="center" style="width:70px"><%= t(:date_name)%></th>
          <th align="center" style="width:80px"><%= t(:situation) %></th>
          <th align="center" style="width:40px"><%= t(:grade) %></th>
          <th align="center" style="width:80px"><%= t(:comments) %></th>
        </tr>
      </thead>

      <tbody>
        <% @individual_activities.each_with_index do |ia, idx| %>
          <tr class="lines">
            <td>
              <h4><%= link_to ia["name"], {:controller => :portfolio, :action => :activity_details, :id => ia["id"]}, {:class => 'link_content'} %></h4>
              <% if ia["enunciation"].size > 180 %>
                <div class="enunciation">
                  <div class="enunciation_slice"><%= ia["enunciation"].slice(0..180) << '...' %></div>
                  <div class="enunciation_complete"><%= ia["enunciation"] %></div>
                  <div class="more_or_less">
                    <a href="#" class="enunciation_more link_content"><%= t(:more)%></a>
                    <a href="#" class="enunciation_less link_content"><%= t(:less)%></a>
                  </div>
                </div>
              <% else %>
                <%= ia["enunciation"] %>
              <% end %>
            </td>
            <td class="center">
              <%=l ia["start_date"].to_time, :format => :files %><br /><%=l ia["end_date"].to_time, :format => :files %>
            </td>
            <td class="center">
              <%=link_to t(ia["correction"].to_sym), {:action => :activity_details, :id => ia["id"]}, :class => "assignment_#{ia["correction"]}" %>
            </td>
            <td class="center">
              <span class="activity_grade"><%= (ia["grade"].nil?) ? '-' : ia["grade"].to_f %></span>
            </td>
            <td class="center">
              <%= image_tag( (ia["comments"].to_i > 0) ? "icon_comments.png" : "icon_no_comments.png" )%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
  </div>
</div>

<!-- Atividades em grupo -->

<div class="block_wrapper" id="activities_area">
  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:group_activities)%></h2>
  </div>

  <div class="block_content" id="individual_activity">
  <% unless @group_activities.nil? or @group_activities.empty? %>
    <table class="tb_list">
      <thead>
        <tr class="lines">
          <th style="">
            <span>
              <%=t(:activity_description)%>
            </span>                
          </th>
          <th align="center" style="width:70px"><%= t(:date_name)%></th>
          <th align="center" style="width:80px"><%= t(:situation) %></th>
          <th align="center" style="width:40px"><%= t(:grade) %></th>
          <th align="center" style="width:80px"><%= t(:comments) %></th>
        </tr>
      </thead>

      <tbody>
        <% @group_activities.each_with_index do |ia, idx| %>
          <tr class="lines">
            <td>
              <h4><%= link_to ia["name"], {:controller => :portfolio, :action => :activity_details, :id => ia["id"]}, {:class => 'link_content'} %></h4>
                <div class="enunciation">
                  <div class="enunciation_slice"><%= ia["enunciation"].slice(0..180) << '...' %></div>
                  <div class="enunciation_complete"><%= ia["enunciation"] %>
                      <% unless @groups_names[ia["id"].to_i].nil? %>
                        <div>
                          <%= t(:group_name) %>: <%= @groups_names[ia["id"].to_i] %>
                        </div>
                        <div>
                          <%= t(:portfolio_group_participants) %>: 
                          <% for participant in @groups_participants[ia["id"].to_i] %>
                            <%= participant.user.name %>
                            <% unless participant == @groups_participants[ia["id"].to_i].last %> , <% end %>
                          <% end %>
                        </div>
                      <% else %>
                        <div>
                          <%= t(:student_with_no_group) %>
                        </div>
                      <% end %>
                  </div>
                  <div class="more_or_less">
                    <a href="#" class="enunciation_more link_content"><%= t(:more)%></a>
                    <a href="#" class="enunciation_less link_content"><%= t(:less)%></a>
                  </div>
                </div>
            </td>
            <td class="center">
              <%=l ia["start_date"].to_time, :format => :files %><br /><%=l ia["end_date"].to_time, :format => :files %>
            </td>
            <td class="center">
              <%=link_to t(ia["correction"].to_sym), {:action => :activity_details, :id => ia["id"]}, :class => "assignment_#{ia["correction"]}" %>
            </td>
            <td class="center">
              <span class="activity_grade"><%= (ia["grade"].nil?) ? '-' : ia["grade"].to_f %></span>
            </td>
            <td class="center">
              <%= image_tag( (ia["comments"].to_i > 0) ? "icon_comments.png" : "icon_no_comments.png" )%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
  </div>
</div>

<div class="block_wrapper" id="public_area">
  <!-- area publica -->
  <div class="block_title">
    <h2><%= image_tag "icon_suitcase_portfolio.png", :alt => t(:portfolio_icon), :class=>'block_title_icon' %><%= t(:public_area)%></h2>
  </div>
  <div class="block_content" id="files_public_area">

    <% unless @public_area.nil? or @public_area.empty? %>

      <table class="tb_list">
        <tbody>
          <% @public_area.each_with_index do |pa, idx| %>
            <tr class="lines">
              <td class="file_data_icon" style="width: 10px;">
                <%= image_tag icon_attachment(pa["attachment_file_name"]) %>
              </td>
              <td>
                <%= link_to pa["attachment_file_name"], {:controller => :portfolio, :action => :download_file_public_area, :id => pa["id"]}, {:class => 'link_content'} %>
              </td>
              <td class="file_data_info" style="width: 80px;" align="center">
                <%= format('%.2f KB', pa["attachment_file_size"].to_i/1024.0) %>
              </td>
              <td class="file_data_info" style="width: 100px;" align="center">
                <%=l pa["attachment_updated_at"].to_time, :format => :files  %>
              </td>
              <td style="width: 60px" align="center">
                <%= button_to t(:delete), {:controller => :portfolio, :action => :delete_file_public_area, :id => pa["id"]}, :confirm => t(:delete_file_msg), :class=>'btn btn_caution' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
    <% end %>
    <div style="background-color: white;padding-top:6px">
      <input type="button" value="<%= t(:portfolio_upload_file) %>" id="send_attachment" class="btn btn_default"></input>
    </div>      
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".enunciation_more").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "none");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "block");
      return false;
    });

    $(".enunciation_less").click(function(){
      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "block");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "none");
      return false;
    });

    $('#send_attachment').click(function(e){
      e.preventDefault(); // cancel the link behavior
      url = "<%= url_for :public_files_send_portfolio %>"
      showLightBoxURL(url,500,320,true,'<%=t(:send_file_portfolio)%>');
    });
  });
</script>