
<!-- Apresenta o nome da unidade curricular -->
<div>
  <span class="page_title"><%= t(:portfolio_title) %></span>
  <span class="page_title"><%= curriculum_unit_name %></span>
</div>

<!-- Portfolio -->
<div>
  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:individual_activity)%></div> <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <!-- Atividades individuais -->

  <div id="individual_activity" class="portfolio">
    <hr class="portfolio_line" />

    <% @individual_activities.each_with_index do |ia, idx| %>

      <% if idx > 0 %>
        <hr class="portfolio_table_division" />
      <% end %>

      <table cellpadding="5" cellspacing="0" class="portfolio_table">
        <tr class="rowtable_even_portfolio">
          <td class="td_blue_portfolio_first">
            <span style="font-weight: bold;">
              <%= link_to ia["name"], {:controller => :portfolio, :action => :activity_details, :id => ia["id"]} %>
            </span>&nbsp;
            <span class="portfolio_activity_date">
              <%= t(:date_name)%>: <%=l ia["start_date"].to_time, :format => :files %> - <%=l ia["end_date"].to_time, :format => :files %>
            </span>
          </td>
          <td class="td_blue_portfolio" align="center"><span style="font-weight: bold;"><%= t(:situation) %></span></td>
          <td class="td_blue_portfolio" align="center"><span style="font-weight: bold;"><%= t(:grade) %></span></td>
          <td class="td_blue_portfolio" align="center"><span style="font-weight: bold;"><%= t(:comments) %></span> </td>
        </tr>

        <tr class="rowtable_even_portfolio" >
          <td class="td_blue_portfolio_first">

            <% if ia["enunciation"].size > 180 %>

              <div class="enunciation">
                <div class="enunciation_slice" style="display: block;">
                  <%= ia["enunciation"].slice(0..180) << '...' %>
                </div>
                <div class="enunciation_complete" style="display: none;">
                  <%= ia["enunciation"] %>
                </div>
                <br />
                <div style="text-align: right; display: block;" class="more_or_less">
                  <a href="#" class="enunciation_more" style="color: #204683; display: block;"><%= t(:more)%></a>
                  <a href="#" class="enunciation_less" style="color: #204683; display: none;"><%= t(:less)%></a>
                </div>
              </div>

            <% else %>
              <%= ia["enunciation"] %><br /><br /><!-- exibe todo o conteudo se tiver poucos caracteres -->
            <% end %>
          </td>
          <td class="td_blue_portfolio" style="width: 70px;" align="center">
            <%=link_to t(ia["correction"].to_sym), {:action => :activity_details, :id => ia["id"]}, :class => "assignment_#{ia["correction"]}" %>
          </td>
          <td class="td_blue_portfolio" style="width: 50px; font-weight: bold;" align="center">
            <%= (ia["grade"].nil?) ? '-' : ia["grade"].to_f %>
          </td>
          <td class="td_blue_portfolio" style="width: 95px;" align="center">
            <%= image_tag( (ia["comments"].to_i > 0) ? "icon_comments.png" : "icon_no_comments.png" )%>
          </td>
        </tr>
      </table>

    <% end %>
    <div style="background-color: #FFF">
      <br/>
    </div>
  </div>

  <!-- Provas -->

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:tasks) %></div> <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <div id="grade" class="portfolio">
    <hr id="portfolio_line_g" class="portfolio_line" />

    <table cellpadding="5" cellspacing="0" class="portfolio_table">

      <tr class="rowtable_even_portfolio">
        <td class="td_blue_portfolio_first">
          <span style="font-weight: bold;">Nome da Prova</span>&nbsp;
          <span class="portfolio_activity_date"><%= t(:date_name)%>: 22/03/11 - 30/03/11</span>
        </td>
        <td class="td_blue_portfolio"><span style="font-weight: bold;"><%= t(:situation) %></span></td>
        <td class="td_blue_portfolio" align="center"><span style="font-weight: bold;"><%= t(:grade) %></span></td>
      </tr>

      <tr class="rowtable_even_portfolio" >
        <td class="td_blue_portfolio_first">Neste sentido, o julgamento imparcial das eventualidades é uma das consequências do orçamento setorial.</td>
        <td class="td_blue_portfolio" style="width: 70px;"><a href="#" style="color: green;"><%= t(:make) %></a></td>
        <td class="td_blue_portfolio" style="width: 50px; font-weight: bold;" align="center">-</td>
      </tr>

    </table>
    <div style="background-color: #FFF">
      <br/>
    </div>
  </div>

  <!-- area publica -->

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:public_area) %></div> <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <div id="portfolio" class="portfolio">
    <hr id="portfolio_line_pa" class="portfolio_line" />

    <table cellpadding="5" cellspacing="0" class="portfolio_table">
      <tbody align="left">

        <% css_class = "" %>
        <% @public_area.each_with_index do |pa, idx| %>
          <% css_class = "border_line" if idx > 0 %>

          <tr style="height: 35px;">
            <td class="<%= css_class %>" style="width: 10px;"><%= image_tag icon_attachment(pa["attachment_file_name"]) %></td>
            <td class="<%= css_class %>">
              <%= link_to pa["attachment_file_name"], {:controller => :portfolio, :action => :download_file_public_area, :id => pa["id"]} %>
            </td>
            <td class="<%= css_class %>"><span class="portfolio_public_file_size"><%= format('%.2fKB', pa["attachment_file_size"].to_i/1024.0) %></span></td>
            <td class="<%= css_class %>">
              <%= link_to t(:delete), {:controller => :portfolio, :action => :delete_file_public_area, :id => pa["id"]}, :confirm => "#{t(:delete_file_msg)}" %>
            </td>
          </tr>

        <% end %>
        <tr style="height: 35px;">
          <td colspan="4" class="border_line">
            <a href="#" class="portfolio_public_file_upload_link" id="send_attachment">
              <%= t(:portfolio_upload_file) %>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
    <div style="background-color: #FFF">
      <br/>
    </div>

  </div>

</div>

<%= render '/portfolio/public_files_send' %>

<script type="text/javascript">
  $(function(){
    $(".enunciation_more").click(function(){

      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "none");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "block");

      return false;
    });

    $(".enunciation_less").click(function(){

      $(".enunciation_slice, .enunciation_more", $(this).parent().parent()).css("display", "block");
      $(".enunciation_complete, .enunciation_less", $(this).parent().parent()).css("display", "none");

      return false;
    });

  });
</script>