= stylesheet_link_tag "fonts"
= stylesheet_link_tag "facebook"
= stylesheet_link_tag "icons"
= stylesheet_link_tag "jquery.qtip.min"

= javascript_include_tag "jquery"
= javascript_include_tag "jquery.qtip.min"
= javascript_include_tag "tooltip"

.head
  = link_to(content_tag(:i, nil, :class=>'icon-cycle'), '#', :onclick => 'location.reload(true);', :class => 'feed', 'data-tooltip' => t(:update_feed, :scope => [:facebook]))
  = link_to(content_tag(:i, nil, :class=>'icon-pencil'), '#')
  .info
    %span.common
      = t(:logged_in_as, :scope => [:facebook])
    %span.commondark
      = " " + @graph.get_object("me")['name']

- if @fb_posts.present?
  - @fb_posts.each do |fb_post|
    .post
      .post_header
        .user_avatar
          = image_tag "http://graph.facebook.com/#{fb_post.actor.to_s}/picture", :size => "26x26", :alt => "User Image"
        .user_info
          %span.username
            = fb_post.name
          %span.date
            = fb_post.created_time
      .post_content
        = fb_post.message
        .post_image
          = image_tag fb_post.adress, :class => 'img' if fb_post.media_type.eql? 'photo' or fb_post.media_type.eql? 'video'
          - if fb_post.media_type.eql? 'link' or fb_post.media_type.eql? 'swf'
            = image_tag fb_post.adress
        .post_url
          %a.link{href: "#{fb_post.link}", :target => "_blank"}= t(:original_content, :scope => [:facebook]) if fb_post.link

        / - if fb_post.parent.present?
        /   .post_actions
        /     %a.like{:href => "Teste"} Curtir
        /     %a.comment{:href => "Teste"} Comentar
