.new_exam_question
  = simple_form_for(@exam_question, html: {id: 'exam_question_form'}) do |f|
    %span.form_requirement= t(:required_fields)
    %h1#lightBoxDialogTitle= t((f.object.persisted? ? :edit_question : :new_question), scope: [:questions, :list])

    .question_form.block_content
      = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

      .form-inputs.block_content
        = f.simple_fields_for :question do |q|

          = q.input :name

          .question_type
            = q.label t('questions.new.type_question')
            - if q.object.persisted?
              - if q.object.type_question == Question_Type_Unique_Choice
                = q.hint t('questions.new.unique_choice')
              - elsif q.object.type_question == Question_Type_Multiple_Choice
                = q.hint t('questions.new.multiple_choise')
              - elsif q.object.type_question == Question_Type_True_Or_False
                = q.hint t('questions.new.true_or_false')
            - else
              = q.select :type_question, ([ [t('questions.new.unique_choice'), Question_Type_Unique_Choice], [t('questions.new.multiple_choice'), Question_Type_Multiple_Choice], [t('questions.new.true_or_false'), Question_Type_True_Or_False]]), include_blank: false
          = f.input :score
          = q.simple_fields_for :question_label do |ql|
            = ql.input :name, label: t('questions.label')
          = q.input :enunciation

          = render partial: "items", locals: {q: q}

      .form-actions.right_buttons
        = button_to_function t(:cancel), 'jQuery.fancybox.close()', class: 'btn btn_default btn_lightbox', type: 'button'
        = button_to_function t(:save), 'save_exam_question()', class: 'btn btn_main btn_lightbox', alt: t(:save), type: 'button'

:javascript

  $(function() {
    // evento de keypress do fancybox nao funciona pra esse form
    $("form#question_form .form-inputs").keypress(function(e) { if (e.which == 13) e.preventDefault(); });
  });

  function save_exam_question() {
    $('form#exam_question_form').serialize_and_submit({
      //replace_list: $('.list_exams:last')
    });
  }