= q.simple_fields_for :question_items do |qi|
  .duplicatable_nested_form
    .inline
      = qi.input :value
      = qi.input :description, placeholder: t(:question_item, scope: [:questions, :form])

      - if qi.object.new_record?
        = link_to content_tag(:i, nil, class: 'icon-minus'), '', remote: true, class: 'destroy_duplicate_nested_form'
      - else
        .destroy_item
          = qi.input :_destroy, as: :hidden
          = link_to content_tag(:i, nil, class: 'icon-minus'), '', remote: true, class: 'destroy_duplicate_nested_form'

.input.string
  = link_to t(:add_alternative, scope: [:questions, :form]), '', class: 'btn duplicate_nested_form'

= javascript_include_tag "exam_questions_items"

