.titlebar#lesson_header
  .inline
    .breadcrumb
      = render "lessons/open/breadcrumb"
    - if can?(:update, @lesson)
      .lesson_status
        %span.draft{class: @lesson.is_draft? ? '' : 'invisible'}
          = image_tag "rejected.png"
          %span.type= t("lessons.index.draft")
        %span.released{class: @lesson.is_draft? ? 'invisible' : ''}
          = image_tag "released.png"
          %span.type= t("lessons.index.released")

:javascript

  var get_lesson_url = "#{lesson_url('lesson_id')}";
  var get_module_lessons_url = "#{lesson_module_lessons_path('lesson_module_id')}";
