.titlebar#lesson_header
  .inline
    .breadcrumb
      = render 'lessons/open/breadcrumb'
  - if can?(:change_status, @lesson) || current_user.admin?
    .lesson_status
      %span.draft{ class: @lesson.is_draft? ? '' : 'invisible' }
        = image_tag 'rejected.png', :'aria-hidden' => 'true'
        %span.type= t('lessons.index.draft')
      %span.released{ class: @lesson.is_draft? ? 'invisible' : '' }
        = image_tag 'released.png', :'aria-hidden' => 'true'
        %span.type= t('lessons.index.released')

:javascript

  var get_lesson_url = "#{lesson_url('lesson_id')}";
  var get_module_lessons_url = "#{open_module_lessons_path('lesson_module_id', allocation_tags_ids: 'allocation_tags_ids_value')}";
