.new_support_material_form
  = simple_form_for @support_material, html: {id: 'support_material_form', multipart: true} do |f|
    - title = [(f.object.persisted? ? "edit" : "new"), (f.object.is_link? ? "link" : "file")].join("_")

    %h1#lightBoxDialogTitle= t(title, scope: [:support_material_files, :list])
    %span.form_requirement= t(:required_fields)

    .support_material_form
      = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids
      = f.hidden_field :material_type, value: f.object.material_type

      .form-inputs.block_content
        - if f.object.is_link?
          = f.input :title, as: :string
          = f.input :url, as: :string, required: true
        - else
          .input.string.files
            = f.input :title, as: :string
            = file_field_tag 'files[]', type: :file, multiple: true
            = button_to_function t(:select_files), 'add_files()', class: 'btn add_files'
            %span.error
            .files_list

        = render "groups/codes"

        .new_support_material_buttons
          = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"
          = button_tag t(:save), class: "btn btn_main btn_lightbox", type: "button", id: "save"

= javascript_include_tag 'multiple_file_upload'

:javascript
  $(function(){
    $('#support_material_form:first').keypress(function(event) { if (event.keyCode == 13) { event.preventDefault(); } }); // prevenir enter

    $('#save').click(function(){
      $('#support_material_form:first').serialize_and_submit({
        files: true,
        outer: 'fancybox-outer',
        replace_list: $('.list_support_material:last'),
        complement_success: function(data) {
          if (typeof(data.alert) != "undefined")
            $('form span.error').html(data.alert);
          else
            $('form span.error').html('');
        }
      });
      setTimeout(function() {
        focuInpuErro();
      }, 700);
    });
  });
