%div{:style => "margin-bottom:5px"}
  %button#download_all.btn.btn_default{"data-tooltip" => t("support_download_all"), onclick: "javascript:window.location.href='#{download_all_support_material_files_path(allocation_tag_id: @allocation_tag_id, :type => "all")}'", type: "button", value: t("support_download_all"), :'aria-label' => t("support_download_all")}
    %i.icon-archive
- @folders_list.each do |folder_name, folder_content|
  - folder= folder_name.sub(/ /, "_").downcase
  .block_wrapper.support_material_folder
    .block_title
      - unless folder_name == 'LINKS'
        %h2.support_material_title= folder_name
        %span.block_actions
          %button.download_folder.btn{"data-tooltip" => t("support_download_folder"), onclick: "javascript:window.location.href='#{download_folder_support_material_files_path(folder: (folder_name || 'nil'), allocation_tag_id: @allocation_tag_id)}'", type: "button", :value => t("support_download_folder"), :'aria-label' => t("support_download_folder")+ "#{folder_name}"}
            %i.icon-install
      - else
        %h2= folder_name
    %table.tb_list{border: "0", cellpadding: "10", cellspacing: "0", width: "100%", :summary=> t("support_material_summary")}
      %thead
        %tr.lines
          %th{style: "width:20%", id: "title_#{folder}"}= t('support_material_files.list.title')
          %th{ id: "name_#{folder}"}= t('support_material_files.list.name')
          %th{style: "width:80px", id: "size_#{folder}"}= t(:support_material_size)
          %th{style: "width:80px", id: "sent_on_#{folder}"}= t(:support_material_sent_on)
          %th{style: "width:80px", id: "download_on_#{folder}"}= t(:support_material_download)
      %tbody
        - folder_content.each do |file|
          - size = format('%.2f KB', file["attachment_file_size"].to_i/1024.0)
          %tr.lines
            %td{headers: "title_#{folder}" }= file['title']
            %td{headers: "name_#{folder}" }
              - if file['url'] == nil
                - if file['attachment_content_type'].index('image') 
                  - type_class = 'link_content open_file fancybox.ajax'
                - elsif file['attachment_content_type'].index('pdf')
                  - type_class = 'link_content open_url fancybox.iframe'
                - elsif file['attachment_content_type'].index('audio')
                  - type_class = 'link_content open_audio fancybox.iframe'  
                -else
                  - type_class = 'link_content open_file fancybox.ajax'

                - if file['attachment_content_type'].start_with?('image', 'application/pdf', 'audio', 'video')
                  = link_to image_tag(icon_attachment(file["attachment_file_name"])), open_support_material_files_path(id: file['id']), class: 'file_icon', :'aria-hidden'=> true

                  = link_to file['attachment_file_name'], open_support_material_files_path(id: file['id']), :'aria-label'=> t('posts.post.open', file: file["attachment_file_name"], size: size), class: type_class, :title => file['title']
                - else  #somente download
                  = link_to image_tag(icon_attachment(file["attachment_file_name"])), download_support_material_file_path(id: file['id']), class: 'file_icon', :'aria-hidden'=> true

                  = link_to file['attachment_file_name'], download_support_material_file_path(id: file['id']), :'aria-label'=> t('posts.post.download', file: file["attachment_file_name"], size: size), :title => file['title']
              - else
                - type_class = 'link_content open_url fancybox.iframe'                  

                = link_to image_tag('icon_file_link.png', alt: t("link_site_img", site: file['url'])), open_support_material_files_path(id: file['id']), :'aria-label'=> t('posts.post.open_site', file: file["url"]), class: type_class, :'aria-hidden' => 'true', :title => file['title']

                = link_to file['url'], open_support_material_files_path(id: file['id']), :'aria-label'=> t('posts.post.open_site', file: file["url"]), class: type_class, :title => file['title']

            %td{headers: "size_#{folder}" }
              - if file['url'] == nil
                = size
            %td{headers: "sent_on_#{folder}" }
              = l file["attachment_updated_at"].to_date
            %td{headers: "download_on_#{folder}" }
              - if file['url'] == nil
                = link_to (content_tag(:i, nil, class: 'icon-download')), download_support_material_file_path(id: file['id']), class: 'btn', :'aria-label'=> t('posts.post.download', file: file["attachment_file_name"], size: size)
              -else
                = link_to (content_tag(:i, nil, class: 'icon-redo')), file['url'], class: 'btn', :'aria-label'=> t('posts.post.open_site_new_tab', file: file["url"]), target: '_blank'

              
- if @folders_list.blank?
  .block_content.block_content_text= t(:itens_not_found)

= javascript_include_tag "contextual_help/support_material", 'contextual_help/lessons'

:javascript

  $(function(){
    focus_element_time('#flash_message_span'); 
    $('.open_file').call_fancybox({
      maxWidth: '95%',
    });
    $('.open_audio').call_fancybox({
      maxWidth: '350px',
      maxHeight: '50px',
    });

    $('.open_url').call_fancybox({
      minHeight: '95%',
      minWidth: '95%',
      autoScale: true,
      autoSize: true,
    });
  });

  