%div{:style => "margin-bottom:5px"}
  %button#download_all.btn.btn_default{"data-tooltip" => t("support_download_all"), onclick: "javascript:window.location.href='#{download_all_support_material_files_path(allocation_tag_id: @allocation_tag_id, :type => "all")}'", type: "button", value: t("support_download_all"), :'aria-label' => t("support_download_all")}
    %i.icon-archive
- @folders_list.each do |folder_name, folder_content|
  - folder= folder_name.sub(/ /, "_").downcase
  .block_wrapper.support_material_folder
    .block_title
      - unless folder_name == 'LINKS'
        %h2.support_material_title= folder_name
        %span.block_actions
          %button.download_folder.btn{"data-tooltip" => t("support_download_folder"), onclick: "javascript:window.location.href='#{download_folder_support_material_files_path(folder: (folder_name || 'nil'), allocation_tag_id: @allocation_tag_id)}'", type: "button", :value => t("support_download_folder"), :'aria-label' => t("support_download_folder")+ "#{folder_name}"}
            %i.icon-install
      - else
        %h2= folder_name
    %table.tb_list{border: "0", cellpadding: "10", cellspacing: "0", width: "100%", :summary=> t("support_material_summary")}
      %thead
        %tr
          %th{style: "width:20%", id: "title_#{folder}"}= t('support_material_files.list.title')
          %th{ id: "name_#{folder}"}= t('support_material_files.list.name')
          %th{style: "width:80px", id: "size_#{folder}"}= t(:support_material_size)
          %th{style: "width:80px", id: "sent_on_#{folder}"}= t(:support_material_sent_on)
      %tbody
        - folder_content.each do |file|
          - size = format('%.2f KB', file["attachment_file_size"].to_i/1024.0)
          %tr.lines
            %td{headers: "title_#{folder}" }= file['title']
            %td{headers: "name_#{folder}" }
              - if file['url'] == nil
                = link_to image_tag(icon_attachment(file["attachment_file_name"])), download_support_material_file_path(id: file['id']), {:class => 'file_icon', :'aria-label'=> t('posts.post.download', file: file["attachment_file_name"], size: size)}
                = link_to file['attachment_file_name'], download_support_material_file_path(id: file['id']), :'aria-label'=> t('posts.post.download', file: file["attachment_file_name"], size: size)
              - else
                = link_to image_tag('icon_file_link.png', alt: t("link_site_img", site: file['url'])),download_support_material_file_path(id: file['id']), target: '_blank'
                = link_to file['url'], download_support_material_file_path(id: file['id']), target: '_blank',  :'aria-label' => t("link_site_img", site: file['url'])
            %td{headers: "size_#{folder}" }
              - if file['url'] == nil
                = size
            %td{headers: "sent_on_#{folder}" }
              = l file["attachment_updated_at"].to_date
- if @folders_list.blank?
  .block_content.block_content_text= t(:itens_not_found)

= javascript_include_tag "contextual_help/support_material"

:javascript

  $(function(){
    $('#flash_message').prop('tabindex', 0);
    setTimeout(function() {
      $('#flash_message').focus(); 
    }, 400);  
  }); 