-# Descricao da atividade
.block_wrapper
  .block_title
    %h2
      = image_tag("icon_suitcase_portfolio.png", :alt => " ", :class=>'block_title_icon')
      = @assignment.name
  .block_content
    -# Descricao da atividade
    %table.tb_list{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %thead
        %tr.lines
          %th=t(:description, :scope => [:portfolio, :information])
          %th.clock_icon
            = image_tag "clock.png", :alt => " ", :class=>"block_title_icon"
            = t(:activity_begin, :scope => [:portfolio, :information])
          %th.clock_icon
            = image_tag "clock.png", :alt => " ", :class=>"block_title_icon"
            = t(:activity_end, :scope => [:portfolio, :information])
      %tbody>
        %tr.lines
          %td= @assignment.enunciation
          %td.center= l(@assignment.schedule.start_date, :format => :files)
          %td.center= l(@assignment.schedule.end_date, :format => :files)

-# Arquivos enviados pelo professor
.block_wrapper
  .block_title
    %h2
      = image_tag("icon_suitcase_portfolio.png", :alt=> " ", :class=>'block_title_icon')
      = t(:sent_files, :scope => [:portfolio, :files])
    %span.download_all_icon
      - unless @assignment_files.empty?
        = button_tag(:type => :button, :onclick => "javascript:window.location.href='#{download_files_portfolio_teacher_path(:assignment_id => @assignment.id, :type => "enunciation", :zip => true)}'", :class => "btn btn_default") do
          = content_tag(:span, t(:download_all_files_zip, :scope => [:portfolio, :files]))
          = content_tag(:span, image_tag("icon_folder_compressed.png"))

  .block_content
    - unless @assignment_files.empty?
      %table.tb_list{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %thead
          %tr.lines
            %th= t(:name, :scope => [:portfolio, :files])
            %th{:align => "right"}= t(:size, :scope => [:portfolio, :files])
            %th.clock_icon
              = image_tag "clock.png", :alt => " ", :class=>"block_title_icon"
              = t(:sent_on, :scope => [:portfolio, :files])
        %tbody
          - @assignment_files.each do |file|
            %tr.lines
              %td
                = link_to image_tag(icon_attachment(file.attachment_file_name)), download_files_portfolio_teacher_path(:file_id => file.id, :assignment_id => @assignment.id, :type => "enunciation"), {:class => "file_icon", :alt => t(:download_file, :file_name => file.attachment_file_name, :scope => [:portfolio, :files]) }
                = link_to file.attachment_file_name, download_files_portfolio_teacher_path(:file_id => file.id, :assignment_id => @assignment.id, :type => "enunciation"), {:class => "link_content"}
              %td.right= format('%.2f KB', file.attachment_file_size/1024.0)
              %td.center= l(file.attachment_updated_at, :format => :files)
    - else 
      .portfolio_div_padding= t(:itens_not_found)

-# Lista de alunos
.block_wrapper
  .block_title
    %h2
      = image_tag "icon_participants.png", :alt => " ", :class=>'block_title_icon'
      = t(:participants, :scope => [:portfolio, :group_assignments])
  .block_content
    %table.tb_list{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %thead
        %tr.lines
          %th= t(:students, :scope => [:portfolio, :information])
          %th{:align => "center", :style => "width:30px"}= t(:date, :scope => [:portfolio, :information])
          %th{:align => "right", :style => "width:80px"}= t(:situation, :scope => [:portfolio, :information])
          %th{:align => "right", :style => "width:30px"}= t(:grade, :scope => [:portfolio, :information])
          %th{:align => "center", :style => "width:50px"}= t(:comments, :scope => [:portfolio, :comments])
      %tbody
        - @students.each_with_index do |student, idx|
          %tr.lines
            %td
              = link_to student["name"], assignment_portfolio_teacher_path(:student_id => student["id"], :group_id => nil, :assignment_id => @assignment.id), :class => :link_content
            %td.center
              = @file_delivery_date[idx]
            %td{:class => "assignment_#{@situation[idx]}"}
              = t(@situation[idx].to_sym)
            %td.center= @grade[idx]
            %td.center= image_tag( (@comments[idx] == false) ? "icon_no_comments.png" : "icon_comments.png" , :alt => " ")
            