<div>
  <span class="page_title"><%= t(:portfolio_title) %></span>
  <span class="page_title"><%= curriculum_unit_name %></span>
</div>

<!-- Portfolio -->
<div class="presentation_area">
  <div class="mysolar_header">
    <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
    <h1 class="mysolar_title"><%= t(:group) %>&nbsp;<%= @group.code %></h1>
  </div>

  <!-- lista de alunos -->
  <div id="individual_activity">

    <table cellpadding="5" cellspacing="0" class="tb_list" width="100%">
      <tbody>
        <% @students.each_with_index do |student, idx| %>
          <tr class="lines">
            <td><%=link_to student["name"], {:controller => :scores, :action => :show, :student_id => student["id"]}, {:class => 'link_content'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>