<div>
  <span class="page_title">
    <%= t(:assignment_correction_of) %>&nbsp;<%=raw @activity << "&nbsp;#{t(:of)}&nbsp;" unless @activity.nil? %><%= curriculum_unit_name %>
  </span>
</div>

<!-- Portfolio -->

<div class="portfolio_activity">

  <div class="mysolar_header">
    <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
    <h1 class="mysolar_title"><%= @student.name %></h1>
  </div>

  <!-- Arquivos do aluno e comentarios -->

  <div>

    <%= form_for(:comments, :html => { :multipart => true }, :url => {
        :action => :update_comment, :students_id => @student_id,
        :assignment_id => @assignment_id, :send_assignment_id => @send_assignment_id
      }) do |f| %>

      <!-- Arquivos de trabalho -->

      <div style="padding-left: 10px; padding-right: 10px; overflow: auto;">
        <div id="div_header" style="padding-bottom: 10px;">
          <div id="header_left" style="float: left;"><%= t(:files_assignments) %>:</div>
          <div id="header_rigth" style="float: right; padding-right: 50px;"><%= t(:grade) %>:</div>
        </div>
        <br />
        <div id="div_body_pa">
          <div id="div_body_left" style="display: inline-block;">
            <% @files.each do |f| %>
              <div class="list_files" style="padding-bottom: 10px; text-align: right;">
                <div class="files_name">
                  <%= link_to f["attachment_file_name"], {:action => :download_files_student,
                    :id => f["id"], :students_id => @student_id,
                    :send_assignment_id => @send_assignment_id}, {:class => 'link_content'} %>
                </div>
                <div class="files_date"><span style="font-style: italic; color: gray;"><%= t(:sent_in) %> <%=l f["attachment_updated_at"].to_time, :format => :files %></span></div>
              </div>
            <% end %>
            <!-- informa que nenhum trabalho foi enviado -->
            <% if @files.first.nil? %>
              <span style="font-style: italic; color: gray;"><%= t(:assignment_not_sent) %></span>
            <% end %>
          </div>
          <div id="div_body_right" style="float: right;">
            <%= f.text_field :grade, :value => @grade, :size => 4 %>
          </div>
        </div>
      </div>

      <div style="padding-bottom: 10px; padding-left: 10px;">
        <!-- comentarios sobre o trabalho enviado -->
        <span><%= t(:comment) %>:</span><br /><br />
        <div id="teachers_comments" style="text-align: center; padding-bottom: 10px;">
          <%= f.text_area :comment, :value => @comment, :rows => 10, :cols => 50 %>
        </div>
        <span class="portfolio_activity_mright" style="float: right;">
          <span>
            <%= link_to t(:back),
              {:controller => :scores, :action => :show, :student_id => @student_id},
              {:name => t(:back).downcase, :class => 'btn-decoration'} %>
          </span>
          <span>
            <%= f.submit t(:save), {:class => 'btn-decoration'} %>
          </span>
        </span>
        &nbsp;
      </div>

    <% end %>

  </div>

  <!-- Arquivos enviados -->

  <div id="list_files_sent" style="padding-top: 10px;">

    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= t(:attachments) %></h1>
    </div>

    <% unless @comments_files.first.nil? %>
      <div id="list_files_sent">
        <table class="tb_list_files" border="0" width="100%" cellspacing="0" cellpadding="5">
          <tbody>
            <% @comments_files.each do |c| %>
              <tr>
                <td align="right">
                  <div id="files_list">
                    <span>
                      <%= link_to c["attachment_file_name"], {:controller => :portfolio, :action => :download_file_comment, :id => c["id"]}, {:class => 'link_content'}%>
                    </span><br />
                    <span class="date_info">
                      <%= t(:sent_in) %> <%=l c["attachment_updated_at"], :format => :files %>
                    </span>
                  </div>
                </td>
                <td align="center" style="width: 20%;">
                  <%= link_to t(:delete), {
                    :action => :delete_file, :comment_file_id => c["id"],
                    :students_id => @student_id, :send_assignment_id => @send_assignment_id
                  }, {:confirm => "#{t(:delete_file_msg)}", :class => 'link_content_del'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div id="send_files" style="padding-top: 10px;">
    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= t(:send_files) %></h1>
    </div>
    <div id="form_send_file" class="send_files">
      <%= form_for(:comments_files, :html => { :multipart => true }, :url => {
          :controller => :portfolio_teacher, :action => :upload_files,
          :students_id => @student_id, :assignment_id => @assignment_id,
          :send_assignment_id => @send_assignment_id
        }) do |f| %>
        <%= f.file_field :attachment %><%= f.submit t(:send), {:class => 'btn btn_blue'} %>
        <div style="padding-top: 10px;"><%=raw t(:send_file_portfolio_obs)%></div>
        <div style="padding-top: 10px;"><%=raw t(:send_file_portfolio_text)%></div>
      <% end %>
    </div>
  </div>


</div>
