
<!-- Apresenta o nome da unidade curricular -->
<div>
  <span class="page_title">
    <%= t(:assignment_correction_of) %> <%= @activity %> <%= t(:of) %> <%= @curriculum_unit.name %>
  </span>
</div>

<!-- Portfolio -->
<div class="portfolio_activity">

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= @student.name %></div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <!-- Arquivos do aluno e comentarios -->

  <div id="portfolio" class="portfolio portfolio_activity">
    <hr class="portfolio_line portfolio_activity" />

    <%= form_for(:comments, :html => { :multipart => true }, :url => {:action => :update_comment, :students_id => @students_id, :assignment_id => @assignment_id, :send_assignment_id => @send_assignment_id}) do |f| %>

      <!-- Arquivos de trabalho -->
      <div style="padding-left: 10px; padding-right: 10px; overflow: auto;">
        <div id="div_header" style="padding-bottom: 10px;">
          <div id="header_left" style="float: left;"><%= t(:files_assignments) %>:</div>
          <div id="header_rigth" style="float: right; padding-right: 50px;"><%= t(:grade) %>:</div>
        </div>
        <br />
        <div id="div_body_pa">
          <div id="div_body_left" style="display: inline-block;">
            <% @files.each do |f| %>
              <div class="list_files" style="padding-bottom: 10px; text-align: right;">
                <div class="files_name">
                  <a href="#" style="color: blue;">
                    <%= link_to f["attachment_file_name"], {:action => :download_files_student, :id => f["id"], :students_id => @students_id, :send_assignment_id => @send_assignment_id}%>
                  </a>
                </div>
                <div class="files_date"><span style="font-style: italic; color:  gray;"><%= t(:sent_in) %> <%=l f["attachment_updated_at"].to_time, :format => :files %></span></div>
              </div>
            <% end %>
          </div>
          <div id="div_body_right" style="float: right;">
            <%= f.text_field :grade, :value => @grade, :size => 4 %>
          </div>
        </div>
      </div>

      <div style="padding-bottom: 10px; padding-left: 10px;">

        <!-- comentarios sobre o trabalho enviado -->
        <span><%= t(:comment) %>:</span><br /><br />
        <div id="teachers_comments" style="text-align: center; padding-bottom: 10px;">
          <%= f.text_area :comment, :value => @comment, :rows => 10, :cols => 50 %>
        </div>
        <span class="portfolio_activity_mright" style="float: right;">
          <span style="padding-right: 10px;">
            <%=link_to t(:back), {:action => :list_assignments, :id => @students_id} %>
          </span>
          <span>
            <%= f.submit t(:save) %>
          </span>
        </span>
        &nbsp;

      </div>

    <% end %>

  </div>

  <!-- Inserir anexos aos comentarios -->

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:attachments) %></div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <div id="attachments">

    <div id="portfolio" class="portfolio portfolio_activity">
      <hr class="portfolio_line portfolio_activity" />

      <% unless @comments_files.first.nil? %>
        <div id="list_files_sent">
          <table border="0" width="70%" cellspacing="0" cellpadding="0" style="padding-bottom: 10px; padding-top: 10px;">
            <tbody>

              <% @comments_files.each do |c| %>
                <tr>
                  <td align="right">
                    <div id="files_list">
                      <span><%= link_to c["attachment_file_name"], {:action => :donwload_files, :id => c["id"]}%></span><br />
                      <span style="font-style: italic; color: gray;"><%= t(:sent_in) %> <%=l c["attachment_updated_at"], :format => :files %></span>
                    </div>
                  </td>
                  <td align="left" style="float: left; margin-left: 10px;">
                    <%= link_to t(:delete), {:action => :delete_file, :comment_file_id => c["id"], :students_id => @students_id, :send_assignment_id => @send_assignment_id}, :confirm => "#{t(:delete_file_msg)}" %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      <% end %>
      <div id="send_file">
        <span class="alter_photo_text"><%= t(:your_computer) %></span>

        <%= form_for(:comments_files, :html => { :multipart => true }, :url => {:action => :upload_files, :students_id => @students_id, :send_assignment_id => @send_assignment_id}) do |f| %>
          <%= f.file_field :attachment %>
          <div style="float: right; padding-bottom: 10px; padding-right: 10px;"><%= f.submit t(:send) %></div>
          <br />
          <div class="alter_photo_text"><%=raw t(:send_file_portfolio_obs)%></div><br />
          <div class="alter_photo_text"><%=raw t(:send_file_portfolio_text)%></div>
          <br />
        <% end %>
      </div>

    </div>

  </div>

</div>