<div>
  <span class="page_title">
    <%= t(:assignment_correction_of) %>&nbsp;<%=raw @activity << "&nbsp;#{t(:of)}&nbsp;" unless @activity.nil? %><%= curriculum_unit_name %>
  </span>
</div>

<!-- Portfolio -->

<div class="portfolio_activity">

  <div class="mysolar_header">
    <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
    <h1 class="mysolar_title"><%= @student.name %></h1>
  </div>

  <!-- Arquivos do aluno e comentarios -->

  <div>

    <%= form_for(:comments, :html => { :multipart => true }, :url => {
        :action => :update_comment, :students_id => @student_id,
        :assignment_id => @assignment_id, :send_assignment_id => @send_assignment_id
      }) do |f| %>

      <!-- Arquivos de trabalho -->

      <div id="list_files_and_grade" style="overflow: auto;">
        <div id="list_files" style="float: left;">
          <table class="tb_list_files" cellpadding="5" cellspacing="0" border="0" style="width: 380px;">
            <thead>
              <tr>
                <th style="text-align: left;"><%= t(:files_assignments) %>:</th>
              </tr>
            </thead>
            <tbody>
              <% @files.each do |f| %>
                <tr>
                  <td style="text-align: right;">
                    <div class="files_name">
                      <% file_name = f["attachment_file_name"].length > 35? f["attachment_file_name"].slice(0..35) + '...' : f["attachment_file_name"] %>
                      <%= link_to file_name, {:action => :download_files_student,
                        :id => f["id"], :students_id => @student_id,
                        :send_assignment_id => @send_assignment_id}, {:class => 'link_content'} %>
                    </div>
                    <div class="date_info">
                      <%= t(:sent_in) %> <%=l f["attachment_updated_at"].to_time, :format => :files %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="list_grade" style="float: right; width: 95px;">
          <div><%= t(:grade) %>:</div>
          <%= f.text_field :grade, :value => @grade, :size => 4 %>
        </div>
      </div>

      <div id="comment_teacher" style="padding-top: 10px;">
        <span><%= t(:comment) %>:</span>
        <div id="teachers_comments" style="text-align: center; padding-bottom: 10px;">
          <%= f.text_area :comment, :value => @comment, :rows => 10, :cols => 50 %>
        </div>
        <span class="portfolio_activity_mright" style="float: right;">
          <span>
            <input type="button" class="btn btn_default" name="<%= t(:back).downcase %>" value="<%= t(:back) %>" id="back_to_show" />
          </span>
          <span><%= f.submit t(:save), {:class => 'btn btn_default'} %></span>
        </span>
        &nbsp;
      </div>

    <% end %>

  </div>

  <!-- Arquivos enviados -->

  <div id="list_files_sent" style="padding-top: 10px;">

    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= t(:sent_files) %></h1>
    </div>

    <% unless @comments_files.first.nil? %>
      <div id="list_files_sent">
        <table class="tb_list_files" border="0" width="100%" cellspacing="0" cellpadding="5">
          <tbody>
            <% @comments_files.each do |file_sent| %>
              <tr>
                <td style="width: 10px;">
                  <%= image_tag icon_attachment(file_sent["attachment_file_name"]) %>
                </td>
                <td>
                  <% file_name = file_sent["attachment_file_name"].length > 35 ? file_sent["attachment_file_name"].slice(0..35) + '...' : file_sent["attachment_file_name"] %>
                  <%= link_to file_name, {:controller => :portfolio, :action => :download_file_comment,
                    :id => file_sent["id"]}, {:class => 'link_content'}%>
                </td>
                <td class="file_data_info">
                  <span><%=l file_sent["attachment_updated_at"], :format => :files %></span>
                </td>
                <td>
                  <%= link_to t(:delete), {
                    :action => :delete_file, :comment_file_id => file_sent["id"],
                    :students_id => @student_id, :send_assignment_id => @send_assignment_id
                  }, {:confirm => "#{t(:delete_file_msg)}", :class => 'link_content_del'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div id="send_files" style="padding-top: 10px;">
    <div class="mysolar_header">
      <%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %>
      <h1 class="mysolar_title"><%= t(:send_files) %></h1>
    </div>
    <div id="form_send_file" class="send_files">
      <%= form_for(:comments_files, :html => { :multipart => true }, :url => {
          :controller => :portfolio_teacher, :action => :upload_files,
          :students_id => @student_id, :assignment_id => @assignment_id,
          :send_assignment_id => @send_assignment_id
        }) do |f| %>
        <%= f.file_field :attachment %><%= f.submit t(:send), {:class => 'btn btn_default'} %>
        <div style="padding-top: 10px;"><%=raw t(:send_file_portfolio_obs)%></div>
        <div style="padding-top: 10px;"><%=raw t(:send_file_portfolio_text)%></div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#back_to_show').click(function(){
      window.location.href = '<%= score_path(@student_id) %>';
    });
  });
</script>
