<%= javascript_include_tag 'group_assignments.js' %>

<script type="text/javascript">
  function more_files() {
    $(".more_comment_files_link").remove();
    $('<div><input id="comment_files_" class="comments_files" name="comment_files[]" type="file"><a href="#" class="more_comment_files_link" onclick="more_files();" ><%= t(:forum_attach_another_file) %></a></div>').appendTo($(".comments_files_div"));
  }
</script>

<div class="group_assignments_import">

  <div class="block_title">
    <h2>Anexos ao comentário</h2>
  </div>

  <div class="block_content">
	  
	    <%= form_for(:files_comment, :html => { :multipart => true }, :url => {:controller => :portfolio_teacher, :action => :upload_files_comment, :assignment_id => @assignment_id, :comment_id => @comment_id, :student_or_group_id => @student_or_group_id}) do |f| %>
	    	<div class="comments_files_div">
	    		<%= file_field_tag 'comment_files[]', :class => "comments_files" %>
          <a href="#" class="more_comment_files_link" onclick="more_files();" ><%= t(:forum_attach_another_file) %></a>
	    	</div>
    		<div class="upload_comment_files_buttons">
  	      	<input type="button" value='<%=t(:group_assignment_cancel)%>' class="btn btn_caution" onclick="removeLightBox();"/>
            <%= submit_tag "Anexar", :class=>'btn btn_main' %>
  	   </div>
     <% end %>

  </div>

</div>