= javascript_include_tag "edition.js"

%span.form_requirement= t(:required_fields)
.offer_form{:style => "text-align: left;"}
  = simple_form_for(@offer, :html => {:id => "offer_form"}) do |f| 

    .form-inputs.block_content

      = hidden_field_tag :course_id, @course_id
      = hidden_field_tag :curriculum_unit_id, @curriculum_unit_id

      %div
        = f.label t(".course")+"*"
        - if @course_id == "all"
          = t(".all")
        - elsif @course_id != 0
          = Course.find(@course_id).name

      %div
        = f.label t(".curriculum_unit")+"*"
        - if @curriculum_unit_id == "all"
          = t(".all")
        - elsif @curriculum_unit_id != 0
          = CurriculumUnit.find(@curriculum_unit_id).name

      = f.input :semester, :presence => true, :input_html => {:style => 'width: 40px'}
      / classes ".string.required.field_with_errors" adicionadas a fim de deixar o layout semelhante ao do simple_form utilizado nos "f.input"
      - error_class = "field_with_errors" unless @date_range_error.blank?
      .string.required{:class => error_class}
        = f.label t(".date_range"), :required => true
        
        - start_date = @start_date.nil? ? Date.today : @start_date.to_date
        = text_field_tag :start_date, l(start_date, :format => :datepicker), :id => "start_date", :name => "offer[start_date]", :size => 10

        = t(".to")

        - end_date = @end_date.nil? ? Date.today + 3.month : @end_date.to_date
        = text_field_tag :end_date, l(end_date, :format => :datepicker), :id => "end_date", :name => "offer[end_date]", :size => 10
        %span{:style => "display: inline-block;"}= @date_range_error

  .block_content.form-actions{:style => "padding-top: 10px;"}
    = button_tag t(".save"), :class => "btn btn_main", :alt => t(".save"), :type => "button", :id => "save"
    = button_tag t(".cancel"), :class => "btn btn_default", :type => "button", :alt => t(".cancel"), :id => "cancel"

:css
  .ui-datepicker{ 
    width: 15em; 
    padding: .2em .2em 0; 
    display: none;
    background-color: white;
  }

:javascript

  $(document).ready(function(){

    $(function(){
      $( "#start_date" ).datepicker();
      $( "#end_date" ).datepicker();
    });

    jQuery(function($){
      $("#offer_semester").mask("9999.9");
    });

    $("#save").click(function(){
      submit_form('offer_form', 'offer_form', '#{offers_path}', 'list_offers');
    });

    $("#cancel").click(function(){
      removeLightBox();
    });

  });

  
