= javascript_include_tag "offers"
= javascript_include_tag "edition"

%span.form_requirement= t(:required_fields)
.offer_form{:style => "text-align: left;"}
  = simple_form_for(@offer, :html => {:id => "offer_form"}) do |f| 

    .form-inputs.block_content

      = hidden_field_tag(:allocation_tags_ids, @allocation_tags_ids) 
      - uc_and_course_names = get_uc_and_course_names(@allocation_tags_ids)

      .string
        = f.label t(".curriculum_unit")+"*"
        %span#text_as_label= uc_and_course_names["uc"]

      .string
        = f.label t(".course")+"*"
        %span#text_as_label= uc_and_course_names["course"]

      .string    
        = f.input :semester, :presence => true, :input_html => {:style => 'width: 40px'}
        - error_class = "field_with_errors" unless @date_range_error.blank?
        .string.required{:class => error_class}
          = f.label t(".date_range"), :required => true
          
          - start_date = @offer.start_date.nil? ? Date.today : @offer.start_date.to_date
          = text_field_tag :start_date, "", :value => (l(start_date, :format => :default)), :id => "dt_start_date", :name => "offer[start_date]", :size => 10

          = t(".to")

          - end_date = @offer.end_date.nil? ? Date.today + 3.month : @offer.end_date.to_date
          = text_field_tag :end_date, "", :value => (l(end_date, :format => :default)), :id => "dt_end_date", :name => "offer[end_date]", :size => 10
          %span{:style => "display: inline-block;"}= @date_range_error

      .string
        = f.label t(".enroll_period")
      .string.required
        = f.label t(".start_date")+"*"

        - enroll_start = @offer.schedule.nil? ? Date.today : @offer.schedule.start_date.to_date
        = text_field_tag :enroll_start, "", :value => (l(enroll_start, :format => :default)), :id => "dt_enroll_start", :size => 10

        %span.enroll_end{:style=>"margin-right: 30px;"}
          = t(".to")
          - enroll_end = l((@offer.schedule.nil? or @offer.schedule.end_date.nil?) ? Date.today + 3.month : @offer.schedule.end_date.to_date, :format => :default)
          = text_field_tag :enroll_end, "", :value => (enroll_end), :id => "dt_enroll_end", :size => 10

      .select_end_date.string
        = f.label " "
        = check_box_tag :define_enroll_end, true, !(@offer.schedule.nil? or @offer.schedule.end_date.nil?), :id => "final_enroll_date"
        = t(".enable_end_date")

  .block_content.form-actions{:style => "padding-top: 10px;"}
    = button_tag t(".save"), :class => "btn btn_main", :alt => t(".save"), :type => "button", :id => "save"
    = button_tag t(".cancel"), :class => "btn btn_default", :type => "button", :alt => t(".cancel"), :id => "cancel"

:css
  .ui-datepicker{ 
    width: 15em; 
    padding: .2em .2em 0; 
    display: none;
    background-color: white;
  }
