= javascript_include_tag "edition.js"

.block_wrapper#list_offers

  .block_title
    %h2
      = image_tag "icon_curriculum_unit.png", :alt => " ", :class => (:block_title_icon) # qual o ícone de oferta?
      = t(".offers")
    %span.right_buttons
      = button_tag t(".new"), :class => "btn btn_main", :type => :button, :onclick => "javascript:open_lightbox3('#{new_offer_path(:course_id => @course_id, :curriculum_unit_id => @curriculum_unit_id)}', '#{t(".new_offer")}');"

  %table.tb_list{:cellpadding => "10", :cellspacing => "0", :width => "100%", :style => "table-layout: fixed"}
    %thead
      %tr.lines
        %th{:width => "18%"}= t(".course") 
        %th{:width => "34%"}= t(".curriculum_unit")
        %th{:width => "12%"}= t(".semester")
        %th{:width => "29%"}= t(".date_range")
        %th{:width => "14%"}
        %th{:width => "14%"}
        %th{:width => "14%"}
    %tbody
      - @offers.each do |offer|
        %tr.lines{:id => "#{offer.id}"}
          %td= offer.course.name
          %td= offer.curriculum_unit.name
          %td= offer.semester
          %td= [l(offer.start_date), l(offer.end_date)].join(" - ")
          %td
            = form_for(:offer, :url => edit_offer_path(offer, :course_id => @course_id, :curriculum_unit_id => @curriculum_unit_id)) do |f|
              = button_tag t(".edit"), :class => "btn btn_default edit", :type => :button, :alt => t(".edit")
          %td    
            - groups           = offer.groups
            - allow_deactivate = (not (groups.empty? or (groups.size == groups.where("status = #{false}").size)))
            / deactivate_class[mensagem_no_title, classe_do_botão]
            - deactivate_class = allow_deactivate ? [nil, "btn btn_caution"] : [(groups.empty? ? t(".no_groups") : t(".groups_already_deactivated")), "btn btn_disabled"]
            = form_for(:offer, :url => deactivate_groups_offer_path(offer, :curriculum_unit_id => @curriculum_unit_id, :course_id => @course_id)) do |f|
              = button_tag t(".deactivate_groups"), :class => deactivate_class[1] + " deactivate_groups", :alt => t(".deactivate_groups"), :type => :button, :disabled => (not allow_deactivate), :title => deactivate_class[0], :id => "deactivate_groups_#{offer.id}"
          %td    
            = button_tag t(".delete"), :onclick => "javascript: delete_object('#{offer_path(offer, :curriculum_unit_id => @curriculum_unit_id, :course_id => @course_id)}', '#{offers_path}', 'list_offers')", :class => "btn btn_caution", :alt => t(".delete")

:javascript

  $(document).ready(function(){

    $('.edit').click(function(){
      open_lightbox3($(this).parent().attr('action'), '#{t(".edit_offer")}');
    });

    $('.deactivate_groups').click(function(){
      $.ajax({
        type: 'POST',
        url: $(this).parent().attr('action'),
        success: function(data){
          $("#list_offers").html(data);
          flash_message("#{t('.all_groups_deactivated')}", 'notice');
        },
        error: function(){
          flash_message("#{t('.cant_deactivate')}", 'alert');
        }
      });
    });

  });

