<div class="block_wrapper">
  <div class="block_title">
    <h2><h1><%= t(:offers) %></h1></h2>
  </div>

  <div>
    <table class="tb_list">
      <tbody>
        <% unless @offers.nil? or @offers.empty? %>
          <% @offers.each do |offer| %>
            <tr>
              <td><%= offer.course.code %></td>
              <td><%= offer.semester %></td>
              <td><%= offer.curriculum_unit.name %></td>
              <td><%=l offer.start, :format => :default %> - <%=l offer.end, :format => :default %></td>
              <td><%= link_to t(:edit), edit_offer_path(offer) %></td>
              <td>
                <%= link_to t(:destroy), offer, :method => :delete, :confirm => t(:offer_confirm) %>
              </td>
            </tr>
          <% end %>
        <% else %>
            <tr>
              <td><%= t(:no_offer) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t(:new), new_offer_path %>
  </div>

</div>