$("#table-offer-#{@semester.id}").append('#{escape_javascript(render partial: 'offers/offers', locals: {semester: @semester, type_id: @type_id})}');
$("a.load-more-offers-#{@semester.id}").attr('href', '#{offers_path(page: @offers.next_page, type_id: @type_id, semester_id: @semester.id)}');
$(".tb_list").trigger("update");
$("#all_offers_#{@semester.id}").nice_checkbox();

- unless @offers.next_page
  $("a.load-more-offers-#{@semester.id}").remove();
