<div>

    <%=  image_tag "icon_enrollment.png" %>
    <span class="enrollment_title"><%=t(:enrollm_title)%></span>
    <hr style="border: none; background-color: #b4b3b7; height: 1px; width:745px; left: 0px; position: relative; top:-13px; margin-left:0px; margin-bottom: 0px"></hr>

    <%= form_for :offer, :url => { :controller=>"offers", :action => "showoffersbyuser" } do |f| %>
    
    <div class="enrollment_left">
      <%= f.label t(:enrollm_search), :class => "enrollment_label" %>&nbsp;
      <%= f.text_field  :search, :size=>"30", :class=>'enrollment_search', :value => @search_text %>

      <%= f.label t(:enrollm_search_in), :class => "enrollment_label" %>
      
      <%= f.collection_select(:category, @types, :id, :description, {:include_blank => true, :class => "select_category", :selected => @search_category} ) %>

      <%= image_submit_tag("search.png", :class => 'enrollment_search_icon')%>
    </div>

    <div class="enrollment_right">
      <%= f.label t(:enrollm_view), :class => "enrollment_label" %>
      <%= f.label ': ', :class => "enrollment_label" %>&nbsp;
      <%= link_to t(:enrollm_view_all),{:controller=>"offers", :action=>"showoffersbyuser", :category_query => 'all'}, :class=>"link_gray"%>&nbsp;
      <%= link_to t(:enrollm_view_enrolled),{:controller=>"offers", :action=>"showoffersbyuser", :category_query => 'enroll'}, :class=>"link_gray"%>
    </div>
    <% end %>
    
    <div style="padding-top: 50px; min-height: 120px">

    <% if flash[:success] || flash[:error] || flash[:notice]%>
      <%=raw message %>&nbsp;
    <% else %>
      <br/>
    <% end %>

    <table cellpadding="2" cellspacing="0" width="745px">
      <tr class="headtable_blue">
        <td class="td_head_blue"><%= t(:enrollm_curriculum_unit)   %></td>
        <td class="td_head_blue" align="center"><%= t(:enrollm_category)   %></td>
        <td class="td_head_blue" align="center"><%= t(:enrollm_group)   %></td>
        <td class="td_head_blue" align="center"><%= t(:mysolar_mn_enrollment)%></td>
      </tr>

      <% if @offers %>
        <% @offers.each do |offer| %>
          <tr class="<%= cycle('rowtable_odd', 'rowtable_even') %>" >
            <td class="td_blue_first"><%= offer.name %></td>
            <td class="td_blue"><%= image_tag("category"+offer.categoryid.to_s+".png")%>&nbsp;<%= offer.categorydesc %></td>
            <td class="td_blue" align="center"><%= offer.code %></td>
            <td class="td_blue" align="center">
              <% case offer.status %>
              <% when Allocation_Pending.to_s %>
                <%= button_to t(:enrollm_cancel_request),{:controller=>"allocations", :action=>"cancel_request", :id => offer.allocationid}, :confirm => t(:enrollm_confirm), :class=>'enrollment_link' %>
              <% when Allocation_Pending_Reactivate.to_s %>
                <%= button_to t(:enrollm_cancel_request),{:controller=>"allocations", :action=>"cancel_request", :id => offer.allocationid}, :confirm => t(:enrollm_confirm), :class=>'enrollment_link' %>
              <% when Allocation_Activated.to_s %>
                <% if (offer.allows_enrollment == 't') %>
                  <%= button_to t(:enrollm_cancel),{:controller=>"allocations", :action=>"cancel", :id => offer.allocationid}, :confirm => t(:enrollm_confirm), :class => 'enrollment_link' %>
                <% else %>
                  <%= label_tag "lb_enrollm", t(:enrollm_enrolled), :class => "enrollment_label" %>
                <% end %>
              <% when Allocation_Cancelled.to_s %>
                <%= button_to t(:enrollm_enroll),{:controller=>"allocations", :action=>"reactivate", :id => offer.allocationid }, :class=>'enrollment_link' %>
              <% else %>
                <%= button_to t(:enrollm_enroll),{:controller=>"allocations", :action=>"send_request", :id => offer.allocationid, :tagid => offer.allocationtagid, :userid => current_user.id }, :class=>'enrollment_link' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

    </table>
    </div>
    
</div>