// = require jquery
// = require jquery_ujs
// = require jquery.qtip.min
// = require jquery.sticky

// = require jquery-ui
// = require jquery.ui.datepicker-en-US
// = require jquery.ui.datepicker-pt-BR
// = require jquery.tablesorter

// = require jquery.mask.min

// = require jquery.dropdown
// = require intro.min

// = require mysolar
// = require lightbox

// = require messages
// = require lessons

// = require fancybox
// = require helpers
// = require nice

// = require tooltip
// = require tablesorter

/**
 * Retira o menu de usuário na barra superior ao clicar em outro canto da tela
 */

$(function() {
  $("#change_picture").fancybox({
    maxWidth  : 500
  });
});

$(function(){
  $("body").click(function(e) {
    if((e.target.id !== 'mysolar_top_submenu') && (e.target.id !== 'mysolar_top_user_nick') && (e.target.id !== 'image_user')){
      $("#mysolar_top_submenu").slideUp(150);
      $('#mysolar_top_submenu_label').removeClass('mysolar_top_submenu_label_selected');
      $('#mysolar_top_submenu_label').addClass('mysolar_top_submenu_label_regular');
    }
  });
});

$(function(){
  $("body").click(function(e) {
    if((e.target.id !== 'mysolar_submenu_help') && (e.target.id !== 'help_top')){
      $("#mysolar_submenu_help").slideUp(150);
      $('#mysolar_top_help').removeClass('mysolar_top_submenu_label_selected');
      $('#mysolar_top_help').addClass('mysolar_top_submenu_label_regular');
    }
  });
});

/**
 * Menu Accordion
 */
$(function() {
  $('.mysolar_menu_title').click(function() {
    // verificando se o item do menu já está ativo
    if ( $(this).parent().hasClass('mysolar_menu_title_active') == false ) {
      // limpando o menu, removendo itens ativos e ocultando submenu
      $('.mysolar_menu_title').each(function(){
        $(this).parent().removeClass('mysolar_menu_title_active').removeClass('mysolar_menu_title_single_active');
        $(this).find('div').removeClass('menu_icon_animate');
        $(this).next('.submenu').slideUp('fast');
      });
    }
    // verificando se o item possui filhos
    if ( $(this).parent().hasClass('mysolar_menu_title_single') == false ) {
      // adicionando icone da seta
      $(this).parents('li').find('.menu_icon_arrow').addClass('menu_icon_animate');
      // tornando o item ativo
      $(this).parent().addClass('mysolar_menu_title_active');
      // exibindo submenu
      $(this).next('.submenu').slideDown('fast');
    } else {
      // adicionando icone da bolinhaaaaaa
      $(this).parents('li').find('.menu_icon_circle').addClass('.menu_icon_animate');
      // tornando o item ativo
      $(this).parent().addClass('mysolar_menu_title_single_active');
    }
  });

  if($('.mysolar_menu_title_single > a').children("div.menu_icon_circle").length == 0)
    $('.mysolar_menu_title_single > a').prepend('<div class="menu_icon_circle">&bull;</div>');
  
  if($('.mysolar_menu_title_multiple > a').children("div.menu_icon_arrow").length == 0)
    $('.mysolar_menu_title_multiple > a').prepend('<div class="menu_icon_arrow">&#8227;</div>');

  // abre menu corrente
  $('.open_menu').click();
});

/**
* Alertas
*/
$(window).load(function(){
  $(".flash_message_wrapper").sticky({
    topSpacing: 0,
    center:true,
    className:"sticky-float"
  })
})

function showLocalTime(container) {
  if (!$('#'+container).length) return;
  updateTime(container, "<%= I18n.l(Time.now, format: :clock_time)%>".split(":"));
}

function updateTime(el, server_time) {
  var localtime = new Date(new Date().setHours(server_time[0], server_time[1], server_time[2]))
  localtime.setSeconds(localtime.getSeconds()+1);
  $("#"+el).html(formatNumber(localtime.getHours()) + ":" + formatNumber(localtime.getMinutes()) + ":" + formatNumber(localtime.getSeconds()));
  setTimeout(function(){updateTime(el, [localtime.getHours(), localtime.getMinutes(), localtime.getSeconds()]);}, 1000);
}

function formatNumber(num) { return (num < 10) ? "0" + num : num; }

function solar_help() {
  introJs().setOptions({
    showStepNumbers: false,
    nextLabel: "<%= I18n.t(:tutorial_next) %>",
    prevLabel: "<%= I18n.t(:tutorial_previous) %>",
    skipLabel: "<%= I18n.t(:tutorial_skip) %>",
    doneLabel: "<%= I18n.t(:tutorial_done) %>",
    steps: [
      {
        element: '#mysolar_logo',
        intro: 'Bem-vindo ao Solar 2.0.'
      },
      {
        element: '#mysolar_identity',
        intro: 'Barra superior: Nesta barra você visualiza informações sobre o seu usuário, hora do sistema, ajuda e sair do Solar'
      },
      {
        element: '#mysolar_top_submenu_label_regular',
        intro: 'Seu usuário atual. Clique para visualizar mais informações, editar seu perfil ou alterar sua foto'
      },
      {
        element: '#mysolar_tabs',
        intro: 'Abas onde você pode navegar entre o MeuSolar e os Cursos que tiver acessado na sessão'
      },
      {
        element: '#mysolar_languages',
        intro: 'Aqui você pode escolher o idioma'
      },
      {
        element: '#mysolar_suggestions',
        position: 'left',
        intro: 'Aqui você pode enviar suas críticas, sugestões e comentários para que possamos melhorar o Solar 2.0'
      },
      {
        element: '#mysolar_sidebar',
        intro: 'Menu de navegação'
      },
      {
        element: '#mysolar_content',
        intro: 'Área de conteúdo'
      },
      {
        element: '#mysolar_top_help',
        position: 'left',
        intro: 'Caso deseje ver este tutorial novamente, basta clicar em Ajuda e depois em Contextual.<br><br>Aproveite o novo <b>Solar 2.0!</b>'
      }
    ]
  }).start();
}
