/* configuração da barra de ferramentas do ckeditor */
CKEDITOR.editorConfig = function (config) {
  config.language = locale;

  config.toolbarGroups = [
    { name: 'clipboard',   groups: [ 'cut', 'copy', 'paste', 'pasteText', 'pasteFromWord', '-', 'undo', 'redo' ] },
    { name: 'editing',     groups: [ 'find', 'selection' ] },
    { name: 'links',  groups: ['link', 'unlink', 'image', 'oembed', 'smiley' ] },
    { name: 'insert', groups: ['eqneditor' ] },
    { name: 'forms' },
    { name: 'tools' },
    { name: 'document',    groups: [ 'mode', 'document', 'doctools' ] },
    { name: 'others' },
    '/',
    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup', 'bold', 'italic', 'underline', 'strike', '-', 'removeformat' ] },
    { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
    { name: 'styles',   groups: [ 'styles', 'format', 'font', 'textcolor' ] },
    { name: 'colors' }
  ];

  // Remove some buttons provided by the standard plugins, which are
  // not needed in the Standard(s) toolbar.
  config.removeButtons = 'Underline,Subscript,Superscript';

  // Set the most common block elements.
  config.format_tags = 'p;h1;h2;h3;pre';

  // Simplify the dialog windows.
  config.removeDialogTabs = 'image:advanced;link:advanced';

    config.extraPlugins = 'eqneditor,oembed,smiley';
    config.startupFocus = true;
    config.autoParagraph = false;
};

CKEDITOR.on('instanceReady', function (ev) {
   // Prevent drag-and-drop.
   ev.editor.document.on('drop', function (ev) {
      ev.data.preventDefault(true);
   });
});

function form_post_reset_parameters() {
  var action = $('form#new_post_form').attr('action-default');
  $('form#new_post_form').attr('action', action);
  $('form#new_post_form #discussion_post_parent_id').val(null);
  $('form#new_post_form input[name=_method]').val('put');
}

function destroy_editor() {
  if (CKEDITOR.instances['post_content']) {
    CKEDITOR.instances['post_content'].destroy(true)
    $("#post_content").val(null);
    clear_input_file();
  }
}

function append_rich_text(container) {
  destroy_editor();
  CKEDITOR.replace('post_content');

  $("#new_post").detach().appendTo(container);
  $('#new_post').show(300);
}

function cancel_posting() {
  if (!confirm("<%= I18n.t('posts.index.confirm_cancel') %>")) return;
  remove_ckeditor();
  clear_input_file();
}

function remove_ckeditor(){
  $('#new_post').parent().parent().find('.publish_post').show();
  append_rich_text($(".new_posts"));
  $('#new_post').hide(300);
  $('#new_post').parent().hide(300, function() {
    destroy_editor();
  });
  stopDictationWithoutIcon();
}

function new_post(obj, parent) {
  var width = $(obj).closest('.forum_post_wrapper').width();
  $(obj).closest('.forum_post_wrapper').css('width', width);

  if($("#new_post:visible").length > 0)
    if (!confirm("<%= I18n.t('posts.index.confirm_ckeditor') %>")) return;
  form_post_reset_parameters();

  $('form#new_post_form input[name=_method]').val('post');
  if (parent > 0) { $('form#new_post_form #discussion_post_parent_id').val(parent); } // resposta

  if ( $(obj).parent().attr('id') == 'forum_new_message' ) {
    postNew = $(obj).closest('.forum_navigation').children(".forum_post_new");
    $(postNew).show();
    append_rich_text(postNew); // seletor para novo post

  } else {
    postReply = $(obj).closest('.forum_post_wrapper').children(".forum_post_reply");
    $(postReply).show();
    append_rich_text(postReply); // seletor para reply
  }

  $('form#new_post_form').attr('method', "POST");
  clear_input_file();
  return false;
};

function update_post(obj, post, parent) {
  var width = $(obj).closest('.forum_post_wrapper').width();
  $(obj).closest('.forum_post_wrapper').css('width', width);

  if($("#new_post:visible").length > 0)
    if (!confirm("<%= I18n.t('posts.index.confirm_ckeditor') %>")) return;
  form_post_reset_parameters();

  if (parent > 0) { $('form#new_post_form #discussion_post_parent_id').val(parent); } // post com parent
  var action = $('form#new_post_form').attr('action-to-edit').replace(':id', post);
  $('form#new_post_form').attr('action', action);
  $('form#new_post_form').attr('method', "PUT");

  postEdit = $(obj).closest('.forum_post_wrapper').children(".forum_post_reply");
  $(postEdit).show();
  append_rich_text(postEdit);
  $(postEdit).parent().find('.publish_post').hide();
  CKEDITOR.instances['post_content'].setData($(obj).closest('.forum_post_wrapper').children('.forum_post_inner_content').html());
  clear_input_file();


  var url_for = "<%= Rails.application.routes.url_helpers.post_files_post_path(id: ':id') %>";
  $.get(url_for.replace(':id', post), function(data) {
    if(data.length>0 && data != "undefined") {
      $(".attachment_title_", $('.posts')).removeClass("invisible");
      $(".attachment_title_").show();
      for(var i = 0; i < data.length; i++) {
        var file = data[i];
        add_up_file(file.id, file.attachment_file_name, file.attachment_file_size)
      }
    }
  });

  return false;
}

function delete_post(button) {
  var post_id = $(button).data("post");
  var url     = $(button).data("url");
  if (!confirm("<%= I18n.t(:message_confirm) %>")) return;

  $.ajax({
    type: "DELETE",
    url: url,
    success: function(data) {
      $('#' + post_id).fadeOut(100, function() {
        $(this).remove();
        $('.number_post').each(function(index){
          var indice = index+1;
          $(this).attr("id", "span_"+indice);
          parent_id = $(this).html();
          label = indice+"<%= I18n.t('posts.post.post') %>";
          display_mode = "#{display_mode}";
          if(parent_id && $("#"+parent_id).length && display_mode != 'list'){
            var elemento = $("#"+parent_id).find('.number_post');
            id_pai = $(elemento).attr('id');
            label = label +"<%= I18n.t('posts.post.answer_post') %>"+ id_pai+"<%= I18n.t('posts.post.res_post') %>";
            $(this).attr("aria-label", label);
          }else{
            $(this).attr("aria-label", label);
          }
        });
        flash_message("<%= I18n.t('posts.post.remove_post') %>", 'notice');
      });
    },
    error: function(data) {
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, 'alert');
    }
  });
}

function add_post_count_warning(current_page){
  var count_posts = $(".forum_post_wrapper.new").length;
  if (count_posts>0)
    flash_message(count_posts + "<%= I18n.t('posts.post.new_posts') %>", "blue_warning", undefined, "go_to_first_new_post");
  else
    if (current_page != undefined && current_page != 1) // if isn't at first page
      flash_message("<%= I18n.t('posts.post.new_posts_page') %>" +1+") ", "blue_warning", undefined, "go_to_first_new_post");
    else
      erase_flash_messages();

  $(".blue_warning").prepend('<i class="icon-plus-circle"></i>');

  var arrow_class = "";
  var first_new_post = $($(".forum_post_head.new")[0]);

  if (!first_new_post.length){ // if there is no new post on this page
    if (parseInt(current_page) != 1)
      arrow_class = "left";
  }else{
    if (first_new_post.offset().top > $(".blue_warning").offset().top)
      arrow_class = "down";
    else
      arrow_class = "up";
  }

  $(".blue_warning").append('<i class="icon-arrow-'+arrow_class+'-thin top-arrow"></i><i class="icon-arrow-'+arrow_class+'-thin bottom-arrow"></i>');
}

function go_to_first_new_post(){
  $("#flash_message.blue_warning").click(function(){
    var new_post = $($(".forum_post_head.new")[0]).offset();
    if (new_post)
      $(window).scrollTop(new_post.top);
  });
}

function delete_post_file(button, post_id) {
  var id      = $(button).data("post");
  var url     = $(button).data("url");
  var post_id_ul= 'ul_'+post_id;
  var n = $( "#"+post_id_ul+" li" ).length;

  if (!confirm("<%= I18n.t(:message_confirm) %>")) return;
  $.ajax({
    type: "DELETE",
    url: url,
    success: function(data) {
      $('#' + id).remove();
      if(n==1)
        $( "#"+post_id_ul+" h3" ).remove();
      flash_message("<%= I18n.t('posts.update.updated') %>", 'notice');
    },
    error: function(data) {
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, 'alert');
    }
  });
}

function clear_input_file(){
  $('.hidden_input_file').val("");
  $('.attachment_title_').hide();
  $('.input.files').remove();
  $('._id').remove();
}

function add_up_file(id, input_value, size) {
  if ($(".file_input:last").length)
    var nested_form = $(".file_input:first", $('.posts'));

  var new_form = nested_form.clone();

  var input_name = $("input[type='file']", new_form).attr("name");
  var input_name_destroy = $(".destroy_input_file", new_form).attr("name");
  var input_id_destroy = $(".destroy_input_file", new_form).attr("id");

  input_name = input_name.replace(new RegExp(/\[[0-9]+\]/), "[" + id + "]");
  input_name_destroy = input_name_destroy.replace(new RegExp(/\[[0-9]+\]/), "[" + id + "]");
  input_id_destroy = input_id_destroy.replace(new RegExp(/\_[0-9]+\_/), "_" + id + "_");

  var input_id = "<input id='post_files_attributes_"+id+"_id' name='post[files_attributes]["+id+"][id]' type='hidden' value='"+id+"' class='_id'>";

  var _destroy = $(".destroy_input_file", new_form);
  var attachment = $("input[type='file']", new_form);

  $(attachment).attr("name", input_name);
  $(_destroy).attr("data-file-id", id);
  $(_destroy).attr("id", input_id_destroy);
  $(_destroy).attr("name", input_name_destroy);

  $(new_form).insertAfter( nested_form.last() );
  $('#'+input_id_destroy).after(input_id);

  $(".attachment_title_", $('.posts')).removeClass("invisible");
  $(".attachment_title_").show();

  var text_aria_label = "<%= I18n.t('posts.post.remove_file') %>"+': ' + input_value + ' ' +humanFileSize(size);
  var new_file_name = "<div class='input files'> <label></label> <span class='file' data-input-file-name=" + input_name + " data-input-file-id=" + id + ">" + input_value + "<i class='icon-cross-square warning remove_file_saved' tabindex= '0' aria-label= '"+text_aria_label+"' data-tooltip= '"+text_aria_label+"' ></i> </span> </div>";

  if ($(".list_files_to_send_ .files:last").lenght)
    $(".list_files_to_send_ .files:last").after(new_file_name);
  else
    $(".list_files_to_send_").append(new_file_name);

  $(".remove_file_saved", $('.posts')).on("click keypress", function(event){
    var keynum = event.which || event.keyCode;

    if( keynum == 13 || event.type == 'click'){
      var span_file = $(this).parents('span.file');
      $("input[data-file-id=" + span_file.data("input-file-id") + "]").val(1);

      $(span_file).parents('div.input.files').remove();

      if (!$(".list_files_to_send_").children().length)
        $(".attachment_title_").addClass("invisible");
    }
  });
}

function humanFileSize(size){
  var i = Math.floor( Math.log(size) / Math.log(1024) );
  return ( size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB'][i];
}
