$(function(){ 

  $('[id^="enrollment_info"]').call_fancybox({
    element_selector_back: '.enrollment_list h2'
  });

  // requests
  function enroll_error_request(data) {
    var data = $.parseJSON(data.responseText);
    if (typeof(data.alert) != "undefined")
      flash_message(data.alert, 'alert');
    if (typeof(data.msg) != "undefined")
      flash_message(data.msg, 'alert');
  }

  // ja matriculado e quer cancelar
  $('table tbody tr.lines').on('click', 'a.allocation_cancel_enroll', function(e){
    e.preventDefault();

    if (!confirm("<%= I18n.t('enrollments.index.confirm') %>"))
      return false;

    var reactivate_url = $(this).attr('href').replace('cancel', 'request_reactivate');
    var td = $(this).closest('td');

    $.delete($(this).attr('href'), function(data){
      var enroll_link = '<a href="' + reactivate_url + '" class="btn btn_default request_enroll"><%= I18n.t('enrollments.index.enroll') %></a>';
      td.html(enroll_link);

      flash_message(data.msg, 'notice');
    }).error(enroll_error_request);
  });

  // pediu matricula e quer cancelar
  $('table tbody tr.lines').on('click', 'a.allocation_cancel_request', function(e){
    e.preventDefault();

    if (!confirm("<%= I18n.t('enrollments.index.confirm') %>"))
      return false;

    var a = $(this);
    var tr = $(this).closest('tr');
    var td = $(this).closest('td');

    $.delete($(this).attr('href'), function(data){
      var group_id = tr.data('group-id');
      if (group_id) {

        var class_reactivate = '';
        if (a.hasClass('request_reactivate')) { // verifica se ja tem uma alocacao, mas nao esta ativa
          var enroll_url = $('.allocations.list').data('link-reactivate').replace(':allocation_id', data.id);
          class_reactivate = 'request_reactivate';
        } else {
          var enroll_url = $('.allocations.list').data('link-enroll').replace('allocation_group_id', group_id);
        }
        var enroll_link = '<a href="' + enroll_url + '" class="btn btn_default request_enroll ' + class_reactivate + '"><%= I18n.t('enrollments.index.enroll') %></a>';

        td.html(enroll_link);
      }

      flash_message(data.msg, 'notice');
    }).error(enroll_error_request);
  });

  // pedir matricula
  $('table tbody tr.lines').on('click', 'a.request_enroll', function(e){
    e.preventDefault();

    var a = $(this);
    var td = $(this).closest('td');
    $.post($(this).attr('href'), {format: 'json'}, function(data){
      var cancel_url = $('.allocations.list').data('link-cancel-request').replace(':allocation_id', data.id);

      var class_reactivate = '';
      if (a.hasClass('request_reactivate'))
        class_reactivate = 'request_reactivate';

      var cancel_link = '<a href="' + cancel_url + '" class="btn btn_caution allocation_cancel_request ' + class_reactivate + '"><%= I18n.t('enrollments.index.cancel_request') %></a>';

      td.html(cancel_link);
      flash_message(data.msg, 'notice');

    }).error(enroll_error_request);
  });

}); // end function jquery

// -- EDX -- \\
$(function(){
  var search_data = {
    type: $("#type").val(),
    uc: $("#curriculum_unit").val()
  };

  $.get("<%= Rails.application.routes.url_helpers.available_edx_courses_path %>", search_data, function(data) {
    if($(data).length > 0)
      $(".any_found.text_none").remove();
    $(".tb_list.enrollment_list tbody").append(data);
  });
});
