function select_group(element){
  if ($(element).hasClass("label")){
    $(".selected").removeClass("selected");
    $(element).addClass("selected");
  }
  $.get($(element).data("url"), function(data){
    $(".participants_column .block_content").html(data);
    if ($(element).data("name") != undefined)
      var name = $(element).data("name");
    else{
      var text_field = $($(element).find("input#group_assignment_group_name")[0]).val();
      if (text_field == undefined)
        var name =  $(element).text();
      else
        var name = text_field;
    }
    var message = $(element).data("message");
    if ( message != undefined && message != "")
      flash_message(message, "warning", "group_assignments.header");
    else if (text_field == undefined)
      erase_flash_messages();
    $(".participants_column h2").text("<%=I18n.t('group_assignments.index.participants')%> ( "+name+" )");
  });
}

function add_participant(td){
  change_participant(td, "<%=Rails.application.routes.url_helpers.add_participant_group_assignment_path(':id', user_id: 'uid', score_type: 'scoretype')%>", "participants_column", "cross-square", "remove");
}

function remove_participant(td){
  change_participant(td, "<%=Rails.application.routes.url_helpers.remove_participant_group_assignment_path(':id', user_id: 'uid', score_type: 'scoretype')%>", "students_without_groups_column", "plus-square", "add");
}

function edit_group(icon){
  var label = $($(icon).parents(".label")[0]);
  $.get("<%=Rails.application.routes.url_helpers.edit_group_assignment_path(':id')%>".replace(":id", label.data("group-id")), function(data){
    label.html(data);
  });
}

function remove_group(icon){
  var label = $($(icon).parents(".label")[0]);
  if (confirm("<%=I18n.t('group_assignments.index.confirm')%>"))
    $.delete("<%=Rails.application.routes.url_helpers.group_assignment_path(':id')%>".replace(":id", label.data("group-id")), function(data){
      label.remove();
      clear_participant_list();
      var new_table = $(".students_without_groups_column tbody");
      $.get("<%=Rails.application.routes.url_helpers.students_with_no_group_group_assignments_path(assignment_id: 'aid')%>".replace("aid", new_table.data("assignment-id")), function(data){
        new_table.html(data);
        update_tables_with_no_data();
      });
    }).error(function(data){
      show_error(data, null, "group_assignments.header");
    });
}

function cancel_group(icon){
  var label = $($(icon).parents(".label")[0]);
  $.get("<%=Rails.application.routes.url_helpers.group_assignment_path(':id')%>".replace(":id", label.data("group-id")), function(data){
    label.html(data);
  });
}

function rename_group(icon){
  var label = $($(icon).parents(".label")[0]);
  var form  = $($(icon).parents("form")[0]);
  $.put("<%=Rails.application.routes.url_helpers.group_assignment_path(':id')%>".replace(":id", label.data("group-id")), form.serialize(), function(data){
    $.get("<%=Rails.application.routes.url_helpers.group_assignment_path(':id')%>".replace(":id", label.data("group-id")), function(data){
      label.html(data);
    });   
  }).error(function(data){
    show_error(data, null, "group_assignments.header");
  });
}

function clear_participant_list(){
  $(".participants_column tbody").parents(".block_content").first().find(".text_none").first().addClass("hide_message");
  $(".participants_column tbody").html('<tr><td class="text_none" colspan="2">Selecione um grupo</td></tr>');
  $(".participants_column h2").text("<%=I18n.t('group_assignments.index.participants')%>");
}

function select_assignment(label){
  $(".selected").removeClass("selected");
  $(label).addClass("selected");
  $.get($(label).data("url"), function(data){
    $(".groups_column tbody").html(data);
    $(".groups_column h2").text("<%=I18n.t('group_assignments.import_list.groups')%> ( "+$(label).text()+" )");
    clear_participant_list();
  }).error(function(data){
    show_error(data, null, "group_assignments.header");
  });
}

function import_group(button){
  var from_group_id = $($(".label.selected")[0]).data("assignment-id")
  $.post($(button).data("url").replace("aid", from_group_id), function(data1){
    $.fancybox.close();
    update_list(data1.notice);
  }).error(function(data){
    show_error(data, null, "group_assignments.header");
  });
}

function change_participant(td, url, tbody, icon, method){
  var tr = $(td).parent();
  var group_id = $($(".label.selected")[0]).data("group-id");
  if (group_id == null)
    show_error("", '<%=I18n.t("group_assignments.index.select_a_group")%>', "group_assignments.header");
  else{
    $.put(url.replace(":id", group_id).replace("uid", tr.data("user-id")).replace('scoretype', $('.group_assignments.header').data('score')), function(data){

      after_evaluate('Assignment', $('.group_assignments.header').data('score'), data.ac, tr.data('user-id'), data, group_id);

      var new_table = $("." + tbody + " tbody");
      $(tr).appendTo(new_table);
      update_tables_with_no_data();
      if (method == "add")
        var tooltip = '<%=I18n.t("group_assignments.index.add")%>';
      else
        var tooltip = '<%=I18n.t("group_assignments.index.remove")%>';
      $($(tr).find("td.icon")[0]).replaceWith('<td class="icon" onclick="'+method+'_participant(this)" title="'+tooltip+'" data-tooltip="'+tooltip+'"><i class="icon-'+icon+'"></i></td>');
    }).error(function(data){
      show_error(data, null, "group_assignments.header");
    });
  }
}


function update_list(message){
  $.get("<%=Rails.application.routes.url_helpers.list_without_layout_assignments_path%>", function(data){
    $(".assignments_list").replaceWith(data);
    if (message != undefined)
      flash_message(message, "notice");
  });
}
