lesson_cookie_id = "_ufc_solar20_lesson_opened";
var dropdownModulesIsOpen = false;
var dropdownLessonsIsOpen = false;

function maximize_lesson(obj) {
  var home_tab = $(".mysolar_unit_active_tab.general_context").length;
  if (!$.cookie(lesson_cookie_id) || home_tab)
    return;

  $(obj).nice_open_lesson({ href: $.cookie(lesson_cookie_id) });
  event.preventDefault();
}

function minimize_lesson() {
  document.domain = "<%= YAML::load(File.open('config/global.yml'))[Rails.env.to_s]['domain'] %>";

  var home_tab = $(".mysolar_unit_active_tab.general_context").length;
  if (!home_tab) {
    // save cookie with the new url
    var lesson_URL = $(".fancybox-ajax").contents().find(".lesson .content").data("url");
    $.cookie(lesson_cookie_id, lesson_URL);

    $(".fancybox-skin").effect( "transfer", { to: $("#mysolar_open_lesson") }, 750 ); // transfer effect
    $("#mysolar_open_lesson button").removeClass("disabled");
    $("#mysolar_open_lesson button").removeAttr("disabled");
    $("#mysolar_open_lesson button").attr("aria-label", "<%=I18n.t(:mysolar_open_lesson_alt, disabled: '')%>");
    $("#mysolar_open_lesson button").focus();
  }
  else{
    $("#mysolar_open_lesson button").addClass("disabled");
    $("#mysolar_open_lesson button").prop("disabled", true);
    $("#mysolar_open_lesson button").attr("aria-label", "<%=I18n.t(:mysolar_open_lesson_alt, disabled: I18n.t(:open_lesson_no_lesson))%>");
  }
  $.fancybox.close();
}

function close_lesson() {
  $("#mysolar_open_lesson button").addClass("disabled");
  $("#mysolar_open_lesson button").prop("disabled", true);
  $("#mysolar_open_lesson button").attr("aria-label", "<%=I18n.t(:mysolar_open_lesson_alt, disabled: I18n.t(:open_lesson_no_lesson))%>");
  $.removeCookie(lesson_cookie_id);
}

function focus_element(element){
  $(element).prop('tabindex', 0);
  $(element).focus();
}

function open_new_lesson_on_fancybox(lesson_path, lesson_url, draft) {
  $('.lesson .content').attr('data-url', lesson_url);
  $('.lesson .content iframe').attr('src', lesson_path);

  if (draft) {
    $('.lesson_status .draft').removeClass('invisible');
    $('.lesson_status .released').addClass('invisible');
  } else {
    $('.lesson_status .draft').addClass('invisible');
    $('.lesson_status .released').removeClass('invisible');
  }

  focus_element('.lesson.open h2');
}


function click_on_keypress(event, element){
  if(event.which == 13)
    $(element).click();
  return false;
}

function toggle_modules() {
  if (dropdownModulesIsOpen) {
    hide_modules();
  } else {
    show_modules();
  }
}

function show_modules() {
  var link = $("#module-selected");
  dropdownModulesIsOpen = true;
  $("#lmodule-options-dropdown").css({
    left: link.position().left + parseInt(link.css('margin-left')),
    top: link.position().top + link.outerHeight(true) - parseInt(link.css('margin-top'))
  }).show();

  $("#lmodule-options-dropdown a").first().focus();
}

function hide_modules() {
  dropdownModulesIsOpen = false;
  $("#lmodule-options-dropdown").hide();
}

// select modules
function change_module(event, link) {
  var keynum = event.which || event.keyCode;

  if (keynum == 13 || keynum == 32 || event.type == 'click') {
    var lessons_url = get_module_lessons_url.replace('lesson_module_id', $(link).data('id')).replace('allocation_tags_ids_value', $(link).data('ats'));
    $.get(lessons_url, function(data){
      $('.lesson.open').replaceWith(data);
      focus_element('.lesson.open h2');
    });

    hide_modules();
  }

  navigation_focus_modules(event, link);
}

function toggle_lessons() {
  if (dropdownLessonsIsOpen) {
    hide_lessons();
  } else {
    show_lessons();
  }
}

function show_lessons() {
  var link = $("#lesson-selected");
  dropdownLessonsIsOpen = true;
  $("#lesson-options-dropdown").css({
    left: link.position().left + parseInt(link.css('margin-left')),
    top: link.position().top + link.outerHeight(true) - parseInt(link.css('margin-top'))
  }).show();

  $("#lesson-options-dropdown a").first().focus();
}

function hide_lessons() {
  dropdownLessonsIsOpen = false;
  $("#lesson-options-dropdown").hide();
}

// select lessons
function change_lesson(event, link) {
  var keynum = event.which || event.keyCode;

  if (keynum == 13 || keynum == 32 || event.type == 'click') {
    var lesson_path = $(link).data('path');
    var lesson_url  = get_lesson_url.replace('lesson_id', $(link).data('id'));

    $(link).closest(".dropdown-menu").find("a").removeClass("selected");
    $(link).addClass("selected");

    if (lesson_path.includes("https://youtu.be")){
      lesson_path = lesson_path.replace("https://youtu.be", "https://www.youtube.com/embed/")
    }

    var lesson_selected = $(link).html();
    $('#lesson-selected').empty().html(lesson_selected + '<i aria-hidden="true" class="icon-arrow-down-triangle"></i>');
    open_new_lesson_on_fancybox(lesson_path, lesson_url, $(link).data('draft'));

    if(/.aac|.m4a|.mp4|.m4v|.webm|.avi/.test(lesson_path)) {
      $(".lesson-file-download").show();
      $(".content").empty().html(video(lesson_path));
    }
    else {
      $(".lesson-file-download").hide();
      $(".content").empty().html(iframe(lesson_path));
    }

    hide_lessons();
  }

  navigation_focus_lessons(event, link);
}

function video(url) {
  var html  = '';

  html += '<span class="hide">"#{t(:audio_suggestions)}"</span>'
  html += "<video src='" + url + "' autoplay='false' controls='true' name='audioQuestion' preload='auto' onplay='check(this);' onclick='handleMediaErrorFirefox(this);' onkeypress='return handleEnterKey(event, this);'>";
  html += '<track kind="captions">';
  html += '<track kind="descriptions">';
  html += '</video>';

  return html;
}

function iframe(url) {
  return "<iframe id='content_lesson' src='" + url + "' width='100%'' height='100%' name='content_lesson' target='_self' frameborder='0' framespacing='0'></iframe>";
}

function navigation_focus_modules(event, link) {
  var keynum = event.which || event.keyCode;

  switch( keynum ) {
    case 40:
      $(link).closest("li").next("li").find("a").focus();
      break;
    case 39:
      hide_modules();
      $("#lesson-selected").focus();
      break;
    case 38:
      $(link).closest("li").prev("li").find("a").focus();
      break;
    case 27:
      hide_modules();
      $("#module-selected").focus();
      break;
  }
}

function navigation_focus_lessons(event, link) {
  var keynum = event.which || event.keyCode;

  switch( keynum ) {
    case 40:
      $(link).closest("li").next("li").find("a").focus();
      break;
    case 38:
      $(link).closest("li").prev("li").find("a").focus();
      break;
    case 37:
      hide_lessons();
      $("#module-selected").focus();
      break;
    case 27:
      hide_lessons();
      $("#lesson-selected").focus();
      break;
  }
}

function send_text_lesson(obj){
  var url = $(obj).data('url');
  if(check_if_text_is_complete()==true){
    language = $("#language_option option:selected").val();
    $.fancybox.open($('#saving'));
    $.ajax({
      type: "POST",
      url: url,
      data: {
          timestamp: (new Date()).getTime(),
          text: array_topicos,
          language: language,
          authenticity_token: $('meta[name="csrf-token"]').attr('content')
      },
      success: function (data) {
        $("#audio_lesson").attr("src", data.path);
        $.fancybox.close();
        flash_message(data.msg, 'notice');
      },
      error: function(data) {
        $.fancybox.close();
        var data = $.parseJSON(data.responseText);
        if (typeof(data.alert) != "undefined")
          flash_message(data.alert, 'alert');
      }
    });
  }else{
    alert('<%= I18n.t(:missing_topics, :scope => [:lessons, :open]) %>'+ array_topicos_missing.join(', '));
  }
}
 function check_if_text_is_complete(){
  let text_is_complete = true;
  if(array_topicos.length>0){
    for (var i in array_topicos) {
      if(array_topicos[i].length==1){ 
        let idx = array_topicos_missing.indexOf(array_topicos[i][0]);
        if(idx==-1){
          array_topicos_missing.push(array_topicos[i][0]);
        }
        text_is_complete = false;
      }
    }
  }else{
    text_is_complete = false;
  }
  return text_is_complete;
}
 function generate_text_lesson(){
  for (var i in array_topicos) {
    if(i==0)
      lesson_text = array_topicos[i][1];
    else
      lesson_text = lesson_text+', '+array_topicos[i][1];
  }
}

function clone_audio_lesson(id){
 // e.preventDefault();
  var url = "<%= Rails.application.routes.url_helpers.export_lessonaudio_lesson_path(id: ':id') %>";
  var lesson_ids = $('.list_lessons_export tbody input:checked').map(function() { return parseInt(this.value); }).get();

  if(!lesson_ids.length){
    flash_message("<%= I18n.t('lessons.errors.export_empty') %>", 'alert');
    return true;
  }
  // don't add toif already exists
  if(!!$('tbody.lessons_to_export tr').length){
    var existing_ids = $('tbody.lessons_to_export tr').map(function(){ return $(this).data('id'); }).get();
    $.each(existing_ids, function(j){
      var i = lesson_ids.indexOf(existing_ids[j]);
      if(i != -1)
        lesson_ids.splice(i, 1);
    });
  }
  $.post(url.replace(':id', id), {lesson_id: lesson_ids[0]}, function(data){
    $.fancybox.close();
    setTimeout(function(){ flash_message(data.msg, 'notice'); }, 500);
  }).fail(function(data){
    var data = $.parseJSON(data.responseText);
    if (typeof(data.alert) != "undefined")
      flash_message(data.alert, 'alert');
  });
}
