function save_notification(){
  var content = $('div.ckeditor .cke_contents iframe').contents().find('body').html();

  if (content != "<p><br></p>" && content != "")
    $('textarea.ckeditor').html(content); // ckeditor nao envia conteudo quando se usa o serialize_and_submit

  $('form#notification_form').serialize_and_submit({
    prepend_to_list: $(".tb_notifications tbody"),
    complement_success: function(data){
      setTimeout(function() {
        if($("[name='_method']").val()=='put'){
          flash_message("<%= I18n.t(:updated, scope: 'notifications.success') %>", "notice");
        }else{
          flash_message("<%= I18n.t(:created, scope: 'notifications.success') %>", "notice");
        }  
        update_tables_with_no_data();
        $(".all_notifications").nice_checkbox({parent_div: $('.list_notifications')});
        $('input.all_notifications').prop("checked", false);
      }, 100);

    }
  });
  setTimeout(function() {
    focuInpuErro();
    loadFocus();
  }, 700);
}

$(function(){
  $(".expand, .compress").click(function(){
    $(this).parents('div:first').hide();
    $($(this).parents('div:first').siblings()[0]).show();
  });

  $(".link_new_notification").call_fancybox();

  $('.delete_notification').click(function(){
    if ($(this).attr('disabled') == 'disabled'){
      flash_message("<%=I18n.t(:choose_at_least_one, scope: 'notifications.list')%>", "alert");
      return false;
    }

    if (!confirm("<%=I18n.t(:message_confirm)%>"))
      return false;

    var notifications = $('.ckb_notification:checked', $(this).parents("div.list_notifications"));
    var notification_ids = $('.ckb_notification:checked', $(this).parents("div.list_notifications")).map(function() { return this.value; }).get();

    if (notification_ids.length) {
      $.delete($(this).data('link-delete').replace(':id', notification_ids), function(data){
        flash_message(data.notice, 'notice');
        notifications.parents('tr').fadeOut().remove();

        $(".btn_edit, .btn_del").attr("disabled", true);
        update_tables_with_no_data();
      }).error(function(data){
        var data = $.parseJSON(data.responseText);
        if (typeof(data.alert) != "undefined")
          flash_message(data.alert, 'alert');
      });
    }
  });

  $(".btn_edit").click(function(){
    if ($(this).attr('disabled') == 'disabled'){
      flash_message("<%=I18n.t(:choose_one, scope: 'notifications.list')%>", "alert");
      return false;
    }

    var notification_ids = $('.ckb_notification:checked', $(this).parents("div.list_notifications")).map(function() { return this.value; }).get();
    var url_edit = $(this).data('link-edit').replace(':id', notification_ids);
    $(this).call_fancybox({href : url_edit, open: true});

  });

  $(".all_notifications").nice_checkbox({parent_div: $('.list_notifications')});
});
