.speech2text{class: class_name}
  = link_to content_tag(:i, nil, class: 'icon-microphone', :'aria-hidden' => 'true'), '#', :'data-tooltip' => t('speech2text.start', field: field), :'aria-label' => t('speech2text.start', field: field), onkeydown: 'click_on_keypress(event, this);', onclick: "startDictation#{number}(event, '#{div_id}', #{ckeditor}, this)", class: 'btn'
  = link_to content_tag(:i, nil, class: 'icon-cross stop', :'aria-hidden' => 'true'), '#', :'aria-label' => t('speech2text.stop', field: field), :'data-tooltip' => t('speech2text.stop', field: field), class: 'btn invisible', onkeydown: 'click_on_keypress(event, this);', onclick: "stopDictation#{number}(event,this)"
