.speech2text{class: class_name}
  = link_to_function content_tag(:i, nil, class: 'icon-microphone btn', :'aria-hidden' => 'true'), "startDictation#{number}(event, '#{div_id}', #{ckeditor}, this)", :'data-tooltip' => t('speech2text.start'), :'aria-label' => t('speech2text.start', field: field)
  = link_to_function content_tag(:i, nil, class: 'icon-cross btn stop', :'aria-hidden' => 'true'), "stopDictation#{number}(this)", :'aria-label' => t('speech2text.stop', field: field), :'data-tooltip' => t('speech2text.stop'), class: 'invisible'
