%span.form_requirement= t(:required_fields)
.course_form
  = simple_form_for(@course, html: {id: "course_form"}) do |f| 
    %h1#lightBoxDialogTitle= t((@course.persisted? ? "edit" : "new"), scope: "courses.index")
    %span.form_requirement= t(:required_fields)

    = hidden_field_tag :type_id, @type_id
    .form-inputs.block_content
      = f.input :code
      = f.input :name
      .right_buttons
        = button_to_function t(".cancel"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"
        = button_tag t(".save"), class: "btn btn_main btn_lightbox", alt: t(".save"), type: "button", id: "save"

:javascript

  $(function(){

    $('#save').click(function(){
      $('#course_form').serialize_and_submit({
        complement_success: function(data) {
          var post_code_name = data.code_name;
          var id  = data.id;
          var course = $("#course");

          if(course.is_empty())
            var course_id = '';
          else
            var course_id = course.combobox('value');

          var url = "#{courses_path(type_id: @type_id, course_id: 'course_param')}".replace('course_param', course_id);

          $.get(url, function(data) {
            $('.courses_list').html(data);

            var autocomplete_option = $('option[value='+id+']');

            if (!autocomplete_option.length){
              // cria novo curso na lista
              $("<option value="+id+">"+post_code_name+"</option>").appendTo("#course");
            }else{
              // atualiza o curso alterada na lista do autocomplete
              autocomplete_option.text(post_code_name);
              // se a curso alterada foi a selecionada no autocomplete, alterar o valor do input
              if(course_id == id)
                $("#autocomplete-input").val(post_code_name);
            }
          });
        }
      });
    });

  });
