%span.form_requirement= t(:required_fields)
.course_form
  = simple_form_for(@course, html: { id: 'course_form' }) do |f|
    %h1#lightBoxDialogTitle= t((@course.persisted? ? 'edit' : 'new'), scope: 'courses.index')
    %span.form_requirement= t(:required_fields)

    = hidden_field_tag :type_id, @type_id
    .form-inputs.block_content
      #steps.steps{class: @course.has_exam_header ? "steps_header" : ""}
        %ul
          %li.info.active
            = t('.info')
            .dot.active#dot-info
          %li.header{class: @course.has_exam_header ? "" : "invisible"}
            = t('.exam_header')
            .dot#dot-header
      .step-info
        = render partial: 'info', locals: { f: f }
      .step-header.invisible
        = render partial: 'headers', locals: { f: f }

= javascript_include_tag 'courses', 'tooltip'

:javascript

  var submit_url = "#{courses_path(type_id: @type_id, course_id: 'course_param')}";