<% form_for(@course) do |f| %> 
   

<p> <%= f.label :name %><br />
<%= f.text_field :name %> 
</p> 

<p> 
<%= f.label :code %><br />
<%= f.text_field :code %>
</p> 

<p> 
 <%= f.submit t(:confirm), :id=>"confirm", :class=>"solar_button", :alt=> t(:confirm) %>
</p> <% end %> 

<%= link_to t(:back), courses_path %>
