<h1>Listing posts</h1>
<table> 
  
 <tr> 
  <th>Name</th> 
  <th>Code</th>
 </tr> 

<% for course in @courses %>
 <tr> <td><%=h course.name %></td>
   <td><%=h course.code %></td> 
   <td><%= link_to 'Show', course %></td>
   <td><%= link_to 'Edit', edit_course_path(course) %></td>
   <td><%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td> 
 </tr> <% end %> 
</table> <br /> 

<%= link_to 'New course', new_course_path %> 
