<!-- Unidade Curricular -->

<div>
  <span class="page_title"><%= t(:scores_of) %> <%= curriculum_unit_name %></span>
</div>

<!-- Scores -->

<div style="width: 700px;">

  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:group)%> <%= @group %></div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <!-- Lista dos alunos com notas -->

  <div id="individual_activity" class="portfolio">
    <hr class="portfolio_line" />

    <% leng_assignments = @students.first["grades"].split(',').length %>
    <table width="100%" cellspacing="0" border="0" id="list_of_students" class="list_table" summary="lista de estudantes">
      <thead>
        <tr>
          <th rowspan="2" align="left"><%= t(:student) %></th>
          <th rowspan="2" style="width: 16%;"><%= t(:public_files)  %></th>
          <th rowspan="2" style="width: 8%;"><%= t(:tests) %></th>
          <!-- trabalhos-->
          <th colspan="<%= leng_assignments %>" style="width: 20%;"><%= t(:private_area) %></th>
          <th rowspan="2" style="width: 12%;"><%= t(:participation) %></th>
          <th rowspan="2" style="width: 15%;"><%= t(:access_to_the_course) %></th>
        </tr>
        <tr>
          <% for i in 1..leng_assignments %>
            <th><%= i %>&deg;</th>
          <% end %>
        </tr>
      </thead>
      <tbody class="alignment">
        <% @students.each do |student| %>
          <tr>
            <td class="td_student">
              <%=link_to student["student_name"], {:controller => :portfolio_teacher, :action => :list_assignments, :id => student["student_id"]} %>
            </td>
            <td><%= student["cnt_public_files"] %></td>
            <td></td>
            <% assignments_ids = student["assignment_ids"].split(',') %>
            <% send_assignment_ids = student["send_assignment_ids"].split(',') %>
            <% student["grades"].split(',').each_with_index do |grade, idx| %>

              <!-- no mesmo campo pode vir tanto a nota quanto o status do trabalho -> enviado ou nao enviado-->
              <% grade_link = (grade.match(/[a-z-A-Z]/)) ? t("assignment_#{grade}".to_s) : grade.to_f %>
              <td class="assignment_<%= grade %>">
                <%=link_to grade_link, {:controller => :portfolio_teacher, :action => :student_detail, :id => student["student_id"],
                  :assignment_id => assignments_ids[idx], :send_assignment_id => send_assignment_ids[idx]} %>
              </td>

            <% end %>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Nota -->

  <div id="scores_notes" class="label_score">
    <%= t(:assignment_as) %>:&nbsp;<%= t(:assignment_without_correction) %><br />
    <%= t(:assignment_an) %>:&nbsp;<%= t(:assignment_not_sent) %>
  </div>

  <!-- Paginacao -->

  <div id="scores_pagination" style="text-align: center;" class="label_score">
    <span>    <%=raw render_pagination_bar(@cnt_students)%></span><br />
  </div>

  <!-- Legendas -->

  <div id="scores_label" class="label_score">

    <table width="100%" class="portfolio list_table" border="0" cellpadding="0" cellspacing="0" style="margin-top: 0px;">
      <thead>
        <tr align="left">
          <th colspan="2"><%= t(:legend_assignments) %></th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each_with_index do |activity, idx| %>
          <tr>
            <td align="right" style="width: 30px;"><%= idx + 1 %>&deg;</td>
            <td align="left"><%= activity["name"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>

<!-- scripts -->

<div id="scripts">
  <script type="text/javascript">
    $(function(){
      $('.list_table tr').addClass('lines');
      $('.list_table > tbody.alignment td:not([class=td_student])').css('text-align', 'center');
      $('table > tbody > tr').hover(function(){$(this).toggleClass('hover');});
    });
  </script>
</div>