<!-- Unidade Curricular -->
<div>
  <span class="page_title"><%= t(:scores_of) %> <%= curriculum_unit_name %></span>
</div>

<!-- Portfolio -->
<div style="width: 700px;">
  <div class="portfolio_header_content">
    <div class="portfolio_title"><%= t(:group)%> <%= @group %></div>
    <div class="portfolio_image"><%= image_tag "icon_suitcase_portfolio.png", :alt=>t(:portfolio_icon) %></div>
  </div>

  <!-- Lista dos alunos com notas -->

  <div id="individual_activity" class="portfolio">
    <hr class="portfolio_line" />

    <table width="100%" cellspacing="0" border="0" id="list_of_students" class="list_table">
      <thead>
        <tr>
          <td align="left"><%= t(:student) %></td>
          <td style="width: 16%;"><%= t(:public_files)  %></td>
          <td style="width: 8%;"><%= t(:tests) %></td>
          <td style="width: 14%;"><%= t(:private_area) %></td>
          <td style="width: 12%;"><%= t(:participation) %></td>
          <td style="width: 15%;"><%= t(:access_to_the_course) %></td>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td class="td_student"><%=link_to student["name"], {:controller => :portfolio_teacher, :action => :list_assignments, :id => student["id"]} %></td>
            <td><%= student["cnt_public_files"] %></td>
            <td></td>
            <td><%= student["cnt_private_files"] %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Notas -->

  <div id="scores_notes" class="label_score">
    TE: Trabalho não corrigido(sem nota).<br />
    TN: Trabalho não enviado.
  </div>

  <!-- Paginacao -->

  <div id="scores_pagination" style="text-align: center;" class="label_score">
    <span>    <%=raw render_pagination_bar(@cnt_students)%></span><br />
  </div>

  <!-- Legendas -->

  <div id="scores_label" class="label_score">
    Legenda de provas.<br />
    Legenda de trabalhos.
  </div>
</div>

<!-- scripts -->

<div id="scripts">
  <style type="text/css">
    div.label_score {
      font-size: 11px;
      font-family:'Trebuchet',Arial,'Myriad Pro';
      padding-top: 10px;
    }

    table tbody tr.hover td{ background-color:#a9d0f5; }
  </style>

  <script type="text/javascript">
    $(function(){
      $('.list_table tr').addClass('lines');
      $('.list_table > tbody td:not([class=td_student])').css('text-align', 'center');
      $('.list_table .td_student').css('color', '#1c4785');

      $('table > tbody > tr').hover(function(){
        $(this).toggleClass('hover');
      });
    });
  </script>
</div>