<div><span class="page_title"><%= t(:scores_of) %> <%= curriculum_unit_name %></span></div>

<!-- Scores -->

<div style="width: 700px;">

  <div class="mysolar_header">
    <%= image_tag "icon_suitcase_portfolio.png", :alt => " " %>
    <h1 class="mysolar_title"><%= t(:group)%> <%= @group.code %></h1>
  </div>

  <!-- Lista dos alunos com notas -->

  <div id="individual_activity" class="tb_list">

    <% leng_assignments = (@students.first.nil?) ? 0 : @students.first["grades"].split(',').length %>

    <table width="100%" cellspacing="0" border="0" id="list_of_students" class="tb_list" summary="lista de estudantes">
      <thead>
        <tr class="lines">
          <th rowspan="2" align="left"><%= t(:student) %></th>
          <th rowspan="2" style="width: 16%;"><%= t(:public_files)  %></th>
          <!-- trabalhos-->
          <th colspan="<%= (leng_assignments == 0) ? 1 : leng_assignments %>" style="width: 20%;"><%= t(:private_area) %></th>
          <th rowspan="2" style="width: 12%;"><%= t(:participation) %></th>
          <th rowspan="2" style="width: 18%;"><%= t(:access_to_the_course) %></th>
        </tr>
        <% if leng_assignments > 0 %>
          <tr>
            <% for i in 1..leng_assignments %>
              <th><%= i %>&deg;</th>
            <% end %>
          </tr>
        <% end %>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr class="lines">
            <td align="left" class="td_student">
              <%= link_to student["student_name"], score_path(:student_id => student["student_id"]) %>
            </td>
            <td align="center"><%= student["cnt_public_files"] %></td>
            <% assignments_ids = student["assignment_ids"].split(',') %>
            <% send_assignment_ids = student["send_assignment_ids"].split(',') %>
            <% student["grades"].split(',').each_with_index do |grade, idx| %>
            <!-- no mesmo campo pode vir tanto a nota quanto o status do trabalho -> enviado ou nao enviado-->
            <% grade_link = (grade.match(/[a-z-A-Z]/)) ? t("assignment_#{grade}".to_s) : grade.to_f %>
            <% assignment = Assignment.find(assignments_ids[idx]) %>
            <% group_id   = (assignment.type_assignment == Group_Activity) ? GroupAssignment.first(:include => [:group_participants], :conditions => ["group_participants.user_id = #{student["student_id"]} AND assignment_id = #{assignment.id}"]) : nil %>
            <% if (assignment.type_assignment == Group_Activity) and group_id.nil? %>
              <td class="assignment_without_group">
                <%= link_to t(:assignment_wg), information_assignment_path(assignments_ids[idx]) %>
              </td>
            <% else %>
              <td align="center" class="assignment_<%= grade %>">
                <%= link_to grade_link, assignment_path(assignments_ids[idx], :student_id => student["student_id"], :group_id => group_id) %>
              </td>
            <% end %>
            <% end %>
            <% if leng_assignments == 0 %>
              <td align="center">-</td>
            <% end %>
            <td align="center">-</td>
            <td align="center"><%= student["cnt_access"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Nota -->

  <div id="scores_notes" class="legend_score_footer">
    <span><%= t(:assignment_as) %>:&nbsp;<%= t(:assignment_without_correction) %></span><br />
    <span><%= t(:assignment_an) %>:&nbsp;<%= t(:assignment_not_sent) %></span><br/>
    <span><%= t(:assignment_wg) %>:&nbsp;<%= t(:student_without_group) %></span>
  </div>

  <!-- Paginacao -->

  <div id="scores_pagination" style="text-align: center;" class="legend">
    <span><%=raw render_pagination_bar(@students_count) unless @students_count == 0%></span>
  </div>

  <!-- Legendas -->

  <% unless @activities.empty? %>
    <div class="legend">
      <ul>
        <li><h1><%= t(:legend_assignments) %></h1></li>
        <% for i in 0..leng_assignments - 1 %>
          <% assig_id = @students.first["assignment_ids"].split(',')[i]%>
          <%assignment = Assignment.find(assig_id)%>
          <li><%= i + 1 %>&deg; - <%= assignment.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>