.ckb#current_ip
  = f.label :use_local_network, t(".current_ip_real")
  = f.input :use_local_network, as: :boolean, label: false
  = link_to_function (image_tag "#{f.object.use_local_network ? 'released' : 'rejected'}.png"), 'change(this)', :'data-tooltip' => (f.object.use_local_network ? t('.current_ip') : t('.not_current_ip')), :'data-id' => 'current_ip', :'data-active' => t('.current_ip'), :'data-not-active' => t('.not_current_ip')

.ckb
  = f.fields_for :ip_reals do |ip_form|
    - select_ip = ip_form.object.ip_v6.blank? ? 'ipv4' : 'ipv6'
    - very_ipv6 = select_ip == 'ipv6' ? 'ipv6' : false
    .fields_for_remove
      = ip_form.hidden_field :_destroy
      = link_to_remove_fields content_tag(:i, nil, class: 'icon-trash'), f, class: "btn btn_caution remove_fields",  :'data-tooltip'=> t('.link_to_remove_fields'), :'aria-label'=> t('.link_to_remove_fields')
      = label_tag "Selecione o tipo:", nil,class: "select_ip_label"
      = select_tag "ip_type", options_for_select([["IPV4", "ipv4"], ["IPV6", "ipv6"]], :selected => select_ip), class: "select_ip_type"
      = ip_form.input :ip_v4, as: :string, label: false, input_html: { size: 15, class: "ip_v4" }
      = ip_form.input :ip_v6, as: :string, label: false, input_html: { size: 40, class: "ip_v6" }
      = ip_form.hidden_field :very_ipv6, value: very_ipv6, class: "_very_ipv6"


.ckb.duplicatable_nested_form

.ckb#new_form_ip
  = f.label t('.add_others_ip_reals')
  = link_to_add_fields content_tag(:i, nil, class: 'icon-plus'), f, :ip_reals, class: "btn btn_main add_fields", :'data-tooltip' => t('.add_others_ip_reals'), :'aria-label' => t('.add_others_ip_reals')

.form-actions.right_buttons
  = button_to_function t(:cancel), 'jQuery.fancybox.close()', class: 'btn btn_default btn_lightbox', type: 'button'
  = button_to_function t('.previous'), 'back_to_config()', class: 'btn btn_default btn_main btn_lightbox', type: 'button'
  = button_to_function t(:save), 'save_exam()', class: 'btn btn_main btn_lightbox', alt: t(:save), type: 'button'

= javascript_include_tag 'jquery.mask', 'ip'

:javascript
  jQuery(function($){
    $(".ip_v6").hide();
    masck_ip($(".ip_v4"));
    masck_ip($(".ip_v6"));

    vIp6 = $("._very_ipv6");
    for(var i = 0; i < vIp6.length ; i++) {
      if( $(vIp6[i]).val()==='ipv6' ) {
        toggleIP($(vIp6[i]));
      }
    }  
  });  

