= render partial: 'ip_control/info'

= render partial: 'ip_control/ip_real_fields', locals: { f: f }

.form-actions.right_buttons
  = button_to_function t(:cancel), 'jQuery.fancybox.close()', class: 'btn btn_default btn_lightbox cancel', type: 'button', onkeypress: 'exit(event)'
  = button_to_function t('.previous'), 'back_to_config(event)', class: 'btn btn_default btn_main btn_lightbox', type: 'button', onkeypress: 'back_to_config(event)'
  = button_to_function t(:save), 'save_exam(event)', class: 'btn btn_main btn_lightbox', alt: t(:save), type: 'button', onkeypress: 'save_exam(event)'

:javascript
  function back_to_config(event){
    var keynum = event.which || event.keyCode;
    if(keynum == 13 || event.type == 'click') {
      $('.step-info').addClass('invisible');
      $('.step-config').removeClass('invisible');
      $('.step-control').addClass('invisible');

      $('li.info').removeClass('active');
      $('#dot-info').removeClass('active');
      $('li.config').addClass('active');
      $('#dot-config').addClass('active');
      $('li.control').removeClass('active');
      $('#dot-control').removeClass('active');
    }
  }
