= render partial: 'ip_control/info'

= render partial: 'ip_control/ip_real_fields', locals: { f: f }

.form-actions.right_buttons
  = button_tag t(:cancel), :type => 'button', :onclick => "jQuery.fancybox.close()", class: 'btn btn_default btn_lightbox cancel', onkeypress: 'exit(event)'
  = button_tag t('.previous'), :type => 'button', :onclick => "sback_to_config(event)", class: 'btn btn_default btn_main btn_lightbox', onkeypress: 'back_to_config(event)'
  = button_tag t(:save), :type => 'button', :onclick => "save_exam(event)", class: 'btn btn_main btn_lightbox', alt: t(:save), onkeypress: 'save_exam(event)'

:javascript
  function back_to_config(event){
    var keynum = event.which || event.keyCode;
    if(keynum == 13 || event.type == 'click') {
      $('.step-info').addClass('invisible');
      $('.step-config').removeClass('invisible');
      $('.step-control').addClass('invisible');

      $('li.info').removeClass('active');
      $('#dot-info').removeClass('active');
      $('li.config').addClass('active');
      $('#dot-config').addClass('active');
      $('li.control').removeClass('active');
      $('#dot-control').removeClass('active');
    }
  }
