= f.input :name
= f.input :description, as: :ckeditor

= f.simple_fields_for :schedule do |s|
  .schedule_dates
    .left
      = s.input :start_date, as: :string, input_html: { id: 'exam_start_date', value: l(f.object.schedule.start_date.try(:to_date) || Date.today, format: :datepicker) }
    .right_form
      = s.input :end_date, as: :string, input_html: { id: 'exam_end_date', value:  l(f.object.schedule.end_date.try(:to_date) || Date.today, format: :datepicker) }

  .schedule_dates.hour
    .left
      = f.input :start_hour
    .right_form
      = f.input :end_hour

= f.input :duration, input_html: { :"data-tooltip" => t('exams.form.info.duration') }

= f.input :result_release, as: :string, label: t('exams.form.info.result_release'), placeholder: t('assignment_webconferences.form.date_placeholder'), label_html: { :'data-tooltip' => t('.result_release_explain') }, input_html: {value: (l(f.object.result_release, format: :mask_with_time_form) rescue '')}

= render 'groups/codes'

.form-actions.right_buttons
  = button_to_function t(:cancel), 'jQuery.fancybox.close()', class: 'btn btn_default btn_lightbox cancel', type: 'button', onkeypress: 'click_on_keypress(event, this)'
  = button_to_function t('.continue'), 'go_to_config(event)', class: 'btn btn_main btn_lightbox', alt: 'continuar', type: 'button', id: '_continue', onkeypress: 'go_to_config(event)'

= javascript_include_tag 'ckeditor/init', 'jquery-ui-timepicker-addon'

:javascript
  $(function(){
    CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

    CKEDITOR.editorConfig = function (config) {
      config.toolbar =
        [
          { name: 'clipboard', items : [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
          { name: 'insert', items : ['EqnEditor'] },
          { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
          { name: 'paragraph', items : [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] }
        ];

        config.extraPlugins = 'eqneditor,oembed';
        config.resize_enabled = false;
    };

    set_datetime_masked('exam_result_release');

    $("#exam_start_date, #exam_end_date").mask("#{I18n.t('date.formats.mask')}");
    $("#exam_start_hour").mask("99:99");
    $("#exam_end_hour").mask("99:99");
    $("#exam_duration").mask("999");

    var options = $.extend({}, $.datepicker.regional['#{I18n.locale}']);
    /* impede que o usuário selecione uma data final menor que inicial e uma inicial maior que a final */
    $('#exam_start_date').datepicker( $.extend({}, options, { onSelect: function(selected) { $('#exam_end_date').datepicker("option", "minDate", selected); } }) );
    $('#exam_end_date').datepicker( $.extend({}, options, { onSelect: function(selected) { $('#exam_start_date').datepicker("option", "maxDate", selected); } }) );

    /* se a data ficar vazia, recebe a data que veio ao carregar o formulário ou uma data permitida de acordo com a relação data final - data inicial */
    $('#exam_end_date').blur(function(){
      if ($(this).datepicker("getDate") == null)
        $(this).datepicker("setDate", new Date(end_date));
    });

    $('#exam_start_date').blur(function(){
      if($(this).datepicker("getDate") == null)
        $(this).datepicker("setDate", new Date(start_date));
    });

    // evento de keypress do fancybox nao funciona pra esse form
    $("form#exam_form .form-inputs").keypress(function(e) { if (e.which == 13) e.preventDefault(); });
  });


  function save_exam(event) {
    var keynum = event.which || event.keyCode;
    if(keynum == 13 || event.type == 'click') {
      save_values_ckeditor();
      $('form#exam_form').serialize_and_submit({
        replace_list: $('.list_exams:last'),
        outer: 'fancybox-outer'
      });
      setTimeout(function() {
        focuInpuErro();
        loadFocus();
      }, 700);
    }
  }

  function go_to_config(event) {
    var keynum = event.which || event.keyCode;
    if(keynum == 13 || event.type == 'click') {
      $('.step-info').addClass('invisible');
      $('.step-config').removeClass('invisible');
      $('.step-control').addClass('invisible');

      $('li.info').removeClass('active');
      $('#dot-info').removeClass('active');
      $('li.config').addClass('active');
      $('#dot-config').addClass('active');
      $('li.control').removeClass('active');
      $('#dot-control').removeClass('active');
    }
  }
