:javascript
  function add_another_file(target) {
    var link_id = parseInt($('[id^=post_file_attachment]').last().attr('link_id')) + 1;
    var element_html = '<input id="post_file_attachment' + link_id + '" link_id="' + link_id + '" name="post_file[attachment' + link_id + ']" type="file">';
    $(target).before(element_html);
  }

%h1#lightBoxDialogTitle= t("posts.index.attach_file_title")
.block_content{style: "padding: 5px;"}
  = form_for([@post, PostFile.new], :html => { :multipart => true, :id => 'form_post_new_file' }) do |f|
    = f.file_field :attachment1, {:link_id => '1'} 
    %a.btn.forum_button_attachment{:href => "#", :onclick => "add_another_file(this);", :style => "float:none"}= t(".attach_another_file")
    .form-actions.right_buttons
      %a.UploadFileSubmit.btn.btn_main.forum_button{:href => "#", :onclick => "$('#form_post_new_file').submit(); return false;"}= t(".attach_save")
