:javascript
  function add_another_file(target) {
    var link_id = parseInt($('[id^=post_file_attachment]').last().attr('link_id')) + 1;
    var element_html = '<input id="post_file_attachment' + link_id + '" link_id="' + link_id + '" name="post_file[attachment' + link_id + ']" type="file" class="focu" aria-label= "#{I18n.t('posts.post.attach_file')}", onchange = "validate_file_size(this, #{PostFile::FILESIZE}, #{t('post_files.new.attach_size')});" >';

    var_name_file_class= '<div class="file"></div>'
    $(target).before(element_html);
    $(target).before(var_name_file_class);

    setTimeout(function() {
      $( ".focu" ).focus();
    }, 100);
  }

  $(function(){
    $(".save_file").click(function(){
      var id= 'ul_'+"#{@post.id}";
      $('form#form_post_new_file').serialize_and_submit({
        files: true,
        prepend_to_list: $("#"+id),
        outer: 'fancybox-outer',
        complement_success: function(){
          $.fancybox.close();
          $("#"+id).empty();
          flash_message("#{t(:support_material_file_uploaded)}", "notice");
          update_tables_with_no_data();
          focus_element_time('#flash_message_span');
        }
      });
    });
  });

%h1#lightBoxDialogTitle= t("posts.index.attach_file_title")
.block_content{style: "padding: 5px;"}
  = form_for([@post, PostFile.new], :html => { :multipart => true, :id => 'form_post_new_file' }) do |f|
    = f.file_field :attachment1, {:link_id => '1', autofocus: true, class: 'focu', :'aria-label' => t('posts.post.attach_file'), :onchange => "validate_file_size(this, #{PostFile::FILESIZE}, #{t('post_files.new.attach_size')});"}
    .file
    %a.btn.forum_button_attachment{:href => "#", :onclick => "add_another_file(this);", :style => "float:none"}= t(".attach_another_file")
    .form-actions.right_buttons
      = button_tag t(:cancel), :type => 'button', :onclick => "jQuery.fancybox.close()", class: 'btn btn_caution', id: 'btn_cancel_post_2'
      = button_tag t('.attach_save'), class: "btn btn_main save_file", type: :button
