:javascript
  CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

= javascript_include_tag "ckeditor/init"
= javascript_include_tag "discussion"
= javascript_include_tag "jwplayer/jwplayer.js"

.block_wrapper
  .block_title
    %h2
      %i.icon-forum
      = @discussion.name
  #forum_description.block_content.block_content_text= sanitize @discussion.description

.block_wrapper
  .block_title.forum_navigation
    %span#forum_new_message
      - if @can_interact
        = button_tag(:type => 'button', :onclick => "javascript:new_post(this);", :class => "btn btn_main", :id => "button_new_post", :"data-tooltip" => t(:forum_new_message)) do
          = content_tag(:i, nil, :class=>'icon-edit')
      - else
        #forum_closed= t("forum_closed")

    %span#forum_view_mode
      - class_l = (@display_mode == "list") ? 'btn_pressed' : 'btn_default'
      - class_t = (@display_mode == "tree") ? 'btn_pressed' : 'btn_default'

      .btn-group
        = link_to(content_tag(:i, nil, :class=>'icon-list'), discussion_posts_path(@discussion, {:display_mode => 'list'}), {:class => "btn #{class_l}", :id => 'forum_view_mode-list', :"data-tooltip" => t(".show_plainlist")})
        = link_to(content_tag(:i, nil, :class=>'icon-flow-cascade'), discussion_posts_path(@discussion, {:display_mode => 'tree'}), {:class => "btn #{class_t}", :id => 'forum_view_mode-thread', :"data-tooltip" => t(".show_thread")})

    #forum_pagination
      = raw render_pagination_bar(@discussion.discussion_posts_count(@display_mode == "list").to_s, "display_mode=#{@display_mode}")
      #new_post
        = form_for(:discussion_post, :method => :put, :html => { :id => "new_post_form", :"action-to-edit" => discussion_post_path(@discussion.id, ':id'), :"action-default" => discussion_posts_path(@discussion.id) }) do |form|
          = hidden_field(:discussion_post, :parent_id, {:value => ""})
          = hidden_field_tag(:display_mode, @display_mode)
          = hidden_field_tag(:current_page, @current_page)
          = form.text_area :content
          .new_post_dialog_buttons.btn-group
            = button_tag(:type => 'button', :onclick => "javascript:cancel_posting(this);", :class => "btn btn_caution", :id => "btn_cancel_post") do
              = content_tag(:span, t(:cancel))
            = form.submit( t(:send), :class => 'btn btn_main' )
    .forum_post_new

  .forum_posts_wrapper
    - @posts = get_page_posts(@posts, @current_page) unless (@display_mode == "list")
    - @posts.each do |post|
      = raw post_html(post, @latest_posts, @display_mode, @can_interact)

:javascript
  $(document).ready(function() {
    $(".audio").each(function(){
      var audioId = $(this).attr('id');
      var audioSrc = $(this).data('source');

      var type = $(this).data('type');

      jwplayer(audioId).setup({
        playlist: [{
          sources: [{
            file: audioSrc,
            type: type
          }]
        }],
        width: 240,
        height: 30
      })
    })
  });
