%h1#lightBoxDialogTitle= t(".title", user: @user.name, discussion: @discussion.name)
.user_posts
  - unless @posts.empty?
    %table.tb_list
      %thead
        %tr.lines
          %th= t(".message")
          %th.center= t(".date")
          %th.center= t(".time")
      %tbody
        - @posts.each do |post|
          %tr.lines
            %td.profile= raw post.content
            %td.center= l(post.updated_at.to_datetime, format: :normal)
            %td.center= l(post.updated_at.to_datetime, format: :clock_time)
  - else
    .block_content_text_list.text_none= t(".no_posts")
