.block_wrapper.list_questions_conclude
  .block_title
    %h2
      %i.icon-class
      = t('.title')
  %table.tb_list
    %thead
      %tr.lines
        %th= t('.exam')
        %th= t('.enun')
        %th= t('.type')
        %th= t('.source')
        %th= t('questions.questions.privacy')
        %th= t('.score')
        %th.no_sort.icon= t('.delete')

    %tbody.exams_to_export_to
      %tr.text_none
        %td.text_none{ colspan: 10 }= t('.no_question')

.right_buttons
  = link_to_function t('.back'), 'back_to_list()', class: 'btn', alt: t('.back')
  = link_to_function t('.export'), 'export_to_selected_exams()', class: 'btn btn_main', alt: t('.export')

:javascript

  function export_to_selected_exams(){
    var questions = new Array();
    if($('.exams_to_export_to tr:visible').not('.text_none').length > 0){
      $('.exams_to_export_to tr:visible').not('.text_none').each(function(i){
        data = [$(this).find('[name^="question_"]:first').val(), $(this).data('id'), $(this).find('[name^="score_"]:first').val()].join(',')
        questions.push(data);
      });
    }

    $.put("#{export_exam_questions_path}", {questions: questions.join(';'), exam_id: "#{@exam_id}"}, function(data){
      $.fancybox.close();
      flash_message(data.msg, 'notice', 'block_wrapper:first');      
    }).error(function(data){
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, 'alert');
    });

  }
