= javascript_include_tag 'autocomplete'

- url = (@current_profile.id.blank?) ? create_profile_administrations_path : update_profile_administration_path
= simple_form_for @current_profile, url: url, html: {id: "profile_form"} do |f|

  %div.form_requirement= t(:required_fields)

  = hidden_field_tag :id, @id
  .form-inputs.block_content 
    = f.input :name, required: true, :"data-limit"=> 250
    = f.input :description, required: true, :"data-limit"=> 400

    %div.input.string
      - if @current_profile.id.blank?
        = f.label 'modelo', :class => 'form_label'
        = select_tag :template_profile, options_for_select(@all_profiles, '')

    .form-actions.right_buttons
      = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button" 
      = button_to_function t(:save), "save_profile()", class: "btn btn_main btn_lightbox", alt: t(:save), type: "button"
