.block_wrapper.allocation_requested_list
  %span.form_requirement= t(".page_info", url: link_to(t(".user_indication"), users_indication_administrations_path(bread: "menu_indicate_user", mid: 60))).html_safe
  .block_title{style: "height:0"}
  .block_content_toolbar
    .block_toolbar_left
      = select_tag "type_search", options_for_select(@types, @type_search)
      = text_field_tag "text_search", @text_search
      = button_tag t(:search, scope: [:administrations, :users]), type: :button, class: "btn btn_default", id: "search_allocation", :"data-link" => search_allocation_administrations_path
  .block_content
    - unless @allocations.empty?
      %table.tb_list
        %thead
          %tr.lines
            %th{style: "width: 11%"}= t(".nome")
            %th= t(".profile")
            %th= t(".type")
            %th= t(".course")
            %th= t(".curriculum_unit")
            %th= t(".semester")
            %th= t(".group")
            %th.no_sort{style: "width: 11%"}
        %tbody.allocations
          = render partial: 'pending_allocations', locals: { allocations: @allocations }
      = link_to content_tag(:i, nil, class: "icon-ellipsis"), search_allocation_administrations_path(page: @allocations.next_page, type: @type_search, value: @text_search), class: 'load-more-allocations', remote: true, :"data-tooltip" => t(".load_allocations") if @allocations.next_page
    - else
      .block_content.block_content_text= t(".none_pending_allocation")

= javascript_include_tag "jquery.inview.min"

:javascript
  $(function(){
    var loading_allocations = false;
    load_allocations();

    $(window).scroll(function(){
      load_allocations();
    });

    $('.allocation_requested_list input#text_search').keyup(function(e) {
      if (e.keyCode == 13) { // when pressend enter
          $("#search_allocation").click();
          return false;
      }
    });

    $("#search_allocation").click(function(){
      var data = {
        "type": $("#type_search").val(),
        "value": $("#text_search").val()
      };
      $.get($(this).data("link"), data, function(data){
        $(".allocation_requested_list").replaceWith(data);
      });
    });

    function load_allocations(){
      $('a.load-more-allocations').on('inview', function(e, visible) {
        if (loading_allocations || !visible)
          return;
        loading_allocations = true;
        return $.getScript($(this).attr('href'), function() {
          return loading_allocations = false;
        });
      });
    }

  });

  function accept_or_reject(button){
    // if is a button to accept a profile request, the user must confirm his action
    if ($(button).hasClass("accept") && !confirm("#{I18n.t(:confirm_acceptance)}"))
      return false;

    $.put($(button).data("link"), function(data){
      if (typeof(data.notice) != "undefined")
        flash_message(data.notice, 'notice');
      var last_removed_tr = $(button).closest("tr").slideUp().remove();
      if ( !$(".allocation_requested_list tbody").children("tr").size() ){
        $(".allocation_requested_list table").remove();
        $(".allocation_requested_list .block_content").append("<div class='block_content block_content_text'>Não há solicitações pendentes</div>")
      }

      $("tbody.allocations").undo_action_by_flash_message({
        complement_success: function(data){
          console.log($(last_removed_tr).html());
          if (last_removed_tr != "")
            $("tbody.allocations").prepend("<tr class='lines'>" + $(last_removed_tr).html() + "</div>");
        }
      });

    }).error(function(data){
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, 'alert');
    });
  }
