.allocations_user

  .block_content
    .block_title
      %h2= t(:title, scope: [:administrations, :allocations])
    .block_left
      = t(:period, scope: [:administrations, :allocations])
      = select_tag 'period', options_for_select(@periods.collect { |s| [ s.name, s.id] }), {prompt: t(:active)}
      = hidden_field_tag :id, @user_id

  #list_allocation
    = render partial: 'allocations_user_list', locals: { profiles: @profiles, allocations: @allocations }

  .right_buttons
    = button_tag t(:close, scope: [:administrations]), :type => 'button', :onclick => "jQuery.fancybox.close()", class: 'btn btn_default btn_lightbox'

= javascript_include_tag 'tablesorter'

:javascript

  $(function(){
    $("#period")
      .change(function () {
        show_semester();
    })
  });

  function show_semester() {
    var semester = $('#period option:selected').val();
    var user_id = $('#id').val();

    var url_for = "#{Rails.application.routes.url_helpers.allocations_admin_user_list_path(id: ':id')}";
    var data = { id: user_id, semester_id: semester  };

    $.get(url_for.replace(':id', user_id), data, function(data) { 
      $('#list_allocation').html(data); 
    }).error(function(data){
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, 'alert');
    });
  };