%td
	%input{:type=>"text", :required => true, :id => 'name', :value => @user.name}
%td
	%input{:type=>"text", :required => true, :id => 'email', :value => @user.email}
%td= @user.username
%td= @user.cpf
%td= select(:status, :id, user_status.invert.to_a, {selected: @user.active? ? 1 : 0})
%td{style: 'text-align:right'}
	.btn-group
		= link_to_function content_tag(:i, nil, class: 'icon-cross'), "cancel(this)", :"show-link" => admin_user_path(@user.id), class: "btn btn_caution btn_manage_cancel"
		= link_to_function content_tag(:i, nil, class: 'icon-checkmark'), "update_user(this)", :"save-link" => admin_user_path(@user), :"show-link" => admin_user_path(@user.id), class:  "btn btn_main btn_manage_cancel"

:javascript
	eval("#{show_flash}")
