%td= allocation_details(@allocation.allocation_tag)
%td= type(@allocation.allocation_tag)
%td= select(:status, :id, allocation_status.invert.to_a, {selected: @allocation.status})
%td.right_buttons
  = link_to_function content_tag(:i, nil, class: 'btn icon-edit'), "update_allocation(this)", :"save-link" => update_allocation_administration_path(@allocation), :"show-link" => show_allocation_administrations_path(id: @allocation.id), class:  "btn_manage_cancel"
  = link_to_function content_tag(:i, nil, class: 'btn icon-cross'), "cancel(this)", :"show-link" => show_allocation_administrations_path(id: @allocation.user_id), class: "btn_manage_cancel"
