#import-form
  .form
    %fieldset
      %legend= t(:select_file, scope: [:administrations, :import_users])
      .block_content.block_content_alt

        .import-users
          = simple_form_for :batch, url: import_users_batch_path, html: {multipart: true, id: "import_users"} do |f|
            .form-inputs
              .inline
                = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids
                = f.input :file, as: :file, required: false, label: false
                = button_to_function t(:import, scope: [:administrations, :import_users]), "import_users(); return false;", class: "btn btn_main btn_lightbox", type: "button"

  .wait.invisible
    = t(:wait, scope: [:administrations, :import_users])

:css
  .form-inputs label.form_label {
    width: 90px !important;
  }

:javascript

  function import_users() {
    $("#import-form .form").hide();
    $("#import-form .wait").show();

    $('form#import_users').serialize_and_submit({
      files: true,
      success: function(data) {
        $("#import-form").replaceWith(data);
        erase_flash_messages();
      },
      error: function(data) {
        $("#import-form .form").show();
        $("#import-form .wait").hide();

        var response = JSON.parse(data.responseText);
        if (typeof(response.alert) != "undefined")
          flash_message(response.alert, 'alert');
      }
    });
  }
