.list_designates
  .block_wrapper.users
    .block_title
      %h2= t(:designate_users, scope: 'allocations.designates')

    .block_content.allocations_list
      - unless @allocations.blank?
        %table.tb_list
          %thead
            %tr.lines
              %th= t(:name, scope: 'allocations.designates')
              %th{style: 'width:80px'}= t(:cpf, scope: 'allocations.designates')
              %th{style: 'width:200px'}= t(:email, scope: 'allocations.designates')
              %th{style: 'width:120px'}= t(:profile, scope: 'allocations.designates')
              %th{style: 'width: 80px'}= t(:designated_by, scope: 'allocations.designates')
              %th.no_sort
          %tbody
            - @allocations.each do |allocation|
              = render partial: "allocations/show", locals: {allocation: allocation}

      - else
        .block_content_text_list.text_none= t(:no_allocated_user, scope: 'allocations.designates')

  .block_wrapper.search
    = link_to t(:back), indication_users_administrations_path, {class: "btn"}
    .block_title
      %h2= t(:new_designate, scope: 'allocations.designates')

    .block_content_toolbar#search_box_accesskey
      %label{for: "text_search"}= t(:user, scope: 'allocations.designates')
      = text_field_tag "text_search", @text_search, class: "search_box_focus"
      = button_tag t(:search, scope: 'allocations.designates'), type: :button, class: "btn btn_default", id: "search_user", alt: t(:search_users, scope: 'allocations.designates')

    .block_content
      #list_users

= javascript_include_tag "tablesorter", "allocations"

:javascript

  $(document).ready(function() {

    $('input#text_search').keyup(function(e) {
      if (e.keyCode == 13) { // when pressend enter
        $("#search_user").click();
        return false;
      }
    });

    $("#search_user").click(function() {
      var url_for = "#{search_users_allocations_path(allocation_tags_ids: @allocation_tags_ids, admin: @admin)}";
      var data = { user: encodeURIComponent($("#text_search").val()) };
      $.get(url_for, data, function(data) {
        $('#list_users').html(data);
      }).error(function(data){
        var data = $.parseJSON(data.responseText);
        if (typeof(data.alert) != "undefined")
          flash_message(data.alert, 'alert');
      });
    });

  });
