.info_user
	
	.block_content
		.block_title
			%h2= t(:detailed, :scope => [:administrations, :informations])
		.block_left
			- if	@info_user.photo_file_name
				=image_tag @info_user.photo.url(:medium), :alt => t(:mysolar_alt_img_user) + ' ' + @info_user.name, :class => 'block_photo'
			- else
				=image_tag 'no_image.png', :alt => t(:mysolar_alt_img_user) + ' ' + @info_user.name, :class => 'block_photo'
		.block_right
			%div=@info_user.name
			%div=@info_user.cpf
			%div=@info_user.status

	.block_content
		.block_title
			%h2= t(:personal_data, :scope => [:administrations, :informations])
		%div
			= t(:gender, :scope => [:administrations, :informations]) + ": "
			- if @info_user.gender
				= t(:m)
			- else
				= t(:f)
		%div
			= t(:birthdate, :scope => [:administrations, :informations]) + ": " + l(@info_user.birthdate)
		%div= t(:special_needs, :scope => [:administrations, :informations]) + ": " + @info_user.special_needs unless @info_user.special_needs.nil?

	.block_content
		.block_title
			%h2= t(:contact, :scope => [:administrations, :informations])
		%div
			= @info_user.address
			= @info_user.address_number
			= @info_user.address_complement
			= @info_user.address_neighborhood
			= t(:zipcode, :scope => [:administrations, :informations]) + ": " + @info_user.zipcode unless @info_user.zipcode.nil?
		%div
			= @info_user.city
			= @info_user.state
			= @info_user.country
		%div= t(:telephone, :scope => [:administrations, :informations]) + ": " + @info_user.telephone.to_s
		%div= t(:cell_phone, :scope => [:administrations, :informations]) + ": " + @info_user.cell_phone.to_s

	.block_content
		.block_title
			%h2= t(:others, :scope => [:administrations, :informations])
		%div
			= t(:institution, :scope => [:administrations, :informations]) + ": " + @info_user.institution

	.block_content
		.block_title
			%h2= t(:additional, :scope => [:administrations, :informations])
		%div= t(:biography, :scope => [:administrations, :informations]) + ": " + @info_user.bio
		%div= t(:interests, :scope => [:administrations, :informations]) + ": " + @info_user.interests
		%div= t(:music, :scope => [:administrations, :informations]) + ": " + @info_user.music
		%div= t(:movies, :scope => [:administrations, :informations]) + ": " + @info_user.movies
		%div= t(:books, :scope => [:administrations, :informations]) + ": " + @info_user.books
		%div= t(:phrase, :scope => [:administrations, :informations]) + ": " + @info_user.phrase
		%div= t(:site, :scope => [:administrations, :informations]) + ": " + @info_user.site

	%div
		= button_to_function t(:close, :scope => [:administrations]), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"