- unless @users.blank?
  %table.tb_list.tb_allocation
    %thead
      %tr.lines
        %th{style: 'min-width:128px'}= t(".name")
        %th{style: 'width:180px'}= t(".email")
        %th{style: 'width:88x'}= t(".login")
        %th{style: 'width:80px'}= t(".cpf")
        %th.no_sort{style: 'width:105px'}= ""
        %th.no_sort{style: 'width:135px'}= ""
    %tbody.users= render partial: 'users', locals: {users: @users}

  = link_to content_tag(:i, nil, class: "icon-ellipsis"), search_admin_users_path(page: @users.next_page, user: @text_search, type_search: @type_search), class: 'load-more-allocations', remote: true, :"data-tooltip" => t(:load_items) if @users.next_page

- else
  .block_content_text_list.text_none
    = t(:message_not_found, scope: [:administrations, :users])

= javascript_include_tag "tablesorter", "tooltip"

:javascript
  function synchronize_user(user_label_div){
    $.get($(user_label_div).data("url"), function(data){
      if (typeof(data.message) != "undefined" && typeof(data.type_message) != "undefined")
        flash_message(data.message, data.type_message);
      var user_data = $(user_label_div).parents("tr").children("td");
      $(user_data[0]).html(data.name);
      $(user_data[1]).html(data.email);
      $(user_data[2]).html(data.username);
    }).error(function(data){
      var data = $.parseJSON(data.responseText);
      if (typeof(data.alert) != "undefined")
        flash_message(data.alert, "alert");
    });
  }
