- unless @users.blank?
  %table.tb_list.tb_allocation
    %thead
      %tr.lines
        %th= t(".name")
        %th{style: 'width:180px'}= t(".email")
        %th{style: 'width:100px'}= t(".login")
        %th{style: 'width:80px'}= t(".cpf")
        %th{style: 'width:75px'}= ""
        %th{style: 'width:150px'}= ""
    %tbody
    - @users.each do |user|
      %tr.lines
      
        %td= user.name
        %td{style: 'width:180px'}= user.email
        %td{style: 'width:100px'}= user.username
        %td{style: 'width:80px'}= user.cpf
        %td{style: 'width:75px'}= name_user_status(user.active)
        %td{style: 'width:150px; align:right'}
          %a{class: "info_list btn", :"data-dropdown"=>"#info-dropdown#{user.id}" }=content_tag(:i, nil, class: 'icon-info') + content_tag(:i, nil, class: 'icon-arrow-down-triangle')
          .dropdown.dropdown-tip{ class: "info_list", id: "info-dropdown#{user.id}" }
            %ul{ class: "dropdown-menu" }
              %li= link_to_function t(:details, scope: [:administrations, :users]), "open_administration(this)", :"data-tooltip" => t(:details, scope: [:administrations, :users]), :"show-link" => user_path(user.id)
              - if can? :allocations_user, Administration
                %li= link_to_function t(:allocations, scope: [:administrations, :users]), "open_administration(this)", :"data-tooltip" => t(:allocations, scope: [:administrations, :users]), :"show-link" => allocations_user_administrations_path(id: user.id)
              %li{ class: 'border' }= (label_tag t(:last_accessed, scope: [:administrations, :users]) + ' ' + last_accessed(user.id))

          = link_to_function content_tag(:i, nil, class: 'icon-edit'), "manage(this)", class: "btn", :"data-tooltip" => t(:edit, scope: [:administrations, :users]), :"edit-link" => edit_user_administrations_path(user), :"show-link" => show_user_administrations_path(id: user.id)

          = link_to_function content_tag(:i, nil, class: 'icon-key'), "change_password(this)", class: "btn", :"data-tooltip" => t(:change_password, scope: [:administrations, :users]), :"edit-link" => change_password_administration_path(user), :"show-link" => show_user_administrations_path(id: user.id)

  .navigation
    = will_paginate @users

- else
  .block_content_text_list.text_none 
    = t(:message_not_found, scope: [:administrations, :users])

=javascript_include_tag "administrations"
