.block_wrapper.log_requested_list
  .block_title{style: "height:0"}
  .block_content
    - unless @logs.empty?
      %table.tb_list
        %thead
          %tr.lines
            %th= t(:log_type, scope: [:administrations, :logs])
            %th{style: "width: 20%"}= t(:name, scope: [:administrations, :logs])
            - if params[:type] == 'actions'
              %th= t(:description, scope: [:administrations, :logs])
            - else
              %th= t(:course, scope: [:administrations, :logs])
            %th= t(:created_at, scope: [:administrations, :logs])
        %tbody.logs
          - @logs.each do |log|
            %tr.lines
              %td= log.type_name
              %td= log.user.try(:name)
              - if params[:type] == 'actions'
                %td.breaking= strip_tags log.description
              - else
                %td= log.allocation_tag.try(:info)
              %td= l log.created_at, format: :at_date
    - else
      .block_content.block_content_text= t(:log_not_found, scope: [:administrations, :logs])

:css
  td.breaking {
    word-break: break-word;
  }
