%td= allocation_details(@allocation.allocation_tag)
%td= ( @allocation.allocation_tag.nil? ? "" : type(@allocation.allocation_tag) )
%td= name_allocation_status(@allocation.status)
%td.right_buttons
  = link_to_function content_tag(:i, nil, class: 'icon-edit'), "manage(this)", :"show-link" => admin_allocation_path(@allocation), :"edit-link" => edit_admin_allocation_path(@allocation), class:  "btn btn_manage_allocation"

:javascript
  eval("#{show_flash}")
