.block_wrapper.users
  .block_title
    %h2= t(:title, scope: [:administrations, :users])

.block_wrapper.search
  .block_title
    %h2= t(:search, scope: [:administrations, :users])

  .block_content_toolbar
    = select_tag "type_search", options_for_select(@types)
    = text_field_tag "text_search", @text_search
    = button_tag t(:search, scope: [:administrations, :users]), type: :button, class: "btn btn_default", id: "search_user"

  .block_content
    #list_users

=javascript_include_tag "administrations"

:javascript 
  $(function(){
    $('input#text_search').keyup(function(e) {
      if (e.keyCode == 13) { // when pressend enter
        $("#search_user").click();
        return false;
      }
    });
  });
