%p= t(:hello, email: @resource.email, scope: [:devise, :mailer, :msg])

%p= t(:request, scope: [:devise, :mailer, :msg])

%p= t(:username_info, scope: [:devise, :mailer, :msg], username: @resource.username)

%p= @resource.integrated? ? t(:request_info_ma, scope: [:devise, :mailer, :msg]) : t(:request_info, scope: [:devise, :mailer, :msg])

%p= link_to t(:change_my_password, scope: [:devise, :passwords]), (@resource.integrated? ? "https://www.moduloacademico.ufc.br/moduloacademico/guest/recuperarSenhaForm.do" : edit_password_url(@resource, reset_password_token: @token))

%p= t(:ignore, scope: [:devise, :mailer, :msg])

%p= t(:change, scope: [:devise, :mailer, :msg])

%p{style: "color: #7C7C7C; font-size: 8pt; padding-top: 10px;"}= I18n.t("notifier.dont_reply_message")
