= simple_form_for(@bibliography, html: {id: "bibliography_form"}) do |f|
  %span.form_requirement= t(:required_fields)
  %h1#lightBoxDialogTitle= t((@bibliography.persisted? ? :edit : :new), scope: [:bibliographies, :form], bib_type: @bibliography.type)
    
  .form-inputs.block_content{"data-form-type" => @bibliography.persisted? ? "edit" : "new"}
    = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids
    = f.input :type_bibliography, as: :hidden, input_html: {value: @bibliography.type_bibliography}

    = render partial: "authors", locals: {f: f}
    = f.input :title, as: :string
    = f.input :subtitle, as: :string
    .inline
      = f.input :address, required: true, input_html: {size: 20}
      = f.input :publisher, required: true, input_html: {size: 10}
    .inline
      = f.input :count_pages, as: :string, input_html: {size: 5}
      = f.input :volume, as: :string, input_html: {size: 5}
    .inline
      = f.input :edition, as: :string, required: true, input_html: {size: 5}
      = f.input :publication_year, as: :string, required: true, required: true, input_html: {size: 5}

    .input.group_label.invisible
      = f.label t(:groups, scope: [:bibliographies, :form])
      %span.groups
        - @groups_codes.each do |group_code|
          %span.collection_check_boxes= group_code

    .form-actions.right_buttons
      = button_to_function t(:cancel), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button", alt: t(:cancel)
      = button_to_function t(:save), "save_bibliography()" , class: "btn btn_main btn_lightbox", alt: t(:save), type: "button"

:javascript

  $("#bibliography_volume, #bibliography_count_pages, #bibliography_publication_year, #bibliography_edition").mask("9999");
