= render partial: "authors", locals: {f: f}
= f.input :title, as: :string
= f.input :additional_information
= f.input :url, as: :string, required: true, placeholder: "www.site.com"
= f.input :accessed_in, as: :string, required: true, input_html: {size: 10, value: l((f.object.accessed_in || Date.today), format: :datepicker)}

:javascript

  $("#bibliography_issn").mask("9999-9999"); // ultimo digito deveria aceitar a letra X
  $("#bibliography_periodicity_year_start, #bibliography_periodicity_year_end").mask("9999");
  $("#bibliography_accessed_in").datepicker();
