.bibliography_form
  %h1#lightBoxDialogTitle= t((@bibliography.persisted? ? ".edit" : ".new"), bib_type: @bibliography.type)

  - case @bibliography.type_bibliography
  - when Bibliography_Book
    = render partial: "book_form"
  - when Bibliography_Periodical
    = render partial: "periodical_form"
  - when Bibliography_Article
    = render partial: "article_form"
  - when Bibliography_Eletronic_Doc
    = render partial: "eletronic_doc_form"
  - when Bibliography_Free
    = render partial: "free_form"
