= f.input :title, as: :string
= f.input :subtitle, as: :string
.inline
  = f.input :address, required: true, input_html: {size: 20}
  = f.input :publisher, required: true, input_html: {size: 10}
.inline
  = f.input :periodicity, input_html: {size: 20}, placeholder: t(:periodicity_placeholder, scope: [:bibliographies, :form])
  = f.input :issn, input_html: {maxlength: 9, size: 10}
.inline
  = f.input :periodicity_year_start, as: :string, required: true, input_html: {size: 5}
  = f.input :periodicity_year_end, as: :string, input_html: {size: 5}

:javascript

  $("#bibliography_issn").mask("9999-9999"); // ultimo digito deveria aceitar a letra X
  $("#bibliography_periodicity_year_start, #bibliography_periodicity_year_end").mask("9999");
