.block_title
  %h2= t(".items")
  .right_buttons
    - unless @bibliographies.where(type_bibliography: Bibliography::TYPE_FILE).blank?
      = link_to content_tag(:i, nil, class: "icon-install", :'aria-hidden' => 'true'), zip_download_bibliographies_path, class: 'btn', :"data-tooltip" => t('.download'), :'aria-label' => t('.download')
    
.blcok_content
  - unless @bibliographies.blank?
    %table.tb_list{summary: t('.summary')}
      %thead
        %tr.lines
          %th#item{ align: 'left' }=t(:item, scope: [:bibliographies, :list])
          %th#type{ align: 'center', style: 'width: 15%;' }=t(:type, scope: [:bibliographies, :list])
      %tbody
        - @bibliographies.each do |bibliography|
          %tr.lines{ id: "tr_#{bibliography.id}" }
            %td{headers: 'item'}
              - resume = bibliography.resume
              - if bibliography.is_file?
                = link_to image_tag(icon_attachment(bibliography.attachment_file_name)), download_bibliography_path(bibliography), class: 'file_icon', :'aria-hidden' => 'true'
                = link_to resume, download_bibliography_path(bibliography), class: 'file_icon', :'aria-label' => t('.download_file', file: resume)
              - else
                =raw resume
            %td{headers: 'type'}= bibliography.type

  - else
    .block_content_text.block_content_text_list.text_none= t(:no_data, scope: [:bibliographies, :list])
