%h1 Listing bibliographies

%table
  %tr
    %th Title
    %th Additional text
    %th Publisher
    %th Edition
    %th Year
    %th Author
    %th Locale
    %th Url
    %th Isbn issn
    %th
    %th
    %th

  - @bibliographies.each do |bibliography|
    %tr
      %td= bibliography.title
      %td= bibliography.additional_text
      %td= bibliography.publisher
      %td= bibliography.edition
      %td= bibliography.year
      %td= bibliography.author
      %td= bibliography.locale
      %td= bibliography.url
      %td= bibliography.isbn_issn
      %td= link_to 'Show', bibliography
      %td= link_to 'Edit', edit_bibliography_path(bibliography)
      %td= link_to 'Destroy', bibliography, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bibliography', new_bibliography_path
