%p#notice= notice

%p
  %b Title:
  = @bibliography.title
%p
  %b Additional text:
  = @bibliography.additional_text
%p
  %b Publisher:
  = @bibliography.publisher
%p
  %b Edition:
  = @bibliography.edition
%p
  %b Year:
  = @bibliography.year
%p
  %b Author:
  = @bibliography.author
%p
  %b Locale:
  = @bibliography.locale
%p
  %b Url:
  = @bibliography.url
%p
  %b Isbn issn:
  = @bibliography.isbn_issn

= link_to 'Edit', edit_bibliography_path(@bibliography)
\|
= link_to 'Back', bibliographies_path
