%section.assignment
  .block_title
    %h2= t(:assignments, :scope => [:scores, :info])
    .tabs.tab_assignment
      %ul
        %li= link_to t(:evaluative, scope: [:scores, :info]), '#', class: 'evaluative active', onclick: 'change_tab_tool(this); return false;', :'data-div' => '#evaluative_assig', onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_assignments_evaluative')
        %li= link_to t(:frequency, scope: [:scores, :info]), '#', class: 'frequency', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#frequency_assig", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_assignments_frequency')
        %li= link_to t(:not_evaluative, scope: [:scores, :info]), '#', class: 'notevaluative', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#notevaluative_assig", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_assignments_not_evaluative')

  .block_content
    .tools.show#evaluative_assig
      .block_content
        - unless @assigments_evaluative.blank?
          %table.tb_list{:summary=> t("assignments.list.summary_evaluative")}
            %thead
              %tr.lines
                %th#as_eval_assig{style: "width: 6%;"}= t(:assignments, scope: [:scores, :info])
                %th#as_eval_date.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                %th#as_eval_sit.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                %th#as_eval_int.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
                %th#as_eval_gra.center{style: "width: 2%;"}= t(:grade, scope: [:scores, :info])
                - if @can_evaluate_ass
                  %th#as_eval_ass.center.no_sort{style: "width: 2%;"}
                %th#as_eval_aft.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
            %tbody
              - @assigments_evaluative.each do |assignment|
                %tr.lines
                  %td{align: "left", headers: "as_eval_assig"}
                    - if assignment.situation == 'without_group'
                      .title= assignment.name
                    - else
                      = link_to assignment.name, student_assignment_path(assignment.academic_tool_id, student_id: @user.id, group_id: assignment.group_id), {class: 'link_content'}, onkeydown: 'click_on_keypress(event, this);'
                    .description
                      - if assignment.description.size > 80
                        .description_slice= raw assignment.description.slice(0..80) << "..."
                        .description_complete= raw assignment.description
                        .more_or_less
                          %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: assignment.name) }= t('common_between_pages.more')
                          %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: assignment.name)}= t('common_between_pages.less')
                      - else
                        = raw assignment.description
                    .equivalent
                      - unless assignment.eq_name.blank?
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{assignment.id}", onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          = t('scores.info.equivalency')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_1_#{assignment.id}"}
                          %ul{ class: 'dropdown-menu' }
                            = raw t('scores.info.equivalent', name: assignment.eq_name)
                      - else
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{assignment.id}", :'data-url' => equalities_tools_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          =t('scores.info.equalities')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_1_#{assignment.id}"}
                          %ul{ class: 'dropdown-menu' }
                  %td.center{headers: "as_eval_date"}
                    %div= [l(assignment.start_date.to_date, format: :normal), l(assignment.end_date.to_date, format: :normal)].join(" - ")
                    %div= [(assignment.start_hour), (assignment.end_hour)].compact.join(' - ')
                  %td.center{class: "assignment_#{assignment.situation}", headers: "as_eval_sit"}= t(assignment.situation.to_sym)
                  %td.center{headers: "as_eval_int"}
                    = link_to_function assignment.count, 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id, user_id: @user.id, group_id: assignment.group_id, situation: assignment.situation, score_type: 'evaluative'), onkeydown: 'click_on_keypress(event, this);'
                  %td.center{headers: "as_eval_gra", class: "#{['u', assignment.id.to_s, assignment.user_id.to_s].join('_')} #{['g', assignment.id.to_s, assignment.group_id.to_s].join('_')}"}= assignment.grade
                  - if @can_evaluate_ass
                    %td.center{headers: "as_eval_ass"}
                      = link_to_function content_tag(:i, nil, class: 'icon-write'), 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id, user_id: @user.id, group_id: assignment.group_id, situation: assignment.situation, score_type: 'evaluative'), class: 'btn', onkeydown: 'click_on_keypress(event, this);'
                  %td.center{headers: "as_eval_aft"}=(assignment.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
        - else
          .block_content.block_content_text= t(:itens_not_found)

    .tools#frequency_assig
      .block_content
        - unless @assigments_frequency.blank?
          %table.tb_list{:summary=> t("assignments.list.summary_frequency")}
            %thead
              %tr.lines
                %th#as_freq_assig{style: "width: 6%;"}= t(:assignments, scope: [:scores, :info])
                %th#as_freq_date.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                %th#as_freq_sit.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                %th#as_freq_int.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
                %th#as_freq_freq.center{style: "width: 2%;"}= t(:frequency, scope: [:scores, :info])
                - if @can_evaluate_ass
                  %th#as_freq_ass.center.no_sort{style: "width: 2%;"}
                %th#as_freq_aft.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
            %tbody
              - @assigments_frequency.each do |assignment|
                %tr.lines
                  %td{align: "left", headers: "as_freq_assig"}
                    - if assignment.situation == 'without_group'
                      .title= assignment.name
                    - else
                      = link_to assignment.name, student_assignment_path(assignment.academic_tool_id, student_id: @user.id, group_id: assignment.group_id), {class: 'link_content', onkeydown: 'click_on_keypress(event, this);'}
                    .description
                      - if assignment.description.size > 80
                        .description_slice= raw assignment.description.slice(0..80) << "..."
                        .description_complete= raw assignment.description
                        .more_or_less
                          %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: assignment.name) }= t('common_between_pages.more')
                          %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: assignment.name)}= t('common_between_pages.less')
                      - else
                        = raw assignment.description
                    .equivalent
                      - unless assignment.eq_name.blank?
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{assignment.id}", onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          = t('scores.info.equivalency')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_2_#{assignment.id}"}
                          %ul{ class: 'dropdown-menu' }
                            = raw t('scores.info.equivalent', name: assignment.eq_name)
                      - else
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{assignment.id}", :'data-url' => equalities_tools_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          =t('scores.info.equalities')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_2_#{assignment.id}"}
                          %ul{ class: 'dropdown-menu' }
                  %td.center{headers: "as_freq_date"}
                    %div= [l(assignment.start_date.to_date, format: :normal), l(assignment.end_date.to_date, format: :normal)].join(" - ")
                    %div= [(assignment.start_hour), (assignment.end_hour)].compact.join(' - ')
                  %td.center{class: "assignment_#{assignment.situation}", headers: "as_freq_sit"}= t(assignment.situation.to_sym)
                  %td.center{headers: "as_freq_int"}
                    = link_to_function assignment.count, 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id, user_id: @user.id, group_id: assignment.group_id, situation: assignment.situation, score_type: 'frequency'), onkeydown: 'click_on_keypress(event, this);'
                  %td.center{headers: "as_freq_freq", class: "#{['u', assignment.id.to_s, assignment.user_id.to_s].join('_')} #{['g', assignment.id.to_s, assignment.group_id.to_s].join('_')}"}= assignment.working_hours
                  - if @can_evaluate_ass
                    %td.center{headers: "as_freq_ass"}
                      = link_to_function content_tag(:i, nil, class: 'icon-write'), 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id, user_id: @user.id, group_id: assignment.group_id, situation: assignment.situation, score_type: 'frequency'), class: 'btn', onkeydown: 'click_on_keypress(event, this);'
                  %td.center{headers: "as_freq_aft"}=(assignment.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
        - else
          .block_content.block_content_text= t(:itens_not_found)
  
    .tools#notevaluative_assig
      .block_content
        - unless @assigments_not_evaluative.blank?
          %table.tb_list{:summary=> t("assignments.list.summary_notevaluative")}
            %thead
              %tr.lines
                %th#as_not_assig{style: "width: 6%;"}= t(:assignments, scope: [:scores, :info])
                %th#as_not_date.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                %th#as_not_sit.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                %th#as_not_int.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
                %th#as_not_gra.center{style: "width: 2%;"}= t(:grade, scope: [:scores, :info])
                - if @can_evaluate_ass
                  %th#as_not_ass.center.no_sort{style: "width: 2%;"}
                %th#as_not_aft.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
      
            %tbody
              - @assigments_not_evaluative.each do |assignment|
                %tr.lines
                  %td{align: "left", headers: "as_not_assig"}
                    - if assignment.situation == 'without_group'
                      .title= assignment.name
                    - else
                      = link_to assignment.name, student_assignment_path(assignment.academic_tool_id, student_id: @user.id, group_id: assignment.group_id), {class: 'link_content', onkeydown: 'click_on_keypress(event, this);'}
                    .description
                      - if assignment.description.size > 80
                        .description_slice= raw assignment.description.slice(0..80) << "..."
                        .description_complete= raw assignment.description
                        .more_or_less
                          %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: assignment.name) }= t('common_between_pages.more')
                          %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: assignment.name)}= t('common_between_pages.less')
                      - else
                        = raw assignment.description
                    .equivalent
                      - unless assignment.eq_name.blank?
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{assignment.id}", onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          = t('scores.info.equivalency')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_3_#{assignment.id}"}
                          %ul{ class: 'dropdown-menu' }
                            = raw t('scores.info.equivalent', name: assignment.eq_name)
                      - else
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{assignment.id}", :'data-url' => equalities_tools_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          =t('scores.info.equalities')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_3_#{assignment.id}"}
                          %ul{ class: 'dropdown-menu' }
                  %td.center{headers: "as_not_date"}
                    %div= [l(assignment.start_date.to_date, format: :normal), l(assignment.end_date.to_date, format: :normal)].join(" - ")
                    %div= [(assignment.start_hour), (assignment.end_hour)].compact.join(' - ')
                  %td.center{class: "assignment_#{assignment.situation}", headers: "as_not_sit"}= t(assignment.situation.to_sym)
                  %td.center{headers: "as_not_int"}
                    = link_to_function assignment.count, 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id, user_id: @user.id, group_id: assignment.group_id, situation: assignment.situation, score_type: 'not_evaluative'), onkeydown: 'click_on_keypress(event, this);'
                  %td.center{headers: "as_not_gra", class: "#{['u', assignment.id.to_s, assignment.user_id.to_s].join('_')} #{['g', assignment.id.to_s, assignment.group_id.to_s].join('_')}"}= assignment.grade
                  - if @can_evaluate_ass
                    %td.center{headers: "as_not_ass"}
                      = link_to_function content_tag(:i, nil, class: 'icon-write'), 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: assignment.academic_tool_type, ac_id: assignment.id, user_id: @user.id, group_id: assignment.group_id, situation: assignment.situation, score_type: 'not_evaluative'), class: 'btn'
                  %td.center{headers: "as_not_aft"}=(assignment.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
              
        - else
          .block_content.block_content_text= t(:itens_not_found)          

= javascript_include_tag 'tablesorter', 'tooltip', 'scores'
