.block_wrapper_assignment
  .block_title
    %h2
      %h2= t(:assignments, :scope => [:scores, :info])
  .block_content    
    #tabs
      %ul
        %li.active 
          = link_to t(:evaluative, scope: [:scores, :info]), "#evaluative"
        %li 
          = link_to t(:frequency, scope: [:scores, :info]), "#frequency"
        %li 
          = link_to t(:not_evaluative, scope: [:scores, :info]), "#notevaluative"   
          
      #evaluative       
        - unless @assigments_evaluative.nil?
          .block_content
            - unless @assigments_evaluative.empty?
              %table.tb_list
                %thead
                  %tr.lines
                    %th{style: "width: 6%;"}= t(:assignments, scope: [:scores, :info])
                    %th.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                    %th.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}= t(:grade, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}
                %tbody
                  - @assigments_evaluative.each do |assignment|
                    - info = assignment.info(@user.id, @allocation_tag_id)
                    - link = ((assignment.type_assignment == Assignment_Type_Group && info[:group_id].nil?) ? '' : student_assignment_path(assignment.id, student_id: @user.id, group_id: info[:group_id]))
                    %tr.lines
                      %td{align: "left"}
                        - if link.blank?
                          .title= assignment.name
                        - else
                          = link_to assignment.name, link, {class: 'link_content'}
                      %td.center
                        = [l(assignment.schedule.start_date, format: :normal), l(assignment.schedule.end_date, format: :normal)].join(" - ")
                      %td.center{class: "assignment_#{assignment.status}"}= t(assignment.status.to_sym)
                      %td.center= (assignment.grade.nil?) ? '-' : assignment.grade.to_f
                      %td.center
                        - if @can_evaluate_ass
                          = link_to content_tag(:i, nil, class: 'icon-write'), link, class: 'btn to_evaluate_post', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post])   
            - else
              .block_content.block_content_text= t(:itens_not_found)

      #frequency
        - unless @assigments_frequency.nil?
          .block_title
            %h2= t(:assignments_sent, :scope => [:scores, :info])
          .block_content
            - unless @assigments_frequency.empty?
              %table.tb_list
                %thead
                  %tr.lines
                    %th{style: "width: 6%;"}= t(:assignments, scope: [:scores, :info])
                    %th.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                    %th.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}= t(:frequency, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}
                %tbody
                  - @assigments_frequency.each do |assignment|
                    - info = assignment.info(@user.id, @allocation_tag_id)
                    - link = ((assignment.type_assignment == Assignment_Type_Group && info[:group_id].nil?) ? '' : student_assignment_path(assignment.id, student_id: @user.id, group_id: info[:group_id]))
                    %tr.lines
                      %td{align: "left"}
                        - if link.blank?
                          .title= assignment.name
                        - else
                          = link_to assignment.name, link, {class: 'link_content'}
                      %td.center
                        = [l(assignment.schedule.start_date, format: :normal), l(assignment.schedule.end_date, format: :normal)].join(" - ")
                      %td.center{class: "assignment_#{assignment.status}"}= t(assignment.status.to_sym)
                      %td.center= (assignment.working_hours.nil?) ? '-' : assignment.working_hours.to_i
                      %td.center
                        - if @can_evaluate_ass
                          = link_to content_tag(:i, nil, class: 'icon-write'), link, class: 'btn to_evaluate_post', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post])   
            - else
              .block_content.block_content_text= t(:itens_not_found)
    
      #notevaluative 
        - unless @assigments_not_evaluative.nil?
          .block_title
            %h2= t(:assignments_sent, :scope => [:scores, :info])
          .block_content
            - unless @assigments_not_evaluative.empty?
              %table.tb_list
                %thead
                  %tr.lines
                    %th{style: "width: 6%;"}= t(:assignments, scope: [:scores, :info])
                    %th.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                    %th.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
          
                %tbody
                  - @assigments_not_evaluative.each do |assignment|
                    - info = assignment.info(@user.id, @allocation_tag_id)
                    - link = ((assignment.type_assignment == Assignment_Type_Group && info[:group_id].nil?) ? '' : student_assignment_path(assignment.id, student_id: @user.id, group_id: info[:group_id]))
                    %tr.lines
                      %td{align: "left"}
                        - if link.blank?
                          .title= assignment.name
                        - else
                          = link_to assignment.name, link, {class: 'link_content'}
                      %td.center
                        = [l(assignment.schedule.start_date, format: :normal), l(assignment.schedule.end_date, format: :normal)].join(" - ")
                      %td.center{class: "assignment_#{assignment.status}"}= t(assignment.status.to_sym)
                  
            - else
              .block_content.block_content_text= t(:itens_not_found)          

:javascript

  $(function(){
    $("#tabs").tabs();

    $("td.show_posts a").call_fancybox();
  }); 