.block_wrapper_chat
  .block_title
    %h2= t(:title_my_chats, scope: [:chat_rooms, :list])
  .block_content
    #tabs
      %ul
        %li.active 
          = link_to t(:evaluative, scope: [:scores, :info]), "#evaluative"
        %li 
          = link_to t(:frequency, scope: [:scores, :info]), "#frequency"
        %li 
          = link_to t(:not_evaluative, scope: [:scores, :info]), "#notevaluative"

      #evaluative          
        - unless @chats_evaluative.empty?
          %table.tb_list
            %thead
              %tr.lines
                %th{tyle: "width: 30%"}= t(:detail, scope: [:chat_rooms, :chats])
                %th.center{style: "width: 30%"}= t(:availability, scope: [:chat_rooms, :chats])
                %th{style: "width: 20%;"}= t(:situation, :scope => [:scores, :info])
                %th{style: "width: 20%;"}= t(:grade, scope: [:scores, :info])
                %th
            %tbody
              - @chats_evaluative.each do |chat|
                - info = AcademicAllocationUser.get_grade_and_wh(@user.id, 'ChatRoom', chat.id)
                - participants = chat.users.where('academic_allocations.allocation_tag_id = ?', @allocation_tag_id)
                %tr{class: "lines #{'period_ended' unless chat.opened?}"}
                  %td
                    - if chat.opened? && can_open_link
                      = link_to chat.title, access_chat_room_path(chat.id,allocation_id: @alloc, academic_allocation_id: chat.ac_id), {class: 'link_content fancybox.iframe', target: '_blank' }
                    - else
                      = chat.title
                      
                    .description
                      .minimun= sanitize(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                      .complete.invisible
                        = chat.description
                        = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_description"))

                    - if participants.count > 0
                      %i.icon-users
                      %a{class: "chat_list", :"data-dropdown"=>"#students-dropdown#{chat.id}" }= participants.count.to_s + ' ' + t(:students, scope: [:chat_rooms, :list])
                      .dropdown.dropdown-tip{ class: "chat_list", id: "students-dropdown#{chat.id}" }
                        %ul{ class: "dropdown-menu" }
                          - participants.each do |p|
                            %li= p.info(:name)
                  %td{ align: 'center' }
                    %div= [l(chat.schedule.start_date.to_date), l(chat.schedule.end_date.to_date)].join(' - ')
                    %div= [(chat.start_hour), (chat.end_hour)].join(' - ')

                  %td.show_posts
                    = t(chat.situation, scope: [:chat_rooms, :chats]) unless chat.situation.blank?
 
                  %td.show_posts
                    - if !info[:grade].blank?
                      = info[:grade]

                  %td.show_posts
                    - if @can_evaluate  
                      = link_to content_tag(:i, nil, class: 'icon-write'), user_messages_chat_room_path(chat, user_id: @user.id), class: 'btn to_evaluate_chat', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post])
        - else
          .block_content_text_list.text_none= t(:message_no_chat, scope: [:chat_rooms, :list])

      #frequency
        - unless @chats_frequency.empty?
          %table.tb_list
            %thead
              %tr.lines
                %th{tyle: "width: 30%"}= t(:detail, scope: [:chat_rooms, :chats])
                %th.center{style: "width: 30%"}= t(:availability, scope: [:chat_rooms, :chats])
                %th{style: "width: 20%;"}= t(:situation, :scope => [:scores, :info])
                %th{style: "width: 20%;"}= t(:frequency, scope: [:scores, :info])
                %th
            %tbody
              - @chats_frequency.each do |chat|
                - info = AcademicAllocationUser.get_grade_and_wh(@user.id, 'ChatRoom', chat.id)
                - participants = chat.users.where('academic_allocations.allocation_tag_id = ?', @allocation_tag_id)
                %tr{class: "lines #{'period_ended' unless chat.opened?}"}
                  %td
                    - if chat.opened? && can_open_link
                      = link_to chat.title, access_chat_room_path(chat.id,allocation_id: @alloc, academic_allocation_id: chat.ac_id), {class: 'link_content fancybox.iframe', target: '_blank' }
                    - else
                      = chat.title
                    .description
                      .minimun= sanitize(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                      .complete.invisible
                        = chat.description
                        = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_description"))

                    - if participants.count > 0
                      %i.icon-users
                      %a{class: "chat_list", :"data-dropdown"=>"#students-dropdown#{chat.id}" }= participants.count.to_s + ' ' + t(:students, scope: [:chat_rooms, :list])
                      .dropdown.dropdown-tip{ class: "chat_list", id: "students-dropdown#{chat.id}" }
                        %ul{ class: "dropdown-menu" }
                          - participants.each do |p|
                            %li= p.info(:name)
                  %td{ align: 'center' }
                    %div= [l(chat.schedule.start_date.to_date), l(chat.schedule.end_date.to_date)].join(' - ')
                    %div= [(chat.start_hour), (chat.end_hour)].join(' - ')

                  %td.show_posts
                    = t(chat.situation, scope: [:chat_rooms, :chats]) unless chat.situation.blank? 

                  %td.show_posts
                    - if !info[:wh].blank?
                      = info[:wh]  

                  %td.show_posts
                    - if @can_evaluate  
                      = link_to content_tag(:i, nil, class: 'icon-write'), user_messages_chat_room_path(chat, user_id: @user.id), class: 'btn to_evaluate_chat', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post])
        - else
          .block_content_text_list.text_none= t(:message_no_chat, scope: [:chat_rooms, :list])
    
      #notevaluative
        - unless @chats_not_evaluative.empty?
          %table.tb_list
            %thead
              %tr.lines
                %th{tyle: "width: 30%"}= t(:detail, scope: [:chat_rooms, :chats])
                %th.center{style: "width: 30%"}= t(:availability, scope: [:chat_rooms, :chats])
                %th{style: "width: 20%;"}= t(:situation, :scope => [:scores, :info])
            %tbody
              - @chats_not_evaluative.each do |chat|
                - participants = chat.users.where('academic_allocations.allocation_tag_id = ?', @allocation_tag_id)
                %tr{class: "lines #{'period_ended' unless chat.opened?}"}
                  %td
                    - if chat.opened? && can_open_link
                      = link_to chat.title, access_chat_room_path(chat.id,allocation_id: @alloc, academic_allocation_id: chat.ac_id), {class: 'link_content fancybox.iframe', target: '_blank' }
                    - else
                      = chat.title

                    .description
                      .minimun= sanitize(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                      .complete.invisible
                        = chat.description
                        = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_description"))

                    - if participants.count > 0
                      %i.icon-users
                      %a{class: "chat_list", :"data-dropdown"=>"#students-dropdown#{chat.id}" }= participants.count.to_s + ' ' + t(:students, scope: [:chat_rooms, :list])
                      .dropdown.dropdown-tip{ class: "chat_list", id: "students-dropdown#{chat.id}" }
                        %ul{ class: "dropdown-menu" }
                          - participants.each do |p|
                            %li= p.info(:name)

                  %td{ align: 'center' }
                    %div= [l(chat.schedule.start_date.to_date), l(chat.schedule.end_date.to_date)].join(' - ')
                    %div= [(chat.start_hour), (chat.end_hour)].join(' - ')

                  %td.show_posts
                    = t(chat.situation, scope: [:chat_rooms, :chats]) unless chat.situation.blank? 

        - else
          .block_content_text_list.text_none= t(:message_no_chat, scope: [:chat_rooms, :list])


= javascript_include_tag "chat_rooms"

:javascript

  $(function(){
    $("#tabs").tabs();
    $(".to_evaluate_chat").call_fancybox({
      minWidth: '50%',
      minHeight: '50%',
      height: 'auto',
      closeBtn : true
    });
    $('.link_content, .history').call_fancybox();
  });
