%section.exam
  .block_title
    %h2= t(:exam, :scope => [:scores, :info])
    .tabs.tab_exam
      %ul
        %li= link_to t(:evaluative, scope: [:scores, :info]), '#', class: 'evaluative active', onclick: 'change_tab_tool(this); return false;', :'data-div' => '#evaluative_exa', onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_exams_evaluative')
        %li= link_to t(:frequency, scope: [:scores, :info]), '#', class: 'frequency', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#frequency_exa", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_exams_frequency')
        %li= link_to t(:not_evaluative, scope: [:scores, :info]), '#', class: 'notevaluative', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#notevaluative_exa", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_exams_not_evaluative')

  .block_content
    .tools.show#evaluative_exa      
      - unless @exams_evaluative.empty?
        - is_user = (@user.id == current_user.id)
        %table.tb_list.list_exams{:summary=> t("exams.list.summary_evaluative")}
          %thead
            %tr.lines
              %th#ex_eva_exa_evaluative{style: "width: 30%;"}= t(:exam, :scope => [:scores, :info])
              %th#ex_eva_dat_evaluative.center.date{style: "width: 30%;"}= t(:date_range, :scope => [:scores, :info])
              %th#ex_eva_sit_evaluative.center{style: "width: 20%;"}= t(:situation, :scope => [:scores, :info])
              %th#ex_eva_gra_evaluative.center{style: "width: 2%;"}= t(:grade, :scope => [:scores, :info])
              %th#ex_eva_bla_evaluative.center.no_sort{style: "width: 2%;"}
          %tbody
            - @exams_evaluative.each do |exam|
              %tr.lines
                %td{align: "left", headers: "ex_eva_exa_evaluative"}
                  - if !['to_answer', 'not_finished', 'retake'].include?(exam.situation)
                    - if is_user
                      .title= exam.name
                    - elsif !@can_open 
                      = link_to exam.name, preview_exam_path(exam.academic_tool_id, allocation_tags_ids: @allocation_tag_id), class: 'link_preview_exam'
                      %br
                    - if exam.closed == 't' || exam.situation == 'corrected'
                      = link_to I18n.t(:result, :scope => [:exams, :index]), result_user_exam_path(exam.academic_tool_id, user_id: @user.id), class: 'link_content', class: 'exam-result'
                      - if is_user && exam.situation == 'corrected'
                        |
                        = link_to I18n.t(:mirror_results, :scope => [:exams, :index]), open_exam_path(exam.academic_tool_id, allocation_tag_id: @allocation_tag_id, situation: exam.situation), class: 'open_exam', id: 'open-result'
                  - elsif is_user
                    = link_to exam.name, pre_exam_path(exam.academic_tool_id, allocation_tag_id: @allocation_tag_id, situation: exam.situation), :'data-tooltip' => exam.name, class: 'link_content link_pre_exam'
                  - else
                    = link_to exam.name, preview_exam_path(exam.academic_tool_id, allocation_tags_ids: @allocation_tag_id), class: 'link_preview_exam' 
                    
                  .description
                    .minimun= sanitize(truncate exam.description, length: 100, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :'data-tooltip' => t("scores.info.expand_description"))}")
                    .complete.invisible
                      = exam.description
                      = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t("scores.info.compress_description"))
                  .equivalent
                    - unless exam.eq_name.blank?
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{exam.id}", onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        = t('scores.info.equivalency')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_1_#{exam.id}"}
                        %ul{ class: 'dropdown-menu' }
                          = raw t('scores.info.equivalent', name: exam.eq_name)
                    - else
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{exam.id}", :'data-url' => equalities_tools_path(tool_type: exam.academic_tool_type, ac_id: exam.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        =t('scores.info.equalities')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_1_#{exam.id}"}
                        %ul{ class: 'dropdown-menu' }
                %td.center{headers: "ex_eva_dat_evaluative"}
                  %div= [l(exam.start_date.to_date), l(exam.end_date.to_date)].join(' - ')
                  %div= [(exam.start_hour), (exam.end_hour)].compact.join(' - ')
                %td.center.situation{headers: "ex_eva_sit_evaluative"}
                  %div{class: "#{exam.situation}"}= I18n.t(exam.situation, :scope => [:scores, :situation])
                %td.center.grade{headers: "ex_eva_gra_evaluative"}= exam.grade
                %td{headers: "ex_eva_bla_evaluative"}
                  - disabled = !(exam.grade.blank? && exam.closed == 't' && !['to_answer', 'not_finished', 'retake', 'not_answered'].include?(exam.situation))
                  %span.activity_grade= link_to_function (content_tag(:i, nil, class: 'icon-write')), 'calcule_grade_user_exam(this)', :"data-tooltip" => t('exams.index.calculate'), :'data-url' => calcule_grade_user_exam_path(exam.academic_tool_id, user_id: @user.id), class: "btn #{disabled ? 'disabled' : ''}", disabled: disabled, onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('exams.index.calculate')

                / %td.center=(exam.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
      - else
        .block_content.block_content_text= t(:itens_not_found)
        
    .tools#frequency_exa
      - unless @exams_frequency.empty?
        - is_user = (@user.id == current_user.id)
        %table.tb_list.list_exams{:summary=> t("exams.list.summary_frequency")}
          %thead
            %tr.lines
              %th#ex_eva_exa_frequency{style: "width: 30%;"}= t(:exam, :scope => [:scores, :info])
              %th#ex_eva_dat_frequency.center.date{style: "width: 30%;"}= t(:date_range, :scope => [:scores, :info])
              %th#ex_eva_sit_frequency.center{style: "width: 20%;"}= t(:situation, :scope => [:scores, :info])
              %th#ex_eva_gra_frequency.center{style: "width: 2%;"}= t(:grade, :scope => [:scores, :info])
              %th#ex_eva_wh_frequency.center{style: "width: 2%;"}= t(:workload, :scope => [:scores, :info])
              %th#ex_eva_btn_frequency.center.no_sort{style: "width: 2%;"}
              %th#ex_eva_aft_frequency.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
          %tbody
            - @exams_frequency.each do |exam|
              %tr.lines
                %td{align: "left", headers: "ex_eva_exa_frequency"}
                  - if !['to_answer', 'not_finished', 'retake'].include?(exam.situation)
                    - if is_user
                      .title= exam.name
                    - elsif !@can_open 
                      = link_to exam.name, preview_exam_path(exam.academic_tool_id, allocation_tags_ids: @allocation_tag_id), class: 'link_preview_exam'
                      %br
                    - if exam.closed == 't' || exam.situation == 'corrected'
                      = link_to I18n.t(:result, :scope => [:exams, :index]), result_user_exam_path(exam.academic_tool_id, user_id: @user.id), class: 'link_content', class: 'exam-result'
                      - if is_user && exam.situation == 'corrected'
                        |
                        = link_to I18n.t(:mirror_results, :scope => [:exams, :index]), open_exam_path(exam.academic_tool_id, allocation_tag_id: @allocation_tag_id, situation: exam.situation), class: 'open_exam', id: 'open-result'
                  - elsif is_user
                    = link_to exam.name, pre_exam_path(exam.academic_tool_id, allocation_tag_id: @allocation_tag_id, situation: exam.situation), :'data-tooltip' => exam.name, class: 'link_content link_pre_exam'
                  - else
                    = link_to exam.name, preview_exam_path(exam.academic_tool_id, allocation_tags_ids: @allocation_tag_id), class: 'link_preview_exam'
                  .description
                    .minimun= sanitize(truncate exam.description, length: 100, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t("scores.info.expand_description"))}")
                    .complete.invisible
                      = exam.description
                      = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t("scores.info.compress_description"))
                  .equivalent
                    - unless exam.eq_name.blank?
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{exam.id}", onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        = t('scores.info.equivalency')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_2_#{exam.id}"}
                        %ul{ class: 'dropdown-menu' }
                          = raw t('scores.info.equivalent', name: exam.eq_name)
                    - else
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{exam.id}", :'data-url' => equalities_tools_path(tool_type: exam.academic_tool_type, ac_id: exam.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        =t('scores.info.equalities')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_2_#{exam.id}"}
                        %ul{ class: 'dropdown-menu' }
                %td.center{headers: "ex_eva_dat_frequency"}
                  %div= [l(exam.start_date.to_date), l(exam.end_date.to_date)].join(' - ')
                  %div= [(exam.start_hour), (exam.end_hour)].compact.join(' - ')
                %td.center.situation{headers: "ex_eva_sit_frequency"}
                  %div{class: "#{exam.situation}"}= I18n.t(exam.situation, :scope => [:scores, :situation])
                %td.center.grade{headers: "ex_eva_gra_frequency"}= exam.grade
                %td.center.wh{headers: "ex_eva_wh_frequency"}= exam.working_hours
                %td.center{headers: "ex_eva_btn_frequency"}
                  - disabled = !(exam.grade.blank? && exam.closed == 't' && !['to_answer', 'not_finished', 'retake'].include?(exam.situation))
                  %span.activity_grade= link_to_function (content_tag(:i, nil, class: 'icon-write')), 'calcule_grade_user_exam(this)', :"data-tooltip" => t('exams.index.calculate'), :'data-url' => calcule_grade_user_exam_path(exam.academic_tool_id, user_id: @user.id), class: "btn #{disabled ? 'disabled' : ''}", disabled: disabled, onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('exams.index.calculate')
                %td.center{headers: "ex_eva_aft"}=(exam.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
      - else
        .block_content.block_content_text= t(:itens_not_found)
    
    .tools#notevaluative_exa 
      - unless @exams_not_evaluative.empty?
        - is_user = (@user.id == current_user.id)
        %table.tb_list.list_exams{:summary=> t("exams.list.summary_notevaluative")}
          %thead
            %tr.lines
              %th#ex_not_exa{align: "left"}= t(:exam, :scope => [:scores, :info])
              %th#ex_not_dat.center.date{style: "width: 40%;"}= t(:date_range, :scope => [:scores, :info])
              %th#ex_not_sit.center{style: "width: 20%;"}= t(:situation, :scope => [:scores, :info])
              %th#ex_not_gra.center{style: "width: 2%;"}= t(:grade, :scope => [:scores, :info])
              %th#ex_not_bla.center.no_sort{style: "width: 2%;"}
              %th#ex_not_aft.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
          %tbody
            - @exams_not_evaluative.each do |exam|
              %tr.lines
                %td{align: "left", headers: "ex_not_exa"}
                  - if !['to_answer', 'not_finished', 'retake'].include?(exam.situation)
                    - if is_user
                      .title= exam.name
                    - elsif !@can_open 
                      = link_to exam.name, preview_exam_path(exam.academic_tool_id, allocation_tags_ids: @allocation_tag_id), class: 'link_preview_exam'
                      %br
                    - if exam.closed == 't' || exam.situation == 'corrected'
                      = link_to I18n.t(:result, :scope => [:exams, :index]), result_user_exam_path(exam.academic_tool_id, user_id: @user.id), class: 'link_content', class: 'exam-result'
                      - if is_user && exam.situation == 'corrected'
                        |
                        = link_to I18n.t(:mirror_results, :scope => [:exams, :index]), open_exam_path(exam.academic_tool_id, allocation_tag_id: @allocation_tag_id, situation: exam.situation), class: 'open_exam', id: 'open-result'
                          
                  - elsif is_user
                    = link_to exam.name, pre_exam_path(exam.academic_tool_id, allocation_tag_id: @allocation_tag_id, situation: exam.situation), :'data-tooltip' => exam.name, class: 'link_content link_pre_exam'
                  - else
                    = link_to exam.name, preview_exam_path(exam.academic_tool_id, allocation_tags_ids: @allocation_tag_id), class: 'link_preview_exam'
                  .description
                    .minimun= raw(truncate exam.description, length: 100, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t("scores.info.expand_description"))}")
                    .complete.invisible
                      = exam.description
                      = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t("scores.info.compress_description"))
                  .equivalent
                    - unless exam.eq_name.blank?
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{exam.id}", onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        = t('scores.info.equivalency')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_3_#{exam.id}"}
                        %ul{ class: 'dropdown-menu' }
                          = raw t('scores.info.equivalent', name: exam.eq_name)
                    - else
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{exam.id}", :'data-url' => equalities_tools_path(tool_type: exam.academic_tool_type, ac_id: exam.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        =t('scores.info.equalities')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_3_#{exam.id}"}
                        %ul{ class: 'dropdown-menu' }
                %td.center{headers: "ex_not_dat"}
                  %div= [l(exam.start_date.to_date), l(exam.end_date.to_date)].join(' - ')
                  %div= [(exam.start_hour), (exam.end_hour)].compact.join(' - ')
                %td.center.situation{headers: "ex_not_sit"}
                  %div{class: "#{exam.situation}"}= I18n.t(exam.situation, :scope => [:scores, :situation])
                %td.center{headers: "ex_not_gra"}=exam.grade
                %td.center.grade{headers: "ex_not_bla"}
                  - disabled = !(exam.grade.blank? && exam.closed == 't' && !['to_answer', 'not_finished', 'retake', 'not_answered'].include?(exam.situation))
                  %span.activity_grade= link_to_function (content_tag(:i, nil, class: 'icon-write')), 'calcule_grade_user_exam(this)', :"data-tooltip" => t('exams.index.calculate'), :'data-url' => calcule_grade_user_exam_path(exam.academic_tool_id, user_id: @user.id), class: "btn #{disabled ? 'disabled' : ''}", disabled: disabled, onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('exams.index.calculate')
                %td.center{headers: "ex_not_aft"}=(exam.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
      - else
        .block_content.block_content_text= t(:itens_not_found)   

= javascript_include_tag 'tablesorter', 'tooltip', 'scores'

:javascript

  $(function(){
    $(".link_pre_exam, .open_exam, .link_preview_exam").call_fancybox({
      minWidth: '50%',
      minheigth: '50%',
      closeBtn : true,
      height: 'auto',
      maxHeight: '70%'
    });

    $(".exam-result").call_fancybox({
      minWidth: '50%',
      minHeight: '50%',
      height: 'auto',
      closeBtn : true
    });
  }); 