%section.schedule_event
  .block_title
    %h2= t(:schedule_event, :scope => [:scores, :info])
    .tabs.tab_event
      %ul
        %li= link_to t(:evaluative, scope: [:scores, :info]), '#', class: 'evaluative active', onclick: 'change_tab_tool(this); return false;', :'data-div' => '#evaluative_eve', onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_schedule_evaluative') 
        %li= link_to t(:frequency, scope: [:scores, :info]), '#', class: 'frequency', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#frequency_eve", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_schedule_frequency') 
        %li= link_to t(:not_evaluative, scope: [:scores, :info]), '#', class: 'notevaluative', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#notevaluative_eve", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_schedule_not_evaluative') 
  .block_content
    .tools.show#evaluative_eve
      .block_content
        - unless @schedules_event_evaluative.blank?
          %table.tb_list{:summary=> t("schedule_events.list.summary_evaluative")}
            %thead
              %tr.lines
                %th#ev_eva_she{style: "width: 6%;"}= t(:schedule_event, scope: [:scores, :info])
                %th#ev_eva_dat.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                %th#ev_eva_sit.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                %th#ev_eva_gra.center{style: "width: 2%;"}= t(:grade, scope: [:scores, :info])
                - if @can_evaluate_ev
                  %th#ev_eva_eva.center.no_sort{style: "width: 2%;"}
            %tbody
              - @schedules_event_evaluative.each do |schedule_event|
                %tr.lines
                  %td{align: "left", headers: "ev_eva_she"}
                    .title= schedule_event.name
                    .description
                      - if schedule_event.description.size > 80
                        .description_slice= raw schedule_event.description.slice(0..80) << "..."
                        .description_complete= raw schedule_event.description
                        .more_or_less
                          %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: schedule_event.name) }= t('common_between_pages.more')
                          %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: schedule_event.name)}= t('common_between_pages.less')
                      - else
                        = raw schedule_event.description
                    .equivalent
                      - unless schedule_event.eq_name.blank?
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{schedule_event.id}", onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          = t('scores.info.equivalency')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_1_#{schedule_event.id}"}
                          %ul{ class: 'dropdown-menu' }
                            = raw t('scores.info.equivalent', name: schedule_event.eq_name)
                      - else
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{schedule_event.id}", :'data-url' => equalities_tools_path(tool_type: schedule_event.academic_tool_type, ac_id: schedule_event.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          =t('scores.info.equalities')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_1_#{schedule_event.id}"}
                          %ul{ class: 'dropdown-menu' }
                  %td.center{headers: "ev_eva_dat"}
                    %div= [l(schedule_event.start_date.to_date, format: :normal), l(schedule_event.end_date.to_date, format: :normal)].join(" - ")
                    - if !schedule_event.start_hour.blank?
                      %div= [(schedule_event.start_hour), (schedule_event.end_hour)].join(' - ')
                  %td.center{class: "assignment_#{schedule_event.situation}", headers: "ev_eva_sit"}= t("scores.situation.#{schedule_event.situation}")
                  %td.center{headers: "ev_eva_gra", class: "#{['u', schedule_event.id.to_s, schedule_event.user_id.to_s].join('_')} #{['g', schedule_event.id.to_s, schedule_event.group_id.to_s].join('_')}"}= schedule_event.grade
                  - if @can_evaluate_ev 
                    %td.center{headers: "ev_eva_eva"}
                      = link_to content_tag(:i, nil, class: 'icon-write'), evaluate_user_schedule_event_path(schedule_event.academic_tool_id, user_id: @user.id, score_type: 'evaluative'), class: 'btn to_evaluate_schedule_event', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post]), onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t(:to_evaluate, scope: [:posts, :post])   

        - else
          .block_content.block_content_text= t(:itens_not_found)

    .tools#frequency_eve
      .block_content
        - unless @schedules_event_frequency.blank?
          %table.tb_list{:summary=> t("schedule_events.list.summary_frequency")}
            %thead
              %tr.lines
                %th#ev_fre_she{style: "width: 6%;"}= t(:schedule_event, scope: [:scores, :info])
                %th#ev_fre_dat.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                %th#ev_fre_sit.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                %th#ev_fre_fre.center{style: "width: 2%;"}= t(:frequency, scope: [:scores, :info])
                - if @can_evaluate_ev
                  %th#ev_fre_eva.center.no_sort{style: "width: 2%;"}
            %tbody
              - @schedules_event_frequency.each do |schedule_event|
                %tr.lines
                  %td{align: "left", headers: "ev_fre_she"}
                    .title= schedule_event.name
                    .description
                      - if schedule_event.description.size > 80
                        .description_slice= raw schedule_event.description.slice(0..80) << "..."
                        .description_complete= raw schedule_event.description
                        .more_or_less
                          %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: schedule_event.name) }= t('common_between_pages.more')
                          %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: schedule_event.name)}= t('common_between_pages.less')
                      - else
                        = raw schedule_event.description
                    .equivalent
                      - unless schedule_event.eq_name.blank?
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{schedule_event.id}", onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          = t('scores.info.equivalency')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_2_#{schedule_event.id}"}
                          %ul{ class: 'dropdown-menu' }
                            = raw t('scores.info.equivalent', name: schedule_event.eq_name)
                      - else
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{schedule_event.id}", :'data-url' => equalities_tools_path(tool_type: schedule_event.academic_tool_type, ac_id: schedule_event.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          =t('scores.info.equalities')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_2_#{schedule_event.id}"}
                          %ul{ class: 'dropdown-menu' }
                  %td.center{headers: "ev_fre_dat"}
                    %div= [l(schedule_event.start_date.to_date, format: :normal), l(schedule_event.end_date.to_date, format: :normal)].join(" - ")
                    - if !schedule_event.start_hour.blank?
                      %div= [(schedule_event.start_hour), (schedule_event.end_hour)].join(' - ')
                  %td.center{class: "assignment_#{schedule_event.situation}", headers: "ev_fre_sit"}= t("scores.situation.#{schedule_event.situation}")
                  %td.center{headers: "ev_fre_fre", class: "#{['u', schedule_event.id.to_s, schedule_event.user_id.to_s].join('_')} #{['g', schedule_event.id.to_s, schedule_event.group_id.to_s].join('_')}"}= schedule_event.working_hours
                  - if @can_evaluate_ev
                    %td.center{headers: "ev_fre_eva"}
                      = link_to content_tag(:i, nil, class: 'icon-write'), evaluate_user_schedule_event_path(schedule_event.academic_tool_id, user_id: @user.id, score_type: 'frequency'), class: 'btn to_evaluate_schedule_event', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post]), onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t(:to_evaluate, scope: [:posts, :post])

        - else
          .block_content.block_content_text= t(:itens_not_found)
  
    .tools#notevaluative_eve 
      .block_content
        - unless @schedules_event_not_evaluative.blank?
          %table.tb_list{:summary=> t("schedule_events.list.summary_notevaluative")}
            %thead
              %tr.lines
                %th#ev_not_she{style: "width: 6%;"}= t(:schedule_event, scope: [:scores, :info])
                %th#ev_not_dat.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                %th#ev_not_sit.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])

            %tbody
              - @schedules_event_not_evaluative.each do |schedule_event|
                %tr.lines
                  %td{align: "left", headers: "ev_not_she"}
                    .title= schedule_event.name
                    .description
                      - if schedule_event.description.size > 80
                        .description_slice= raw schedule_event.description.slice(0..80) << "..."
                        .description_complete= raw schedule_event.description
                        .more_or_less
                          %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: schedule_event.name) }= t('common_between_pages.more')
                          %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: schedule_event.name)}= t('common_between_pages.less')
                      - else
                        = raw schedule_event.description
                    .equivalent
                      - unless schedule_event.eq_name.blank?
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{schedule_event.id}", onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          = t('scores.info.equivalency')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_3_#{schedule_event.id}"}
                          %ul{ class: 'dropdown-menu' }
                            = raw t('scores.info.equivalent', name: schedule_event.eq_name)
                      - else
                        %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{schedule_event.id}", :'data-url' => equalities_tools_path(tool_type: schedule_event.academic_tool_type, ac_id: schedule_event.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                          %i.icon-flow-parallel
                          =t('scores.info.equalities')
                          %i.icon-arrow-down-triangle
                        .dropdown.dropdown-tip{id: "dropdown_eq_3_#{schedule_event.id}"}
                          %ul{ class: 'dropdown-menu' }
                  %td.center{headers: "ev_not_dat"}
                    %div= [l(schedule_event.start_date.to_date, format: :normal), l(schedule_event.end_date.to_date, format: :normal)].join(" - ")
                    - if !schedule_event.start_hour.blank?
                      %div= [(schedule_event.start_hour), (schedule_event.end_hour)].join(' - ')
                  %td.center{class: "assignment_#{schedule_event.situation}", headers: "ev_not_sit"}= t("scores.situation.#{schedule_event.situation}")
        - else
          .block_content.block_content_text= t(:itens_not_found)

= javascript_include_tag 'tablesorter', 'tooltip', 'scores'

:javascript

  $(function(){
   $(".to_evaluate_schedule_event").call_fancybox({
      minWidth: '50%',
      minHeight: '50%',
      height: 'auto',
      closeBtn : true
    });
  }); 