.block_wrapper_shedule_event
  .block_content    
    #tabs
      %ul
        %li.active 
          = link_to t(:evaluative, scope: [:scores, :info]), "#evaluative"
        %li 
          = link_to t(:frequency, scope: [:scores, :info]), "#frequency"
        %li 
          = link_to t(:not_evaluative, scope: [:scores, :info]), "#notevaluative"   
          
      #evaluative       
        - unless @schedules_event_evaluative.nil?
          .block_content
            - unless @schedules_event_evaluative.empty?
              %table.tb_list
                %thead
                  %tr.lines
                    %th{style: "width: 6%;"}= t(:schedule_event, scope: [:scores, :info])
                    %th.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                    %th.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}= t(:grade, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}
                %tbody
                  - @schedules_event_evaluative.each do |schedule_event|
                    - link = evaluate_user_schedule_event_path(schedule_event.id, user_id: @user.id)
                    - info = AcademicAllocationUser.get_grade_and_wh(@user.id, 'ScheduleEvent', schedule_event.id)
                    %tr.lines
                      %td{align: "left"}
                        .title= schedule_event.title
                      %td.center
                        %div= [l(schedule_event.schedule.start_date, format: :normal), l(schedule_event.schedule.end_date, format: :normal)].join(" - ")
                        - if !schedule_event.start_hour.blank?
                          %div= [(schedule_event.start_hour), (schedule_event.end_hour)].join(' - ')
                      %td.center 
                        = t(schedule_event.status, scope: [:schedule_events, :status])
                      %td.center
                        - if !info[:grade].blank?
                          = info[:grade]
                      %td.center
                        - if @can_evaluate_ev 
                          = link_to content_tag(:i, nil, class: 'icon-write'), link, class: 'btn to_evaluate_schedule_event', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post])   
            - else
              .block_content.block_content_text= t(:itens_not_found)

      #frequency
        - unless @schedules_event_frequency.nil?
          .block_title
            %h2= t(:schedule_events, :scope => [:scores, :info])
          .block_content
            - unless @schedules_event_frequency.empty?
              %table.tb_list
                %thead
                  %tr.lines
                    %th{style: "width: 6%;"}= t(:schedule_event, scope: [:scores, :info])
                    %th.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                    %th.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}= t(:frequency, scope: [:scores, :info])
                    %th.center{style: "width: 2%;"}
                %tbody
                  - @schedules_event_frequency.each do |schedule_event|
                    - link = evaluate_user_schedule_event_path(schedule_event.id, user_id: @user.id)
                    - info = AcademicAllocationUser.get_grade_and_wh(@user.id, 'ScheduleEvent', schedule_event.id)
                    %tr.lines
                      %td{align: "left"}
                        .title= schedule_event.title
                      %td.center
                        %div= [l(schedule_event.schedule.start_date, format: :normal), l(schedule_event.schedule.end_date, format: :normal)].join(" - ")
                        - if !schedule_event.start_hour.blank?
                          %div= [(schedule_event.start_hour), (schedule_event.end_hour)].join(' - ')
                      %td.center 
                        = t(schedule_event.status, scope: [:schedule_events, :status])
                      %td.center
                        - if !info[:wh].blank?
                          = info[:wh]
                      %td.center
                        - if @can_evaluate_ev
                          = link_to content_tag(:i, nil, class: 'icon-write'), link, class: 'btn to_evaluate_schedule_event', :'data-tooltip'=> t(:to_evaluate, scope: [:posts, :post])   
            - else
              .block_content.block_content_text= t(:itens_not_found)
    
      #notevaluative 
        - unless @schedules_event_not_evaluative.nil?
          .block_title
            %h2= t(:schedule_events, :scope => [:scores, :info])
          .block_content
            - unless @schedules_event_not_evaluative.empty?
              %table.tb_list
                %thead
                  %tr.lines
                    %th{style: "width: 6%;"}= t(:schedule_event, scope: [:scores, :info])
                    %th.center.date{style: "width: 6%;"}= t(:date_range, scope: [:scores, :info])
                    %th.center{style: "width: 4%;"}= t(:situation, scope: [:scores, :info])
 
                %tbody
                  - @schedules_event_not_evaluative.each do |schedule_event|
                    %tr.lines
                      %td{align: "left"}
                        .title= schedule_event.title
                      %td.center
                        %div= [l(schedule_event.schedule.start_date, format: :normal), l(schedule_event.schedule.end_date, format: :normal)].join(" - ")
                        - if !schedule_event.start_hour.blank?
                          %div= [(schedule_event.start_hour), (schedule_event.end_hour)].join(' - ')
                      %td.center 
                        = t(schedule_event.status, scope: [:schedule_events, :status])
                     
            - else
              .block_content.block_content_text= t(:itens_not_found)
        

:javascript

  $(function(){
    $("#tabs").tabs();

   $(".to_evaluate_schedule_event").call_fancybox({
      minWidth: '50%',
      minHeight: '50%',
      height: 'auto',
      closeBtn : true
    });
  }); 