%section.webconference
  .block_title
    %h2= t(:webconference, :scope => [:scores, :info])
    .tabs.tab_web
      %ul
        %li= link_to t(:evaluative, scope: [:scores, :info]), '#', class: 'evaluative active', onclick: 'change_tab_tool(this); return false;', :'data-div' => '#evaluative_web', onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_web_conference_evaluative')
        %li= link_to t(:frequency, scope: [:scores, :info]), '#', class: 'frequency', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#frequency_web", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_web_conference_frequency')
        %li= link_to t(:not_evaluative, scope: [:scores, :info]), '#', class: 'notevaluative', onclick: 'change_tab_tool(this); return false;', :'data-div' => "#notevaluative_web", onkeydown: 'click_on_keypress(event, this);', :'arial-label'=> t('scores.info.list_web_conference_not_evaluative')
  .block_content
    .tools.show#evaluative_web
      - unless @webconferences_evaluative.blank?
        %table.webconferences.tb_list{:summary=> t("webconferences.list.summary_evaluative")}
          %thead
            %tr.lines
              %th#we_eva_nam.default_width.center= t(:name, scope: [:webconferences, :list])
              %th#we_eva_ava.default_width.center= t(:availability, scope: [:webconferences, :list])
              %th#we_eva_sit.smaller_width.center= t(:situation, scope: [:scores, :info])
              %th#we_eva_int.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
              %th#we_eva_gra.center{style: "width: 2%;"}= t(:grade, :scope => [:scores, :info])
              %th#we_eva_rec.smaller_width.center.no_sort= t(:recording, scope: [:webconferences, :index])
              - if @can_evaluate
                %th#we_eva_acc.smaller_width.center.no_sort{style: "width: 2%;"}
              %th#we_eva_aft.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
          %tbody
            - @webconferences_evaluative.each do |webconference|
              - unavailable = exist_and_offline?(webconference.server.to_i)
              - disabled = (webconference.situation == 'scheduled' || webconference.situation == 'in_progress' || webconference.situation == 'processing' || unavailable)
              %tr.lines
                %td.webconference_access.title{ :'data-url' => access_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id), headers: "we_eva_nam" }
                  - if (webconference.opened == 't' && webconference.closed == 'f') 
                    = link_to_function webconference.name, 'access_webconference(this)', :'aria-label' => t('webconferences.index.access_web', web: webconference.name), onkeydown: 'click_on_keypress(event, this);'
                  - else
                    .title= link_to webconference.name, '#', {disabled: true, class: 'disabled', :'aria-label' => t('webconferences.index.access_web', web: webconference.name) + t(:disabled), onclick: 'return false;'}
                  .description
                    - if webconference.description.size > 80
                      .description_slice= raw webconference.description.slice(0..80) << "..."
                      .description_complete= raw webconference.description
                      .more_or_less
                        %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: webconference.name) }= t('common_between_pages.more')
                        %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: webconference.name)}= t('common_between_pages.less')
                    - else
                      = raw webconference.description
                  .equivalent
                    - unless webconference.eq_name.blank?
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{webconference.id}", onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        = t('scores.info.equivalency')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_1_#{webconference.id}"}
                        %ul{ class: 'dropdown-menu' }
                          = raw t('scores.info.equivalent', name: webconference.eq_name)
                    - else
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_1_#{webconference.id}", :'data-url' => equalities_tools_path(tool_type: webconference.academic_tool_type, ac_id: webconference.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        =t('scores.info.equalities')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_1_#{webconference.id}"}
                        %ul{ class: 'dropdown-menu' }
                %td.center{headers: "we_eva_ava"}
                  %div= l(webconference.start_date.to_date, format: :normal)
                  %div= [l(webconference.start_hour.to_time, format: :today), l(webconference.end_hour.to_time, format: :today)].join(' - ')
                %td.center{class: (unavailable ? 'assignment_not_started' : "assignment_#{webconference.situation}"), headers: "we_eva_sit"}= unavailable ? t(:unavailable, scope: [:webconferences, :list]) : t("scores.situation.#{webconference.situation}")
                %td.center{headers: "we_eva_int"}
                  - unless webconference.count.blank?
                    = link_to_function webconference.count, 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: webconference.academic_tool_type, ac_id: webconference.id, user_id: @user.id, group_id: webconference.group_id, situation: webconference.situation, score_type: 'evaluative'), onkeydown: 'click_on_keypress(event, this);'
                %td.center{headers: "we_eva_gra", class: "#{['u', webconference.id.to_s, webconference.user_id.to_s].join('_')} #{['g', webconference.id.to_s, webconference.group_id.to_s].join('_')}"}= webconference.grade
                - if disabled
                  %td.center{:'data-tooltip' => t('webconferences.list.watch'), headers: "we_eva_rec"}= link_to content_tag(:i, nil, class: 'icon-play btn disabled'), '#', disabled: true, onclick: 'return false', :'aria-label' => t('webconferences.list.watch')
                - else
                  %td.center{:'data-tooltip' => t('webconferences.list.watch'), headers: "we_eva_rec"}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id), class: "record", onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('webconferences.list.watch')
                - if @can_evaluate
                  %td.center{ :'data-url' => user_access_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id, user_id: @user.id, score_type: 'evaluative'), :'data-tooltip' => t(:to_evaluate, scope: [:posts, :post]), headers: "we_eva_acc" }= link_to_function content_tag(:i, nil, class: "icon-write btn"), 'list_access(this)', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t(:to_evaluate, scope: [:posts, :post])
                %td.center{headers: "we_eva_aft"}=(webconference.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
                  
      - else
        .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])

    .tools#frequency_web
      - unless @webconferences_frequency.blank?
        %table.webconferences.tb_list{:summary=> t("webconferences.list.summary_frequency")}
          %thead
            %tr.lines
              %th#we_fre_nam.default_width.center= t(:name, scope: [:webconferences, :list])
              %th#we_fre_ava.default_width.center= t(:availability, scope: [:webconferences, :list])
              %th#we_fre_sit.smaller_width.center= t(:situation, scope: [:webconferences, :list])
              %th#we_fre_int.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
              %th#we_fre_fre.center{style: "width: 2%;"}= t(:frequency, :scope => [:scores, :info])
              %th#we_fre_rec.smaller_width.center.no_sort= t(:recording, scope: [:webconferences, :index])
              - if @can_evaluate
                %th#we_fre_acc.smaller_width.center.no_sort{style: "width: 2%;"}
              %th#we_fre_aft.center.no_sort{style: "width: 2%;"}=t('scores.info.new_after_evaluation')
          %tbody
            - @webconferences_frequency.each do |webconference|
              - unavailable = exist_and_offline?(webconference.server.to_i)
              - disabled = (webconference.situation == 'scheduled' || webconference.situation == 'in_progress' || webconference.situation == 'processing' || unavailable)
              %tr.lines
                %td.webconference_access{ :'data-url' => access_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id), headers: "we_fre_nam" }
                  - if (webconference.opened == 't' && webconference.closed == 'f') 
                    = link_to_function webconference.name, 'access_webconference(this)', :'aria-label' => t('webconferences.index.access_web', web: webconference.name), onkeydown: 'click_on_keypress(event, this);'
                  - else
                    .title= link_to webconference.name, '#', {disabled: true, class: 'disabled', :'aria-label' => t('webconferences.index.access_web', web: webconference.name) + t(:disabled), onclick: 'return false;'}
                  .description
                    - if webconference.description.size > 80
                      .description_slice= raw webconference.description.slice(0..80) << "..."
                      .description_complete= raw webconference.description
                      .more_or_less
                        %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: webconference.name) }= t('common_between_pages.more')
                        %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: webconference.name)}= t('common_between_pages.less')
                    - else
                      = raw webconference.description
                  .equivalent
                    - unless webconference.eq_name.blank?
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{webconference.id}", onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        = t('scores.info.equivalency')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_2_#{webconference.id}"}
                        %ul{ class: 'dropdown-menu' }
                          = raw t('scores.info.equivalent', name: webconference.eq_name)
                    - else
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_2_#{webconference.id}", :'data-url' => equalities_tools_path(tool_type: webconference.academic_tool_type, ac_id: webconference.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        =t('scores.info.equalities')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_2_#{webconference.id}"}
                        %ul{ class: 'dropdown-menu' }
                %td.center{headers: "we_fre_ava"}
                  %div= l(webconference.start_date.to_date, format: :normal)
                  %div= [l(webconference.start_hour.to_time, format: :today), l(webconference.end_hour.to_time, format: :today)].join(' - ')
                %td.center{class: (unavailable ? 'assignment_not_started' : "assignment_#{webconference.situation}"), headers: "we_fre_sit"}= unavailable ? t(:unavailable, scope: [:webconferences, :list]) : t("scores.situation.#{webconference.situation}")
                %td.center{headers: "we_fre_int"}
                  - unless webconference.count.blank?
                    = link_to_function webconference.count, 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: webconference.academic_tool_type, ac_id: webconference.id, user_id: @user.id, group_id: webconference.group_id, situation: webconference.situation, score_type: 'frequency'), onkeydown: 'click_on_keypress(event, this);'
                %td.center{headers: "we_fre_fre", class: "#{['u', webconference.id.to_s, webconference.user_id.to_s].join('_')} #{['g', webconference.id.to_s, webconference.group_id.to_s].join('_')}"}= webconference.working_hours
                - if disabled
                  %td.center{:'data-tooltip' => t('webconferences.list.watch'), headers: "we_fre_rec"}= link_to content_tag(:i, nil, class: 'icon-play btn disabled'), '#', disabled: true, onclick: 'return false', :'aria-label' => t('webconferences.list.watch')
                - else
                  %td.center{:'data-tooltip' => t('webconferences.list.watch'), headers: "we_fre_rec"}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id), class: "record", onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('webconferences.list.watch')
                - if @can_evaluate
                  %td.center{ :'data-url' => user_access_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id, user_id: @user.id, score_type: 'frequency'), :'data-tooltip' => t(:to_evaluate, scope: [:posts, :post]), headers: "we_fre_acc" }= link_to_function content_tag(:i, nil, class: "icon-write btn"), 'list_access(this)', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t(:to_evaluate, scope: [:posts, :post])
                %td.center{headers: "we_fre_aft"}=(webconference.new_after_evaluation == 't' ? t('scores.info.new_yes') : t('scores.info.new_no'))
                  
      - else
        .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])
    
    .tools#notevaluative_web 
      - unless @webconferences_not_evaluative.blank?
        %table.webconferences.tb_list{:summary=> t("webconferences.list.summary_notevaluative")}
          %thead
            %tr.lines
              %th#we_not_nam.default_width.center= t(:name, scope: [:webconferences, :list])
              %th#we_not_ava.default_width.center= t(:availability, scope: [:webconferences, :list])
              %th#we_not_sta.smaller_width.center= t(:status, scope: [:webconferences, :list])
              %th#we_not_int.center{style: "width: 2%;"}= t(:interactions, scope: [:scores, :info])
              %th#we_not_rec.smaller_width.center.no_sort= t(:recording, scope: [:webconferences, :index])
          %tbody
            - @webconferences_not_evaluative.each do |webconference|
              - unavailable = exist_and_offline?(webconference.server.to_i)
              - disabled = (webconference.situation == 'scheduled' || webconference.situation == 'in_progress' || webconference.situation == 'processing' || unavailable)
              %tr.lines
                %td.webconference_access{ :'data-url' => access_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id), headers: "we_not_nam" }
                  - if (webconference.opened == 't' && webconference.closed == 'f') 
                    = link_to_function webconference.name, 'access_webconference(this)', :'aria-label' => t('webconferences.index.access_web', web: webconference.name), onkeydown: 'click_on_keypress(event, this);'
                  - else
                    .title= link_to webconference.name, '#', {disabled: true, class: 'disabled', :'aria-label' => t('webconferences.index.access_web', web: webconference.name) + t(:disabled), onclick: 'return false;'}
                  .description
                    - if webconference.description.size > 80
                      .description_slice= raw webconference.description.slice(0..80) << "..."
                      .description_complete= raw webconference.description
                      .more_or_less
                        %a.description_more.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.more_alt', tool: webconference.name) }= t('common_between_pages.more')
                        %a.description_less.link_content{ href: '#', onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('common_between_pages.less_alt', tool: webconference.name)}= t('common_between_pages.less')
                    - else
                      = raw webconference.description
                  .equivalent
                    - unless webconference.eq_name.blank?
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{webconference.id}", onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        = t('scores.info.equivalency')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_3_#{webconference.id}"}
                        %ul{ class: 'dropdown-menu' }
                          = raw t('scores.info.equivalent', name: webconference.eq_name)
                    - else
                      %a{ href: '#', :"data-dropdown" => "#dropdown_eq_3_#{webconference.id}", :'data-url' => equalities_tools_path(tool_type: webconference.academic_tool_type, ac_id: webconference.id), onclick: 'open_dropdown(this);', onkeydown: 'click_on_keypress(event, this);' }
                        %i.icon-flow-parallel
                        =t('scores.info.equalities')
                        %i.icon-arrow-down-triangle
                      .dropdown.dropdown-tip{id: "dropdown_eq_3_#{webconference.id}"}
                        %ul{ class: 'dropdown-menu' }
                %td.center{headers: "we_not_ava"}
                  %div= l(webconference.start_date.to_date, format: :normal)
                  %div= [l(webconference.start_hour.to_time, format: :today), l(webconference.end_hour.to_time, format: :today)].join(' - ')
                %td.center{class: (unavailable ? 'assignment_not_started' : "assignment_#{webconference.situation}"), headers: "we_not_sta"}= unavailable ? t(:unavailable, scope: [:webconferences, :list]) : t("scores.situation.#{webconference.situation}")
                %td.center{headers: "we_not_int"}
                  - unless webconference.count.blank?
                    = link_to_function webconference.count, 'open_evaluation(this)', :'data-url' => redirect_to_evaluate_scores_path(tool_type: webconference.academic_tool_type, ac_id: webconference.id, user_id: @user.id, group_id: webconference.group_id, situation: webconference.situation), onkeydown: 'click_on_keypress(event, this);'
                - if disabled
                  %td.center{:'data-tooltip' => t('webconferences.list.watch'), headers: "we_not_rec"}= link_to content_tag(:i, nil, class: 'icon-play btn disabled'), '#', disabled: true, onclick: 'return false', :'aria-label' => t('webconferences.list.watch')
                - else
                  %td.center{:'data-tooltip' => t('webconferences.list.watch'), headers: "we_not_rec"}= link_to content_tag(:i, nil, class: 'icon-play btn'), get_record_webconference_path(webconference.academic_tool_id, at_id: webconference.allocation_tag_id), class: "record", onkeydown: 'click_on_keypress(event, this);', :'aria-label' => t('webconferences.list.watch')
                
      - else
        .block_content.block_content_text= t(:no_data, scope: [:webconferences, :list])    

= javascript_include_tag 'tooltip', 'webconferences', 'tablesorter', 'scores'

:javascript
  $(function(){
    $('.record').call_fancybox();
  });