<script type="text/javascript">

  $(document).ready(function(){
    $('.search_keyword_inactive').click(function(){
        if(document.getElementById("link").value == '<%= t(:support_text_field_link) %>'){
          document.getElementById("link").value = "";
          $('.search_keyword_inactive').css('color','#000','font-style','normal');
        }
      });
    $('.support_material_add_link').click(function(){
      $('#no_link').hide();
      $('#add_link_support_material_file_editor').fadeIn();
    });
    $('#cancel_add_link').click(function(){
      if($('#no_link')){
        $('#add_link_support_material_file_editor').hide();
        $('#no_link').fadeIn();
      }else{
        $('#add_link_support_material_file_editor').fadeOut();
      }
    });
    $('#folder_cancel').click(function(){
      $('#support_material_new_folder_text').hide();
      $('#support_material_new_folder a').fadeIn();
    });
    $('#cancel_new_folder_file').click(function(){
      $('#new_file_folder_temp').hide();
    })
    $('#support_material_new_folder a').click(function(){
      $(this).hide();
      $('#support_material_new_folder_text').fadeIn();
      $("#new_folder_field").focus();
      return false;
    });

    var bread_select;
    $(".select_editor_content a").click(function(){
      var parentColumn = $(this).parents('.select_editor').next();
      console.log(parentColumn);
      $(parentColumn).animate({ opacity: 'toggle', width: 'toggle' });
      });
  })

  // Esta funcao verifica o checkbox de determinada pasta para selecionar ou deselecionar os arquivos dessa
  function check_uncheck(checkbox_verify){
    var boxes = document.getElementsByName("list_check_file[]["+checkbox_verify+"]");
    var checked = $('#'+checkbox_verify).attr('checked')
    for(var i = 0; i < boxes.length; i++)
          boxes[i].checked = checked;
  }
  // Esta funcao omite o nome da pasta e exibe a caixa de texto
  function rename_folder(folder_name){
    $('#folder_name_'+folder_name).hide();
    $('#rename_folder_'+folder_name).fadeIn();
  }
  // Esta funcao omite a caixa de texto e exibe o nome da pasta
  function cancel_rename_folder(folder_name){
    $('#rename_folder_'+folder_name).hide();
    $('#folder_name_'+folder_name).fadeIn();
  }
  // Esta funcao habilita a div que contem o field para o upload de arquivos
  function upload_files(folder_name){
   $('#add_file_support_material_file_editor_'+folder_name).fadeIn(); 
   if(folder_name == 'GERAL' && $('#no_file')){
    $('#no_file').hide();
   }
  }
  // Esta funcao omite a div que contem o field para o upload de arquivos
  function cancel_upload_files(folder_name){
    if(folder_name == 'GERAL' && $('#no_file')){
      $('#no_file').fadeIn();
    }
    $('#add_file_support_material_file_editor_'+folder_name).hide();
  }

</script>

<!-- Variável na verificação se a pasta de links ou geral está vazia -->
<%empty_folders = @folders_list.each{|f| f[0]} %>

<!-- Breadcrumb do editor da Disciplina até o curso -->
<div class="block_wrapper">
    <div id="breadcrumb_wrapper">
      <div class="breadcrumb_item select_option_editor_active">
        <%= user_session[:tabs][:active] %> ->
        <%= @semester_current  %> ->
        <% @select_options_editor.each do |loc| %>
          <%= loc['code'] + " " %>
          <% break %>
        <% end %>
      </div>
    </div>

    <div class="block_content" id="column_wrapper">
      <div class="select_editor curriculum_units">
        <div class="select_editor_title">
          <%= t(:support_allocation_curriculum_unit) %>
        </div>
        <div class="select_editor_content">
          <ul>
            <li class="select_option_editor_active" id="<%= 'curriculum'+@select_options_editor[0]['curriculum_unit_id']%>">
                <%= link_to_if(params[:type_value_id].to_s != 'curriculum_unit', @select_options_editor[0]['curriculum_unit'], :href => '#', :curriculum_unit_id => @select_options_editor[0]['curriculum_unit_id'], :choosed_type_id => 'curriculum'+@select_options_editor[0]['curriculum_unit_id'], :value_id => @select_options_editor[0]['curriculum_unit_id'], :type_value_id => 'curriculum_unit') do
                  link_to(@select_options_editor[0]['curriculum_unit'], :href => '#', :value_id => nil, :curriculum_unit_id => nil, :choosed_type_id => nil, :support_document => params[:support_document])
                end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="select_editor offers">
        <div class="select_editor_title">
          <%= t(:support_allocation_offer) %>
        </div>
        <div class="select_editor_content">
          <ul>
            <% @select_options_editor.each do |t| %>
              <% if t['curriculum_unit_id'] == params[:curriculum_unit_id] %>
            <li class="select_option_editor_active"id="<%= 'offer'+t['offer_id'] %>">
                      <%= link_to_if(params[:offer_id] != t['offer_id'], t['semester'], :href => '#', :offer_id => t['offer_id'], :curriculum_unit_id => t['curriculum_unit_id'], :value_id => t['offer_id'], :type_value_id => 'offer', :choosed_type_id => 'offer'+t['offer_id']) do
                        link_to(t['semester'], :href => '#', :offer_id => nil, :choosed_type_id => 'curriculum'+@select_options_editor[0]['curriculum_unit_id'], :support_document => params[:support_document])
                      end %>
                  </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="select_editor groups">
        <div class="select_editor_title">
          <%= t(:support_allocation_group) %>
        </div>
        <div class="select_editor_content">
          <ul>
            <% @select_options_editor.each do |t| %>
              <% if t['offer_id'] == params[:offer_id] %>
            <li class="select_editor_item_current" id="<%= 'group'+t['group_id'] %>">
                  <%= link_to t['code'], :href => '#', :value_id => t['group_id'], :type_value_id => 'group', :offer_id => t['offer_id'], :curriculum_unit_id => t['curriculum_unit_id'], :choosed_type_id => 'group'+t['group_id'] %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="block_wrapper">
  <div class="block_title" id="support_material_new_folder">
    <div id="support_material_new_folder_text" style="display:none;">
      <%= form_for(:support_material, :html => { :multipart => true }, :url => {:controller => :support_material_file, :action => :folder_verify, :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :folders_list => @folders_list}) do |f| %>
          <%= f.text_field :folder_name %>
          <%= f.submit t(:support_add), :id => "support_material", :class => "btn btn_default"%>
          <button type="button" class="btn btn_caution" id="folder_cancel"><%= t(:support_cancel) %></button>
       <% end %>
    </div>
    <h2><a href="#" style="display:block;" ><%= image_tag "icon_add.png", :alt=>(t(:support_new_folder)), :class=>(:block_title_icon) %> <%= t(:support_new_folder) %></a></h2>
  </div>
</div>

<!--
  ---- folder_temp para criar uma nova pasta
-->
<% if !params[:folder_temp].nil? %>
   <div class="block_wrapper" id="new_file_folder_temp">
     <div class="block_title">
        <h2><%= params[:folder_temp].upcase %></h2>
     </div>
     <table class='tb_list' border='0' cellpadding='10' cellspacing='0' width='100%'>
        <tr class="lines new_file">
          <td colspan="3">
            <%= form_for(:support_material, :html => { :multipart => true }, :url => {:controller => :support_material_file, :action => :select_action_file, :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :folder_name => params[:folder_temp]}) do |f| %>
                <%= f.file_field :attachment %>
                <%= f.submit t(:send), :id => "support_material", :class => "btn_default" %>
                <button type="button" class="btn btn_caution" id="cancel_new_folder_file"><%= t(:support_cancel) %></button>
            <% end %>
            <span><%= t(:support_file_message) %></span>
          </td>
        </tr>
      </table>
  </div>
<% end %>

<!--
  ---- Listagem somente dos links
-->
<div class="block_wrapper">
  <div class="block_title">
    <h2>LINKS</h2>
  </div>
  <% form_for :form, :url => {:controller=>:support_material_file, :action => :select_action_link, :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :type_value_id => params[:type_value_id], :choosed_type_id => params[:choosed_type_id], :folder_name => "LINKS"} do |c| %>
    <table class='tb_list' border='0' cellpadding='10' cellspacing='0' width='100%'>
      <thead>
        <tr>
          <th colspan="3" class="support_material_buttons">
            <div class="support_material_select">
              <%= check_box_tag "LINKS", {}, false, :onclick => "javascript:check_uncheck('LINKS');", :class => 'support_material_check_box' %>
            </div>
            <div>
              <div class="support_material_add_link"><%= t(:support_add) %></div>
            </div>
            <div class="support_material_add_link"><%= t(:support_edit) %></div><!-- Falta método de Editar link -->
            <div>
                <%= c.submit t(:support_delete), :class => "delete_support_material_file_editor" %>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="lines" id="add_link_support_material_file_editor" style="display:none;">
          <td colspan="3">
            <strong style="float:left;margin-right:4px;">Endereço:</strong>
              <%= c.text_field :link, :class => "search_keyword_inactive", :id => "link", :style => "float:left;", :value => t(:support_text_field_link) %>
              <%= c.submit t(:support_add), :id=>"confirm", :class=>"solar_button btn btn_default", :alt=> t(:support_add) %>
              <button type="button" class="btn btn_caution" id="cancel_add_link"><%= t(:support_cancel) %></button>
          </td>
        </tr>
        <% @folders_list.each do |folder_name, folder_content| %>
          <% if folder_name == "LINKS" %>
            <% folder_content.each do |file| %>
              <% renderize_list = true %>
              <% if params[:type_value_id] == 'curriculum_unit' && file['allocation_tag_id'] != AllocationTag.find_all_by_curriculum_unit_id(params[:value_id])[0].id # O usuário está no nível do Curriculum Unit %>
                <% renderize_list = false %>
              <% elsif params[:type_value_id] == 'offer' && file['allocation_tag_id'] != AllocationTag.find_all_by_offer_id(params[:value_id])[0].id && file['allocation_tag_id'] != AllocationTag.find_all_by_curriculum_unit_id(params[:curriculum_unit_id])[0].id %>
                <% renderize_list = false %>
              <% end %>
              <% renderize_list = true if params[:curriculum_unit_id].nil? %>
              <% if renderize_list %>
                <tr class="lines">
                  <td>
                    <%= check_box_tag "list_check_file[][#{folder_name}]", file["id"], false %>
                    <%= image_tag "mimetypes/url.png", :class => "file_icon", :alt => '' %>&nbsp;
                    <%= link_to file['url'], file['url'], :target => "_blank" %>
                  </td>
                  <td style="width:80px">
                    <%=l file["attachment_updated_at"].to_date %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
<% end %>
  <% if !empty_folders.include?("LINKS")%>
    <div id= "no_link" class="support_material_message_no_files">
      <%= t(:support_no_link_added) %>
    </div>
  <%end%>
</div>

<!--
  ---- Listagem somente dos arquivos da pasta geral
-->
<div class="block_wrapper">
  <div class="block_title">
    <h2>GERAL</h2>
    <div class="support_material_folder_actions">
      <%= link_to image_tag("icon_folder_compressed.png", :alt=>(t(:support_download_folder)), 'data-tooltip'=>(t(:support_download_folder)), :class=>(:support_material_folder_buttons)), {:controller => "support_material_file", :action => "download_folder_file_ziped", :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :folder => "GERAL"} %>
    </div>
  </div>
    <% form_for :support_material,  :html => { :multipart => true }, :url => {:controller=>:support_material_file, :action => :select_action_file, :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :folder_name => 'GERAL'} do |c| %>
    <table class='tb_list' border='0' cellpadding='10' cellspacing='0' width='100%'>
      <thead>
          <tr>
            <th colspan="3" class="support_material_buttons">
              <div class="support_material_select">
                <%= check_box_tag "GERAL", {}, false, :onclick => "javascript:check_uncheck('GERAL');", :class => 'support_material_check_box' %>
              </div>
              <div class="support_material_add" OnClick="upload_files('GERAL');"><%= t(:support_add) %></div>
              <div>
               <%= c.submit t(:support_delete), :class => "delete_support_material_file_editor" %>
              </div>
            </th>
          </tr>
      </thead>
<!-- 
    ---- Escolher arquivo para Upload
--> 
      <tbody>
        <tr class="lines" id="add_file_support_material_file_editor_GERAL" style="display:none;">
          <td colspan="3">
            <%= c.file_field :attachment %>
            <%= c.submit t(:send), :id => "support_material", :class => "btn_default" %>
            <button type="button" class="btn btn_caution" OnClick="cancel_upload_files('GERAL');"><%= t(:support_cancel) %></button>
          </td>
        </tr>
        <% @folders_list.each do |folder_name, folder_content| %>
          <% if folder_name == "GERAL" %>
            <% folder_content.each do |file| %>
              <% renderize_list = true %>
              <% if params[:type_value_id] == 'curriculum_unit' && file['allocation_tag_id'] != AllocationTag.find_all_by_curriculum_unit_id(params[:value_id])[0].id # O usuário está no nível do Curriculum Unit %>
                <% renderize_list = false %>
              <% elsif params[:type_value_id] == 'offer' && file['allocation_tag_id'] != AllocationTag.find_all_by_offer_id(params[:value_id])[0].id && file['allocation_tag_id'] != AllocationTag.find_all_by_curriculum_unit_id(params[:curriculum_unit_id])[0].id %>
                <% renderize_list = false %>
              <% end %>
              <% renderize_list = true if params[:curriculum_unit_id].nil? %>
              <% if renderize_list %>
                <tr class="lines">
                  <td>
                    <%= check_box_tag "list_check_file[][#{folder_name}]", file["id"], false %>
                      <%= link_to image_tag(icon_attachment(file["attachment_file_name"]), :class => 'file_icon'),
                        {:controller => :support_material_file, :action => :download, :id => file['id'], :file_allocation_tag_id => file['allocation_tag_id']} %>
                      <%= link_to file['attachment_file_name'],:controller => :support_material_file, :action => :download, :id => file['id'], :file_allocation_tag_id => file['allocation_tag_id'] %>
                    </td>
                  <td style="width:80px">
                    <%= format('%.2f KB', file["attachment_file_size"].to_i/1024.0) %>
                  </td>
                  <td style="width:80px">
                    <%=l file["attachment_updated_at"].to_date %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
<% end %>
  <% if !empty_folders.include?("GERAL")%>
    <div id="no_file" class="support_material_message_no_files">
      <%= t(:support_no_file_added) %>
    </div>
  <%end%>
</div>

<!--
  ---- Listagem dos arquivos existentes, sem os links e sem os da pasta geral
-->
<% @folders_list.each do |folder_name, folder_content| %>
  <% unless folder_name == "LINKS" || folder_name == "GERAL" %>
    <% form_for :support_material,  :html => { :multipart => true }, :url => {:controller=>:support_material_file, :action => :select_action_file, :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :folder_name => folder_name, :folders_list => @folders_list} do |c| %>
      <div class="block_wrapper">
        <div class="block_title">
          <h2 id="folder_name_<%= folder_name.tr(' ', '') %>"><%= folder_name %></h2>
              <div id="rename_folder_<%= folder_name.tr(' ', '') %>" style="display:none;">
                  <%= text_field_tag :new_folder_name, folder_name, :class => "search_keyword_inactive", :style => "float:left;" %>
                  <%= c.submit t(:support_rename), :class=>"solar_button btn btn_default", :alt=> t(:support_rename) %>
                  <button type="button" class="btn btn_caution" OnClick="cancel_rename_folder('<%=folder_name.tr(' ', '')%>');"><%= t(:support_cancel) %></button>
              </div>
              <div class="support_material_folder_actions">
                <%= image_tag "icon_rename.png", :alt=>(t(:support_rename_folder)), :class=>(:support_material_folder_buttons), 'data-tooltip'=>(t(:support_rename_folder)), :onclick => "javascript:rename_folder('#{folder_name.tr(' ', '')}');" %>
                <%= link_to image_tag("icon_folder_compressed.png", :alt=>(t(:support_download_folder)), 'data-tooltip'=>(t(:support_download_folder)), :class=>(:support_material_folder_buttons)), {:controller => "support_material_file", :action => "download_folder_file_ziped", :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id], :folder => folder_name} %>
                <%= link_to image_tag("icon_delete.png", :alt=>(t(:support_delete_folder)), 'data-tooltip'=>(t(:support_delete_folder)), :class=>(:support_material_folder_buttons)), {:action => "delete_folder", :folder_name => folder_name, :value_for_allocation_tag_id => params[:value_id], :type_for_allocation_tag_id => params[:type_value_id],},
      :method => :delete, :confirm => t(:support_confirm_exclusion_folder) %>
              </div>
        </div>

        <table class='tb_list' border='0' cellpadding='10' cellspacing='0' width='100%'>
          <thead>
            <tr>
              <th colspan="3" class="support_material_buttons">
                <div class="support_material_select">
                  <%= check_box_tag folder_name.tr(' ', ''), {}, false, :onclick => "javascript:check_uncheck('#{folder_name.tr(' ', '')}');", :class => 'support_material_check_box' %>
                </div>
                <div class="support_material_add" OnClick="upload_files('<%=folder_name.tr(' ', '')%>');"><%= t(:support_add) %></div>
                <div>
                 <%= c.submit t(:support_delete), :class => "delete_support_material_file_editor" %>
                </div>
              </th>
            </tr>
          </thead>
<!-- 
    ---- Escolher arquivo para Upload
--> 
          <tbody>
              <tr class="lines" id="add_file_support_material_file_editor_<%= folder_name.tr(' ', '') %>" style="display:none;">
                <td colspan="3">
                  <%= c.file_field :attachment %>
                  <%= c.submit t(:send), :id => "support_material", :class => "btn_default" %>
                  <button type="button" class="btn btn_caution" OnClick="cancel_upload_files('<%=folder_name.tr(' ', '')%>');"><%= t(:support_cancel) %></button>
                </td>
              </tr>
            <% folder_content.each do |file| %>
              <% renderize_list = true %>
              <% if params[:type_value_id] == 'curriculum_unit' && file['allocation_tag_id'] != AllocationTag.find_all_by_curriculum_unit_id(params[:value_id])[0].id # O usuário está no nível do Curriculum Unit %>
                <% renderize_list = false %>
              <% elsif params[:type_value_id] == 'offer' && file['allocation_tag_id'] != AllocationTag.find_all_by_offer_id(params[:value_id])[0].id && file['allocation_tag_id'] != AllocationTag.find_all_by_curriculum_unit_id(params[:curriculum_unit_id])[0].id %>
                <% renderize_list = false %>
              <% end %>
              <%  renderize_list = true if params[:curriculum_unit_id].nil? %>
              <% if renderize_list %>
                <tr class="lines">
                  <td>
                    <%= check_box_tag "list_check_file[][#{folder_name.tr(' ', '')}]", file["id"], false %>
                      <%= link_to image_tag(icon_attachment(file["attachment_file_name"]), :class => 'file_icon'),
                        {:controller => :support_material_file, :action => :download, :id => file['id'], :file_allocation_tag_id => file['allocation_tag_id']} %>
                      <%= link_to file['attachment_file_name'], :action => :download, :id => file['id'], :file_allocation_tag_id => file['allocation_tag_id'] %>
                    </td>
                  <td style="width:80px">
                      <%= format('%.2f KB', file["attachment_file_size"].to_i/1024.0) %>
                  </td>
                  <td style="width:80px">
                    <%=l file["attachment_updated_at"].to_date %>
                  </td>
                </tr>
              <% end %>
           <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
<% end %>


<% if @folders_list.nil? or @folders_list.empty? %>
  <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
<% end %>

  <!-- Manipula o select do editor, marcando de amarelo a tag selecionada -->

<% if params[:value_id] == nil %><%# se não houver nada selecionado %>
  <script type="text/javascript">
    $("#breadcrumb_wrapper .breadcrumb_item").click(function() {
        $(this).parent().fadeOut(function(){
            $(this).next('#column_wrapper').fadeIn();
        })
      })
  </script>
<%else%> <%# se houver algo selecionado %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#breadcrumb_wrapper .breadcrumb_item").parent().fadeOut(function(){
          $(this).next('#column_wrapper').fadeIn(); // mostra as colunas com opções para o select do editor
          $('#'+'<%= params[:choosed_type_id] %>').css('background', '#fffbe4'); // marque a opção selecionada, pela id que é criada pelo rails
      });
    })
  </script>
<%end%>