<span style="font-size: 11px;font-style: italic;color: #4B6380;">
  <%= link_to t(:support_download_all), :controler => :support_material_file, :action => :download_all_file_ziped %>
</span>
<br/>
<% @folders_list.each do |folder_name, folder_content| %>
  <div class="block_wrapper">
    <div class="block_title">
      <h2><%= folder_name %> </h2>
      <% unless folder_name == 'LINKS' %>
        <span style="font-size: 11px;font-style: italic;color: #4B6380;">
          <%= link_to t(:support_download_all_folder), :controler => :support_material_file, :action => :download_folder_file_ziped, :folder => folder_name %>
        </span>
      <% end %>
    </div>

    <table class='tb_list' border='0' cellpadding='10' cellspacing='0' width='100%'>
      <thead>
        <tr>
          <th><%= t(:name) %></th>
          <th style="width:80px"><%= t(:size) %></th>
          <th style="width:80px"><%= t(:sent_in) %></th>
        </tr>
      </thead>
      <tbody>
        <% folder_content.each do |file| %>
          <tr class="lines">
            <td>
              <% if file['url'] == nil %>
                <%= link_to image_tag(icon_attachment(file["attachment_file_name"])),
                  {:controller => :support_material_file, :action => :download, :id => file['id'], :file_allocation_tag_id => file['allocation_tag_id']},
                  {:class => 'file_icon'} %>
                <%= link_to file['attachment_file_name'], :controller => :support_material_file, :action => :download, :id => file['id'], :file_allocation_tag_id => file['allocation_tag_id'] %>
              <% else %>
                <%= image_tag 'icon_file_link.png', :alt => '' %>
                <%= link_to file['url'], file['url'], :target => '_blank' %>
              <% end %>
            </td>
            <td>
              <% if file['url'] == nil %>
                <%= format('%.2f KB', file["attachment_file_size"].to_i/1024.0) %>
              <% end %>
            </td>
            <td>
              <%=l file["attachment_updated_at"].to_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @folders_list.nil? or @folders_list.empty? %>
  <div class="block_content block_content_text"><%= t(:itens_not_found) %></div>
<% end %>