%span.form_requirement= t(:required_fields)
.module_form{:style => "text-align: left;"}
  = simple_form_for(@module, :html => {:id => "module_form"}) do |f| 
    
    .form-inputs.block_content.retreat
      = hidden_field_tag :allocation_tags_ids, @allocation_tags_ids

      = f.input :name, :required => true

      .form-actions.right_buttons
        = button_tag t(".cancel"), :class => "btn btn_default btn_lightbox", :type => "button", :alt => t(:cancel, :scope => [:discussion, :buttons]), :id => "cancel"
        = button_tag t(".save"), :class => "btn btn_main btn_lightbox", :alt => t(:save, :scope => [:discussion, :buttons]), :type => "button", :id => "save"

:javascript

  $(function(){
    $('#save').click(function(){
      $('form#module_form').serialize_and_submit({
        complement_success: function(data) {
          var url = "#{list_lessons_path(allocation_tags_ids: @allocation_tags_ids)}";
          $.get(url, function(data) {
            $('.list_lessons').html(data);
          });
        }
      });
    });

    $('#cancel').click(function(){
      removeLightBox();
    });
  });
