.block_wrapper.list_exams
  .title-warning= 'Não é possível criar, importar ou remover questões em provas publicadas'
  .block_title
    %h2
      %i.icon-suitcase
      = t(:title, scope: [:exams])
  - unless @exams.blank?
    %table.tb_list
      %thead
        %tr.lines
          %th.large= t('exams.index.description')
          %th.medium= t('exams.index.availability')
          %th.small= t('exams.index.duration')
          %th.small= t('exams.index.status')
          %th.small= t('exams.index.grade')
      %tbody
        - @exams.each do |exam|
        - info = exam.info(current_user.id, @allocation_tag_id)
        - link = open_exam_path(exam, allocation_tags_ids: @allocation_tags_ids, student_id: current_user.id)
          %tr.lines{ id: "tr_#{exam.id}" }
            %td
              %div
                - if info[:situation] == "not_answered" || info[:situation] == "not_started"
                  .title= exam.name
                - else
                  = link_to exam.name, link, :'data-tooltip' => exam.name, class: 'link_content link_open_exam', id: 'open-exam'
                - if exam.description.size > 180
                  .description_exam
                    .description_slice= exam.description.slice(0..180) << "..."
                    .description_complete= exam.description
                    .more_or_less
                      %a.description_more.link_content{href: "#"}= t("exams.index.more")
                      %a.description_less.link_content{href: "#"}= t("exams.index.less")
                - else
                  = exam.description
            %td.center
              %div= [l(exam.start_date.to_date), l(exam.end_date.to_date)].join(' - ')
              %div= [(exam.start_hour), (exam.end_hour)].join(' - ')
            %td.center= [exam.duration, t('.min')].join(' ')
            - count = info[:count].nil? || info[:count]==0 ? "" : info[:count].to_s
            %td.center
              - if info[:situation] == "not_answered" || info[:situation] == "not_started"
                %div{class: "#{info[:situation]}"}= I18n.t(info[:situation], :scope => [:exams, :situation])
              - else
                = link_to I18n.t(info[:situation], :count => count, :scope => [:exams, :situation]), link, class: "#{info[:situation]} link_open_exam"
            %td.center
              %span.activity_grade= info[:grade] || "-"
  - else
    .block_content_text.block_content_text_list.text_none= t(:none, scope: [:exams] )

:javascript
  $(function(){
    $(".link_open_exam").call_fancybox({
      minWidth: '50%',
      height: 'auto'
    });

    $(".description_more").click(function(){
      $(".description_slice, .description_more", $(this).parent().parent()).css("display", "none");
      $(".description_complete, .description_less", $(this).parent().parent()).css("display", "block");
      return false;
    });

    $(".description_less").click(function(){
      $(".description_slice, .description_more", $(this).parent().parent()).css("display", "block");
      $(".description_complete, .description_less", $(this).parent().parent()).css("display", "none");
      return false;
    });
  });
