.block_wrapper.list_exams{:"data-link-list" => exams_path(allocation_tags_ids: @allocation_tags_ids, offer_id: params[:offer_id])}
  .block_title
    %h2= t(:title, scope: [:exams])

  - unless @exams.nil? or @exams.empty?
    - all_groups = Offer.find(params[:offer_id]).try(:groups) if params.include?(:offer_id)
    %table.tb_list
      %thead
        %tr.lines
          %th.no_sort= t :description
          %th{style: "width: 30%; text-align:center;"}=t(:date, scope: [:exams] ) 
          %th.no_sort{align: "center", style: "width: 15%;"}=t(:status, scope: [:exams] )
          %th.no_sort{align: "center", style: "width: 15%;"}=t(:grade, scope: [:exams] )
      %tbody
        - @exams.each do |exam|
          %tr.lines{id: "tr_#{exam.id}"}
            %td
              %div
                .title= link_to exam.name, open_exams_path(allocation_tags_ids: @allocation_tags_ids, exam_id: exam.id), :'data-tooltip' => exam.name, class: 'link_open_exam', id: 'open-exam'

                .description
                  .minimun= raw(truncate exam.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                  .complete.invisible
                    = exam.description
                    = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_description"))
            %td{style: 'text-align:center;'}= [l(exam.schedule.start_date, format: :normal), l(exam.schedule.end_date, format: :normal)].join(" - ")
            %td=status(exam.id)
            %td=grade(exam.id)

  - else
    .block_content_text.block_content_text_list.text_none= t(:none, scope: [:exams] )

:javascript

  $(".link_open_exam").call_fancybox({
    minWidth: '90%',
    minHeight: '80%'
  });
