- unless @exam.nil?
  .exam_open
    .header
      = render 'exams/open/header', { preview: @preview }
    .content_exam
    - unless @disabled || @preview
      .finish_exam
        = button_tag t('exams.open.finish_exam'), class: 'btn btn_main' , id: 'finish_button', type: :button, style: (@exam_questions.next_page.nil? ? '' : 'display: none;')

= javascript_include_tag 'exams'

:javascript

  $(function(){

    $.fancybox.update();

    if("#{@disabled}"=="false"){
      window.onbeforeunload = function () {
        return "#{I18n.t('exams.open.refresh')}";
      }
    }

    $('.content_exam').html("#{escape_javascript( render 'exams/open/content', { preview: @preview } )}");

    if('#{@preview}' != 'true')
      init_chronometer(#{@exam_questions.current_page}, #{@exam.number_questions});

    $(".content_exam").unbind('click').on("click", ".pagination a",
      function(){
      if("#{@preview}"!="true" && "#{@disabled}" != "true")
        stop_save_chronometer(#{@exam_responses.try(:duration)});
      var url = this.href;
      $('.content_exam').load(url, function(){
        $('.content_exam').ready(function(){
          focus_on_fancybox_element('h3.question');
        });
      });
      return false;
    });

    $(".link_open_exam").call_fancybox({
      minWidth: '50%',
      minheigth: '50%',
      closeBtn : true,
      height: 'auto',
      maxHeight: '70%',
      dont_focus_back: true,
      element_selector: 'h3.question'
    });

    if("#{@preview}"!="true"){
      $('#finish_button').unbind('click').click( function(){
        response = confirm("#{I18n.t('exams.finish.confirm')}");
        if (response) {
            finish_exam(#{@exam_responses.try(:duration)});
            $.get("#{complete_exam_path}", {id: "#{@exam.id}"}, function(data){
              flash_message(data.notice, 'notice');
            });
            $.fancybox.close();
        }
      });
    }

    load_components(#{@exam_questions.current_page});
    
  });