.exam_pre
  .title
    %h1#name= @exam.name
    #description= raw @exam.description

  %table.tb_list{summary: t('.summary')}
    %tbody
      %tr.lines{:"data-tooltip" => t('exams.pre.duration__tooltip')}
        %th.act_like_td#duration= t("exams.pre.duration")
        %td{headers: 'duration'}=  (@exam.duration-@total_time/60).to_s + t("exams.pre.min")
      %tr.lines{:"data-tooltip" => t('exams.pre.questions__tooltip')}
        %th.act_like_td#questions= t("exams.pre.questions")
        %td{headers: 'questions'}= @exam.number_questions.to_s
      %tr.lines{:"data-tooltip" => t('exams.pre.attempts__tooltip')}
        %th.act_like_td#attempts= t("exams.pre.attempts")
        %td{headers: 'attempts'}=  @total_attempts.to_s + t("exams.pre.of") +  @exam.attempts.to_s
      %tr.lines{:"data-tooltip" => t('exams.pre.block__tooltip')}
        %th.act_like_td#block= t("exams.pre.block")
        - block_content = @exam.block_content ? t("exams.pre.aw_yes") : t("exams.pre.aw_no")
        %td{headers: 'block'}= block_content
      %tr.lines{:"data-tooltip" => t('exams.pre.uninterrupted__tooltip')}
        %th.act_like_td#uninterrupted= t("exams.pre.uninterrupted")
        - uninterrupted = @exam.uninterrupted ? t("exams.pre.aw_no") : t("exams.pre.aw_yes")
        %td{headers: 'uninterrupted'}= uninterrupted
  
  .correction_info
    .expand_correction
      =link_to('#', onclick: 'toggle_text(this);' , onkeydown: 'click_on_keypress(event, this); ') do 
        = t('exams.pre.correction_title')
        %i.icon-arrow-down-triangle{:'aria-hidden'=>'true'}
    .correction_text.invisible
      = raw t('exams.pre.correction')

  .shortcuts_info
    .expand_shortcut
      =link_to('#', onclick: 'toggle_text(this);' , onkeydown: 'click_on_keypress(event, this); ') do 
        = t('exams.pre.shortcuts_title')
        %i.icon-arrow-down-triangle{:'aria-hidden'=>'true'}
    %ul.shortcut_text.invisible
      - @shortcut.each do |sh|
        %li.shortcut= [sh.first, ['[',sh.last,']'].join('')].join(' ')
  
  .notice
    #save= t("exams.pre.alert_save")
    #start= t("exams.pre.alert_start")

  .start_button
    = link_to @text, open_exam_path(@exam, situation: @situation), :'data-tooltip' => @exam.name, class: 'link_content link_open_exam'

= javascript_include_tag "tooltip"

:javascript

  $(function(){
    $(".link_open_exam").call_fancybox({
      minWidth: '50%',
      minheigth: '50%',
      closeBtn : !#{@exam.uninterrupted},
      modal: !!#{@exam.uninterrupted},
      height: 'auto',
      maxHeight: '70%',
      dont_focus_back: true,
      element_selector: 'h3.question',
      complementary_after_show: function() {
        if (!#{@exam.uninterrupted})
          window.onbeforeunload = function () {}
      },
      complementary_before_close: function() {
        if(typeof(array_time) != 'undefined')
          stop_save_chronometer(duration);
        if (#{@exam.uninterrupted}) {
          var resp = window.confirm("#{I18n.t('exams.open.refresh')}");
          if (resp){
            location.hash = 'reload';
            location.reload();
          }
          else
            return resp;
        }
        else{ 
          location.hash = 'reload';
          location.reload();
        }
      }
    });

  });

  function toggle_text(link){
    var div = $(link).parent().next();
    div.toggleClass('invisible');
    if(!!div.is(':visible')){
      focus_element(div);
    }else{
      focus_element($(link).parent());
    }
  }
