.exam_pre
  .title
    #name= @exam.name
    #description= raw @exam.description

  %table.tb_list{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr.lines{:"data-tooltip" => t('exams.pre.duration__tooltip')}
        %td= t("exams.pre.duration")
        %td=  (@exam.duration-@total_time/60).to_s + t("exams.pre.min")
      %tr.lines{:"data-tooltip" => t('exams.pre.questions__tooltip')}
        %td= t("exams.pre.questions")
        %td= @exam.number_questions.to_s
      %tr.lines{:"data-tooltip" => t('exams.pre.attempts__tooltip')}
        %td= t("exams.pre.attempts")
        %td=  @total_attempts.to_s + t("exams.pre.of") +  @exam.attempts.to_s
      %tr.lines{:"data-tooltip" => t('exams.pre.block__tooltip')}
        %td= t("exams.pre.block")
        - block_content = @exam.block_content ? t("exams.pre.aw_yes") : t("exams.pre.aw_no")
        %td= block_content
      %tr.lines{:"data-tooltip" => t('exams.pre.uninterrupted__tooltip')}
        %td= t("exams.pre.uninterrupted")
        - uninterrupted = @exam.uninterrupted ? t("exams.pre.aw_no") : t("exams.pre.aw_yes")
        %td= uninterrupted
      %tr.lines
        %td.expand_correction{colspan: 2, style: 'text-align: center; cursor: pointer;'}
          =t('exams.pre.correction_title')
          %i.icon-arrow-down-triangle
          .correction_text.invisible
            = raw t('exams.pre.correction')
  .notice
    #save= t("exams.pre.alert_save")
    #start= t("exams.pre.alert_start")

  .start_button
    = link_to @text, open_exam_path(@exam, situation: @situation), :'data-tooltip' => @exam.name, class: 'link_content link_open_exam', id: 'open-exam'

= javascript_include_tag "tooltip"

:javascript

  $(function(){
    $(".link_open_exam").call_fancybox({
      minWidth: '50%',
      minheigth: '50%',
      closeBtn : !#{@exam.uninterrupted},
      height: 'auto',
      maxHeight: '70%',
      afterShow: function() {
        if (!#{@exam.uninterrupted})
          window.onbeforeunload = function () {}
      },
      beforeClose: function() {
        if(typeof(array_time) != 'undefined')
          stop_save_chronometer(duration);
        if (#{@exam.uninterrupted}) {
          var resp = window.confirm("#{I18n.t('exams.open.refresh')}");
          if (resp)
            location.reload();
          else {return resp }
        }
        else{ location.reload(); }
      }
    });

    $('.expand_correction').click(function(){
      $('.correction_text').toggleClass('invisible');
    });

  });
