%html
  %head
    %title Prova
    %meta{:charset => 'utf-8'}
    = wicked_pdf_stylesheet_link_tag  "pdf", :media => "all"
    
  %body
    .exam_open
      .header
        = wicked_pdf_image_tag "ufc.png", :style => "float: left; width:150px; height: 50px"
        = wicked_pdf_image_tag "ufcVirtual.png", :style => "float: right; width:70px; height: 50px"
        #title    
        %br
        %br
        %br 
        = @ats.info
        %br 
        = t(".exam") + @exam.name
        %br 
        = t(".student") + current_user.name
        %br
        = t(".grade") + @grade_pdf.to_s 
        %p   
        .content_exam    
          = render 'exams/open/content', { preview: @preview }

   