.show_exam
  %h1#lightBoxDialogTitle= t(".exam_details")

  .form-inputs.block_content.show
    .input
      = label_tag t(".name"), nil, class: "form_label"
      %span.label_info= @exam.name
    
    .input
      = label_tag t(".description"), nil, class: "form_label"
      %span.label_info= @exam.description

    .input
      = label_tag t(".attempts"), nil, class: "form_label"
      %span.label_info= @exam.attempts

    .input
      = label_tag t(".attempts_correction"), nil, class: "form_label"
      %span.label_info= @exam.correction_type

    .input
      = label_tag t(".start_date"), nil, class: "form_label"
      %span.label_info= l(@exam.schedule.start_date.to_date, format: :datepicker)

    .input
      = label_tag t(".end_date"), nil, class: "form_label"
      %span.label_info= l(@exam.schedule.end_date.to_date, format: :datepicker)

    - unless @exam.start_hour.nil?
      .input
        = label_tag t(".time"), nil, class: "form_label"
        %span.label_info= [@exam.start_hour, @exam.end_hour].join(t(".to"))

    = render "groups/codes"

    .schedule_dates
      .right_buttons
        = button_to_function t("agendas.close"), "jQuery.fancybox.close()", class: "btn btn_default btn_lightbox", type: "button"

= javascript_include_tag "schedule_events"
