.show_summary
  %h1#lightBoxDialogTitle= t('exams.summary.title')

  -#dif em segundos - divide ṕor 60 para ter minutos
  - minutes = (@examUserAttempt.end - @examUserAttempt.start)/60 

  .summary_info
    %span=t('exams.summary.questions_number')
    %span.label_info
      = @exam.number_questions
    
    %span=t('exams.summary.start')
    %span.label_info
      = l(@examUserAttempt.start.to_datetime, format: :clock)

    %span=t('exams.summary.end')
    %span.label_info
      = l(@examUserAttempt.end.to_datetime, format: :clock) unless @examUserAttempt.end.nil?

    %span=t('exams.summary.average_time')
    %span.label_info
      = minutes/@exam.number_questions
      = ' minutos'

    %span=t('exams.summary.total_time')
    %span.label_info
      = minutes 
      = ' minutos' 
      
    %span=t('exams.summary.grade')
    %span.label_info
      = @examUserAttempt.grade
