- locales = ['pt_BR', 'en_US']
- selected = "#{I18n.locale}"

%footer
  .menu_footer
    %ul
      %li.choice-tutorial
        = link_to t(:login_footer3), '#', class: "link-arrow"
        %ul.choice-tutorial-menu
          %li= link_to t(:login_footer1), 'http://www.virtual.ufc.br', target: '_blank', :'aria-label' => t(:login_footer1)+ t(:new_window)
          %li= link_to t(:login_footer2), 'http://www.ufc.br', target: '_blank', :'aria-label' => t(:login_footer2)+ t(:new_window)
      %li.choice-tutorial
        = link_to t(:login_footer4), '#', class: "link-arrow"
        %ul.choice-tutorial-menu
          %li= link_to t(:login_footer5), 'http://github.com/wwagner33/solar', :target => '_blank', :'aria-label' => 'Código' + t(:new_window)
          %li= link_to t(:login_footer6), 'https://github.com/wwagner33/solar/blob/master/README', :target => '_blank', :'aria-label' => 'Equipe' + t(:new_window)
          %li= link_to t(:license_terms), 'http://github.com/wwagner33/solar/blob/master/GPLv3', :target => '_blank', :'aria-label' => t(:license_terms)+ t(:new_window)
      %li= link_to t('privacy_policies.title'), privacy_policy_path, target: '_blank', :'aria-label' => t('privacy_policies.title') + t(:new_window)
      %li.app
        = link_to t(:login_app), apps_path

      %li.choice-tutorial
        = link_to t(:help), '#', class: 'link-arrow'
        %ul.choice-tutorial-menu
          %li= link_to t(:login_faq), faq_path, :'aria-label' => t(:login_faq)
          %li= link_to t(:videos), 'video_tutorials.html', target: '_blank', :'aria-label' => t(:videos)+ t(:new_window)
          %li= link_to t('tutorials.menu'), tutorials_login_path, :'aria-label' => t('tutorials.menu')
      %li.choice-language
        = link_to t(:login_language), '#', class: "link-arrow"
        %ul.choice-language-menu
          %li.language.pt_BR
            = link_to 'Português (BR)', url_for(locale: locales.first), class: ((selected == locales.first) ? 'selected' : '')
          %li.language.en_US
            = link_to 'English (USA)', url_for(locale: locales.last), class: ((selected == locales.last) ? 'selected' : '')

:javascript
  var div = '<footer><div class="menu_footer">'+ $('.menu_footer').html() +'</div></footer>';
  $('.panel').append(div);

:css
  .menu_footer .new, .menu_footer .new i{
    display: inline-block;
    color: #FFC50D;
    font-size: 9pt;
  }

  .menu_footer li.app{
    min-width: 93px;
    display: inline-block;
  }

  .menu_footer .new i{
    margin-left: -5px;
  }