<!--Formulário de login-->
<div id="login_right_col">      
  <%= form_for @user_session, :url => {:action => "create"} do |f| %>
    <div id="login_form_tab_blank">&nbsp;
    </div>
    <div id="login_form_tab_entrar">
      <%=  t(:signin)%>
    </div>
    <div id="login_form_tab_cadastrar">
      <%= link_to(t(:signup), users_new_path) %>
    </div>
    <div id="login_form">
      <label for="login_form_name"><%= t(:user) %></label>
      <%= f.text_field :login, :id=>"login_form_name", :class=>"login_form_text_field", :tabindex=>"1"%>
      <br/>
      <label for="login_form_password"><%= t(:password) %></label>
      <%= f.password_field :password, :id=>"login_form_password", :class=>"login_form_text_field", :tabindex=>"2"%>
      <br/>
      <div id="login_form_secundario" style="line-height: 30px;">
        <div id="direita" style="width:100px; float: right; margin-top:28px;line-height: 11px; white-space:nowrap">
          <%= f.submit t(:signin), :class=>"solar_button", :tabindex=>"3", :style=>"padding: 4px 10px; margin-bottom:10px;" %>
        </div>
        <div id="esquerda" style="margin-right: 120px;">
          <%= f.check_box :remember_me, :id=>"login_form_lembrar_senha", :style=>"border-style:none" %>
          <label for="login_form_lembrar_senha" class="menor"><%= t(:remember_my_password) %></label>
          <br/>
          &nbsp;
          <%= link_to t(:forgot_my_password),{:controller=>"users", :action=>"pwd_recovery"}, :class=>"black"%>
        </div>
      </div>
    </div>
  <% end %>
  <%= flash[:notice] %>
  <div>
    <table>
      <tr>
        <td style="width: 20px"> <%= image_tag "locales.png" %> </td>
        <td style="width: 50px; font-size: 12px"> <%= link_to "English",{:controller => 'user_sessions', :action => 'new', :locale => 'en'}, :style=>"color: #000"%> </td>
        <td style="font-size: 12px"> <%= link_to "Português(BR)", {:controller => 'user_sessions', :action => 'new', :locale => 'pt-BR'}, :style=>"color: #000"%> </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#login_form_name').focus();
  });
</script>
