<!--Formulário de login-->
<div id="login_right_col">      
  <%= form_for current_user, :url => {:action => "create"} do |f| %>
    <div id="login_form_header">
      <span id="login_form_tab_login">
        <%=  t(:signin)%>
      </span>
      <span id="login_form_tab_register">
        <%= link_to(t(:signup), users_new_path) %>
      </span>
    </div>
    <div id="login_form">
      <label for="login_form_name"><%= t(:user) %></label>
      <%= f.text_field :login, :id=>"login_form_name", :class=>"login_form_text_field", :tabindex=>"1"%>
      <label for="login_form_password"><%= t(:password) %></label>
      <%= f.password_field :password, :id=>"login_form_password", :class=>"login_form_text_field", :tabindex=>"2"%>
      <div id="login_form_remember">
        <%= link_to t(:forgot_my_password),{:controller=>"users", :action=>"pwd_recovery"}, :class=>"black"%>
      </div>
      <div id="login_form_submit">
        <%= f.submit t(:signin), :class=>"solar_button", :tabindex=>"3" %>
      </div>
    </div>
  <% end %>
  <%= flash[:notice] %>
  <div id="login_locale">
    <%= image_tag "locales.png" %>
    <%= link_to "English",{:controller => 'user_sessions', :action => 'new', :locale => 'en'} %>
    <%= link_to "Português(BR)", {:controller => 'user_sessions', :action => 'new', :locale => 'pt-BR'} %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#login_form_name').focus();
  });
</script>
