- locales = ['pt-BR', 'en-US']
- selected = (params[:locale].present? and locales.include?(params[:locale])) ? params[:locale] : locales.first

/ barra do governo
#bar-brazil
  .bar
    %ul
      .li= link_to image_tag("ai.png", :class => "ai", :title => "Acesso à informação"), "http://www.acessoainformacao.gov.br"
      .li= link_to image_tag("brazil.png", :class => "brazil-gov", :title => "Portal de Estado do Brasil"), "http://www.brasil.gov.br"

#language
  .img-language= image_tag("world.png")
  %ul#menu-language
    %li#choice-language
      %p= selected
      %ul
        %li.language.pt_BR
          #pt= link_to "Português (BR)", url_for(locale: locales.first), class: ((selected == locales.first) ? "selected" : "")
        %li.language.en_US
          #en= link_to "English (USA)", url_for(locale: locales.last), class: ((selected == locales.last) ? "selected" : "")

%header
  %h1= link_to image_tag("logo.png", :class => "logo_one"), "/"
  %h1= link_to image_tag("logo_small.png", :class => "logo_two"), "/"
