<head>
  <script type="text/javascript">
    clear_lesson();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25482431-1']);
    _gaq.push(['_setDomainName', '.virtual.ufc.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<div>

  <%= render 'header' %>  
  <div id="login_content">
    <!--Parte cinza-->
    <div id="login_left_col">
      <%= render 'menu' %>

      <p>
        <%= t(:login_description1) %>
      </p>
      <p>
        <%= t(:login_description2) %>
      </p>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#login_form_name").focus();
      });

    </script>

    <%= render 'form_login' %>
  </div>
  <div style="clear:both"></div>

  <%= render 'footer' %>
</div>
