<head>
  <%= stylesheet_link_tag "login.css" %>
</head>

<div style="position:absolute;height:100%;width:100%; display: table;">

	<%= render 'header' %>  

    <!--Parte cinza-->
    <div id="login_left_col">
      <%= render 'menu' %>

      <p>
      <%= t(:login_description1) %>
    </p>
    <p>
      <%= t(:login_description2) %>
    </p>

    </div>

  <script>
    document.getElementById("login_form_name").focus();
  </script>

    <%= render 'form_login' %>

    <%= render 'footer' %>
</div>
