%h1#lightBoxDialogTitle= t(:title, dc_lesson_name: @digital_class_lesson["name"], scope: [:digital_classes, :list_access])

.dc_lesson_access
  - unless @logs.blank? || @logs.nil?
    %table.tb_list{t('.summary')}
      %thead
        %tr.lines
          %th{ colspan: 2 }= t('.user')
          %th= t('.date')
          %th= t('.time')
      %tbody
        - @logs.each do |log|
          %tr.lines
            %td.profile= '(' + log.profile_name + ')'
            %td.user= log.user_name
            %td= l(log.created_at.to_datetime, format: :normal)
            %td= l(log.created_at.to_datetime, format: :clock_time)

  - else
    .block_content_text_list.text_none= t('.no_log')
