.block_title
  %h2= t(".title")


.block_content
  - unless @digital_class.blank? or @digital_class.nil?
    %table.tb_list
      %thead
        %tr.lines
          %th{ align: 'left' }=t(:item, scope: [:bibliographies, :list])
          %th{ align: 'center', style: 'width: 15%;' }=t(:type, scope: [:bibliographies, :list])
      %tbody
        - @bibliographies.each do |bibliography|
          %tr.lines{ id: "tr_#{bibliography.id}" }
            %td
              - resume = bibliography.resume
              - if bibliography.is_file?
                = link_to image_tag(icon_attachment(bibliography.attachment_file_name)), download_bibliography_path(bibliography), class: 'file_icon'
                = link_to resume, download_bibliography_path(bibliography), class: 'file_icon'
              - else
                =raw resume
            %td= bibliography.type


  - else
    .block_content_text.block_content_text_list.text_none= t(:no_data, scope: [:digital_classes])