.block_wrapper.list_digital_classes{ :"data-link-list" => list_digital_classes_path(allocation_tags_ids: @allocation_tags_ids, offer_id: params[:offer_id]) }
  .title-warning
    = raw t('.warning')
  .block_title
    %h2= t(:digital_class, scope: [:editions, :items])
  .block_content_toolbar
    .block_toolbar_left.btn-group
      %a.btn.btn_main{href: "#", :"data-dropdown" => "#dropdown_dc"}
        = content_tag(:i, nil, class: 'icon-plus')
        %i.icon-arrow-down-triangle
      .dropdown.dropdown-tip#dropdown_dc
        %ul.dropdown-menu
          %li= link_to t('.new_data'), new_digital_class_path(allocation_tags_ids: @allocation_tags_ids), class: "link_new_lesson_dc", id: "new_digital_class"
          %li= link_to t('.lesson_data'), lesson_digital_classes_path(allocation_tags_ids:  @allocation_tags_ids), id: 'new_lesson_dc_lesson'
  
    .block_toolbar_right
      .btn-group
        = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn btn_edit edit_digital_class', :"data-link-to-edit" => edit_digital_class_path(':id', allocation_tags_ids: @allocation_tags_ids), "data-edit-title" => t(".edit"), disabled: true, :"data-tooltip" => t(".edit")
        = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del delete_digital_class', :"data-link-delete" => digital_class_path(':id', allocation_tags_ids: @allocation_tags_ids), :"data-link-to-list" => list_digital_classes_path(allocation_tags_ids: @allocation_tags_ids), disabled: true, :"data-tooltip" => t(".delete")
  - unless  @digital_class_lessons.blank?
    - all_groups = Offer.find(params[:offer_id]).try(:groups) if params.include?(:offer_id)
    %table.tb_list
      %thead
        %tr.lines
          %th.center.no_sort
            %input#all_digital_classes{type: "checkbox", :"data-children-names" => "ckb_digital_class"}
          %th{style: 'text-align:left;'}= t(".name")

      %tbody
        - @digital_class_lessons.each do |dcl|
          %tr.lines{id: "tr_#{dcl[:lesson]['id']}"}
            %td{style: 'text-align:center;'}
              = check_box_tag("ckb_digital_class", dcl[:lesson]['id'], false, {class: "ckb_digital_class"})
            %td
              %div
                .title
                  - if dcl[:lesson]['redirect_url'].blank?
                    = dcl[:lesson]['name']
                  - else
                    = link_to dcl[:lesson]['name'], access_digital_class_path(dcl[:lesson]['id'], url: dcl[:lesson]['redirect_url'], allocation_tags_ids: @allocation_tags_ids), :target => "_blank"
                  
                .description
                  .minimun
                    = dcl[:lesson]['description'].to_s.truncate(200)
                    - if dcl[:lesson]['description'].to_s.size>200
                      = content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_enunciation"))
                  .complete.invisible
                    = dcl[:lesson]['description']
                    = content_tag(:i, nil, class: "compress icon-arrow-up-triangle", :"data-tooltip" => t(".compress_enunciation"))        
                  .group_label.invisible= render "groups/groups_tags", groups: dcl[:groups], tool: dcl[:lesson]['id'].to_i, all_groups: all_groups, paths: {add: add_group_to_digital_classes_path(id: "param_id", tool_id: dcl[:lesson]['id']), remove: remove_group_from_digital_classes_path(id: "param_id", tool_id:  dcl[:lesson]['id']), tags: group_tags_from_digital_classes_path(tool_id:  dcl[:lesson]['id'])}    


  - else
    .block_content_text_list.text_none= t(".none")

= javascript_include_tag "tablesorter", "digital_classes", "tooltip", "groups_tags"

:javascript

  var div_list = $(".list_digital_classes");
  var offer_id = "#{escape_once(params[:offer_id])}";