<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Solar</title>
  <%= stylesheet_link_tag "solar.css" %>
  <%= javascript_include_tag "jquery-1.4.4.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
  <%= javascript_include_tag "chat.js" %>
  <%= javascript_include_tag "user_form.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
