<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Solar</title>
  <%= stylesheet_link_tag "solar.css" %>
  <%= stylesheet_link_tag "security.css" %>
  <%= javascript_include_tag "jquery-1.4.4.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
  <%= javascript_include_tag "chat.js" %>
  <%= javascript_include_tag "user_form.js" %>
  <%= javascript_include_tag "mysolar.js" %>
  <%= javascript_include_tag "jquery.maskedinput-1.2.2"%>
  <%= csrf_meta_tag %>



<script>
jQuery(function($){
         $("#cpf").mask("999.999.999-99");
         $("#telefone").mask("(99)9999-9999");
         $("#celular").mask("(99)9999-9999");
         $("#cep").mask("99999-999");
      });
      // layout dos botoes    
	$(".solar_button").after("<div class='solar_button_arrow'></div>");	
    //layout dos botoes cinzas
	$(".solar_button_gray").after("<div class='solar_button_arrow_gray'></div>");
	//layout dos botoes azuis
	$(".solar_button_blue").after("<div class='solar_button_arrow_blue'></div>");

      //Configurando Menu
      $(function() {
        $( "#mysolar_menu_accordion" ).accordion({
          autoHeight: false,
          navigation: true,
          collapsible: true
        });
      });
    </script>


</head>
<body>
    <div id="mysolar_content" style="white-space: nowrap;">
      <%= yield %>
    </div>
    <!-- Barra Lateral -------------------------->
    <div id="mysolar_sidebar">
<%#= render :partial => "sidebar" %>

      <div id="mysolar_boxid">
        <div id="mysolar_id">
          <%= image_tag @user.photo.url(:small), :alt => "Imagem do usu치rio #{@user.nick}" %><br/>
          <%= @user.nick%>
        </div>
        <div id="mysolar_options">
          <%= link_to "Meus Dados", :controller => "users", :action => "mydata", :id=>current_user.id %><br/>
			Portfolio <br />
			Blog <br />
			Personalizar <br />

        </div>
      </div>
      <div id="mysolar_search">
        <input class="search_keyword" type="text"/>
        <br/>
        <span id="mysolar_search_label">
   	Busca
        </span>
        <br/>
        <hr width="149" style="border:none;height:1px;background-color: #cfdde1"/>
      </div>


      <!--------- Menu retr치til --------->
      <div id="mysolar_menu_accordion" style="z-index:10">
        <h3 class="mysolar_menu_title"><a href="#">Menu 1</a></h3>
        <div class="mysolar_menu_list">
		item 1<br/>
		item 2
        </div>
        <h3 class="mysolar_menu_title"><a href="#">Menu 2</a></h3>
        <div class="mysolar_menu_list">
		item 3<br/>
		item 4<br/>
		item 5
        </div>
        <h3 class="mysolar_menu_title"><a href="#">Menu 3</a></h3>
        <div class="mysolar_menu_list">
		item 6<br/>
		item 7<br/>
		item 8
        </div>
        <h3 class="mysolar_menu_title"><a href="#">Menu 4</a></h3>
        <div class="mysolar_menu_list">
		item 9<br/>
		item 10
        </div>
      </div>

    </div>


    <!-- Barra Topo -------------------------->
    <div id="mysolar_topbar">
<%#= render :partial => "topbar" %>
      <div id="mysolar_logo">
        <%= image_tag 'superior_logo.png', :alt => "Logo do Solar" %><br/>
      </div>
      <div id="mysolar_tab" >
<%#*<a href="mysolar">Home</a>%>
        <%= link_to "Home", :controller => "users", :action => "mysolar" %>
      </div>

      <span id="mysolar_top_options" >
		| &nbsp;<%= image_tag 'superior_suporte.png', :alt => "Ajuda" %>
		Suporte&nbsp;&nbsp;&nbsp;
		| &nbsp;<%= image_tag 'superior_sair.png', :alt => "Sair" %>&nbsp;
        <%= link_to_if(current_user, "Sair", logout_path, :class => "mysolar_top_link") %>
      </span>
    </div>


    <!--  Chat ------------------------>
    <div id="mysolar_chat_area">
      <div id="mysolar_chat_contatos">
        <div id="mysolar_chat_barra" onclick="toggle_chat('mysolar_chat_list')">
          <%= image_tag("chat_online.png")%>Chat
          <span style="float:right;">
            <span id="mysolar_chat_min_button">-</span>
            <span id="mysolar_chat_max_button" style="display:none;">+</span>
          </span>
        </div>
        <div id="mysolar_chat_list">
          <div id="mysolar_chat_list_internal">
            <%= image_tag("chat_online.png")%>Pata<br/>
            <%= image_tag("chat_online.png")%>Peta<br/>
            <%= image_tag("chat_online.png")%>Pita<br/>
            <%= image_tag("chat_busy.png")%>Pota<br/>
            <%= image_tag("chat_busy.png")%>Pato<br/>
            <%= image_tag("chat_busy.png")%>Pot칩<br/>
            <%= image_tag("chat_offline.png")%>Cot칩<br/>
            <%= image_tag("chat_offline.png")%>William<br/>
          </div>
          <hr class="mysolar_chat_hr"/>
          <div style="text-align: right;padding-right: 3px;">@@@</div>
        </div>
      </div>
    </div>

  </body>
</html>
