
!!!
%html{xmlns: "https://www.w3.org/1999/xhtml", lang: I18n.locale.to_s.gsub('_', '-')}
  - if is_curriculum_unit_selected?
    - group_selection = render_group_selection
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= show_breadcrumb_title

    = javascript_include_tag "application"
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    /[if lte IE 9]
      <haml_loud> stylesheet_link_tag "fonts/fonts-ie" </haml_loud>
    /[if lte IE 7]
      <haml_loud> javascript_include_tag 'lte-ie7' </haml_loud>
      <haml_loud> stylesheet_link_tag "misc/ie7" </haml_loud>
    = stylesheet_link_tag "application", "fancyBox"
    = stylesheet_link_tag "themes/theme_" + "#{user_session[:theme]}", id: "themes"
    / Datapicker with time
    = stylesheet_link_tag 'jquery-ui-timepicker-addon'

    = csrf_meta_tag

  %body
    - active_tab = user_session[:tabs][:opened][user_session[:tabs][:active]]
    - photo_user = current_user.user_photo(:small)
    - photo_user.freeze

    #mysolar_topbar_wide_background
    #body_wrapper
      / topbar
      %header#mysolar_topbar
        #mysolar_identity{role: 'banner'}
          #mysolar_logo
            - if (ENV["SOLAR_CURSOS"] == "false")
              = image_tag 'solar_logo_small.png', alt: t(:mysolar_alt_img_solar), id: "solar_logo"
            - else
              = image_tag 'solar_logo_small_cursos.png', alt: t(:mysolar_alt_img_solar), id: "solar_logo"
          %ul#mysolar_top_options
            %li#mysolar_top_submenu_label.mysolar_top_submenu_label_regular.nav_menu
              = link_to '#void', {onclick: "mysolarTopSubmenuToggle();return false;", class: 'mysolar_top_link nav_item', id: 'mysolar_top_user_nick', :'aria-label' => "#{t(:mysolar_alt_img_user)} #{current_user.nick}"} do
                = image_tag photo_user, alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "image_user", :'aria-hidden' => 'true'
                %span#student-name.dont-show-in-mobile= current_user.nick
            %li#server_clock_wrapper.nav_menu.dont-show-in-mobile
              %span#server_clock.nav_item.dont-show-in-mobile{name: "server_clock"}
            %li#accessibility_top_menu.mysolar_top_submenu_label_regular.nav_menu
              %a#accessibility_top.mysolar_top_link.nav_item{ href: "", onclick: "mysolarAccessibilitySubmenuToggle();return false;", :'aria-label' =>  t(:accessibility_menu)}
                = image_tag 'accessibility-icon2.png', id: "image_accessibility", class: "show-only-in-mobile", alt: t(:accessibility), :'aria-hidden' => 'true'
                %span#accessibility-link.dont-show-in-mobile= t(:accessibility)
              %ul#mysolar_accessibility_submenu
                %li.sub_nav_menu= link_to t(:main_content), "#main_content_accesskey", accesskey: "1", class: "sub_nav_item"
                %li#link_to_menu_accesskey.sub_nav_menu= link_to t(:menu_aside), "#menu_accesskey", accesskey: "2", class: "sub_nav_item"
                - if active_tab[:url][:context] == 1 || params[:bread] == "menu_messages"
                  %li#link_to_search_box.sub_nav_menu= link_to t(:search_box), "#search_box_accesskey", accesskey: "3", class: "sub_nav_item"
                - if active_tab[:url][:context] == 2 && params[:bread] == "menu_score_student"
                  %li#link_to_shortcut.sub_nav_menu= link_to t("shortcut.shortcut_link"), "#", class: "sub_nav_item"
                %li.sub_nav_menu= link_to t(:high_contrast_link), "#", accesskey: 6, :'data-url' => update_theme_personal_configurations_path, :'data-theme' => "#{user_session[:theme]}", id: "mysolar_high_contrast_option", class: "sub_nav_item", remote: true
                %li.sub_nav_menu= link_to t('shortcut.shortcut_link'), general_shortcuts_path , accesskey: 8, class: "fancybox.ajax sub_nav_item", :'aria-label' => t('shortcut.shortcut_link') + t("fancybox.open"), :'data-shortcut' => t('shortcut.shortcut_link_code'), :'data-shortcut-shift' => true, id: 'shortcut_link'
                - if I18n.locale.to_s == 'pt_BR'
                  %li.sub_nav_menu=link_to t(:libras), 'https://www.vlibras.gov.br/', target: '_blank', :'aria-label'=> t(:libras) + t(:new_window), class: "sub_nav_item"
            %li#mysolar_top_help.mysolar_top_submenu_label_regular.nav_menu
              %a#help_top.mysolar_top_link.nav_item{href: "", onclick: "mysolarTopSubmenuHelpToggle();return false;", :'aria-label' => t(:help)}
                = image_tag 'help-icon2.png', id: "image_help", class: "show-only-in-mobile", alt: t(:help), :'aria-hidden' => 'true'
                %span#help-link.dont-show-in-mobile= t(:help)
              %ul#mysolar_submenu_help
                %li.sub_nav_menu.dont-show-in-mobile= link_to t(:context), "#", id: 'help_context', class: "sub_nav_item"
                %li.sub_nav_menu= link_to t('tutorials.menu'), tutorials_path, id: 'my_tutorials', class: "sub_nav_item", :'aria-label' => t('tutorials.menu')
                %li.sub_nav_menu= link_to t(:login_faq), faq_path, class: "sub_nav_item", :'aria-label' => t(:login_faq)
                %li.sub_nav_menu= link_to t(:videos), "../../video_tutorials.html", target: "_blank", class: "sub_nav_item", :'aria-label' => t(:videos)+ t(:new_window)
                %li.sub_nav_menu= link_to t(:contact), support_new_messages_path, class: "sub_nav_item", :'aria-label' => t(:contact)
                %li.sub_nav_menu= link_to t(:mysolar_suggestions), 'https://docs.google.com/a/virtual.ufc.br/spreadsheet/viewform?formkey=dFpzVU4xa1FMT3ZldjhDS014NFMtaXc6MQ', target: '_blank', :'aria-label' => t(:mysolar_suggestions) + t(:new_window)
            %li#mysolar_top_logout.nav_menu
              = link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, id: "logout", class: "mysolar_top_link logout nav_item dont-show-in-mobile")
              %a{href: "/logout", class: "mysolar_top_link logout nav_item", :'aria-label' => t(:mysolar_alt_img_exit)}
                = image_tag 'exit-icon.png', id: "image_exit", height: "30", width: "30", class: "show-only-in-mobile", alt: t(:mysolar_alt_img_exit), :'aria-hidden' => 'true'
        / Submenu
        #mysolar_top_submenu
          %div
            = image_tag photo_user, alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "mysolar_top_img_user"
            #mysolar_top_submenu_username= current_user.name
            #mysolar_top_submenu_useremail= current_user.email
          %ul
            /  icon-cycle
            - if current_user.can_synchronize?
              %li.sub_nav_menu= link_to t("mysolar.synchronize"), "#", :'data-url' => synchronize_ma_users_path, id: 'synchronize', class: "sub_nav_item"
            %li.sub_nav_menu= link_to t(:mysolar_edit_profile), edit_user_registration_path, id: 'my_data', class: "sub_nav_item"
            %li.sub_nav_menu= link_to t(:mysolar_change_picture), edit_photo_users_path, class: "fancybox.ajax sub_nav_item", id: "change_picture", :'aria-label' => t(:mysolar_change_picture) + t('fancybox.open')
            %li.sub_nav_menu= link_to t("mysolar.profiles"), profiles_users_path, class: "sub_nav_item"
            %li.sub_nav_menu= link_to t("mysolar.configure"), configure_users_path, class: "sub_nav_item"
            %li.sub_nav_menu= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, class: "sub_nav_item")

        / tabs
        .open-menu
          .bar1
          .bar2
          .bar3

        #mysolar_tabs{role: 'menubar'}
          %ul#mysolar_tabs_wrapper.dont-show-in-mobile= raw render_tabs
          %ul#mysolar_tabs_wrapper_with_dropdown.show-only-in-mobile
            - unless user_session[:tabs][:opened].nil?
              - if user_session[:tabs][:opened]["Home"] && user_session[:tabs][:opened]["Home"][:url][:context] == Context_General
                %li.mysolar_unit_tab.general_context{:'data-tab-context'=>"#{Context_General}", :'data-tab-id'=>"home", class: user_session[:tabs][:active] == "Home" ? "mysolar_unit_active_tab" : ""}
                  = link_to user_session[:tabs][:opened]["Home"][:breadcrumb].first[:name], activate_tab_path(id: "Home"), :'aria-label' => t('tabs.access', name: user_session[:tabs][:opened]["Home"][:breadcrumb].first[:name])
              - if user_session[:tabs][:opened].length > 1
                - if user_session[:tabs][:opened].length == 2
                  - link_id = user_session[:tabs][:opened].keys[1]
                  - link_name = user_session[:tabs][:opened][link_id][:breadcrumb].first[:tab]
                  %li.mysolar_unit_tab{:'data-tab-context'=>"#{Context_Curriculum_Unit}", :'data-tab-id'=>"#{link_id}", class: user_session[:tabs][:active] != "Home" ? "mysolar_unit_active_tab" : ""}
                    = link_to(link_name.truncate(18), activate_tab_path(id: link_id), :'aria-label'=>t('tabs.access', name: link_name))
                    = link_to('',close_tab_path(id: link_id), class: 'tabs_close', style: "top: 4px;", id: "#{link_id}", :'aria-label' => t('tabs.close', name: link_name), data: { confirm: t('tabs.close_confirm', name: link_name) })
                - else
                  - menu_dropdown_open_id = user_session[:tabs][:active] == "Home" ? user_session[:tabs][:opened].keys[1] : user_session[:tabs][:active]
                  - menu_dropdown_open_name = user_session[:tabs][:opened][menu_dropdown_open_id][:breadcrumb].first[:tab]
                  %li.mysolar_unit_tab{:'data-tab-context'=>"#{Context_Curriculum_Unit}", :'data-tab-id'=>"#{menu_dropdown_open_id}", class: user_session[:tabs][:active] != "Home" ? "mysolar_unit_active_tab" : ""}
                    = link_to(activate_tab_path(id: menu_dropdown_open_id), :'aria-label'=>t('tabs.access', name: menu_dropdown_open_name), :"data-dropdown"=>"#dropdown_tabs") do
                      = menu_dropdown_open_name.truncate(18)
                      = content_tag(:i, nil, class: "icon-arrow-down-triangle")
                    .dropdown.dropdown-tip.dropdown-relative{id: "dropdown_tabs", style: "display: none;"}
                      %ul.dropdown-menu
                        - user_session[:tabs][:opened].each do |id, name|
                          - next if id == "Home"
                          - name_tab = name[:breadcrumb].first[:tab]
                          - active_tab_id = user_session[:tabs][:opened][id][:breadcrumb].first[:url][:id]
                          %li.mysolar_unit_tab{:'data-tab-context'=>"#{Context_Curriculum_Unit}", :'data-tab-id'=>"#{active_tab_id}"}
                            = link_to(name_tab.truncate(18), activate_tab_path(id: id), :'aria-label'=>t('tabs.access', name: name_tab), style: "display: inline-block; padding: 0 10px;")
                            = link_to('',close_tab_path(id: id), class: 'tabs_close', id: "#{active_tab_id}", :'aria-label' => t('tabs.close', name: name_tab), style: "display: inline-block; padding: 0; left: -2px;", data: { confirm: t('tabs.close_confirm', name: name_tab) })
          %ul#mysolar_extras.dont-show-in-mobile
            %li#mysolar_open_shortcut
              %a.btn.btn_main#shortcut_accesskey{ href: '#', :"data-dropdown" => "#dropdown_eq_1_2", :'aria-label' => t('scores.info.shortcut'), accesskey: 9, "data-tooltip" => t('scores.info.shortcut')}
                = t('scores.info.shortcut')
                %i.icon-arrow-down-triangle
              .dropdown.dropdown-tip{id: "dropdown_eq_1_2"}
                %ul.shortcut_floating_box{ class: 'dropdown-menu' }
                  .shortcut_title= t('scores.info.shortcut')
                  = link_to content_tag(:i, nil, class: "icon-cancel-circle"), "#", class: 'close_dropdown', :'data-tooltip' => t("shortcut.close"), :'aria-label' => t("shortcut.close")

            %li
              %button.btn{"data-tooltip" => t(:googleformtitle), name: t(:googleformtitle), type: "button", :'aria-label' => t(:googleformtitle)+ t(:new_window)}
                = link_to content_tag(:i, nil, class: "icon-thumbs-up"), "https://forms.gle/pRmAo9bdja4Rcmq98", class: "sub_nav_item", target: "_blank"

            %li
              %button.btn{"data-tooltip" => t(:support_button), name: t(:support_button), type: "button", :'aria-label' => t(:support_button)}
                = link_to content_tag(:i, nil, class: "icon-help"), support_new_messages_path, class: "sub_nav_item"

            %li
              %noscript= content_tag(:i, nil, class: 'icon-warning noscript', :'aria-label' => t(:no_javascript), title: t(:no_javascript))

      / sidebar
      .col-xs-12.col-sm-2
        %nav#mysolar_sidebar{role: 'navigation'}
          #mysolar_menu_accordion.responsive-menu-sidebar
            .mysolar_menu
              .close-menu.change
                .bar1
                .bar2
                .bar3
              %p.menu_accessible
                %a#menu_accesskey{href: "#menu_accesskey", :'aria-label' => t(:start_menu)}= t(:menu_first_item)
              - if active_tab[:url][:context] == Context_Curriculum_Unit
                .mysolar_menu_group
                  %ul
                    %li.mysolar_menu_title_single{'data-menu-bread' => 'menu_home', 'data-contexts' => [Context_Curriculum_Unit]}
                      = link_to t(:menu_home), active_tab[:breadcrumb].first[:url], class: 'mysolar_menu_title', :'data-shortcut-shift' => true, :'data-shortcut' => t(:menu_home, scope: "shortcut.vertical_menu.code"), :'data-shortcut-complement' => (I18n.translate!(:menu_home, scope: "shortcut.vertical_menu.complement", raise: true) rescue '')

              = raw menu_list

              %p.menu_accessible
                %a#menu_end{href: "#menu_end", :'aria-label' => t(:end_menu)}= t(:menu_last_item)

      / content
      .col-xs-12.col-sm-10
        %section#mysolar_content{role: 'main'}
          / page titles
          .block_wrapper
            .flash_message_wrapper
              - flash.each do |name, msg|
                #flash_message{ class: name }
                  = content_tag(:span, msg, id: "flash_message_span")
                  - if @attribute.blank?
                    = link_to content_tag(:i, nil, class: 'icon-cross'), "#void", onclick: "erase_flash_messages(true)", onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('flash_message.close')
                  - else
                    = link_to content_tag(:i, nil, class: 'icon-cross'), "#void", onclick: "erase_flash_messages(true, "+@attribute.to_s+")", onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('flash_message.close')
            - name = active_tab[:breadcrumb].last[:name]#.gsub(".", "-") unless active_tab[:breadcrumb].last[:name].nil?
            #breadcrumb= raw show_breadcrumb
            - if is_curriculum_unit_selected?
              #page_title
                - if current_page?(controller: 'lessons', action: 'index')
                  %h1#main_content_accesskey{ tabindex: "0", :'aria-label' => t(name, default: name) + t('lessons.index.lesson_number_modules', modules: @lessons_modules.size) }= t(name, default: name)
                - else
                  %h1#main_content_accesskey{ tabindex: "0" }=t(name, default: name)
                .block_content_text.position_correction.no-float-mobile
                  %span.views#classes{role: 'menubar'}= raw(group_selection)
            - elsif not(in_mysolar?)
              #page_title
                %h1#main_content_accesskey{ tabindex: "0" }=t(name, default: name)
          = yield

          #lesson_external_div.invisible

          #sav_url.invisible= link_to "", "#", {class: 'link_content fancybox.iframe', target: '_blank' }

          #mandatory_notification.invisible= link_to "", show_mandatory_notifications_path(':notification_id'), {class: 'link_content fancybox.iframe', target: '_blank' }

          .enabled{:vw => ""}
            .active{"vw-access-button" => ""}
            %div{"vw-plugin-wrapper" => ""}
              .vw-plugin-top-wrapper
          %script{:src => "https://vlibras.gov.br/app/vlibras-plugin.js"}

        .enabled{:vw => ""}
          .active{"vw-access-button" => ""}
          %div{"vw-plugin-wrapper" => ""}
            .vw-plugin-top-wrapper
          %script{:src => "https://vlibras.gov.br/app/vlibras-plugin.js"}

      %footer
        #curriculum_unit_selected.invisible= curriculum_unit_selected
        #footer_push{style: "height:35px"}
        - locales  =  %w(pt_BR en_US)
        - selected = I18n.locale.to_s
        #footer
          %ul
            %li.choice-tutorial
              = link_to t(:login_footer3), '#', class: "link-arrow"
              %ul.choice-tutorial-menu
                %li= link_to t(:login_footer1), 'https://www.virtual.ufc.br', target: '_blank', :'aria-label' => t(:login_footer1)+ t(:new_window)
                %li= link_to t(:login_footer2), 'https://www.ufc.br', target: '_blank', :'aria-label' => t(:login_footer2)+ t(:new_window)
            %li.choice-tutorial
              = link_to t(:login_footer4), '#', class: "link-arrow"
              %ul.choice-tutorial-menu
                /%li= link_to t(:login_footer5), 'https://github.com/ufcvirtual/solar', :target => '_blank', :'aria-label' => 'Código' + t(:new_window)
                /%li= link_to t(:login_footer6), 'https://github.com/ufcvirtual/solar/blob/master/README.md', :target => '_blank', :'aria-label' => 'Equipe' + t(:new_window)
                %li= link_to t(:license_terms), 'https://github.com/ufcvirtual/solar/blob/master/LICENSE', :target => '_blank', :'aria-label' => t(:license_terms)+ t(:new_window)
            %li= link_to t('privacy_policies.title'), privacy_policy_path, target: '_blank', :'aria-label' => t('privacy_policies.title') + t(:new_window)
            - if (ENV["SOLAR_CURSOS"] == "false")
              %li= link_to t(:login_app), apps_path
            %li= link_to t(:login_faq), faq_path, :'aria-label' => t(:login_faq)
            %li.choice-language
              = link_to t(:login_language), '#', class: "link-arrow"
              %ul.choice-language-menu
                %li{class: "language pt_BR #{(selected == locales.first) ? 'selected' : ''}"}= link_to 'Português (BR)', url_for(locale: locales.first)
                %li{class: "language en_US #{(selected == locales.last) ? 'selected' : ''}"}= link_to 'English (USA)', url_for(locale: locales.last)

    #loading
      %h2=t(:page_loading)
      %div= image_tag('loading.gif')

  = javascript_include_tag 'jspanel', 'extensions/layout/jspanel.layout'

  :javascript
    /**
     * Google Analytics
     */
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25482431-1']);
    _gaq.push(['_setDomainName', '.virtual.ufc.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // system and clock

    global_config = {
      'locale': {
        'I18n': "#{I18n.locale}",
        'dateFormat': "#{I18n.t :search_format_date}"
      }
    };


    function find_and_open_sav(url){
      if( "#{SavConfig::CONFIG.nil?}" == "false" ){
        if(!!"#{savs_path}".length){
          $.get("#{savs_path}", { async: true }, function(data){
            if(!!data.url.length && (url == "undefined" || url != data.url)){
              $("#sav_url a").call_fancybox({
                maxHeight: '90%',
                height: '90%',
                width: '90%',
                open: true,
                href: data.url,
                automatically: true,
                afterClose: function(){
                  find_and_open_sav(data.url);
                }
              });

              setTimeout(function() {
                //se não abriu, cancelar fancybox
                if($("[id^='fancybox-frame']:first").height() < ($(window).height() - 300))
                  $.fancybox.close();
              }, 8000);
            }
          })
          //.error(function(data){
            // console.log(data);
          //});
        }
      }
    }

    function find_and_open_mandatory_notifications(){
      $.get("#{mandatory_notifications_path}", function(data){
        if(data.count > 0){
          var div = $("#mandatory_notification a");
          $.get(div.prop('href'), function(data2){
            div.call_fancybox({
              open: true,
              content: data2
            });
          });
        }
      });

    }

    jQuery(function($) {

      generate_shortcut_list();

      /**
       * System clock
       */
      new showLocalTime("server_clock", "#{I18n.l(Time.now, format: :clock_time)}".split(":"));

      /**
      * Verificando se existe aula carregada
      */
      var lessonsButton = $('#mysolar_open_lesson button');
      if ( $("#lesson_content", parent.document.body).length == 0 ) {
        $(lessonsButton).addClass("disabled");
      } else {
        $(lessonsButton).removeClass("disabled");
      }

      /**
       * Intro
       */
      $("#help_context").click(solar_help);
    });

    // Lessons
    lesson_cookie_id = "_ufc_solar20_lesson_opened";

    $(function(){
      var home_tab = $(".mysolar_unit_active_tab.general_context").length;
      if (!home_tab && $.cookie(lesson_cookie_id))
        $("#mysolar_open_lesson button").removeClass("disabled");
    });

    $(document).ready(function(e){
      document.querySelector('.open-menu').onclick = function() {
        $('#mysolar_sidebar').addClass('active-menu');
      };

      document.querySelector('.close-menu').onclick = function() {
        $('#mysolar_sidebar').removeClass('active-menu');
      };

      document.documentElement.onclick = function(event) {
        if(event.target === $('#mysolar_sidebar')[0]) {
          $('#mysolar_sidebar').removeClass('active-menu');
        }
      };

      var pathname = $(location).attr("pathname");

      if(pathname == "/editions/repositories" ||
         pathname == "/administrations/indication_users") {
        $("#link_to_search_box").hide();
      }
    });

    // trigger isShow
    $(function(){

      // Synchronizing user
      $("#synchronize").click(function(){
        $.get($(this).data("url"), function(data){
          if (typeof(data.message) != "undefined" && typeof(data.type_message) != "undefined")
            flash_message(data.message, data.type_message);
          if (typeof(data.nick) != "undefined")
            $("#mysolar_top_user_nick").html(data.nick);
          if (typeof(data.name) != "undefined")
            $("#mysolar_top_submenu_username").html(data.name);
          if (typeof(data.email) != "undefined")
            $("#mysolar_top_submenu_useremail").html(data.email);
        }).fail(function(data){
          var data = $.parseJSON(data.responseText);
          if (typeof(data.alert) != "undefined")
            flash_message(data.alert, "alert");
        });
      });

      $($("#page_title h1").children("span")[0]).removeAttr("title")
    });

    //Select theme function
    $("#mysolar_high_contrast_option").click(function(){
      $.put($(this).data("url"), {"theme": $(this).data("theme")}, function(data){
        var theme = data.theme;
        if( theme == "blue")
          theme = "high_contrast";
        else
          theme = "blue";
        $("link[id='themes']").attr("href", "/assets/themes/theme_" + theme + ".css");
        location.reload();
      });
    });

    $("#link_to_menu_accesskey").on("click keypress", function(event){
      var keynum = event.which || event.keyCode;

      if( keynum == 13 || event.type == 'click') {
        setTimeout(function() {
          $("#menu_accesskey").focus();
        }, 100);
      }
    });

    $("#link_to_search_box").on("click keydown", function(event){
      var keynum = event.which || event.keyCode;

      if(keynum == 13 || event.type == 'click') {
        $(".slide-block").show("slide", {direction: "right"});
        // $(".slider-block").trigger("click");
      }

      setTimeout(function() {
        $(".search_box_focus").focus();
        $("#autocomplete-input").focus();
      }, 100);

    });

    $(".nav_item").on("keydown", function(event){
      var attr = $('#server_clock').prop('tabindex');
      if(attr == undefined || attr == -1) {
        $('#server_clock').prop('tabindex', 0);
      }

      var keynum = event.which || event.keyCode;

      if(keynum == 39) {
        goToRight(this);
      } else if (keynum == 37) {
        goToLeft(this);
      } else if (keynum == 40 || keynum == 32 || keynum == 13) {
        goInside(this);
      }
    });

    $(".sub_nav_item").on("keydown", function(event){
      var keynum = event.which || event.keyCode;

      switch( keynum ) {
        case 40:
          goDown(this);
          break;
        case 39:
          goOut(this);
          break;
        case 38:
          goUp(this);
          break;
        case 37:
          goOut(this);
          break;
        case 27:
          goOut(this);
          break;
      }
    });

    $(document).ready(function(){
      if( $(".shortcut_floating_box").length ) {
       // $(".shortcut_floating_box").offset( {left: 70} );

        var $sidebar   = $(".shortcut_floating_box"),
            $window    = $(window),
            offset     = $sidebar.offset();

        $window.scroll(function() {
          if (offset.top < $window.scrollTop()) {
            $sidebar.stop().animate({
              marginTop: $window.scrollTop() + offset.top
            });
          } else {
            $sidebar.stop().animate({
              marginTop: 0
            });
          }
        });

        $('#link_to_shortcut').on('keydown click', function(event) {
          var keynum = event.which || event.keyCode;

          if( keynum == 13 || keynum == 32 || event.type == 'click') {
            setTimeout(function() {
              $("#shortcut_accesskey").trigger("click");
            }, 100);
          }
        });
      }
    });

    function focusTitle(){
      setTimeout(function() {
        $('#main_content_accesskey').click();
      }, 100);
    }

    $("#classes .btn_dropdown").on("keydown", function(event){
      var keynum = event.which || event.keyCode;

      if( keynum == 13 || keynum == 32 || keynum == 40 || event.type == 'click') {
        $(this).trigger('click');
        setTimeout(function() {
          $(".views").find(".dropdown").find("li:first").find("a").focus();
        }, 100);
      }
    });


    $("#classes .dropdown-menu li a").on("keydown", function(event){
      var keynum = event.which || event.keyCode;

      switch( keynum ) {
        case 40:
          $(this).closest("li").next("li").find("a").focus();
          break;
        case 38:
          $(this).closest("li").prev("li").find("a").focus();
          break;
        case 27:
          $(this).closest(".dropdown-tip").siblings().click().focus();
          break;
      }
    });

    //focus do flash message
    $(function(){
      loadFocus();
      focus_element_time('#flash_message_span');

      $(".close").on("click keypress", function(event){
        var keynum = event.which || event.keyCode;
        if(keynum == 13 || keynum == 27 || event.type == 'click') {
          $(".modal").css("display", "none");
        }
      });

      $(document).keydown(function (e) {
        if (e.which === 27) {
          $("#dropdown_menu").slideUp(150);
          $(".dropdown").hide(150);
          setTimeout(function() {
            $(e.target).closest(".dropdown").prev("a").focus();
            $(e.target).closest(".dropdown").prev("a").removeClass("dropdown-open");
          }, 100);
        }

        if(e.shiftKey) {
          $('[data-shortcut-shift = "true"]', '.submenu, .mysolar_menu_title_single').each(function(){
            put_underline_shortcut(this);
          });
        }

        setTimeout(function() {
          var dropdown = $(".dropdown:visible").closest(".equivalent");
          if( $(dropdown).find(":focus").length === 0 ) {
            $(dropdown).find(".dropdown").hide();
          }
        }, 250);
      });

      $(document).keyup(function (e) {
        $('[data-shortcut-shift = "true"]', '.submenu, .mysolar_menu_title_single').each(function(){
          remove_underline_shortcut(this);
        });
      });

      let currente_allocation_tag = $("#curriculum_unit_selected").text();
      let localstorage_allocation_tag = localStorage.getItem('curriculum_unit_selected');

      if(currente_allocation_tag==localstorage_allocation_tag){
        let configs = JSON.parse(localStorage.getItem('configs'));
        if(Array.isArray(configs) && configs.length>0){
          var block_content_exam = get_block_content_exam();
          if(block_content_exam==false){
            configs.forEach(function (config, indice, array) {
              jsPanel.layout.restoreId({
                id: config.id,
                config: config,
                storagename: 'solar_jspanels'
              });
            });
          }else{
            clean_localstorege_jspanel();
          }
        }
      }else{
        clean_localstorege_jspanel();
      }
    });

    try{
      new window.VLibras.Widget('https://vlibras.gov.br/app');
    }
    catch (e){
      console.log("Vlibras Indisponível");
    }
