<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= stylesheet_link_tag "solar.css" %>
    <%= stylesheet_link_tag "calendar.css" %>
    <%= stylesheet_link_tag "security.css" %>
    <%= javascript_include_tag "jquery-1.4.4.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
    <%= javascript_include_tag "jquery.ui.datepicker-en-GB" %>
    <%= javascript_include_tag "jquery.ui.datepicker-pt-BR" %>
    <%= javascript_include_tag "chat.js" %>
    <%= javascript_include_tag "message.js" %>
    <%= javascript_include_tag "lesson.js.erb" %>
    <%= javascript_include_tag "user_form.js" %>
    <%= javascript_include_tag "mysolar.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "jquery.maskedinput-1.2.2"%>
    <%= javascript_include_tag "ckeditor/ckeditor.js"%>
    <%= javascript_include_tag "ckeditor/adapters/jquery.js"%>
    <%= csrf_meta_tag %>

    <script type="text/javascript">
      jQuery(function($){
        $("#cpf").mask("999.999.999-99");
        $("#telefone").mask("(99)9999-9999");
        $("#celular").mask("(99)9999-9999");
        $("#cep").mask("99999-999");
        // layout dos botoes
        $(".solar_button").after("<div class='solar_button_arrow'></div>");
        //layout dos botoes cinzas
        $(".solar_button_gray").after("<div class='solar_button_arrow_gray'></div>");
        //layout dos botoes azuis
        $(".solar_button_blue").after("<div class='solar_button_arrow_blue'></div>");

        //Configurando a largura do conteudo
        $("#mysolar_content").outerWidth($(window).width()-($("#mysolar_content").position().left+$("#mysolar_content").offset().left));

        $(window).resize(function() {
          $("#mysolar_content").outerWidth($(window).width()-($("#mysolar_content").position().left+$("#mysolar_content").offset().left));
        });

        //Configurando a altura da sidebar para acompanhar o total do conteúdo da página
        var maxHeight = $('#mysolar_content').outerHeight();
        maxHeight += $('#mysolar_content').position().top;
        if ($(window).height() > maxHeight)
          maxHeight = $(window).height();
        $("#mysolar_sidebar").height(maxHeight);

      });
    </script>
    <%= render '/users/mysolar_photo' %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25482431-1']);
      _gaq.push(['_setDomainName', '.virtual.ufc.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <!-- Barra Topo -------------------------->
    <div id="mysolar_topbar">
      <div id="mysolar_identity">
        <div id="mysolar_logo">
          <%= image_tag 'superior_logo.png', :alt => t(:mysolar_alt_img_solar) %>
        </div>
        <ul id="mysolar_top_options">
          <% unless @user.errors.empty? %>
            <% @user = User.find(@user.id) %>
          <% end %>
          <li id="mysolar_id">
            <%= image_tag @user.photo.url(:small), :alt => "#{t(:mysolar_alt_img_user)} #{@user.nick}", :id => "image_user" %>
            <!-- adicionar esse link depois em algum lugar -->
<%#= link_to t(:mysolar_mn_enrollment), :controller => "offers", :action => "showoffersbyuser" %>
          </li>
          <li>
            <% if can? :update, @user %>
              <%= link_to @user.nick, edit_user_url(@user), :class => 'mysolar_top_link', :id => 'my_data' %>
            <% end %>
          </li>
          <li id="server_clock_wrapper">
            <span name="server_clock" id="server_clock"></span>
          </li>
          <li>
            <a href="#" class="mysolar_top_link">Ajuda</a>
          </li>
          <li>
            <%= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, :class => "mysolar_top_link") %>
          </li>
        </ul>
      </div>
      <div id="mysolar_tabs">
        <!-- Abas -------------------------->
        <ul id="mysolar_tabs_wrapper">
          <%= raw render_tabs %>
        </ul>
        <ul id="mysolar_extras">
          <li id="mysolar_search">
            <!-- FIXME: criar script para remover o value inicial e remover a classe search_keyword_inactive -->
            <input class="search_keyword search_keyword_inactive" type="text" value="Buscar" />
          </li>
          <li>
            <%=image_tag "acessibility_font_increase.png", :alt => "Aumentar tamanho da fonte", :class => "acessibility_icons", :id => "mysolar_font_increase"%> <%#:alt=>t(:message_outbox)%>
          </li>
          <li>
            <%=image_tag "acessibility_font_decrease.png", :alt => "Reduzir tamanho da fonte", :class => "acessibility_icons", :id => "mysolar_font_decrease"%>
          </li>
          <li>
            <%=image_tag "acessibility_contrast.png", :alt => "Alternar para visual de alto contraste", :class => "acessibility_icons", :id => "mysolar_contrast"%>
          </li>
        </ul>
      </div>
    </div>

    <!-- Barra Lateral -------------------------->
    <div id="mysolar_sidebar">

      <div id="mysolar_menu_accordion" style="z-index:10">
        <%=raw create_menu_list(Profile.all_by_user_id(current_user.id), @context || 'geral', @context_param_id || nil, session[:current_menu] || nil) %>
      </div>

    </div>

    <!-- Conteúdo -------------------------->
    <div id="mysolar_content" style="white-space: nowrap;">

      <div id="breadcrumb" class="breadcrumb">
        <% unless session[:breadcrumb].nil? || session[:breadcrumb].length == 1 %>
          <% session[:breadcrumb].each_with_index do |link, idx| %>
            <% unless link.nil? %>
              <%= '>' if idx > 0 %>
              <span style="text-decoration: underline;">
                <% link_name = (idx == 1)? link[:name] : t(:"#{link[:name]}") %>
                <%= link_to link_name, link[:url] %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <!--Mensagens de Erro, Alerta e Aviso-->
      <% if flash[:success] || flash[:error] || flash[:notice] %>
        <div id="flash_message" class="<%= flash.keys.first %>">
          <%=raw message %>
        </div>
      <% end %>

      <%= yield %>

      <!-- Internacionalização  -->

      <div id="mysolar_locale">
        <span style="width: 20px"><%= image_tag "locales.png" %></span>&nbsp;
        <span style="width: 50px ; font-size:12px"><%= link_to "English",url_for( :locale => 'en' ), :style=>"color: #696969"%></span>&nbsp;
        <span style="font-size:12px"><%= link_to "Português(BR)",url_for( :locale => 'pt-BR' ), :style=>"color: #696969"%></span>
      </div>

    </div>

<%#= render '/portlets/chat' %>
  </body>
</html>

<script language="JavaScript" type="text/javascript">
  new showLocalTime("server_clock");

  function showLocalTime(container){
    //se nao existe, retorna
    if ( !$('#'+container).length ) return;

    //formato: 9/5/2011 9:53:30 (9/5 => 5/set)
    updateTime(container, "<%=DateTime.now.strftime("%m/%d/%Y %H:%M:%S")%>");
  }

  function updateTime(el, server_time){
    var localtime = new Date(server_time);
    localtime.setSeconds(localtime.getSeconds()+1);

    var hour    = localtime.getHours();
    var minutes = localtime.getMinutes();
    var seconds = localtime.getSeconds();
    $("#"+el).html(formatNumber(hour)+":"+formatNumber(minutes)+":"+formatNumber(seconds));
    var t = setTimeout(function(){updateTime(el, localtime);},1000);
  }

  function formatNumber(num){
    return (num<=9)? "0"+num : num;
  }
</script>