<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= favicon_link_tag '/images/favicon.ico' %>
    <%= stylesheet_link_tag "solar.css" %>
    <%= stylesheet_link_tag "calendar.css" %>
    <%= stylesheet_link_tag "security.css" %>
    <%= stylesheet_link_tag "jquery.qtip.min.css" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,500,700|Ubuntu+Condensed" %>

    <%= javascript_include_tag "jquery-1.4.4.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
    <%= javascript_include_tag "jquery.ui.datepicker-en-US" %>
    <%= javascript_include_tag "jquery.ui.datepicker-pt-BR" %>
    <%= javascript_include_tag "jquery.qtip.min.js"%>
    <%= javascript_include_tag "chat.js" %>
    <%= javascript_include_tag "message.js" %>
    <%= javascript_include_tag "lesson.js.erb" %>
    <%= javascript_include_tag "user_form.js" %>
    <%= javascript_include_tag "mysolar.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "jquery.maskedinput-1.2.2"%>
    <%= javascript_include_tag "ckeditor/ckeditor.js"%>
    <%= javascript_include_tag "ckeditor/adapters/jquery.js"%>
    <%= javascript_include_tag "tooltip.js"%>
    <%= csrf_meta_tag %>

    <script type="text/javascript">
      // variavel global com a configuracao do locale
      global_config = {};
      global_config.locale = {};
      global_config.locale.I18n = '<%=I18n.locale%>';
      global_config.locale.dateFormat = '<%=t :search_format_date %>';

      jQuery(function($){
        // altura da linha divisória entre o menu e o conteúdo
        // 10px do margin-top de mysolar_sidebar, 10 do margin-top do block_locale e 5 de espaco mesmo... :)
        $("#mysolar_sidebar").height($('#body_wrapper').height() - $('#mysolar_topbar').height() - $('#block_locale').height() - 25);

      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25482431-1']);
      _gaq.push(['_setDomainName', '.virtual.ufc.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


      /*******************************************************************************
       * Relógio do Sistema
       * */

      $(document).ready(function() {
        new showLocalTime("server_clock");
      })
      
      function showLocalTime(container){
          if (!$('#'+container).length) return;
          //formato: 9/5/2011 9:53:30 (9/5 => 5/set)
          updateTime(container, "<%=DateTime.now.strftime("%m/%d/%Y %H:%M:%S")%>");
      }

      function updateTime(el, server_time){
          var localtime = new Date(server_time);
          localtime.setSeconds(localtime.getSeconds()+1);

          var hour    = localtime.getHours();
          var minutes = localtime.getMinutes();
          var seconds = localtime.getSeconds();
          $("#"+el).html(formatNumber(hour)+":"+formatNumber(minutes)+":"+formatNumber(seconds));
          setTimeout(function(){updateTime(el, localtime);},1000);
      }

      function formatNumber(num){
          return (num<=9)? "0"+num : num;
      }
    </script>
  </head>
  <body>
    <div id="mysolar_topbar_wide_background"></div>
    <div id="body_wrapper">
      <!-- Barra Topo #########################-->
      <div id="mysolar_topbar">
        <div id="mysolar_identity">
          <div id="mysolar_logo">
            <%= image_tag 'solar_logo_small.png', :alt => t(:mysolar_alt_img_solar), :id => "solar_logo" %>
          </div>
          <ul id="mysolar_top_options">
            <li>
              
            </li>
            <li id="mysolar_top_submenu_label" class="mysolar_top_submenu_label_regular">
              <%= image_tag current_user.photo.url(:small), :alt => "#{t(:mysolar_alt_img_user)} #{current_user.nick}", :id => "image_user", :onclick => "mysolarTopSubmenuToggle();return false;"%>
              <% if can? :update, current_user %>
                <a id="mysolar_top_user_nick" href="" onclick="mysolarTopSubmenuToggle();return false;" class="mysolar_top_link"><%=current_user.nick%></a>
              <% end %>
            </li>
            <li id="server_clock_wrapper">
              <span name="server_clock" id="server_clock"></span>
            </li>
            <li>
              <a href="#" class="mysolar_top_link"><%= t(:help) %></a>
            </li>
            <li>
              <%= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, :class => "mysolar_top_link") %>
            </li>
          </ul>
        </div>
        <!-- Submenu Topo #########################-->
        <!-- Painel de Menu superior #########################-->
        <div id="mysolar_top_submenu">
          <div>
            <%= image_tag current_user.photo.url(:forum), :alt => "#{t(:mysolar_alt_img_user)} #{current_user.nick}", :id => "mysolar_top_img_user" %>
            <div id="mysolar_top_submenu_username"><%=current_user.name%></div>
            <div id="mysolar_top_submenu_useremail"><%=current_user.email%></div>
          </div>

          <ul>
            <li>
              <%= link_to t(:mysolar_edit_profile), {:action=>"edit", :controller=>"devise/registrations"}, :id => 'my_data' %>
            </li>
            <li>
              <a id="mysolar_change_picture" href="" onclick="showUserPictureUploadForm('<%= url_for :users_photo %>', '<%= t(:mysolar_change_picture)%>');return false;">
                <%= t(:mysolar_change_picture)%>
              </a>
            </li>
            <li>
              <%= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path) %>
            </li>
          </ul>
        </div>

        <!-- Abas #########################-->
        <div id="mysolar_tabs">
          <ul id="mysolar_tabs_wrapper">
            <%= raw render_tabs %>
          </ul>
          <ul id="mysolar_extras">
            <li id="mysolar_search">
<%#*<!-- FIXME: criar script para remover o value inicial e remover a classe search_keyword_inactive -->%>
              <input class="search_keyword search_keyword_inactive" type="text" value="Buscar" />
            </li>
            <li>
              <%=image_tag "acessibility_font_increase.png", :alt => "Aumentar tamanho da fonte", :class => "acessibility_icons", :id => "mysolar_font_increase"%> <%#:alt=>t(:message_outbox)%>
            </li>
            <li>
              <%=image_tag "acessibility_font_decrease.png", :alt => "Reduzir tamanho da fonte", :class => "acessibility_icons", :id => "mysolar_font_decrease"%>
            </li>
            <li>
              <%=image_tag "acessibility_contrast.png", :alt => "Alternar para visual de alto contraste", :class => "acessibility_icons", :id => "mysolar_contrast"%>
            </li>
          </ul>
        </div>
      </div>

      <!-- Barra Lateral #########################-->
      <div id="mysolar_sidebar">
        <div id="mysolar_menu_accordion" style="z-index:10">
          <% profiles = Profile.all_by_user_id(current_user.id) %>

          <% context = nil %>

          <%=raw create_menu_list(profiles, @context_id, @context_allocation_tag_id, user_session[:menu][:current]) if user_signed_in? %>
        </div>
      </div>

      <!-- CONTEUDO -->
      <div id="mysolar_content">

        <!-- titulo das paginas -->
        <div class="block_wrapper">

          <% flash.each do |name, msg| %>
            <div id="flash_message" class="<%= name %>">
              <%= content_tag :span, msg %>
            </div>
          <% end %>

          <% active_tab = user_session[:tabs][:opened][user_session[:tabs][:active]] %>
          <div id="breadcrumb"><%= raw show_breadcrumb %></div>

          <% if show_curriculum_unit_selection?(active_tab)   %>          
            <div id="page_title">
              <h1><%=t active_tab[:breadcrumb].last[:name] unless active_tab[:breadcrumb].last.nil? %></h1>
              <span class="block_content_text"><%= raw(render_group_selection) %></span>
            </div>
          <% end %>
        </div>

        <%= yield %>

      </div>

      <div id="footer_push" style="height:35px"></div>
      <div id="footer">
        <ul>
          <li><%= t(:login_footer1) %></li>
          <li><%= t(:login_footer2) %></li>
          <li><%= t(:login_footer3) %></li>
        </ul>
      </div>

<%#= render '/portlets/chat' %>
    </div>

  </body>
</html>