!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: I18n.locale.to_s.gsub('_', '-')}
  - if is_curriculum_unit_selected?
    - group_selection = render_group_selection
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= show_breadcrumb_title

    = javascript_include_tag "application"
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    /[if lte IE 9]
      <haml_loud> stylesheet_link_tag "fonts/fonts-ie" </haml_loud>
    /[if lte IE 7]
      <haml_loud> javascript_include_tag 'lte-ie7' </haml_loud>
      <haml_loud> stylesheet_link_tag "misc/ie7" </haml_loud>
    / IM \
    = javascript_include_tag "converse/converse"
    = stylesheet_link_tag "converse/converse"
    / IM \
    = stylesheet_link_tag "application", "themes/theme_blue", "fancybox"

    = csrf_meta_tag

  %body
    - active_tab = user_session[:tabs][:opened][user_session[:tabs][:active]]
    - photo_user = current_user.user_photo(:small)
    - photo_user.freeze

    #mysolar_topbar_wide_background
    #body_wrapper
      / topbar
      #mysolar_topbar
        #mysolar_identity{role: 'banner'}
          #mysolar_logo
            = image_tag 'solar_logo_small.png', alt: t(:mysolar_alt_img_solar), id: "solar_logo"
          %ul#mysolar_top_options
            %li#mysolar_top_submenu_label.mysolar_top_submenu_label_regular.nav_menu
              = image_tag photo_user, alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "image_user", onclick: "mysolarTopSubmenuToggle();return false;"
              - if can? :update, current_user
                %a#mysolar_top_user_nick.mysolar_top_link.nav_item{href: "", onclick: "mysolarTopSubmenuToggle();return false;"}= current_user.nick
            %li#server_clock_wrapper.nav_menu
              %span#server_clock.nav_item{name: "server_clock"}
            %li#accessibility_top_menu.mysolar_top_submenu_label_regular.nav_menu
              %a#accessibility_top.mysolar_top_link.nav_item{ href: "", onclick: "mysolarAccessibilitySubmenuToggle();return false;", :'aria-label' =>  t(:accessibility_menu)}
                = t(:accessibility)
              %ul#mysolar_accessibility_submenu
                %li.sub_nav_menu= link_to t(:main_content), "#main_content_accesskey", accesskey: "1", class: "sub_nav_item"
                %li#link_to_menu_accesskey.sub_nav_menu= link_to t(:menu_aside), "#menu_accesskey", accesskey: "2", class: "sub_nav_item"
                - if active_tab[:url][:context] == 1 || params[:bread] == "menu_messages"
                  %li#link_to_search_box.sub_nav_menu= link_to t(:search_box), "#search_box_accesskey", accesskey: "3", class: "sub_nav_item"
                - if active_tab[:url][:context] == 2 && params[:bread] == "menu_score_student"
                  %li#link_to_shortcut.sub_nav_menu= link_to t("shortcut.shortcut_link"), "#", class: "sub_nav_item"
                -# %li= link_to t(:high_contrast_link), "#", accesskey: "5"
                - if I18n.locale.to_s == 'pt_BR'
                  %li.sub_nav_menu=link_to t(:libras), 'http://www.vlibras.gov.br/', target: '_blank', 'aria-label'=> t(:libras) + t(:new_window), class: "sub_nav_item"
            %li#mysolar_top_help.mysolar_top_submenu_label_regular.nav_menu
              %a#help_top.mysolar_top_link.nav_item{href: "", onclick: "mysolarTopSubmenuHelpToggle();return false;"}
                = t(:help)
              %ul#mysolar_submenu_help
                %li.sub_nav_menu= link_to t(:context), "#", id: 'help_context', class: "sub_nav_item"
                %li.sub_nav_menu= link_to t('tutorials.menu'), tutorials_path, id: 'my_tutorials', class: "sub_nav_item"
                %li.sub_nav_menu= link_to t(:login_faq), faq_path, class: "sub_nav_item", :'aria-label' => t(:login_faq)
                %li.sub_nav_menu= link_to t(:videos), "../../video_tutorials.html", target: "_blank", class: "sub_nav_item", :'aria-label' => t(:videos)+ t(:new_window)
                %li.sub_nav_menu= link_to t(:contact), support_new_messages_path, class: "sub_nav_item"
            %li#mysolar_top_logout.nav_menu
              = link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, id: "logout", class: "mysolar_top_link logout nav_item")
        / Submenu
        #mysolar_top_submenu
          %div
            = image_tag photo_user, alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "mysolar_top_img_user"
            #mysolar_top_submenu_username= current_user.name
            #mysolar_top_submenu_useremail= current_user.email
          %ul
            /  icon-cycle
            - if current_user.can_synchronize?
              %li.sub_nav_menu= link_to t("mysolar.synchronize"), "#", :'data-url' => synchronize_ma_users_path, id: 'synchronize', class: "sub_nav_item"
            %li.sub_nav_menu= link_to t(:mysolar_edit_profile), edit_user_registration_path, id: 'my_data', class: "sub_nav_item"
            %li.sub_nav_menu= link_to t(:mysolar_change_picture), edit_photo_users_path, class: "fancybox.ajax sub_nav_item", id: "change_picture", :'aria-label' => t(:mysolar_change_picture) + t('fancybox.open')
            %li.sub_nav_menu= link_to t("mysolar.profiles"), profiles_users_path, class: "sub_nav_item"
            %li.sub_nav_menu= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, class: "sub_nav_item")

        / tabs
        #mysolar_tabs{role: 'menubar'}
          %ul#mysolar_tabs_wrapper= raw render_tabs
          %ul#mysolar_extras
            %li#mysolar_open_lesson
              %button.btn.btn_main.disabled{"data-tooltip" => t(:mysolar_open_lesson), name: t(:mysolar_open_lesson), onclick: "javascript:maximize_lesson(this);", type: "button", "data-fancybox-type" => "iframe", :'aria-label' => t(:mysolar_open_lesson_alt, disabled: t(:open_lesson_no_lesson)), disabled: true}
                %i.icon-class{:'aria-hidden' => 'true'}
            %li#mysolar_open_shortcut
              %a.btn.btn_main#shortcut_accesskey{ href: '#', :"data-dropdown" => "#dropdown_eq_1_2", :'aria-label' => t('scores.info.shortcut'), accesskey: "4", "data-tooltip" => t('scores.info.shortcut')}
                = t('scores.info.shortcut')
                %i.icon-arrow-down-triangle
              .dropdown.dropdown-tip{id: "dropdown_eq_1_2"}
                %ul.shortcut_floating_box{ class: 'dropdown-menu' }
                  %h2= t('scores.info.shortcut')
                  = link_to content_tag(:i, nil, class: "icon-cancel-circle"), "#", class: 'close_dropdown', :'data-tooltip' => t("shortcut.close"), :'aria-label' => t("shortcut.close")

            %li#mysolar_suggestions
              = link_to t(:mysolar_suggestions), 'https://docs.google.com/a/virtual.ufc.br/spreadsheet/viewform?formkey=dFpzVU4xa1FMT3ZldjhDS014NFMtaXc6MQ', class: 'btn', target: '_blank', :'aria-label' => t(:mysolar_suggestions) + t(:new_window)


      / sidebar
      #mysolar_sidebar{role: 'navigation'}
        #mysolar_menu_accordion{style: "z-index:10"}
          .mysolar_menu
            %p.menu_accessible
              %a#menu_accesskey{href: "#menu_accesskey", :'aria-label' => t(:start_menu)}= t(:menu_first_item)
            - if active_tab[:url][:context] == Context_Curriculum_Unit
              .mysolar_menu_group
                %ul
                  %li.mysolar_menu_title_single{'data-menu-bread' => 'menu_home', 'data-contexts' => [Context_Curriculum_Unit]}
                    = link_to t(:menu_home), active_tab[:breadcrumb].first[:url], class: 'mysolar_menu_title'

            = raw menu_list

            %p.menu_accessible
              %a#menu_end{href: "#menu_end", :'aria-label' => t(:end_menu)}= t(:menu_last_item)
      / content
      #mysolar_content{role: 'main'}
        / page titles
        .block_wrapper
          .flash_message_wrapper
            - flash.each do |name, msg|
              #flash_message{ class: name }
                = content_tag(:span, msg, id: "flash_message_span")
                - if @attribute.blank?
                  = link_to_function content_tag(:i, nil, class: 'icon-cross'), "erase_flash_messages(true)", onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('flash_message.close')
                - else
                  = link_to_function content_tag(:i, nil, class: 'icon-cross'), "erase_flash_messages(true, "+@attribute.to_s+")", onkeydown: 'click_on_keypress(event, this)', :'aria-label' => t('flash_message.close')
          - name = active_tab[:breadcrumb].last[:name].gsub(".", "-") unless active_tab[:breadcrumb].last[:name].nil?
          #breadcrumb= raw show_breadcrumb
          - if is_curriculum_unit_selected?
            #page_title
              - if current_page?(controller: 'lessons', action: 'index')
                %h1#main_content_accesskey{ tabindex: "0", :'aria-label' => t(name, default: name.try(:titleize)) + t('lessons.index.lesson_number_modules', modules: @lessons_modules.size) }= t(name, default: name.try(:titleize))
              - else
                %h1#main_content_accesskey{ tabindex: "0" }=t(name, default: name.try(:titleize))
              .block_content_text
                %span.views#classes{role: 'menubar'}= raw(group_selection)
          - elsif not(in_mysolar?)
            #page_title
              %h1#main_content_accesskey{ tabindex: "0" }=t(name, default: name.titleize)
        = yield

        #lesson_external_div.invisible

        #sav_url.invisible= link_to "", "#", {class: 'link_content fancybox.iframe', target: '_blank' }

        - if current_user
          #chatpanel
            #collective-xmpp-chat-data{style: "display: none"}
            #toggle-controlbox
              %a.chat.toggle-online-users{href: "#"}
                %strong.conn-feedback="Bate-Papo"

      #footer_push{style: "height:35px"}
      - locales  =  %w(pt_BR en_US)
      - selected = I18n.locale.to_s
      #footer
        %ul
          %li.choice-tutorial
            = link_to t(:login_footer3), '#', class: "link-arrow"
            %ul.choice-tutorial-menu
              %li= link_to t(:login_footer1), 'http://www.virtual.ufc.br', target: '_blank', :'aria-label' => t(:login_footer1)+ t(:new_window)
              %li= link_to t(:login_footer2), 'http://www.ufc.br', target: '_blank', :'aria-label' => t(:login_footer2)+ t(:new_window)
          %li.choice-tutorial
            = link_to t(:login_footer4), '#', class: "link-arrow"
            %ul.choice-tutorial-menu
              %li= link_to t(:login_footer5), 'http://github.com/wwagner33/solar', :target => '_blank', :'aria-label' => 'Código' + t(:new_window)
              %li= link_to t(:login_footer6), 'https://github.com/wwagner33/solar/blob/master/README', :target => '_blank', :'aria-label' => 'Equipe' + t(:new_window)
              %li= link_to t(:license_terms), 'http://github.com/wwagner33/solar/blob/master/GPLv3', :target => '_blank', :'aria-label' => t(:license_terms)+ t(:new_window)
          %li= link_to t('privacy_policies.title'), privacy_policy_path, target: '_blank', :'aria-label' => t('privacy_policies.title') + t(:new_window)
          %li= link_to t(:login_app), apps_path
          %li= link_to t(:login_faq), faq_path, :'aria-label' => t(:login_faq)
          %li.choice-language
            = link_to t(:login_language), '#', class: "link-arrow"
            %ul.choice-language-menu
              %li{class: "language pt_BR #{(selected == locales.first) ? 'selected' : ''}"}= link_to 'Português (BR)', url_for(locale: locales.first)
              %li{class: "language en_US #{(selected == locales.last) ? 'selected' : ''}"}= link_to 'English (USA)', url_for(locale: locales.last)

  :javascript

    /**
     * Google Analytics
     */
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25482431-1']);
    _gaq.push(['_setDomainName', '.virtual.ufc.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // system and clock

    global_config = {
      'locale': {
        'I18n': "#{I18n.locale}",
        'dateFormat': "#{I18n.t :search_format_date}"
      }
    };


    function find_and_open_sav(url){
      if( "#{SavConfig::CONFIG.nil?}" == "false" ){
        if(!!"#{savs_path}".length){
          $.get("#{savs_path}", { async: true }, function(data){
            if(!!data.url.length && (url == "undefined" || url != data.url)){
              $("#sav_url a").call_fancybox({
                minWidth: $(window).width() - 150,
                minHeight: $(window).height() - 100,
                autoResize: true,
                open: true,
                href: data.url,
                automatically: true,
                afterClose: function(){
                  find_and_open_sav(data.url);
                }
              });

              setTimeout(function() {
                //se não abriu, cancelar fancybox
                if($("[id^='fancybox-frame']:first").height() < ($(window).height() - 300))
                  $.fancybox.close();
              }, 8000);
            }
          })
          .error(function(data){
            // console.log(data);
          });
        }
      }
    }

    jQuery(function($) {

      generate_shortcut_list();

      /**
       * System clock
       */
      new showLocalTime("server_clock", "#{I18n.l(Time.now, format: :clock_time)}".split(":"));

      /**
      * Verificando se existe aula carregada
      */
      var lessonsButton = $('#mysolar_open_lesson button');
      if ( $("#lesson_content", parent.document.body).length == 0 ) {
        $(lessonsButton).addClass("disabled");
      } else {
        $(lessonsButton).removeClass("disabled");
      }

      /**
       * Intro
       */
      $("#help_context").click(solar_help);
    });

    // Lessons
    lesson_cookie_id = "_ufc_solar20_lesson_opened";

    $(function(){
      var home_tab = $(".mysolar_unit_active_tab.general_context").length;
      if (!home_tab && $.cookie(lesson_cookie_id))
        $("#mysolar_open_lesson button").removeClass("disabled");
    });


    // IM
    imageLoading = "#{image_path('spinner.gif')}"
    xmpp_cpf = "#{current_user.cpf}";
    xmpp_ip = "#{@_ip}";
    xmpp_dominio = "#{@_dominio}";
    xmpp_port = "#{@_porta}";
    xmpp_pass = "#{current_user.encrypted_password}";
    number_chatbox = 0;

    //cookie IM_geral
    if(($.cookie("cookie_im")) && ($.cookie("cookie_im") != "null"))
      cookie_im = JSON.parse($.cookie("cookie_im"));
    else
      cookie_im = JSON.parse('{"IM" : false, "IM_toggle":true}');

    $.cookie("cookie_im",JSON.stringify(cookie_im),{path : "/"});
    function getCookie(){
      cookie_im = JSON.parse($.cookie("cookie_im"));
    }

    function setCookie(){
      $.cookie("cookie_im",JSON.stringify(cookie_im),{path : "/"});
    }

    //cookie IM_groups
    if($.cookie("cookie_groups"))
      cookie_groups = JSON.parse($.cookie("cookie_groups"));
    else
      cookie_groups = JSON.parse('{}');

    $.cookie("cookie_groups",JSON.stringify(cookie_groups),{path : "/"});
    function getCookieGroups(){
      cookie_groups = JSON.parse($.cookie("cookie_groups"));
    }

    function setCookieGroups(){
      $.cookie("cookie_groups",JSON.stringify(cookie_groups),{path : "/"});
    }

    converse.initialize({
      prebind: false,
      // jid: data.jid,
      // sid: data.sid,
      // rid: data.rid,
      debug: false,
      auto_list_rooms: false,
      auto_subscribe: false,
      bosh_service_url: 'http://'+ xmpp_ip +':' + xmpp_port + '/http-bind/',
      hide_muc_server: false,
      i18n: locales["pt_BR"], // Refer to ./locale/locales.js to see which locales are supported
      allow_contact_requests: false,
      show_only_online_users: false,
      show_controlbox_by_default: false,
      xhr_user_search: false
    });

    //show
    $(document).ready(function(e){
      if(cookie_im.IM){
        con.showControlBox();
        if(cookie_im.Groups){
          var time = 0;
          $("#chatpanel")[0].style.display = "none";
          var id = setInterval(function(e){
            if(!con.qtd_rosters_with_groups || !con.roster.length)
              time++;
            else if(con.qtd_rosters_with_groups == con.roster.length){
              $("#order").click();
              $("#chatpanel")[0].style.display = "block";
              clearTimeout(id);
            }
          },10);
        delete time;
        }
      }

      var pathname = $(location).attr("pathname");

      if(pathname == "/editions/repositories" ||
         pathname == "/administrations/indication_users") {
        $("#link_to_search_box").hide();
      }
    });

    // trigger isShow
    $(function(){
      $('#toggle-controlbox').click(function(e){
        if(cookie_im.IM){
          cookie_im.IM=false;
          setCookie();
        }
        else{
          cookie_im.IM=true;
          setCookie();
          con.showControlBox();
        }
      });
      //logout
      $('.mysolar_top_link.logout').click(function(e) {
        try {
          alert(logout_path)
          alert('teste ok')
          $(".xmpp-status-menu .unavailable").click();
          con.xmppstatus.save({'status': 'online'});
          delete con;
          con = null;
          setTimeout(function(){location.href="#{logout_path}";},250); // espera 250 milesegundos para redirecionar para a pagina de logout
          e.preventDefault();
        } catch(err) {}
      });
      //IM
      // Synchronizing user
      $("#synchronize").click(function(){
        $.get($(this).data("url"), function(data){
          if (typeof(data.message) != "undefined" && typeof(data.type_message) != "undefined")
            flash_message(data.message, data.type_message);
          if (typeof(data.nick) != "undefined")
            $("#mysolar_top_user_nick").html(data.nick);
          if (typeof(data.name) != "undefined")
            $("#mysolar_top_submenu_username").html(data.name);
          if (typeof(data.email) != "undefined")
            $("#mysolar_top_submenu_useremail").html(data.email);
        }).error(function(data){
          var data = $.parseJSON(data.responseText);
          if (typeof(data.alert) != "undefined")
            flash_message(data.alert, "alert");
        });
      });

      $($("#page_title h1").children("span")[0]).removeAttr("title")
    });

    $("#shortcut").call_fancybox({
      minWidth: '50%',
      minHeight: '50%',
      height: 'auto',
      closeBtn : true
    });

    $("#link_to_menu_accesskey").on("click keypress", function(event){
      var keynum = event.which || event.keyCode;

      if( keynum == 13 || event.type == 'click') {
        setTimeout(function() {
          $("#menu_accesskey").focus();
        }, 100);
      }
    });

    $("#link_to_search_box").on("click keydown", function(event){
      var keynum = event.which || event.keyCode;

      if(keynum == 13 || event.type == 'click') {
        $(".slide-block").show("slide", {direction: "right"});
        // $(".slider-block").trigger("click");
      }

      setTimeout(function() {
        $(".search_box_focus").focus();
        $("#autocomplete-input").focus();
      }, 100);
    });

    $(".nav_item").on("keydown", function(event){
      var attr = $('#server_clock').prop('tabindex');
      if(attr == undefined || attr == -1) {
        $('#server_clock').prop('tabindex', 0);
      }

      var keynum = event.which || event.keyCode;

      if(keynum == 39) {
        goToRight(this);
      } else if (keynum == 37) {
        goToLeft(this);
      } else if (keynum == 40 || keynum == 32 || keynum == 13) {
        goInside(this);
      }
    });

    $(".sub_nav_item").on("keydown", function(event){
      var keynum = event.which || event.keyCode;

      switch( keynum ) {
        case 40:
          goDown(this);
          break;
        case 39:
          goOut(this);
          break;
        case 38:
          goUp(this);
          break;
        case 37:
          goOut(this);
          break;
        case 27:
          goOut(this);
          break;
      }
    });

    $(document).ready(function(){
      if( $(".shortcut_floating_box").length ) {
       // $(".shortcut_floating_box").offset( {left: 70} );

        var $sidebar   = $(".shortcut_floating_box"),
            $window    = $(window),
            offset     = $sidebar.offset();

        $window.scroll(function() {
          if (offset.top < $window.scrollTop()) {
            $sidebar.stop().animate({
              marginTop: $window.scrollTop() + offset.top
            });
          } else {
            $sidebar.stop().animate({
              marginTop: 0
            });
          }
        });

        $('#link_to_shortcut').on('keydown click', function(event) {
          var keynum = event.which || event.keyCode;

          if( keynum == 13 || keynum == 32 || event.type == 'click') {
            setTimeout(function() {
              $("#shortcut_accesskey").trigger("click");
            }, 100);
          }
        });
      }
    });

    function focusTitle(){
      setTimeout(function() {
        $('#main_content_accesskey').click();
      }, 100);
    }

    $("#classes .btn_dropdown").on("keydown", function(event){
      var keynum = event.which || event.keyCode;

      if( keynum == 13 || keynum == 32 || keynum == 40 || event.type == 'click') {
        $(this).trigger('click');
        setTimeout(function() {
          $(".views").find(".dropdown").find("li:first").find("a").focus();
        }, 100);
      }
    });


    $("#classes .dropdown-menu li a").on("keydown", function(event){
      var keynum = event.which || event.keyCode;

      switch( keynum ) {
        case 40:
          $(this).closest("li").next("li").find("a").focus();
          break;
        case 38:
          $(this).closest("li").prev("li").find("a").focus();
          break;
        case 27:
          $(this).closest(".dropdown-tip").siblings().click().focus();
          break;
      }
    });

    //focus do flash message
    $(function(){
      loadFocus();
      focus_element_time('#flash_message_span');

      $(document).keydown(function (e) {
        if (e.which === 27) {
          $("#dropdown_menu").slideUp(150);
          $(".dropdown").hide(150);
          setTimeout(function() {
            $(e.target).closest(".dropdown").prev("a").focus();
            $(e.target).closest(".dropdown").prev("a").removeClass("dropdown-open");
          }, 100);
        }

        setTimeout(function() {
          var dropdown = $(".dropdown:visible").closest(".equivalent");
          if( $(dropdown).find(":focus").length === 0 ) {
            $(dropdown).find(".dropdown").hide();
          }
        }, 250);
      });
    });
