!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Solar

    = javascript_include_tag "application"
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    /[if lte IE 9]
      <haml_loud> stylesheet_link_tag "fonts/fonts-ie" </haml_loud>
    /[if lte IE 7]
      <haml_loud> javascript_include_tag 'lte-ie7' </haml_loud>
      <haml_loud> stylesheet_link_tag "misc/ie7" </haml_loud>

    / IM \
    = javascript_include_tag "converse/converse"
    = stylesheet_link_tag "converse/converse"
    / IM \
    = stylesheet_link_tag "application", "themes/theme_blue", "fancybox"

    = csrf_meta_tag

  %body
    #mysolar_topbar_wide_background
    #body_wrapper
      / topbar
      #mysolar_topbar
        #mysolar_identity
          #mysolar_logo
            = image_tag 'solar_logo_small.png', :alt => t(:mysolar_alt_img_solar), :id => "solar_logo"
          %ul#mysolar_top_options
            %li#mysolar_top_submenu_label.mysolar_top_submenu_label_regular
              = image_tag current_user.photo.url(:small), :alt => "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "image_user", onclick: "mysolarTopSubmenuToggle();return false;"
              - if can? :update, current_user
                %a#mysolar_top_user_nick.mysolar_top_link{href: "", onclick: "mysolarTopSubmenuToggle();return false;"}= current_user.nick
            %li#server_clock_wrapper
              %span#server_clock{name: "server_clock"}
            %li#mysolar_top_help.mysolar_top_submenu_label_regular
              %a#help_top.mysolar_top_link{href: "", onclick: "mysolarTopSubmenuHelpToggle();return false;"}
                = t(:help)
            %li#mysolar_top_logout
              = link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, class: "mysolar_top_link logout")
        / Submenu
        #mysolar_top_submenu
          %div
            = image_tag current_user.photo.url(:forum), alt: "#{t(:mysolar_alt_img_user)} #{current_user.nick}", id: "mysolar_top_img_user"
            #mysolar_top_submenu_username= current_user.name
            #mysolar_top_submenu_useremail= current_user.email
          %ul
            /  icon-cycle
            - if current_user.can_synchronize?
              %li= link_to t("mysolar.synchronize"), "#", :'data-url' => synchronize_ma_users_path, id: 'synchronize'
            %li= link_to t(:mysolar_edit_profile), edit_user_registration_path, id: 'my_data'
            %li= link_to t(:mysolar_change_picture), edit_photo_users_path, class: "fancybox.ajax", id: "change_picture"
            %li= link_to t("mysolar.profiles"), profiles_users_path
            %li= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path)
        #mysolar_submenu_help
          %ul
            %li= link_to t(:context), "#", id: 'help_context'
            %li= link_to t(:tutorials), tutorials_path, id: 'my_tutorials'
            %li= link_to t(:videos), "http://www.youtube.com/embed/videoseries?list=PLymN3BhGXshU5s4NYY2EzYkpHuVtigaoP", class: "fancybox.iframe", id: "playlist"
        / tabs
        #mysolar_tabs
          %ul#mysolar_tabs_wrapper= raw render_tabs
          %ul#mysolar_extras
            %li#mysolar_suggestions
              %button.btn{onclick: "javascript:window.open('https://docs.google.com/a/virtual.ufc.br/spreadsheet/viewform?formkey=dFpzVU4xa1FMT3ZldjhDS014NFMtaXc6MQ')"} Sugestões para o Solar 2.0
            %li#mysolar_open_lesson
              %button.btn.btn_main.disabled{"data-tooltip" => t(:mysolar_open_lesson), name: t(:mysolar_open_lesson), onclick: "javascript:maximize_lesson(this);", type: "button", "data-fancybox-type" => "iframe"}
                %i.icon-class
      / sidebar
      #mysolar_sidebar
        #mysolar_menu_accordion{style: "z-index:10"}
          = raw menu if user_signed_in?

      / content
      #mysolar_content
        / page titles
        .block_wrapper
          .flash_message_wrapper
            - flash.each do |name, msg|
              #flash_message{class: name}= content_tag :span, msg
          - active_tab = user_session[:tabs][:opened][user_session[:tabs][:active]]
          - name = active_tab[:breadcrumb].last[:name].gsub(".", "-") unless active_tab[:breadcrumb].last[:name].nil?
          #breadcrumb= raw show_breadcrumb
          - if is_curriculum_unit_selected?
            #page_title
              %h1{:"data-tooltip" => t(name)}=t name
              %span.block_content_text= raw(render_group_selection)
          - elsif not(in_mysolar?)
            #page_title
              %h1{:"data-tooltip" => t(name)}=t name
        = yield

        #lesson_external_div.invisible

        - if current_user
          #chatpanel
            #collective-xmpp-chat-data{style: "display: none"}
            #toggle-controlbox
              %a.chat.toggle-online-users{href: "#"}
                %strong.conn-feedback="Bate-Papo"

      #footer_push{style: "height:35px"}
      - locales  =  %w(pt_BR en_US)
      - selected = I18n.locale.to_s
      #footer
        %ul
          %li= link_to t(:login_footer1), 'http://www.virtual.ufc.br', target: '_blank'
          %li= link_to t(:login_footer2), 'http://www.ufc.br', target: '_blank'
          %li= t(:login_footer3)
          %li= link_to t(:license_terms), 'http://github.com/wwagner33/solar/blob/master/GPLv3', :target => '_blank'
          %li.choice-language
            = link_to t(:login_language), '#', class: "link-arrow"
            %ul.choice-language-menu
              %li{class: "language pt_BR #{(selected == locales.first) ? 'selected' : ''}"}= link_to 'Português (BR)', url_for(locale: locales.first)
              %li{class: "language en_US #{(selected == locales.last) ? 'selected' : ''}"}= link_to 'English (USA)', url_for(locale: locales.last)

  :javascript

    /**
     * Google Analytics
     */
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25482431-1']);
    _gaq.push(['_setDomainName', '.virtual.ufc.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // system and clock

    global_config = {
      'locale': {
        'I18n': "#{I18n.locale}",
        'dateFormat': "#{I18n.t :search_format_date}"
      }
    };

    jQuery(function($) {
      /**
       * System clock
       */
      new showLocalTime("server_clock", "#{I18n.l(Time.now, format: :clock_time)}".split(":"));

      /**
      * Verificando se existe aula carregada
      */
      var lessonsButton = $('#mysolar_open_lesson button');
      if ( $("#lesson_content", parent.document.body).length == 0 ) {
        $(lessonsButton).addClass("disabled");
      } else {
        $(lessonsButton).removeClass("disabled");
      }

      /**
       * Intro
       */
      $("#help_context").click(solar_help);

      $('#playlist').fancybox();
    });

    // Lessons
    lesson_cookie_id = "_ufc_solar20_lesson_opened";

    $(function(){
      var home_tab = $(".mysolar_unit_active_tab.general_context").length;
      if (!home_tab && $.cookie(lesson_cookie_id))
        $("#mysolar_open_lesson button").removeClass("disabled");
    });


    // IM
    xmpp_cpf = "#{current_user.cpf}";
    xmpp_ip = "#{@_ip}";
    xmpp_dominio = "#{@_dominio}";
    xmpp_port = "#{@_porta}";
    xmpp_pass = "#{current_user.encrypted_password}";
    number_chatbox = 0;
    //cookie IM_geral
    if($.cookie("cookie_im"))
      cookie_im = JSON.parse($.cookie("cookie_im"));
    else
      cookie_im = JSON.parse('{"IM" : true, "IM_toggle":true}');

    $.cookie("cookie_im",JSON.stringify(cookie_im),{path : "/"});  
    function getCookie(){
      cookie_im = JSON.parse($.cookie("cookie_im"));
    }

    function setCookie(){
      $.cookie("cookie_im",JSON.stringify(cookie_im),{path : "/"});
    }

    //cookie IM_groups
    if($.cookie("cookie_groups"))
      cookie_groups = JSON.parse($.cookie("cookie_groups"));
    else
      cookie_groups = JSON.parse('{}');

    $.cookie("cookie_groups",JSON.stringify(cookie_groups),{path : "/"});
    function getCookieGroups(){
      cookie_groups = JSON.parse($.cookie("cookie_groups"));
    }

    function setCookieGroups(){
      $.cookie("cookie_groups",JSON.stringify(cookie_groups),{path : "/"});
    }

    converse.initialize({
      prebind: false,
      // jid: data.jid,
      // sid: data.sid,
      // rid: data.rid,
      debug: false,
      auto_list_rooms: false,
      auto_subscribe: false,
      bosh_service_url: 'http://'+ xmpp_ip +':' + xmpp_port + '/http-bind/',
      hide_muc_server: false,
      i18n: locales["pt_BR"], // Refer to ./locale/locales.js to see which locales are supported
      allow_contact_requests: false,
      show_only_online_users: false,
      show_controlbox_by_default: false,
      xhr_user_search: false
    });
    //show
    $(document).ready(function(e){
      if(cookie_im.IM)
        con.showControlBox();
      if(cookie_im.Groups){
        $("#chatpanel")[0].style.display = "none";
        setTimeout(function(e){
          $("#order").click();
          $("#chatpanel")[0].style.display = "block";
        },1700);
      }
    });
    // triger isShow
    $(function(){
      $('#toggle-controlbox').click(function(e){
        if(cookie_im.IM){
          cookie_im.IM=false;
          setCookie();
        }
        else{
          cookie_im.IM=true;
          setCookie();
          con.showControlBox();
        }
      });
      //logout
      $('.mysolar_top_link.logout').click(function(e) {
        try {
          $(".xmpp-status-menu .unavailable").click();
          con.xmppstatus.save({'status': 'online'});
          delete con;
          con = null;
          setTimeout(function(){location.href="#{logout_path}";},250); // espera 250 milesegundos para redirecionar para a pagina de logout acho que este é um tempo razoável.
          e.preventDefault();
        } catch(err) {}
      });
      //IM
      // Synchronizing user
      $("#synchronize").click(function(){
        $.get($(this).data("url"), function(data){
          if (typeof(data.message) != "undefined" && typeof(data.type_message) != "undefined")
            flash_message(data.message, data.type_message);
          if (typeof(data.nick) != "undefined")
            $("#mysolar_top_user_nick").html(data.nick);
          if (typeof(data.name) != "undefined")
            $("#mysolar_top_submenu_username").html(data.name);
          if (typeof(data.email) != "undefined")
            $("#mysolar_top_submenu_useremail").html(data.email);
        }).error(function(data){
          var data = $.parseJSON(data.responseText);
          if (typeof(data.alert) != "undefined")
            flash_message(data.alert, "alert");
        });
      });

      $($("#page_title h1").children("span")[0]).removeAttr("title")
    });
