<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= stylesheet_link_tag "solar.css" %>
    <%= stylesheet_link_tag "calendar.css" %>
    <%= stylesheet_link_tag "security.css" %>
    <%= stylesheet_link_tag "div_layout.css" %>
    <%= javascript_include_tag "jquery-1.4.4.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
    <%= javascript_include_tag "jquery.ui.datepicker-en-GB" %>
    <%= javascript_include_tag "jquery.ui.datepicker-pt-BR" %>
    <%= javascript_include_tag "chat.js" %>
    <%= javascript_include_tag "lesson.js" %>
    <%= javascript_include_tag "user_form.js" %>
    <%= javascript_include_tag "mysolar.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag "jquery.maskedinput-1.2.2"%>
    <%= csrf_meta_tag %>
  </head>
  <body style="overflow-x: hidden; overflow-Y: hidden;">

      <iframe id="frame_content" class="frame_navegation" src="/user_sessions/new" frameborder="0"></iframe>

      <!-- Div a ser manipulada para apresentação de aulas -->
      <div id="lesson_external_div">&nbsp;</div>

      <%#show_style = session[:opened_lesson].nil? ? " style='display:none' " : "" %>
      <!--<div id="lesson_header" style="display:none" > --><!-- class="lesson_area"-->
        <%#= render '/lessons/show.erb' %>
      <!--</div>-->

      

  </body>
</html>

<% # abre aula caso alguma tenha sido clicada - identico a chamada em view\lessons\list %>
<% lesson_opened = opened_lesson %>
<%  if !lesson_opened.nil? %>
  <script type="text/javascript">
    function lesson_load() {
      show_lesson('<%=lesson_opened.address%>');
    }
    window.onload = lesson_load;
  </script>
<% end %>