!!!
%html{style: "overflow-x: hidden; overflow-y: hidden; overflow: hidden"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Solar"
    = stylesheet_link_tag "misc/div_layout", :media => "all"
    = stylesheet_link_tag "fonts/fonts", :media => "all"
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "lessons"
    = csrf_meta_tags
    = yield(:head)
    
  %body
    %head
      / Componentes utilizados no IM 
      = javascript_include_tag "converse/components/strophe/strophe" 
      = javascript_include_tag "converse/components/strophe.roster/index" 
      = javascript_include_tag "converse/components/strophe.muc/index" 
      = javascript_include_tag "converse/components/strophe.vcard/index" 
      = javascript_include_tag "converse/components/strophe.disco/index" 
      = javascript_include_tag "converse/components/underscore/underscore" 
      = javascript_include_tag "converse/components/backbone/backbone" 
      = javascript_include_tag "converse/components/backbone.localStorage/backbone.localStorage" 
      = javascript_include_tag "converse/components/tinysort/src/jquery.tinysort" 
      = javascript_include_tag "converse/components/jed/jed" 
      = javascript_include_tag "converse/locale/en/LC_MESSAGES/en" 
      = javascript_include_tag "converse/locale/pt_BR/LC_MESSAGES/pt_BR" 
      = javascript_include_tag "converse/converse" 
      = stylesheet_link_tag "converse/converse" 

    %iframe.frame_navigation#frame_content{src: url_for(:home), frameborder: 0}
    / Div a ser manipulada para apresentação de aulas
    #lesson_external_div
    / IM - Bate-Papo
    
    -if current_user
      #chatpanel
        #collective-xmpp-chat-data{:style => "display: none"}
        #toggle-controlbox
          %a.chat.toggle-online-users{ :href => "#" }
            %strong.conn-feedback
              Bate-Papo

      / Inicialização do IM
      :javascript
        imgOn = "#{image_path('IM_online_Icon.png')}";
        imgAway = "#{image_path('IM_away_Icon.png')}";
        imgDnd = "#{image_path('IM_dnd_Icon.png')}";
        imgOff = "#{image_path('IM_offline_Icon.png')}";
        imgMessage = "#{image_path('IM_message_Icon.png')}";
        xmpp_username = "#{current_user.username}";
        xmpp_ip = "#{@ip}";
        xmpp_dominio = "#{@dominio}";
        xmpp_port = "#{@porta}";
        xmpp_pass = "#{current_user.encrypted_password}";
        number_chatbox = 0;
        var con;

        converse.initialize({
          prebind: false,
          // jid: data.jid,
          // sid: data.sid,
          // rid: data.rid,
          debug: false,
          auto_list_rooms: false,
          auto_subscribe: false,
          bosh_service_url: 'http://'+ xmpp_ip +':' + xmpp_port + '/http-bind/',
          hide_muc_server: false,
          i18n: locales["pt_BR"], // Refer to ./locale/locales.js to see which locales are supported
          allow_contact_requests: false,
          show_only_online_users: false,
          show_controlbox_by_default: true,
          xhr_user_search: false
        });
        //$(".xmpp-status-menu .online").click();
        //$("#frame_content").contents().find(".xmpp-status-menu .online").click();
        function closeIM(){ 
          $(".xmpp-status-menu .unavailable").click();
          im=$("#chatpanel")[0];
          im.style.display="none";
          document.body.removeChild(im);
          delete con;
          con=null;
        }    