<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= favicon_link_tag '/images/favicon.ico' %>

    <%= stylesheet_link_tag "application.css" %>
    <%= javascript_include_tag "application.js" %>
    
    <%= csrf_meta_tag %>
  </head>
  <body style="overflow-x: hidden; overflow-Y: hidden; overflow:hidden;">

      <iframe id="frame_content" class="frame_navegation" src="<%= url_for :home %>" frameborder="0"></iframe>

      <!-- Div a ser manipulada para apresentação de aulas -->
      <div id="lesson_external_div">&nbsp;</div>
  </body>
</html>
