<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= stylesheet_link_tag "solar.css" %>
    <%= stylesheet_link_tag "calendar.css" %>
    <%= stylesheet_link_tag "security.css" %>
    <%= stylesheet_link_tag "div_layout.css" %>
    <%= javascript_include_tag "jquery-1.4.4.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
    <%= javascript_include_tag "jquery.ui.datepicker-en-GB" %>
    <%= javascript_include_tag "jquery.ui.datepicker-pt-BR" %>
    <%= javascript_include_tag "chat.js" %>
    <%= javascript_include_tag "lesson.js.erb" %>
    <%= javascript_include_tag "user_form.js" %>
    <%= javascript_include_tag "mysolar.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag "jquery.maskedinput-1.2.2"%>
    <%= csrf_meta_tag %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25482431-1']);
      _gaq.push(['_setDomainName', '.virtual.ufc.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>


  <%= yield %>


</html>
