!!!
%html{lang: I18n.locale.to_s.gsub('_', '-')}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : 'Solar'

    = javascript_include_tag 'jquery', 'jquery.cookie', 'jquery.dropdown', 'lessons', 'breadcrumb'

    = stylesheet_link_tag 'themes/theme_blue', 'jquery.dropdown.css'
    = stylesheet_link_tag 'misc/div_layout', 'fonts/fonts', media: 'all'

    = csrf_meta_tags

    = yield(:head)

  %body
    = yield
