<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= favicon_link_tag '/images/favicon.ico' %>
    <%= stylesheet_link_tag "login/login" %>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="login_wrapper">

      <%= yield %>

      <div id="login_footer_push"></div>
      <%= render '/user_sessions/footer' %>
    </div>
  </body>

</html>
