<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= stylesheet_link_tag "solar.css" %>
    <%= stylesheet_link_tag "login.css" %>
    <%= javascript_include_tag "jquery-1.4.4.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.6.js" %>
    <%= javascript_include_tag "chat.js" %>
    <%= javascript_include_tag "user_form.js" %>
    <%= javascript_include_tag "mysolar.js" %>
    <%= javascript_include_tag "jquery.maskedinput-1.2.2"%>
    <%= csrf_meta_tag %>



    <script>
      jQuery(function($){
        $("#cpf").mask("999.999.999-99");
        $("#telefone").mask("(99)9999-9999");
        $("#celular").mask("(99)9999-9999");
        $("#cep").mask("99999-999");
        // layout dos botoes
        solar_button_width = $(".solar_button").outerWidth();
	$(".solar_button").before("<div class='solar_button_arrow'></div>");
	$(".solar_button_arrow").css('width',solar_button_width);
      });
       </script>


  </head>
  <body>
      <%= yield %>
    </body>

</html>