!!!
%html{lang: I18n.locale.to_s.gsub('_', '-')}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:property => "creator.productor", :content => "http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/84732"}
    %title= content_for?(:title) ? yield(:title) : "Solar"
    = stylesheet_link_tag "login", :media => "all"
    = stylesheet_link_tag "fancybox"
    /[if lte IE 7]
      = javascript_include_tag 'lte-ie7'
      = stylesheet_link_tag "misc/ie7"

    = javascript_include_tag "jquery", "jquery-ui", "login"

    /[if lt IE 9]
      = javascript_include_tag 'ie-warning'

    = javascript_include_tag "registrations"

    /[if lt IE 9]
      = javascript_include_tag "respond.min"

    = csrf_meta_tags
    = yield(:head)
    = raw YAML::load(File.open('config/facebook.yml'))['tags'].join
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=#{YAML::load(File.open('config/facebook.yml'))['appid']}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #login_wrapper
      = yield
      #login_footer_push
      = render '/user_sessions/footer'

    //= javascript_include_tag "//barra.brasil.gov.br/barra.js"
    %script{:type => "text/javascript", :src => "http://barra.brasil.gov.br/barra.js", :defer=>"defer"}
- selected = "#{I18n.locale}"

:javascript

  $(function() {
    $('.link-barra').attr('target','_blank');
    $('.logo-vlibras').attr('target','_blank');
    var text_vlibras = $('.logo-vlibras').attr("aria-label"); 
    $(".logo-vlibras").attr('aria-label', text_vlibras+" #{t(:new_window)}");

    $('.link-barra').each(function(){ 
      
      var txt_link = $(this).text(); 
      var text_link = txt_link.toLowerCase().replace(/[áàâã]/g,'a').replace(/[éèê]/g,'e').replace(/[óòôõ]/g,'o').replace(/[úùû]/g,'u').replace(/[ç]/g,'c').replace(/[ ]/g,'_'); 
      
      if("#{selected}"=='en_US'){
        switch (text_link) {
          case "brasil":
            txt_link = "#{t(:brasil)}";
            $(this).html("#{t(:brasil)}");
            break;
          case "servicos":
            txt_link = "#{t(:services)}";
            $(this).html("#{t(:services)}");
            break;
          case "participe":
            txt_link = "#{t(:participate)}";
            $(this).html("#{t(:participate)}");
            break;
          case "acesso_a_informacao":
            txt_link = "#{t(:access)}";
            $(this).html("#{t(:access)}");
            break;
          case "legislacao":
            txt_link = "#{t(:legislation)}";
            $(this).html("#{t(:legislation)}");
            break;
          case "canais":
            txt_link = "#{t(:channel)}";
            $(this).html("#{t(:channel)}");
            break;
        } 
      }
      $(this).attr('aria-label', txt_link+ " #{t(:new_window)}");
    });
   
  });  